Repository DIYgod/RSSHub, changes with the labels that .github/labeler.yml gives for each.
All labels: Route: v2, dependencies

docs: fix docs
  website/docs/routes/social-media.mdx
Labels: none

fix: add cookieJar
  lib/v2/yuque/book.js
Labels: Route: v2

Update lib/v2/picnob/user.js
  lib/v2/picnob/user.js
Labels: Route: v2

fix(route): fix Yuque book route (#14022)
  lib/v2/yuque/book.js
  lib/v2/yuque/utils.js
Labels: Route: v2

fix(route): picnob (#13986)
  lib/v2/picnob/maintainer.js
  lib/v2/picnob/templates/desc.art
  lib/v2/picnob/user.js
  lib/v2/picnob/utils.js
Labels: Route: v2

Update topics.js
  lib/v2/apnews/topics.js
Labels: Route: v2

chore: bring back mdast formatter
  package.json
  pnpm-lock.yaml
  website/docs/.format/chineseFormat.mjs
  website/docs/.format/format.mjs
  website/docs/.format/handle/heading.mjs
  website/docs/.format/mdxFormat.mjs
  website/docs/.format/rsshub-heading-id.mjs
  website/docs/.format/rsshub-no-dupe-attrs.mjs
  website/docs/.format/rsshub-route-level.mjs
Labels: dependencies

.github/labeler.yml:

'Route: v1':
- changed-files:
  - any-glob-to-any-file: ['lib/router.js']
  - all-globs-to-any-file: ['lib/routes/**/*.js', '!lib/routes/index.js']

'Route: v2':
- changed-files:
  - any-glob-to-any-file: ['lib/v2/**/*.js']

core enhancement:
- changed-files:
  - any-glob-to-any-file: ['lib/routes/index.js']
  - all-globs-to-any-file: ['lib/**', '!lib/radar-rules.js', '!/lib/config.js', '!lib/router.js', '!lib/routes/**', '!lib/v2/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['package.json', 'pnpm-lock.yaml', 'yarn.lock']
