Repository DIYgod/RSSHub, changes with the labels that .github/labeler.yml gives for each.
All labels: Route, dependencies

.github/labeler.yml:

'Route: deprecated':
- changed-files:
  - any-glob-to-any-file: ['lib/router.js']
  - all-globs-to-any-file: ['lib/routes-deprecated/**/*.js', '!lib/routes-deprecated/index.js']

'Route':
- changed-files:
  - any-glob-to-any-file: ['lib/routes/**/*.js']

core enhancement:
- changed-files:
  - any-glob-to-any-file: ['lib/routes/index.ts']
  - all-globs-to-any-file: ['lib/**', '!lib/config.ts', '!lib/router.js', '!lib/routes/**', '!lib/routes-deprecated/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['package.json', 'pnpm-lock.yaml', 'yarn.lock']

fix(route): nmc weatheralarm
  lib/router.js
  lib/routes-deprecated/weatheralarm/index.js
  lib/routes/nmc/maintainer.js
  lib/routes/nmc/radar.js
  lib/routes/nmc/router.js
  lib/routes/nmc/weatheralarm.js
  website/docs/routes/forecast.mdx
Labels: Route

fix(route): migrate nmc weatheralarm (#14624)
  lib/router.js
  lib/routes-deprecated/weatheralarm/index.js
  lib/routes/nmc/maintainer.js
  lib/routes/nmc/radar.js
  lib/routes/nmc/router.js
  lib/routes/nmc/weatheralarm.js
  website/docs/routes/forecast.mdx
Labels: Route

chore: remove useless koa dependencies
  package.json
  pnpm-lock.yaml
Labels: dependencies

Update notifications.js
  lib/routes/github/notifications.js
Labels: Route

camelCase
  lib/routes/github/notifications.js
Labels: Route

feat: add watasuke.net
  lib/routes/watasuke/blog.js
  lib/routes/watasuke/maintainer.js
  lib/routes/watasuke/radar.js
  lib/routes/watasuke/router.js
Labels: Route

feat(route): Rewrite the API URL to original URL (#14617)
  lib/routes/github/notifications.js
Labels: Route

fix: use path param with regex for npm package feed
  lib/routes/npm/package.js
  lib/routes/npm/router.js
Labels: Route

feat(route): add 中国国家图书馆读者云平台 (#14620)
  lib/routes/nlc/maintainer.js
  lib/routes/nlc/radar.js
  lib/routes/nlc/read.js
  lib/routes/nlc/router.js
  lib/routes/nlc/templates/description.art
  website/docs/routes/other.mdx
Labels: Route

feat: add mdx docs
  website/docs/routes/blog.mdx
Labels: none

feat: update universties
  docs/university.md
  lib/v2/cqmu/yjszs.js
  lib/v2/gxu/yjsc/index.js
  lib/v2/imu/gs.js
  lib/v2/lcu/radar.js
  lib/v2/lcu/router.js
  lib/v2/lcu/yz.js
  lib/v2/ncst/yjsxy.js
  lib/v2/qut/maintainer.js
  lib/v2/qut/radar.js
  lib/v2/qut/router.js
  lib/v2/qut/yjsh.js
  lib/v2/tjutcm/yjsy.js
  lib/v2/wmu/yjsy.js
  lib/v2/xzhmu/yjs/index.js
Labels: none

fix(route): iDaily每日环球视野
  lib/router.js
  lib/routes-deprecated/idaily/index.js
  lib/routes/idaily/index.js
  lib/routes/idaily/maintainer.js
  lib/routes/idaily/radar.js
  lib/routes/idaily/router.js
  lib/routes/idaily/templates/description.art
  website/docs/routes/new-media.mdx
Labels: Route

feat: get data from og:description
  lib/routes/watasuke/blog.js
Labels: Route

refactor: use map
  lib/routes/npm/package.js
Labels: Route

feat(route): add bilibili UP 主点赞视频 (#14596)
  lib/routes/bilibili/like.js
  lib/routes/bilibili/maintainer.js
  lib/routes/bilibili/radar.js
  lib/routes/bilibili/router.js
  website/docs/routes/social-media.mdx
Labels: Route

feat: add feed items
  lib/routes/watasuke/blog.js
Labels: Route

fix: sentry import
  lib/middleware/sentry.ts
Labels: none

fix: use path param with regex for npm package feed (#14626)
  lib/routes/npm/package.js
  lib/routes/npm/router.js
Labels: Route

fix re(route) fix radio canada by fixinggular expression to match correct data
  lib/routes/radio-canada/latest.js
Labels: Route

fix(route): fix radio canada by fixing regular expression to match correct data (#14630)
  lib/routes/radio-canada/latest.js
Labels: Route

feat: update universties
  docs/university.md
  lib/v2/ahu/graschool.js
  lib/v2/ccsfu/yjs.js
  lib/v2/gznu/yjsc.js
  lib/v2/sdutcm/yjs.js
  lib/v2/sjtu/yzb.js
  lib/v2/xbmu/yz.js
Labels: none

feat: new home page
  lib/errors/index.ts
  lib/routes/index.ts
  lib/routes/index.tsx
  lib/utils/debug-info.ts
  lib/utils/git-hash.ts
  lib/views/index.tsx
  lib/views/welcome.art
  tailwind.config.js
Labels: none

feat: replace jest with vitest
  .github/workflows/test.yml
  lib/app.test.ts
  lib/config.test.ts
  lib/config.ts
  lib/errors/index.test.ts
  lib/middleware/access-control.test.ts
  lib/middleware/anti-hotlink.test.ts
  lib/middleware/cache.test.ts
  lib/middleware/debug.test.ts
  lib/middleware/filter-engine.test.ts
  lib/middleware/header.test.ts
  lib/middleware/parameter.test.ts
  lib/middleware/template.test.ts
  lib/pkg.test.ts
  lib/routes.test.ts
  lib/routes.ts
  lib/utils/cache.test.ts
  lib/utils/common-config.test.ts
  lib/utils/common-utils.test.ts
  lib/utils/got.test.ts
  lib/utils/helpers.test.ts
  lib/utils/md5.test.ts
  lib/utils/parse-date.test.ts
  lib/utils/proxy/pac-proxy.test.ts
  lib/utils/proxy/unify-proxy.test.ts
  lib/utils/puppeteer-utils.test.ts
  lib/utils/puppeteer.test.ts
  lib/utils/rand-user-agent.test.ts
  lib/utils/request-wrapper.test.ts
  lib/utils/rss-parser.test.ts
  lib/utils/timezone.test.ts
  lib/utils/valid-host.test.ts
  lib/utils/wait.test.ts
  lib/utils/wechat-mp.test.ts
  package.json
  pnpm-lock.yaml
  test/.eslintrc
  vitest.config.ts
Labels: dependencies

fix: test error
  scripts/workflow/build-radar.js
  vitest.config.ts
Labels: none

add 国外主机测评
  lib/routes/zhujiceping/maintainer.js
  lib/routes/zhujiceping/radar.js
  lib/routes/zhujiceping/router.js
  lib/routes/zhujiceping/rss.js
  website/docs/routes/blog.mdx
Labels: Route

fix: only send access token to MASTODON_API_HOST
  lib/routes/mastodon/utils.js
Labels: Route

fix: use access token for all Mastodon routes
  lib/routes/mastodon/timeline-local.js
  lib/routes/mastodon/timeline-remote.js
  lib/routes/mastodon/utils.js
Labels: Route

fix(route): 百度贴吧
  lib/routes/baidu/radar.js
  lib/routes/baidu/tieba/forum.js
  lib/routes/baidu/tieba/post.js
Labels: Route

fix: test error
  scripts/workflow/build-maintainer.js
  vitest.config.ts
Labels: none

feat(route): add 国外主机测评 (#14633)
  lib/routes/zhujiceping/maintainer.js
  lib/routes/zhujiceping/radar.js
  lib/routes/zhujiceping/router.js
  lib/routes/zhujiceping/rss.js
  website/docs/routes/blog.mdx
Labels: Route

fix: test error
  lib/routes.ts
Labels: none

fix(route/weibo/user): querystring
  lib/routes/weibo/user.js
Labels: Route

Revert "fix: test error"
  lib/routes.ts
Labels: none

feat: change default vitest reporter
  package.json
  vitest.config.ts
Labels: dependencies

fix(route): 百度贴吧 (#14635)
  lib/routes/baidu/radar.js
  lib/routes/baidu/tieba/forum.js
  lib/routes/baidu/tieba/post.js
Labels: Route

Update lib/routes/weibo/user.js
  lib/routes/weibo/user.js
Labels: Route

fix: use access token for all Mastodon routes (#14634)
  lib/routes/mastodon/timeline-local.js
  lib/routes/mastodon/timeline-remote.js
  lib/routes/mastodon/utils.js
Labels: Route

fix(route/weibo/user): querystring (#14636)
  lib/routes/weibo/user.js
Labels: Route

feat: pure esm and typescript routes
  .eslintrc.json
  lib/app.ts
  lib/errors/index.ts
  lib/middleware/template.ts
  lib/routes.ts
  lib/routes/test/index.ts
  lib/routes/test/router.ts
  lib/utils/helpers.ts
  lib/utils/rand-user-agent.ts
  package.json
Labels: dependencies

fix(route/weibo/user): all pinned weibo get removed if any is too old
  lib/routes/weibo/user.js
Labels: Route
