Repository DIYgod/RSSHub, changes with the labels that .github/labeler.yml gives for each.
All labels: Route, dependencies

.github/labeler.yml:

'Route: deprecated':
- changed-files:
  - any-glob-to-any-file: ['lib/router.js']
  - all-globs-to-any-file: ['lib/routes-deprecated/**/*.js', '!lib/routes-deprecated/index.js']

'Route':
- changed-files:
  - any-glob-to-any-file: ['lib/routes/**/*.js']

core enhancement:
- changed-files:
  - any-glob-to-any-file: ['lib/routes/index.ts']
  - all-globs-to-any-file: ['lib/**', '!lib/config.ts', '!lib/router.js', '!lib/routes/**', '!lib/routes-deprecated/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['package.json', 'pnpm-lock.yaml', 'yarn.lock']

feat: remove type module
  package.json
Labels: dependencies

feat: rename routes.ts to init-routes.ts
  lib/app.ts
  lib/init-routes.test.ts
  lib/init-routes.ts
Labels: none

fix: use :param{.+} instead of :param+ for hono
  lib/routes/cas/router.js
  lib/routes/github/router.js
  lib/routes/gov/router.js
  lib/routes/qiyoujiage/router.js
  lib/routes/tfc-taiwan/router.js
  lib/routes/xjtu/router.js
Labels: Route

feat: rename js to ts
  lib/routes/bilibili/like.ts
  lib/routes/nlc/maintainer.ts
  lib/routes/nlc/radar.ts
  lib/routes/nlc/read.ts
  lib/routes/nlc/router.ts
  lib/routes/nmc/maintainer.ts
  lib/routes/nmc/radar.ts
  lib/routes/nmc/router.ts
  lib/routes/nmc/weatheralarm.ts
  lib/routes/zhujiceping/maintainer.ts
  lib/routes/zhujiceping/radar.ts
  lib/routes/zhujiceping/router.ts
  lib/routes/zhujiceping/rss.ts
Labels: none

fix: use two separate routes to simulate :param* in hono
  lib/router.js
  lib/routes/8kcos/router.js
  lib/routes/abc/router.js
  lib/routes/asiantolick/router.js
  lib/routes/bnu/router.js
  lib/routes/buaa/router.js
  lib/routes/cfmmc/router.js
  lib/routes/chinawriter/router.js
  lib/routes/cmde/router.js
  lib/routes/cs/router.js
  lib/routes/getitfree/router.js
  lib/routes/gov/router.js
  lib/routes/iqilu/router.js
  lib/routes/jiemian/router.js
  lib/routes/kantarworldpanel/router.js
  lib/routes/liulinblog/router.js
  lib/routes/logclub/router.js
  lib/routes/m4/router.js
  lib/routes/mail/router.js
  lib/routes/mydrivers/router.js
  lib/routes/ncc-cma/router.js
  lib/routes/papers/router.js
  lib/routes/people/router.js
  lib/routes/pnas/router.js
  lib/routes/qianp/router.js
  lib/routes/rfi/router.js
  lib/routes/stheadline/router.js
  lib/routes/surfshark/router.js
  lib/routes/toodaylab/router.js
  lib/routes/tradingview/router.js
  lib/routes/whu/router.js
  lib/routes/wmc-bj/router.js
  lib/routes/worldjournal/router.js
  lib/routes/xmnn/router.js
Labels: Route

feat: update script
  package.json
Labels: dependencies

fix: use {} instead of () for regex in hono
  lib/router.js
  lib/routes/discuz/router.js
  lib/routes/gov/router.js
Labels: Route

docs: js to ts
  website/docs/api.md
  website/docs/install/config.md
  website/docs/joinus/advanced/advanced-feed.md
  website/docs/joinus/advanced/script-standard.md
  website/docs/joinus/advanced/use-cache.md
  website/docs/joinus/new-radar.md
  website/docs/joinus/new-rss/add-docs.md
  website/docs/joinus/new-rss/before-start.md
  website/docs/joinus/new-rss/start-code.md
  website/docs/joinus/new-rss/submit-route.md
  website/docs/routes/programming.mdx
  website/i18n/zh/docusaurus-plugin-content-docs/current/api.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/faq.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/config.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/advanced/advanced-feed.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/advanced/script-standard.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/advanced/use-cache.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/new-radar.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/new-rss/add-docs.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/new-rss/before-start.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/new-rss/start-code.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/new-rss/submit-route.md
Labels: none

fix: test error
  lib/init-routes.ts
Labels: none

fix: test error
  lib/init-routes.ts
Labels: none

fix: revert changes to lib/router.js as it's still using koa router
  lib/router.js
Labels: none

fix: format
  lib/routes/ymgal/article.ts
  website/docs/routes/government.mdx
  website/docs/routes/other.mdx
Labels: none

fix: ssrf
  lib/routes/mastodon/acct.ts
  lib/routes/zjol/paper.ts
Labels: none

docs: add twitter
  README.md
  lib/views/index.tsx
  website/docs/README.md
  website/docusaurus.config.ts
  website/i18n/zh/docusaurus-plugin-content-docs/current/README.md
Labels: none

docs: readme add twitter
  README.md
Labels: none

docs: add sponsors graph
  README.md
  website/docs/support/README.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/support/README.md
Labels: none

Revert "fix: use two separate routes to simulate :param* in hono"
  lib/routes/8kcos/router.ts
  lib/routes/abc/router.ts
  lib/routes/asiantolick/router.ts
  lib/routes/bnu/router.ts
  lib/routes/buaa/router.ts
  lib/routes/cfmmc/router.ts
  lib/routes/chinawriter/router.ts
  lib/routes/cmde/router.ts
  lib/routes/cs/router.ts
  lib/routes/getitfree/router.ts
  lib/routes/gov/router.ts
  lib/routes/iqilu/router.ts
  lib/routes/jiemian/router.ts
  lib/routes/kantarworldpanel/router.ts
  lib/routes/liulinblog/router.ts
  lib/routes/logclub/router.ts
  lib/routes/m4/router.ts
  lib/routes/mail/router.ts
  lib/routes/mydrivers/router.ts
  lib/routes/ncc-cma/router.ts
  lib/routes/papers/router.ts
  lib/routes/people/router.ts
  lib/routes/pnas/router.ts
  lib/routes/qianp/router.ts
  lib/routes/rfi/router.ts
  lib/routes/stheadline/router.ts
  lib/routes/surfshark/router.ts
  lib/routes/toodaylab/router.ts
  lib/routes/tradingview/router.ts
  lib/routes/whu/router.ts
  lib/routes/wmc-bj/router.ts
  lib/routes/worldjournal/router.ts
  lib/routes/xmnn/router.ts
Labels: none

feat: expose server URL in the CLI
  lib/index.ts
  lib/utils/common-utils.test.ts
  lib/utils/common-utils.ts
Labels: none

fix(route): cast
  lib/routes/cast/index.ts
  lib/routes/cast/radar.ts
  lib/routes/cast/router.ts
  website/docs/routes/government.mdx
Labels: none

Update InstanceList.tsx
  website/src/components/InstanceList.tsx
Labels: none

feat: add configed host to mastodon allow list
  lib/routes/mastodon/utils.ts
Labels: none

fix: req param typo
  lib/routes/ciweimao/chapter.ts
  lib/routes/hbooker/chapter.ts
  lib/routes/rsshub/media.ts
  lib/routes/sfacg/novel-chapter.ts
  lib/routes/wmpvp/index.ts
Labels: none

docs: Update InstanceList.tsx (#14650)
  website/src/components/InstanceList.tsx
Labels: none

style: use arraw function
  lib/utils/common-utils.ts
Labels: none

feat: expose server URLs in the CLI (#14646)
  lib/index.ts
  lib/utils/common-utils.test.ts
  lib/utils/common-utils.ts
Labels: none

fix(route): 兼容外链及视频页面特殊dom结构
  lib/routes/cast/index.ts
Labels: none

feat: remove MEDIA_PROXY_KEY and internal media proxy
  lib/config.ts
  lib/routes/rsshub/maintainer.ts
  lib/routes/rsshub/media.ts
  lib/routes/rsshub/router.ts
  lib/routes/telegram/channel.ts
  lib/routes/telegram/tglib/channel.ts
  lib/routes/telegram/tglib/client.ts
  lib/routes/weibo/timeline.ts
  website/docs/install/config.md
  website/docs/routes/other.mdx
  website/docs/routes/social-media.mdx
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/config.md
Labels: none

docs: 补充文档
  website/docs/routes/government.mdx
Labels: none

chore: remove unused dependency
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix(route/weibo/user): remove all pinned weibo if any is too old (#14637)
  lib/routes/weibo/user.ts
Labels: none

fix: add type exports for got
  lib/utils/got.ts
Labels: none

fix: use built in re-export
  lib/routes/cast/index.ts
Labels: none

docs: update output format
  website/docs/joinus/advanced/debug.md
  website/docs/parameter.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/advanced/debug.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/parameter.md
Labels: none

fix(route): 0818tuan
  lib/routes/0818tuan/index.ts
Labels: none

docs: update output format (#14653)
  website/docs/joinus/advanced/debug.md
  website/docs/parameter.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/advanced/debug.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/parameter.md
Labels: none

fix(route): 0818tuan (#14654)
  lib/routes/0818tuan/index.ts
Labels: none

chore: fix pnpm install
  pnpm-lock.yaml
Labels: dependencies

chore: fix pnpm install
  pnpm-lock.yaml
Labels: dependencies

chore: fix pnpm install
  pnpm-lock.yaml
Labels: dependencies

chore: fix pnpm install
  pnpm-lock.yaml
Labels: dependencies
