Repository DIYgod/RSSHub, pull requests merged in 2021-03, with the labels that each got.

#6940 feat(route): add logseq changelog
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/logseq/changelog.js
Labels: Auto: Route Test Complete

#6953 feat(route): add 少女前线新闻 & 公告
  docs/game.md
  lib/router.js
  lib/routes/gf-cn/news.js
Labels: Auto: Route Test Complete

#6975 feat(route): add 全球化智库
  docs/new-media.md
  lib/router.js
  lib/routes/ccg/index.js
Labels: Auto: Route Test Complete

#6985 feat(route): add trakt collection
  assets/radar-rules.js
  docs/en/multimedia.md
  docs/multimedia.md
  lib/router.js
  lib/routes/trakt/collection.js
Labels: Auto: Route Test Complete

#6990 feat(route): add bioone featured articles
  docs/en/journal.md
  docs/journal.md
  lib/router.js
  lib/routes/bioone/featured.js
Labels: Auto: Route Test Complete

#7009 fix(route): furaffinity user
  docs/en/social-media.md
  docs/social-media.md
  lib/routes/furaffinity/user.js
Labels: Auto: Route Test Complete

#6997 feat(route): add elite babes
  docs/en/picture.md
  docs/picture.md
  lib/router.js
  lib/routes/elitebabes/index.js
  lib/routes/elitebabes/search.js
  lib/routes/elitebabes/utils.js
  lib/routes/elitebabes/videos.js
Labels: Auto: Route Test Complete

#7005 feat(route): add mit csail news
  docs/en/university.md
  docs/university.md
  lib/router.js
  lib/routes/universities/mit/csail/news.js
Labels: Auto: Route Test Complete

#7011 fix(route): 支持更多的知乎专栏url格式 和 Bug Fix
  assets/radar-rules.js
  lib/routes/zhihu/zhuanlan.js
Labels: Auto: Route Test Complete

#7010 feat(route): add 北京交通大学研究生院通知公告
  docs/en/university.md
  docs/university.md
  lib/router.js
  lib/routes/universities/bjtu/gs/index.js
Labels: Auto: Route Test Complete

#6969 feat(route): add 博客来网路书店
  docs/reading.md
  lib/router.js
  lib/routes/bookscomtw/newbooks.js
Labels: Auto: Route Test Complete

#7018 feat(radar): add Gcores radar rules
  assets/radar-rules.js
  docs/new-media.md
Labels: Auto: No Route Needed

#7022 feat(route): add NEW字幕组指定剧集
  docs/multimedia.md
  lib/router.js
  lib/routes/newzmz/view.js
Labels: Auto: Route Test Complete

#7058 fix(route): 知乎 收藏夹
  lib/routes/zhihu/collection.js
Labels: Auto: Route Test Complete

#7048 fix(route) : 场库 - 修改原网页地址 新增视频分类
  docs/multimedia.md
  lib/router.js
  lib/routes/changku/index.js
Labels: Auto: Route Test Complete

#7035 fix(route): AP News
  docs/new-media.md
  docs/traditional-media.md
  lib/routes/apnews/topics.js
Labels: Auto: Route Test Complete

#7025 feat(route): add shuax 项目
  docs/program-update.md
  lib/router.js
  lib/routes/shuax/project.js
Labels: Auto: Route Test Complete

#7094 chore(workflow): no longer testing under node 10.x
  .github/workflows/test.yml
Labels: Auto: No Route Needed

#7053 feat(route): add 深圳新闻网排行榜
  docs/new-media.md
  lib/router.js
  lib/routes/sznews/ranking.js
Labels: Auto: Route Test Complete

#7062 feat(route): add 吉林工商学院教务处
  docs/university.md
  lib/router.js
  lib/routes/universities/jlbtc/jwc.js
Labels: Auto: Route Test Complete

#7066 feat(route): add 全现在首页 & 话题 & 用户
  docs/new-media.md
  lib/router.js
  lib/routes/allnow/index.js
  lib/routes/allnow/tag.js
  lib/routes/allnow/user.js
Labels: Auto: Route Test Complete

#7070 feat(route): add babehub
  docs/en/picture.md
  docs/picture.md
  lib/router.js
  lib/routes/babehub/index.js
  lib/routes/babehub/search.js
  lib/routes/babehub/utils.js
Labels: Auto: Route Test Complete

#7088 fix(route): add pubDate for 中国教育考试网
  lib/routes/neea/index.js
Labels: Auto: Route Test Complete

#7079 feat(route): add 游讯网精彩推荐
  docs/game.md
  lib/router.js
  lib/routes/yxdown/recommend.js
Labels: Auto: Route Test Complete

#7084 fix(route): furaffinity search parameter
  lib/routes/furaffinity/search.js
Labels: Auto: Route Test Complete

#7093 fix(core): do not add optional pubdate when it is not available
  lib/middleware/template.js
Labels: Auto: No Route Needed

#7086 fix(docs): add socks5h in install docs
  docs/en/install/README.md
  docs/install/README.md
Labels: Auto: No Route Needed

#6967 feat(route): add 酷安热榜/头条
  docs/other.md
  lib/router.js
  lib/routes/coolapk/dyh.js
  lib/routes/coolapk/hot.js
  lib/routes/coolapk/huati.js
  lib/routes/coolapk/toutiao.js
  lib/routes/coolapk/tuwen.js
  lib/routes/coolapk/userDynamic.js
  lib/routes/coolapk/utils.js
Labels: Auto: Route Test Complete

#7096 fix(route): bjnews wrong pubDate
  lib/routes/bjnews/news.js
Labels: Auto: Route Test Complete

#7068 feat(route): add react-native-weekly
  docs/en/programming.md
  docs/programming.md
  lib/router.js
  lib/routes/react/react-native-weekly.js
Labels: Auto: Route Test Complete

#7127 fix(route): change juejin api host
  lib/routes/juejin/books.js
  lib/routes/juejin/category.js
  lib/routes/juejin/collection.js
  lib/routes/juejin/favorites.js
  lib/routes/juejin/posts.js
  lib/routes/juejin/tag.js
  lib/routes/juejin/trending.js
Labels: Auto: Route Test Complete

#7110 fix(route): 光谷社区重复帖子
  docs/bbs.md
  lib/router.js
  lib/routes/guanggoo/index.js
Labels: Auto: Route Test Complete

#7129 feat(route): add 歪脑读
  docs/new-media.md
  lib/router.js
  lib/routes/wainao/index.js
Labels: Auto: Route Test Complete

#7105 feat(route): search hacktivities
  docs/en/other.md
  lib/router.js
  lib/routes/hackerone/search.js
Labels: Auto: Route Test Complete

#7135 fix(route): 深影译站剧集类型
  docs/multimedia.md
  lib/router.js
Labels: Auto: Route Test Complete

#7136 fix(route): ifnews wrong pubDate
  lib/routes/ifnews/column.js
Labels: Auto: Route Test Complete

#7137 fix(route): yicai wrong pubDate
  lib/routes/yicai/brief.js
Labels: Auto: Route Test Complete

#7138 fix(route): 21caijing wrong pubDate
  lib/routes/21caijing/channel.js
Labels: Auto: Route Test Complete

#6931 feat: add 中国共产党新闻网 24 小时滚动新闻
  docs/traditional-media.md
  lib/router.js
  lib/routes/people/cpc/24h.js
Labels: Auto: Route Test Complete

#7083 feat : add 中国灵异网
  docs/bbs.md
  lib/router.js
  lib/routes/lingyi/index.js
Labels: Auto: Route Test Complete

#7098 feat(route): 中国橡胶网新闻资讯
  docs/new-media.md
  lib/router.js
  lib/routes/cria/news.js
Labels: Auto: Route Test Complete

#7156 fix: Update social-media.md (doc typo)
  docs/social-media.md
Labels: Auto: Route Test Complete

#7148 fix(route): change matataki api host
  lib/routes/matataki/site/posts/author.js
  lib/routes/matataki/site/posts/favorite.js
  lib/routes/matataki/site/posts/scoreranking.js
  lib/routes/matataki/site/posts/tag.js
  lib/routes/matataki/site/posts/timeranking.js
  lib/routes/matataki/site/posts/token.js
  lib/routes/matataki/utils/matataki-utils.js
Labels: Auto: Route Test Complete

#7111 refactor: replace opencc with simplecc-wasm
  docs/en/parameter.md
  docs/parameter.md
  lib/middleware/parameter.js
  package.json
  yarn.lock
Labels: Auto: No Route Needed, breaking change, core enhancement

#7177 fix: hexo next theme
  docs/blog.md
  docs/en/blog.md
  lib/routes/hexo/next.js
Labels: Auto: Route Test Complete

#7114 fix: 游戏葡萄获取文章全文
  docs/new-media.md
  lib/routes/gamegrape/index.js
Labels: Auto: Route Test Complete

#7121 feat: add ezone.hk
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/ezone/index.js
Labels: Auto: Route Test Complete

#7143 feat(route): Add route for Constitutional Court of Baden-Württemberg (Germany) (verfghbw)
  docs/en/government.md
  lib/router.js
  lib/routes/verfghbw/press.js
Labels: Auto: Route Test Complete

#7168 feat(route): add 集思录用户回复 & 主题
  docs/bbs.md
  lib/router.js
  lib/routes/jisilu/reply.js
  lib/routes/jisilu/topic.js
Labels: Auto: Route Test Complete

#7106 feat: 福州大学 Routers 添加全文获取
  docs/university.md
  lib/router.js
  lib/routes/universities/fzu/jxtz.js
  lib/routes/universities/fzu/news.js
  lib/routes/universities/fzu/zjjz.js
Labels: Auto: Route Test Complete

#7085 feat: add 鸟哥笔记首页
  docs/new-media.md
  lib/router.js
  lib/routes/niaogebiji/index.js
Labels: Auto: Route Test Complete

#7109 refactor: replace author of Matters with GraphQL
  docs/en/new-media.md
  docs/new-media.md
  lib/routes/matters/author.js
Labels: Auto: Route Test Complete

#7116 fix(route): latest of Matters & redirect hot to it
  assets/radar-rules.js
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/matters/hot.js
  lib/routes/matters/latest.js
Labels: Auto: Route Test Complete

#7131 feat: Add Liyuan Forums Support
  docs/bbs.md
  lib/router.js
  lib/routes/liyuan-forums/threads.js
Labels: Auto: Route Test Complete

#7251 fix(route): vol地址变更
  lib/routes/vol/lastupdate.js
Labels: Auto: Route Test Complete

#7153 fix(radar)(route): Bangumi & Radar rules
  assets/radar-rules.js
  docs/anime.md
  docs/bbs.md
Labels: Auto: Route Test Complete

#7150 feat(route): add dbaplus社群
  docs/programming.md
  lib/router.js
  lib/routes/dbaplus/tab.js
Labels: Auto: Route Test Complete

#7183 feat(route): add 新华社新闻
  docs/new-media.md
  lib/router.js
  lib/routes/news/whxw.js
Labels: Auto: Route Test Complete

#7192 fix(docs): 修改用 docker-compose 更新 rsshub 的文案，对新手更友好
  docs/en/install/README.md
  docs/install/README.md
Labels: Auto: No Route Needed
