Repository DIYgod/RSSHub, pull requests merged in 2021-09, with the labels that each got.

#8119 fix(route): shmtu jwc routes
  docs/university.md
  lib/routes/universities/shmtu/jwc.js
Labels: Auto: Route Test Complete

#8125 perf: lazyload sentry sdk for faster cold start speed
  lib/middleware/onerror.js
Labels: Auto: No Route Needed

#8137 feat(route): add 厦门大学航院
  docs/university.md
  lib/router.js
  lib/routes/universities/xmu/aero.js
Labels: Auto: Route Test Complete

#8139 fix(docs): fix the missing # in the university.md
  docs/university.md
Labels: Auto: No Route Needed

#8146 feat(route): add s-hentai
  docs/en/multimedia.md
  docs/multimedia.md
  lib/router.js
  lib/routes/s-hentai/index.js
Labels: Auto: Route Test Complete

#8145 fix(route): greasyfork link
  lib/routes/greasyfork/scripts.js
Labels: Auto: Route Test Complete

#8160 fix(route): 修复掘金文章详情获取
  lib/routes/juejin/utils.js
Labels: Auto: Route Test Complete

#8041 feat(route): add tid for vsearch of bilibili
  docs/social-media.md
  lib/router.js
  lib/routes/bilibili/vsearch.js
Labels: Auto: Route Test Complete

#8073 fix(docs): add 全现在首页
  docs/new-media.md
Labels: Auto: No Route Needed

#8071 fix(docs): update configuration document for bilibili
  docs/install/README.md
Labels: Auto: No Route Needed

#8074 feat(middleware): `brief` parameter
  docs/parameter.md
  lib/middleware/parameter.js
Labels: Auto: No Route Needed, Auto: Route Test Complete

#8141 fix(route): dapenti/tugua pubDate and author
  lib/routes/dapenti/utils.js
Labels: Auto: Route Test Complete

#8114 fix(route): typo in JavDB
  lib/routes/javdb/utils.js
Labels: Auto: Route Test Complete

#8103 chore(route): refactor the usage of pixiv token
  lib/routes/pixiv/bookmarks.js
  lib/routes/pixiv/illustfollow.js
  lib/routes/pixiv/ranking.js
  lib/routes/pixiv/search.js
  lib/routes/pixiv/token.js
  lib/routes/pixiv/user.js
Labels: Auto: Route Test Complete

#8069 fix(route): `pubDate` for `fontstory`
  lib/routes/fontstory/tw.js
Labels: Auto: Route Test Complete

#8056 fix(route): matters pubDate and API
  docs/new-media.md
  lib/routes/matters/author.js
  lib/routes/matters/latest.js
  lib/routes/matters/tags.js
Labels: Auto: Route Test Complete

#8058 chore(route): remove a broken and undocumented endpoint.
  lib/router.js
  lib/routes/matters/topics.js
Labels: Auto: Route Test Complete

#8142 fix(route): 全现在首页
  lib/routes/allnow/column.js
  lib/routes/allnow/index.js
  lib/routes/allnow/tag.js
  lib/routes/allnow/user.js
  lib/routes/allnow/utils.js
Labels: Auto: Route Test Complete

#8083 fix(route): netease
  lib/routes/netease/dy2.js
Labels: Auto: Route Test Complete

#8224 feat(core): first attempt to init script standard
  .github/workflows/build-assets.yml
  .gitignore
  assets/404.html
  assets/CNAME
  assets/index.html
  docs/.vuepress/nav/zh.js
  docs/joinus/script-standard.md
  docs/parameter.md
  lib/api_router.js
  lib/app.js
  lib/config.js
  lib/core_router.js
  lib/errors/RequestInProgress.js
  lib/errors/index.js
  lib/maintainer.js
  lib/middleware/cache.js
  lib/middleware/cache/index.js
  lib/middleware/cache/memory.js
  lib/middleware/cache/redis.js
  lib/middleware/load-on-demand.js
  lib/middleware/onerror.js
  lib/middleware/template.js
  lib/radar-rules.js
  lib/radar.js
  lib/router.js
  lib/routes/epicgames/router.js
  lib/utils/render.js
  lib/v2/epicgames/index.js
  lib/v2/epicgames/maintainer.js
  lib/v2/epicgames/router.js
  lib/v2/epicgames/supportedList.js
  lib/v2/furstar/archive.js
  lib/v2/furstar/artists.js
  lib/v2/furstar/index.js
  lib/v2/furstar/maintainer.js
  lib/v2/furstar/radar.js
  lib/v2/furstar/router.js
  lib/v2/furstar/templates/author.art
  lib/v2/furstar/templates/description.art
  lib/v2/furstar/utils.js
  lib/v2/test/index.js
  lib/v2/test/maintainer.js
  lib/v2/test/router.js
  lib/v2router.js
  lib/views/error.art
  package-lock.json
  package.json
  scripts/workflow/build-maintainer.js
  scripts/workflow/build-radar.js
  test/middleware/cache.js
  test/middleware/template.js
Labels: core enhancement, Auto: Route Test Complete

#7935 feat(route): jandan add 煎蛋动物园
  docs/picture.md
  lib/routes/jandan/pic.js
Labels: Auto: Route Test Complete

#8238 feat(route): add 論盡媒體 AllAboutMacau Media
  docs/new-media.md
  lib/v2/aamacau/index.js
  lib/v2/aamacau/maintainer.js
  lib/v2/aamacau/radar.js
  lib/v2/aamacau/router.js
Labels: Auto: Route Test Complete

#8185 fix(route): update url & fix a typo
  lib/routes/universities/njfu/jwc.js
Labels: Auto: Route Test Complete

#8212 fix(route): 修复IMAP邮箱环境变量命名
  docs/en/install/README.md
  docs/install/README.md
  lib/routes/mail/imap.js
Labels: Auto: Route Test Complete

#8217 fix(route): ABC News
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/abc/documentId.js
  lib/routes/abc/id.js
  lib/routes/abc/index.js
Labels: Auto: Route Test Complete

#8235 fix(route): fix URL for THU
  lib/routes/universities/thu/index.js
Labels: Auto: Route Test Complete

#8237 feat(route): 添加 “The Ring of Wonder 首页更新”的route以及文档
  docs/bbs.md
  lib/v2/trow/maintainer.js
  lib/v2/trow/portal.js
  lib/v2/trow/radar.js
  lib/v2/trow/router.js
Labels: Auto: Route Test Complete

#8242 fix(docs): add info for THU
  docs/university.md
Labels: Auto: Route Test Complete

#8247 feat(route): add eprice
  docs/new-media.md
  lib/v2/eprice/maintainer.js
  lib/v2/eprice/radar.js
  lib/v2/eprice/router.js
  lib/v2/eprice/rss.js
  lib/v2/eprice/templates/description.art
Labels: Auto: Route Test Complete

#7557 fix(route)(icable): category filters for i-CABLE
  docs/traditional-media.md
  lib/routes/icable/category.js
Labels: Auto: Route Test Complete

#8265 fix(docs): typo in script-standard radar rules
  docs/joinus/script-standard.md
  lib/v2/furstar/radar.js
Labels: Auto: No Route Needed

#8262 feat(route): add 8视界
  docs/new-media.md
  lib/v2/8world/index.js
  lib/v2/8world/maintainer.js
  lib/v2/8world/radar.js
  lib/v2/8world/router.js
Labels: Auto: Route Test Complete

#8249 feat: icac
  docs/en/government.md
  docs/government.md
  lib/v2/icac/maintainer.js
  lib/v2/icac/news.js
  lib/v2/icac/radar.js
  lib/v2/icac/router.js
  lib/v2/icac/utils.js
Labels: Auto: Route Test Complete

#8253 feat(route): add 软餐
  docs/new-media.md
  lib/v2/ruancan/index.js
  lib/v2/ruancan/maintainer.js
  lib/v2/ruancan/radar.js
  lib/v2/ruancan/router.js
Labels: Auto: Route Test Complete

#8257 feat(route): add jump app游戏打折
  docs/game.md
  lib/v2/jump/discount.js
  lib/v2/jump/maintainer.js
  lib/v2/jump/radar.js
  lib/v2/jump/router.js
  lib/v2/jump/templates/discount.art
Labels: Auto: Route Test Complete

#8287 Update radar-rules.js
  lib/radar-rules.js
Labels: Auto: No Route Needed

#8291 fix(route)(zimuku) 字幕库新域名
  lib/routes/zimuku/index.js
Labels: Auto: Route Test Complete
