Repository DIYgod/RSSHub, pull requests merged in 2021-06, with the labels that each got.

#7610 feat(route): add 经济观察网
  docs/traditional-media.md
  lib/router.js
  lib/routes/eeo/index.js
Labels: Auto: Route Test Complete

#7657 feat: update bookwalkertw
  lib/routes/bookwalkertw/news.js
Labels: Auto: Route Test Complete

#7679 chore(script): use npm to install repo deps in ansible script
  scripts/ansible/rsshub.yaml
Labels: Auto: No Route Needed

#7624 fix(core): 禁止browserless生成核心转储文件
  docker-compose.yml
Labels: Auto: Route Test Complete

#7650 feat(route): add 朝日新聞デジタル
  docs/traditional-media.md
  lib/router.js
  lib/routes/asahi/index.js
  lib/routes/asahichinese-f/index.js
  lib/routes/asahichinese-j/index.js
Labels: Auto: Route Test Complete

#7269 feat(route): japanpost improve data parse and arrangement radar
  assets/radar-rules.js
  docs/en/other.md
  docs/other.md
  lib/router.js
  lib/routes/japanpost/index.js
  lib/routes/japanpost/track.js
  lib/routes/japanpost/utils.js
  package.json
Labels: Auto: Route Test Complete

#7659 feat(route): add 朝日新聞デジタル地域
  docs/traditional-media.md
  lib/router.js
  lib/routes/asahi/area.js
Labels: Auto: Route Test Complete

#7608 feat(route): add添加海南大学研究生招生动态
  docs/university.md
  lib/router.js
  lib/routes/hainanu/ssszs.js
Labels: Auto: Route Test Complete

#7379 feat(route): add 游戏年轮分类
  docs/game.md
  lib/router.js
  lib/routes/bibgame/category.js
Labels: Auto: Route Test Complete

#7652 fix: 龙腾网网帖翻译
  docs/bbs.md
  lib/router.js
  lib/routes/ltaaa/_article.js
  lib/routes/ltaaa/index.js
  lib/routes/ltaaa/main.js
Labels: Auto: Route Test Complete

#7547 feat(route): 澳門特別行政區政府各公共部門獎助貸學金服務平台
  docs/other.md
  lib/router.js
  lib/routes/macau-bolsas/index.js
Labels: Auto: Route Test Complete

#7722 chore(build): add tag for docker build release
  .github/workflows/docker-release.yml
  docs/en/install/README.md
  docs/install/README.md
Labels: Auto: No Route Needed

#7690 fix(route): 幕布精选社区
  docs/study.md
  lib/router.js
  lib/routes/mubu/explore.js
Labels: Auto: Route Test Complete

#7746 fix: 懂球帝早报报错
  lib/routes/dongqiudi/utils.js
Labels: Auto: Route Test Complete

#7623 fix(route): pixiv login
  lib/middleware/onerror.js
  lib/routes/pixiv/constants.js
  lib/routes/pixiv/token.js
Labels: Auto: Route Test Complete

#7758 feat(route): Bilibili用户追漫列表
  docs/social-media.md
  lib/router.js
  lib/routes/bilibili/manga_followings.js
Labels: Auto: Route Test Complete

#7585 feat(route): add HKEPC
  docs/new-media.md
  lib/router.js
  lib/routes/hkepc/index.js
Labels: Auto: Route Test Complete

#7751 fix(route): 哔嘀影视种子链接
  docs/multimedia.md
  lib/router.js
  lib/routes/mp4er/index.js
Labels: Auto: Route Test Complete

#7734 fix(route): 书趣阁域名切换后访问失败
  lib/routes/novel/shuquge.js
Labels: Auto: Route Test Complete

#7733 feat(add): 深圳新闻网深圳市政府新闻发布厅
  docs/new-media.md
  lib/router.js
  lib/routes/sznews/press.js
  lib/routes/sznews/ranking.js
Labels: Auto: Route Test Complete

#7700 fix(radar)(route): Pixiv search & Radar rules
  assets/radar-rules.js
  docs/en/social-media.md
  docs/social-media.md
  lib/router.js
  lib/routes/pixiv/ranking.js
  lib/routes/pixiv/search.js
Labels: Auto: Route Test Complete

#7769 feat(route): dlu add fulltext
  lib/routes/universities/dlu/jiaowu/news.js
Labels: Auto: Route Test Complete

#7770 feat(route): bilibili route add author and date
  lib/routes/bilibili/coin.js
  lib/routes/bilibili/fav.js
  lib/routes/bilibili/userFav.js
Labels: Auto: Route Test Complete

#7687 fix(route): whb published timezone
  lib/routes/whb/zhuzhan.js
Labels: Auto: Route Test Complete

#7440 feat(route): add Topbook overview
  docs/new-media.md
  lib/router.js
  lib/routes/topbook/overview.js
Labels: Auto: Route Test Complete

#7764 chore(route): Remove steam news
  assets/radar-rules.js
  docs/en/game.md
  docs/game.md
  lib/router.js
  lib/routes/steam/news.js
Labels: Auto: No Route Needed

#7765 feat(route): add route universities/dut
  docs/university.md
  lib/router.js
  lib/routes/universities/dut/index.js
  lib/routes/universities/dut/subsite.js
Labels: Auto: Route Test Complete

#7773 feat(route): add 加美财经
  docs/new-media.md
  lib/router.js
  lib/routes/caus/index.js
Labels: Auto: Route Test Complete

#7774 feat(route): add 中国科学技术大学就业信息网
  docs/university.md
  lib/router.js
  lib/routes/universities/ustc/job.js
Labels: Auto: Route Test Complete

#7780 chore(core)(docs): drop pinyin
  docs/.format/sortByHeading.js
  docs/.vuepress/config.js
  docs/anime.md
  docs/game.md
  docs/government.md
  docs/new-media.md
  docs/other.md
  docs/traditional-media.md
  docs/university.md
  package-lock.json
  package.json
Labels: Auto: No Route Needed, core enhancement

#7793 generate lock file with npm@6.14.31
  package-lock.json
Labels: Auto: No Route Needed
