Repository DIYgod/RSSHub, pull requests merged in 2021-05, with the labels that each got.

#7438 refactor: timezone conversion in `lib/utils/date.js`
  lib/routes/blogs/diygod/animal-crossing.js
  lib/routes/blogs/wangyin.js
  lib/routes/etoland/board.js
  lib/routes/weibo/super_index.js
  lib/utils/parse-date.js
  lib/utils/timezone.js
Labels: Auto: Route Test Complete, core enhancement, high priority

#7501 docs(core): pubdate, npm ci with templates
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  docs/.format/format.js
  docs/.vuepress/config.js
  docs/.vuepress/nav/en.js
  docs/.vuepress/nav/zh.js
  docs/en/install/README.md
  docs/en/joinus/quick-start.md
  docs/install/README.md
  docs/joinus/pub-date.md
  docs/joinus/quick-start.md
  docs/joinus/use-cache.md
  package-lock.json
  package.json
Labels: Auto: No Route Needed

#7467 fix(route): eztv using new domain
  lib/routes/eztv/imdb.js
Labels: Auto: Route Test Complete

#7458 fix(route): 修复观察者网风闻社区出现 Invalid Date 的错误
  lib/routes/guancha/personalpage.js
Labels: Auto: Route Test Complete

#7460 fix(facebook): replace facebook tracking link with original link
  lib/routes/facebook/page.js
Labels: Auto: Route Test Complete

#7446 fix(docs, route): 梨园添加功能 & 修复文档示例
  docs/bbs.md
  lib/routes/liyuan-forums/threads.js
Labels: Auto: Route Test Complete

#7349 fix(route): MIT科技评论文章链接
  lib/routes/mittrchina/index.js
Labels: Auto: Route Test Complete

#7409 fix(route): douban 404 from resharing a deleted status
  lib/routes/douban/people/status.js
Labels: Auto: No Route Needed, Auto: Route Test Complete

#7517 fix(docs): update docs joinus routes
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/en/faq.md
  docs/faq.md
  docs/usage.md
Labels: Auto: No Route Needed

#7261 fix(route): 江苏省人民政府 政府信息公开年度报告uid变化
  lib/routes/gov/province/jiangsu/index.js
Labels: Auto: Route Test Complete

#7518 feat(route): add 广东省教育考试院
  docs/government.md
  lib/router.js
  lib/routes/gov/guangdong/eea.js
Labels: Auto: Route Test Complete

#7495 fix(route): 哔嘀影视种子文件地址
  lib/routes/bde4/index.js
Labels: Auto: Route Test Complete

#7435 fix(route): update arknights news fetch
  lib/routes/arknights/news.js
Labels: Auto: Route Test Complete

#7515 fix(route): migrate smzdm to new time parser, re #6795
  lib/routes/smzdm/article.js
  lib/routes/smzdm/baoliao.js
  lib/routes/smzdm/haowen.js
  lib/routes/smzdm/haowen_fenlei.js
  lib/routes/smzdm/keyword.js
  lib/routes/smzdm/ranking.js
Labels: Auto: Route Test Complete

#7459 feat(route): 新增 电子科技大学 信软学院 通知公告
  docs/university.md
  lib/router.js
  lib/routes/universities/uestc/is.js
Labels: Auto: Route Test Complete

#7260 feat(route): add Hugo 更新日志
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/hugo/releases.js
Labels: Auto: Route Test Complete

#7405 fix: userVideo.js ixigua api
  lib/routes/ixigua/userVideo.js
Labels: Auto: No Route Needed, Auto: Route Test Complete

#7337 fix(route): 修复游民星空部分文章url格式不规范的问题
  lib/routes/gamersky/ent.js
Labels: Auto: No Route Needed

#7523 feat(route): add Bandcamp Tag
  docs/en/multimedia.md
  docs/multimedia.md
  lib/router.js
  lib/routes/bandcamp/tag.js
Labels: Auto: Route Test Complete

#7441 fix(route): update dcard api url DIYgod#6697
  lib/routes/dcard/section.js
Labels: Auto: Route Test Complete

#7416 feat(route): Add 加拿大大使馆 and 蒙特利尔领事馆 to 中国驻外使领馆
  docs/government.md
  lib/routes/embassy/supportedList.js
Labels: Auto: Route Test Complete

#7412 feat(route): add FIX字幕侠
  docs/multimedia.md
  lib/router.js
  lib/routes/zimuxia/index.js
  lib/routes/zimuxia/portfolio.js
Labels: Auto: Route Test Complete

#7414 fix(route): bilibili video pic
  lib/routes/bilibili/video.js
Labels: Auto: Route Test Complete

#7408 feat(route): add 弯弯字幕组
  docs/multimedia.md
  lib/router.js
  lib/routes/wanwansub/index.js
  lib/routes/wanwansub/info.js
Labels: Auto: Route Test Complete

#7360 fix(docs): 修正邮箱配置 Update README.md
  docs/install/README.md
Labels: Auto: No Route Needed

#7483 feat(route): add OR
  docs/new-media.md
  lib/router.js
  lib/routes/or/index.js
Labels: Auto: Route Test Complete

#7530 chore(utils): `parse-date` supports relative time & fix routes
  docs/joinus/pub-date.md
  lib/routes/blogs/diygod/animal-crossing.js
  lib/routes/blogs/wangyin.js
  lib/routes/etoland/board.js
  lib/routes/gov/guangdong/eea.js
  lib/routes/lfsyd/tag.js
  lib/routes/smzdm/article.js
  lib/routes/smzdm/haowen.js
  lib/routes/smzdm/haowen_fenlei.js
  lib/routes/smzdm/keyword.js
  lib/routes/zaker/focusread.js
  lib/routes/zaker/source.js
  lib/utils/parse-date.js
Labels: Auto: Route Test Complete

#7514 fix(route): eztv empty response
  lib/routes/eztv/imdb.js
Labels: Auto: Route Test Complete

#7419 feat(route): 微信公众号新增 wechat-feeds 来源
  docs/en/picture.md
  docs/new-media.md
  docs/picture.md
  lib/router.js
  lib/routes/tencent/wechat/feeds.js
Labels: Auto: Route Test Complete

#7279 fix(route): github trending css selector changed
  lib/routes/github/trending.js
Labels: Auto: Route Test Complete

#7284 feat(radar): add manhuagui.com
  assets/radar-rules.js
  docs/anime.md
Labels: Auto: No Route Needed

#7257 fix(route): keep运动日记路由错误
  lib/routes/keep/user.js
Labels: Auto: Route Test Complete

#7305 fix(route): reuters/channel/life and investing
  lib/routes/reuters/channel.js
Labels: Auto: Route Test Complete

#7318 feat(route): melon chart
  docs/en/multimedia.md
  docs/multimedia.md
  lib/router.js
  lib/routes/melon/chart.js
Labels: Auto: Route Test Complete

#7327 feat(route): jandan add 煎蛋女装图
  docs/picture.md
  lib/routes/jandan/pic.js
Labels: Auto: Route Test Complete

#7489 fix(route): bupt
  docs/install/README.md
  docs/university.md
  lib/config.js
  lib/routes/universities/bupt/news.js
  lib/routes/universities/bupt/portal.js
Labels: Auto: Route Test Complete

#7332 feat(route): add nytimes book bestseller
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/nytimes/book.js
Labels: Auto: Route Test Complete

#7449 fix(route): nytimes
  lib/routes/nytimes/index.js
  lib/routes/nytimes/morning_post.js
  lib/routes/nytimes/utils.js
Labels: Auto: Route Test Complete

#7516 feat(route): add 东立出版
  docs/reading.md
  lib/router.js
  lib/routes/tongli/news.js
Labels: Auto: Route Test Complete

#7437 feat(route): add Topbook今天看什么
  docs/new-media.md
  lib/router.js
  lib/routes/topbook/today.js
Labels: Auto: Route Test Complete

#7601 fix(route): [Coolapk] Wrong html tag wrapping
  lib/routes/coolapk/utils.js
Labels: Auto: Route Test Complete
