Repository DIYgod/RSSHub, pull requests merged in 2021-02, with the labels that each got.

#6799 fix: link and content of zhihu timeline
  lib/routes/zhihu/timeline.js
Labels: Auto: Route Test Complete

#6815 fix zhihu collections
  docs/social-media.md
  lib/routes/zhihu/collection.js
Labels: Auto: Route Test Complete

#6831 chore(docs): add official youtube channel feeds documentation
  docs/en/social-media.md
  docs/social-media.md
Labels: Auto: No Route Needed

#6832 feat: improve radar/rssbud support for weibo
  assets/radar-rules.js
  docs/social-media.md
Labels: Auto: Route Test Complete

#6826 feat: add 央视网图片《镜象》
  docs/traditional-media.md
  lib/router.js
  lib/routes/cctv/jx.js
Labels: Auto: Route Test Complete

#6833 feat: add 深影译站首页 & 剧集
  docs/multimedia.md
  lib/router.js
  lib/routes/shinybbs/index.js
Labels: Auto: Route Test Complete

#6837 feat: add 天眼查热门搜索
  docs/other.md
  lib/router.js
  lib/routes/tianyancha/hot.js
Labels: Auto: Route Test Complete

#6830 fix: add custom certificate validation to pixiv-got
  lib/routes/pixiv/pixiv-got.js
Labels: Auto: No Route Needed

#6820 add King Arthur
  docs/en/other.md
  lib/router.js
  lib/routes/kingarthur/index.js
Labels: Auto: Route Test Complete

#6872 nyaa domain update
  lib/routes/nyaa/search.js
Labels: Auto: Route Test Complete

#6848 fix: radar/rssbud support for weibo.com
  assets/radar-rules.js
Labels: Auto: Route Test Complete

#6845 feat:add av01
  docs/multimedia.md
  lib/router.js
  lib/routes/av01/actor.js
  lib/routes/av01/tag.js
Labels: Auto: Route Test Complete

#6852 fix: i-CABLE new URL scheme
  lib/routes/icable/category.js
Labels: Auto: Route Test Complete

#6864 fix: NOI 全国青少年信息学奥林匹克竞赛新闻 & 获奖名单 & 各省新闻
  lib/routes/noi/index.js
  lib/routes/noi/province-news.js
  lib/routes/noi/winners-list.js
Labels: Auto: Route Test Complete

#6873 fix: 哔哩哔哩-用户关注动态
  lib/router.js
  lib/routes/bilibili/followings_dynamic.js
Labels: Auto: Route Test Complete

#6878 fix: zhaishuyuan content incomplete (#6877)
  lib/routes/novel/zhaishuyuan.js
Labels: Auto: Route Test Complete

#6908 Fix: t66y DIYgod/RSSHub#6861
  lib/routes/t66y/index.js
Labels: Auto: Route Test Complete

#6874 feat: improve pornhub routes by introducing a `language` option
  docs/en/multimedia.md
  docs/multimedia.md
  lib/router.js
  lib/routes/pornhub/category_url.js
  lib/routes/pornhub/model.js
  lib/routes/pornhub/pornstar.js
  lib/routes/pornhub/users.js
Labels: Auto: Route Test Complete

#6854 feat: add 深影译站指定剧集
  docs/multimedia.md
  lib/router.js
  lib/routes/shinybbs/p.js
Labels: Auto: Route Test Complete

#6866 feat: support newstopic in /cna/ route
  docs/traditional-media.md
  lib/routes/cna/index.js
Labels: Auto: Route Test Complete

#6870 feat: add 劍心．回憶
  docs/blog.md
  lib/router.js
  lib/routes/kenshin/index.js
Labels: Auto: Route Test Complete

#6906 feat: add 美国劳工联合会-产业工会联合会博客
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/aflcio/blog.js
Labels: Auto: Route Test Complete

#6875 feat: add DT财经数据侠专栏
  docs/finance.md
  lib/router.js
  lib/routes/dtcj/datahero.js
Labels: Auto: Route Test Complete

#6888 feat: add 吉林工商学院主页 & 科研处
  docs/university.md
  lib/router.js
  lib/routes/universities/jlbtc/index.js
  lib/routes/universities/jlbtc/kyc.js
Labels: Auto: Route Test Complete

#6882 feat: add 财联社电报分类
  docs/finance.md
  lib/router.js
  lib/routes/cls/depth.js
  lib/routes/cls/telegraph.js
Labels: Auto: Route Test Complete

#6896 feat: add 每经网分类
  docs/finance.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/nbd/index.js
Labels: Auto: Route Test Complete

#6917 feat: add 南方科技大学新闻网 and 南方科技大学采购与招标管理部
  docs/university.md
  lib/router.js
  lib/routes/universities/sustech/bidding.js
  lib/routes/universities/sustech/newshub-zh.js
Labels: Auto: Route Test Complete

#6911 Pixiv support refresh token login
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/routes/pixiv/bookmarks.js
  lib/routes/pixiv/illustfollow.js
  lib/routes/pixiv/ranking.js
  lib/routes/pixiv/search.js
  lib/routes/pixiv/token.js
  lib/routes/pixiv/user.js
Labels: Auto: No Route Needed

#6924 fix: zhaishuyuan js decode
  lib/routes/novel/zhaishuyuan.js
Labels: Auto: Route Test Complete

#6922 fix: add 网易云音乐/腾讯视频 Radar 规则
  assets/radar-rules.js
  docs/multimedia.md
Labels: Auto: No Route Needed

#6923 manga support for pixiv user activity
  docs/en/install/README.md
  docs/install/README.md
  lib/routes/pixiv/api/getIllusts.js
Labels: Auto: No Route Needed

#6913 feat:add macked
  .eslintrc
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/macked/app.js
Labels: Auto: Route Test Complete

#6912 feat: add Fur Affinity routes
  docs/en/social-media.md
  docs/social-media.md
  lib/router.js
  lib/routes/furaffinity/browse.js
  lib/routes/furaffinity/commissions.js
  lib/routes/furaffinity/favorites.js
  lib/routes/furaffinity/gallery.js
  lib/routes/furaffinity/home.js
  lib/routes/furaffinity/journal_comments.js
  lib/routes/furaffinity/journals.js
  lib/routes/furaffinity/scraps.js
  lib/routes/furaffinity/search.js
  lib/routes/furaffinity/shouts.js
  lib/routes/furaffinity/status.js
  lib/routes/furaffinity/submission_comments.js
  lib/routes/furaffinity/user.js
  lib/routes/furaffinity/watchers.js
  lib/routes/furaffinity/watching.js
Labels: Auto: Route Test Complete

#6867 feat: add 香港商报 PDF 版
  docs/traditional-media.md
  lib/router.js
  lib/routes/hkcd/pdf.js
Labels: Auto: Route Test Complete

#6948 fix: 为少数派添加 radar="1" 以及修复部分radar规则
  assets/radar-rules.js
  docs/new-media.md
Labels: Auto: No Route Needed

#6947 feat: 在介绍页面加入RSSAid相关信息
  README.md
  docs/README.md
  docs/en/README.md
Labels: Auto: No Route Needed

#6930 feat: add Fur Affinity radar rules
  assets/radar-rules.js
  docs/en/social-media.md
  docs/social-media.md
  lib/routes/furaffinity/browse.js
  lib/routes/furaffinity/commissions.js
  lib/routes/furaffinity/favorites.js
  lib/routes/furaffinity/gallery.js
  lib/routes/furaffinity/home.js
  lib/routes/furaffinity/journals.js
  lib/routes/furaffinity/scraps.js
  lib/routes/furaffinity/search.js
  lib/routes/furaffinity/shouts.js
  lib/routes/furaffinity/status.js
  lib/routes/furaffinity/user.js
  lib/routes/furaffinity/watchers.js
  lib/routes/furaffinity/watching.js
Labels: Auto: No Route Needed

#7002 fix: Update app.json pixiv env config for Heroku
  app.json
Labels: Auto: No Route Needed

#7001 feat: add tieba Radar rules
  assets/radar-rules.js
  docs/bbs.md
Labels: Auto: No Route Needed

#6998 feat: 添加少数派sspai标签订阅的 Radar 规则
  assets/radar-rules.js
  docs/new-media.md
Labels: Auto: No Route Needed

#7000 fix: update social-media for Fur Affinity
  assets/radar-rules.js
  docs/en/social-media.md
  docs/social-media.md
Labels: Auto: No Route Needed

#6987 fix: dlsite campaign params
  lib/routes/dlsite/campaign.js
Labels: Auto: Route Test Complete

#6949 feat: add obsidian announcements
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/obsidian/announcements.js
Labels: Auto: Route Test Complete

#6926 feat: add 亿欧网
  docs/new-media.md
  lib/router.js
  lib/routes/iyiou/index.js
Labels: Auto: Route Test Complete

#6992 fix: xiaoheihe news duplicate entries
  lib/routes/xiaoheihe/news.js
Labels: Auto: Route Test Complete

#6995 fix: bilibili UP 主动态
  lib/routes/bilibili/dynamic.js
Labels: Auto: Route Test Complete

#6951 fix: pianyuan domain changes
  lib/routes/furaffinity/journals.js
  lib/routes/pianyuan/app.js
  lib/routes/universities/sustech/bidding.js
  lib/routes/universities/sustech/newshub-zh.js
Labels: Auto: Route Test Complete

#6988 ci: add linter for every PR & commit
  .github/workflows/pr-lint.yml
  package.json
Labels: Auto: No Route Needed

#6946 feat: add Eagle route and radar rules
  assets/radar-rules.js
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/eagle/changelog.js
Labels: Auto: Route Test Complete

#7021 fix: 更新北极星环保网新闻详情页面结构
  lib/routes/bjx/huanbao.js
Labels: Auto: Route Test Complete

#7014 fix(workflow): use single quote in expression.
  .github/workflows/docker-test.yml
Labels: Auto: Route Test Complete

#7012 upgrade node.js to v14
  Dockerfile
Labels: Auto: Route Test Complete, core enhancement

#6968 feat: enable high quality player for bilibili video
  docs/social-media.md
  lib/routes/bilibili/utils.js
Labels: Auto: Route Test Complete
