Repository DIYgod/RSSHub, pull requests merged in 2021-08, with the labels that each got.

#7822 feat(route): add 雪球股票评论
  docs/finance.md
  lib/router.js
  lib/routes/xueqiu/stock_comments.js
Labels: Auto: Route Test Complete

#7197 chore(core): Docker build 缩小 image size 更新github action
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  tools/clean-nm.sh
  tools/minify-docker.js
Labels: dependencies, core enhancement, Auto: No Route Needed

#7833 feat(route): add MacWk
  assets/radar-rules.js
  docs/program-update.md
  lib/router.js
  lib/routes/macwk/soft.js
Labels: Auto: Route Test Complete

#7892 feat(radar): add radar rules for netease cloud music (mobile)
  assets/radar-rules.js
Labels: Auto: No Route Needed

#7897 feat(route): add 生物探索
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/biodiscover/index.js
Labels: Auto: Route Test Complete

#7894 fix(route): thu-career
  docs/university.md
  lib/routes/universities/thu/career.js
Labels: Auto: Route Test Complete

#7365 feat(route): 恩山无线论坛板块
  docs/bbs.md
  lib/router.js
  lib/routes/right/forum.js
Labels: Auto: Route Test Complete

#7339 feat(route): add x410 news
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/x410/news.js
Labels: Auto: Route Test Complete

#7828 fix(route): 风之动漫域名更换
  docs/anime.md
  lib/router.js
  lib/routes/fzdm/manhua.js
Labels: Auto: Route Test Complete

#7890 fix(route): 紫竹张先生
  docs/new-media.md
  lib/router.js
  lib/routes/zzz/index.js
Labels: Auto: Route Test Complete

#7776 fix(docs): HKEPC doc
  docs/new-media.md
Labels: Auto: Route Test Complete

#7371 feat(route): add Fermilab News
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/fnal/news.js
Labels: Auto: Route Test Complete

#7640 fix(route): agefans domain
  lib/routes/agefans/detail.js
  lib/routes/agefans/update.js
Labels: Auto: Route Test Complete

#7728 feat(route): add 湖北软协，武汉东湖高新，武汉科技局
  docs/government.md
  lib/router.js
  lib/routes/gov/hubei/hbsia.js
  lib/routes/gov/wuhan/kjj.js
  lib/routes/gov/wuhan/wehdz.js
Labels: Auto: Route Test Complete

#7462 feat(route): add 时事一点通资讯
  docs/new-media.md
  lib/router.js
  lib/routes/ssydt/article.js
Labels: Auto: Route Test Complete

#7934 fix(route): 腾讯较真查证平台
  lib/routes/tencent/factcheck/index.js
Labels: Auto: Route Test Complete

#7913 fix(route): 修复 Bilibili 频道链接，并支持 ctype=1
  docs/social-media.md
  lib/routes/bilibili/userChannel.js
Labels: Auto: Route Test Complete

#7213 feat(route): 中国纺织经济信息网资讯
  docs/new-media.md
  lib/router.js
  lib/routes/ctei/news.js
Labels: Auto: Route Test Complete

#7223 feat(route): add World Happiness Report
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/worldhappiness/archive.js
  lib/routes/worldhappiness/blog.js
Labels: Auto: Route Test Complete

#7943 feat(route): add Europa Press
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/europapress/index.js
Labels: Auto: Route Test Complete

#7955 fix(route): 修复 soul 请求链接
  docs/social-media.md
  lib/router.js
  lib/routes/soul/hot.js
Labels: Auto: Route Test Complete

#7981 fix(core): make sure timeout error messages include URLs
  lib/utils/got.js
  test/utils/got.js
Labels: Auto: No Route Needed

#7966 feat(route): add 西北农林科技大学
  docs/university.md
  lib/router.js
  lib/routes/universities/nwafu/54youth.js
  lib/routes/universities/nwafu/cie.js
  lib/routes/universities/nwafu/gs.js
  lib/routes/universities/nwafu/jcc.js
  lib/routes/universities/nwafu/jiaowu.js
  lib/routes/universities/nwafu/lib.js
  lib/routes/universities/nwafu/news.js
  lib/routes/universities/nwafu/nic.js
  lib/routes/universities/nwafu/yjshy.js
Labels: Auto: Route Test Complete

#7968 feat(route): add Sky Sports News
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/skysports/news.js
Labels: Auto: Route Test Complete

#7287 feat(route): add Common App blog
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/commonapp/blog.js
Labels: Auto: Route Test Complete

#7682 feat(route): japanpost improve timezone parse
  lib/routes/japanpost/track.js
  lib/routes/japanpost/utils.js
Labels: Auto: Route Test Complete

#7250 feat(route): add 财新数据通专享资讯
  docs/traditional-media.md
  lib/router.js
  lib/routes/caixin/database.js
Labels: Auto: Route Test Complete

#7265 feat(route): add The Partnership on AI Resources
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/partnershiponai/resources.js
Labels: Auto: Route Test Complete

#7944 fix(route): 重庆大学本科教学信息网 (原重庆大学教务网)
  docs/university.md
  lib/router.js
  lib/routes/universities/cqu/jwc/announcement.js
Labels: Auto: Route Test Complete

#7889 feat(route): add 掘金专栏
  lib/router.js
  lib/routes/juejin/column.js
  lib/routes/juejin/utils.js
Labels: Auto: Route Test Complete

#7952 feat(route): add 温州大学新闻
  docs/university.md
  lib/router.js
  lib/routes/universities/wzu/news.js
Labels: Auto: Route Test Complete

#7947 feat(route): add yuzu emulator blog
  docs/blog.md
  docs/en/blog.md
  lib/router.js
  lib/routes/yuzu-emu/entry.js
Labels: Auto: Route Test Complete

#7994 docs(install): README.md
  docs/install/README.md
Labels: Auto: No Route Needed

#8008 fix(dockerfile): copy necessary file when building
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  scripts/docker/minify-docker.js
  tools/minify-docker.js
Labels: Auto: No Route Needed

#7961 fix(route): 修复 bilibili 动态无法获取问题
  lib/routes/bilibili/dynamic.js
  lib/routes/bilibili/followings_dynamic.js
Labels: Auto: Route Test Complete

#8021 feat(route): load route handler on the first request
  lib/router.js
Labels: Auto: Route Test Complete

#8044 fix(route): 站酷发现有视频条目
  lib/routes/zcool/discover.js
Labels: Auto: Route Test Complete

#8047 fix(zimuxia-portfollo): `$.reverse` is removed
  lib/routes/zimuxia/portfolio.js
Labels: Auto: Route Test Complete

#8050 feat(route): add hket
  docs/traditional-media.md
  lib/router.js
  lib/routes/hket/index.js
Labels: Auto: Route Test Complete

#8025 perf: lazy require dependencies
  lib/middleware/cache.js
  lib/middleware/parameter.js
  lib/utils/request-wrapper.js
Labels: Auto: No Route Needed

#8052 fix(route): hket Missing `url` property
  lib/routes/hket/index.js
Labels: Auto: Route Test Complete

#7565 feat(route): add Font Story (DynaC TW)
  docs/blog.md
  lib/router.js
  lib/routes/fontstory/tw.js
Labels: Auto: Route Test Complete

#8060 Update README.md
  docs/en/install/README.md
Labels: Auto: No Route Needed

#8059 Update README.md
  docs/install/README.md
Labels: Auto: No Route Needed

#7741 Ehentai dev
  assets/radar-rules.js
  docs/install/README.md
  docs/picture.md
  lib/config.js
  lib/router.js
  lib/routes/ehentai/ehapi.js
  lib/routes/ehentai/favorites.js
  lib/routes/ehentai/search.js
  lib/routes/ehentai/tag.js
Labels: Auto: Route Test Complete
