Repository DIYgod/RSSHub, pull requests merged in 2021-01, with the labels that each got.

#6575 feat: add Pincong
  docs/bbs.md
  lib/router.js
  lib/routes/pincong/hot.js
  lib/routes/pincong/index.js
  lib/routes/pincong/topic.js
Labels: en docs

#6611 feat: add mcdonalds news
  docs/shopping.md
  lib/router.js
  lib/routes/mcdonalds/news.js
Labels: en docs

#6565 feat: add mofish
  docs/new-media.md
  lib/router.js
  lib/routes/mofish/index.js
Labels: en docs

#6578 feat: add 眾新聞眾聞
  docs/new-media.md
  lib/router.js
  lib/routes/hkcnews/news.js
Labels: en docs

#6648 feat: add 教育部阳光高考信息公开平台招生政策规定
  docs/study.md
  lib/router.js
  lib/routes/chsi/zszcgd.js
Labels: en docs

#6568 feat:gamegrape
  docs/new-media.md
  lib/router.js
  lib/routes/gamegrape/index.js
Labels: en docs

#6654 Pr autotest
  scripts/workflow/test-route/identify.js
  scripts/workflow/test-route/test.js
Labels: Auto: No Route Needed

#6581 feat: 上海证券交易所本所业务规则
  docs/finance.md
  lib/router.js
  lib/routes/sse/sserules.js
Labels: en docs

#6613 feat: add 哔嘀影视
  docs/multimedia.md
  lib/router.js
  lib/routes/bde4/index.js
Labels: en docs

#6599 feat: add 留园网社区分站
  docs/new-media.md
  docs/picture.md
  lib/router.js
  lib/routes/6park/index.js
Labels: en docs

#6634 feat: add Voice of America
  docs/traditional-media.md
  lib/router.js
  lib/routes/voa/index.js
Labels: en docs

#6662 增加看雪论坛外文翻译板块的文档 update pediy bbs doc
  docs/bbs.md
Labels: Auto: Route No Found

#6663 template: make CI identifier clear
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Auto: No Route Needed

#6667 fix: fix tesla link path
  lib/routes/tesla/update.js
Labels: Auto: Route Test Complete

#6666 feat: load pics of searched items
  lib/routes/hentai-cosplays/porn-images-xxx.js
  lib/routes/hentai-cosplays/utils.js
Labels: Auto: Route Test Complete

#6669 docs: close pr on wrong format, reopen to rescan
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-deploy-route-test.yml
  scripts/workflow/test-route/identify.js
Labels: Auto: No Route Needed

#6664 feat: 风之动漫可全文输出漫画内容
  docs/anime.md
  lib/router.js
  lib/routes/fzdm/manhua.js
Labels: Auto: Route No Found

#6665 [Instagram] 修复使用path.join导致的URL不正确的BUG
  lib/routes/instagram/index.js
Labels: Auto: Route No Found

#6670 feat: Gab
  docs/en/social-media.md
  docs/social-media.md
  lib/router.js
  lib/routes/gab/explore.js
  lib/routes/gab/user.js
Labels: Auto: Route Test Complete

#6674 新增141jav&141ppv[2个rss规则]
  assets/radar-rules.js
  docs/multimedia.md
  lib/router.js
  lib/routes/141jav/141jav.js
  lib/routes/141ppv/141ppv.js
Labels: Auto: Route Test Complete

#6676 feat: add NEW字幕组
  docs/multimedia.md
  lib/router.js
  lib/routes/newzmz/index.js
Labels: Auto: Route Test Complete

#6679 add phrack magazine blog
  docs/blog.md
  docs/en/blog.md
  lib/router.js
  lib/routes/phrack/index.js
Labels: Auto: Route Test Complete

#6684 fix: use story path to show all pics
  lib/routes/hentai-cosplays/utils.js
Labels: Auto: Route Test Complete

#6685 dep: lock headless chrome version
  docker-compose.yml
  scripts/ansible/rsshub.yaml
  scripts/workflow/test-route/identify.js
Labels: Auto: No Route Needed

#6682 fix: 官网改版，采用JS加密，换用Puppeteer请求
  lib/routes/universities/uestc/sice.js
Labels: Auto: Route Test Complete, core enhancement

#6700 Add CQUT news
  assets/radar-rules.js
  docs/university.md
  lib/router.js
  lib/routes/universities/cqut/cqut-libnews.js
  lib/routes/universities/cqut/cqut-news.js
Labels: Auto: Route Test Complete

#6694 feat: add 通識·現代中國議題熱話
  docs/new-media.md
  lib/router.js
  lib/routes/chiculture/topic.js
Labels: Auto: Route Test Complete

#6716 Tip people to the official RSS feeds in Steam
  docs/en/game.md
Labels: Auto: No Route Needed

#6711 feat: add 半月谈时事大事库
  docs/new-media.md
  lib/router.js
  lib/routes/banyuetan/byt.js
Labels: Auto: Route Test Complete, en docs

#6714 add 重庆文理学院
  assets/radar-rules.js
  docs/university.md
  lib/router.js
  lib/routes/universities/cqwu/news.js
Labels: Auto: Route Test Complete

#6715 feat: add 城农 Growin' City 城农资讯观点
  docs/new-media.md
  lib/router.js
  lib/routes/growincity/news.js
Labels: Auto: Route Test Complete, en docs

#6713 [Instagram]增加严格反爬标记
  docs/en/social-media.md
  docs/social-media.md
Labels: Auto: No Route Needed

#6719 feat: add 美团开放平台公告
  docs/programming.md
  lib/router.js
  lib/routes/meituan/open/announce.js
Labels: Auto: Route Test Complete

#6720 fix 'npm run format' and route '/metred/fuli' (#6703)
  .eslintrc
  assets/radar-rules.js
  docs/other.md
  docs/university.md
  lib/routes/metred/fuli.js
  lib/routes/universities/cqwu/news.js
  lib/routes/universities/uestc/sice.js
Labels: Auto: Route Test Complete

#6722 Use the YouTube no cookie URL for embedding.
  lib/routes/youtube/channel.js
  lib/routes/youtube/playlist.js
  lib/routes/youtube/user.js
Labels: Auto: Route Test Complete

#6723 add Yahoo! by Author
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/yahoo-author/index.js
Labels: Auto: Route Test Complete

#6731 Fix the Yahoo! by Author docs.
  docs/traditional-media.md
Labels: Auto: Route Test Complete

#6724 add Thrillist
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/thrillist/index.js
Labels: Auto: Route Test Complete

#6733 fix: 色花堂
  lib/routes/dsndsht23/index.js
Labels: Auto: Route Test Complete

#6735 fix: 哔滴影视优先返回种子链接
  lib/routes/bde4/index.js
Labels: Auto: Route Test Complete

#6736 fix: fix url concatenation
  lib/routes/universities/uestc/sice.js
Labels: Auto: Route Test Complete

#6738 docs: add Related Projects RSSAid
  README.md
Labels: Auto: No Route Needed, eco system

#6745 fix: update zhihu activity api url
  lib/routes/zhihu/activities.js
Labels: Auto: Route Test Complete

#6740 fix: 湖南科技大学 HTTPS
  lib/routes/universities/hnust/art/index.js
  lib/routes/universities/hnust/jwc/index.js
Labels: Auto: Route Test Complete

#6746 fix 虎扑文档不一致
  docs/bbs.md
  docs/en/bbs.md
  docs/en/new-media.md
Labels: Auto: No Route Needed

#6747 fix MIT科技评论路由 (#6744)
  docs/new-media.md
  lib/router.js
  lib/routes/mittrchina/index.js
Labels: Auto: Route Test Complete

#6748 feat: add 网易号（通用）
  docs/new-media.md
  lib/router.js
  lib/routes/netease/dy2.js
Labels: Auto: Route Test Complete

#6753 fix: 网易号（通用）
  lib/routes/netease/dy2.js
Labels: Auto: Route Test Complete

#6754 feat: add 新冠疫苗实时动态
  docs/new-media.md
  lib/router.js
  lib/routes/dxy/vaccine.js
Labels: Auto: Route Test Complete

#6755 chore(docs): add bilibili anticrawler (#6213)
  docs/social-media.md
Labels: Auto: No Route Needed

#6760 fix 知乎用户文章
  assets/radar-rules.js
  docs/social-media.md
  lib/router.js
  lib/routes/zhihu/posts.js
Labels: Auto: Route Test Complete

#6734 feat: add telecompaper search
  docs/traditional-media.md
  lib/router.js
  lib/routes/telecompaper/search.js
Labels: Auto: Route Test Complete

#6766 add:武汉纺织大学信息门户
  docs/university.md
  lib/router.js
  lib/routes/universities/wtu/index.js
Labels: Auto: Route Test Complete

#6764 fix: 紳士漫畫 分类更新 图片链接获取错误
  lib/routes/ssmh/category.js
Labels: Auto: Route Test Complete

#6756 feat: 豆瓣广播全文输出 (#6742)
  lib/routes/douban/people/status.js
Labels: Auto: Route Test Complete

#6769 fix a error of wtu route author
  docs/university.md
Labels: Auto: No Route Needed

#6770 Fix #6413: Changed Instagram code to attempt to load content before load
  lib/routes/instagram/index.js
Labels: Auto: Route Test Complete

#6773 caixin: full text of article route
  lib/routes/caixin/article.js
Labels: Auto: Route Test Complete

#6781 add 中国庭审公开网
  docs/government.md
  lib/router.js
  lib/routes/tingshen/tingshen.js
Labels: Auto: Route Test Complete

#6774 feat: add Jandan articles
  docs/picture.md
  lib/router.js
  lib/routes/jandan/article.js
Labels: Auto: Route Test Complete

#6726 fix atom feed template (#6628)
  lib/views/atom.art
Labels: Auto: No Route Needed, core bug, more data required

#6792 feat: implement github topics router (#5803)
  assets/radar-rules.js
  docs/en/programming.md
  docs/programming.md
  lib/router.js
  lib/routes/github/topic.js
Labels: Auto: Route Test Complete

#6791 chore(docs): add netease anticrawler
  docs/new-media.md
Labels: Auto: No Route Needed

#6790 feat-wordpress: add cdn for http images
  docs/en/blog.md
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/routes/blogs/wordpress.js
Labels: Auto: Route Test Complete

#6794 Fix url error of users' posts of tieba
  docs/bbs.md
  lib/routes/tieba/user.js
Labels: Auto: Route Test Complete

#6796 feat: add 中华人民共和国人力资源和社会保障部社保减免
  docs/government.md
  lib/router.js
  lib/routes/gov/mohrss/sbjm.js
Labels: Auto: Route Test Complete

#6802 feat: add 深影译站最新作品
  docs/multimedia.md
  lib/router.js
  lib/routes/shinybbs/latest.js
Labels: Auto: Route Test Complete

#6803 feat: add 哈尔滨工业大学（深圳）新闻中心
  docs/university.md
  lib/router.js
  lib/routes/universities/hitsz/article.js
Labels: Auto: Route Test Complete

#6804 fix: 知识分子资讯
  lib/routes/zhishifenzi/news.js
Labels: Auto: Route Test Complete

#6811 fix: 喜马拉雅
  docs/multimedia.md
  lib/router.js
  lib/routes/ximalaya/album.js
Labels: Auto: Route Test Complete

#6809 feat: Adding UMASS Amherst ECE seminar
  assets/radar-rules.js
  docs/en/university.md
  docs/university.md
  lib/router.js
  lib/routes/umass/amherst/eceseminar.js
Labels: Auto: Route Test Complete
