Repository DIYgod/RSSHub, pull requests merged in 2022-12, with the labels that each got.

#11363 fix(route): 18comic
  lib/v2/18comic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11375 fix(route): 为 Bangumi 小组话题的新回复增加楼中楼，并按照回复顺序倒序
  lib/v2/bangumi/tv/group/reply.js
Labels: Auto: Route Test Complete, Route: v2

#11367 feat(route): add panda feed
  docs/en/other.md
  docs/other.md
  lib/v2/usepanda/index.js
  lib/v2/usepanda/maintainer.js
  lib/v2/usepanda/radar.js
  lib/v2/usepanda/router.js
Labels: Auto: Route Test Complete, Route: v2

#11384 fix(route): Bangumi 小组话题尝试获取全文
  lib/v2/bangumi/tv/group/topic.js
Labels: Auto: Route Test Complete, Route: v2

#11347 feat(route): Add upvotes and fix comments for HackerNews
  lib/v2/hackernews/index.js
Labels: Auto: Route Test Complete, Route: v2

#11381 fix: update ACM-ECNU radar doc
  docs/en/programming.md
  docs/en/university.md
  docs/other.md
  docs/programming.md
  docs/university.md
  lib/router.js
  lib/routes/universities/ecnuyjs/ecnuyjs.js
  lib/v2/acm-ecnu/maintainer.js
  lib/v2/acm-ecnu/radar.js
  lib/v2/acm-ecnu/router.js
  lib/v2/ecnu/contest.js
  lib/v2/ecnu/maintainer.js
  lib/v2/ecnu/radar.js
  lib/v2/ecnu/router.js
  lib/v2/ecnu/templates/description.art
  lib/v2/ecnu/yjs.js
Labels: Auto: No Route Needed, Route: v1, Route: v2

#11315 feat(route): add uw gix news
  docs/en/university.md
  docs/university.md
  lib/v2/uw/gix/news.js
  lib/v2/uw/maintainer.js
  lib/v2/uw/radar.js
  lib/v2/uw/router.js
Labels: Auto: Route Test Complete, Route: v2

#11382 feat(route): Add 十年之约-专题展示
  docs/blog.md
  lib/routes/blogs/foreverblog.js
  lib/v2/foreverblog/feeds.js
  lib/v2/foreverblog/maintainer.js
  lib/v2/foreverblog/radar.js
  lib/v2/foreverblog/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11393 fix(route): increase genshin fetch limit
  lib/v2/mihoyo/ys/news.js
Labels: Auto: Route Test Complete, Route: v2

#11339 feat(route): 新增广州市人民政府
  docs/government.md
  lib/routes/v2ex/post.js
  lib/v2/gov/gz/index.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11403 fix: ignore shmtu ssl verification & migrate to route v2
  lib/router.js
  lib/routes/universities/shmtu/jwc.js
  lib/routes/universities/shmtu/www.js
  lib/v2/shmtu/jwc.js
  lib/v2/shmtu/maintainer.js
  lib/v2/shmtu/radar.js
  lib/v2/shmtu/router.js
  lib/v2/shmtu/www.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11412 fix(route): 修复机核网资讯
  lib/v2/gcores/category.js
Labels: Auto: Route Test Complete, Route: v2

#11417 feat: add more portal types for shmtu
  docs/university.md
  lib/v2/shmtu/maintainer.js
  lib/v2/shmtu/portal.js
Labels: Auto: Route Test Complete, Route: v2

#11419 feat(route): freewechat
  docs/new-media.md
  lib/utils/wechat-mp.js
  lib/v2/freewechat/maintainer.js
  lib/v2/freewechat/profile.js
  lib/v2/freewechat/radar.js
  lib/v2/freewechat/router.js
Labels: Auto: Route Test Complete, Route: v2

#11421 fix(route): fix mirror
  lib/v2/mirror/index.js
Labels: Auto: Route Test Complete, Route: v2

#11423 fix: Unexpected type of selector
  lib/v2/ehentai/ehapi.js
Labels: Auto: Route Test Complete, Route: v2

#11427 feat(route): pen0
  docs/blog.md
  docs/new-media.md
  lib/v2/agora0/maintainer.js
  lib/v2/agora0/pen0.js
  lib/v2/agora0/radar.js
  lib/v2/agora0/router.js
Labels: Auto: Route Test Complete, Route: v2

#11426 feat: add attachments to shmtu portal feeds with art-template
  lib/v2/shmtu/portal.js
  lib/v2/shmtu/templates/portal.art
Labels: Auto: Route Test Complete, Route: v2

#11429 fix(route): researchgate
  docs/en/new-media.md
  docs/en/study.md
  docs/new-media.md
  docs/study.md
  lib/router.js
  lib/routes/researchgate/publications.js
  lib/v2/researchgate/maintainer.js
  lib/v2/researchgate/publications.js
  lib/v2/researchgate/radar.js
  lib/v2/researchgate/router.js
Labels: Auto: Route Test Complete, puppeteer, Route: v1, Route: v2

#11433 feat(route): sasac
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/sasac/generic.js
Labels: Auto: Route Test Complete, Route: v2

#11435 feat(route): ymgal game release
  docs/anime.md
  lib/v2/ymgal/article.js
  lib/v2/ymgal/game.js
  lib/v2/ymgal/radar.js
  lib/v2/ymgal/router.js
  lib/v2/ymgal/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11437 fix(route): pixiv daily ai
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/pixiv/api/getRanking.js
  lib/v2/pixiv/ranking.js
Labels: Auto: Route Test Complete, Route: v2

#11439 feat(route): caijing
  docs/finance.md
  lib/v2/caijing/maintainer.js
  lib/v2/caijing/radar.js
  lib/v2/caijing/roll.js
  lib/v2/caijing/router.js
Labels: Auto: Route Test Complete, Route: v2

#11440 fix(route): good.news
  lib/v2/good/index.js
Labels: Auto: Route Test Complete, Route: v2

#11450 fix: radar/rssbud support for baidu
  lib/v2/baidu/radar.js
Labels: Route: v2

#11451 fix(core): fix category filtering
  lib/middleware/parameter.js
  lib/v2/test/index.js
  test/middleware/parameter.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#11456 feat(route): add VERSE 文化媒體
  docs/new-media.md
  lib/v2/verse/articles.js
  lib/v2/verse/maintainer.js
  lib/v2/verse/radar.js
  lib/v2/verse/router.js
Labels: Auto: Route Test Complete, Route: v2

#11239 feat(route): 增加茂名地方政府网站
  docs/government.md
  lib/v2/gov/dianbai/dianbai.js
  lib/v2/gov/gaozhou/gaozhou.js
  lib/v2/gov/general/general.js
  lib/v2/gov/general/templates/zcjdpt.art
  lib/v2/gov/huazhou/huazhou.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/maoming/maoming.js
  lib/v2/gov/maonan/maonan.js
  lib/v2/gov/mgs/mgs.js
  lib/v2/gov/mmht/mmht.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/sdb/sdb.js
  lib/v2/gov/xinyi/xinyi.js
Labels: Auto: Route Test Complete, Route: v2

#11467 feat(route): 新增 腾讯新闻 - 新型冠状病毒肺炎疫情实时追踪
  docs/other.md
  lib/v2/tencent/maintainer.js
  lib/v2/tencent/news/coronavirus/data.js
  lib/v2/tencent/news/coronavirus/total.js
  lib/v2/tencent/news/coronavirus/utils.js
  lib/v2/tencent/radar.js
  lib/v2/tencent/router.js
  lib/v2/tencent/templates/coronavirus/chinaTotal.art
  lib/v2/tencent/templates/coronavirus/data.art
Labels: Auto: Route Test Complete, Route: v2

#11470 fix(core/utils/puppeteer): proxy-chain error
  lib/utils/puppeteer.js
  test/utils/puppeteer.js
Labels: core enhancement, Auto: No Route Needed

#11477 fix(route): change to use http
  lib/v2/mtime/news.js
Labels: Auto: Route Test Complete, Route: v2

#11471 feat(core/utils/puppeteer-utils): Cookie utils
  lib/utils/puppeteer-utils.js
  lib/v2/nuaa/utils/pypasswaf.js
  test/utils/puppeteer-utils.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#11478 feat(route): add paradigm writing
  docs/en/finance.md
  docs/finance.md
  lib/v2/paradigm/maintainer.js
  lib/v2/paradigm/radar.js
  lib/v2/paradigm/router.js
  lib/v2/paradigm/writing.js
Labels: Auto: Route Test Complete, Route: v2

#11484 fix(route/telegram/channel): false unsupported
  lib/v2/telegram/channel.js
Labels: Auto: Route Test Complete, Route: v2

#11482 fix(route/twitter/web-api): empty rslt not skipped
  lib/v2/twitter/web-api/twitter-api.js
Labels: Auto: Route Test Complete, Route: v2

#11472 feat(core): unify proxy; optimize request-wrapper
  lib/utils/puppeteer.js
  lib/utils/request-wrapper.js
  lib/utils/unify-proxy.js
  package.json
  test/utils/request-wrapper.js
  test/utils/unify-proxy.js
  yarn.lock
Labels: dependencies, core enhancement, Auto: No Route Needed

#11490 fix(route): cnbeta
  docs/new-media.md
  lib/v2/cnbeta/index.js
  lib/v2/cnbeta/radar.js
  lib/v2/cnbeta/router.js
  lib/v2/cnbeta/type.js
  lib/v2/cnbeta/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11495 fix(config): pixiv default img proxy
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
Labels: Auto: Route Test Complete

#11487 feat(route): add xinhua-daily-telegraph
  docs/traditional-media.md
  lib/v2/mrdx/daily.js
  lib/v2/mrdx/maintainer.js
  lib/v2/mrdx/radar.js
  lib/v2/mrdx/router.js
  lib/v2/mrdx/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11480 feat(route): 添加对哔哩哔哩新接口和校验信息的支持
  lib/v2/bilibili/cache.js
  lib/v2/bilibili/utils.js
  lib/v2/bilibili/video-all.js
  lib/v2/bilibili/video.js
Labels: Auto: Route Test Complete, Route: v2

#11499 feat(route): add ui.dev newsletter archives: reactnewsletter.com and bytes.dev
  docs/en/programming.md
  lib/v2/bytes/bytes.js
  lib/v2/bytes/maintainer.js
  lib/v2/bytes/radar.js
  lib/v2/bytes/router.js
  lib/v2/reactnewsletter/maintainer.js
  lib/v2/reactnewsletter/radar.js
  lib/v2/reactnewsletter/reactnewsletter.js
  lib/v2/reactnewsletter/router.js
Labels: Auto: Route Test Complete, Route: v2

#11498 feat(route): add seccon
  docs/en/journal.md
  docs/journal.md
  lib/v2/ieee-security/maintainer.js
  lib/v2/ieee-security/radar.js
  lib/v2/ieee-security/router.js
  lib/v2/ieee-security/sp.js
  lib/v2/ndss-symposium/maintainer.js
  lib/v2/ndss-symposium/ndss.js
  lib/v2/ndss-symposium/radar.js
  lib/v2/ndss-symposium/router.js
  lib/v2/sigsac/ccs.js
  lib/v2/sigsac/maintainer.js
  lib/v2/sigsac/radar.js
  lib/v2/sigsac/router.js
  lib/v2/usenix/maintainer.js
  lib/v2/usenix/radar.js
  lib/v2/usenix/router.js
  lib/v2/usenix/usenix.js
Labels: Auto: Route Test Complete, Route: v2

#11508 feat(route): add mangadex
  docs/anime.md
  docs/en/anime.md
  lib/v2/mangadex/index.js
  lib/v2/mangadex/maintainer.js
  lib/v2/mangadex/radar.js
  lib/v2/mangadex/router.js
Labels: Auto: Route Test Complete, Route: v2

#11517 fix(route): mangadex
  lib/v2/mangadex/index.js
Labels: Auto: Route Test Complete, Route: v2

#11518 fix: add ymgal maintainer
  lib/v2/ymgal/maintainer.js
Labels: Route: v2

#11520 feat: add release game tags
  lib/v2/ymgal/game.js
  lib/v2/ymgal/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11521 feat(route): add qlu rss
  docs/university.md
  lib/v2/qlu/maintainer.js
  lib/v2/qlu/notice.js
  lib/v2/qlu/radar.js
  lib/v2/qlu/router.js
Labels: Auto: Route Test Complete, Route: v2

#11524 fix: qlu radar docs path
  lib/v2/qlu/radar.js
Labels: Route: v2

#11522 feat(route): add CodeForces recent actions
  docs/en/programming.md
  lib/v2/codeforces/maintainer.js
  lib/v2/codeforces/radar.js
  lib/v2/codeforces/recent_actions.js
  lib/v2/codeforces/router.js
Labels: Auto: Route Test Complete, Route: v2

#11523 feat(route): add chsi rss
  docs/study.md
  lib/v2/chsi/kydt.js
  lib/v2/chsi/maintainer.js
  lib/v2/chsi/radar.js
  lib/v2/chsi/router.js
Labels: Auto: Route Test Complete, Route: v2
