Repository DIYgod/RSSHub, pull requests merged in 2022-02, with the labels that each got.

#7403 fix: 小米有品每日上新
  lib/routes/mi/youpin/new.js
Labels: Auto: Route Test Complete

#7454 增加色花堂文章切片数量
  lib/routes/dsndsht23/index.js
Labels: Auto: No Route Needed, Auto: Route Test Complete

#7538 fix(route): changba user
  docs/social-media.md
  lib/router.js
  lib/routes/changba/user.js
  lib/v2/changba/maintainer.js
  lib/v2/changba/radar.js
  lib/v2/changba/router.js
  lib/v2/changba/templates/work_description.art
  lib/v2/changba/user.js
Labels: Auto: Route Test Complete

#7633 fix: new domain for flyertea
  docs/travel.md
  lib/router.js
  lib/routes/flyert/creditcard.js
  lib/routes/flyert/preferential.js
  lib/routes/flyert/utils.js
Labels: Auto: Route Test Complete

#7528 fix(route): migrate WHO routes to new time parser
  lib/routes/who/news-room.js
Labels: Auto: Route Test Complete

#8319 feat(route): add 風傳媒
  docs/new-media.md
  lib/v2/storm/index.js
  lib/v2/storm/maintainer.js
  lib/v2/storm/radar.js
  lib/v2/storm/router.js
Labels: Auto: Route Test Complete

#8275 feat(route): add Radio-Canada.ca latest news
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/radio-canada/latest.js
  lib/v2/radio-canada/maintainer.js
  lib/v2/radio-canada/radar.js
  lib/v2/radio-canada/router.js
Labels: Auto: Route Test Complete

#8342 fix: zaobao from hk (again); adapt zaobao to v2 standard
  docs/traditional-media.md
  lib/router.js
  lib/v2/zaobao/index.js
  lib/v2/zaobao/interactive.js
  lib/v2/zaobao/maintainer.js
  lib/v2/zaobao/radar.js
  lib/v2/zaobao/realtime.js
  lib/v2/zaobao/router.js
  lib/v2/zaobao/templates/zaobao.art
  lib/v2/zaobao/util.js
  lib/v2/zaobao/znews.js
Labels: Auto: Route Test Complete

#8354 fix(route): ezone.hk
  lib/router.js
  lib/v2/ezone/index.js
  lib/v2/ezone/maintainer.js
  lib/v2/ezone/radar.js
  lib/v2/ezone/router.js
Labels: Auto: Route Test Complete

#8470 feat(route): add 后续
  docs/new-media.md
  lib/router.js
  lib/routes/houxu/events.js
  lib/routes/houxu/live.js
  lib/routes/houxu/lives.js
  lib/v2/houxu/index.js
  lib/v2/houxu/maintainer.js
  lib/v2/houxu/radar.js
  lib/v2/houxu/router.js
  lib/v2/houxu/templates/description.art
Labels: Auto: Route Test Complete

#8478 feat(route): add Whoscall
  docs/blog.md
  lib/v2/whoscall/index.js
  lib/v2/whoscall/maintainer.js
  lib/v2/whoscall/radar.js
  lib/v2/whoscall/router.js
Labels: Auto: Route Test Complete

#8526 fix(route): 懂球帝赛果失效
  lib/routes/dongqiudi/result.js
Labels: Auto: Route Test Complete

#8682 fix(route): 晚点LatePost
  docs/new-media.md
  lib/router.js
  lib/routes/latepost/index.js
  lib/v2/latepost/index.js
  lib/v2/latepost/maintainer.js
  lib/v2/latepost/radar.js
  lib/v2/latepost/router.js
Labels: Auto: Route Test Complete

#7160 fix: adapt to new sjtu-jwc webpage
  docs/university.md
  lib/routes/universities/sjtu/jwc.js
Labels: Auto: Route Test Complete

#8743 feat(route): add 消費者委員會
  docs/new-media.md
  lib/v2/consumer/index.js
  lib/v2/consumer/maintainer.js
  lib/v2/consumer/radar.js
  lib/v2/consumer/router.js
Labels: Auto: Route Test Complete

#8916 fix(route): 煎蛋打赏广告移除
  lib/v2/jandan/index.js
Labels: Auto: Route Test Complete

#8918 fix(route): 公众号 (feeddd 来源)
  docs/new-media.md
  lib/v2/wechat/feeddd.js
  lib/v2/wechat/maintainer.js
Labels: Auto: Route Test Complete

#8939 fix(route): leiphone
  docs/new-media.md
  lib/v2/leiphone/index.js
  lib/v2/leiphone/newsflash.js
  lib/v2/leiphone/radar.js
  lib/v2/leiphone/router.js
Labels: Auto: Route Test Complete

#8942 fix(route): 游戏打折情报
  lib/routes/yxdzqb/index.js
Labels: Auto: Route Test Complete

#8943 Feat(route): get all collections
  docs/social-media.md
  lib/router.js
  lib/routes/zhihu/collection.js
  lib/routes/zhihu/pin/utils.js
Labels: Auto: Route Test Complete

#8944 Fix(route): fix route address
  lib/v2/epicgames/router.js
Labels: Auto: Route Test Complete

#8947 fix(route): zhihu posts pubDate
  lib/routes/zhihu/posts.js
Labels: Auto: Route Test Complete

#8937 Add(route): add 豆瓣招聘 and change to V2
  docs/social-media.md
  lib/radar-rules.js
  lib/router.js
  lib/v2/douban/book/rank.js
  lib/v2/douban/channel/subject.js
  lib/v2/douban/channel/topic.js
  lib/v2/douban/commercialpress/latest.js
  lib/v2/douban/event/hot.js
  lib/v2/douban/maintainer.js
  lib/v2/douban/other/bookstore.js
  lib/v2/douban/other/celebrity.js
  lib/v2/douban/other/classification.js
  lib/v2/douban/other/doulist.js
  lib/v2/douban/other/explore.js
  lib/v2/douban/other/explore_column.js
  lib/v2/douban/other/group.js
  lib/v2/douban/other/jobs.js
  lib/v2/douban/other/later.js
  lib/v2/douban/other/latest_book.js
  lib/v2/douban/other/latest_music.js
  lib/v2/douban/other/playing.js
  lib/v2/douban/other/replied.js
  lib/v2/douban/other/replies.js
  lib/v2/douban/other/topic.js
  lib/v2/douban/other/ustop.js
  lib/v2/douban/other/weekly_best.js
  lib/v2/douban/people/status.js
  lib/v2/douban/people/wish.js
  lib/v2/douban/radar.js
  lib/v2/douban/router.js
Labels: Auto: Route Test Complete

#8951 fix(core): fix fulltext
  lib/middleware/parameter.js
Labels: Auto: Route Test Complete

#8952 Fix(route): fix route is empty and some answer item do not have question.author field
  lib/routes/zhihu/zhuanlan.js
Labels: Auto: Route Test Complete

#8958 Fix(route): fix route is empty and change to V2
  docs/shopping.md
  lib/router.js
  lib/v2/taobao/maintainer.js
  lib/v2/taobao/radar.js
  lib/v2/taobao/router.js
  lib/v2/taobao/templates/zhongchou.art
  lib/v2/taobao/zhongchou.js
Labels: Auto: Route Test Complete

#8962 feat(route): 在E站获取最新的种子下载链接而不是最旧的
  lib/routes/ehentai/ehapi.js
Labels: Auto: Route Test Complete

#8965 feat: /dockerhub/tag/:owner/:image
  assets/radar-rules.js
  docs/en/program-update.md
  docs/program-update.md
  lib/radar-rules.js
  lib/router.js
  lib/v2/dockerhub/build.js
  lib/v2/dockerhub/maintainer.js
  lib/v2/dockerhub/radar.js
  lib/v2/dockerhub/router.js
  lib/v2/dockerhub/tag.js
  lib/v2/dockerhub/utils.js
Labels: Auto: Route Test Complete

#8978 Add Session.vim into .gitignore
  .gitignore
Labels: Auto: No Route Needed

#8923 Fix(route): fix route parameter conflict at trending.js and change to V2
  docs/en/programming.md
  docs/programming.md
  lib/radar-rules.js
  lib/router.js
  lib/v2/github/branches.js
  lib/v2/github/contributors.js
  lib/v2/github/file.js
  lib/v2/github/follower.js
  lib/v2/github/issue.js
  lib/v2/github/maintainer.js
  lib/v2/github/pulls.js
  lib/v2/github/radar.js
  lib/v2/github/repos.js
  lib/v2/github/router.js
  lib/v2/github/search.js
  lib/v2/github/star.js
  lib/v2/github/starred_repos.js
  lib/v2/github/topic.js
  lib/v2/github/trending.js
Labels: Auto: Route Test Complete

#8927 Add(route): add Google Fonts and change to V2
  docs/design.md
  docs/en/design.md
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/radar-rules.js
  lib/router.js
  lib/v2/google/album.js
  lib/v2/google/citations.js
  lib/v2/google/doodles.js
  lib/v2/google/fonts.js
  lib/v2/google/maintainer.js
  lib/v2/google/news.js
  lib/v2/google/radar.js
  lib/v2/google/router.js
  lib/v2/google/scholar.js
  lib/v2/google/sites.js
  lib/v2/google/templates/fonts.art
Labels: Auto: Route Test Complete

#8968 Fix(route): fix route is empty
  docs/social-media.md
  lib/v2/douban/other/explore.js
  lib/v2/douban/templates/explore.art
Labels: Auto: Route Test Complete

#8945 Fix(route): change desc selector
  lib/v2/baozimh/index.js
  lib/v2/baozimh/templates/desc.art
Labels: Auto: Route Test Complete

#8972 Fix(route): JSON.parse fail and change to V2
  docs/en/other.md
  docs/other.md
  lib/router.js
  lib/routes/producthunt/today.js
  lib/v2/producthunt/maintainer.js
  lib/v2/producthunt/radar.js
  lib/v2/producthunt/router.js
  lib/v2/producthunt/templates/descImg.art
  lib/v2/producthunt/today.js
Labels: Auto: Route Test Complete

#8976 Add(route): add hacker news user follow
  docs/en/programming.md
  docs/programming.md
  lib/v2/hackernews/index.js
  lib/v2/hackernews/maintainer.js
  lib/v2/hackernews/radar.js
  lib/v2/hackernews/router.js
Labels: Auto: Route Test Complete

#8983 feat(route): add App Center Release
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/app-center/maintainer.js
  lib/v2/app-center/radar.js
  lib/v2/app-center/release.js
  lib/v2/app-center/router.js
  lib/v2/app-center/templates/description.art
Labels: Auto: Route Test Complete

#8984 Add(route): add Nikkei Asia
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/nikkei-asia/index.js
  lib/v2/nikkei-asia/maintainer.js
  lib/v2/nikkei-asia/radar.js
  lib/v2/nikkei-asia/router.js
Labels: Auto: Route Test Complete

#8966 feat: /spotify/*
  app.json
  docs/en/install/README.md
  docs/en/multimedia.md
  docs/install/README.md
  docs/multimedia.md
  lib/config.js
  lib/v2/spotify/artist.js
  lib/v2/spotify/maintainer.js
  lib/v2/spotify/playlist.js
  lib/v2/spotify/radar.js
  lib/v2/spotify/router.js
  lib/v2/spotify/saved.js
  lib/v2/spotify/top.js
  lib/v2/spotify/utils.js
Labels: Auto: Route Test Complete

#8971 ci: release docker in source only
  .github/workflows/docker-release.yml
Labels: Auto: No Route Needed

#8979 :triangular_flag_on_post: 添加北京科技大学研究生院router
  docs/university.md
  lib/v2/ustb/maintainer.js
  lib/v2/ustb/radar.js
  lib/v2/ustb/router.js
  lib/v2/ustb/yjsy/news.js
Labels: Auto: Route Test Complete

#8986 优化：蓝桥云课新增课程排序规则并修复多个错误
  docs/programming.md
  lib/v2/lanqiao/author.js
  lib/v2/lanqiao/courses.js
  lib/v2/lanqiao/maintainer.js
  lib/v2/lanqiao/questions.js
  lib/v2/lanqiao/radar.js
  lib/v2/lanqiao/router.js
Labels: Auto: Route Test Complete

#8991 fix(route): App Center Release
  lib/v2/app-center/release.js
Labels: Auto: Route Test Complete

#8990 Fix(route): fix route is empty and change to V2
  docs/shopping.md
  lib/router.js
  lib/routes/ccreports/index.js
  lib/v2/ccreports/index.js
  lib/v2/ccreports/maintainer.js
  lib/v2/ccreports/radar.js
  lib/v2/ccreports/router.js
Labels: Auto: Route Test Complete

#9000 chore(misc): multiple enhancement to github actions
  .github/workflows/build-assets.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
  package.json
Labels: Auto: No Route Needed

#8960 fix(route): fixes "this route is empty" for copymanga
  docs/anime.md
  lib/routes/copymanga/comic.js
Labels: Auto: Route Test Complete

#8994 feat(route): add BioOne
  docs/en/journal.md
  docs/journal.md
  lib/router.js
  lib/v2/bioone/featured.js
  lib/v2/bioone/journal.js
  lib/v2/bioone/maintainer.js
  lib/v2/bioone/radar.js
  lib/v2/bioone/router.js
Labels: Auto: Route Test Complete

#9001 fix(route): 联合早报
  lib/v2/zaobao/index.js
  lib/v2/zaobao/maintainer.js
  lib/v2/zaobao/realtime.js
  lib/v2/zaobao/router.js
  lib/v2/zaobao/templates/zaobao.art
Labels: Auto: Route Test Complete

#9004 fix(route): 游戏打折情报
  docs/game.md
  lib/router.js
  lib/v2/yxdzqb/index.js
  lib/v2/yxdzqb/maintainer.js
  lib/v2/yxdzqb/radar.js
  lib/v2/yxdzqb/router.js
  lib/v2/yxdzqb/templates/description.art
Labels: Auto: Route Test Complete

#9006 fix(route): change github/comments title format to '[author] commented'
  lib/v2/github/comments.js
Labels: Auto: Route Test Complete

#9002 fix(route): fix youku/channel route is empty and refactor to V2
  docs/multimedia.md
  lib/router.js
  lib/routes/youku/channel.js
  lib/v2/youku/channel.js
  lib/v2/youku/maintainer.js
  lib/v2/youku/radar.js
  lib/v2/youku/router.js
  lib/v2/youku/templates/channel.art
Labels: Auto: Route Test Complete

#9005 fix(route): fix cntv cannot read property 'docs' of undefined and refactor to V2
  docs/multimedia.md
  lib/router.js
  lib/routes/cntv/cntv.js
  lib/v2/cntv/column.js
  lib/v2/cntv/maintainer.js
  lib/v2/cntv/radar.js
  lib/v2/cntv/router.js
  lib/v2/cntv/templates/column.art
Labels: Auto: Route Test Complete

#8922 fix(route): fix dxy; feat(route): add sh-wsjkw
  docs/government.md
  lib/router.js
  lib/routes/coronavirus/dxy-data.js
  lib/routes/coronavirus/dxy.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/shanghai/wsjkw/yqtb/index.js
Labels: Auto: Route Test Complete

#9011 feat(route): add 全国港澳研究会
  docs/new-media.md
  lib/v2/cahkms/index.js
  lib/v2/cahkms/maintainer.js
  lib/v2/cahkms/radar.js
  lib/v2/cahkms/router.js
  lib/v2/cahkms/templates/description.art
Labels: Auto: Route Test Complete

#9012 feat(route): add 国家高端智库 / 综合开发研究院
  docs/new-media.md
  lib/v2/cdi/index.js
  lib/v2/cdi/maintainer.js
  lib/v2/cdi/radar.js
  lib/v2/cdi/router.js
Labels: Auto: Route Test Complete

#7827 refactor: 微博个人时间线接入util
  docs/social-media.md
  lib/router.js
  lib/routes/weibo/timeline.js
  lib/routes/weibo/utils.js
Labels: Auto: Route Test Complete

#8956 fix(route): JAVLibrary
  assets/radar-rules.js
  docs/en/multimedia.md
  docs/multimedia.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/javlibrary/bestreviews.js
  lib/routes/javlibrary/stars.js
  lib/routes/javlibrary/users.js
  lib/routes/javlibrary/utils.js
  lib/routes/javlibrary/videos.js
  lib/v2/javlibrary/bestrated.js
  lib/v2/javlibrary/bestreviews.js
  lib/v2/javlibrary/genre.js
  lib/v2/javlibrary/maintainer.js
  lib/v2/javlibrary/mostwanted.js
  lib/v2/javlibrary/newentries.js
  lib/v2/javlibrary/newrelease.js
  lib/v2/javlibrary/radar.js
  lib/v2/javlibrary/router.js
  lib/v2/javlibrary/star.js
  lib/v2/javlibrary/templates/description.art
  lib/v2/javlibrary/update.js
  lib/v2/javlibrary/user.js
  lib/v2/javlibrary/utils.js
Labels: Auto: Route Test Complete

#9015 feat(route): 增加polkaworld的rsshub规则(v2版本scripts)
  docs/blog.md
  docs/en/blog.md
  lib/v2/polkaworld/home.js
  lib/v2/polkaworld/maintainer.js
  lib/v2/polkaworld/radar.js
  lib/v2/polkaworld/router.js
Labels: Auto: Route Test Complete

#9019 fix(route): change iresearch's API URL and refactor to V2
  docs/other.md
  lib/router.js
  lib/routes/iresearch/report.js
  lib/v2/iresearch/maintainer.js
  lib/v2/iresearch/radar.js
  lib/v2/iresearch/report.js
  lib/v2/iresearch/router.js
  lib/v2/iresearch/templates/report.art
Labels: Auto: Route Test Complete

#9021 feat(route): add wallhaven
  docs/en/picture.md
  docs/picture.md
  lib/v2/wallhaven/index.js
  lib/v2/wallhaven/maintainer.js
  lib/v2/wallhaven/radar.js
  lib/v2/wallhaven/router.js
Labels: Auto: Route Test Complete

#9026 docs: remove unnecessary `</Route>`
  docs/blog.md
Labels: Auto: No Route Needed

#9030 feat(route): 乌有之乡栏目
  docs/new-media.md
  lib/v2/wyzxwk/article.js
  lib/v2/wyzxwk/maintainer.js
  lib/v2/wyzxwk/radar.js
  lib/v2/wyzxwk/router.js
Labels: Auto: Route Test Complete

#8822 fix(route): 163music djradio missing data
  lib/routes/ncm/djradio.js
  lib/routes/ncm/templates/djradio-content.art
Labels: Auto: Route Test Complete

#9064 feat(route): add 珠海网
  docs/new-media.md
  lib/v2/hizu/index.js
  lib/v2/hizu/maintainer.js
  lib/v2/hizu/radar.js
  lib/v2/hizu/router.js
Labels: Auto: Route Test Complete

#9065 feat(route): add 惠州市政府惠州时政
  docs/government.md
  lib/v2/gov/huizhou/zwgk/index.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete

#9042 fix(route): item's desc is same but guid is different
  docs/travel.md
  lib/v2/12306/index.js
Labels: Auto: Route Test Complete

#9078 fix: update https://registry.npm.taobao.org to https://registry.npmmirror.com
  Dockerfile
Labels: Auto: No Route Needed

#9084 docs: fix slug pinyin
  .eslintignore
  docs/.vuepress/config.js
Labels: Auto: No Route Needed

#9032 feat(route): add 竹白blog
  docs/blog.md
  lib/v2/zhubai/index.js
  lib/v2/zhubai/maintainer.js
  lib/v2/zhubai/radar.js
  lib/v2/zhubai/router.js
Labels: Auto: Route Test Complete

#7191 fix(route): Fix pubDate and show full title w/ link in description (verfghbw)
  lib/router.js
  lib/v2/verfghbw/maintainer.js
  lib/v2/verfghbw/press.js
  lib/v2/verfghbw/radar.js
  lib/v2/verfghbw/router.js
Labels: Auto: Route Test Complete

#7234 fix(route): ff14 修改 pubDate 为原文发布时间
  docs/en/game.md
  docs/game.md
  lib/router.js
  lib/v2/ff14/ff14_global.js
  lib/v2/ff14/ff14_zh.js
  lib/v2/ff14/maintainer.js
  lib/v2/ff14/router.js
  lib/v2/ff14/templates/description.art
Labels: Auto: Route Test Complete

#9124 docs: fix route en tag
  docs/en/blog.md
  docs/en/game.md
  docs/en/multimedia.md
  docs/en/new-media.md
  docs/en/other.md
  docs/en/program-update.md
  docs/en/programming.md
  docs/en/reading.md
  docs/en/shopping.md
  docs/en/social-media.md
  docs/en/study.md
  docs/en/university.md
  docs/program-update.md
Labels: Auto: No Route Needed

#9063 feat(route): add audiobar.cn 音频应用论坛
  docs/bbs.md
  lib/v2/audiobar/latest.js
  lib/v2/audiobar/maintainer.js
  lib/v2/audiobar/radar.js
  lib/v2/audiobar/router.js
Labels: Auto: Route Test Complete

#9132 ci: release docker in source only, take 2
  .github/workflows/docker-release.yml
Labels: Auto: No Route Needed

#9138 chore: github actions bot email
  .github/workflows/build-assets.yml
  .github/workflows/comment-on-pr.yml
  .github/workflows/format.yml
Labels: Auto: No Route Needed

#7273 feat(route): add 中国经济50人论坛的专家文章页面
  docs/new-media.md
  lib/v2/50forum/maintainer.js
  lib/v2/50forum/radar.js
  lib/v2/50forum/router.js
  lib/v2/50forum/zhuanjia.js
Labels: Auto: Route Test Complete

#7294 feat(route): EU Disinfo Lab publications
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/disinfo/maintainer.js
  lib/v2/disinfo/publications.js
  lib/v2/disinfo/radar.js
  lib/v2/disinfo/router.js
Labels: Auto: Route Test Complete

#9152 chore: name actions
  .github/workflows/build-assets.yml
  .github/workflows/docker-test.yml
  .github/workflows/format.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-deploy-route-test.yml
  .github/workflows/pr-lint.yml
  .github/workflows/test.yml
Labels: Auto: No Route Needed

#7311 feat: add whitehouse briefing room
  docs/en/government.md
  docs/government.md
  lib/v2/whitehouse/briefing-room.js
  lib/v2/whitehouse/maintainer.js
  lib/v2/whitehouse/radar.js
  lib/v2/whitehouse/router.js
Labels: Auto: Route Test Complete

#7295 fix(route): normalize /bwu/news rss output
  lib/routes/universities/bwu/news.js
  lib/routes/universities/bwu/utils.js
Labels: Auto: Route Test Complete

#7321 feat(route): add 四川农业大学研究生院 & 动物科技学院
  docs/university.md
  lib/v2/sicau/dky.js
  lib/v2/sicau/maintainer.js
  lib/v2/sicau/radar.js
  lib/v2/sicau/router.js
  lib/v2/sicau/yan.js
Labels: Auto: Route Test Complete

#7453 feat(route): add 中国收入分配研究院
  docs/new-media.md
  lib/v2/ciidbnu/index.js
  lib/v2/ciidbnu/maintainer.js
  lib/v2/ciidbnu/radar.js
  lib/v2/ciidbnu/router.js
Labels: Auto: Route Test Complete

#7480 feat(route): add Bandcamp Weekly
  docs/en/multimedia.md
  docs/multimedia.md
  lib/router.js
  lib/v2/bandcamp/maintainer.js
  lib/v2/bandcamp/radar.js
  lib/v2/bandcamp/router.js
  lib/v2/bandcamp/tag.js
  lib/v2/bandcamp/templates/weekly.art
  lib/v2/bandcamp/weekly.js
Labels: Auto: Route Test Complete

#7582 feat(route): add orcid
  docs/en/study.md
  docs/other.md
  docs/study.md
  lib/router.js
  lib/v2/orcid/index.js
  lib/v2/orcid/maintainer.js
  lib/v2/orcid/radar.js
  lib/v2/orcid/router.js
  lib/v2/orcid/templates/description.art
Labels: Auto: Route Test Complete

#7604 feat(route): add vimeo with more
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/vimeo/category.js
  lib/v2/vimeo/channel.js
  lib/v2/vimeo/radar.js
  lib/v2/vimeo/router.js
  lib/v2/vimeo/templates/description.art
  lib/v2/vimeo/usr-videos.js
Labels: Auto: Route Test Complete

#9166 feat(radar): add bilibili live rule
  assets/radar-rules.js
  lib/radar-rules.js
  lib/v2/bilibili/radar.js
Labels: Auto: No Route Needed

#7621 feat(route): add 直播吧滚动新闻
  docs/bbs.md
  lib/router.js
  lib/routes/zhibo8/more.js
  lib/v2/zhibo8/forum.js
  lib/v2/zhibo8/maintainer.js
  lib/v2/zhibo8/more.js
  lib/v2/zhibo8/post.js
  lib/v2/zhibo8/radar.js
  lib/v2/zhibo8/router.js
Labels: Auto: Route Test Complete

#7651 fix(route):天天基金
  docs/finance.md
  lib/router.js
  lib/routes/eastmoney/user.js
  lib/v2/eastmoney/radar.js
  lib/v2/eastmoney/router.js
  lib/v2/eastmoney/ttjj/user.js
Labels: Auto: Route Test Complete

#7715 feat(route): add 秋爸日字
  docs/multimedia.md
  lib/v2/qq88/index.js
  lib/v2/qq88/maintainer.js
  lib/v2/qq88/radar.js
  lib/v2/qq88/router.js
Labels: Auto: Route Test Complete

#7777 feat(route): add 信息学院路由
  docs/university.md
  lib/router.js
  lib/v2/bjfu/grs.js
  lib/v2/bjfu/it/index.js
  lib/v2/bjfu/it/utils.js
  lib/v2/bjfu/jwc/index.js
  lib/v2/bjfu/jwc/utils.js
  lib/v2/bjfu/kjc.js
  lib/v2/bjfu/maintainer.js
  lib/v2/bjfu/news/index.js
  lib/v2/bjfu/news/utils.js
  lib/v2/bjfu/radar.js
  lib/v2/bjfu/router.js
Labels: Auto: Route Test Complete

#7795 fix(route): wsj
  lib/router.js
  lib/v2/wsj/index.js
  lib/v2/wsj/maintainer.js
  lib/v2/wsj/radar.js
  lib/v2/wsj/router.js
Labels: Auto: Route Test Complete

#7936 feat(route): add 华人头条
  docs/new-media.md
  lib/v2/52hrtt/index.js
  lib/v2/52hrtt/maintainer.js
  lib/v2/52hrtt/radar.js
  lib/v2/52hrtt/router.js
  lib/v2/52hrtt/symposium.js
Labels: Auto: Route Test Complete

#8012 fix(route): World Health Organization Newsroom
  docs/en/government.md
  docs/en/new-media.md
  docs/government.md
  docs/new-media.md
  lib/router.js
  lib/routes/who/news-room.js
  lib/v2/who/maintainer.js
  lib/v2/who/news-room.js
  lib/v2/who/news.js
  lib/v2/who/radar.js
  lib/v2/who/router.js
  lib/v2/who/speeches.js
Labels: Auto: Route Test Complete

#8024 fix(route): 36kr资讯
  docs/new-media.md
  lib/router.js
  lib/routes/36kr/news.js
  lib/v2/36kr/maintainer.js
  lib/v2/36kr/motif.js
  lib/v2/36kr/news.js
  lib/v2/36kr/newsflashes.js
  lib/v2/36kr/radar.js
  lib/v2/36kr/router.js
  lib/v2/36kr/search/article.js
  lib/v2/36kr/user.js
Labels: Auto: Route Test Complete

#8029 fix(route): Readhub
  docs/new-media.md
  lib/router.js
  lib/routes/readhub/category.js
  lib/v2/readhub/index.js
  lib/v2/readhub/maintainer.js
  lib/v2/readhub/radar.js
  lib/v2/readhub/router.js
Labels: Auto: Route Test Complete

#8061 fix: add Lofter用户文章分类 & 视频
  assets/radar-rules.js
  docs/en/social-media.md
  docs/social-media.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/lofter/posts.js
  lib/v2/lofter/maintainer.js
  lib/v2/lofter/radar.js
  lib/v2/lofter/router.js
  lib/v2/lofter/tag.js
  lib/v2/lofter/user.js
Labels: Auto: Route Test Complete

#8121 feat(route): add KBS news
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/v2/kbs/maintainer.js
  lib/v2/kbs/news.js
  lib/v2/kbs/radar.js
  lib/v2/kbs/router.js
  lib/v2/kbs/today.js
Labels: Auto: Route Test Complete

#8127 feat(route): add NL Times
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/nltimes/maintainer.js
  lib/v2/nltimes/news.js
  lib/v2/nltimes/radar.js
  lib/v2/nltimes/router.js
Labels: Auto: Route Test Complete

#7932 feat(route): add Nanjing Normal University(RSS)
  docs/university.md
  lib/v2/njnu/ceai/ceai.js
  lib/v2/njnu/ceai/utils.js
  lib/v2/njnu/jwc/jwc.js
  lib/v2/njnu/jwc/utils.js
  lib/v2/njnu/maintainer.js
  lib/v2/njnu/radar.js
  lib/v2/njnu/router.js
Labels: Auto: Route Test Complete

#9185 chore: eslint with reviews
  .github/workflows/pr-lint.yml
Labels: Auto: No Route Needed

#9028 feat(route): add A姐分享
  docs/multimedia.md
  lib/v2/abskoop/index.js
  lib/v2/abskoop/maintainer.js
  lib/v2/abskoop/radar.js
  lib/v2/abskoop/router.js
  lib/v2/abskoop/templates/description.art
Labels: Auto: Route Test Complete

#7237 feat(router): 8kcos tag
  docs/picture.md
  lib/router.js
  lib/routes/8kcos/article.js
  lib/routes/8kcos/cat.js
  lib/routes/8kcos/latest.js
  lib/v2/8kcos/article.js
  lib/v2/8kcos/cat.js
  lib/v2/8kcos/const.js
  lib/v2/8kcos/latest.js
  lib/v2/8kcos/maintainer.js
  lib/v2/8kcos/radar.js
  lib/v2/8kcos/router.js
  lib/v2/8kcos/tag.js
Labels: Auto: Route Test Complete

#8183 feat(route): 新增JavBus发行商和制作商订阅
  assets/radar-rules.js
  docs/multimedia.md
  lib/radar-rules.js
  lib/router.js
  lib/v2/javbus/genre.js
  lib/v2/javbus/home.js
  lib/v2/javbus/label.js
  lib/v2/javbus/maintainer.js
  lib/v2/javbus/radar.js
  lib/v2/javbus/router.js
  lib/v2/javbus/series.js
  lib/v2/javbus/star.js
  lib/v2/javbus/studio.js
  lib/v2/javbus/uncensored/genre.js
  lib/v2/javbus/uncensored/home.js
  lib/v2/javbus/uncensored/series.js
  lib/v2/javbus/uncensored/star.js
  lib/v2/javbus/util.js
  lib/v2/javbus/western/genre.js
  lib/v2/javbus/western/home.js
  lib/v2/javbus/western/series.js
  lib/v2/javbus/western/star.js
Labels: Auto: Route Test Complete

#8280 feat(router): dahecube 大河财立方
  docs/new-media.md
  lib/v2/dahecube/index.js
  lib/v2/dahecube/maintainer.js
  lib/v2/dahecube/radar.js
  lib/v2/dahecube/router.js
  lib/v2/dahecube/utils.js
Labels: Auto: Route Test Complete

#8421 feat: QQ 互联 SDK
  assets/radar-rules.js
  docs/program-update.md
  lib/radar-rules.js
  lib/v2/tencent/maintainer.js
  lib/v2/tencent/qq/sdk/changelog.js
  lib/v2/tencent/radar.js
  lib/v2/tencent/router.js
Labels: Auto: Route Test Complete

#8333 fix(route): 中山大学计算机学院
  docs/university.md
  lib/router.js
  lib/v2/sysu/cse.js
  lib/v2/sysu/maintainer.js
  lib/v2/sysu/radar.js
  lib/v2/sysu/router.js
Labels: Auto: Route Test Complete

#8696 feat(route): 色花堂添加版块
  Dockerfile
  docs/multimedia.md
  lib/routes/dsndsht23/index.js
Labels: Auto: No Route Needed

#8450 add: x漫画网站(https://xmanhua.com)，指定漫画更新提醒
  docs/anime.md
  lib/v2/xmanhua/index.js
  lib/v2/xmanhua/radar.js
  lib/v2/xmanhua/router.js
Labels: Auto: Route Test Complete

#8698 feat(route): 东华大学 教务处-通知公告 and 信息公开网-最新公开信息
  docs/university.md
  lib/v2/dhu/jiaowu/news.js
  lib/v2/dhu/maintainer.js
  lib/v2/dhu/radar.js
  lib/v2/dhu/router.js
  lib/v2/dhu/xxgk/news.js
Labels: Auto: Route Test Complete

#8701 fix(route): MM范
  lib/router.js
  lib/routes/95mm/tab.js
  lib/routes/95mm/tag.js
  lib/routes/95mm/utils.js
  lib/v2/95mm/category.js
  lib/v2/95mm/maintainer.js
  lib/v2/95mm/radar.js
  lib/v2/95mm/router.js
  lib/v2/95mm/tab.js
  lib/v2/95mm/tag.js
  lib/v2/95mm/templates/description.art
  lib/v2/95mm/utils.js
Labels: Auto: Route Test Complete
