Repository DIYgod/RSSHub, pull requests merged in 2022-01, with the labels that each got.

#8716 fix(build):change npm ci to yarn
  Dockerfile
Labels: core enhancement, Auto: Route No Found

#8911 Add(route): add 广州天气预警
  docs/forecast.md
  lib/v2/gov/guangdong/tqyb/sncsyjxh.js
  lib/v2/gov/guangdong/tqyb/templates/sncsyjxh.art
  lib/v2/gov/guangdong/tqyb/templates/tfxtq.art
  lib/v2/gov/guangdong/tqyb/tfxtq.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete

#8818 修复learnku descript 显示不正确和不加载内容的问题
  lib/router.js
  lib/routes/learnku/topic.js
  lib/v2/learnku/maintainer.js
  lib/v2/learnku/radar.js
  lib/v2/learnku/router.js
  lib/v2/learnku/templates/topic.art
  lib/v2/learnku/topic.js
Labels: Auto: Route Test Complete

#8721 feat(route): add 教育部考试中心日本语能力测试重要通知
  docs/study.md
  lib/router.js
  lib/v2/neea/index.js
  lib/v2/neea/jlpt.js
  lib/v2/neea/maintainer.js
  lib/v2/neea/radar.js
  lib/v2/neea/router.js
Labels: Auto: Route Test Complete

#8909 feat(route): add cnBeta
  docs/new-media.md
  lib/router.js
  lib/routes/cnbeta/home.js
  lib/routes/cnbeta/topic.js
  lib/v2/cnbeta/index.js
  lib/v2/cnbeta/maintainer.js
  lib/v2/cnbeta/radar.js
  lib/v2/cnbeta/router.js
  lib/v2/cnbeta/type.js
  lib/v2/cnbeta/utils.js
Labels: Auto: Route Test Complete

#8903 Add(route): add 南京大学
  docs/university.md
  lib/v2/nju/gra.js
  lib/v2/nju/jw.js
  lib/v2/nju/maintainer.js
  lib/v2/nju/radar.js
  lib/v2/nju/rczp.js
  lib/v2/nju/router.js
  lib/v2/nju/scit.js
  lib/v2/nju/zbb.js
  lib/v2/nju/zcc.js
Labels: Auto: Route Test Complete

#8908 fix(route):格隆汇用户文章列表
  lib/routes/gelonghui/user.js
Labels: Auto: Route Test Complete

#8904 feat(route): add 煎蛋板块
  docs/picture.md
  lib/router.js
  lib/routes/jandan/article.js
  lib/routes/jandan/pic.js
  lib/v2/jandan/index.js
  lib/v2/jandan/maintainer.js
  lib/v2/jandan/radar.js
  lib/v2/jandan/router.js
  lib/v2/jandan/section.js
  lib/v2/jandan/templates/description.art
Labels: Auto: Route Test Complete

#8902 feat(route): add Node.js News
  docs/en/programming.md
  docs/programming.md
  lib/v2/nodejs/blog.js
  lib/v2/nodejs/maintainer.js
  lib/v2/nodejs/radar.js
  lib/v2/nodejs/router.js
Labels: Auto: Route Test Complete

#8894 Add(route): add 轻小说文库首页类别 and change to v2
  docs/install/README.md
  docs/reading.md
  lib/config.js
  lib/router.js
  lib/v2/wenku8/chapter.js
  lib/v2/wenku8/index.js
  lib/v2/wenku8/maintainer.js
  lib/v2/wenku8/radar.js
  lib/v2/wenku8/router.js
  lib/v2/wenku8/volume.js
Labels: Auto: Route Test Complete

#8889 fix(route): 本地宝焦点资讯
  lib/router.js
  lib/v2/bendibao/maintainer.js
  lib/v2/bendibao/news.js
  lib/v2/bendibao/radar.js
  lib/v2/bendibao/router.js
Labels: Auto: Route Test Complete

#8884 Add(route): add: 雨苁安全博客
  docs/blog.md
  lib/v2/ddosi/category.js
  lib/v2/ddosi/index.js
  lib/v2/ddosi/maintainer.js
  lib/v2/ddosi/radar.js
  lib/v2/ddosi/router.js
Labels: Auto: Route Test Complete

#8674 fix: 网易云音乐提供Cookie，抓取需要登陆才可见的歌单 && 中纪委、外交部网站小变动
  docs/install/README.md
  docs/multimedia.md
  lib/config.js
  lib/routes/ccdi/scdc.js
  lib/routes/douban/people/status.js
  lib/routes/gov/fmprc/fyrbt.js
  lib/routes/ncm/playlist.js
  lib/routes/ncm/userplayrecords.js
Labels: Auto: Route Test Complete

#8887 Add(route): add 識媒體
  docs/new-media.md
  lib/v2/knowmedia/index.js
  lib/v2/knowmedia/maintainer.js
  lib/v2/knowmedia/radar.js
  lib/v2/knowmedia/router.js
  lib/v2/knowmedia/templates/desc.art
Labels: Auto: Route Test Complete

#8885 Add(route): add ajmide
  docs/multimedia.md
  lib/v2/ajmide/index.js
  lib/v2/ajmide/maintainer.js
  lib/v2/ajmide/radar.js
  lib/v2/ajmide/router.js
Labels: Auto: Route Test Complete

#8877 Add(route): add cnki
  docs/journal.md
  lib/v2/cnki/debut.js
  lib/v2/cnki/journals.js
  lib/v2/cnki/maintainer.js
  lib/v2/cnki/radar.js
  lib/v2/cnki/router.js
  lib/v2/cnki/templates/desc.art
Labels: Auto: Route Test Complete

#8881 Add(route): add ulapia
  docs/finance.md
  lib/v2/ulapia/index.js
  lib/v2/ulapia/maintainer.js
  lib/v2/ulapia/radar.js
  lib/v2/ulapia/research.js
  lib/v2/ulapia/router.js
Labels: Auto: Route Test Complete

#8420 fix(route): Hacker News
  docs/en/programming.md
  docs/programming.md
  lib/router.js
  lib/routes/hackernews/story.js
  lib/v2/hackernews/index.js
  lib/v2/hackernews/maintainer.js
  lib/v2/hackernews/radar.js
  lib/v2/hackernews/router.js
Labels: Auto: Route Test Complete

#8502 Feature/dev guduodata
  docs/bbs.md
  docs/government.md
  docs/other.md
  lib/v2/guduodata/daily.js
  lib/v2/guduodata/maintainer.js
  lib/v2/guduodata/radar.js
  lib/v2/guduodata/router.js
  lib/v2/guduodata/templates/daily.art
Labels: Auto: Route Test Complete

#8313 fix(route)(hackerone): make sure report is disclosed
  lib/routes/hackerone/hacktivity.js
Labels: Auto: Route Test Complete

#8330 feat(route): add Now 新聞
  docs/traditional-media.md
  lib/v2/now/maintainer.js
  lib/v2/now/news.js
  lib/v2/now/radar.js
  lib/v2/now/router.js
Labels: Auto: Route Test Complete

#8311 feat(route): add Line Today
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/line/maintainer.js
  lib/v2/line/radar.js
  lib/v2/line/router.js
  lib/v2/line/today.js
Labels: Auto: Route Test Complete

#8303 feat(route)(picuki/profile): 支持多图片/视频解析
  lib/routes/picuki/profile.js
Labels: Auto: Route Test Complete

#8130 feat(route): add KBS today
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/kbs/today.js
Labels: Auto: Route Test Complete

#8267 add cbirc repo
  docs/government.md
  lib/v2/cbirc/index.js
  lib/v2/cbirc/maintainer.js
  lib/v2/cbirc/radar.js
  lib/v2/cbirc/router.js
Labels: Auto: Route Test Complete

#8731 feat(route): add 网易新闻今日关注
  docs/new-media.md
  lib/v2/netease/maintainer.js
  lib/v2/netease/radar.js
  lib/v2/netease/router.js
  lib/v2/netease/today.js
Labels: Auto: Route Test Complete

#8706 docs: update sponsor blog's URL
  README.md
  docs/en/README.md
Labels: Auto: No Route Needed

#8702 Add Route for hexo theme fluid
  docs/blog.md
  docs/en/blog.md
  lib/router.js
  lib/routes/hexo/fluid.js
Labels: Auto: Route Test Complete

#8700 fix: remove entity decoding for item html description
  lib/middleware/parameter.js
Labels: Auto: No Route Needed

#8613 fix(docs): change en comma to cn in journal.md(cn); fix(route): /heu/job/list/tzgg
  docs/en/journal.md
  docs/journal.md
  lib/v2/heu/job/list.js
Labels: Auto: Route Test Complete

#8677 add 浙江省土地使用权网上交易系统
  docs/government.md
  lib/v2/zjgtjy/index.js
  lib/v2/zjgtjy/maintainer.js
  lib/v2/zjgtjy/radar.js
  lib/v2/zjgtjy/router.js
Labels: Auto: Route Test Complete

#8676 fix: 德阳考试中心 ssl证书过期
  lib/routes/dykszx/news.js
Labels: Auto: Route Test Complete

#8675 feat(route): add 巴伦周刊中文版
  docs/finance.md
  lib/v2/barronschina/index.js
  lib/v2/barronschina/maintainer.js
  lib/v2/barronschina/radar.js
  lib/v2/barronschina/router.js
Labels: Auto: Route Test Complete

#8672 feat(route): add 财富中文网
  docs/new-media.md
  lib/v2/fortunechina/index.js
  lib/v2/fortunechina/maintainer.js
  lib/v2/fortunechina/radar.js
  lib/v2/fortunechina/router.js
Labels: Auto: Route Test Complete

#8670 更新拷贝漫画和漫画柜的返回数量控制功能，并且修复漫画柜一些bug
  assets/radar-rules.js
  docs/anime.md
  lib/router.js
  lib/routes/copymanga/comic.js
  lib/routes/manhuagui/comic.js
  lib/routes/mhgui/comic.js
  lib/routes/twmanhuagui/comic.js
Labels: Auto: Route Test Complete

#7648 feat(route): 公众号（Telegram 频道来源）增加筛选
  docs/new-media.md
  lib/router.js
  lib/routes/tencent/wechat/tgchannel.js
Labels: Auto: Route Test Complete

#8799 Add 西安理工大学 官网主页 教务处 人事处
  docs/university.md
  lib/v2/xaut/index.js
  lib/v2/xaut/jwc.js
  lib/v2/xaut/maintainer.js
  lib/v2/xaut/radar.js
  lib/v2/xaut/router.js
  lib/v2/xaut/rsc.js
Labels: Auto: Route Test Complete

#8802 feat(route): add 日本经济新闻中文版
  docs/traditional-media.md
  lib/v2/nikkei-cn/index.js
  lib/v2/nikkei-cn/maintainer.js
  lib/v2/nikkei-cn/radar.js
  lib/v2/nikkei-cn/router.js
Labels: Auto: Route Test Complete

#8705 路由添加 金融：有知有行
  docs/finance.md
  lib/router.js
  lib/routes/youzhiyouxing/materials.js
Labels: Auto: Route Test Complete

#8772 Add lativ
  docs/shopping.md
  lib/v2/lativ/index.js
  lib/v2/lativ/maintainer.js
  lib/v2/lativ/radar.js
  lib/v2/lativ/router.js
  lib/v2/lativ/templates/detail.art
Labels: Auto: Route Test Complete

#8724 Modefy to get all content and change to V2
  lib/radar-rules.js
  lib/router.js
  lib/routes/universities/cqwu/news.js
  lib/v2/cqwu/index.js
  lib/v2/cqwu/maintainer.js
  lib/v2/cqwu/radar.js
  lib/v2/cqwu/router.js
Labels: Auto: Route Test Complete

#8756 add 423down
  docs/bbs.md
  lib/v2/423down/index.js
  lib/v2/423down/maintainer.js
  lib/v2/423down/radar.js
  lib/v2/423down/router.js
Labels: Auto: Route Test Complete

#8851 Add(route): add 深圳市委组织部 & 深圳考试院
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/shenzhen/hrss/szksy/index.js
  lib/v2/gov/shenzhen/zzb/index.js
Labels: Auto: Route Test Complete

#8860 Fix(route): fix coolapk/huati, err when item.shareUrl is undefined
  lib/routes/coolapk/utils.js
Labels: Auto: Route Test Complete

#8828 Fix futunn parser issue
  lib/routes/futunn/highlights.js
Labels: Auto: Route Test Complete

#8646 feat(route): add eventernote
  lib/radar-rules.js
  lib/router.js
  lib/v2/eventernote/actors.js
  lib/v2/eventernote/maintainer.js
  lib/v2/eventernote/radar.js
  lib/v2/eventernote/router.js
Labels: Auto: Route Test Complete

#8850 Add(route): add 国家金融与发展实验室-研究
  docs/finance.md
  lib/v2/nifd/maintainer.js
  lib/v2/nifd/radar.js
  lib/v2/nifd/research.js
  lib/v2/nifd/router.js
Labels: Auto: Route Test Complete

#8840 fix(route): 巴哈姆特文章標題亂碼修復
  lib/routes/gamer/gnn_index.js
Labels: Auto: Route Test Complete

#8053 fix(middleware): simplecc null description
  lib/middleware/parameter.js
Labels: Auto: Route Test Complete

#8128 feat(route): add github issues/pull comments
  docs/en/programming.md
  docs/programming.md
  lib/v2/github/comments.js
  lib/v2/github/maintainer.js
  lib/v2/github/radar.js
  lib/v2/github/router.js
  lib/v2/github/templates/comments-description.art
Labels: Auto: Route Test Complete

#8680 feat(route): add firefox monitor
  docs/en/other.md
  docs/other.md
  lib/v2/firefox/index.js
  lib/v2/firefox/maintainer.js
  lib/v2/firefox/radar.js
  lib/v2/firefox/router.js
  lib/v2/firefox/templates/description.art
Labels: Auto: Route Test Complete

#8678 fix(route): fix gamer anti crawl
  lib/router.js
  lib/v2/gamer/hot.js
  lib/v2/gamer/maintainer.js
  lib/v2/gamer/radar.js
  lib/v2/gamer/router.js
Labels: Auto: Route Test Complete

#8765 fix(route): Financial Times HTTPS support
  docs/traditional-media.md
  lib/router.js
  lib/routes/ft/myft.js
  lib/v2/ft/channel.js
  lib/v2/ft/maintainer.js
  lib/v2/ft/myft.js
  lib/v2/ft/radar.js
  lib/v2/ft/router.js
  lib/v2/ft/utils.js
Labels: Auto: Route Test Complete

#8755 refactor(route): hkepc migrate to v2 script standard
  lib/router.js
  lib/routes/hkepc/index.js
  lib/v2/hkepc/index.js
  lib/v2/hkepc/maintainer.js
  lib/v2/hkepc/radar.js
  lib/v2/hkepc/router.js
  lib/v2/hkepc/templates/description.art
  lib/v2/hkepc/templates/image.art
Labels: Auto: Route Test Complete

#8844 Fix(route): remove next() and change to V2
  lib/radar-rules.js
  lib/router.js
  lib/v2/telegram/blog.js
  lib/v2/telegram/channel.js
  lib/v2/telegram/maintainer.js
  lib/v2/telegram/radar.js
  lib/v2/telegram/router.js
  lib/v2/telegram/stickerpack.js
Labels: Auto: Route Test Complete

#8762 Add 包子漫画
  docs/anime.md
  lib/v2/baozimh/index.js
  lib/v2/baozimh/maintainer.js
  lib/v2/baozimh/radar.js
  lib/v2/baozimh/router.js
Labels: Auto: Route Test Complete

#8825 feat(route): add AtCoder
  docs/en/programming.md
  docs/programming.md
  lib/v2/atcoder/contest.js
  lib/v2/atcoder/maintainer.js
  lib/v2/atcoder/post.js
  lib/v2/atcoder/radar.js
  lib/v2/atcoder/router.js
Labels: Auto: Route Test Complete

#8787 add acm.ecnu.edu.cn contest list
  docs/en/programming.md
  docs/programming.md
  lib/v2/acm-ecnu/contest.js
  lib/v2/acm-ecnu/maintainer.js
  lib/v2/acm-ecnu/radar.js
  lib/v2/acm-ecnu/router.js
  lib/v2/acm-ecnu/templates/description.art
Labels: Auto: Route Test Complete

#8782 feat(route): add agirls
  docs/new-media.md
  lib/v2/agirls/index.js
  lib/v2/agirls/maintainer.js
  lib/v2/agirls/radar.js
  lib/v2/agirls/router.js
  lib/v2/agirls/templates/description.art
  lib/v2/agirls/topic.js
  lib/v2/agirls/topic_list.js
Labels: Auto: Route Test Complete

#8810 feat(route): add LogoNews
  docs/design.md
  lib/v2/logonews/index.js
  lib/v2/logonews/maintainer.js
  lib/v2/logonews/radar.js
  lib/v2/logonews/router.js
  lib/v2/logonews/templates/description.art
Labels: Auto: Route Test Complete

#8649 fix(route): 人民网
  docs/traditional-media.md
  lib/router.js
  lib/routes/people/cpc/24h.js
  lib/routes/people/env.js
  lib/routes/people/opinion.js
  lib/v2/people/index.js
  lib/v2/people/maintainer.js
  lib/v2/people/radar.js
  lib/v2/people/router.js
  lib/v2/people/xjpjh.js
Labels: Auto: Route Test Complete

#8776 fix(route): zaker wrong link
  docs/new-media.md
  lib/router.js
  lib/routes/zaker/focusread.js
  lib/routes/zaker/source.js
  lib/v2/zaker/index.js
  lib/v2/zaker/maintainer.js
  lib/v2/zaker/radar.js
  lib/v2/zaker/router.js
Labels: Auto: Route Test Complete

#8202 fix(route): hex-rays news pubDate and author
  lib/router.js
  lib/routes/hex-rays/index.js
  lib/v2/hex-rays/index.js
  lib/v2/hex-rays/maintainer.js
  lib/v2/hex-rays/radar.js
  lib/v2/hex-rays/router.js
Labels: Auto: Route Test Complete

#8880 feat(route): add 管理世界杂志社网络首发
  docs/journal.md
  lib/v2/mvm/index.js
Labels: Auto: Route Test Complete

#8707 fix(route): Odaily星球日报
  docs/new-media.md
  lib/router.js
  lib/v2/odaily/activity.js
  lib/v2/odaily/maintainer.js
  lib/v2/odaily/newsflash.js
  lib/v2/odaily/post.js
  lib/v2/odaily/radar.js
  lib/v2/odaily/router.js
  lib/v2/odaily/user.js
  lib/v2/odaily/utils.js
Labels: Auto: Route Test Complete

#8873 Add(route): add informs
  docs/en/journal.md
  docs/en/new-media.md
  docs/journal.md
  lib/v2/informs/index.js
  lib/v2/informs/maintainer.js
  lib/v2/informs/radar.js
  lib/v2/informs/router.js
  lib/v2/informs/templates/content.art
Labels: Auto: Route Test Complete

#8843 feat: add 华东理工继续教育学院新闻公告;
  docs/university.md
  lib/v2/ecust-jxjy/maintainer.js
  lib/v2/ecust-jxjy/news.js
  lib/v2/ecust-jxjy/radar.js
  lib/v2/ecust-jxjy/router.js
Labels: Auto: Route Test Complete

#8862 Add(route): add 链新闻abmedia
  docs/new-media.md
  lib/v2/abmedia/category.js
  lib/v2/abmedia/index.js
  lib/v2/abmedia/maintainer.js
  lib/v2/abmedia/radar.js
  lib/v2/abmedia/router.js
Labels: Auto: Route Test Complete

#8734 add 樊登读书福州运营中心
  docs/new-media.md
  lib/v2/dushu/fuzhou/index.js
  lib/v2/dushu/fuzhou/templates/message.art
  lib/v2/dushu/maintainer.js
  lib/v2/dushu/radar.js
  lib/v2/dushu/router.js
Labels: Auto: Route Test Complete

#8967 chore: docker build cache
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
  Dockerfile
Labels: Auto: No Route Needed

#8948 docs: fix typo
  docs/bbs.md
  docs/en/game.md
  docs/en/install/README.md
  docs/government.md
  docs/install/README.md
  docs/social-media.md
Labels: Auto: No Route Needed

#7312 feat: add nippon.com
  docs/travel.md
  lib/v2/nippon/index.js
  lib/v2/nippon/maintainer.js
  lib/v2/nippon/radar.js
  lib/v2/nippon/router.js
Labels: Auto: Route Test Complete

#8431 Ignore dependabot on forks
  .github/workflows/dependabot-fork.yml
Labels: Auto: No Route Needed
