Repository DIYgod/RSSHub, pull requests merged in 2022-08, with the labels that each got.

#10361 fix(route)(twitter): quote ignored in web API
  assets/radar-rules.js
  docs/social-media.md
  lib/radar-rules.js
  lib/router.js
  lib/v2/twitter/api_fallback_common.js
  lib/v2/twitter/developer-api/search.js
  lib/v2/twitter/developer-api/user.js
  lib/v2/twitter/followings.js
  lib/v2/twitter/keyword.js
  lib/v2/twitter/likes.js
  lib/v2/twitter/list.js
  lib/v2/twitter/maintainer.js
  lib/v2/twitter/media.js
  lib/v2/twitter/radar.js
  lib/v2/twitter/router.js
  lib/v2/twitter/trends.js
  lib/v2/twitter/user.js
  lib/v2/twitter/utils.js
  lib/v2/twitter/web-api/media.js
  lib/v2/twitter/web-api/search.js
  lib/v2/twitter/web-api/twitter-api.js
  lib/v2/twitter/web-api/twitter-got.js
  lib/v2/twitter/web-api/user.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10369 feat(route): twitter collection
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/twitter/collection.js
  lib/v2/twitter/maintainer.js
  lib/v2/twitter/radar.js
  lib/v2/twitter/router.js
  lib/v2/twitter/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10375 fix(route): infoq topic 文章获取内容错误
  lib/v2/infoq/topic.js
Labels: Auto: Route Test Complete, Route: v2

#10376 fix(route): infoq 部分文章内容解析错误导致无法生成订阅文件
  lib/v2/infoq/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10377 fix(route): javdb rankings url
  lib/v2/javdb/rankings.js
Labels: Auto: Route Test Complete, Route: v2

#10357 fix(route): 国家药品监督管理局医疗器械技术审评中心 获取全文
  lib/v2/cmde/index.js
Labels: Auto: Route Test Complete, Route: v2

#10355 feat(route): add 中国载人航天
  docs/government.md
  lib/v2/gov/cmse/fxrw.js
  lib/v2/gov/cmse/index.js
  lib/v2/gov/cmse/templates/description.art
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#10381 feat(route): 91porn author
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/91porn/author.js
  lib/v2/91porn/maintainer.js
  lib/v2/91porn/radar.js
  lib/v2/91porn/router.js
Labels: Auto: Route Test Complete, Route: v2

#10344 fix(route): fix economics
  lib/v2/economist/full.js
Labels: Auto: Route Test Complete, Route: v2

#10367 feat(route): add 白鲸出海资讯
  assets/radar-rules.js
  docs/new-media.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/baijing/index.js
  lib/v2/baijing/index.js
  lib/v2/baijing/maintainer.js
  lib/v2/baijing/radar.js
  lib/v2/baijing/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10390 fix(route): 中国载人航天飞行任务图片URL
  lib/v2/gov/cmse/fxrw.js
Labels: Auto: Route Test Complete, Route: v2

#10395 feat(route): seekingalpha
  docs/en/finance.md
  docs/finance.md
  lib/v2/seekingalpha/index.js
  lib/v2/seekingalpha/maintainer.js
  lib/v2/seekingalpha/radar.js
  lib/v2/seekingalpha/router.js
Labels: Auto: Route Test Complete, Route: v2

#10396 feat(route): 公視新聞網整理報導
  docs/traditional-media.md
  lib/v2/pts/live.js
  lib/v2/pts/maintainer.js
  lib/v2/pts/radar.js
  lib/v2/pts/router.js
  lib/v2/pts/templates/live.art
Labels: Auto: Route Test Complete, Route: v2

#10397 feat(route): leetcode.cn daily question
  docs/en/programming.md
  docs/programming.md
  lib/v2/leetcode/dailyquestion-cn.js
  lib/v2/leetcode/maintainer.js
  lib/v2/leetcode/router.js
Labels: Auto: Route Test Complete, Route: v2

#10401 fix(route): AGE 动漫路由修復
  lib/router.js
  lib/v2/agefans/detail.js
  lib/v2/agefans/maintainer.js
  lib/v2/agefans/radar.js
  lib/v2/agefans/router.js
  lib/v2/agefans/update.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10410 fix(route): 太原师范路由修复
  docs/university.md
  lib/router.js
  lib/routes/universities/tynu/tynu.js
  lib/v2/tynu/maintainer.js
  lib/v2/tynu/radar.js
  lib/v2/tynu/router.js
  lib/v2/tynu/tynu.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10413 feat(route): add 太原市人力资源和社会保障局
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/taiyuan/rsj.js
Labels: Auto: Route Test Complete, Route: v2

#10406 feat(route): add 二次元虫洞
  docs/bbs.md
  lib/v2/2cycd/index.js
  lib/v2/2cycd/maintainer.js
  lib/v2/2cycd/radar.js
  lib/v2/2cycd/router.js
Labels: Auto: Route Test Complete, Route: v2

#10403 feat(route): add 海角社区
  docs/bbs.md
  lib/v2/hjedd/article.js
  lib/v2/hjedd/hot.js
  lib/v2/hjedd/latest.js
  lib/v2/hjedd/maintainer.js
  lib/v2/hjedd/news.js
  lib/v2/hjedd/notice.js
  lib/v2/hjedd/original.js
  lib/v2/hjedd/radar.js
  lib/v2/hjedd/router.js
  lib/v2/hjedd/templates/attachment.art
  lib/v2/hjedd/top.js
  lib/v2/hjedd/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10418 feat(route): add nju大外部
  docs/university.md
  lib/v2/nju/dafls.js
  lib/v2/nju/maintainer.js
  lib/v2/nju/radar.js
  lib/v2/nju/router.js
Labels: Auto: Route Test Complete, Route: v2

#10417 fix(route): CDRHNew titleOnly
  docs/government.md
  lib/v2/fda/cdrh.js
  lib/v2/fda/radar.js
  lib/v2/fda/router.js
Labels: Auto: Route Test Complete, Route: v2

#10422 fix(route): FDA CDRHNew show update
  lib/v2/fda/cdrh.js
Labels: Auto: Route Test Complete, Route: v2

#10427 feat(route): add 萌番组
  docs/anime.md
  docs/en/anime.md
  lib/v2/bangumi/index.js
  lib/v2/bangumi/maintainer.js
  lib/v2/bangumi/radar.js
  lib/v2/bangumi/router.js
Labels: Auto: Route Test Complete, Route: v2

#10432 feat(route): add 淘股吧淘股论坛
  docs/finance.md
  lib/router.js
  lib/routes/taoguba/index.js
  lib/routes/taoguba/user.js
  lib/v2/taoguba/blog.js
  lib/v2/taoguba/index.js
  lib/v2/taoguba/maintainer.js
  lib/v2/taoguba/radar.js
  lib/v2/taoguba/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10433 feat(route): JavBus search
  docs/multimedia.md
  lib/v2/javbus/index.js
  lib/v2/javbus/maintainer.js
  lib/v2/javbus/radar.js
  lib/v2/javbus/router.js
Labels: Auto: Route Test Complete, Route: v2

#10445 docs: javbus
  docs/en/multimedia.md
  lib/v2/javbus/maintainer.js
Labels: Auto: No Route Needed, Route: v2

#10444 fix(route): 中南大学计算机学院通知
  lib/v2/csu/cse.js
Labels: Auto: Route Test Complete, Route: v2

#10446 feat(route): add 界面新闻快报
  docs/traditional-media.md
  lib/router.js
  lib/routes/jiemian/list.js
  lib/routes/jiemian/utils.js
  lib/v2/jiemian/list.js
  lib/v2/jiemian/maintainer.js
  lib/v2/jiemian/radar.js
  lib/v2/jiemian/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10449 fix(route): youtube author
  lib/v2/youtube/channel.js
  lib/v2/youtube/user.js
Labels: Auto: Route Test Complete, Route: v2

#10454 feat(route): add The News Lens 關鍵評論
  docs/new-media.md
  lib/v2/thenewslens/index.js
  lib/v2/thenewslens/maintainer.js
  lib/v2/thenewslens/radar.js
  lib/v2/thenewslens/router.js
  lib/v2/thenewslens/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10460 fix(route): douyin live
  lib/v2/douyin/live.js
Labels: Auto: Route Test Complete, Route: v2

#10456 feat: add polkadot blog
  docs/blog.md
  docs/en/blog.md
  lib/v2/polkadot/home.js
  lib/v2/polkadot/maintainer.js
  lib/v2/polkadot/radar.js
  lib/v2/polkadot/router.js
Labels: Auto: Route Test Complete, Route: v2

#10458 feat(route): add oreno3d.com - 俺の3Dエロ動画
  docs/anime.md
  docs/en/anime.md
  lib/v2/oreno3d/get_sec_page_data.js
  lib/v2/oreno3d/main.js
  lib/v2/oreno3d/maintainer.js
  lib/v2/oreno3d/radar.js
  lib/v2/oreno3d/router.js
  lib/v2/oreno3d/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10467 fix(route): appledaily change selector and url
  lib/v2/appledaily/index.js
  lib/v2/appledaily/templates/content.art
Labels: Auto: Route Test Complete, Route: v2

#10465 feat(route): 斗鱼鱼吧帖子 & 跟帖
  docs/bbs.md
  lib/router.js
  lib/v2/douyu/group.js
  lib/v2/douyu/maintainer.js
  lib/v2/douyu/post.js
  lib/v2/douyu/radar.js
  lib/v2/douyu/room.js
  lib/v2/douyu/router.js
  lib/v2/douyu/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10464 fix(route): 南京信息工程大学研究生院学科建设处
  docs/university.md
  lib/router.js
  lib/routes/universities/nuist/cas.js
  lib/routes/universities/nuist/jwc.js
  lib/routes/universities/nuist/library/lib.js
  lib/routes/universities/nuist/scs.js
  lib/routes/universities/nuist/sese.js
  lib/routes/universities/nuist/xgc.js
  lib/routes/universities/nuist/yjs.js
  lib/v2/nuist/bulletin.js
  lib/v2/nuist/cas.js
  lib/v2/nuist/jwc.js
  lib/v2/nuist/library/lib.js
  lib/v2/nuist/maintainer.js
  lib/v2/nuist/radar.js
  lib/v2/nuist/router.js
  lib/v2/nuist/scs.js
  lib/v2/nuist/sese.js
  lib/v2/nuist/xgc.js
  lib/v2/nuist/yjs.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10468 feat(route): add Rust语言中文社区招聘
  docs/programming.md
  lib/v2/rustcc/jobs.js
  lib/v2/rustcc/maintainer.js
  lib/v2/rustcc/radar.js
  lib/v2/rustcc/router.js
Labels: Auto: Route Test Complete, Route: v2

#10474 feat(route): add WizFile
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/wizfile/index.js
  lib/v2/wizfile/maintainer.js
  lib/v2/wizfile/radar.js
  lib/v2/wizfile/router.js
Labels: Auto: Route Test Complete, Route: v2

#10482 fix(route): update API for ustc/job
  lib/v2/ustc/job.js
Labels: Auto: Route Test Complete, Route: v2

#10483 fix(route): pianyuan
  lib/v2/pianyuan/search.js
  lib/v2/pianyuan/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10478 feat(route): 添加一个lovelive官网NEWS信息获取的路由
  docs/anime.md
  docs/en/anime.md
  lib/v2/lovelive-anime/maintainer.js
  lib/v2/lovelive-anime/news.js
  lib/v2/lovelive-anime/radar.js
  lib/v2/lovelive-anime/router.js
  lib/v2/lovelive-anime/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10497 fix(core): throw URL cache key
  lib/middleware/cache/index.js
  lib/v2/test/index.js
  test/middleware/cache.js
Labels: core enhancement, Auto: Route Test Complete

#10470 feat(route): 增加bilibili合集的订阅
  docs/social-media.md
  lib/v2/bilibili/collection.js
  lib/v2/bilibili/maintainer.js
  lib/v2/bilibili/radar.js
  lib/v2/bilibili/router.js
Labels: Auto: Route Test Complete, Route: v2

#10499 feat(route): 增加leetcode每日一题题解
  docs/en/programming.md
  docs/programming.md
  lib/v2/leetcode/dailyquestion-solution-cn.js
  lib/v2/leetcode/dailyquestion-solution-en.js
  lib/v2/leetcode/maintainer.js
  lib/v2/leetcode/radar.js
  lib/v2/leetcode/router.js
Labels: Auto: Route Test Complete, Route: v2

#10447 feat(routes): CSDN 博客
  docs/blog.md
  docs/en/blog.md
  lib/v2/csdn/blog.js
  lib/v2/csdn/maintainer.js
  lib/v2/csdn/radar.js
  lib/v2/csdn/router.js
Labels: Auto: Route Test Complete, Route: v2

#10504 fix(route): 斗鱼跟帖最新回复
  lib/v2/douyu/post.js
Labels: Auto: Route Test Complete, Route: v2

#10476 feat(route): segmentfault 新增了每个标签下相关的文章
  docs/programming.md
  lib/v2/segmentfault/blogs.js
  lib/v2/segmentfault/maintainer.js
  lib/v2/segmentfault/radar.js
  lib/v2/segmentfault/router.js
Labels: Auto: Route Test Complete, Route: v2

#10506 fix(route/trending): correctly label new items in trending-all-in-one & add English docs
  docs/en/other.md
  lib/v2/trending/allTrending.js
  lib/v2/trending/templates/content.art
Labels: Auto: Route Test Complete, Route: v2

#10509 fix: 支持oschina更多地址直接显示正文
  docs/blog.md
  docs/en/blog.md
  docs/en/social-media.md
  docs/programming.md
  docs/social-media.md
  lib/router.js
  lib/routes/oschina/topic.js
  lib/routes/oschina/u.js
  lib/routes/oschina/user.js
  lib/v2/oschina/maintainer.js
  lib/v2/oschina/news.js
  lib/v2/oschina/radar.js
  lib/v2/oschina/router.js
  lib/v2/oschina/topic.js
  lib/v2/oschina/user.js
Labels: Auto: No Route Needed, Auto: Route Test Complete, Route: v1, Route: v2

#10516 fix(route): github cross-referenced event cache key
  lib/v2/github/comments.js
Labels: Auto: Route Test Complete, Route: v2

#10515 fix: leetcode.com题解展示
  lib/v2/leetcode/dailyquestion-solution-en.js
Labels: Auto: Route Test Complete, Route: v2

#10517 feat(route): iwara用户订阅列表
  docs/anime.md
  docs/en/anime.md
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/v2/iwara/maintainer.js
  lib/v2/iwara/radar.js
  lib/v2/iwara/router.js
  lib/v2/iwara/subscriptions.js
  lib/v2/iwara/templates/subscriptions.art
Labels: Auto: Route Test Complete, Route: v2

#10519 feat(route): add Sensor Tower Blog
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/sensortower/blog.js
  lib/v2/sensortower/maintainer.js
  lib/v2/sensortower/radar.js
  lib/v2/sensortower/router.js
  lib/v2/sensortower/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10528 feat: 南京艺术学院研究生院
  docs/university.md
  lib/v2/nua/gra.js
  lib/v2/nua/maintainer.js
  lib/v2/nua/radar.js
  lib/v2/nua/router.js
Labels: Auto: Route Test Complete, Route: v2

#10485 fix(route): taptap, topic failed to respond
  lib/v2/taptap/templates/imagePost.art
  lib/v2/taptap/templates/videoPost.art
  lib/v2/taptap/topic.js
  lib/v2/taptap/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10532 feat: 新增china.com RSS
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/china/maintainer.js
  lib/v2/china/news/highlights/news.js
  lib/v2/china/news/military/news.js
  lib/v2/china/radar.js
  lib/v2/china/router.js
Labels: Auto: Route Test Complete, Route: v2

#10535 fix(route): 虎扑社区
  docs/bbs.md
  lib/v2/hupu/bbs.js
  lib/v2/hupu/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10539 fix(route)(twitter/keyword): wrong mode in web API
  lib/v2/twitter/maintainer.js
  lib/v2/twitter/router.js
  lib/v2/twitter/web-api/twitter-api.js
Labels: Auto: Route Test Complete, Route: v2

#10545 fix(route): iwara subscriptions
  lib/v2/iwara/subscriptions.js
Labels: Auto: Route Test Complete, Route: v2

#10553 feat(route): add 战争雷霆英文官网-新闻版块
  docs/en/game.md
  docs/game.md
  lib/v2/warthunder/maintainer.js
  lib/v2/warthunder/news.js
  lib/v2/warthunder/radar.js
  lib/v2/warthunder/router.js
  lib/v2/warthunder/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10554 feat(route): plurk
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/plurk/anonymous.js
  lib/v2/plurk/hotlinks.js
  lib/v2/plurk/maintainer.js
  lib/v2/plurk/news.js
  lib/v2/plurk/radar.js
  lib/v2/plurk/router.js
  lib/v2/plurk/search.js
  lib/v2/plurk/top.js
  lib/v2/plurk/topic.js
  lib/v2/plurk/user.js
  lib/v2/plurk/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10555 fix(route): 联合早报图片大于两张时重定向
  lib/v2/zaobao/util.js
Labels: Auto: Route Test Complete, Route: v2

#10556 fix(route): 日本经济新闻中文版
  lib/v2/nikkei-cn/index.js
Labels: Auto: Route Test Complete, Route: v2

#10550 feat(route): add 中文播客榜
  docs/multimedia.md
  lib/v2/xyzrank/index.js
  lib/v2/xyzrank/maintainer.js
  lib/v2/xyzrank/radar.js
  lib/v2/xyzrank/router.js
  lib/v2/xyzrank/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10563 fix(route): 战争雷霆英文官网-新闻版块 时区问题
  docs/en/game.md
  docs/game.md
  lib/v2/warthunder/news.js
Labels: Auto: Route Test Complete, Route: v2

#10559 feat(route): add アニメ新番組
  docs/anime.md
  lib/v2/bangumi/maintainer.js
  lib/v2/bangumi/online.js
  lib/v2/bangumi/radar.js
  lib/v2/bangumi/router.js
  lib/v2/bangumi/templates/image.art
Labels: Auto: Route Test Complete, Route: v2

#10560 feat(route): add 虎嗅24小时
  docs/new-media.md
  lib/v2/huxiu/maintainer.js
  lib/v2/huxiu/moment.js
  lib/v2/huxiu/radar.js
  lib/v2/huxiu/router.js
  lib/v2/huxiu/templates/moment.art
Labels: Auto: Route Test Complete, Route: v2

#10566 feat(route): meteor
  docs/bbs.md
  lib/v2/meteor/boards.js
  lib/v2/meteor/index.js
  lib/v2/meteor/maintainer.js
  lib/v2/meteor/radar.js
  lib/v2/meteor/router.js
  lib/v2/meteor/templates/desc.art
  lib/v2/meteor/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10571 feat(route): add Macfilos Blog
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/macfilos/blog.js
  lib/v2/macfilos/maintainer.js
  lib/v2/macfilos/radar.js
  lib/v2/macfilos/router.js
Labels: Auto: Route Test Complete, Route: v2

#10579 feat(utils): nga post 增加 author 字段，适配部分富文本样式
  lib/v2/nga/post.js
Labels: Auto: Route Test Complete, Route: v2

#10582 feat(route): islander
  docs/new-media.md
  docs/traditional-media.md
  lib/v2/islander/maintainer.js
  lib/v2/islander/radar.js
  lib/v2/islander/router.js
  lib/v2/islander/search.js
  lib/v2/islander/top30event.js
  lib/v2/zaobao/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#10586 fix(route): nga 解析失败
  lib/v2/nga/post.js
Labels: Auto: Route Test Complete, Route: v2

#10588 feat(route): remnote
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/remnote/changelog.js
  lib/v2/remnote/maintainer.js
  lib/v2/remnote/radar.js
  lib/v2/remnote/router.js
Labels: Auto: Route Test Complete, Route: v2

#10591 feat(route): 中国互联网络信息中心新闻中心
  docs/government.md
  lib/v2/gov/cnnic/index.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#10549 feat(route): 为oreno3d路由添加最大抓取页面功能
  docs/anime.md
  docs/en/anime.md
  lib/v2/oreno3d/main.js
  lib/v2/oreno3d/maintainer.js
  lib/v2/oreno3d/router.js
Labels: Auto: Route Test Complete, Route: v2

#10596 feat(route): add taptap.io / TapTap 国际版
  docs/en/game.md
  docs/game.md
  lib/v2/taptap/changelog.js
  lib/v2/taptap/maintainer.js
  lib/v2/taptap/radar.js
  lib/v2/taptap/review.js
  lib/v2/taptap/router.js
  lib/v2/taptap/topic.js
  lib/v2/taptap/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10607 feat: 为 E 站增加 star cookie
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/v2/ehentai/ehapi.js
Labels: Auto: No Route Needed, Route: v2

#10605 fix(route): 贴吧帖子动态功能出错
  assets/radar-rules.js
  docs/bbs.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/tieba/forum.js
  lib/routes/tieba/user.js
  lib/v2/baidu/maintainer.js
  lib/v2/baidu/radar.js
  lib/v2/baidu/router.js
  lib/v2/baidu/templates/forum.art
  lib/v2/baidu/templates/post.art
  lib/v2/baidu/tieba/forum.js
  lib/v2/baidu/tieba/post.js
  lib/v2/baidu/tieba/user.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10609 feat(route): add 厦门网数字媒体
  docs/traditional-media.md
  lib/v2/xmnn/epaper.js
  lib/v2/xmnn/maintainer.js
  lib/v2/xmnn/radar.js
  lib/v2/xmnn/router.js
Labels: Auto: Route Test Complete, Route: v2

#10612 fix(route): diershoubing
  docs/game.md
  lib/router.js
  lib/routes/erbingapp/news.js
  lib/v2/diershoubing/maintainer.js
  lib/v2/diershoubing/news.js
  lib/v2/diershoubing/radar.js
  lib/v2/diershoubing/router.js
  lib/v2/diershoubing/templates/news.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10613 fix(route): bangumi.online
  lib/v2/bangumi/online.js
Labels: Auto: Route Test Complete, Route: v2

#10621 perf(Dockerfile): speed up build
  Dockerfile
Labels: Auto: No Route Needed

#10623 feat(route): add AI财经社
  docs/finance.md
  lib/v2/aicaijing/index.js
  lib/v2/aicaijing/maintainer.js
  lib/v2/aicaijing/radar.js
  lib/v2/aicaijing/router.js
  lib/v2/aicaijing/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10622 fix(route): 路由在 Thumbnail 布局下无效
  lib/v2/ehentai/ehapi.js
  lib/v2/ehentai/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#10624 feat(route): vom
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/vom/featured.js
  lib/v2/vom/maintainer.js
  lib/v2/vom/radar.js
  lib/v2/vom/router.js
Labels: Auto: Route Test Complete, Route: v2

#10626 feat(route): add 艾瑞咨询周度市场观察
  docs/other.md
  lib/v2/iresearch/maintainer.js
  lib/v2/iresearch/radar.js
  lib/v2/iresearch/router.js
  lib/v2/iresearch/templates/weekly.art
  lib/v2/iresearch/weekly.js
Labels: Auto: Route Test Complete, Route: v2

#10627 fix: trow.cc session cookie
  lib/v2/trow/portal.js
Labels: Auto: Route Test Complete, Route: v2

#10640 feat(route): xjtu dyyy
  docs/university.md
  lib/v2/xjtu/dyyy/index.js
  lib/v2/xjtu/maintainer.js
  lib/v2/xjtu/radar.js
  lib/v2/xjtu/router.js
Labels: Auto: Route Test Complete, Route: v2

#10641 fix(route): mofcom
  docs/government.md
  lib/router.js
  lib/routes/mofcom/article.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/mofcom/article.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10642 feat(route): stheadline std
  docs/traditional-media.md
  lib/v2/stheadline/maintainer.js
  lib/v2/stheadline/radar.js
  lib/v2/stheadline/router.js
  lib/v2/stheadline/std/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#10644 fix(route): tieba forum split
  lib/v2/baidu/tieba/forum.js
Labels: Auto: Route Test Complete, Route: v2

#10647 feat(route): pixiv novels
  assets/radar-rules.js
  docs/en/social-media.md
  docs/social-media.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/pixiv/token.js
  lib/v2/nuaa/maintainer.js
  lib/v2/nuaa/radar.js
  lib/v2/pixiv/api/getBookmarks.js
  lib/v2/pixiv/api/getIllustFollows.js
  lib/v2/pixiv/api/getIllusts.js
  lib/v2/pixiv/api/getRanking.js
  lib/v2/pixiv/api/getUserDetail.js
  lib/v2/pixiv/api/searchIllust.js
  lib/v2/pixiv/api/searchPopularIllust.js
  lib/v2/pixiv/bookmarks.js
  lib/v2/pixiv/constants.js
  lib/v2/pixiv/illustfollow.js
  lib/v2/pixiv/maintainer.js
  lib/v2/pixiv/novels.js
  lib/v2/pixiv/pixiv-got.js
  lib/v2/pixiv/radar.js
  lib/v2/pixiv/ranking.js
  lib/v2/pixiv/router.js
  lib/v2/pixiv/search.js
  lib/v2/pixiv/token.js
  lib/v2/pixiv/user.js
  lib/v2/pixiv/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10649 fix(route): 增加BBC和微信（feeddd获取）的favicon
  lib/routes/bbc/index.js
  lib/v2/wechat/feeddd.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10643 feat(route): add 起点作者页面的作品
  assets/radar-rules.js
  docs/reading.md
  lib/radar-rules.js
  lib/router.js
  lib/v2/qidian/author.js
  lib/v2/qidian/chapter.js
  lib/v2/qidian/forum.js
  lib/v2/qidian/free-next.js
  lib/v2/qidian/free.js
  lib/v2/qidian/maintainer.js
  lib/v2/qidian/radar.js
  lib/v2/qidian/router.js
  lib/v2/qidian/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10645 feat(route): Add Love Live Topics Route
  docs/anime.md
  docs/en/anime.md
  lib/v2/lovelive-anime/maintainer.js
  lib/v2/lovelive-anime/radar.js
  lib/v2/lovelive-anime/router.js
  lib/v2/lovelive-anime/topics.js
Labels: Auto: Route Test Complete, Route: v2

#10655 refactor(route): migrate greasyfork to v2
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/v2/greasyfork/maintainer.js
  lib/v2/greasyfork/radar.js
  lib/v2/greasyfork/router.js
  lib/v2/greasyfork/scripts.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10656 fix(route): 南京航空航天大学路由缓存
  docs/university.md
  lib/v2/nuaa/college/cae.js
  lib/v2/nuaa/college/cs.js
  lib/v2/nuaa/jwc/jwc.js
  lib/v2/nuaa/maintainer.js
  lib/v2/nuaa/yjsy/yjsy.js
Labels: Auto: Route Test Complete, Route: v2

#10658 feat(route): add 華視新聞網
  docs/traditional-media.md
  lib/v2/cts/maintainer.js
  lib/v2/cts/news.js
  lib/v2/cts/radar.js
  lib/v2/cts/router.js
Labels: Auto: Route Test Complete, Route: v2

#10659 chore: update meilisearch settings
  .github/workflows/scrape.yml
  package.json
  scripts/docs-scraper/settings.js
  yarn.lock
Labels: dependencies, Auto: No Route Needed

#10654 feat(route): add 聯合新聞網
  docs/traditional-media.md
  lib/v2/udn/breaking-news.js
  lib/v2/udn/maintainer.js
  lib/v2/udn/radar.js
  lib/v2/udn/router.js
  lib/v2/udn/templates/figure.art
Labels: Auto: Route Test Complete, Route: v2
