Repository DIYgod/RSSHub, pull requests merged in 2022-03, with the labels that each got.

#9235 dep: revert chrome version pinning
  docker-compose.yml
  scripts/ansible/rsshub.yaml
Labels: Auto: No Route Needed

#8780 feat(route): add 杭州电子科技大学 计算机学院 通知
  docs/university.md
  lib/v2/hdu/cs/index.js
  lib/v2/hdu/maintainer.js
  lib/v2/hdu/radar.js
  lib/v2/hdu/router.js
Labels: Auto: Route Test Complete

#8879 feat(route): 增加HelloGithub的RSS订阅
  docs/programming.md
  lib/v2/hellogithub/article.js
  lib/v2/hellogithub/maintainer.js
  lib/v2/hellogithub/month.js
  lib/v2/hellogithub/radar.js
  lib/v2/hellogithub/ranking.js
  lib/v2/hellogithub/router.js
Labels: Auto: Route Test Complete

#8934 feat(route): add BBC News Labs
  docs/en/programming.md
  docs/programming.md
  lib/v2/bbcnewslabs/maintainer.js
  lib/v2/bbcnewslabs/news.js
  lib/v2/bbcnewslabs/radar.js
  lib/v2/bbcnewslabs/router.js
Labels: en docs, Auto: Route Test Complete

#8935 feat(route): add Bitmovin blogs
  docs/en/programming.md
  docs/programming.md
  lib/v2/bitmovin/blog.js
  lib/v2/bitmovin/maintainer.js
  lib/v2/bitmovin/radar.js
  lib/v2/bitmovin/router.js
Labels: en docs, Auto: Route Test Complete

#8950 feat(route): add dayanzai
  docs/blog.md
  lib/v2/dayanzai/index.js
  lib/v2/dayanzai/maintainer.js
  lib/v2/dayanzai/radar.js
  lib/v2/dayanzai/router.js
Labels: Auto: Route Test Complete

#7246 feat: add google sites recent changes
  docs/blog.md
  docs/en/blog.md
  lib/v2/google/maintainer.js
  lib/v2/google/router.js
  lib/v2/google/sitesRecentChanges.js
Labels: Auto: Route Test Complete

#8961 fix njupt posts with url redirections
  lib/router.js
  lib/routes/universities/njupt/jwc.js
  lib/v2/njupt/jwc.js
  lib/v2/njupt/maintainer.js
  lib/v2/njupt/radar.js
  lib/v2/njupt/router.js
Labels: Auto: No Route Needed

#7303 feat(route): add 中国工人出版社新闻中心
  docs/new-media.md
  lib/v2/wp-china/maintainer.js
  lib/v2/wp-china/news.js
  lib/v2/wp-china/radar.js
  lib/v2/wp-china/router.js
Labels: Auto: Route Test Complete

#9339 chore: bump lru-cache from 6.0.0 to 7.7.1
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/middleware/cache/index.js
  lib/middleware/cache/memory.js
  package.json
  yarn.lock
Labels: dependencies, core enhancement

#9227 feat(core): caching enhancements
  docs/en/joinus/quick-start.md
  docs/joinus/quick-start.md
  lib/middleware/cache/index.js
  lib/middleware/cache/redis.js
Labels: core enhancement, Auto: No Route Needed

#9286 fix(core): non-collapsed feed fields content
  docs/en/joinus/quick-start.md
  docs/joinus/quick-start.md
  lib/middleware/template.js
  lib/utils/common-utils.js
Labels: core enhancement

#9365 fix(utils): parse relative dates with multiple time units
  docs/en/joinus/pub-date.md
  lib/utils/parse-date.js
  test/utils/parse-date.js
Labels: core enhancement

#7555 fix(route): geo daily photo
  docs/en/picture.md
  docs/picture.md
  docs/travel.md
  lib/router.js
  lib/routes/natgeo/dailyphoto.js
  lib/v2/natgeo/dailyphoto.js
  lib/v2/natgeo/dailyselection.js
  lib/v2/natgeo/maintainer.js
  lib/v2/natgeo/natgeo.js
  lib/v2/natgeo/radar.js
  lib/v2/natgeo/router.js
  lib/v2/natgeo/templates/dailyPhoto.art
Labels: Auto: Route Test Complete
