Repository DIYgod/RSSHub, pull requests merged in 2022-10, with the labels that each got.

#10976 fix: picuki video src and add the controls
  lib/v2/picuki/profile.js
  lib/v2/picuki/templates/video.art
Labels: Auto: Route Test Complete, Route: v2

#10978 feat(route): add Aljazeera半岛电视台
  docs/en/traditional-media.md
  docs/new-media.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/aljazeera/news.js
  lib/v2/aljazeera/index.js
  lib/v2/aljazeera/maintainer.js
  lib/v2/aljazeera/radar.js
  lib/v2/aljazeera/router.js
  lib/v2/aljazeera/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10980 fix(route): hacker news
  lib/v2/hackernews/index.js
Labels: Auto: Route Test Complete, Route: v2

#10981 feat(route): creative-comic
  docs/anime.md
  lib/v2/creative-comic/book.js
  lib/v2/creative-comic/maintainer.js
  lib/v2/creative-comic/radar.js
  lib/v2/creative-comic/router.js
  lib/v2/creative-comic/templates/chapter.art
  lib/v2/creative-comic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10970 feat: 添加西南石油大学财经学院和信息学院
  docs/university.md
  lib/v2/swpu/cjxy.js
  lib/v2/swpu/is.js
  lib/v2/swpu/maintainer.js
  lib/v2/swpu/radar.js
  lib/v2/swpu/router.js
Labels: Auto: Route Test Complete, Route: v2

#10984 feat(route): add 雪球今日话题
  docs/finance.md
  lib/v2/xueqiu/maintainer.js
  lib/v2/xueqiu/radar.js
  lib/v2/xueqiu/router.js
  lib/v2/xueqiu/today.js
Labels: Auto: Route Test Complete, Route: v2

#10995 fix(zhihu): a tag without href
  lib/v2/zhihu/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10993 feat(route): 得到用户主页
  docs/new-media.md
  lib/router.js
  lib/routes/dedao/knowledge.js
  lib/v2/dedao/index.js
  lib/v2/dedao/knowledge.js
  lib/v2/dedao/list.js
  lib/v2/dedao/maintainer.js
  lib/v2/dedao/radar.js
  lib/v2/dedao/router.js
  lib/v2/dedao/templates/knowledge.art
  lib/v2/dedao/templates/user.art
  lib/v2/dedao/user.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10997 feat(route): add "over" section on hacker news
  docs/en/programming.md
  docs/programming.md
  lib/v2/hackernews/index.js
Labels: Auto: Route Test Complete, Route: v2

#11000 feat(route): add HelloGitHub
  docs/programming.md
  lib/v2/hellogithub/article.js
  lib/v2/hellogithub/index.js
  lib/v2/hellogithub/maintainer.js
  lib/v2/hellogithub/month.js
  lib/v2/hellogithub/radar.js
  lib/v2/hellogithub/ranking.js
  lib/v2/hellogithub/report.js
  lib/v2/hellogithub/router.js
  lib/v2/hellogithub/templates/description.art
  lib/v2/hellogithub/templates/report.art
  lib/v2/hellogithub/templates/volume.art
  lib/v2/hellogithub/volume.js
Labels: Auto: Route Test Complete, Route: v2

#11009 fix(route): 虎扑帖子视频图片
  lib/v2/hupu/all.js
  lib/v2/hupu/bbs.js
  lib/v2/hupu/templates/description.art
  lib/v2/hupu/templates/match.art
Labels: Auto: Route Test Complete, Route: v2

#11011 fix(route): cw cookie
  lib/v2/cw/master.js
  lib/v2/cw/sub.js
  lib/v2/cw/today.js
  lib/v2/cw/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11021 fix(dockerfile): add missing librsvg2 for arm64/v7
  Dockerfile
Labels: Auto: No Route Needed

#11022 fix(route): zhihu x-zse-96 v3
  Dockerfile
  lib/v2/zhihu/activities.js
  lib/v2/zhihu/execlib/g_encrypt_3.js
  lib/v2/zhihu/execlib/hash.js
  lib/v2/zhihu/execlib/x-zse-96_v3.js
  package.json
  yarn.lock
Labels: dependencies, Auto: Route Test Complete, Route: v2

#11026 feat(route): add 凤凰网资讯
  docs/new-media.md
  lib/v2/ifeng/maintainer.js
  lib/v2/ifeng/news.js
  lib/v2/ifeng/radar.js
  lib/v2/ifeng/router.js
  lib/v2/ifeng/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11027 build(docker): fix chromium favour
  Dockerfile
Labels: Auto: Route Test Complete

#11029 fix(route): 云听直播标题日期
  lib/v2/radio/zhibo.js
Labels: Auto: Route Test Complete, Route: v2

#11028 fix(route): 云听专辑获取最新节目
  lib/v2/radio/album.js
Labels: Auto: Route Test Complete, Route: v2

#11043 fix(route): docschina js weekly
  docs/programming.md
  lib/router.js
  lib/routes/docschina/jsweekly.js
  lib/v2/docschina/jsweekly.js
  lib/v2/docschina/maintainer.js
  lib/v2/docschina/radar.js
  lib/v2/docschina/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11044 fix(route): wise
  docs/en/other.md
  docs/other.md
  lib/router.js
  lib/routes/transferwise/pair.js
  lib/v2/wise/maintainer.js
  lib/v2/wise/pair.js
  lib/v2/wise/radar.js
  lib/v2/wise/router.js
  lib/v2/wise/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11045 fix(route): 奇葩买家秀
  docs/picture.md
  lib/v2/qipamaijia/index.js
  lib/v2/qipamaijia/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#11051 fix(route): link research
  docs/en/study.md
  docs/study.md
  lib/router.js
  lib/v2/linkresearcher/index.js
  lib/v2/linkresearcher/maintainer.js
  lib/v2/linkresearcher/radar.js
  lib/v2/linkresearcher/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11052 fix(route): mckinsey insights
  docs/finance.md
  lib/router.js
  lib/routes/mckinsey/index.js
  lib/v2/mckinsey/cn/categoryMap.js
  lib/v2/mckinsey/cn/index.js
  lib/v2/mckinsey/radar.js
  lib/v2/mckinsey/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11057 feat(route): add Good.news
  docs/new-media.md
  lib/v2/good/index.js
  lib/v2/good/maintainer.js
  lib/v2/good/radar.js
  lib/v2/good/router.js
Labels: Auto: Route Test Complete, Route: v2

#11060 fix(route): zhihu daily
  lib/v2/zhihu/daily.js
Labels: Auto: Route Test Complete, Route: v2

#11063 feat(route)!: remove logseq
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/logseq/changelog.js
Labels: Auto: No Route Needed, Route: v1

#11064 fix(route): luogu
  docs/programming.md
  lib/router.js
  lib/routes/luogu/contest.js
  lib/routes/luogu/daily.js
  lib/routes/luogu/userFeed.js
  lib/v2/luogu/contest.js
  lib/v2/luogu/daily.js
  lib/v2/luogu/maintainer.js
  lib/v2/luogu/radar.js
  lib/v2/luogu/router.js
  lib/v2/luogu/userFeed.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11065 fix(route): lofter img src
  lib/v2/lofter/user.js
Labels: Auto: Route Test Complete, Route: v2

#11067 feat(route): add 连享会
  docs/programming.md
  lib/v2/lianxh/index.js
  lib/v2/lianxh/maintainer.js
  lib/v2/lianxh/radar.js
  lib/v2/lianxh/router.js
Labels: Auto: Route Test Complete, Route: v2

#11070 fix(route): taoguba
  lib/v2/taoguba/blog.js
  lib/v2/taoguba/index.js
Labels: Auto: Route Test Complete, Route: v2

#11071 fix(route): ft
  lib/v2/ft/maintainer.js
  lib/v2/ft/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11072 fix(route): lkong
  docs/bbs.md
  lib/v2/lkong/forum.js
Labels: Auto: Route Test Complete, Route: v2

#11073 fix(route): reuters
  lib/v2/reuters/common.js
  lib/v2/reuters/investigates.js
  lib/v2/reuters/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11074 fix(route): mtime
  docs/multimedia.md
  lib/v2/mtime/maintainer.js
  lib/v2/mtime/news.js
  lib/v2/mtime/radar.js
Labels: Auto: Route Test Complete, Route: v2

#11075 fix(route): jseea
  docs/government.md
  docs/study.md
  lib/router.js
  lib/routes/gov/jiangsu/eea.js
  lib/v2/gov/radar.js
  lib/v2/jseea/maintainer.js
  lib/v2/jseea/news.js
  lib/v2/jseea/radar.js
  lib/v2/jseea/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11081 fix(route): science
  docs/en/journal.md
  docs/en/study.md
  docs/journal.md
  docs/study.md
  lib/routes/cell/cover.js
  lib/v2/nature/maintainer.js
  lib/v2/science/current.js
  lib/v2/science/maintainer.js
  lib/v2/science/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11061 feat: 为蜻蜓FM输出播客源
  docs/multimedia.md
  lib/router.js
  lib/v2/qingting/channel.js
  lib/v2/qingting/maintainer.js
  lib/v2/qingting/podcast.js
  lib/v2/qingting/radar.js
  lib/v2/qingting/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11085 feat(route): youtube custom url
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/youtube/custom.js
  lib/v2/youtube/radar.js
  lib/v2/youtube/router.js
Labels: Auto: Route Test Complete, Route: v2

#11076 fix(route): 修复快递100快递订单追踪路由
  assets/radar-rules.js
  lib/radar-rules.js
  lib/router.js
  lib/v2/kuaidi100/index.js
  lib/v2/kuaidi100/maintainer.js
  lib/v2/kuaidi100/radar.js
  lib/v2/kuaidi100/router.js
  lib/v2/kuaidi100/supported_company.js
  lib/v2/kuaidi100/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11092 feat(route): thecatcity
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/mckinsey/radar.js
  lib/v2/tesla/maintainer.js
  lib/v2/tesla/radar.js
  lib/v2/thecatcity/index.js
  lib/v2/thecatcity/maintainer.js
  lib/v2/thecatcity/radar.js
  lib/v2/thecatcity/router.js
  lib/v2/thecatcity/termsMap.js
Labels: Auto: Route Test Complete, Route: v2

#11097 fix(route): fix warthunder route css selector issue
  lib/v2/warthunder/news.js
Labels: Auto: Route Test Complete, Route: v2

#11091 feat(route): Add La Jornada news
  docs/en/traditional-media.md
  lib/v2/jornada/index.js
  lib/v2/jornada/maintainer.js
  lib/v2/jornada/radar.js
  lib/v2/jornada/router.js
Labels: Auto: Route Test Complete, Route: v2

#11100 fix(route): fix pubdate for scmp
  docs/en/traditional-media.md
  lib/router.js
  lib/v2/scmp/index.js
  lib/v2/scmp/maintainer.js
  lib/v2/scmp/radar.js
  lib/v2/scmp/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11117 feat(route): add nju 校医院/ITSC
  docs/university.md
  lib/v2/nju/hosptial.js
  lib/v2/nju/itsc.js
  lib/v2/nju/maintainer.js
  lib/v2/nju/radar.js
  lib/v2/nju/router.js
Labels: Auto: Route Test Complete, Route: v2

#11119 fix: nju itsc 时间解析
  lib/v2/nju/itsc.js
Labels: Auto: Route Test Complete, Route: v2

#11125 feat: 添加南京晓庄学院
  docs/university.md
  lib/v2/njxzc/home.js
  lib/v2/njxzc/maintainer.js
  lib/v2/njxzc/radar.js
  lib/v2/njxzc/router.js
Labels: Auto: Route Test Complete, Route: v2

#10977 fix: 修复 书趣阁 路由失效 / fix shuquge route failure
  docs/reading.md
  lib/router.js
  lib/routes/novel/shuquge.js
Labels: Auto: Route Test Complete, Route: v1

#11114 fix: smzdm ranking error
  assets/radar-rules.js
  docs/shopping.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/smzdm/article.js
  lib/routes/smzdm/baoliao.js
  lib/routes/smzdm/haowen.js
  lib/routes/smzdm/haowen_fenlei.js
  lib/routes/smzdm/keyword.js
  lib/v2/smzdm/article.js
  lib/v2/smzdm/baoliao.js
  lib/v2/smzdm/haowen.js
  lib/v2/smzdm/haowen_fenlei.js
  lib/v2/smzdm/keyword.js
  lib/v2/smzdm/maintainer.js
  lib/v2/smzdm/radar.js
  lib/v2/smzdm/ranking.js
  lib/v2/smzdm/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11136 fix(route): kemono.party parse failure (#11112)
  lib/v2/kemono/index.js
Labels: Auto: Route Test Complete, Route: v2

#11137 fix: 什么值得买关键词时间解析
  lib/v2/smzdm/keyword.js
  lib/v2/smzdm/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#11155 fix: Codeforces 修复在`/codeforces/contests`在ttrss中无法显示正文内容的Bug。
  lib/v2/codeforces/templates/contest.art
Labels: Auto: Route Test Complete

#11162 fix(route): 公視新聞網作者
  lib/v2/pts/index.js
Labels: Auto: Route Test Complete, Route: v2

#11115 fix: yuanshen news error
  docs/game.md
  lib/router.js
  lib/routes/yuanshen/index.js
  lib/v2/mihoyo/maintainer.js
  lib/v2/mihoyo/radar.js
  lib/v2/mihoyo/router.js
  lib/v2/mihoyo/ys/news.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11168 fix(route): ComicsKingdom changed their UI elements
  docs/en/anime.md
  docs/en/picture.md
  lib/router.js
  lib/v2/comicskingdom/index.js
  lib/v2/comicskingdom/maintainer.js
  lib/v2/comicskingdom/radar.js
  lib/v2/comicskingdom/router.js
  lib/v2/comicskingdom/templates/desc.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11166 feat(route): add 四川广播电视台电视回放
  docs/traditional-media.md
  lib/v2/sctv/maintainer.js
  lib/v2/sctv/programme.js
  lib/v2/sctv/radar.js
  lib/v2/sctv/router.js
  lib/v2/sctv/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11128 feat(route): 添加Lovelive官网Schedule页的路由
  docs/anime.md
  docs/en/anime.md
  lib/v2/lovelive-anime/maintainer.js
  lib/v2/lovelive-anime/radar.js
  lib/v2/lovelive-anime/router.js
  lib/v2/lovelive-anime/schedules.js
  lib/v2/lovelive-anime/templates/scheduleDesc.art
Labels: Auto: Route Test Complete, Route: v2
