Repository DIYgod/RSSHub, pull requests merged in 2022-09, with the labels that each got.

#10662 feat(route): add greasyfork script version history and script feedback
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/greasyfork/feedback.js
  lib/v2/greasyfork/maintainer.js
  lib/v2/greasyfork/radar.js
  lib/v2/greasyfork/router.js
  lib/v2/greasyfork/versions.js
Labels: Auto: Route Test Complete, Route: v2

#10672 fix(route): fix zhihu/posts title
  lib/v2/zhihu/posts.js
Labels: Auto: Route Test Complete, Route: v2

#10673 feat(route): add 学工部
  docs/university.md
  lib/v2/bnu/dwxgb.js
  lib/v2/bnu/radar.js
  lib/v2/bnu/router.js
Labels: Auto: Route Test Complete, Route: v2

#10671 feat(route): add 壹蘋新聞網
  docs/new-media.md
  lib/v2/nextapple/maintainer.js
  lib/v2/nextapple/radar.js
  lib/v2/nextapple/realtime.js
  lib/v2/nextapple/router.js
Labels: Auto: Route Test Complete, Route: v2

#10674 feat(route): add 英雄联盟台服新闻
  docs/game.md
  lib/v2/loltw/maintainer.js
  lib/v2/loltw/news.js
  lib/v2/loltw/radar.js
  lib/v2/loltw/router.js
  lib/v2/loltw/templates/news.art
Labels: Auto: Route Test Complete, Route: v2

#10678 feat(route): add X岛匿名版
  docs/bbs.md
  lib/router.js
  lib/routes/adnmb/index.js
  lib/v2/nmbxd1/forum.js
  lib/v2/nmbxd1/maintainer.js
  lib/v2/nmbxd1/radar.js
  lib/v2/nmbxd1/router.js
  lib/v2/nmbxd1/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10680 fix(route): mirror.xyz
  lib/v2/mirror/index.js
Labels: Auto: Route Test Complete, Route: v2

#10681 fix(route): bilibili vsearch
  lib/v2/bilibili/vsearch.js
Labels: Auto: Route Test Complete, Route: v2

#10682 fix(route): github pulls labels
  docs/en/programming.md
  docs/programming.md
  lib/v2/github/pulls.js
  lib/v2/github/router.js
Labels: Auto: Route Test Complete, Route: v2

#10690 fix(route): producthunt rss failure #10688
  lib/v2/producthunt/today.js
Labels: Auto: Route Test Complete, Route: v2

#10507 feat(route): 特斯拉价格
  docs/shopping.md
  lib/v2/tesla/price/get-price.js
  lib/v2/tesla/price/index.js
  lib/v2/tesla/price/maintainer.js
  lib/v2/tesla/price/radar.js
  lib/v2/tesla/router.js
Labels: Auto: Route Test Complete, Route: v2

#10695 fix(route): nga 匿名帖子获取失败
  lib/v2/nga/post.js
  lib/v2/nga/radar.js
Labels: Auto: Route Test Complete, Route: v2

#10697 fix(route): 壹蘋新聞網獲取失敗
  lib/v2/nextapple/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#10700 fix(route): github topic
  lib/v2/github/topic.js
Labels: Auto: Route Test Complete, Route: v2

#10704 feat(route): add 全国哲学社会科学工作办公室
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/nopss/index.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#10705 fix(route): dcard
  assets/radar-rules.js
  docs/bbs.md
  lib/radar-rules.js
  lib/router.js
  lib/v2/dcard/maintainer.js
  lib/v2/dcard/radar.js
  lib/v2/dcard/router.js
  lib/v2/dcard/section.js
  lib/v2/dcard/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10706 fix(route): 35photo genre more images
  lib/v2/35photo/genre.js
  lib/v2/35photo/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10707 feat(route): rarehistoricalphotos
  docs/en/picture.md
  lib/v2/rarehistoricalphotos/index.js
  lib/v2/rarehistoricalphotos/maintainer.js
  lib/v2/rarehistoricalphotos/radar.js
  lib/v2/rarehistoricalphotos/router.js
Labels: Auto: Route Test Complete, Route: v2

#10708 feat(route)!: remove kuaibao
  docs/new-media.md
  lib/routes/kuaibao/index.js
Labels: Auto: No Route Needed, Route: v1

#10709 feat(route): bluestacks
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/bluestacks/maintainer.js
  lib/v2/bluestacks/radar.js
  lib/v2/bluestacks/release.js
  lib/v2/bluestacks/router.js
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#10639 feat(route): Touhou event calendar from THBWiki. 添加路由：东方活动日程（来自 THBWiki）
  docs/anime.md
  docs/en/anime.md
  lib/v2/thwiki/index.js
  lib/v2/thwiki/maintainer.js
  lib/v2/thwiki/radar.js
  lib/v2/thwiki/router.js
Labels: Auto: Route Test Complete, Route: v2

#10713 fix: tiktok puppeteer waitUntil
  lib/v2/tiktok/user.js
Labels: Auto: Route Test Complete, Route: v2

#10702 fix: domp4 详情返回 guid
  lib/v2/domp4/detail.js
  lib/v2/domp4/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10720 fix(route): 修复 /zju/grs/:type 的解析
  lib/v2/zju/grs/index.js
  lib/v2/zju/radar.js
Labels: Auto: Route Test Complete, Route: v2

#10723 feat(route): bilibili/vsearch use cache
  lib/v2/bilibili/vsearch.js
Labels: Auto: Route Test Complete, Route: v2

#10719 fix: yxdown missing cookies
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/v2/yxdown/maintainer.js
  lib/v2/yxdown/news.js
  lib/v2/yxdown/radar.js
  lib/v2/yxdown/recommend.js
  lib/v2/yxdown/router.js
  lib/v2/yxdown/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10714 feat(core): support proxy config for pupperteer
  docs/en/install/README.md
  lib/utils/puppeteer.js
  lib/utils/request-wrapper.js
  package.json
  test/utils/puppeteer.js
  yarn.lock
Labels: dependencies, core enhancement, Auto: No Route Needed

#10728 feat(route): gamme
  docs/new-media.md
  lib/v2/gamme/category.js
  lib/v2/gamme/maintainer.js
  lib/v2/gamme/radar.js
  lib/v2/gamme/router.js
  lib/v2/gamme/tag.js
Labels: Auto: Route Test Complete, Route: v2

#10729 fix(route): gamme lazy load img
  lib/v2/gamme/category.js
  lib/v2/gamme/tag.js
Labels: Auto: Route Test Complete, Route: v2

#10524 feat(route): 增加前瞻网
  docs/finance.md
  lib/v2/qianzhan/column.js
  lib/v2/qianzhan/maintainer.js
  lib/v2/qianzhan/radar.js
  lib/v2/qianzhan/rank.js
  lib/v2/qianzhan/router.js
Labels: Auto: Route Test Complete, Route: v2

#10732 fix(route): 深潮TechFlow
  docs/new-media.md
  lib/v2/techflow520/index.js
  lib/v2/techflow520/maintainer.js
  lib/v2/techflow520/newsflash.js
  lib/v2/techflow520/router.js
  lib/v2/techflowpost/express.js
  lib/v2/techflowpost/index.js
  lib/v2/techflowpost/maintainer.js
  lib/v2/techflowpost/radar.js
  lib/v2/techflowpost/router.js
Labels: Auto: Route Test Complete, Route: v2

#10734 fix(route): qweather/now timezone
  lib/v2/qweather/now.js
Labels: Auto: Route Test Complete, Route: v2

#10727 feat: 添加漫画柜个人订阅
  assets/radar-rules.js
  docs/anime.md
  lib/config.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/mhgui/comic.js
  lib/routes/twmanhuagui/comic.js
  lib/v2/manhuagui/comic.js
  lib/v2/manhuagui/maintainer.js
  lib/v2/manhuagui/radar.js
  lib/v2/manhuagui/router.js
  lib/v2/manhuagui/subscribe.js
  lib/v2/manhuagui/templates/manga.art
Labels: core enhancement, Auto: Route Test Complete, Route: v1, Route: v2

#10742 fix(route): 虎扑社区比赛信息
  lib/v2/hupu/bbs.js
  lib/v2/hupu/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10746 feat(route): 添加南京大学本科生交换生系统
  docs/university.md
  lib/v2/nju/exchangesys.js
  lib/v2/nju/maintainer.js
  lib/v2/nju/radar.js
  lib/v2/nju/router.js
Labels: Auto: Route Test Complete, Route: v2

#10744 feat(core): 增加 `sorted` 参数来控制结果排序
  docs/en/parameter.md
  docs/parameter.md
  lib/middleware/parameter.js
  test/middleware/parameter.js
Labels: core enhancement, Auto: No Route Needed

#10739 fix(route): dcard
  docs/bbs.md
  lib/v2/dcard/section.js
  lib/v2/dcard/utils.js
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#10749 fix(route): 修正南京大学本科生院教学信息网信息获取
  lib/v2/nju/jw.js
  lib/v2/nju/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#10751 fix(route): science
  docs/en/journal.md
  docs/journal.md
  lib/router.js
  lib/routes/sciencemag/cover.js
  lib/routes/sciencemag/current.js
  lib/routes/sciencemag/early.js
  lib/v2/science/cover.js
  lib/v2/science/current.js
  lib/v2/science/early.js
  lib/v2/science/maintainer.js
  lib/v2/science/radar.js
  lib/v2/science/router.js
  lib/v2/science/templates/article.art
  lib/v2/science/templates/cover.art
  lib/v2/science/utils.js
Labels: Auto: Route Test Complete, puppeteer, Route: v1, Route: v2

#10752 fix(route): deepmind
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/deepmind/blog.js
  lib/v2/deepmind/blog.js
  lib/v2/deepmind/maintainer.js
  lib/v2/deepmind/radar.js
  lib/v2/deepmind/router.js
  lib/v2/science/radar.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10754 fix(route): jiemian
  docs/en/new-media.md
  docs/en/traditional-media.md
  docs/new-media.md
  docs/traditional-media.md
  lib/v2/jiemian/list.js
Labels: Auto: Route Test Complete, Route: v2

#10755 feat(route): add LiSA
  docs/en/live.md
  lib/v2/lxixsxa/discography.js
  lib/v2/lxixsxa/information.js
  lib/v2/lxixsxa/jsonpHelper.js
  lib/v2/lxixsxa/maintainer.js
  lib/v2/lxixsxa/radar.js
  lib/v2/lxixsxa/router.js
  lib/v2/lxixsxa/templates/disco.art
  lib/v2/lxixsxa/templates/info.art
Labels: Auto: Route Test Complete, Route: v2

#10759 fix(route): set different guid
  lib/v2/asus/bios.js
Labels: Auto: Route Test Complete, Route: v2

#10761 feat(core): true ua
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/middleware/parameter.js
  test/config.js
  test/middleware/parameter.js
Labels: core enhancement, Auto: No Route Needed

#10758 feat(route): cw
  docs/traditional-media.md
  lib/v2/cw/maintainer.js
  lib/v2/cw/master.js
  lib/v2/cw/radar.js
  lib/v2/cw/router.js
  lib/v2/cw/sub.js
  lib/v2/cw/today.js
  lib/v2/cw/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10747 feat(route): add 哈尔滨工业大学研究生院通知公告
  docs/university.md
  lib/router.js
  lib/routes/universities/hit/jwc.js
  lib/routes/universities/hit/today.js
  lib/v2/hit/hitgs.js
  lib/v2/hit/jwc.js
  lib/v2/hit/maintainer.js
  lib/v2/hit/radar.js
  lib/v2/hit/router.js
  lib/v2/hit/today.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10760 feat(route): 新增妹图社
  docs/en/picture.md
  docs/picture.md
  lib/v2/meituclub/latest.js
  lib/v2/meituclub/maintainer.js
  lib/v2/meituclub/radar.js
  lib/v2/meituclub/router.js
  lib/v2/meituclub/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10767 fix(route): 修复中国传媒大学研究生招生网
  docs/university.md
  lib/router.js
  lib/v2/cuc/maintainer.js
  lib/v2/cuc/radar.js
  lib/v2/cuc/router.js
  lib/v2/cuc/yz.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10771 feat(route): add iThome 台灣新聞
  docs/new-media.md
  lib/v2/ithome/maintainer.js
  lib/v2/ithome/radar.js
  lib/v2/ithome/router.js
  lib/v2/ithome/tw/feeds.js
Labels: Auto: Route Test Complete, Route: v2

#10772 fix(route): correct author of iwara subscriptions
  lib/v2/iwara/subscriptions.js
Labels: Auto: Route Test Complete, Route: v2

#10778 feat(route): add ZodGame
  docs/bbs.md
  docs/en/bbs.md
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/v2/zodgame/forum.js
  lib/v2/zodgame/maintainer.js
  lib/v2/zodgame/radar.js
  lib/v2/zodgame/router.js
  lib/v2/zodgame/templates/forum.art
Labels: Auto: Route Test Complete, Route: v2

#10779 fix(route): sse
  docs/finance.md
  docs/new-media.md
  lib/router.js
  lib/routes/sse/convert.js
  lib/routes/sse/disclosure.js
  lib/routes/sse/inquire.js
  lib/routes/sse/renewal.js
  lib/routes/sse/sserules.js
  lib/v2/sse/convert.js
  lib/v2/sse/disclosure.js
  lib/v2/sse/inquire.js
  lib/v2/sse/lawandrules.js
  lib/v2/sse/maintainer.js
  lib/v2/sse/radar.js
  lib/v2/sse/renewal.js
  lib/v2/sse/router.js
  lib/v2/sse/templates/inquire.art
  lib/v2/sse/templates/renewal.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10781 fix(route): cqwu
  lib/v2/cqwu/index.js
Labels: Auto: Route Test Complete, Route: v2

#10788 fix(core): fulltext mode title
  lib/middleware/parameter.js
Labels: core enhancement, Auto: Route Test Complete

#10789 fix(core): parse date utils
  lib/utils/parse-date.js
  test/utils/parse-date.js
Labels: core enhancement, Auto: No Route Needed

#10780 fix(route): 修复bangumi吐槽箱无法获取评分的问题
  assets/radar-rules.js
  docs/anime.md
  docs/en/anime.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/bangumi/calendar/_base.js
  lib/routes/bangumi/group/topic.js
  lib/routes/bangumi/subject/ep.js
  lib/v2/bangumi/maintainer.js
  lib/v2/bangumi/moe/index.js
  lib/v2/bangumi/online/online.js
  lib/v2/bangumi/radar.js
  lib/v2/bangumi/router.js
  lib/v2/bangumi/templates/online/image.art
  lib/v2/bangumi/templates/tv/ep.art
  lib/v2/bangumi/templates/tv/today.art
  lib/v2/bangumi/tv/calendar/_base.js
  lib/v2/bangumi/tv/calendar/today.js
  lib/v2/bangumi/tv/group/reply.js
  lib/v2/bangumi/tv/group/topic.js
  lib/v2/bangumi/tv/person/index.js
  lib/v2/bangumi/tv/subject/comments.js
  lib/v2/bangumi/tv/subject/ep.js
  lib/v2/bangumi/tv/subject/index.js
  lib/v2/bangumi/tv/subject/offcial-subject-api.js
  lib/v2/bangumi/tv/user/blog.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10795 fix: huanqiu fetch error
  lib/v2/huanqiu/index.js
Labels: Auto: Route Test Complete, Route: v2

#10796 fix(route): dongqiudi team_news
  lib/v2/dongqiudi/daily.js
  lib/v2/dongqiudi/player_news.js
  lib/v2/dongqiudi/result.js
  lib/v2/dongqiudi/router.js
  lib/v2/dongqiudi/special.js
  lib/v2/dongqiudi/team_news.js
  lib/v2/dongqiudi/top_news.js
  lib/v2/dongqiudi/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10797 fix(route): xwlb
  docs/traditional-media.md
  lib/router.js
  lib/routes/xwlb/index.js
  lib/v2/xwlb/index.js
  lib/v2/xwlb/maintainer.js
  lib/v2/xwlb/radar.js
  lib/v2/xwlb/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10800 fix: #10799
  docs/programming.md
  lib/router.js
  lib/v2/anquanke/category.js
  lib/v2/anquanke/maintainer.js
  lib/v2/anquanke/radar.js
  lib/v2/anquanke/router.js
  lib/v2/anquanke/vul.js
  lib/v2/secrss/author.js
  lib/v2/secrss/category.js
  lib/v2/secrss/maintainer.js
  lib/v2/secrss/radar.js
  lib/v2/secrss/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10801 fix(route): 哈尔滨工业大学（威海）通知公告
  docs/university.md
  lib/router.js
  lib/routes/universities/hitwh/today.js
  lib/v2/hitwh/maintainer.js
  lib/v2/hitwh/radar.js
  lib/v2/hitwh/router.js
  lib/v2/hitwh/today.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10808 feat(route): add 法布财经
  docs/finance.md
  lib/v2/fastbull/express-news.js
  lib/v2/fastbull/maintainer.js
  lib/v2/fastbull/news.js
  lib/v2/fastbull/radar.js
  lib/v2/fastbull/router.js
  lib/v2/fastbull/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10815 fix(route): bilibili dynamic
  lib/v2/bilibili/dynamic.js
Labels: Auto: Route Test Complete, Route: v2

#10816 feat(route): 新增 百度股市通
  docs/finance.md
  lib/v2/baidu/gushitong/index.js
  lib/v2/baidu/maintainer.js
  lib/v2/baidu/radar.js
  lib/v2/baidu/router.js
  lib/v2/baidu/templates/gushitong.art
Labels: Auto: Route Test Complete, Route: v2

#10820 fix(route): Sputnik News Pubdate
  lib/v2/sputniknews/index.js
Labels: Auto: Route Test Complete, Route: v2

#10819 feat(route): 给 v2ex topics 添加 comments 字段
  lib/routes/v2ex/topics.js
Labels: Auto: Route Test Complete, Route: v1

#10826 fix(route): 环球网 Pubdate
  lib/v2/huanqiu/index.js
Labels: Auto: Route Test Complete, Route: v2

#10827 fix(route): add referer for bilibili userinfo
  lib/v2/bilibili/cache.js
Labels: Auto: No Route Needed, Auto: Route Test Complete, Route: v2

#10835 fix(route): fix nikkei-asia
  lib/v2/nikkei-asia/index.js
Labels: Auto: Route Test Complete, Route: v2

#10839 fix(route): 站酷发现
  assets/radar-rules.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/zcool/top.js
  lib/routes/zcool/user.js
  lib/v2/zcool/discover.js
  lib/v2/zcool/locations.js
  lib/v2/zcool/maintainer.js
  lib/v2/zcool/radar.js
  lib/v2/zcool/router.js
  lib/v2/zcool/templates/description.art
  lib/v2/zcool/templates/work.art
  lib/v2/zcool/top.js
  lib/v2/zcool/user.js
  lib/v2/zcool/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10842 feat(route): add gihyo.jp
  docs/en/programming.md
  docs/programming.md
  lib/v2/gihyo/group.js
  lib/v2/gihyo/maintainer.js
  lib/v2/gihyo/radar.js
  lib/v2/gihyo/router.js
Labels: Auto: Route Test Complete, Route: v2

#10848 feat(route): add web3caff
  docs/new-media.md
  lib/v2/web3caff/index.js
  lib/v2/web3caff/maintainer.js
  lib/v2/web3caff/radar.js
  lib/v2/web3caff/router.js
Labels: Auto: Route Test Complete, Route: v2

#10850 fix(route): thepaper changes its site to nextjs based backend, so change the feeder
  docs/traditional-media.md
  lib/v2/thepaper/channel.js
  lib/v2/thepaper/featured.js
  lib/v2/thepaper/list.js
  lib/v2/thepaper/maintainer.js
  lib/v2/thepaper/radar.js
  lib/v2/thepaper/templates/video_detail.art
  lib/v2/thepaper/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10854 feat(route): worldjournal
  docs/new-media.md
  lib/v2/worldjournal/index.js
  lib/v2/worldjournal/maintainer.js
  lib/v2/worldjournal/radar.js
  lib/v2/worldjournal/router.js
Labels: Auto: Route Test Complete, Route: v2

#10859 refactor: refactor thepaper utils for optimize rss reading
  lib/v2/thepaper/channel.js
  lib/v2/thepaper/featured.js
  lib/v2/thepaper/list.js
  lib/v2/thepaper/templates/image_detail.art
  lib/v2/thepaper/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10861 feat(route): gelonghui
  docs/finance.md
  lib/router.js
  lib/routes/gelonghui/keyword.js
  lib/routes/gelonghui/subject.js
  lib/routes/gelonghui/user.js
  lib/v2/gelonghui/home.js
  lib/v2/gelonghui/keyword.js
  lib/v2/gelonghui/maintainer.js
  lib/v2/gelonghui/radar.js
  lib/v2/gelonghui/router.js
  lib/v2/gelonghui/subject.js
  lib/v2/gelonghui/user.js
  lib/v2/gelonghui/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10862 chore(deps): replace `@postlight/mercury-parser` with `@postlight/parser`
  lib/middleware/parameter.js
  package.json
  test/middleware/parameter.js
  yarn.lock
Labels: dependencies, core enhancement, Auto: Route Test Complete

#10870 fix(route)(twitter): new bearer to support 18+ tweet
  lib/config.js
  lib/v2/twitter/web-api/twitter-got.js
Labels: Auto: Route Test Complete, Route: v2

#10860 feat(route): Add stats.gov 国家统计局
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/stats/index.js
  lib/v2/gov/stats/templates/attachments.art
  lib/v2/gov/stats/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10872 fix(route): ap news filter
  lib/v2/apnews/topics.js
Labels: Auto: Route Test Complete, Route: v2

#10875 refactor: Stats gov, change the img href from relative href to absolute href for better rss reading experiences.
  lib/v2/gov/stats/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10884 fix(route): economist article displaying
  lib/v2/economist/full.js
Labels: Auto: Route Test Complete, Route: v2

#10877 fix(route): /zhihu/people/activities/:id
  lib/v2/zhihu/activities.js
  lib/v2/zhihu/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10879 fix(route): CCDI.gov.cn route broken
  docs/government.md
  lib/router.js
  lib/routes/ccdi/scdc.js
  lib/v2/gov/ccdi/index.js
  lib/v2/gov/ccdi/utils.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10887 fix(route): 豆瓣榜单问题
  lib/v2/douban/other/weekly_best.js
Labels: Auto: Route Test Complete, Route: v2

#10896 fix(route): 软餐
  lib/v2/ruancan/index.js
Labels: Auto: Route Test Complete, Route: v2

#10890 refactor: try to mimic the js cookie behavior and bypass the anti spider in ccdi.gov
  docs/government.md
  lib/v2/gov/ccdi/index.js
  lib/v2/gov/ccdi/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10903 fix: #10901
  lib/v2/jandan/section.js
Labels: Auto: No Route Needed, Route: v2

#10897 feat(route): add finviz news
  docs/en/finance.md
  docs/finance.md
  lib/router.js
  lib/v2/finviz/maintainer.js
  lib/v2/finviz/news.js
  lib/v2/finviz/quote.js
  lib/v2/finviz/radar.js
  lib/v2/finviz/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10906 fix(route): Fix saraba1st thread cannot get image
  assets/radar-rules.js
  docs/install/README.md
  lib/config.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/saraba1st/thread.js
  lib/v2/saraba1st/maintainer.js
  lib/v2/saraba1st/radar.js
  lib/v2/saraba1st/router.js
  lib/v2/saraba1st/thread.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10908 fix(thepaper): thepaper video cannot playback in fullscreen correctly
  lib/v2/thepaper/templates/video_detail.art
  lib/v2/thepaper/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10904 fix(route): Add favicon for Initium
  docs/new-media.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/initium/full.js
  lib/v2/theinitium/full.js
  lib/v2/theinitium/maintainer.js
  lib/v2/theinitium/radar.js
  lib/v2/theinitium/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10910 fix(route): 广东省深圳市人民政府 - 通知公告
  docs/government.md
  lib/router.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/shenzhen/xxgk/zfxxgj.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10917 feat(route): Unusual Whales
  docs/en/finance.md
  docs/finance.md
  lib/v2/unusualwhales/maintainer.js
  lib/v2/unusualwhales/news.js
  lib/v2/unusualwhales/radar.js
  lib/v2/unusualwhales/router.js
Labels: Auto: Route Test Complete, Route: v2

#10892 fix: Fantia请求部分内容时因无cookie导致出错
  docs/en/install/README.md
  docs/en/picture.md
  docs/install/README.md
  docs/picture.md
  lib/config.js
  lib/router.js
  lib/v2/fantia/maintainer.js
  lib/v2/fantia/radar.js
  lib/v2/fantia/router.js
  lib/v2/fantia/search.js
  lib/v2/fantia/user.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10920 feat(route): add Yoasobi Official support
  docs/en/live.md
  lib/v2/yoasobi-music/info.js
  lib/v2/yoasobi-music/jsonpHelper.js
  lib/v2/yoasobi-music/live.js
  lib/v2/yoasobi-music/maintainer.js
  lib/v2/yoasobi-music/media.js
  lib/v2/yoasobi-music/radar.js
  lib/v2/yoasobi-music/router.js
  lib/v2/yoasobi-music/templates/info.art
  lib/v2/yoasobi-music/templates/live.art
  lib/v2/yoasobi-music/templates/media.art
Labels: Auto: Route Test Complete, Route: v2

#10922 feat(route): kuwaitlocal
  docs/en/new-media.md
  lib/v2/kuwaitlocal/index.js
  lib/v2/kuwaitlocal/maintainer.js
  lib/v2/kuwaitlocal/radar.js
  lib/v2/kuwaitlocal/router.js
Labels: Auto: Route Test Complete, Route: v2

#10924 feat(route): cbnc
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/cbnc/maintainer.js
  lib/v2/cbnc/radar.js
  lib/v2/cbnc/router.js
  lib/v2/cbnc/rss.js
Labels: Auto: Route Test Complete, Route: v2

#10921 feat: 增加安全客获取全文
  docs/programming.md
  lib/v2/anquanke/category.js
  lib/v2/anquanke/maintainer.js
  lib/v2/anquanke/router.js
Labels: Auto: Route Test Complete, Route: v2

#10925 fix(route): 华尔街见闻实时快讯图片
  lib/v2/wallstreetcn/live.js
  lib/v2/wallstreetcn/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#10927 fix(route): ccdi cookie should be called in await style
  lib/v2/gov/ccdi/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10937 feat(route): add 8视界标签
  assets/radar-rules.js
  docs/new-media.md
  lib/v2/8world/index.js
  lib/v2/8world/maintainer.js
  lib/v2/8world/radar.js
  lib/v2/8world/router.js
Labels: Auto: Route Test Complete, Route: v2

#10944 fix(route): finally bypass the ccdi.gov cookie and js based anti-spider system
  lib/v2/gov/ccdi/utils.js
Labels: Auto: Route Test Complete, Route: v2

#10954 fix(route): /zhihu/people/activities/:id
  lib/v2/zhihu/activities.js
  lib/v2/zhihu/execlib/g_encrypt_3.js
  lib/v2/zhihu/execlib/hash.js
  package.json
  yarn.lock
Labels: dependencies, Auto: Route Test Complete, Route: v2

#10956 chore: fix docker build
  Dockerfile
Labels: Auto: No Route Needed

#10926 feat(route): add 云听专辑 & 直播
  docs/multimedia.md
  lib/v2/radio/album.js
  lib/v2/radio/index.js
  lib/v2/radio/maintainer.js
  lib/v2/radio/radar.js
  lib/v2/radio/radio.js
  lib/v2/radio/router.js
  lib/v2/radio/templates/description.art
  lib/v2/radio/zhibo.js
Labels: Auto: Route Test Complete, Route: v2

#10940 fix(route): verge
  docs/en/new-media.md
  lib/router.js
  lib/routes/verge/index.js
  lib/v2/theverge/index.js
  lib/v2/theverge/maintainer.js
  lib/v2/theverge/radar.js
  lib/v2/theverge/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#10950 fix(route): jandan 煎蛋 parseDate bug
  lib/v2/jandan/index.js
  lib/v2/jandan/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#10955 feat(route): add bphc 北京共有产权住房租赁平台
  docs/government.md
  lib/v2/gov/beijing/bphc/index.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#10958 fix(route): yoasobi-music redefine guid
  lib/v2/yoasobi-music/info.js
Labels: Auto: Route Test Complete, Route: v2

#10961 feat(route): add 智通财经
  docs/finance.md
  lib/v2/zhitongcaijing/index.js
  lib/v2/zhitongcaijing/maintainer.js
  lib/v2/zhitongcaijing/radar.js
  lib/v2/zhitongcaijing/router.js
  lib/v2/zhitongcaijing/templates/description.art
Labels: Auto: Route Test Complete, Route: v2
