Repository DIYgod/RSSHub, pull requests merged in 2022-05, with the labels that each got.

#9683 chore(*): migrate to GHA-based PR route test
  .github/workflows/docker-test.yml
  .github/workflows/pr-deploy-route-test.yml
  scripts/workflow/test-route/identify.js
  scripts/workflow/test-route/test.js
Labels: Auto: No Route Needed

#9659 fix(route): 南京理工大学
  docs/university.md
  lib/router.js
  lib/routes/universities/njust/cwc/index.js
  lib/routes/universities/njust/eo/index.js
  lib/routes/universities/njust/eo/util.js
  lib/routes/universities/njust/gs/index.js
  lib/routes/universities/njust/jwc/index.js
  lib/v2/njust/cwc.js
  lib/v2/njust/dgxg.js
  lib/v2/njust/eo.js
  lib/v2/njust/eoe.js
  lib/v2/njust/gs.js
  lib/v2/njust/jwc.js
  lib/v2/njust/maintainer.js
  lib/v2/njust/radar.js
  lib/v2/njust/router.js
  lib/v2/njust/utils.js
Labels: puppeteer

#9687 fix(route): javdb new layout
  lib/v2/javdb/utils.js
Labels: Auto: Route Test Complete

#9681 feat(core/middleware/anti-hotlink): route matching
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/middleware/anti-hotlink.js
  lib/v2/test/index.js
  test/middleware/anti-hotlink.js
Labels: core enhancement, Auto: No Route Needed

#9691 feat(core/utils/request-wrapper): request logging
  .github/workflows/pr-deploy-route-test.yml
  lib/utils/request-wrapper.js
Labels: Auto: No Route Needed

#9690 chore(CI): remove setup-QEMU from docker-test
  .github/workflows/docker-test.yml
Labels: Auto: No Route Needed

#7908 fix(route): uraaka-joshi
  docs/en/other.md
  docs/other.md
  lib/router.js
  lib/routes/uraaka-joshi/uraaka-joshi-user.js
  lib/routes/uraaka-joshi/uraaka-joshi.js
  lib/v2/uraaka-joshi/maintainer.js
  lib/v2/uraaka-joshi/radar.js
  lib/v2/uraaka-joshi/router.js
  lib/v2/uraaka-joshi/uraaka-joshi-user.js
  lib/v2/uraaka-joshi/uraaka-joshi.js
Labels: Auto: Route Test Complete, puppeteer

#9693 fix(route/jike): image URL; outdated usage
  assets/radar-rules.js
  lib/radar-rules.js
  lib/router.js
  lib/v2/jike/common.js
  lib/v2/jike/maintainer.js
  lib/v2/jike/radar.js
  lib/v2/jike/router.js
  lib/v2/jike/topic.js
  lib/v2/jike/topicText.js
  lib/v2/jike/user.js
Labels: Auto: Route Test Complete

#9696 feat(route): add njit
  docs/university.md
  lib/v2/njit/jwc.js
  lib/v2/njit/maintainer.js
  lib/v2/njit/radar.js
  lib/v2/njit/router.js
  lib/v2/njit/tzgg.js
Labels: Auto: Route Test Complete

#9698 refactor(route/jike): extract repeated logic; fix await
  lib/v2/jike/topic.js
  lib/v2/jike/topicText.js
  lib/v2/jike/utils.js
Labels: Auto: Route Test Complete

#9700 refactor(route/mastodon): quick fix on empty reposted toots
  lib/routes/mastodon/utils.js
Labels: Auto: Route Test Complete

#9712 fix(route): Epic Games Store
  docs/en/game.md
  docs/game.md
  lib/v2/epicgames/index.js
  lib/v2/epicgames/maintainer.js
  lib/v2/epicgames/router.js
  lib/v2/epicgames/supportedList.js
  lib/v2/epicgames/templates/description.art
Labels: Auto: Route Test Complete

#9703 fix(route): bug fix and perf improve for moe
  lib/v2/gov/moe/moe.js
Labels: Auto: Route Test Complete

#7946 docs: support parameter suffix `*`
  docs/.vuepress/components/Route.vue
  docs/.vuepress/components/RouteEn.vue
  docs/en/joinus/quick-start.md
  docs/en/other.md
  docs/en/program-update.md
  docs/joinus/quick-start.md
Labels: docs, Auto: No Route Needed, Auto: Route Test Complete

#9722 feat: add immiau
  docs/en/government.md
  docs/government.md
  lib/v2/gov/immiau/news.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete

#9721 fix(route): fix pianyuan, add pianyuan/search
  assets/radar-rules.js
  docs/install/README.md
  docs/multimedia.md
  lib/config.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/pianyuan/app.js
  lib/v2/pianyuan/app.js
  lib/v2/pianyuan/maintainer.js
  lib/v2/pianyuan/radar.js
  lib/v2/pianyuan/router.js
  lib/v2/pianyuan/search.js
  lib/v2/pianyuan/utils.js
Labels: Auto: Route Test Complete

#8779 feat(route): add 中国智库网-观点与实践
  docs/study.md
  lib/v2/chinathinktanks/maintainer.js
  lib/v2/chinathinktanks/radar.js
  lib/v2/chinathinktanks/router.js
  lib/v2/chinathinktanks/viewpoint.js
Labels: Auto: Route Test Complete

#9746 fix(route): Epic Games Store
  docs/en/game.md
  docs/game.md
  lib/v2/epicgames/index.js
  lib/v2/epicgames/maintainer.js
Labels: Auto: Route Test Complete

#9729 fix(route): 修复/zhihu/question无法获取，需要设置非登录状态下cookie
  assets/radar-rules.js
  docs/install/README.md
  docs/social-media.md
  lib/config.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/zhihu/question.js
  lib/v2/zhihu/activities.js
  lib/v2/zhihu/answers.js
  lib/v2/zhihu/bookstore/newest.js
  lib/v2/zhihu/collection.js
  lib/v2/zhihu/daily.js
  lib/v2/zhihu/daily_section.js
  lib/v2/zhihu/execlib/g_encrypt.js
  lib/v2/zhihu/execlib/jsencrypt.js
  lib/v2/zhihu/hot.js
  lib/v2/zhihu/hotlist.js
  lib/v2/zhihu/maintainer.js
  lib/v2/zhihu/pin/daily.js
  lib/v2/zhihu/pin/hotlist.js
  lib/v2/zhihu/pin/people.js
  lib/v2/zhihu/pin/utils.js
  lib/v2/zhihu/posts.js
  lib/v2/zhihu/question.js
  lib/v2/zhihu/radar.js
  lib/v2/zhihu/router.js
  lib/v2/zhihu/timeline.js
  lib/v2/zhihu/topic.js
  lib/v2/zhihu/utils.js
  lib/v2/zhihu/weekly.js
  lib/v2/zhihu/zhuanlan.js
Labels: Auto: Route Test Complete

#9748 fix(route): nature
  docs/en/journal.md
  docs/journal.md
  lib/router.js
  lib/routes/nature/cover.js
  lib/routes/nature/highlight.js
  lib/routes/nature/news-and-comment.js
  lib/routes/nature/news.js
  lib/routes/nature/research.js
  lib/v2/nature/cover.js
  lib/v2/nature/highlight.js
  lib/v2/nature/maintainer.js
  lib/v2/nature/news-and-comment.js
  lib/v2/nature/news.js
  lib/v2/nature/radar.js
  lib/v2/nature/research.js
  lib/v2/nature/router.js
  lib/v2/nature/siteindex.js
  lib/v2/nature/utils.js
Labels: Auto: Route Test Complete

#9750 chore(deps): remove unused dep `ip` and `ci-info`
  package.json
  yarn.lock
Labels: Auto: No Route Needed

#9752 fix(route): nature research null description
  lib/v2/nature/utils.js
Labels: Auto: Route Test Complete

#9754 fix(route): 优化知乎问题获取方式，不必设置环境变量
  docs/install/README.md
  lib/config.js
  lib/v2/zhihu/question.js
Labels: Auto: Route Test Complete

#9760 feat(route/twitter): allow force using Web API
  docs/en/social-media.md
  docs/social-media.md
  lib/routes/twitter/api_fallback_common.js
  lib/routes/twitter/keyword.js
  lib/routes/twitter/user.js
  lib/routes/twitter/utils.js
Labels: Auto: Route Test Complete

#9759 feat(route): add 河北省财政厅
  docs/government.md
  lib/v2/gov/hebei/czt.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete

#9764 fix(route): yomiuri news list structure changed
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/router.js
  lib/v2/yomiuri/maintainer.js
  lib/v2/yomiuri/news.js
  lib/v2/yomiuri/radar.js
  lib/v2/yomiuri/router.js
Labels: Auto: Route Test Complete

#9775 fix(utils): parse relative date with meridiem
  lib/utils/parse-date.js
  test/utils/parse-date.js
Labels: Auto: No Route Needed

#9771 fix(route): 9to5/subsite fix selector, use tag and refactor to V2
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/v2/9to5/maintainer.js
  lib/v2/9to5/radar.js
  lib/v2/9to5/router.js
  lib/v2/9to5/subsite.js
  lib/v2/9to5/utils.js
Labels: Auto: Route Test Complete

#9777 feat(route): add 苏州科技大学教务处
  docs/university.md
  lib/v2/usts/jwch.js
  lib/v2/usts/maintainer.js
  lib/v2/usts/radar.js
  lib/v2/usts/router.js
Labels: Auto: Route Test Complete

#9780 fix(route): fixed routes/earthquake and ceic timezone shift
  docs/forecast.md
  lib/router.js
  lib/v2/earthquake/ceic.js
  lib/v2/earthquake/index.js
  lib/v2/earthquake/maintainer.js
  lib/v2/earthquake/radar.js
  lib/v2/earthquake/router.js
Labels: Auto: Route Test Complete

#7969 feat(route): add juejin news
  assets/radar-rules.js
  docs/programming.md
  lib/radar-rules.js
  lib/router.js
  lib/v2/juejin/books.js
  lib/v2/juejin/category.js
  lib/v2/juejin/collection.js
  lib/v2/juejin/column.js
  lib/v2/juejin/favorites.js
  lib/v2/juejin/maintainer.js
  lib/v2/juejin/news.js
  lib/v2/juejin/pins.js
  lib/v2/juejin/posts.js
  lib/v2/juejin/radar.js
  lib/v2/juejin/router.js
  lib/v2/juejin/shares.js
  lib/v2/juejin/tag.js
  lib/v2/juejin/trending.js
  lib/v2/juejin/utils.js
Labels: Auto: Route Test Complete

#9790 feat(route): add CNCF
  docs/en/programming.md
  docs/programming.md
  lib/v2/cncf/index.js
  lib/v2/cncf/maintainer.js
  lib/v2/cncf/radar.js
  lib/v2/cncf/reports.js
  lib/v2/cncf/router.js
Labels: Auto: Route Test Complete

#9779 feat(route): add Lever HRIS
  docs/en/other.md
  lib/v2/lever/index.js
  lib/v2/lever/maintainer.js
  lib/v2/lever/radar.js
  lib/v2/lever/router.js
Labels: Auto: Route Test Complete

#9782 fix(route): 南京停水通知
  docs/forecast.md
  lib/router.js
  lib/routes/tingshuitz/dongguan.js
  lib/routes/tingshuitz/wuhan.js
  lib/v2/tingshuitz/dalian.js
  lib/v2/tingshuitz/dongguan.js
  lib/v2/tingshuitz/guangzhou.js
  lib/v2/tingshuitz/hangzhou.js
  lib/v2/tingshuitz/maintainer.js
  lib/v2/tingshuitz/nanjing.js
  lib/v2/tingshuitz/radar.js
  lib/v2/tingshuitz/router.js
  lib/v2/tingshuitz/wuhan.js
  lib/v2/tingshuitz/xian.js
  lib/v2/tingshuitz/xiaoshan.js
  lib/v2/tingshuitz/yangjiang.js
Labels: Auto: Route Test Complete

#9792 feat(route): add KCNA
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/kcna/maintainer.js
  lib/v2/kcna/news.js
  lib/v2/kcna/radar.js
  lib/v2/kcna/router.js
  lib/v2/kcna/templates/news.art
  lib/v2/kcna/utils.js
Labels: Auto: Route Test Complete

#9796 fix(core/parameter): absurd wrong path cache time
  lib/middleware/parameter.js
  test/middleware/parameter.js
Labels: Auto: No Route Needed

#9798 fix(route): fetch rich HTML content on chinanews
  lib/v2/chinanews/index.js
Labels: Auto: Route Test Complete

#9795 feat(route): add Gumroad
  docs/en/shopping.md
  docs/shopping.md
  lib/v2/gumroad/index.js
  lib/v2/gumroad/maintainer.js
  lib/v2/gumroad/radar.js
  lib/v2/gumroad/router.js
  lib/v2/gumroad/templates/products.art
Labels: Auto: Route Test Complete

#9799 fix(route/weibo/user): API upgrade
  lib/routes/weibo/user.js
Labels: Auto: Route Test Complete

#9801 feat(route): 添加路由 FX-Markets.com
  docs/en/finance.md
  docs/finance.md
  lib/v2/fx-markets/channel.js
  lib/v2/fx-markets/maintainer.js
  lib/v2/fx-markets/radar.js
  lib/v2/fx-markets/router.js
Labels: Auto: Route Test Complete

#9814 feat(米游社v2): 新增 米游社v2 绝区零 公告
  docs/game.md
  lib/v2/mihoyo/bbs.js
  lib/v2/mihoyo/radar.js
Labels: Auto: Route Test Complete

#9813 feat(route): add 理论网学习时报
  docs/traditional-media.md
  lib/v2/cntheory/maintainer.js
  lib/v2/cntheory/paper.js
  lib/v2/cntheory/radar.js
  lib/v2/cntheory/router.js
  lib/v2/cntheory/templates/description.art
Labels: Auto: Route Test Complete

#9822 fix(route): Epic Games Store item link incorrect
  lib/v2/epicgames/index.js
Labels: Auto: Route Test Complete

#9824 feat(route): youtube subscriptions
  assets/radar-rules.js
  docs/en/install/README.md
  docs/en/social-media.md
  docs/install/README.md
  docs/social-media.md
  lib/config.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/youtube/utils.js
  lib/v2/youtube/channel.js
  lib/v2/youtube/maintainer.js
  lib/v2/youtube/playlist.js
  lib/v2/youtube/radar.js
  lib/v2/youtube/router.js
  lib/v2/youtube/subscriptions.js
  lib/v2/youtube/templates/description.art
  lib/v2/youtube/user.js
  lib/v2/youtube/utils.js
Labels: Auto: Route Test Complete

#9767 fix(route): behance v2 & fix
  assets/radar-rules.js
  docs/design.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/behance/index.js
  lib/v2/behance/maintainer.js
  lib/v2/behance/radar.js
  lib/v2/behance/router.js
  lib/v2/behance/user.js
Labels: Auto: Route Test Complete

#9826 fix(route): Epic Games Store - item added bundles link
  lib/v2/epicgames/index.js
Labels: Auto: Route Test Complete

#9832 fix(route): PANews
  docs/new-media.md
  lib/v2/panewslab/author.js
  lib/v2/panewslab/index.js
  lib/v2/panewslab/maintainer.js
  lib/v2/panewslab/news.js
  lib/v2/panewslab/newsflash.js
  lib/v2/panewslab/radar.js
  lib/v2/panewslab/router.js
  lib/v2/panewslab/topic.js
Labels: Auto: Route Test Complete

#9804 feat(route): add 北京大学国家发展研究院 - 观点
  docs/university.md
  lib/utils/wechat-mp.js
  lib/v2/pku/maintainer.js
  lib/v2/pku/nsd.js
  lib/v2/pku/radar.js
  lib/v2/pku/router.js
Labels: Auto: Route Test Complete

#9833 fix(route): sobooks change domain name and refactor to V2
  docs/reading.md
  lib/router.js
  lib/v2/sobooks/date.js
  lib/v2/sobooks/index.js
  lib/v2/sobooks/maintainer.js
  lib/v2/sobooks/radar.js
  lib/v2/sobooks/router.js
  lib/v2/sobooks/tag.js
  lib/v2/sobooks/utils.js
Labels: Auto: Route Test Complete

#9837 fix(route): Wallpaperhub
  docs/en/picture.md
  docs/picture.md
  lib/router.js
  lib/routes/wallpaperhub/index.js
  lib/v2/wallpaperhub/index.js
  lib/v2/wallpaperhub/maintainer.js
  lib/v2/wallpaperhub/radar.js
  lib/v2/wallpaperhub/router.js
  lib/v2/wallpaperhub/templates/description.art
Labels: Auto: Route Test Complete

#9839 feat(route): add 老虎社区
  docs/finance.md
  lib/v2/laohu8/maintainer.js
  lib/v2/laohu8/personal.js
  lib/v2/laohu8/radar.js
  lib/v2/laohu8/router.js
Labels: Auto: Route Test Complete

#9761 fix(route): Add v2 router to subscribe reuters.com and remove deprecated routes
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/reuters/channel.js
  lib/routes/reuters/theWire.js
  lib/routes/reuters/utils.js
  lib/v2/reuters/common.js
  lib/v2/reuters/investigates.js
  lib/v2/reuters/maintainer.js
  lib/v2/reuters/migration_prompt.js
  lib/v2/reuters/radar.js
  lib/v2/reuters/router.js
Labels: Auto: Route Test Complete

#9842 feat(route): add Caa.reviews
  docs/en/journal.md
  docs/journal.md
  lib/v2/caareviews/book.js
  lib/v2/caareviews/essay.js
  lib/v2/caareviews/exhibition.js
  lib/v2/caareviews/maintainer.js
  lib/v2/caareviews/radar.js
  lib/v2/caareviews/router.js
  lib/v2/caareviews/templates/utils.art
  lib/v2/caareviews/utils.js
Labels: Auto: Route Test Complete

#9846 feat(route): add 奇葩买家秀
  docs/picture.md
  lib/v2/qipamaijia/index.js
  lib/v2/qipamaijia/maintainer.js
  lib/v2/qipamaijia/radar.js
  lib/v2/qipamaijia/router.js
Labels: Auto: Route Test Complete

#9847 feat(route): add 7mmtv
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/7mmtv/index.js
  lib/v2/7mmtv/maintainer.js
  lib/v2/7mmtv/radar.js
  lib/v2/7mmtv/router.js
  lib/v2/7mmtv/templates/description.art
Labels: Auto: Route Test Complete

#9848 feat(route): xiaozhuanlan
  docs/new-media.md
  lib/v2/xiaozhuanlan/column.js
  lib/v2/xiaozhuanlan/maintainer.js
  lib/v2/xiaozhuanlan/radar.js
  lib/v2/xiaozhuanlan/router.js
Labels: Auto: Route Test Complete

#9849 fix(route): ielts
  lib/v2/ielts/index.js
Labels: Auto: Route Test Complete

#9853 feat(route): economist espresso
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/the-economist/full.js
  lib/routes/the-economist/gre-vocabulary.js
  lib/v2/economist/download.js
  lib/v2/economist/espresso.js
  lib/v2/economist/full.js
  lib/v2/economist/gre-vocabulary.js
  lib/v2/economist/maintainer.js
  lib/v2/economist/radar.js
  lib/v2/economist/router.js
Labels: Auto: Route Test Complete

#9858 feat(route): feng
  docs/bbs.md
  lib/v2/feng/forum.js
  lib/v2/feng/radar.js
  lib/v2/feng/router.js
  lib/v2/feng/templates/deleted.art
  lib/v2/feng/templates/img.art
  lib/v2/feng/utils.js
Labels: Auto: Route Test Complete

#9862 fix(route): jike/topic add user name and ID
  lib/v2/jike/utils.js
Labels: Auto: Route Test Complete

#9864 fix(route): jike/topic change id format
  lib/v2/jike/utils.js
Labels: Auto: Route Test Complete

#9865 fix(route): xidian
  docs/university.md
  lib/router.js
  lib/routes/universities/xidian/jwc.js
  lib/v2/xidian/jwc.js
  lib/v2/xidian/maintainer.js
  lib/v2/xidian/radar.js
  lib/v2/xidian/router.js
Labels: Auto: Route Test Complete
