Repository DIYgod/RSSHub, pull requests merged in 2022-06, with the labels that each got.

#9866 feat(rotue): playno1
  docs/bbs.md
  lib/v2/playno1/av.js
  lib/v2/playno1/maintainer.js
  lib/v2/playno1/radar.js
  lib/v2/playno1/router.js
  lib/v2/playno1/st.js
  lib/v2/playno1/utils.js
Labels: Auto: Route Test Complete

#9867 feat(route): tiktok
  docs/en/social-media.md
  lib/v2/tiktok/router.js
  lib/v2/tiktok/templates/maintainer.js
  lib/v2/tiktok/templates/radar.js
  lib/v2/tiktok/templates/user.art
  lib/v2/tiktok/user.js
Labels: Auto: Route Test Complete, puppeteer

#9879 fix(route): customs
  docs/government.md
  lib/router.js
  lib/routes/gov/customs/list.js
  lib/v2/gov/customs/list.js
  lib/v2/gov/customs/utils.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, puppeteer

#9880 fix(route): pincong
  lib/router.js
  lib/routes/pincong/hot.js
  lib/routes/pincong/topic.js
  lib/v2/pincong/hot.js
  lib/v2/pincong/index.js
  lib/v2/pincong/maintainer.js
  lib/v2/pincong/radar.js
  lib/v2/pincong/router.js
  lib/v2/pincong/topic.js
  lib/v2/pincong/utils.js
Labels: Auto: Route Test Complete, puppeteer

#9885 fix(route): 修复机核网路由, 并增加错误抛出
  lib/v2/gcores/category.js
  lib/v2/gcores/tag.js
Labels: Auto: Route Test Complete

#9886 feat(route): gitee
  docs/install/README.md
  docs/programming.md
  lib/config.js
  lib/v2/gitee/maintainer.js
  lib/v2/gitee/radar.js
  lib/v2/gitee/repos/commits.js
  lib/v2/gitee/repos/events.js
  lib/v2/gitee/repos/releases.js
  lib/v2/gitee/router.js
  lib/v2/gitee/users/events.js
Labels: Auto: Route Test Complete

#9888 fix(route): xiaohongshu
  docs/social-media.md
  lib/router.js
  lib/routes/xiaohongshu/util.js
  lib/v2/xiaohongshu/board.js
  lib/v2/xiaohongshu/maintainer.js
  lib/v2/xiaohongshu/radar.js
  lib/v2/xiaohongshu/router.js
  lib/v2/xiaohongshu/user.js
  lib/v2/xiaohongshu/util.js
Labels: Auto: Route Test Complete, puppeteer

#9890 feat(route): add 正版中国
  docs/shopping.md
  lib/v2/getitfree/index.js
  lib/v2/getitfree/maintainer.js
  lib/v2/getitfree/radar.js
  lib/v2/getitfree/router.js
Labels: Auto: Route Test Complete

#9891 fix(route): Asian to Lick
  lib/router.js
  lib/v2/asiantolick/index.js
  lib/v2/asiantolick/maintainer.js
  lib/v2/asiantolick/radar.js
  lib/v2/asiantolick/router.js
  lib/v2/asiantolick/templates/description.art
Labels: Auto: Route Test Complete

#9896 fix(docker): puppeteer stealth not working in docker
  lib/utils/puppeteer.js
Labels: Auto: No Route Needed, puppeteer

#9897 feat(route): add 电动邦
  docs/new-media.md
  lib/v2/diandong/ddh.js
  lib/v2/diandong/maintainer.js
  lib/v2/diandong/news.js
  lib/v2/diandong/radar.js
  lib/v2/diandong/router.js
Labels: Auto: Route Test Complete

#9898 fix(route): 综艺秀
  assets/radar-rules.js
  docs/multimedia.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/zyshow/index.js
  lib/v2/zyshow/index.js
  lib/v2/zyshow/maintainer.js
  lib/v2/zyshow/radar.js
  lib/v2/zyshow/router.js
  lib/v2/zyshow/templates/description.art
Labels: Auto: Route Test Complete

#9900 feat(utils): decode cf protected email string
  lib/utils/cf-email.js
  lib/v2/sciencedirect/journal.js
  test/utils/cf-email.js
Labels: core enhancement, Auto: Route Test Complete

#9901 feat(route): sspai series update
  docs/new-media.md
  lib/utils/cf-email.js
  lib/v2/sspai/maintainer.js
  lib/v2/sspai/radar.js
  lib/v2/sspai/router.js
  lib/v2/sspai/seriesUpdate.js
Labels: Auto: Route Test Complete

#9902 feat(route): sis001
  docs/bbs.md
  lib/v2/sis001/forum.js
  lib/v2/sis001/maintainer.js
  lib/v2/sis001/radar.js
  lib/v2/sis001/router.js
Labels: Auto: Route Test Complete

#9905 feat(route): douyin hashtag
  docs/social-media.md
  lib/v2/douyin/hashtag.js
  lib/v2/douyin/radar.js
  lib/v2/douyin/router.js
Labels: Auto: Route Test Complete, puppeteer

#9899 feat(route): add 健康界
  docs/new-media.md
  lib/v2/cn-healthcare/index.js
  lib/v2/cn-healthcare/maintainer.js
  lib/v2/cn-healthcare/radar.js
  lib/v2/cn-healthcare/router.js
Labels: Auto: Route Test Complete

#9919 fix(route): mp4er change domain and refactor to V2
  lib/router.js
  lib/v2/mp4er/index.js
  lib/v2/mp4er/maintainer.js
  lib/v2/mp4er/radar.js
  lib/v2/mp4er/router.js
Labels: Auto: Route Test Complete

#8898 fix(route): 中国工业和信息化部
  lib/v2/gov/miit/wjgs.js
  lib/v2/gov/miit/zcjd.js
Labels: Auto: Route Test Complete

#9920 feat(route): 91porn
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/91porn/index.js
  lib/v2/91porn/maintainer.js
  lib/v2/91porn/radar.js
  lib/v2/91porn/router.js
  lib/v2/91porn/templates/index.art
Labels: Auto: Route Test Complete

#9927 feat(route): add 产品沉思录
  docs/new-media.md
  lib/v2/pmthinking/index.js
  lib/v2/pmthinking/maintainer.js
  lib/v2/pmthinking/radar.js
  lib/v2/pmthinking/router.js
  lib/v2/pmthinking/templates/description.art
Labels: Auto: Route Test Complete

#9925 feat(route): add Elastic 中文社区
  docs/bbs.md
  lib/v2/elasticsearch-cn/index.js
  lib/v2/elasticsearch-cn/maintainer.js
  lib/v2/elasticsearch-cn/radar.js
  lib/v2/elasticsearch-cn/router.js
Labels: Auto: Route Test Complete

#9923 feat(route): add itch.io
  docs/en/game.md
  docs/game.md
  lib/v2/itch/devlog.js
  lib/v2/itch/index.js
  lib/v2/itch/maintainer.js
  lib/v2/itch/posts.js
  lib/v2/itch/radar.js
  lib/v2/itch/router.js
  lib/v2/itch/templates/description.art
Labels: Auto: Route Test Complete

#9929 feat(route): add MySQL Release Notes
  docs/en/programming.md
  docs/programming.md
  lib/v2/mysql/maintainer.js
  lib/v2/mysql/radar.js
  lib/v2/mysql/release.js
  lib/v2/mysql/router.js
Labels: Auto: Route Test Complete

#9931 fix(route): 知乎动态
  lib/v2/zhihu/activities.js
Labels: Auto: Route Test Complete

#9933 fix(route): Mirror
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/mirror/entries.js
  lib/v2/mirror/index.js
  lib/v2/mirror/maintainer.js
  lib/v2/mirror/radar.js
  lib/v2/mirror/router.js
Labels: Auto: Route Test Complete

#9934 fix(route): novel/biqugeinfo 在使用 redis 作为缓存时无法正常工作
  lib/routes/novel/biqugeinfo.js
Labels: Auto: Route Test Complete

#9937 fix(route): hk01 get fulltext and refactor to V2
  docs/traditional-media.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/hk01/channel.js
  lib/routes/hk01/issue.js
  lib/v2/hk01/channel.js
  lib/v2/hk01/hot.js
  lib/v2/hk01/issue.js
  lib/v2/hk01/maintainer.js
  lib/v2/hk01/radar.js
  lib/v2/hk01/router.js
  lib/v2/hk01/tag.js
  lib/v2/hk01/zone.js
Labels: Auto: Route Test Complete

#9941 fix(route): tiktok deleted clip
  lib/v2/tiktok/user.js
Labels: Auto: Route Test Complete

#9952 feat(route): add 腾讯云云+社区专栏
  docs/programming.md
  lib/v2/tencent/cloud/column.js
  lib/v2/tencent/maintainer.js
  lib/v2/tencent/radar.js
  lib/v2/tencent/router.js
Labels: Auto: Route Test Complete

#9951 feat(route): add Springer route
  docs/en/journal.md
  docs/journal.md
  lib/v2/springer/journal.js
  lib/v2/springer/maintainer.js
  lib/v2/springer/radar.js
  lib/v2/springer/router.js
  lib/v2/springer/templates/description.art
Labels: Auto: Route Test Complete

#9953 feat(route): add Scitation route
  docs/en/journal.md
  docs/journal.md
  lib/v2/scitation/journal.js
  lib/v2/scitation/maintainer.js
  lib/v2/scitation/radar.js
  lib/v2/scitation/router.js
  lib/v2/scitation/section.js
  lib/v2/scitation/templates/description.art
Labels: Auto: Route Test Complete

#9954 feat(route): fix and update Elsevier route
  docs/en/journal.md
  docs/journal.md
  lib/v2/elsevier/issue.js
  lib/v2/elsevier/journal.js
  lib/v2/elsevier/latest.js
  lib/v2/elsevier/maintainer.js
  lib/v2/elsevier/radar.js
  lib/v2/elsevier/router.js
  lib/v2/elsevier/templates/description.art
  lib/v2/elsevier/volume.js
Labels: Auto: Route Test Complete

#9955 feat(route): fix and update IEEE route
  docs/en/journal.md
  docs/journal.md
  lib/v2/ieee/journal.js
  lib/v2/ieee/latestvol.js
  lib/v2/ieee/maintainer.js
  lib/v2/ieee/radar.js
  lib/v2/ieee/recent.js
  lib/v2/ieee/router.js
  lib/v2/ieee/templates/description.art
Labels: Auto: Route Test Complete

#9967 fix(route)(weibo/user): multiple pinned weibo
  lib/routes/weibo/user.js
Labels: Auto: Route Test Complete

#9966 feat(route): add domp4 影视
  docs/multimedia.md
  lib/v2/domp4/detail.js
  lib/v2/domp4/latest.js
  lib/v2/domp4/maintainer.js
  lib/v2/domp4/radar.js
  lib/v2/domp4/router.js
  lib/v2/domp4/utils.js
Labels: Auto: Route Test Complete

#9963 feat(route): 19楼头条
  docs/bbs.md
  lib/v2/19lou/index.js
  lib/v2/19lou/maintainer.js
  lib/v2/19lou/radar.js
  lib/v2/19lou/router.js
Labels: Auto: Route Test Complete

#9979 feat(route): 嘉兴日报 & 南湖晚报
  docs/traditional-media.md
  lib/v2/cnjxol/index.js
  lib/v2/cnjxol/maintainer.js
  lib/v2/cnjxol/radar.js
  lib/v2/cnjxol/router.js
  lib/v2/cnjxol/templates/description.art
Labels: Auto: Route Test Complete

#9971 feat(route)!: remove JASA in journal
  docs/en/journal.md
  docs/journal.md
  lib/v2/jasa/latest.js
  lib/v2/jasa/maintainer.js
  lib/v2/jasa/radar.js
  lib/v2/jasa/router.js
  lib/v2/jasa/section.js
  lib/v2/jasa/templates/description.art
Labels: Auto: Route Test Complete

#9978 feat(route): add 北京市教育委员会通知公告
  docs/government.md
  lib/v2/gov/beijing/jw/tzgg.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete

#9983 fix(core/parameter): missing some tags handling
  lib/middleware/parameter.js
  lib/v2/test/index.js
  test/middleware/parameter.js
Labels: Auto: No Route Needed

#9987 feat(route): add hashnode 用户博客
  docs/blog.md
  lib/v2/hashnode/blog.js
  lib/v2/hashnode/maintainer.js
  lib/v2/hashnode/radar.js
  lib/v2/hashnode/router.js
  lib/v2/hashnode/templates/description.art
Labels: Auto: Route Test Complete

#9997 feat(core): anti-hotlink experimental parameters
  docs/en/faq.md
  docs/en/install/README.md
  docs/en/parameter.md
  docs/faq.md
  docs/install/README.md
  docs/new-media.md
  docs/parameter.md
  docs/social-media.md
  lib/config.js
  lib/middleware/anti-hotlink.js
  lib/middleware/parameter.js
  lib/middleware/templates/iframe.art
  lib/v2/test/index.js
  test/middleware/anti-hotlink.js
  test/middleware/parameter.js
Labels: Auto: No Route Needed

#9992 feat(route): 巨量算数 抖音/头条指数波峰监测 v2
  docs/other.md
  lib/v2/oceanengine/arithmeticIndex.js
  lib/v2/oceanengine/maintainer.js
  lib/v2/oceanengine/radar.js
  lib/v2/oceanengine/router.js
  lib/v2/oceanengine/templates/content.art
Labels: Auto: Route Test Complete

#9999 feat(route): hackertalk 黑客说 最新帖子
  docs/bbs.md
  lib/v2/hackertalk/index.js
  lib/v2/hackertalk/maintainer.js
  lib/v2/hackertalk/radar.js
  lib/v2/hackertalk/router.js
Labels: Auto: Route Test Complete

#10006 fix(route): apnews without puppeteer
  assets/radar-rules.js
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/apnews/topics.js
  lib/v2/apnews/maintainer.js
  lib/v2/apnews/radar.js
  lib/v2/apnews/router.js
  lib/v2/apnews/templates/description.art
  lib/v2/apnews/topics.js
Labels: Auto: Route Test Complete

#9800 fix(route): `keep` add throw err when data is empty and refator to V2
  lib/router.js
  lib/v2/keep/maintainer.js
  lib/v2/keep/radar.js
  lib/v2/keep/router.js
  lib/v2/keep/templates/user.art
  lib/v2/keep/user.js
Labels: Auto: Route Test Complete

#10010 perf(route): block unnecessary requests in all puppeteer routes
  docs/en/multimedia.md
  docs/university.md
  lib/router.js
  lib/routes/universities/ncwu/notice.js
  lib/routes/universities/uestc/sice.js
  lib/v2/ccac/news.js
  lib/v2/douyin/hashtag.js
  lib/v2/gov/customs/list.js
  lib/v2/gov/customs/utils.js
  lib/v2/gov/pbc/goutongjiaoliu.js
  lib/v2/gov/pbc/tradeAnnouncement.js
  lib/v2/ielts/index.js
  lib/v2/nbd/radar.js
  lib/v2/ncwu/maintainer.js
  lib/v2/ncwu/notice.js
  lib/v2/ncwu/radar.js
  lib/v2/ncwu/router.js
  lib/v2/nju/rczp.js
  lib/v2/njust/utils.js
  lib/v2/nuaa/utils/pypasswaf.js
  lib/v2/nytimes/index.js
  lib/v2/nytimes/utils.js
  lib/v2/pincong/utils.js
  lib/v2/prestige-av/maintainer.js
  lib/v2/prestige-av/radar.js
  lib/v2/prestige-av/router.js
  lib/v2/prestige-av/series.js
  lib/v2/uraaka-joshi/uraaka-joshi-user.js
  lib/v2/uraaka-joshi/uraaka-joshi.js
  lib/v2/xiaohongshu/util.js
Labels: Auto: Route Test Complete, puppeteer

#10009 feat(route): 中国留学网通知公告
  docs/study.md
  lib/v2/cscse/maintainer.js
  lib/v2/cscse/radar.js
  lib/v2/cscse/router.js
  lib/v2/cscse/tzgg.js
Labels: Auto: Route Test Complete

#10012 fix(route): The New York Times 新闻简报
  docs/traditional-media.md
  lib/v2/nytimes/daily_briefing_chinese.js
  lib/v2/nytimes/maintainer.js
  lib/v2/nytimes/templates/image.art
Labels: Auto: Route Test Complete

#10013 feat(core): regex engine config
  docs/en/install/README.md
  docs/en/parameter.md
  docs/install/README.md
  docs/parameter.md
  lib/config.js
  lib/middleware/parameter.js
Labels: Auto: No Route Needed

#10014 feat(core): regex engine naming and test suit
  docs/en/install/README.md
  docs/en/parameter.md
  docs/install/README.md
  docs/parameter.md
  lib/config.js
  lib/middleware/parameter.js
  test/middleware/filter-engine.js
Labels: Auto: No Route Needed

#9998 feat(route): 微博+头条+知乎热搜的关键词聚合追踪
  docs/other.md
  lib/v2/trending/allTrending.js
  lib/v2/trending/maintainer.js
  lib/v2/trending/radar.js
  lib/v2/trending/router.js
  lib/v2/trending/templates/content.art
Labels: Auto: Route Test Complete

#10019 fix(route): agefans domain
  lib/routes/agefans/update.js
Labels: Auto: No Route Needed

#10011 feat(route): add SupChina
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/supchina/index.js
  lib/v2/supchina/maintainer.js
  lib/v2/supchina/podcasts.js
  lib/v2/supchina/radar.js
  lib/v2/supchina/router.js
Labels: Auto: Route Test Complete

#10022 fix(route): MDPI journal - avoid the replace() 'undefined' error
  lib/v2/mdpi/journal.js
Labels: Auto: Route Test Complete

#10034 feat(route): add 水果派
  docs/new-media.md
  lib/v2/shuiguopai/index.js
  lib/v2/shuiguopai/maintainer.js
  lib/v2/shuiguopai/radar.js
  lib/v2/shuiguopai/router.js
  lib/v2/shuiguopai/templates/description.art
Labels: Auto: Route Test Complete

#10035 feat(route): add 零博客
  docs/blog.md
  lib/v2/agora0/index.js
  lib/v2/agora0/maintainer.js
  lib/v2/agora0/radar.js
  lib/v2/agora0/router.js
Labels: Auto: Route Test Complete

#10036 feat(route): add 第一财经杂志
  docs/finance.md
  lib/v2/cbnweek/index.js
  lib/v2/cbnweek/maintainer.js
  lib/v2/cbnweek/radar.js
  lib/v2/cbnweek/router.js
Labels: Auto: Route Test Complete

#10048 feat(route): add 徐州市人力资源和社会保障局
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/xuzhou/hrss.js
Labels: Auto: Route Test Complete

#10060 feat(route): douyin live
  docs/live.md
  docs/social-media.md
  lib/v2/douyin/hashtag.js
  lib/v2/douyin/live.js
  lib/v2/douyin/radar.js
  lib/v2/douyin/router.js
  lib/v2/douyin/user.js
  lib/v2/douyin/utils.js
Labels: Auto: Route Test Complete, puppeteer

#10063 feat(route): vlive
  docs/en/live.md
  docs/en/social-media.md
  lib/v2/vlive/index.js
  lib/v2/vlive/radar.js
  lib/v2/vlive/router.js
  lib/v2/vlive/templates/post.art
  lib/v2/vlive/templates/video.art
Labels: Auto: Route Test Complete

#10062 feat(route): add u3c3
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/u3c3/index.js
  lib/v2/u3c3/maintainer.js
  lib/v2/u3c3/radar.js
  lib/v2/u3c3/router.js
Labels: Auto: Route Test Complete

#10066 fix(route): tiktok user route rewrite
  lib/v2/tiktok/user.js
Labels: Auto: Route Test Complete, puppeteer

#10067 feat(route): Nyaa migrated to v2 and add sukebei support
  docs/en/multimedia.md
  docs/multimedia.md
  lib/router.js
  lib/v2/nyaa/maintainer.js
  lib/v2/nyaa/radar.js
  lib/v2/nyaa/router.js
  lib/v2/nyaa/search.js
Labels: Auto: Route Test Complete

#10075 feat(route): add 西安交通大学第二附属医院新闻
  docs/university.md
  lib/v2/xjtu/2yuan/news.js
  lib/v2/xjtu/maintainer.js
  lib/v2/xjtu/radar.js
  lib/v2/xjtu/router.js
Labels: Auto: Route Test Complete

#10081 feat(route): add Samsung Research Blog
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/samsung/maintainer.js
  lib/v2/samsung/radar.js
  lib/v2/samsung/research/blog.js
  lib/v2/samsung/router.js
Labels: Auto: Route Test Complete

#10083 feat(route): xueqiu column
  docs/finance.md
  lib/v2/douyin/maintainer.js
  lib/v2/vlive/maintainer.js
  lib/v2/xueqiu/column.js
  lib/v2/xueqiu/maintainer.js
  lib/v2/xueqiu/radar.js
  lib/v2/xueqiu/router.js
Labels: Auto: Route Test Complete
