Repository DIYgod/RSSHub, pull requests merged in 2022-11, with the labels that each got.

#11131 feat(route): Add bloomberg rss
  docs/en/finance.md
  lib/v2/bloomberg/index.js
  lib/v2/bloomberg/maintainer.js
  lib/v2/bloomberg/radar.js
  lib/v2/bloomberg/router.js
  lib/v2/bloomberg/templates/audio_media.art
  lib/v2/bloomberg/templates/image_figure.art
  lib/v2/bloomberg/templates/lede_media.art
  lib/v2/bloomberg/templates/video_media.art
  lib/v2/bloomberg/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11188 fix(route): use GraphQL query in GitHub trending
  docs/en/programming.md
  docs/programming.md
  lib/v2/github/trending.js
Labels: Auto: Route Test Complete, Route: v2

#11197 fix(route): keyword lb
  lib/v2/smzdm/keyword.js
Labels: Auto: Route Test Complete, Route: v2

#11198 fix(route): thepaper pic list feature page error
  lib/v2/thepaper/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11203 feat(route): add CnGal
  docs/anime.md
  lib/v2/cngal/entry.js
  lib/v2/cngal/maintainer.js
  lib/v2/cngal/radar.js
  lib/v2/cngal/router.js
  lib/v2/cngal/templates/entry-description.art
  lib/v2/cngal/templates/weekly-description.art
  lib/v2/cngal/weekly.js
Labels: Auto: Route Test Complete, Route: v2

#11180 feat(route): 知乎想法添加转发原文
  .gitattributes
  lib/v2/zhihu/pin/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11200 fix(route): fix luogu route date parse regex
  lib/v2/luogu/daily.js
Labels: Auto: Route Test Complete, Route: v2

#11218 fix(route): foresightnews
  lib/v2/foresightnews/index.js
Labels: Auto: Route Test Complete, Route: v2

#11220 fix(route): odaily
  lib/v2/odaily/post.js
  lib/v2/odaily/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11226 fix(route): HelloGitHub月刊
  lib/v2/hellogithub/volume.js
Labels: Auto: Route Test Complete, Route: v2

#11106 feat(route): add Uber Engineering Blog
  docs/blog.md
  docs/en/blog.md
  lib/v2/uber/blog.js
  lib/v2/uber/maintainer.js
  lib/v2/uber/radar.js
  lib/v2/uber/router.js
Labels: Auto: Route Test Complete, Route: v2

#11229 fix(route): 替换CnGal API返回的换行符
  lib/v2/cngal/templates/weekly-description.art
Labels: Auto: Route Test Complete

#11225 fix(route): E站页面匹配规则已更新
  lib/v2/ehentai/ehapi.js
Labels: Auto: Route Test Complete, Route: v2

#11228 feat(route): add 簡訊設計
  docs/new-media.md
  lib/v2/simpleinfo/index.js
  lib/v2/simpleinfo/maintainer.js
  lib/v2/simpleinfo/radar.js
  lib/v2/simpleinfo/router.js
  lib/v2/simpleinfo/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11234 fix(route): fix item link of uber blog
  lib/v2/uber/blog.js
Labels: Auto: Route Test Complete, Route: v2

#11241 feat(route): Add ymgal.games RSS
  docs/anime.md
  lib/v2/ymgal/article.js
  lib/v2/ymgal/maintainer.js
  lib/v2/ymgal/radar.js
  lib/v2/ymgal/router.js
Labels: Auto: Route Test Complete, Route: v2

#11224 fix: restore /hrbeu/ugs/news.js
  docs/university.md
  lib/utils/wechat-mp.js
  lib/v2/heu/job/bigemploy.js
  lib/v2/hrbeu/gx/card.js
  lib/v2/hrbeu/gx/list.js
  lib/v2/hrbeu/job/bigemploy.js
  lib/v2/hrbeu/job/calendar.js
  lib/v2/hrbeu/job/list.js
  lib/v2/hrbeu/maintainer.js
  lib/v2/hrbeu/radar.js
  lib/v2/hrbeu/router.js
  lib/v2/hrbeu/uae/list.js
  lib/v2/hrbeu/ugs/news.js
  lib/v2/hrbeu/yjsy/list.js
Labels: Auto: Route Test Complete, Route: v2

#11232 fix(route): Fix Nintendo eShop US
  docs/en/program-update.md
  lib/router.js
  lib/routes/nintendo/direct.js
  lib/routes/nintendo/eshop_cn.js
  lib/routes/nintendo/eshop_hk.js
  lib/routes/nintendo/eshop_jp.js
  lib/routes/nintendo/eshop_us.js
  lib/routes/nintendo/news.js
  lib/routes/nintendo/news_china.js
  lib/v2/nintendo/direct.js
  lib/v2/nintendo/eshop_cn.js
  lib/v2/nintendo/eshop_hk.js
  lib/v2/nintendo/eshop_jp.js
  lib/v2/nintendo/eshop_us.js
  lib/v2/nintendo/maintainer.js
  lib/v2/nintendo/news.js
  lib/v2/nintendo/news_china.js
  lib/v2/nintendo/radar.js
  lib/v2/nintendo/router.js
  lib/v2/nintendo/system-update.js
  lib/v2/nintendo/templates/direct.art
  lib/v2/nintendo/templates/eshop_cn.art
  lib/v2/nintendo/templates/eshop_hk.art
  lib/v2/nintendo/templates/eshop_jp.art
  lib/v2/nintendo/templates/eshop_us.art
  lib/v2/nintendo/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11199 fix(route): 36kr dom parse errors
  lib/v2/36kr/index.js
Labels: Auto: Route Test Complete, Route: v2

#11240 fix(route): add full video option for sctv
  docs/traditional-media.md
  lib/v2/sctv/maintainer.js
  lib/v2/sctv/programme.js
  lib/v2/sctv/router.js
Labels: Auto: Route Test Complete, Route: v2

#11252 feat(route): add 内蒙古广播电视台点播
  docs/traditional-media.md
  lib/v2/nmtv/column.js
  lib/v2/nmtv/maintainer.js
  lib/v2/nmtv/radar.js
  lib/v2/nmtv/router.js
  lib/v2/nmtv/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11253 fix(route): 修复南京晓庄学院通知公告的rss链接
  lib/v2/njxzc/home.js
Labels: Auto: Route Test Complete, Route: v2

#11261 fix(route): 壹蘋新聞網獲取失敗
  docs/new-media.md
  lib/v2/nextapple/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#11265 fix(route): 上海市药品监督管理局发布时间
  lib/v2/gov/shanghai/yjj/index.js
Labels: Auto: Route Test Complete, Route: v2

#11279 fix(route): nmpa stealth puppeteer
  lib/v2/gov/nmpa/generic.js
Labels: Auto: Route Test Complete, Route: v2

#11276 feat(route): Added TheVerge Hubs
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/theverge/index.js
  lib/v2/theverge/maintainer.js
  lib/v2/theverge/radar.js
  lib/v2/theverge/router.js
Labels: Auto: Route Test Complete, Route: v2

#11164 feat: 增加对南京艺术学院图书馆新闻的支持
  docs/en/university.md
  docs/university.md
  lib/v2/nua/lib.js
  lib/v2/nua/maintainer.js
  lib/v2/nua/radar.js
  lib/v2/nua/router.js
  lib/v2/nua/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11269 feat(route): 增加知网作者最新发布的期刊文献
  docs/finance.md
  docs/journal.md
  lib/v2/cnki/author.js
  lib/v2/cnki/journals.js
  lib/v2/cnki/maintainer.js
  lib/v2/cnki/radar.js
  lib/v2/cnki/router.js
  lib/v2/cnki/utils.js
  lib/v2/sse/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#11175 feat(nyaa/sukebei): 搜索指定用户的内容
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/nyaa/main.js
  lib/v2/nyaa/maintainer.js
  lib/v2/nyaa/radar.js
  lib/v2/nyaa/router.js
Labels: Auto: Route Test Complete, Route: v2

#11299 feat(jike): add user bio
  lib/v2/jike/user.js
Labels: Auto: Route Test Complete, Route: v2

#11301 feat(route): add 国务院政策文件库
  docs/government.md
  lib/router.js
  lib/routes/gov/zhengce/govall.js
  lib/routes/gov/zhengce/wenjian.js
  lib/routes/gov/zhengce/zuixin.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/zhengce/govall.js
  lib/v2/gov/zhengce/wenjian.js
  lib/v2/gov/zhengce/zhengceku.js
  lib/v2/gov/zhengce/zuixin.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11302 feat(route): add AIEA seminars
  docs/en/study.md
  docs/study.md
  lib/v2/aiea/index.js
  lib/v2/aiea/maintainer.js
  lib/v2/aiea/radar.js
  lib/v2/aiea/router.js
Labels: Auto: Route Test Complete, Route: v2

#11303 feat(route): 支持长沙市市长信箱
  docs/government.md
  lib/v2/gov/hunan/changsha/major-email.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#11317 fix(route): images value path changed
  lib/v2/producthunt/templates/descImg.art
Labels: Auto: Route Test Complete

#11316 feat(route): 支持长沙停水通知
  docs/forecast.md
  lib/v2/tingshuitz/changsha.js
  lib/v2/tingshuitz/maintainer.js
  lib/v2/tingshuitz/radar.js
  lib/v2/tingshuitz/router.js
Labels: Auto: Route Test Complete, Route: v2

#11242 fix(route): nautilus
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/nautilus/topics.js
  lib/v2/nautil/maintainer.js
  lib/v2/nautil/radar.js
  lib/v2/nautil/router.js
  lib/v2/nautil/templates/description.art
  lib/v2/nautil/topics.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11182 feat(route): add curius.app
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/curius/links.js
  lib/v2/curius/maintainer.js
  lib/v2/curius/radar.js
  lib/v2/curius/router.js
  lib/v2/curius/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11321 fix(route/telegram/channel): unsupported message
  lib/v2/telegram/channel.js
Labels: Auto: Route Test Complete, Route: v2

#11338 fix(route): bangumi.online
  lib/v2/bangumi/online/online.js
Labels: Auto: Route Test Complete, Route: v2

#11320 fix(route/weibo/*): sinaimg anti-hotlinking
  assets/radar-rules.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/weibo/oasis/user.js
  lib/v2/weibo/keyword.js
  lib/v2/weibo/maintainer.js
  lib/v2/weibo/oasis/user.js
  lib/v2/weibo/radar.js
  lib/v2/weibo/router.js
  lib/v2/weibo/search/hot.js
  lib/v2/weibo/super_index.js
  lib/v2/weibo/timeline.js
  lib/v2/weibo/user.js
  lib/v2/weibo/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11343 fix(route): lang.live
  docs/live.md
  lib/router.js
  lib/routes/langlive/room.js
  lib/v2/lang/maintainer.js
  lib/v2/lang/radar.js
  lib/v2/lang/room.js
  lib/v2/lang/router.js
  lib/v2/lang/templates/room.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11356 fix(route/weibo/utils): pics may be an indexed obj
  lib/v2/weibo/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11360 fix(route): 内蒙古广播电视台点播enclosure_type缺失
  lib/v2/nmtv/column.js
Labels: Auto: Route Test Complete, Route: v2
