Repository DIYgod/RSSHub, pull requests merged in 2023-02, with the labels that each got.

#11739 fix(route): youtube playlistId
  lib/v2/youtube/user.js
Labels: Auto: Route Test Complete, Route: v2

#11748 refactor(route): migrate vocus to v2
  docs/social-media.md
  lib/router.js
  lib/routes/vocus/publication.js
  lib/routes/vocus/utils.js
  lib/v2/vocus/maintainer.js
  lib/v2/vocus/publication.js
  lib/v2/vocus/radar.js
  lib/v2/vocus/router.js
  lib/v2/vocus/user.js
  lib/v2/vocus/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11749 fix(route): mysql
  lib/v2/mysql/release.js
Labels: Auto: Route Test Complete, Route: v2

#11750 fix(parameter): tighter condition for fulltext mode
  lib/middleware/parameter.js
Labels: core enhancement, Auto: Route Test Complete

#11753 fix(route): iqiyi album
  docs/multimedia.md
  lib/router.js
  lib/routes/iqiyi/dongman.js
  lib/v2/iqiyi/album.js
  lib/v2/iqiyi/maintainer.js
  lib/v2/iqiyi/radar.js
  lib/v2/iqiyi/router.js
  lib/v2/iqiyi/templates/album.art
  lib/v2/iqiyi/video.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11754 fix(route): baidu top
  docs/other.md
  lib/router.js
  lib/routes/baidu/topwords.js
  lib/v2/baidu/maintainer.js
  lib/v2/baidu/radar.js
  lib/v2/baidu/router.js
  lib/v2/baidu/templates/top.art
  lib/v2/baidu/top.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11759 feat(route): 增加登链社区
  docs/programming.md
  lib/v2/learnblockchain/maintainer.js
  lib/v2/learnblockchain/posts.js
  lib/v2/learnblockchain/radar.js
  lib/v2/learnblockchain/router.js
Labels: Auto: Route Test Complete, Route: v2

#11761 feat(route): chaincatcher
  docs/new-media.md
  lib/v2/chaincatcher/home.js
  lib/v2/chaincatcher/maintainer.js
  lib/v2/chaincatcher/news.js
  lib/v2/chaincatcher/radar.js
  lib/v2/chaincatcher/router.js
  lib/v2/chaincatcher/templates/home.art
Labels: Auto: Route Test Complete, Route: v2

#11758 feat(route): 添加电鸭社区分类文章路由
  .gitignore
  docs/bbs.md
  lib/router.js
  lib/routes/eleduck/jobs.js
  lib/v2/eleduck/jobs.js
  lib/v2/eleduck/maintainer.js
  lib/v2/eleduck/posts.js
  lib/v2/eleduck/radar.js
  lib/v2/eleduck/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11765 fix(route): 修复电鸭社区和登链社区的radar问题
  lib/v2/eleduck/posts.js
  lib/v2/eleduck/radar.js
  lib/v2/learnblockchain/radar.js
Labels: Auto: Route Test Complete, Route: v2

#11713 fix(route): blockbeats
  docs/new-media.md
  lib/v2/blockbeats/index.js
  lib/v2/blockbeats/maintainer.js
  lib/v2/blockbeats/radar.js
Labels: Auto: Route Test Complete, Route: v2

#11767 feat(route): IKEA China
  docs/shopping.md
  lib/v2/ikea/cn/family_offers.js
  lib/v2/ikea/cn/low_price.js
  lib/v2/ikea/cn/new.js
  lib/v2/ikea/cn/utils.js
  lib/v2/ikea/maintainer.js
  lib/v2/ikea/radar.js
  lib/v2/ikea/router.js
  lib/v2/ikea/templates/cn/product.art
Labels: Auto: Route Test Complete, Route: v2

#11776 feat(route): add crac
  docs/government.md
  lib/v2/crac/index.js
  lib/v2/crac/maintainer.js
  lib/v2/crac/radar.js
  lib/v2/crac/router.js
Labels: Auto: Route Test Complete, Route: v2

#11777 fix(route): fix invalid region and refactor to v2
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/router.js
  lib/v2/yahoo/maintainer.js
  lib/v2/yahoo/news/index.js
  lib/v2/yahoo/radar.js
  lib/v2/yahoo/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11784 fix: update pku.ss hosts due to the host change on November 2022
  lib/v2/pku/ss/admission.js
  lib/v2/pku/ss/common.js
  lib/v2/pku/ss/notice.js
  lib/v2/pku/ss/pg_admin.js
Labels: Auto: Route Test Complete, Route: v2

#11782 feat(route): add bjwxdxh
  docs/government.md
  lib/v2/bjwxdxh/index.js
  lib/v2/bjwxdxh/maintainer.js
  lib/v2/bjwxdxh/radar.js
  lib/v2/bjwxdxh/router.js
Labels: Auto: Route Test Complete, Route: v2

#11780 fix: 修复E站翻页功能
  docs/picture.md
  lib/v2/ehentai/ehapi.js
  lib/v2/ehentai/favorites.js
  lib/v2/ehentai/search.js
  lib/v2/ehentai/tag.js
Labels: Auto: Route Test Complete, Route: v2

#11786 feat(route): add kimlaw
  docs/en/study.md
  docs/study.md
  lib/v2/kimlaw/maintainer.js
  lib/v2/kimlaw/radar.js
  lib/v2/kimlaw/router.js
  lib/v2/kimlaw/thesis.js
Labels: Auto: Route Test Complete, Route: v2

#11787 feat(route): add bjsk
  docs/government.md
  lib/v2/bjsk/index.js
  lib/v2/bjsk/maintainer.js
  lib/v2/bjsk/radar.js
  lib/v2/bjsk/router.js
Labels: Auto: Route Test Complete, Route: v2

#11792 feat(route)!: remove `/wechat/wemp/:id`
  docs/new-media.md
  lib/v2/wechat/maintainer.js
  lib/v2/wechat/router.js
  lib/v2/wechat/wemp.js
Labels: Route: v2

#11795 fix(route): remove the timezone shift for thepaper page, cause it is already shifted
  lib/v2/thepaper/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11783 feat(route): Add "Mclaren Racing"
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/mclaren/index.js
  lib/v2/mclaren/maintainer.js
  lib/v2/mclaren/radar.js
  lib/v2/mclaren/router.js
  lib/v2/mclaren/templates/desc.art
Labels: Auto: Route Test Complete, Route: v2

#11797 fix(route): bdys
  docs/multimedia.md
  lib/v2/bdys/index.js
  lib/v2/bdys/maintainer.js
  lib/v2/bdys/radar.js
  lib/v2/bdys/router.js
  lib/v2/bdys/templates/desc.art
  lib/v2/mp4er/index.js
  lib/v2/mp4er/maintainer.js
  lib/v2/mp4er/radar.js
  lib/v2/mp4er/router.js
Labels: Auto: Route Test Complete, Route: v2

#11798 fix(route): 证券时报网栏目
  docs/finance.md
  lib/v2/stcn/index.js
  lib/v2/stcn/maintainer.js
  lib/v2/stcn/radar.js
  lib/v2/stcn/router.js
Labels: Auto: Route Test Complete, Route: v2

#11800 feat(route): add u9a9
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/u9a9/index.js
  lib/v2/u9a9/maintainer.js
  lib/v2/u9a9/radar.js
  lib/v2/u9a9/router.js
Labels: Auto: Route Test Complete, Route: v2

#11803 feat(route): add acg17 rss
  docs/anime.md
  lib/v2/acg17/maintainer.js
  lib/v2/acg17/post.js
  lib/v2/acg17/radar.js
  lib/v2/acg17/router.js
Labels: Auto: Route Test Complete, Route: v2

#11810 fix(route): fix bphc URL changed
  docs/government.md
  lib/v2/gov/beijing/bphc/index.js
Labels: Auto: Route Test Complete, Route: v2

#11807 fix(route): apple exchange_repair route changed
  lib/v2/apple/exchange_repair.js
Labels: Auto: Route Test Complete, Route: v2

#11806 fix(route): fix timezone and refactor to v2
  docs/finance.md
  lib/router.js
  lib/routes/jinshi/index.js
  lib/v2/jin10/index.js
  lib/v2/jin10/maintainer.js
  lib/v2/jin10/radar.js
  lib/v2/jin10/router.js
  lib/v2/jin10/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11815 feat(route): add piyao_jrpy
  docs/other.md
  lib/v2/piyao/jrpy.js
  lib/v2/piyao/maintainer.js
  lib/v2/piyao/radar.js
  lib/v2/piyao/router.js
Labels: Auto: Route Test Complete, Route: v2

#11817 fix(route): jin10 vip title
  lib/v2/jin10/index.js
  lib/v2/jin10/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11808 refactor(route): thepaper utils with cleaner structure
  lib/v2/thepaper/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11819 fix(route): qq fact
  docs/other.md
  lib/router.js
  lib/routes/tencent/factcheck/index.js
  lib/v2/qq/fact/index.js
  lib/v2/qq/maintainer.js
  lib/v2/qq/radar.js
  lib/v2/qq/router.js
  lib/v2/qq/templates/article.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11821 feat(route): jiaoliudao
  docs/blog.md
  lib/v2/jiaoliudao/index.js
  lib/v2/jiaoliudao/maintainer.js
  lib/v2/jiaoliudao/radar.js
  lib/v2/jiaoliudao/router.js
Labels: Auto: Route Test Complete, Route: v2

#11825 fix(route): cartoonmad
  docs/anime.md
  lib/router.js
  lib/routes/cartoonmad/comic.js
  lib/v2/cartoonmad/comic.js
  lib/v2/cartoonmad/maintainer.js
  lib/v2/cartoonmad/radar.js
  lib/v2/cartoonmad/router.js
  lib/v2/cartoonmad/templates/chapter.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11818 feat(route): 增加Issue Hunt订阅
  docs/en/programming.md
  docs/programming.md
  lib/v2/issuehunt/funded.js
  lib/v2/issuehunt/maintainer.js
  lib/v2/issuehunt/radar.js
  lib/v2/issuehunt/router.js
Labels: Auto: Route Test Complete, Route: v2

#11835 fix(route): remove next() from mesalab route
  docs/university.md
  lib/router.js
  lib/routes/universities/cas/mesalab/kb.js
  lib/routes/universities/cas/sim/academic.js
  lib/v2/cas/cg/index.js
  lib/v2/cas/iee/kydt.js
  lib/v2/cas/maintainer.js
  lib/v2/cas/mesalab/kb.js
  lib/v2/cas/radar.js
  lib/v2/cas/router.js
  lib/v2/cas/sim/kyjz.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11843 feat(route): 增加少数派用户收藏订阅
  docs/new-media.md
  lib/v2/sspai/bookmarks.js
  lib/v2/sspai/maintainer.js
  lib/v2/sspai/radar.js
  lib/v2/sspai/router.js
Labels: Auto: Route Test Complete, Route: v2

#11847 fix(route): nbd
  lib/v2/nbd/index.js
Labels: Auto: Route Test Complete, Route: v2

#11842 feat(route): add misskey featured notes
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/misskey/featured-notes.js
  lib/v2/misskey/maintainer.js
  lib/v2/misskey/radar.js
  lib/v2/misskey/router.js
  lib/v2/misskey/templates/note.art
  lib/v2/misskey/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11827 feat(route): fix route swjtu
  docs/university.md
  lib/router.js
  lib/routes/swjtu/tl/news.js
  lib/v2/swjtu/jtys/yjs.js
  lib/v2/swjtu/maintainer.js
  lib/v2/swjtu/radar.js
  lib/v2/swjtu/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11851 refactor: migrate hitsz to v2
  docs/university.md
  lib/router.js
  lib/v2/hitsz/article.js
  lib/v2/hitsz/maintainer.js
  lib/v2/hitsz/radar.js
  lib/v2/hitsz/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11863 fix(route): yuque
  assets/radar-rules.js
  docs/install/README.md
  docs/study.md
  lib/config.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/yuque/doc.js
  lib/v2/yuque/book.js
  lib/v2/yuque/maintainer.js
  lib/v2/yuque/radar.js
  lib/v2/yuque/router.js
  lib/v2/yuque/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11864 feat(route): zhibo8 luxiang
  docs/bbs.md
  docs/multimedia.md
  lib/v2/zhibo8/forum.js
  lib/v2/zhibo8/luxiang.js
  lib/v2/zhibo8/maintainer.js
  lib/v2/zhibo8/more.js
  lib/v2/zhibo8/post.js
  lib/v2/zhibo8/radar.js
  lib/v2/zhibo8/router.js
Labels: Auto: Route Test Complete, Route: v2

#11838 feat(route): add 東網產經
  docs/traditional-media.md
  lib/v2/oncc/maintainer.js
  lib/v2/oncc/money18.js
  lib/v2/oncc/radar.js
  lib/v2/oncc/router.js
  lib/v2/oncc/templates/money18.art
Labels: Auto: Route Test Complete, Route: v2

#11872 fix(route): replace punycode domain
  lib/v2/crossbell/feeds/following.js
  lib/v2/crossbell/notes/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11874 feat(route): wechat2rss
  docs/new-media.md
  lib/v2/wechat/maintainer.js
  lib/v2/wechat/radar.js
  lib/v2/wechat/router.js
  lib/v2/wechat/wechat2rss.js
Labels: Auto: Route Test Complete, Route: v2

#11876 feat(route): 500px
  docs/picture.md
  lib/v2/500px/maintainer.js
  lib/v2/500px/radar.js
  lib/v2/500px/router.js
  lib/v2/500px/templates/tribeSet.art
  lib/v2/500px/templates/user.art
  lib/v2/500px/tribeSet.js
  lib/v2/500px/user.js
  lib/v2/500px/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11849 fix(route): layoffs.fyi
  lib/v2/layoffs/index.js
Labels: Auto: Route Test Complete, Route: v2

#11873 fix(route): 修复风之动漫
  docs/anime.md
  lib/router.js
  lib/routes/fzdm/manhua.js
  lib/v2/fffdm/maintainer.js
  lib/v2/fffdm/manhua/manhua.js
  lib/v2/fffdm/radar.js
  lib/v2/fffdm/router.js
  lib/v2/fffdm/templates/manhua.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11270 feat(route): 支持网易云音乐用户动态
  docs/multimedia.md
  lib/v2/ncm/maintainer.js
  lib/v2/ncm/radar.js
  lib/v2/ncm/router.js
  lib/v2/ncm/templates/description.art
  lib/v2/ncm/userevents.js
Labels: Auto: Route Test Complete, Route: v2

#11891 refactor: merge ncm with 163
  assets/radar-rules.js
  docs/multimedia.md
  docs/study.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/ncm/playlist.js
  lib/v2/163/maintainer.js
  lib/v2/163/music/artist.js
  lib/v2/163/music/djradio.js
  lib/v2/163/music/maintainer.js
  lib/v2/163/music/playlist.js
  lib/v2/163/music/userevents.js
  lib/v2/163/music/userplaylist.js
  lib/v2/163/music/userplayrecords.js
  lib/v2/163/radar.js
  lib/v2/163/router.js
  lib/v2/163/templates/music/djradio-content.art
  lib/v2/163/templates/music/playlist.art
  lib/v2/163/templates/music/userevents.art
  lib/v2/163/templates/music/userplaylist.art
  lib/v2/163/templates/music/userplayrecords.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11890 feat(route): add thepaper sidebar
  docs/traditional-media.md
  lib/v2/thepaper/maintainer.js
  lib/v2/thepaper/radar.js
  lib/v2/thepaper/router.js
  lib/v2/thepaper/sidebar.js
Labels: Auto: Route Test Complete, Route: v2

#11862 feat(route): add 哈尔滨理工大学
  docs/university.md
  lib/v2/hrbust/jwzx.js
  lib/v2/hrbust/maintainer.js
  lib/v2/hrbust/radar.js
  lib/v2/hrbust/router.js
  lib/v2/hrbust/templates/description.art
  lib/v2/hrbust/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11898 feat(route): add Annual Reviews Journals
  docs/en/journal.md
  docs/journal.md
  lib/v2/annualreviews/index.js
  lib/v2/annualreviews/maintainer.js
  lib/v2/annualreviews/radar.js
  lib/v2/annualreviews/router.js
Labels: Auto: Route Test Complete, Route: v2

#11901 feat(route): dcfever
  docs/new-media.md
  lib/v2/dcfever/maintainer.js
  lib/v2/dcfever/news.js
  lib/v2/dcfever/radar.js
  lib/v2/dcfever/reviews.js
  lib/v2/dcfever/router.js
  lib/v2/dcfever/templates/trading.art
  lib/v2/dcfever/trading-search.js
  lib/v2/dcfever/trading.js
  lib/v2/dcfever/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11906 fix(route): fix misskey template when text is null
  lib/v2/misskey/templates/note.art
Labels: Auto: Route Test Complete

#11897 feat(route): add American Economic Association Journal
  docs/en/journal.md
  docs/journal.md
  lib/v2/aeaweb/index.js
  lib/v2/aeaweb/maintainer.js
  lib/v2/aeaweb/radar.js
  lib/v2/aeaweb/router.js
  lib/v2/aeaweb/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11908 feat(route): pixiv day_r18_ai rank
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/pixiv/api/getRanking.js
  lib/v2/pixiv/ranking.js
Labels: Auto: Route Test Complete, Route: v2

#11909 feat(route): 163 music artist songs
  docs/multimedia.md
  lib/v2/163/maintainer.js
  lib/v2/163/music/artist-songs.js
  lib/v2/163/radar.js
  lib/v2/163/router.js
  lib/v2/163/templates/music/playlist.art
Labels: Auto: Route Test Complete, Route: v2

#11910 fix: regex lookbehind breaking RSSBud support
  lib/v2/hrbust/radar.js
Labels: Route: v2

#11899 feat(route): add route Inoreader
  docs/en/reading.md
  docs/reading.md
  lib/v2/inoreader/index.js
  lib/v2/inoreader/maintainer.js
  lib/v2/inoreader/radar.js
  lib/v2/inoreader/router.js
Labels: Auto: Route Test Complete, Route: v2

#11913 feat(route): hunanpea
  docs/study.md
  lib/v2/hunanpea/maintainer.js
  lib/v2/hunanpea/radar.js
  lib/v2/hunanpea/router.js
  lib/v2/hunanpea/rsks.js
Labels: Auto: Route Test Complete, Route: v2

#11914 fix(route): youtube utils
  lib/v2/youtube/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11917 feat(route): csu
  docs/university.md
  lib/v2/csu/career.js
  lib/v2/csu/job.js
  lib/v2/csu/mail.js
  lib/v2/csu/maintainer.js
  lib/v2/csu/radar.js
  lib/v2/csu/router.js
  lib/v2/csu/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11918 fix(route): 7mmtv
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/7mmtv/index.js
  lib/v2/7mmtv/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#11922 fix: fix html render escape error in template demo
  lib/v2/furstar/templates/description.art
Labels: Auto: No Route Needed

#11915 feat(route): add swjtu recruitment info rss
  docs/university.md
  lib/v2/swjtu/jyzpxx.js
  lib/v2/swjtu/maintainer.js
  lib/v2/swjtu/radar.js
  lib/v2/swjtu/router.js
  lib/v2/swjtu/templates/job_desc.art
  lib/v2/swjtu/templates/job_detail.art
  lib/v2/swjtu/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11925 feat(route): bnu lib
  docs/university.md
  lib/v2/bnu/lib.js
  lib/v2/bnu/maintainer.js
  lib/v2/bnu/radar.js
  lib/v2/bnu/router.js
Labels: Auto: Route Test Complete, Route: v2

#11923 feat(route): add description of /swjtu/jtyu/yjs
  lib/v2/swjtu/jtys/yjs.js
Labels: Auto: Route Test Complete, Route: v2

#11926 feat(route): moe
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/moe/moe.js
  lib/v2/gov/moe/s78.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#11927 feat(route): bnu fdy
  docs/university.md
  lib/v2/bnu/fdy.js
  lib/v2/bnu/maintainer.js
  lib/v2/bnu/radar.js
  lib/v2/bnu/router.js
Labels: Auto: Route Test Complete, Route: v2

#11928 feat(route): qiyoujiage
  docs/other.md
  lib/router.js
  lib/routes/oilprice/index.js
  lib/v2/qiyoujiage/maintainer.js
  lib/v2/qiyoujiage/price.js
  lib/v2/qiyoujiage/radar.js
  lib/v2/qiyoujiage/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11929 feat(route): pikabu
  docs/en/bbs.md
  lib/v2/pikabu/community.js
  lib/v2/pikabu/maintainer.js
  lib/v2/pikabu/radar.js
  lib/v2/pikabu/router.js
  lib/v2/pikabu/templates/video.art
  lib/v2/pikabu/user.js
  lib/v2/pikabu/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11937 feat(route): gettr
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/gettr/maintainer.js
  lib/v2/gettr/radar.js
  lib/v2/gettr/router.js
  lib/v2/gettr/templates/post.art
  lib/v2/gettr/user.js
Labels: Auto: Route Test Complete, Route: v2

#11938 refactor: move json feed rendering to separated module
  lib/utils/render.js
  lib/views/json.js
Labels: core enhancement, Auto: No Route Needed

#11939 fix(route): fix pnas
  docs/en/journal.md
  docs/journal.md
  lib/router.js
  lib/routes/pnas/index.js
  lib/v2/pnas/index.js
  lib/v2/pnas/maintainer.js
  lib/v2/pnas/radar.js
  lib/v2/pnas/router.js
  lib/v2/pnas/templates/article.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11907 feat(route): add 6vdy
  docs/multimedia.md
  lib/v2/6v123/latestMovies.js
  lib/v2/6v123/latestTVSeries.js
  lib/v2/6v123/maintainer.js
  lib/v2/6v123/radar.js
  lib/v2/6v123/router.js
  lib/v2/6v123/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11943 fix(route): aliyundrive
  lib/v2/aliyundrive/files.js
Labels: Auto: Route Test Complete, Route: v2

#11944 feat(route): uchicago journals
  docs/en/journal.md
  lib/v2/uchicago/current.js
  lib/v2/uchicago/maintainer.js
  lib/v2/uchicago/radar.js
  lib/v2/uchicago/router.js
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#11945 feat(route): add record number parameter
  lib/v2/swjtu/jyzpxx.js
Labels: Auto: Route Test Complete, Route: v2

#11946 fix(route): instagram rework
  assets/radar-rules.js
  docs/en/social-media.md
  docs/social-media.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/instagram/index.js
  lib/routes/instagram/utils.js
  lib/v2/instagram/maintainer.js
  lib/v2/instagram/private-api/index.js
  lib/v2/instagram/private-api/utils.js
  lib/v2/instagram/radar.js
  lib/v2/instagram/router.js
  lib/v2/instagram/templates/images.art
  lib/v2/instagram/templates/video.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11949 fix(route): xiaohongshu user
  docs/social-media.md
  lib/v2/xiaohongshu/board.js
  lib/v2/xiaohongshu/maintainer.js
  lib/v2/xiaohongshu/radar.js
  lib/v2/xiaohongshu/user.js
  lib/v2/xiaohongshu/util.js
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#11952 feat(route): instagram from cookie
  docs/en/install/README.md
  docs/en/social-media.md
  docs/install/README.md
  docs/social-media.md
  lib/config.js
  lib/v2/instagram/common-utils.js
  lib/v2/instagram/maintainer.js
  lib/v2/instagram/private-api/index.js
  lib/v2/instagram/router.js
  lib/v2/instagram/web-api/index.js
  lib/v2/instagram/web-api/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11951 fix(router): parse images from `.pattl`
  docs/multimedia.md
  lib/v2/dsndsht23/index.js
  lib/v2/sehuatang/index.js
  lib/v2/sehuatang/maintainer.js
  lib/v2/sehuatang/radar.js
  lib/v2/sehuatang/router.js
Labels: Auto: Route Test Complete, Route: v2

#11955 fix(route): apkpure
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/apkpure/versions.js
  lib/v2/apkpure/maintainer.js
  lib/v2/apkpure/radar.js
  lib/v2/apkpure/router.js
  lib/v2/apkpure/versions.js
Labels: Auto: Route Test Complete, puppeteer, Route: v1, Route: v2

#11956 feat(route): pixabay
  docs/en/install/README.md
  docs/en/picture.md
  lib/config.js
  lib/v2/pixabay/maintainer.js
  lib/v2/pixabay/radar.js
  lib/v2/pixabay/router.js
  lib/v2/pixabay/search.js
  lib/v2/pixabay/templates/img.art
Labels: Auto: Route Test Complete, Route: v2

#11957 fix(route): gameapps next pages
  lib/v2/gameapps/index.js
Labels: Auto: Route Test Complete, Route: v2

#11953 fix: Improve route "codeforces" time expression readability
  lib/v2/codeforces/contests.js
  lib/v2/codeforces/templates/contest.art
Labels: Auto: Route Test Complete, Route: v2

#11964 fix(route): fix stats-cn
  lib/v2/gov/stats/index.js
  lib/v2/gov/stats/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11958 feat: 新增 bilibili 热搜
  docs/social-media.md
  lib/v2/bilibili/hotSearch.js
  lib/v2/bilibili/maintainer.js
  lib/v2/bilibili/radar.js
  lib/v2/bilibili/router.js
  lib/v2/oncc/money18.js
Labels: Auto: Route Test Complete, Route: v2

#11510 feat(route): 增加大数据专家委员会和中国人工智能学会新闻
  docs/new-media.md
  docs/study.md
  lib/router.js
  lib/v2/caai/index.js
  lib/v2/caai/maintainer.js
  lib/v2/caai/radar.js
  lib/v2/caai/router.js
  lib/v2/caai/templates/description.art
  lib/v2/caai/utils.js
  lib/v2/ccf/ccfcv/index.js
  lib/v2/ccf/maintainer.js
  lib/v2/ccf/news.js
  lib/v2/ccf/radar.js
  lib/v2/ccf/router.js
  lib/v2/ccf/templates/ccfcv/description.art
  lib/v2/ccf/templates/tfbd/description.art
  lib/v2/ccf/tfbd/index.js
  lib/v2/ccf/tfbd/utils.js
  lib/v2/ccfcv/maintainer.js
  lib/v2/ccfcv/radar.js
  lib/v2/ccfcv/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11969 feat(route): urbandictionary
  docs/en/other.md
  lib/v2/urbandictionary/maintainer.js
  lib/v2/urbandictionary/radar.js
  lib/v2/urbandictionary/random.js
  lib/v2/urbandictionary/router.js
  lib/v2/urbandictionary/templates/definition.art
Labels: Auto: Route Test Complete, Route: v2

#11967 feat(route): add aijishu route 极术社区
  docs/programming.md
  lib/v2/aijishu/index.js
  lib/v2/aijishu/maintainer.js
  lib/v2/aijishu/radar.js
  lib/v2/aijishu/router.js
  lib/v2/aijishu/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11981 fix(route): fix a typo in aijishu.com maintainer.js
  lib/v2/aijishu/maintainer.js
Labels: Route: v2

#11979 feat(route): youtube music charts
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/youtube/charts.js
  lib/v2/youtube/maintainer.js
  lib/v2/youtube/radar.js
  lib/v2/youtube/router.js
Labels: Auto: Route Test Complete, Route: v2

#11986 feat(route): youtube community
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/youtube/channel.js
  lib/v2/youtube/community.js
  lib/v2/youtube/radar.js
  lib/v2/youtube/router.js
  lib/v2/youtube/templates/community.art
  lib/v2/youtube/user.js
  lib/v2/youtube/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11988 feat(route): picnob
  docs/en/social-media.md
  lib/v2/picnob/maintainer.js
  lib/v2/picnob/radar.js
  lib/v2/picnob/router.js
  lib/v2/picnob/templates/desc.art
  lib/v2/picnob/user.js
Labels: Auto: Route Test Complete, Route: v2
