Repository DIYgod/RSSHub, pull requests merged in 2023-04, with the labels that each got.

#12193 feat(openai): add /openai/chatgpt/release-notes
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/openai/chatgpt.js
  lib/v2/openai/radar.js
  lib/v2/openai/router.js
Labels: Auto: Route Test Complete, Route: v2

#12219 fix: 中国政府网-新闻要闻，中国政府网-部门政务
  lib/router.js
  lib/routes/gov/news/index.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/news/index.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12222 feat(route): 添加济南市卫建委获取国家医师资格考试通知的路由
  docs/government.md
  lib/v2/gov/jinan/healthcommission/medical_exam_notice.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#12220 feat(route): add bgmlist
  docs/anime.md
  lib/v2/bgmlist/maintainer.js
  lib/v2/bgmlist/onair.js
  lib/v2/bgmlist/radar.js
  lib/v2/bgmlist/router.js
  lib/v2/bgmlist/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12227 test: use httpbingo for ua
  lib/api_router.js
  lib/maintainer.js
  test/router.js
  test/utils/rand-user-agent.js
Labels: core enhancement, Auto: Route Test Complete

#12225 fix(route): update domain to mp4kan.com for domp4
  docs/multimedia.md
  lib/v2/domp4/detail.js
  lib/v2/domp4/latest.js
  lib/v2/domp4/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12236 fix(route): fix oshwhub pubDate parse error
  lib/v2/oshwhub/explore.js
Labels: Auto: No Route Needed, Route: v2

#12205 fix(route): fix gov/sichuan/deyang/govpulicinfo
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/sichuan/deyang/govpublicinfo.js
  lib/v2/gov/sichuan/deyang/govpulicinfo.js
  lib/v2/gov/sichuan/deyang/templates/govPublicInfo.art
Labels: Auto: Route Test Complete, Route: v2

#12213 feat(route): add gov/sichuan/deyang/mztoday
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/sichuan/deyang/mztoday.js
  lib/v2/gov/sichuan/deyang/templates/mztoday.art
Labels: Auto: Route Test Complete, Route: v2

#12169 feat(route): add 南方网南方+
  docs/traditional-media.md
  lib/v2/southcn/maintainer.js
  lib/v2/southcn/nfapp/column.js
  lib/v2/southcn/nfapp/reporter.js
  lib/v2/southcn/nfapp/utils.js
  lib/v2/southcn/radar.js
  lib/v2/southcn/router.js
  lib/v2/southcn/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12230 feat(route): add IEEE xplore early access journal
  docs/en/journal.md
  docs/journal.md
  lib/v2/ieee/earlyaccess.js
  lib/v2/ieee/maintainer.js
  lib/v2/ieee/radar.js
  lib/v2/ieee/router.js
Labels: Auto: Route Test Complete, Route: v2

#12242 fix(route): change to use a more precise selector
  docs/programming.md
  lib/router.js
  lib/v2/studygolang/maintainer.js
  lib/v2/studygolang/radar.js
  lib/v2/studygolang/router.js
  lib/v2/studygolang/weekly.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12249 feat(route): add 一亩三分地分区标签
  docs/bbs.md
  lib/router.js
  lib/routes/1point3acres/blog.js
  lib/routes/1point3acres/offer.js
  lib/routes/1point3acres/post.js
  lib/v2/1point3acres/blog.js
  lib/v2/1point3acres/category.js
  lib/v2/1point3acres/maintainer.js
  lib/v2/1point3acres/offer.js
  lib/v2/1point3acres/radar.js
  lib/v2/1point3acres/router.js
  lib/v2/1point3acres/section.js
  lib/v2/1point3acres/templates/image.art
  lib/v2/1point3acres/templates/offer.art
  lib/v2/1point3acres/thread.js
  lib/v2/1point3acres/user/post.js
  lib/v2/1point3acres/user/thread.js
  lib/v2/1point3acres/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12255 fix(route): add description field to /instructables/projects
  lib/v2/instructables/projects.js
Labels: Auto: Route Test Complete, Route: v2

#12235 feat(route): add 科技日报
  docs/traditional-media.md
  lib/v2/stdaily/digitalpaper.js
  lib/v2/stdaily/maintainer.js
  lib/v2/stdaily/radar.js
  lib/v2/stdaily/router.js
  lib/v2/stdaily/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12234 feat(route): selected new books or specified book list on FreeCompute…
  docs/en/reading.md
  docs/reading.md
  lib/v2/freecomputerbooks/index.js
  lib/v2/freecomputerbooks/maintainer.js
  lib/v2/freecomputerbooks/radar.js
  lib/v2/freecomputerbooks/router.js
Labels: Auto: Route Test Complete, Route: v2

#12159 feat(route): add sassorgcn/gs/sstmzs
  docs/university.md
  lib/v2/sass/gs/index.js
  lib/v2/sass/maintainer.js
  lib/v2/sass/radar.js
  lib/v2/sass/router.js
Labels: Auto: Route Test Complete, Route: v2

#12259 fix(route): show all content of tittle on description
  lib/v2/wanqu/news.js
Labels: Auto: Route Test Complete, Route: v2

#12262 fix(route): 修复 newrank 列举公众号文章的 URL; 增加缺少的 n-token 参数;
  docs/social-media.md
  lib/router.js
  lib/routes/newrank/wechat.js
  lib/v2/newrank/douyin.js
  lib/v2/newrank/maintainer.js
  lib/v2/newrank/radar.js
  lib/v2/newrank/router.js
  lib/v2/newrank/utils.js
  lib/v2/newrank/wechat.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12263 feat(wechat/sogou): add new route
  docs/new-media.md
  lib/v2/wechat/maintainer.js
  lib/v2/wechat/radar.js
  lib/v2/wechat/router.js
  lib/v2/wechat/sogou.js
Labels: Auto: Route Test Complete, Route: v2

#12265 feat(route): add 留园网新闻
  docs/new-media.md
  lib/router.js
  lib/v2/6park/index.js
  lib/v2/6park/maintainer.js
  lib/v2/6park/news.js
  lib/v2/6park/radar.js
  lib/v2/6park/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12258 feat(route): add MacMenuBar
  docs/blog.md
  docs/en/blog.md
  lib/v2/macmenubar/maintainer.js
  lib/v2/macmenubar/radar.js
  lib/v2/macmenubar/recently.js
  lib/v2/macmenubar/router.js
Labels: Auto: Route Test Complete, Route: v2

#12201 feat(route/inoreader): add podcast support
  lib/v2/inoreader/rss.js
Labels: Auto: Route Test Complete, Route: v2

#12284 fix(route): 爱 Q 生活网 最近更新内容获取
  docs/other.md
  lib/router.js
  lib/v2/iqnew/latest.js
  lib/v2/iqnew/maintainer.js
  lib/v2/iqnew/radar.js
  lib/v2/iqnew/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12285 feat: 添加广西民族大学RSS支持 && fix: 修复南京晓庄学院RSS日期格式
  docs/university.md
  lib/v2/gxmzu/ai.js
  lib/v2/gxmzu/maintainer.js
  lib/v2/gxmzu/radar.js
  lib/v2/gxmzu/router.js
  lib/v2/gxmzu/utils/index.js
  lib/v2/gxmzu/yjs.js
  lib/v2/njxzc/radar.js
  lib/v2/njxzc/utils/index.js
Labels: Auto: Route Test Complete, Route: v2

#12290 feat(route): add 国家统计局通用
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/stats/index.js
  lib/v2/gov/stats/templates/attachments.art
  lib/v2/gov/stats/templates/description.art
  lib/v2/gov/stats/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12273 feat(route): add qdu notice rss
  docs/university.md
  lib/v2/qdu/jwc.js
  lib/v2/qdu/maintainer.js
  lib/v2/qdu/radar.js
  lib/v2/qdu/router.js
Labels: Auto: Route Test Complete, Route: v2

#12289 feat(route): add /fortnite/news
  docs/en/game.md
  docs/game.md
  lib/v2/fortnite/maintainer.js
  lib/v2/fortnite/news.js
  lib/v2/fortnite/radar.js
  lib/v2/fortnite/router.js
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#12299 feat(route): add 北京市科学技术协会
  docs/new-media.md
  lib/v2/bast/index.js
  lib/v2/bast/maintainer.js
  lib/v2/bast/radar.js
  lib/v2/bast/router.js
Labels: Auto: Route Test Complete, Route: v2

#12300 feat(route): add 中国技术经济学会
  docs/study.md
  lib/v2/cste/index.js
  lib/v2/cste/maintainer.js
  lib/v2/cste/radar.js
  lib/v2/cste/router.js
Labels: Auto: Route Test Complete, Route: v2

#12302 fix(route): optimize url of 新快报
  lib/v2/xkb/index.js
Labels: Auto: Route Test Complete, Route: v2

#12303 feat(arcteryx/outlet): add new route
  docs/en/shopping.md
  docs/shopping.md
  lib/v2/arcteryx/maintainer.js
  lib/v2/arcteryx/outlet.js
  lib/v2/arcteryx/radar.js
  lib/v2/arcteryx/router.js
Labels: Auto: Route Test Complete, Route: v2

#12307 feat: 添加南京中医药大学研究生院博士招生RSS支持 && 添加南京鼓楼医院员工版教育培训RSS支持
  .github/workflows/docker-test.yml
  docs/government.md
  docs/university.md
  lib/v2/njglyy/maintainer.js
  lib/v2/njglyy/radar.js
  lib/v2/njglyy/router.js
  lib/v2/njglyy/utils/index.js
  lib/v2/njglyy/ygbjypx.js
  lib/v2/njucm/grabs.js
  lib/v2/njucm/maintainer.js
  lib/v2/njucm/radar.js
  lib/v2/njucm/router.js
  lib/v2/njucm/utils/index.js
Labels: Auto: Route Test Complete, Route: v2

#12308 feat(route): add themoviedb
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/themoviedb/api-key.js
  lib/v2/themoviedb/collection.js
  lib/v2/themoviedb/episodes.js
  lib/v2/themoviedb/maintainer.js
  lib/v2/themoviedb/radar.js
  lib/v2/themoviedb/router.js
  lib/v2/themoviedb/seasons.js
  lib/v2/themoviedb/sheet.js
  lib/v2/themoviedb/templates/description.art
  lib/v2/themoviedb/trending.js
  lib/v2/themoviedb/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12309 feat(route): 东方财富网搜索关键词
  docs/finance.md
  lib/v2/eastmoney/maintainer.js
  lib/v2/eastmoney/radar.js
  lib/v2/eastmoney/router.js
  lib/v2/eastmoney/search/index.js
Labels: Auto: Route Test Complete, Route: v2

#12315 fix(route): themoviedb
  lib/v2/themoviedb/episodes.js
  lib/v2/themoviedb/seasons.js
  lib/v2/themoviedb/templates/description.art
  lib/v2/themoviedb/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12320 fix(route): github trending
  lib/v2/github/maintainer.js
  lib/v2/github/trending.js
Labels: Auto: Route Test Complete, Route: v2

#12310 feat(arcteryx): add price
  lib/v2/arcteryx/new-arrivals.js
  lib/v2/arcteryx/outlet.js
  lib/v2/arcteryx/templates/product-description.art
  lib/v2/arcteryx/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12294 feat(route): add Apache APISIX 博客 & 云原生社区博客 & 支流科技博客
  docs/blog.md
  lib/v2/apache/apisix/blog.js
  lib/v2/apache/maintainer.js
  lib/v2/apache/radar.js
  lib/v2/apache/router.js
  lib/v2/apiseven/blog.js
  lib/v2/apiseven/maintainer.js
  lib/v2/apiseven/radar.js
  lib/v2/apiseven/router.js
  lib/v2/cloudnative/blog.js
  lib/v2/cloudnative/maintainer.js
  lib/v2/cloudnative/radar.js
  lib/v2/cloudnative/router.js
Labels: Auto: Route Test Complete, Route: v2

#12322 feat(route): add Kun Cheng Essay
  docs/blog.md
  lib/v2/kunchengblog/essay.js
  lib/v2/kunchengblog/maintainer.js
  lib/v2/kunchengblog/radar.js
  lib/v2/kunchengblog/router.js
  package.json
  yarn.lock
Labels: dependencies, Auto: Route Test Complete, Route: v2

#12334 fix(route): bgmlist
  lib/v2/bgmlist/onair.js
Labels: Auto: Route Test Complete, Route: v2

#12336 feat(route): add DLsite Ci-en Creators' Article
  docs/anime.md
  docs/en/anime.md
  lib/v2/dlsite/ci-en/article.js
  lib/v2/dlsite/maintainer.js
  lib/v2/dlsite/radar.js
  lib/v2/dlsite/router.js
Labels: Auto: Route Test Complete, Route: v2

#12335 feat(route): add Layer3 Quests
  docs/en/programming.md
  docs/programming.md
  lib/v2/layer3/maintainer.js
  lib/v2/layer3/quests.js
  lib/v2/layer3/radar.js
  lib/v2/layer3/router.js
  lib/v2/layer3/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12339 fix(route): Optimize link and name of 南方+
  lib/v2/southcn/nfapp/column.js
Labels: Auto: Route Test Complete, Route: v2

#12337 feat(route): add Aqara News
  docs/other.md
  lib/v2/aqara/maintainer.js
  lib/v2/aqara/news.js
  lib/v2/aqara/radar.js
  lib/v2/aqara/router.js
Labels: Auto: Route Test Complete, Route: v2

#12338 feat(route): add Aqara Community
  docs/other.md
  lib/v2/aqara/community.js
  lib/v2/aqara/maintainer.js
  lib/v2/aqara/radar.js
  lib/v2/aqara/router.js
Labels: Auto: Route Test Complete, Route: v2

#12348 fix(route): Radar 支持识别当前所在B站收藏夹
  lib/v2/bilibili/radar.js
Labels: Route: v2

#12352 feat(route): add DLsite
  docs/anime.md
  docs/en/anime.md
  lib/v2/dlsite/index.js
  lib/v2/dlsite/maintainer.js
  lib/v2/dlsite/radar.js
  lib/v2/dlsite/router.js
  lib/v2/dlsite/templates/description.art
  lib/v2/dlsite/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12346 fix(route): support full text
  lib/v2/xueqiu/user.js
Labels: Auto: Route Test Complete, Route: v2

#12355 chore: signed release
  .env.me
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
  .github/workflows/npm-publish.yml
Labels: Auto: No Route Needed

#12361 fix(bilibili): fix user/video error, update account info api
  .gitignore
  lib/v2/bilibili/cache.js
Labels: Auto: Route Test Complete, Route: v2

#12363 feat(route): 中国法学网
  docs/en/study.md
  docs/study.md
  lib/v2/cssn/iolaw.js
  lib/v2/cssn/maintainer.js
  lib/v2/cssn/radar.js
  lib/v2/cssn/router.js
Labels: Auto: Route Test Complete, Route: v2

#12367 feat(route): fix user/video error, add validation code
  lib/v2/bilibili/cache.js
  lib/v2/bilibili/utils.js
  lib/v2/bilibili/video-all.js
  lib/v2/bilibili/video.js
Labels: Auto: Route Test Complete, Route: v2

#12374 fix: v1tx
  lib/v2/v1tx/index.js
Labels: Auto: Route Test Complete, Route: v2

#12203 feat(route): add 重庆人事考试通知公告及重庆燃气停止检修通知
  docs/forecast.md
  docs/government.md
  lib/v2/cqgas/maintainer.js
  lib/v2/cqgas/radar.js
  lib/v2/cqgas/router.js
  lib/v2/cqgas/tqtz.js
  lib/v2/gov/chongqing/rsks.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#12379 fix(route): zhihu private answers
  lib/v2/zhihu/answers.js
Labels: Auto: Route Test Complete, Route: v2

#12372 fix(route): 原神新闻
  lib/v2/mihoyo/templates/ys.art
  lib/v2/mihoyo/ys/news.js
Labels: Auto: Route Test Complete, Route: v2

#12377 fix(route): flyert duplicate images & add shanghai bank
  docs/travel.md
  lib/v2/flyert/creditcard.js
  lib/v2/flyert/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12387 fix: duplicate guid for each device
  lib/v2/amazon/kindle-software-updates.js
Labels: Auto: Route Test Complete, Route: v2

#12390 feat(route): add 北京社科基金项目管理平台
  docs/government.md
  lib/v2/bjsk/keti.js
  lib/v2/bjsk/maintainer.js
  lib/v2/bjsk/radar.js
  lib/v2/bjsk/router.js
Labels: Auto: Route Test Complete, Route: v2

#12393 style(eslint): add eslint-plugin-n
  .eslintrc.json
  docs/en/journal.md
  docs/journal.md
  docs/traditional-media.md
  docs/university.md
  lib/router.js
  lib/routes/gov/hunan/notice.js
  lib/v2/gq/tw/index.js
  lib/v2/readhub/index.js
  lib/v2/telecompaper/maintainer.js
  lib/v2/telecompaper/news.js
  lib/v2/telecompaper/radar.js
  lib/v2/telecompaper/router.js
  lib/v2/telecompaper/search.js
  lib/v2/ustb/maintainer.js
  lib/v2/ustb/radar.js
  lib/v2/ustb/router.js
  lib/v2/ustb/tj/news.js
  package.json
  test/utils/rand-user-agent.js
  yarn.lock
Labels: dependencies, Auto: No Route Needed, Route: v1, Route: v2

#12400 fix(route): NEW字幕组
  docs/multimedia.md
  lib/v2/newzmz/index.js
  lib/v2/newzmz/maintainer.js
  lib/v2/newzmz/radar.js
  lib/v2/newzmz/router.js
  lib/v2/newzmz/templates/description.art
  lib/v2/newzmz/view.js
Labels: Auto: Route Test Complete, Route: v2

#12409 chore: stricter validation
  lib/radar.js
  lib/v2/atcoder/radar.js
  lib/v2/chinathinktanks/radar.js
  lib/v2/embassy/radar.js
  lib/v2/gov/radar.js
  lib/v2/ithome/radar.js
  lib/v2/iwara/radar.js
  lib/v2/rsshub/radar.js
  lib/v2/sspai/radar.js
  lib/v2/zcool/radar.js
  lib/v2/zhihu/radar.js
  lib/v2/zju/radar.js
Labels: core enhancement, Route: v2

#12405 feat: add HNU careers feed
  docs/university.md
  lib/v2/hnu/careers.js
  lib/v2/hnu/maintainer.js
  lib/v2/hnu/radar.js
  lib/v2/hnu/router.js
Labels: Auto: Route Test Complete, Route: v2

#12411 feat(route): add 山东科技大学研究生招生网
  docs/university.md
  lib/v2/sdust/maintainer.js
  lib/v2/sdust/radar.js
  lib/v2/sdust/router.js
  lib/v2/sdust/yjsy/zhaosheng.js
Labels: Auto: Route Test Complete, Route: v2

#12392 feat(route): add Freebuf 文章订阅路由
  docs/blog.md
  lib/v2/freebuf/index.js
  lib/v2/freebuf/maintainer.js
  lib/v2/freebuf/radar.js
  lib/v2/freebuf/router.js
Labels: Auto: Route Test Complete, Route: v2
