Repository DIYgod/RSSHub, pull requests merged in 2023-08, with the labels that each got.

#12927 fix: radar rule for Telegram channels
  lib/v2/telegram/radar.js
Labels: Route: v2

#12926 feat(route/odaily): Odaily 星球日报， 添加指定关键字快讯
  docs/new-media.md
  lib/v2/odaily/maintainer.js
  lib/v2/odaily/radar.js
  lib/v2/odaily/router.js
  lib/v2/odaily/search_news.js
Labels: Auto: Route Test Complete, Route: v2

#12857 fix(route): finviz news
  lib/v2/finviz/news.js
Labels: Auto: Route Test Complete, Route: v2

#12882 feat: 为html/json转化为rss提供通用支持
  docs/en/other.md
  docs/other.md
  lib/maintainer.js
  lib/v2/altervista/radar.js
  lib/v2/rsshub/maintainer.js
  lib/v2/rsshub/router.js
  lib/v2/rsshub/transform/html.js
  lib/v2/rsshub/transform/json.js
  lib/v2/sec/radar.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#12935 fix(route): radar rule for xueqiu snb & stock_info
  lib/v2/xueqiu/radar.js
Labels: Route: v2

#12939 feat(route): add 电子工程专辑芯语
  docs/new-media.md
  lib/v2/eet-china/maintainer.js
  lib/v2/eet-china/mp/index.js
  lib/v2/eet-china/mp/tags.js
  lib/v2/eet-china/mp/util.js
  lib/v2/eet-china/radar.js
  lib/v2/eet-china/router.js
Labels: Auto: Route Test Complete, Route: v2

#12940 fix(route/ximalaya): categoryInfo is undefined
  assets/radar-rules.js
  lib/radar-rules.js
  lib/router.js
  lib/v2/ximalaya/album.js
  lib/v2/ximalaya/maintainer.js
  lib/v2/ximalaya/radar.js
  lib/v2/ximalaya/router.js
  lib/v2/ximalaya/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12942 fix(route): zhihu
  lib/v2/zhihu/answers.js
Labels: Auto: Route Test Complete, Route: v2

#12943 fix(route): bilibili vsearch
  lib/v2/bilibili/vsearch.js
Labels: Auto: Route Test Complete, Route: v2

#12941 feat(route): add dnaindia
  docs/en/traditional-media.md
  lib/v2/dnaindia/category.js
  lib/v2/dnaindia/maintainer.js
  lib/v2/dnaindia/radar.js
  lib/v2/dnaindia/router.js
Labels: Auto: Route Test Complete, Route: v2

#12949 fix(route): cnki/journals
  docs/journal.md
  lib/v2/cnki/journals.js
  lib/v2/cnki/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#12945 feat(route): Spotify show route
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/spotify/maintainer.js
  lib/v2/spotify/radar.js
  lib/v2/spotify/router.js
  lib/v2/spotify/show.js
Labels: Auto: Route Test Complete, Route: v2

#12950 feat(route): add Stock Edge
  docs/en/finance.md
  lib/v2/stockedge/daily-news.js
  lib/v2/stockedge/maintainer.js
  lib/v2/stockedge/radar.js
  lib/v2/stockedge/router.js
  lib/v2/stockedge/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12963 feat(route): add runtrail
  docs/new-media.md
  lib/v2/runtrail/maintainer.js
  lib/v2/runtrail/posts.js
  lib/v2/runtrail/radar.js
  lib/v2/runtrail/router.js
Labels: Auto: Route Test Complete, Route: v2

#12964 feat(route): thehindu topic
  docs/en/traditional-media.md
  lib/v2/thehindu/maintainer.js
  lib/v2/thehindu/radar.js
  lib/v2/thehindu/router.js
  lib/v2/thehindu/topic.js
Labels: Auto: Route Test Complete, Route: v2

#12961 feat(route): add Smashing magazine
  docs/en/programming.md
  lib/v2/smashingmagazine/category.js
  lib/v2/smashingmagazine/maintainer.js
  lib/v2/smashingmagazine/radar.js
  lib/v2/smashingmagazine/router.js
Labels: Auto: Route Test Complete, Route: v2

#12981 feat(route): add 早报网
  docs/new-media.md
  lib/v2/qqorw/index.js
  lib/v2/qqorw/maintainer.js
  lib/v2/qqorw/radar.js
  lib/v2/qqorw/router.js
Labels: Auto: Route Test Complete, Route: v2

#12983 fix(route): 少数派 -- 首页 ignores member articles previews
  lib/v2/sspai/index.js
Labels: Auto: Route Test Complete, Route: v2

#12982 feat(route): add 华理教务处
  docs/university.md
  lib/v2/ecust/jwc/notice.js
  lib/v2/ecust/maintainer.js
  lib/v2/ecust/radar.js
  lib/v2/ecust/router.js
Labels: Auto: Route Test Complete, Route: v2

#12992 fix(route): `/bilibili/user/video(article)` Broken for some uploaders
  lib/v2/bilibili/cache.js
  lib/v2/bilibili/video.js
Labels: Auto: Route Test Complete, Route: v2

#12958 feat(route): add 东南大学研究生院公告
  docs/university.md
  lib/router.js
  lib/routes/universities/seu/cse/index.js
  lib/routes/universities/seu/radio/academic.js
  lib/routes/universities/seu/yzb/index.js
  lib/v2/seu/cse/index.js
  lib/v2/seu/maintainer.js
  lib/v2/seu/radar.js
  lib/v2/seu/radio/academic.js
  lib/v2/seu/router.js
  lib/v2/seu/yjs.js
  lib/v2/seu/yzb/index.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12998 refactor: replace re2 with re2-wasm
  .devcontainer/devcontainer.json
  .github/workflows/test.yml
  Dockerfile
  lib/middleware/parameter.js
  lib/router.js
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: No Route Needed, Route: v1

#13001 fix(route): yuque
  lib/v2/yuque/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13006 build: fix vercel build
  Dockerfile
  lib/middleware/parameter.js
Labels: Auto: Route Test Complete

#13009 feat(route): `/bilibili/user(followings)/dynamic` 增加是否显示表情开关
  docs/social-media.md
  lib/v2/bilibili/dynamic.js
  lib/v2/bilibili/followings_dynamic.js
  lib/v2/bilibili/router.js
Labels: Auto: Route Test Complete, Route: v2

#12991 feat(route): add Grist
  docs/en/new-media.md
  lib/v2/grist/featured.js
  lib/v2/grist/index.js
  lib/v2/grist/maintainer.js
  lib/v2/grist/radar.js
  lib/v2/grist/router.js
  lib/v2/grist/series.js
  lib/v2/grist/topic.js
  lib/v2/grist/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13017 feat(route): caixin weekly
  docs/traditional-media.md
  lib/v2/caixin/maintainer.js
  lib/v2/caixin/radar.js
  lib/v2/caixin/router.js
  lib/v2/caixin/weekly.js
Labels: Auto: Route Test Complete, Route: v2

#13021 fix(route): Update bilibili maintainer.js
  lib/v2/bilibili/maintainer.js
Labels: Route: v2

#12993 feat(route): add Finology
  docs/en/finance.md
  lib/v2/finology/bullets.js
  lib/v2/finology/maintainer.js
  lib/v2/finology/mostViewed.js
  lib/v2/finology/radar.js
  lib/v2/finology/router.js
  lib/v2/finology/tag.js
  lib/v2/finology/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13013 fix(route): Fix bloomberg story by using the latest story id api
  lib/v2/bloomberg/react-renderer.js
  lib/v2/bloomberg/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13016 feat(route): Science.org Blogs
  docs/en/journal.md
  docs/journal.md
  lib/v2/science/blogs.js
  lib/v2/science/maintainer.js
  lib/v2/science/radar.js
  lib/v2/science/router.js
Labels: Auto: Route Test Complete, Route: v2

#13020 feat(route): `/zhihu/daily/section/:sectionId` add pubDate
  lib/v2/zhihu/daily_section.js
Labels: Auto: Route Test Complete, Route: v2

#13038 fix(stockedge-radar): sub-domain
  lib/v2/stockedge/radar.js
Labels: Route: v2

#13023 fix(route): 更换财新最新文章获取方式
  lib/v2/caixin/latest.js
Labels: Auto: Route Test Complete, Route: v2

#12921 fix(route): Aqara News
  lib/v2/aqara/maintainer.js
  lib/v2/aqara/news.js
  lib/v2/aqara/post.js
  lib/v2/aqara/radar.js
  lib/v2/aqara/router.js
  lib/v2/aqara/templates/figure.art
  website/docs/routes/other.md
Labels: Auto: Route Test Complete, Route: v2

#13027 feat(route): IGDB - 学术活动
  lib/v2/cas/genetics/xshd.js
  lib/v2/cas/maintainer.js
  lib/v2/cas/radar.js
  lib/v2/cas/router.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13065 fix(route): fix `/bilibili/followings/dynamic` Cannot convert object to primitive value
  lib/v2/bilibili/followings_dynamic.js
Labels: Auto: No Route Needed, Route: v2

#13066 feat(route): tiktok iframe
  lib/v2/tiktok/router.js
  lib/v2/tiktok/templates/user.art
  lib/v2/tiktok/user.js
  website/i18n/en/docusaurus-plugin-content-docs/current/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13062 feat(router): 增加 xiaote.com 论坛路由
  lib/v2/xiaote/index.js
  lib/v2/xiaote/maintainer.js
  lib/v2/xiaote/radar.js
  lib/v2/xiaote/router.js
  website/docs/routes/bbs.md
Labels: Auto: Route Test Complete, Route: v2

#13072 feat(parameter): use re2js instead
  lib/middleware/anti-hotlink.js
  lib/middleware/parameter.js
  package.json
  pnpm-lock.yaml
  test/middleware/filter-engine.js
Labels: dependencies, core enhancement, Auto: Route Test Complete

#13077 fix(route): fix `/baidu/tieba/forum` time
  lib/v2/baidu/tieba/forum.js
Labels: Auto: Route Test Complete, Route: v2

#13055 feat(route): add xhu
  lib/v2/zhihu/maintainer.js
  lib/v2/zhihu/radar.js
  lib/v2/zhihu/router.js
  lib/v2/zhihu/xhu/auth.js
  lib/v2/zhihu/xhu/topic.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#12955 fix(route): update v2/scitation to v2/aip
  lib/v2/aip/journal-pupp.js
  lib/v2/aip/journal.js
  lib/v2/aip/maintainer.js
  lib/v2/aip/radar.js
  lib/v2/aip/router.js
  lib/v2/aip/templates/description.art
  lib/v2/aip/utils.js
  lib/v2/scitation/radar.js
  lib/v2/scitation/router.js
  lib/v2/scitation/section.js
  website/docs/joinus/advanced/advanced-feed.md
  website/docs/routes/journal.md
  website/i18n/en/docusaurus-plugin-content-docs/current/routes/journal.md
Labels: Auto: Route Test Complete, Route: v2

#13079 fix(route): 2048
  lib/v2/2048/index.js
Labels: Auto: Route Test Complete, Route: v2

#13076 feat(route): add more routes for nwafu
  lib/v2/nwafu/all.js
  lib/v2/nwafu/utils.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13082 fix(route): Fix bloomberg story when parsing react rendered page and videos missing id
  lib/v2/bloomberg/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13087 feat(route): add xhu collection, question and zhuanlan
  lib/v2/zhihu/maintainer.js
  lib/v2/zhihu/radar.js
  lib/v2/zhihu/router.js
  lib/v2/zhihu/xhu/collection.js
  lib/v2/zhihu/xhu/question.js
  lib/v2/zhihu/xhu/topic.js
  lib/v2/zhihu/xhu/zhuanlan.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13102 feat(route): 百度贴吧按帖子创建时间排序
  lib/v2/baidu/maintainer.js
  lib/v2/baidu/router.js
  lib/v2/baidu/tieba/forum.js
  website/docs/routes/bbs.md
Labels: Auto: Route Test Complete, Route: v2

#12951 fix(route): NEW字幕组
  lib/v2/newzmz/index.js
  lib/v2/newzmz/maintainer.js
  lib/v2/newzmz/router.js
  lib/v2/newzmz/templates/description.art
  lib/v2/newzmz/util.js
  lib/v2/newzmz/view.js
  website/docs/routes/multimedia.md
Labels: Auto: Route Test Complete, Route: v2

#13104 fix(route): add tophub cookie
  lib/config.js
  lib/routes/tophub/index.js
  website/docs/routes/new-media.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/README.md
Labels: core enhancement, Auto: Route Test Complete, Route: v1

#13063 feat(route): Start on support for generic discourse forums.
  lib/config.js
  lib/radar.js
  lib/v2/discourse/maintainer.js
  lib/v2/discourse/posts.js
  lib/v2/discourse/router.js
  test/config.js
  website/docs/install/README.md
  website/docs/routes/bbs.md
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#13108 fix(route): leetcode articles
  lib/v2/leetcode/articles.js
Labels: Auto: Route Test Complete, Route: v2

#13092 fix(route): 晚点报道
  lib/v2/latepost/index.js
  lib/v2/latepost/radar.js
  lib/v2/latepost/router.js
Labels: Auto: Route Test Complete, Route: v2

#13114 feat(route): Add Discourse notifications support
  lib/v2/discourse/maintainer.js
  lib/v2/discourse/notifications.js
  lib/v2/discourse/posts.js
  lib/v2/discourse/router.js
  lib/v2/discourse/utils.js
  website/docs/routes/bbs.md
Labels: Auto: Route Test Complete, Route: v2

#13110 feat(route): add router YouTube Live
  lib/v2/youtube/live.js
  lib/v2/youtube/maintainer.js
  lib/v2/youtube/radar.js
  lib/v2/youtube/router.js
  lib/v2/youtube/utils.js
  website/docs/routes/live.md
Labels: Auto: Route Test Complete, Route: v2

#13120 fix(route): fix the title error for the YouTube Live
  lib/v2/youtube/live.js
Labels: Auto: Route Test Complete, Route: v2

#13109 feat(route): Bilibili UP主动态 参数格式更新 & 增加显示专栏全文参数
  lib/v2/bilibili/article.js
  lib/v2/bilibili/cache.js
  lib/v2/bilibili/dynamic.js
  lib/v2/bilibili/followings_article.js
  lib/v2/bilibili/followings_dynamic.js
  lib/v2/bilibili/maintainer.js
  lib/v2/bilibili/router.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13122 feat(route): bilibili 动态中的视频链接默认改为 BV 号并增加配置参数；修改 专栏显示全文 的参数来源
  lib/v2/bilibili/dynamic.js
  lib/v2/bilibili/utils.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13129 fix(route): 晚点报道
  lib/v2/latepost/index.js
Labels: Auto: Route Test Complete, Route: v2

#13135 fix(route): 大学通知/哈尔滨工程大学/水声工程学院
  lib/v2/hrbeu/radar.js
  lib/v2/hrbeu/router.js
  lib/v2/hrbeu/uae/list.js
  lib/v2/hrbeu/uae/news.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13134 fix(route): 加美财经 Cache key must be a string
  lib/router.js
  lib/v2/caus/index.js
  lib/v2/caus/maintainer.js
  lib/v2/caus/radar.js
  lib/v2/caus/router.js
  website/docs/routes/new-media.md
Labels: Auto: No Route Needed, Auto: Route Test Complete, Route: v1, Route: v2

#13132 fix: handle 404 errors for some article URLs
  lib/v2/ithome/tag.js
Labels: Auto: Route Test Complete, Route: v2

#13128 feat(route): add bilibili watchlater
  lib/v2/bilibili/maintainer.js
  lib/v2/bilibili/router.js
  lib/v2/bilibili/watchlater.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13141 fix(StockEdge): add title to description
  lib/v2/stockedge/daily-news.js
  lib/v2/stockedge/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13139 feat(route): `/bangumi/tv/subject` 添加显示原名称参数
  lib/v2/bangumi/maintainer.js
  lib/v2/bangumi/radar.js
  lib/v2/bangumi/router.js
  lib/v2/bangumi/tv/subject/ep.js
  lib/v2/bangumi/tv/subject/index.js
  lib/v2/bangumi/tv/subject/offcial-subject-api.js
  lib/v2/bangumi/tv/subject/utils.js
  website/docs/routes/anime.md
Labels: Auto: Route Test Complete, Route: v2

#13146 fix(route): fix `/nytimes` paragraph division
  lib/v2/nytimes/index.js
  lib/v2/nytimes/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13083 feat(route): 创业邦资讯
  lib/router.js
  lib/routes/cyzone/author.js
  lib/routes/cyzone/label.js
  lib/v2/cyzone/author.js
  lib/v2/cyzone/index.js
  lib/v2/cyzone/label.js
  lib/v2/cyzone/maintainer.js
  lib/v2/cyzone/radar.js
  lib/v2/cyzone/router.js
  lib/v2/cyzone/util.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13136 feat(route): add 深圳市住房和建设局
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/shenzhen/zjj/index.js
  website/docs/routes/government.md
Labels: Auto: Route Test Complete, Route: v2

#13144 fix: V2EX Route Exclude Duplicate Posts
  lib/router.js
  lib/routes/v2ex/post.js
  lib/v2/v2ex/maintainer.js
  lib/v2/v2ex/post.js
  lib/v2/v2ex/radar.js
  lib/v2/v2ex/router.js
  lib/v2/v2ex/tab.js
  lib/v2/v2ex/topics.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13167 fix(route): Fix Discourse link
  lib/v2/discourse/notifications.js
Labels: Auto: Route Test Complete, Route: v2

#13138 feat(route): Add ICBC; Fix BOC Date & trimming space
  lib/router.js
  lib/v2/boc/maintainer.js
  lib/v2/boc/radar.js
  lib/v2/boc/router.js
  lib/v2/boc/whpj.js
  lib/v2/icbc/maintainer.js
  lib/v2/icbc/radar.js
  lib/v2/icbc/router.js
  lib/v2/icbc/whpj.js
  website/docs/routes/other.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13160 fix(route): add `Spotlight News` into CNA list.
  lib/router.js
  lib/v2/cna/index.js
  lib/v2/cna/maintainer.js
  lib/v2/cna/radar.js
  lib/v2/cna/router.js
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13165 feat(core): add logger timestamp
  lib/config.js
  lib/utils/logger.js
  website/docs/install/README.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/README.md
Labels: core enhancement, Auto: Route Test Skipped

#13177 fix(route): Adapt to different pages on stheadline.
  lib/v2/stheadline/std/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#13176 fix(route): Fix typo(?) in udn.
  lib/v2/udn/breaking-news.js
Labels: Auto: Route Test Complete, Route: v2

#13123 feat(route): add Royal Society of Chemistry Journal
  lib/v2/rsc/journal.js
  lib/v2/rsc/maintainer.js
  lib/v2/rsc/radar.js
  lib/v2/rsc/router.js
  lib/v2/rsc/templates/image.art
  website/docs/routes/journal.md
Labels: Auto: Route Test Complete, Route: v2
