Repository DIYgod/RSSHub, pull requests merged in 2023-11, with the labels that each got.

#13671 fix(route/aljazeera): Fix time matching regex.
  lib/v2/aljazeera/index.js
Labels: Auto: Route Test Complete, Route: v2

#13670 fix(route): 豆瓣豆列403
  lib/v2/douban/maintainer.js
  lib/v2/douban/other/doulist.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13676 feat(route): add 齐鲁网电视节目
  lib/v2/iqilu/maintainer.js
  lib/v2/iqilu/program.js
  lib/v2/iqilu/radar.js
  lib/v2/iqilu/router.js
  lib/v2/iqilu/templates/description.art
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v2

#13680 fix(route): fix selector for articles on dlsite ci-en
  lib/v2/dlsite/ci-en/article.js
Labels: Auto: Route Test Complete, Route: v2

#13677 fix(route): 北京师范大学 党委学生工作部 - Response code 404 (Not Found) & Invalid URL
  lib/v2/bnu/dwxgb.js
Labels: Auto: Route Test Complete, Route: v2

#13682 fix(parameter): adjust to filter before limit.
  lib/middleware/parameter.js
  test/middleware/parameter.js
Labels: core enhancement, Auto: Route Test Complete

#13681 feat!: allowlist & denylist
  lib/config.js
  lib/middleware/access-control.js
  lib/routes/universities/ynnu/edu/news.js
  scripts/workflow/test-route/identify.js
  test/middleware/access-control.js
  website/docs/install/README.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/README.md
Labels: core enhancement, Auto: Route Test Skipped, breaking change, Route: v1

#13690 docs: ts config
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .gitpod.yml
  package.json
  pnpm-lock.yaml
  website/babel.config.cjs
  website/docs/.format/chineseFormat.js
  website/docs/.format/chineseFormat.mjs
  website/docs/.format/file.js
  website/docs/.format/file.mjs
  website/docs/.format/format.mjs
  website/docs/.format/md/hierarchySlug.js
  website/docs/.format/removeHeadingId.mjs
  website/docs/.format/slugId.mjs
  website/docs/.format/sortByHeading.mjs
  website/docs/joinus/new-rss/add-docs.md
  website/docs/routes/anime.mdx
  website/docs/routes/bbs.mdx
  website/docs/routes/blog.mdx
  website/docs/routes/design.mdx
  website/docs/routes/finance.mdx
  website/docs/routes/forecast.mdx
  website/docs/routes/game.mdx
  website/docs/routes/government.mdx
  website/docs/routes/journal.mdx
  website/docs/routes/live.mdx
  website/docs/routes/multimedia.mdx
  website/docs/routes/new-media.mdx
  website/docs/routes/other.mdx
  website/docs/routes/picture.mdx
  website/docs/routes/program-update.mdx
  website/docs/routes/programming.mdx
  website/docs/routes/reading.mdx
  website/docs/routes/shopping.mdx
  website/docs/routes/social-media.mdx
  website/docs/routes/study.mdx
  website/docs/routes/traditional-media.mdx
  website/docs/routes/travel.mdx
  website/docs/routes/university.mdx
  website/docusaurus.config.js
  website/docusaurus.config.ts
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/new-rss/add-docs.md
  website/sidebars.mjs
  website/src/components/Badge.tsx
  website/src/components/CarbonAds/index.tsx
  website/src/components/Route.tsx
  website/src/css/custom.css
  website/src/theme/DocSidebarItem/index.jsx
  website/src/theme/MDXComponents.ts
  website/src/theme/SearchBar/index.jsx
  website/src/theme/SearchBar/style.css
  website/tsconfig.json
Labels: docs, Auto: Route Test Skipped

#13689 feat(route): add 河北电视台的1个节目
  lib/v2/hebtv/maintainer.js
  lib/v2/hebtv/nong-bo-shi-zai-xing-dong.js
  lib/v2/hebtv/radar.js
  lib/v2/hebtv/router.js
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13694 feat(route): 河北网络广播电视台农博士在行动视频
  lib/v2/hebtv/maintainer.js
  lib/v2/hebtv/nong-bo-shi-zai-xing-dong.js
  lib/v2/hebtv/templates/description.art
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13698 fix(route): 中国海洋大学 信息科学与工程学院 时间错误
  lib/v2/ouc/it.js
  lib/v2/ouc/maintainer.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#13699 feat(route): 中国海洋大学信息科学与工程学部团学工作
  lib/v2/ouc/it-tx.js
  lib/v2/ouc/maintainer.js
  lib/v2/ouc/radar.js
  lib/v2/ouc/router.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#13705 fix(route): creative-comic update image host
  lib/v2/creative-comic/book.js
  lib/v2/creative-comic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13706 fix(route): mittrchina
  lib/router.js
  lib/routes/mittrchina/index.js
  lib/v2/mittrchina/index.js
  lib/v2/mittrchina/maintainer.js
  lib/v2/mittrchina/radar.js
  lib/v2/mittrchina/router.js
  lib/v2/mittrchina/templates/movie.art
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13714 fix(route): cnbeta
  lib/v2/cnbeta/type.js
  lib/v2/cnbeta/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13704 feat(route): add 罗戈网
  lib/v2/logclub/index.js
  lib/v2/logclub/maintainer.js
  lib/v2/logclub/radar.js
  lib/v2/logclub/report.js
  lib/v2/logclub/router.js
  lib/v2/logclub/templates/description.art
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13711 feat(route): Add 福利吧最近更新内容
  lib/v2/fuliba/latest.js
  lib/v2/fuliba/maintainer.js
  lib/v2/fuliba/radar.js
  lib/v2/fuliba/router.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13729 refactor(route): replace showdown with markdown-it
  lib/v2/leetcode/articles.js
  lib/v2/leetcode/dailyquestion-solution-cn.js
  lib/v2/leetcode/dailyquestion-solution-en.js
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route: v2

#13730 fix(route): reuters return fulfilled promises
  lib/v2/reuters/common.js
  lib/v2/reuters/maintainer.js
  lib/v2/reuters/migration_prompt.js
  lib/v2/reuters/router.js
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13739 feat(route): add 全球主机监控CloudFlareYes
  lib/v2/hostmonit/cloudflareyes.js
  lib/v2/hostmonit/maintainer.js
  lib/v2/hostmonit/radar.js
  lib/v2/hostmonit/router.js
  lib/v2/hostmonit/templates/description.art
  lib/v2/hostmonit/templates/title.art
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#13750 fix(route): zimuxia portfolio.js
  lib/router.js
  lib/v2/zimuxia/index.js
  lib/v2/zimuxia/maintainer.js
  lib/v2/zimuxia/portfolio.js
  lib/v2/zimuxia/radar.js
  lib/v2/zimuxia/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13773 fix(route): Remove share widget from CBC route
  lib/v2/cbc/topics.js
Labels: Auto: Route Test Complete, Route: v2

#13780 fix(route): the attribute status.activity now can be empty(#13770)
  lib/v2/douban/people/status.js
Labels: Auto: Route Test Complete, Route: v2

#13774 fix(route): fix pubDate timezone for route e-hentai
  lib/v2/ehentai/ehapi.js
Labels: Auto: Route Test Complete, Route: v2

#13781 fix(route): dongqiudi
  lib/v2/dongqiudi/special.js
  lib/v2/dongqiudi/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13769 feat(route): add 正版中国分类 & 标签 & 搜索
  lib/router.js
  lib/routes/getitfree/category.js
  lib/routes/getitfree/search.js
  lib/routes/getitfree/utils.js
  lib/v2/getitfree/index.js
  lib/v2/getitfree/maintainer.js
  lib/v2/getitfree/radar.js
  lib/v2/getitfree/router.js
  lib/v2/getitfree/util.js
  website/docs/routes/other.mdx
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13794 fix(route): nbd
  lib/v2/nbd/article.js
  lib/v2/nbd/index.js
  lib/v2/nbd/maintainer.js
  lib/v2/nbd/radar.js
  lib/v2/nbd/router.js
  lib/v2/zcool/maintainer.js
  website/docs/routes/design.mdx
  website/docs/routes/finance.mdx
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: v2

#13801 chore: bump to node 20
  .devcontainer/devcontainer.json
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
  .nvmrc
  Dockerfile
Labels: Auto: Route Test Skipped

#13802 feat(route): cmpxchg8b
  lib/v2/cmpxchg8b/articles.js
  lib/v2/cmpxchg8b/maintainer.js
  lib/v2/cmpxchg8b/radar.js
  lib/v2/cmpxchg8b/router.js
  website/docs/routes/blog.mdx
  website/docs/routes/programming.mdx
Labels: Auto: Route Test Complete, Route: v2

#13809 feat(route): add 豆瓣当月期待剧集/电影推荐
  lib/v2/douban/maintainer.js
  lib/v2/douban/other/recommended.js
  lib/v2/douban/router.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13783 fix(route): zimuxia portfolio.js compatible for old stype and support ed2k baidu
  lib/v2/zimuxia/portfolio.js
  website/docs/routes/multimedia.mdx
Labels: Auto: Route Test Complete, Route: v2

#13805 feat(route): add 中国气象局天气预报频道
  lib/v2/cma/channel.js
  lib/v2/cma/maintainer.js
  lib/v2/cma/radar.js
  lib/v2/cma/router.js
  lib/v2/cma/templates/description.art
  website/docs/routes/forecast.mdx
Labels: Auto: Route Test Complete, Route: v2

#13818 feat(route): add Bangumi 成员关注动画榜
  lib/v2/bangumi/maintainer.js
  lib/v2/bangumi/radar.js
  lib/v2/bangumi/router.js
  lib/v2/bangumi/tv/other/followrank.js
  website/docs/routes/anime.mdx
Labels: Auto: Route Test Complete, Route: v2

#13820 feat(route): add javlibrary maker type
  lib/v2/javlibrary/maintainer.js
  lib/v2/javlibrary/maker.js
  lib/v2/javlibrary/router.js
  lib/v2/javlibrary/utils.js
  website/docs/routes/multimedia.mdx
Labels: Auto: Route Test Complete, Route: v2

#13817 feat(route): add 逛丢关键字搜索
  lib/v2/guangdiu/maintainer.js
  lib/v2/guangdiu/radar.js
  lib/v2/guangdiu/router.js
  lib/v2/guangdiu/search.js
  website/docs/routes/multimedia.mdx
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: v2

#13822 fix(route): Update the kemono route to point at the new canonical URL
  lib/v2/kemono/index.js
  lib/v2/kemono/radar.js
Labels: Auto: Route Test Complete, Route: v2

#13827 feat(route): Retrieve avatars from kemono pages and use them as feed images
  lib/v2/kemono/index.js
Labels: Auto: Route Test Complete, Route: v2

#13821 feat(route): Include enclosures for mp3, mp4, and m4a files attached to kemono posts
  lib/v2/kemono/index.js
Labels: Auto: Route Test Complete, Route: v2

#13829 feat(route): bossdesign
  lib/v2/bossdesign/index.js
  lib/v2/bossdesign/maintainer.js
  lib/v2/bossdesign/radar.js
  lib/v2/bossdesign/router.js
  website/docs/routes/design.mdx
Labels: Auto: Route Test Complete, Route: v2

#13830 fix(route): use api provided buvid3 and local b_nut
  lib/v2/bilibili/cache.js
Labels: Auto: Route Test Complete, Route: v2

#13831 fix(route/95mm): Update rootUrl in utils.js
  lib/v2/95mm/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13828 feat(route): add 中华人民共和国农业农村部数据
  lib/router.js
  lib/routes/gov/moa/sjzxfb.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/moa/moa.js
  lib/v2/gov/moa/zdscxx.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13839 fix(route/nature): fix item.category
  lib/v2/nature/cover.js
  lib/v2/nature/highlight.js
  lib/v2/nature/news-and-comment.js
  lib/v2/nature/news.js
  lib/v2/nature/research.js
  lib/v2/nature/siteindex.js
  lib/v2/nature/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13848 fix(route): bilibili webgl signature
  lib/v2/bilibili/video.js
Labels: Auto: Route Test Complete, Route: v2

#13855 feat(route): add counterstrike match results from liquipedia
  lib/router.js
  lib/routes/liquipedia/dota2_matches.js
  lib/v2/liquipedia/cs_matches.js
  lib/v2/liquipedia/dota2_matches.js
  lib/v2/liquipedia/maintainer.js
  lib/v2/liquipedia/radar.js
  lib/v2/liquipedia/router.js
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13850 feat(route): add 豆瓣网站中关于某书的论坛页面(#13838)
  lib/v2/douban/maintainer.js
  lib/v2/douban/other/discussion.js
  lib/v2/douban/radar.js
  lib/v2/douban/router.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13875 feat(route/threads): ditch puppeteer
  lib/v2/threads/index.js
  lib/v2/threads/utils.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13866 feat(route): add 秀动网 (#12489)
  lib/v2/showstart/const.js
  lib/v2/showstart/event.js
  lib/v2/showstart/maintainer.js
  lib/v2/showstart/radar.js
  lib/v2/showstart/router.js
  lib/v2/showstart/search.js
  lib/v2/showstart/service.js
  lib/v2/showstart/utils.js
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: v2

#13874 feat(route): add 量子位
  lib/v2/qbitai/category.js
  lib/v2/qbitai/maintainer.js
  lib/v2/qbitai/radar.js
  lib/v2/qbitai/router.js
  lib/v2/qbitai/tag.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13879 feat(route/秀动网): add '/params' route for route params look up, add more detail into '/event' feed item description
  lib/v2/showstart/params.js
  lib/v2/showstart/router.js
  lib/v2/showstart/service.js
  lib/v2/showstart/utils.js
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: v2

#13881 feat(route/google): Add Google Alerts
  lib/v2/google/alerts.js
  lib/v2/google/maintainer.js
  lib/v2/google/router.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#13880 feat(route): 添加bilibili会员购票务路由(#13618)
  lib/v2/bilibili/maintainer.js
  lib/v2/bilibili/platform.js
  lib/v2/bilibili/radar.js
  lib/v2/bilibili/router.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13885 feat: add uniqlo new arrival route
  lib/routes/uniqlo/stylingbook.js
  lib/v2/uniqlo/maintainer.js
  lib/v2/uniqlo/new.js
  lib/v2/uniqlo/radar.js
  lib/v2/uniqlo/router.js
  website/docs/routes/other.mdx
  website/docs/routes/shopping.mdx
Labels: Route: v1, Route: v2

#13886 feat(route): add 中华人民共和国交通运输部
  lib/v2/gov/maintainer.js
  lib/v2/gov/mot/index.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#13884 feat(route/秀动网): add more routes
  lib/v2/showstart/artist.js
  lib/v2/showstart/brand.js
  lib/v2/showstart/event.js
  lib/v2/showstart/maintainer.js
  lib/v2/showstart/params.js
  lib/v2/showstart/radar.js
  lib/v2/showstart/router.js
  lib/v2/showstart/search.js
  lib/v2/showstart/service.js
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: v2

#13889 fix(route/harvard): replace selector
  lib/router.js
  lib/v2/harvard/health/blog.js
  lib/v2/harvard/maintainer.js
  lib/v2/harvard/radar.js
  lib/v2/harvard/router.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13890 feat(route): add 广东省食品药品审评认证技术协会
  lib/v2/gdsrx/index.js
  lib/v2/gdsrx/maintainer.js
  lib/v2/gdsrx/radar.js
  lib/v2/gdsrx/router.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#13899 fix: issue 13897
  lib/v2/aliyun/notice.js
Labels: Auto: Route Test Complete, Route: v2

#13901 fix: dongqiudi in-text href
  lib/v2/dongqiudi/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13900 feat: Support RSS3 UMS output format
  lib/middleware/template.js
  lib/utils/render.js
  lib/views/rss3-ums.js
  website/docs/parameter.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/parameter.md
Labels: core enhancement, Auto: Route Test Skipped

#13909 fix(route): xiaohongshu
  lib/v2/xiaohongshu/util.js
Labels: Auto: Route Test Complete, Route: v2

#13914 fix(egsea): pubDate Invalid Date
  lib/router.js
  lib/routes/egsea/flash.js
  lib/v2/egsea/flash.js
  lib/v2/egsea/maintainer.js
  lib/v2/egsea/radar.js
  lib/v2/egsea/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13920 feat(route): authless instagram
  lib/v2/instagram/templates/images.art
  lib/v2/instagram/templates/video.art
  lib/v2/instagram/web-api/index.js
  lib/v2/instagram/web-api/utils.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13922 feat(route): 番组计划用户想看
  lib/v2/bangumi/maintainer.js
  lib/v2/bangumi/radar.js
  lib/v2/bangumi/router.js
  lib/v2/bangumi/tv/user/wish.js
  website/docs/routes/anime.mdx
Labels: Auto: Route Test Complete, Route: v2

#13764 feat(route): Add 微博热搜内容摘要
  lib/v2/weibo/maintainer.js
  lib/v2/weibo/radar.js
  lib/v2/weibo/router.js
  lib/v2/weibo/search/hot.js
  lib/v2/weibo/search/template/digest.art
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13916 feat(route): add 墨天轮
  lib/v2/modb/maintainer.js
  lib/v2/modb/radar.js
  lib/v2/modb/router.js
  lib/v2/modb/topic.js
  website/docs/routes/programming.mdx
Labels: Auto: Route Test Complete, Route: v2
