Repository DIYgod/RSSHub, pull requests merged in 2023-09, with the labels that each got.

#13153 feat(route): 新增 米游社 - 同人榜 路由
  lib/v2/bilibili/maintainer.js
  lib/v2/mihoyo/bbs/img-ranking.js
  lib/v2/mihoyo/bbs/official.js
  lib/v2/mihoyo/bbs/static-data.js
  lib/v2/mihoyo/maintainer.js
  lib/v2/mihoyo/radar.js
  lib/v2/mihoyo/router.js
  website/docs/routes/game.md
  website/docs/routes/programming.md
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13178 feat(route): refine category list for thepaper.
  lib/v2/thepaper/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13168 feat(route): Add Discourse notifications fulltext support.
  lib/v2/discourse/maintainer.js
  lib/v2/discourse/notifications.js
  lib/v2/discourse/router.js
  website/docs/routes/bbs.md
Labels: Auto: Route Test Complete, Route: v2

#13183 fix(route): Kun Cheng Essay
  lib/v2/kunchengblog/essay.js
  lib/v2/kunchengblog/radar.js
  lib/v2/kunchengblog/router.js
Labels: Auto: Route Test Complete, Route: v2

#13169 fix(route): domp4 支持自定义域名
  lib/v2/domp4/detail.js
  lib/v2/domp4/latest.js
  lib/v2/domp4/utils.js
  website/docs/routes/multimedia.md
Labels: Auto: Route Test Complete, Route: v2

#13185 fix(route): dorohedoro xml error
  lib/v2/dorohedoro/news.js
Labels: Auto: Route Test Complete, Route: v2

#13170 feat(route): add 木木博客频道 & 标签 & 专题 & 搜索
  lib/v2/liulinblog/index.js
  lib/v2/liulinblog/itnews.js
  lib/v2/liulinblog/kuaixun.js
  lib/v2/liulinblog/maintainer.js
  lib/v2/liulinblog/radar.js
  lib/v2/liulinblog/router.js
  lib/v2/liulinblog/utils.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13154 fix(route): fix `/iqiyi/user/video`
  lib/v2/iqiyi/maintainer.js
  lib/v2/iqiyi/video.js
Labels: Auto: Route Test Complete, Route: v2

#13181 feat(route): migrate japanpost to v2
  assets/radar-rules.js
  lib/radar-rules.js
  lib/router.js
  lib/v2/japanpost/maintainer.js
  lib/v2/japanpost/radar.js
  lib/v2/japanpost/router.js
  lib/v2/japanpost/templates/track_item_desc.art
  lib/v2/japanpost/track.js
  lib/v2/japanpost/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13147 feat(route): Add multi-language support for RFI.
  lib/v2/rfi/maintainer.js
  lib/v2/rfi/news.js
  lib/v2/rfi/router.js
  website/docs/routes/multimedia.md
Labels: Auto: Route Test Complete, Route: v2

#13187 feat(route): Add Zodgame forum fulltext support
  lib/v2/zodgame/forum.js
  lib/v2/zodgame/templates/forum.art
Labels: Auto: Route Test Complete, Route: v2

#13191 feat(route): Add request throttling for news.cn
  lib/v2/news/whxw.js
Labels: Auto: Route Test Complete, Route: v2

#13197 fix(route): 修复 bilibili 动态的作者缺失
  lib/v2/bilibili/dynamic.js
Labels: Auto: Route Test Complete, Route: v2

#13172 feat(route): add pubDate Transformation/HTML
  lib/v2/rsshub/transform/html.js
  lib/v2/rsshub/transform/json.js
  website/docs/routes/other.md
Labels: Auto: Route Test Complete, Route: v2

#13198 chore(route): japanpost: update radar rules
  lib/v2/japanpost/radar.js
Labels: Route: v2

#13186 feat(route): Add Delta Lake Blog
  lib/v2/deltaio/blog.js
  lib/v2/deltaio/maintainer.js
  lib/v2/deltaio/radar.js
  lib/v2/deltaio/router.js
  website/docs/routes/blog.md
Labels: Auto: Route Test Complete, Route: v2

#13193 feat(route): Add request throttling for apnews
  lib/v2/apnews/topics.js
Labels: Auto: Route Test Complete, Route: v2

#13200 feat(route): Add category to stheadline.
  lib/v2/stheadline/std/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#13204 fix(route): 晚点报道
  lib/v2/latepost/index.js
  lib/v2/latepost/radar.js
Labels: Auto: Route Test Complete, Route: v2

#13217 fix(route): 修复 米游社 公告栏 template 错误
  lib/v2/mihoyo/bbs/official.js
Labels: Auto: Route Test Complete, Route: v2

#13206 fix(route): (Maybe) fix the stheadline feed occasionally dropping details.
  lib/v2/stheadline/std/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#13205 fix(route): Fix the BBC Chinese 404 page not found.
  lib/router.js
  lib/v2/bbc/index.js
  lib/v2/bbc/maintainer.js
  lib/v2/bbc/radar.js
  lib/v2/bbc/router.js
  lib/v2/bbc/utils.js
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13216 feat(route): add category to cna & other improvements
  lib/v2/cna/index.js
Labels: Auto: Route Test Complete, Route: v2

#13207 feat(route): add 理想生活实验室
  lib/v2/toodaylab/index.js
  lib/v2/toodaylab/maintainer.js
  lib/v2/toodaylab/radar.js
  lib/v2/toodaylab/router.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13225 fix(route): douyin live
  lib/v2/douyin/live.js
Labels: Auto: Route Test Complete, Route: v2

#13223 fix(route): fix bjfu encoding
  lib/v2/bjfu/grs.js
  lib/v2/bjfu/it/index.js
  lib/v2/bjfu/it/utils.js
  lib/v2/bjfu/jwc/index.js
  lib/v2/bjfu/jwc/utils.js
  lib/v2/bjfu/kjc.js
  lib/v2/bjfu/news/index.js
  lib/v2/bjfu/news/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13227 fix(route): douyin live
  lib/v2/douyin/live.js
Labels: Auto: Route Test Complete, Route: v2

#13215 feat(route): add 土猛的员外 blog
  lib/v2/luxiangdong/archive.js
  lib/v2/luxiangdong/maintainer.js
  lib/v2/luxiangdong/radar.js
  lib/v2/luxiangdong/router.js
  website/docs/routes/blog.md
Labels: Auto: Route Test Complete, Route: v2

#13231 feat(route): tfc-taiwan
  lib/v2/tfc-taiwan/index.js
  lib/v2/tfc-taiwan/maintainer.js
  lib/v2/tfc-taiwan/radar.js
  lib/v2/tfc-taiwan/router.js
  lib/v2/tfc-taiwan/templates/article.art
  lib/v2/tfc-taiwan/utils.js
  website/docs/routes/other.md
Labels: Auto: Route Test Complete, Route: v2

#13196 fix(route): fix A姐分享
  lib/v2/abskoop/index.js
  lib/v2/abskoop/nsfw.js
  lib/v2/abskoop/radar.js
  lib/v2/abskoop/templates/description.art
  website/docs/routes/multimedia.md
Labels: Auto: Route Test Complete, Route: v2

#13235 fix(route): rsshub routes
  lib/v2/rsshub/routes.js
  website/docs/routes/program-update.md
Labels: Auto: Route Test Complete, Route: v2

#13234 fix(route): 中国科学技术大学
  lib/v2/ustc/eeis.js
  lib/v2/ustc/sist.js
Labels: Auto: Route Test Complete, Route: v2

#13240 fix(route): discuz charset
  lib/radar.js
  lib/router.js
  lib/routes/discuz/discuz.js
  lib/v2/discuz/discuz.js
  lib/v2/discuz/maintainer.js
  lib/v2/discuz/radar.js
  lib/v2/discuz/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13242 fix(route): 用户关注动态不再预填充作者名
  lib/v2/bilibili/followings_dynamic.js
Labels: Auto: Route Test Complete, Route: v2

#13244 fix: cache logo & subdirectory serving
  lib/app.js
  lib/views/error.art
  lib/views/welcome.art
Labels: core enhancement, Auto: Route Test Complete

#13238 feat(route): 添加百度贴吧搜索
  lib/v2/baidu/maintainer.js
  lib/v2/baidu/radar.js
  lib/v2/baidu/router.js
  lib/v2/baidu/templates/tieba_search.art
  lib/v2/baidu/tieba/search.js
  website/docs/routes/bbs.md
Labels: Auto: Route Test Complete, Route: v2

#13243 chore(route): support for new dribbble
  lib/router.js
  lib/routes/dribbble/utils.js
  lib/v2/dribbble/keyword.js
  lib/v2/dribbble/maintainer.js
  lib/v2/dribbble/popular.js
  lib/v2/dribbble/radar.js
  lib/v2/dribbble/router.js
  lib/v2/dribbble/templates/description.art
  lib/v2/dribbble/user.js
  lib/v2/dribbble/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13239 feat(route): add 8264
  lib/v2/8264/list.js
  lib/v2/8264/maintainer.js
  lib/v2/8264/radar.js
  lib/v2/8264/router.js
  lib/v2/8264/templates/description.art
  website/docs/routes/bbs.md
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13199 feat(route): add Kantar Worldpanel News Centre
  lib/v2/kantarworldpanel/index.js
  lib/v2/kantarworldpanel/maintainer.js
  lib/v2/kantarworldpanel/radar.js
  lib/v2/kantarworldpanel/router.js
  lib/v2/kantarworldpanel/templates/description.art
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13246 feat(route): add DN.com
  lib/v2/dn/maintainer.js
  lib/v2/dn/news.js
  lib/v2/dn/radar.js
  lib/v2/dn/router.js
  lib/v2/dn/templates/description.art
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13250 fix(route): fix `/bilibili/user/dynamic` author undefined
  lib/v2/bilibili/dynamic.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13247 feat(route): add GitHub Pulse
  lib/v2/github/maintainer.js
  lib/v2/github/pulse.js
  lib/v2/github/radar.js
  lib/v2/github/router.js
  lib/v2/github/templates/pulse-description.art
  website/docs/routes/programming.md
Labels: Auto: Route Test Complete, Route: v2

#13261 fix(route): boc whpj
  lib/v2/boc/whpj.js
Labels: Auto: Route Test Complete, Route: v2

#13260 fix(route): replace `emailjs-imap-client` with `imapflow`
  lib/radar.js
  lib/router.js
  lib/routes/mail/imap.js
  lib/v2/mail/imap.js
  lib/v2/mail/maintainer.js
  lib/v2/mail/router.js
  package.json
  pnpm-lock.yaml
  website/docs/routes/other.md
Labels: dependencies, Auto: Route Test Complete, Route: v1, Route: v2

#13270 feat(route): add“武汉大学研究生院”
  lib/router.js
  lib/routes/universities/whu/cs.js
  lib/routes/universities/whu/news.js
  lib/v2/whu/cs.js
  lib/v2/whu/gs/index.js
  lib/v2/whu/maintainer.js
  lib/v2/whu/news.js
  lib/v2/whu/radar.js
  lib/v2/whu/router.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13271 feat(route): add 中国作家网
  lib/v2/chinawriter/index.js
  lib/v2/chinawriter/maintainer.js
  lib/v2/chinawriter/radar.js
  lib/v2/chinawriter/router.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13296 feat(route): 添加gamegene的rss订阅
  lib/v2/gamegene/maintainer.js
  lib/v2/gamegene/news.js
  lib/v2/gamegene/radar.js
  lib/v2/gamegene/router.js
  website/docs/routes/game.md
Labels: Auto: Route Test Complete, Route: v2

#13297 feat(route): add sitemap transform
  lib/v2/rsshub/maintainer.js
  lib/v2/rsshub/router.js
  lib/v2/rsshub/transform/sitemap.js
  website/docs/routes/other.md
Labels: Auto: Route Test Complete, Route: v2

#13319 fix(route): update mixcloud queries
  lib/v2/mixcloud/index.js
  lib/v2/mixcloud/queries.js
Labels: Auto: Route Test Complete, Route: v2

#13310 feat(route): 华南理工大学 - 机械与汽车工程学院
  lib/v2/scut/maintainer.js
  lib/v2/scut/radar.js
  lib/v2/scut/router.js
  lib/v2/scut/smae/notice.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13322 feat: /sqmc/www 新乡医学院三全学院官网信息
  lib/v2/sqmc/maintainer.js
  lib/v2/sqmc/radar.js
  lib/v2/sqmc/router.js
  lib/v2/sqmc/www.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13320 feat(route): add alternativeto.net
  lib/v2/alternativeto/maintainer.js
  lib/v2/alternativeto/platform.js
  lib/v2/alternativeto/radar.js
  lib/v2/alternativeto/router.js
  lib/v2/alternativeto/software.js
  lib/v2/alternativeto/utils.js
  website/docs/routes/programming.md
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#13312 feat(route): add 快科技
  lib/router.js
  lib/routes/kkj/news.js
  lib/v2/mydrivers/cid.js
  lib/v2/mydrivers/index.js
  lib/v2/mydrivers/maintainer.js
  lib/v2/mydrivers/radar.js
  lib/v2/mydrivers/rank.js
  lib/v2/mydrivers/router.js
  lib/v2/mydrivers/templates/description.art
  lib/v2/mydrivers/util.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13325 fix(route/cbc): Fix article content html tag
  lib/router.js
  lib/v2/cbc/maintainer.js
  lib/v2/cbc/radar.js
  lib/v2/cbc/router.js
  lib/v2/cbc/topics.js
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13326 feat(route): add 厦门理工大学教务处
  lib/v2/xmut/jwc/bkjw.js
  lib/v2/xmut/jwc/yjs.js
  lib/v2/xmut/maintainer.js
  lib/v2/xmut/radar.js
  lib/v2/xmut/router.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13327 feat(route): add Lemmy
  lib/radar.js
  lib/v2/lemmy/index.js
  lib/v2/lemmy/maintainer.js
  lib/v2/lemmy/router.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13345 feat(route): add 新片场
  lib/v2/xinpianchang/index.js
  lib/v2/xinpianchang/maintainer.js
  lib/v2/xinpianchang/radar.js
  lib/v2/xinpianchang/rank.js
  lib/v2/xinpianchang/router.js
  lib/v2/xinpianchang/templates/description.art
  lib/v2/xinpianchang/util.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13336 feat(route): add 仮面ライダ最新情報
  lib/v2/kamen-rider-official/maintainer.js
  lib/v2/kamen-rider-official/news.js
  lib/v2/kamen-rider-official/radar.js
  lib/v2/kamen-rider-official/router.js
  lib/v2/kamen-rider-official/templates/description.art
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13348 feat(route): add ainvest
  lib/v2/ainvest/article.js
  lib/v2/ainvest/maintainer.js
  lib/v2/ainvest/news.js
  lib/v2/ainvest/radar.js
  lib/v2/ainvest/router.js
  lib/v2/ainvest/utils.js
  package.json
  pnpm-lock.yaml
  website/docs/routes/finance.md
Labels: dependencies, Auto: Route Test Complete, Route: v2

#13349 fix(route): Remove duplicate articles in reuters feed.
  lib/v2/reuters/common.js
Labels: Auto: Route Test Complete, Route: v2

#13351 fix(route): Refine category for udn feed.
  lib/v2/udn/breaking-news.js
Labels: Auto: Route Test Complete, Route: v2

#13354 fix(route): niaogebiji
  lib/router.js
  lib/routes/niaogebiji/cat.js
  lib/routes/niaogebiji/index.js
  lib/routes/niaogebiji/today.js
  lib/v2/niaogebiji/cat.js
  lib/v2/niaogebiji/index.js
  lib/v2/niaogebiji/maintainer.js
  lib/v2/niaogebiji/radar.js
  lib/v2/niaogebiji/router.js
  lib/v2/niaogebiji/today.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13356 chore: fix random ua generation
  lib/utils/rand-user-agent.js
  test/utils/rand-user-agent.js
Labels: Auto: Route Test Complete

#13357 fix(route): appstore
  lib/v2/apple/apps.js
  lib/v2/apple/maintainer.js
  lib/v2/apple/radar.js
  lib/v2/apple/router.js
  lib/v2/appstore/maintainer.js
  lib/v2/appstore/radar.js
  lib/v2/appstore/router.js
  lib/v2/appstore/update.js
  website/docs/routes/other.md
  website/docs/routes/program-update.md
Labels: Auto: Route Test Complete, Route: v2

#13355 fix(route): 修正141ppv中image获取问题
  lib/v2/141ppv/index.js
Labels: Auto: Route Test Complete, Route: v2

#13331 feat(route): 添加重庆人社局事业单位招聘公告
  lib/v2/gov/chongqing/sydwgkzp.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.md
Labels: Auto: Route Test Complete, Route: v2

#13363 feat(route): add sourceforge
  lib/v2/sourceforge/index.js
  lib/v2/sourceforge/maintainer.js
  lib/v2/sourceforge/radar.js
  lib/v2/sourceforge/router.js
  website/docs/routes/program-update.md
Labels: Auto: Route Test Complete, Route: v2

#13367 feat(route): add Surfshark Blog
  lib/v2/surfshark/blog.js
  lib/v2/surfshark/maintainer.js
  lib/v2/surfshark/radar.js
  lib/v2/surfshark/router.js
  lib/v2/surfshark/templates/description.art
  website/docs/routes/blog.md
Labels: Auto: Route Test Complete, Route: v2

#13368 fix(route): economist article body extraction
  lib/v2/economist/full.js
Labels: Auto: Route Test Complete, Route: v2

#13369 docs: fix radar `docs` links
  lib/v2/ainvest/radar.js
  lib/v2/cas/radar.js
  lib/v2/finology/radar.js
  lib/v2/grist/radar.js
  lib/v2/icbc/radar.js
  lib/v2/liulinblog/radar.js
  lib/v2/lsnu/radar.js
  lib/v2/niaogebiji/radar.js
  lib/v2/oreno3d/radar.js
  lib/v2/sqmc/radar.js
  lib/v2/thwiki/radar.js
  lib/v2/xiaote/radar.js
  lib/v2/yyets/radar.js
Labels: Route: v2

#13364 feat: 添加广西民族大学图书馆最新消息RSS的支持
  lib/v2/gxmzu/lib.js
  lib/v2/gxmzu/maintainer.js
  lib/v2/gxmzu/radar.js
  lib/v2/gxmzu/router.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13365 fix(route): 通过在配置中预添加大量 Cookie 来绕过 Bilibili 反爬
  lib/v2/bilibili/cache.js
  lib/v2/bilibili/utils.js
  lib/v2/bilibili/video-all.js
Labels: Auto: Route Test Complete, Route: v2

#13366 feat(route): add osu!
  lib/v2/osu/beatmaps/packs.js
  lib/v2/osu/maintainer.js
  lib/v2/osu/radar.js
  lib/v2/osu/router.js
  website/docs/routes/game.md
Labels: Auto: Route Test Complete, Route: v2

#13379 feat(route): B站弹幕添加对应视频时间点
  lib/v2/bilibili/danmaku.js
Labels: Auto: Route Test Complete, Route: v2

#13375 Feat(route): fix radio canada international
  lib/v2/radio-canada/latest.js
Labels: Auto: Route Test Complete, Route: v2

#13340 feat(route): add gogoanimehd
  lib/v2/gogoanimehd/maintainer.js
  lib/v2/gogoanimehd/radar.js
  lib/v2/gogoanimehd/recent-releases.js
  lib/v2/gogoanimehd/router.js
  website/docs/routes/anime.md
Labels: Auto: Route Test Complete, Route: v2

#13317 feat(route): added hackyournews
  lib/v2/hackyournews/index.js
  lib/v2/hackyournews/maintainer.js
  lib/v2/hackyournews/radar.js
  lib/v2/hackyournews/router.js
  website/docs/routes/programming.md
Labels: Auto: Route Test Complete, Route: v2

#13384 feat(route): add 重庆市国有资产监督管理委员会
  lib/v2/gov/chongqing/gzw.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.md
Labels: Auto: Route Test Complete, Route: v2

#13387 fix(route): Add category to ft.com feed & Update full text mechanism.
  lib/v2/ft/myft.js
Labels: Auto: Route Test Complete, Route: v2

#13400 fix(route): fix author field for ft.com
  lib/v2/ft/myft.js
Labels: Auto: Route Test Complete, Route: v2

#13409 refactor(route): bilibili getCookie remove deadcode
  lib/v2/bilibili/cache.js
  lib/v2/bilibili/video.js
Labels: Auto: Route Test Complete, Route: v2

#13408 fix(route): bilibili 收藏夹可使用 config 中的 Cookie
  lib/v2/bilibili/fav.js
  lib/v2/bilibili/userFav.js
Labels: Auto: Route Test Complete, Route: v2

#13404 feat(route): Add query parameter to control full text fetching function
  lib/v2/thepaper/utils.js
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v2

#13410 feat(route): add 特斯拉中国权益中心
  lib/v2/tesla/cx.js
  lib/v2/tesla/maintainer.js
  lib/v2/tesla/radar.js
  lib/v2/tesla/router.js
  lib/v2/tesla/templates/description.art
  website/docs/routes/shopping.md
Labels: Auto: Route Test Complete, Route: v2

#13417 fix(route): added some error checking to the GrubStreet RSS feed that fixes an error when there aren't any authors listed for an article.
  lib/router.js
  lib/routes/grubstreet/utils.js
  lib/v2/grubstreet/index.js
  lib/v2/grubstreet/maintainer.js
  lib/v2/grubstreet/radar.js
  lib/v2/grubstreet/router.js
  lib/v2/grubstreet/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13425 fix(route): xiaohongshu
  lib/v2/xiaohongshu/user.js
  lib/v2/xiaohongshu/util.js
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#13426 feat(route): netflav
  lib/v2/netflav/index.js
  lib/v2/netflav/maintainer.js
  lib/v2/netflav/radar.js
  lib/v2/netflav/router.js
  lib/v2/netflav/templates/description.art
  website/docs/routes/multimedia.md
Labels: Auto: Route Test Complete, Route: v2

#13428 fix(route): x-mol
  lib/router.js
  lib/routes/x-mol/news.js
  lib/routes/x-mol/paper.js
  lib/routes/x-mol/utils.js
  lib/v2/x-mol/maintainer.js
  lib/v2/x-mol/news.js
  lib/v2/x-mol/paper.js
  lib/v2/x-mol/radar.js
  lib/v2/x-mol/router.js
  lib/v2/x-mol/templates/description.art
  lib/v2/x-mol/utils.js
  website/docs/routes/journal.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13386 fix(route): yuque 处理双向链接卡片
  lib/v2/yuque/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13434 fix(route): 竹白上周热门 TOP 20
  lib/v2/zhubai/radar.js
  lib/v2/zhubai/templates/description.art
  lib/v2/zhubai/top20.js
  website/docs/routes/blog.md
Labels: Auto: Route Test Complete, Route: v2

#13440 fix(route): oasis
  lib/v2/weibo/oasis/user.js
Labels: Auto: Route Test Complete, Route: v2

#13441 chore: swap rand-user-agent package
  lib/utils/rand-user-agent.js
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete
