Repository DIYgod/RSSHub, pull requests merged in 2023-07, with the labels that each got.

#12734 fix(route/weibo/group): attribute typo
  lib/v2/weibo/group.js
Labels: Auto: Route Test Complete, Route: v2

#12737 fix(route): NHK News Web Easy
  lib/v2/nhk/news_web_easy.js
  lib/v2/nhk/templates/news_web_easy.art
Labels: Auto: Route Test Complete, Route: v2

#12736 chore: update deps
  package.json
  pnpm-lock.yaml
Labels: Auto: No Route Needed

#12744 fix(route): 星岛日报时区处理修正
  lib/v2/stheadline/std/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#12735 fix(route): NASA 每日天文图片
  lib/router.js
  lib/routes/nasa/apod-cn.js
  lib/routes/nasa/apod-ncku.js
  lib/routes/nasa/apod.js
  lib/v2/nasa/apod-cn.js
  lib/v2/nasa/apod-ncku.js
  lib/v2/nasa/apod.js
  lib/v2/nasa/maintainer.js
  lib/v2/nasa/radar.js
  lib/v2/nasa/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12748 feat(route): add Reuters Graphics
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/reuters/common.js
  lib/v2/reuters/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#12753 fix(route): mingpao keep redirecting
  lib/v2/mingpao/index.js
Labels: Auto: Route Test Complete, Route: v2

#12754 fix(route/twitter): Web API authentication
  docs/en/install/README.md
  docs/en/social-media.md
  docs/install/README.md
  docs/social-media.md
  lib/config.js
  lib/v2/twitter/maintainer.js
  lib/v2/twitter/web-api/constants.js
  lib/v2/twitter/web-api/twitter-api.js
  lib/v2/twitter/web-api/twitter-got.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#12755 fix(route/bilibili): fix the bug because of Promise syntax
  lib/v2/bilibili/video-all.js
Labels: Auto: Route Test Complete, Route: v2

#12759 feat(route/twitter): use unique ID in some routes
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/twitter/developer-api/user.js
  lib/v2/twitter/web-api/constants.js
  lib/v2/twitter/web-api/media.js
  lib/v2/twitter/web-api/tweet.js
  lib/v2/twitter/web-api/twitter-api.js
  lib/v2/twitter/web-api/user.js
Labels: Auto: Route Test Complete, Route: v2

#12760 feat(route): add 军队人才网
  docs/government.md
  lib/v2/81/81rc/index.js
  lib/v2/81/maintainer.js
  lib/v2/81/radar.js
  lib/v2/81/router.js
Labels: Auto: Route Test Complete, Route: v2

#12761 feat(route): Add 上海文化广场 - 节目列表
  docs/shopping.md
  lib/v2/shcstheatre/maintainer.js
  lib/v2/shcstheatre/programs.js
  lib/v2/shcstheatre/radar.js
  lib/v2/shcstheatre/router.js
  lib/v2/shcstheatre/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12757 fix(route/picuki): stories and videos
  lib/v2/picuki/profile.js
  lib/v2/picuki/templates/video.art
  lib/v2/picuki/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12766 perf(route/reuters): use downsized pictures from Reuters
  lib/v2/reuters/templates/description.art
Labels: Auto: Route Test Complete

#12762 feat(route): Add Meta's Threads
  docs/en/social-media.md
  lib/v2/threads/index.js
  lib/v2/threads/maintainer.js
  lib/v2/threads/radar.js
  lib/v2/threads/router.js
Labels: Auto: Route Test Complete, Route: v2

#12758 fix(route/sjtu): gs
  docs/university.md
  lib/router.js
  lib/routes/universities/sjtu/gs/tzgg.js
  lib/routes/universities/sjtu/gs/utils.js
  lib/routes/universities/sjtu/seiee/utils.js
  lib/v2/sjtu/gs.js
  lib/v2/sjtu/jwc.js
  lib/v2/sjtu/maintainer.js
  lib/v2/sjtu/radar.js
  lib/v2/sjtu/router.js
  lib/v2/sjtu/seiee/academic.js
  lib/v2/sjtu/seiee/bjwb.js
  lib/v2/sjtu/seiee/utils.js
  lib/v2/sjtu/seiee/xsb.js
  lib/v2/sjtu/templates/activity.art
  lib/v2/sjtu/tongqu/activity.js
  lib/v2/sjtu/yzb/zkxx.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12768 feat(route): add 其乐论坛
  docs/game.md
  lib/v2/keylol/index.js
  lib/v2/keylol/maintainer.js
  lib/v2/keylol/radar.js
  lib/v2/keylol/router.js
Labels: Auto: Route Test Complete, Route: v2

#12774 feat(route): add macupdate
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/macupdate/app.js
  lib/v2/macupdate/maintainer.js
  lib/v2/macupdate/radar.js
  lib/v2/macupdate/router.js
Labels: Auto: Route Test Complete, Route: v2

#12776 fix: radiofrance geopolitique template, fetch only text contents
  lib/v2/radiofrance/templates/article.art
Labels: Auto: No Route Needed

#12779 fix(route): line today ignore 404
  lib/v2/line/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12778 fix: agirls routes
  lib/v2/agirls/index.js
  lib/v2/agirls/templates/description.art
  lib/v2/agirls/topic.js
  lib/v2/agirls/topic_list.js
  lib/v2/agirls/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12780 feat(route): add 环球法律评论
  docs/journal.md
  lib/v2/globallawreview/index.js
  lib/v2/globallawreview/maintainer.js
  lib/v2/globallawreview/radar.js
  lib/v2/globallawreview/router.js
Labels: Auto: Route Test Complete, Route: v2

#12783 fix(route/caixin): 使用新的新闻列表获取方式
  lib/v2/caixin/latest.js
Labels: Auto: Route Test Complete, Route: v2

#12788 feat: support web.okjike.com
  lib/v2/jike/radar.js
Labels: Route: v2

#12790 fix(route): baozimh selector
  docs/anime.md
  lib/v2/baozimh/index.js
Labels: Auto: Route Test Complete, Route: v2

#12795 feat(route): add 长江大学动物科学学院
  docs/university.md
  lib/v2/yangtzeu/dongke.js
  lib/v2/yangtzeu/maintainer.js
  lib/v2/yangtzeu/radar.js
  lib/v2/yangtzeu/router.js
Labels: Auto: Route Test Complete, Route: v2

#12792 fix: 适配网信办页面更新
  lib/v2/gov/cac/index.js
Labels: Auto: Route Test Complete, Route: v2

#12784 feat(route): add 火线
  docs/bbs.md
  lib/v2/huoxian/maintainer.js
  lib/v2/huoxian/radar.js
  lib/v2/huoxian/router.js
  lib/v2/huoxian/zone.js
Labels: Auto: Route Test Complete, Route: v2

#12789 fix(route): 更新联合早报时间获取方法
  lib/v2/zaobao/util.js
  package.json
  pnpm-lock.yaml
Labels: Auto: Route Test Complete, Route: v2

#12791 feat(router): add 东华大学学术信息
  docs/university.md
  lib/v2/dhu/maintainer.js
  lib/v2/dhu/news/xsxx.js
  lib/v2/dhu/radar.js
  lib/v2/dhu/router.js
Labels: Auto: Route Test Complete, Route: v2

#12799 fix(route): wxkol link
  lib/utils/wechat-mp.js
  lib/v2/wxkol/show.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#12772 fix(route/bilibili): fix liveSearch
  lib/v2/bilibili/liveSearch.js
Labels: Auto: Route Test Complete, Route: v2

#12801 fix(route): NMPA get accurate pubdate
  docs/government.md
  lib/v2/gov/nifdc/index.js
  lib/v2/gov/nmpa/generic.js
Labels: Auto: Route Test Complete, Route: v2

#12800 feat(add): SecIN信息安全社区
  docs/bbs.md
  lib/v2/sec-in/index.js
  lib/v2/sec-in/maintainer.js
  lib/v2/sec-in/radar.js
  lib/v2/sec-in/router.js
Labels: Auto: Route Test Complete, Route: v2

#12802 fix(route/bilibili): user/followings & user/followers now require login
  docs/install/README.md
  docs/social-media.md
  lib/v2/bilibili/followers.js
  lib/v2/bilibili/followings.js
  lib/v2/bilibili/maintainer.js
  lib/v2/bilibili/router.js
Labels: Auto: Route Test Complete, Route: v2

#12805 fix(route): copymanga rate limit and cache
  docs/anime.md
  lib/v2/copymanga/comic.js
  lib/v2/copymanga/templates/comic.art
Labels: Auto: Route Test Complete, Route: v2

#12804 feat(route): add 国家广播电视总局电视剧政务平台
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/nrta/dsj.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#12817 refactor: remove direct dependent on xml2js
  lib/v2/wikinews/index.js
  package.json
  pnpm-lock.yaml
Labels: Auto: Route Test Complete, Route: v2

#12818 fix(route): javdb
  lib/v2/javdb/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12820 fix(route): 2048 redirect
  lib/v2/2048/index.js
Labels: Auto: Route Test Complete, Route: v2

#12812 fix(route): AP News获取方式调整
  lib/v2/apnews/topics.js
Labels: Auto: Route Test Complete, Route: v2

#12816 feat(route): add SecWiki-安全维基
  docs/programming.md
  lib/v2/sec-wiki/maintainer.js
  lib/v2/sec-wiki/radar.js
  lib/v2/sec-wiki/router.js
  lib/v2/sec-wiki/weekly.js
Labels: Auto: Route Test Complete, Route: v2

#12828 fix(route): duplicate entries in the Blizzard feed
  docs/en/game.md
  docs/game.md
  lib/router.js
  lib/v2/blizzard/maintainer.js
  lib/v2/blizzard/news.js
  lib/v2/blizzard/radar.js
  lib/v2/blizzard/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12830 fix(route): 星岛日报链接获取方式调整，以去除重复项目
  lib/v2/stheadline/std/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#12827 feat(route): add NPR
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/npr/full.js
  lib/v2/npr/maintainer.js
  lib/v2/npr/radar.js
  lib/v2/npr/router.js
Labels: Auto: Route Test Complete, Route: v2

#12831 feat(route): add dhu/yjs/news 东华大学研究生院通知
  docs/university.md
  lib/v2/dhu/maintainer.js
  lib/v2/dhu/radar.js
  lib/v2/dhu/router.js
  lib/v2/dhu/yjs/news.js
Labels: Auto: Route Test Complete, Route: v2

#12833 chore: update deps
  package.json
  pnpm-lock.yaml
Labels: Auto: Route Test Complete

#12824 feat(route): add 纪妖
  docs/new-media.md
  lib/v2/cbaigui/index.js
  lib/v2/cbaigui/maintainer.js
  lib/v2/cbaigui/radar.js
  lib/v2/cbaigui/router.js
  lib/v2/cbaigui/templates/figure.art
  lib/v2/cbaigui/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12842 fix(route): AP News时区调整
  lib/v2/apnews/topics.js
Labels: Auto: Route Test Complete, Route: v2

#12844 chore: bring back lint-staged
  .github/labeler.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete

#12850 fix(route): qidian chapter
  docs/reading.md
  docs/university.md
  lib/v2/qidian/chapter.js
  lib/v2/qidian/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#12851 fix(route): agefans
  lib/v2/agefans/detail.js
  lib/v2/agefans/radar.js
  lib/v2/agefans/update.js
  lib/v2/agefans/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12843 feat(route): add V2rayShare
  docs/other.md
  lib/v2/v2rayshare/index.js
  lib/v2/v2rayshare/maintainer.js
  lib/v2/v2rayshare/radar.js
  lib/v2/v2rayshare/router.js
Labels: Auto: Route Test Complete, Route: v2

#12862 feat(route): 支持上海市文旅局审批公告
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/shanghai/wgj/templates/wgj.art
  lib/v2/gov/shanghai/wgj/wgj.js
Labels: Auto: Route Test Complete, Route: v2

#12863 fix(route/twitter): mixed media incomplete
  docs/en/install/README.md
  docs/install/README.md
  lib/v2/twitter/web-api/constants.js
  lib/v2/twitter/web-api/twitter-got.js
Labels: Auto: Route Test Complete, Route: v2

#12864 fix(route/twitter): media t.co links not purged
  lib/v2/twitter/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12834 fix(route): bloomberg api 404 error
  lib/v2/bloomberg/react-renderer.js
  lib/v2/bloomberg/templates/chart_media.art
  lib/v2/bloomberg/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12866 feat(route): 添加 Javdb 的清单获取, 更新了搜索的排序筛选
  docs/multimedia.md
  lib/v2/javdb/lists.js
  lib/v2/javdb/maintainer.js
  lib/v2/javdb/radar.js
  lib/v2/javdb/router.js
  lib/v2/javdb/search.js
  lib/v2/javdb/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12869 Fix(route): bloomberg story for newslettes
  lib/v2/bloomberg/react-renderer.js
  lib/v2/bloomberg/templates/image_figure.art
  lib/v2/bloomberg/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12870 fix(route/twitter/user): missing latest tweets
  lib/v2/twitter/web-api/twitter-api.js
Labels: Auto: Route Test Complete, Route: v2

#12872 feat(route): add 中国海洋大学教务处
  docs/university.md
  lib/v2/ouc/jwc.js
  lib/v2/ouc/maintainer.js
  lib/v2/ouc/radar.js
  lib/v2/ouc/router.js
Labels: Auto: Route Test Complete, Route: v2

#12875 feat(route): add 国务院国有资产监督管理委员会
  docs/government.md
  lib/v2/gov/nsfc/index.js
  lib/v2/gov/nsfc/shortcuts.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#12886 fix(route): 壹蘋新聞網獲取失敗
  docs/new-media.md
  lib/v2/nextapple/realtime.js
Labels: Auto: Route Test Complete, Route: v2

#12893 feat(route): add route for bluesky post search ("keyword")
  docs/en/social-media.md
  docs/social-media.md
  lib/v2/bsky/keyword.js
  lib/v2/bsky/maintainer.js
  lib/v2/bsky/radar.js
  lib/v2/bsky/router.js
Labels: Auto: Route Test Complete, Route: v2

#12878 fix(route): bloomberg: add default handing of news in storymode based on react-renderer
  lib/v2/bloomberg/react-renderer.js
  lib/v2/bloomberg/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12880 feat(route): add 中国海洋大学选课信息教务通知
  docs/university.md
  lib/v2/ouc/jwgl.js
  lib/v2/ouc/maintainer.js
  lib/v2/ouc/radar.js
  lib/v2/ouc/router.js
Labels: Auto: Route Test Complete, Route: v2

#12894 feat(route): utgd: adjust utgd apiUrl to new
  lib/v2/utgd/timeline.js
  lib/v2/utgd/topic.js
Labels: Auto: No Route Needed, Auto: Route Test Complete, Route: v2

#12900 fix(route): segment fault user
  lib/v2/segmentfault/user.js
  lib/v2/segmentfault/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12899 feat(route): add github all issue/pull comments
  docs/en/programming.md
  docs/programming.md
  lib/v2/github/comments.js
  lib/v2/github/maintainer.js
  lib/v2/github/radar.js
  lib/v2/github/router.js
Labels: Auto: Route Test Complete, Route: v2

#12906 feat(route): add bilibili频道排行榜
  docs/social-media.md
  lib/v2/bilibili/channel.js
  lib/v2/bilibili/maintainer.js
  lib/v2/bilibili/radar.js
  lib/v2/bilibili/router.js
Labels: Auto: Route Test Complete, Route: v2

#12909 fix(route): wxkol
  lib/v2/wxkol/show.js
Labels: Auto: Route Test Complete, Route: v2

#12910 fix(route): coolapk item type 13
  lib/v2/coolapk/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12911 fix(route): 18comic
  docs/anime.md
  lib/v2/18comic/album.js
  lib/v2/18comic/blogs.js
  lib/v2/18comic/index.js
  lib/v2/18comic/search.js
  lib/v2/18comic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12912 fix(route/twitter/user): missing all replies
  lib/v2/twitter/web-api/twitter-api.js
Labels: Auto: Route Test Complete, Route: v2

#12901 feat(route): add Rawkuma
  docs/anime.md
  docs/en/anime.md
  lib/v2/rawkuma/maintainer.js
  lib/v2/rawkuma/manga.js
  lib/v2/rawkuma/radar.js
  lib/v2/rawkuma/router.js
  lib/v2/rawkuma/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12913 feat(route): add 湖南农业大学教务处等通知
  docs/university.md
  lib/v2/hunau/gfxy/index.js
  lib/v2/hunau/ied.js
  lib/v2/hunau/jwc.js
  lib/v2/hunau/maintainer.js
  lib/v2/hunau/radar.js
  lib/v2/hunau/router.js
  lib/v2/hunau/utils/categoryTitle.js
  lib/v2/hunau/utils/common.js
  lib/v2/hunau/utils/indexPage.js
  lib/v2/hunau/utils/newsContent.js
  lib/v2/hunau/xky/index.js
Labels: Auto: Route Test Complete, Route: v2

#12914 fix: 中国政府网-最新政策 url变更（#12908）
  lib/v2/gov/zhengce/zuixin.js
Labels: Auto: Route Test Complete, Route: v2
