Repository DIYgod/RSSHub, pull requests merged in 2023-05, with the labels that each got.

#12416 fix: duplicate guid for each item
  lib/v2/sony/downloads.js
Labels: Auto: Route Test Complete, Route: v2

#12419 feat(route): add 北京协和医学院“4+4”试点班招生网通知公告
  docs/university.md
  lib/v2/pumc/maintainer.js
  lib/v2/pumc/mdadmission.js
  lib/v2/pumc/radar.js
  lib/v2/pumc/router.js
Labels: Auto: Route Test Complete, Route: v2

#12414 feat(route): enhance feed of freecomputerbooks.com with full-text sup…
  lib/v2/freecomputerbooks/index.js
  lib/v2/freecomputerbooks/templates/desc.art
Labels: Auto: Route Test Complete, Route: v2

#12417 fix(route): iwara subscriptions
  lib/v2/iwara/subscriptions.js
  lib/v2/iwara/templates/subscriptions.art
Labels: Auto: Route Test Complete, Route: v2

#12421 feat(route): support limit parameter in bilibili channel & collection
  lib/v2/bilibili/userChannel.js
  lib/v2/bilibili/userCollection.js
Labels: Auto: Route Test Complete, Route: v2

#12422 fix(route): iwara subscription get token
  docs/anime.md
  docs/en/anime.md
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/v2/iwara/subscriptions.js
Labels: Route: v2

#12434 fix(route): 财联社深度
  docs/finance.md
  lib/v2/cls/depth.js
  lib/v2/cls/hot.js
  lib/v2/cls/maintainer.js
  lib/v2/cls/radar.js
  lib/v2/cls/telegraph.js
  lib/v2/cls/templates/depth.art
  lib/v2/cls/templates/telegraph.art
  lib/v2/cls/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12437 fix(bilibili): bilibili 视频搜索
  lib/v2/bilibili/vsearch.js
Labels: Auto: Route Test Complete, Route: v2

#12438 build: use pnpm
  .devcontainer/devcontainer.json
  .github/workflows/build-assets.yml
  .github/workflows/comment-on-issue.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
  .github/workflows/format.yml
  .github/workflows/issue-command.yml
  .github/workflows/pr-deploy-route-test.yml
  .github/workflows/pr-lint.yml
  .github/workflows/test.yml
  .gitignore
  .gitpod.yml
  .nvmrc
  Dockerfile
  docs/.nvmrc
  docs/en/install/README.md
  docs/en/joinus/new-rss/add-docs.md
  docs/en/joinus/new-rss/before-start.md
  docs/en/joinus/script-standard.md
  docs/en/usage.md
  docs/install/README.md
  docs/joinus/new-rss/add-docs.md
  docs/joinus/new-rss/before-start.md
  docs/joinus/script-standard.md
  docs/pnpm-lock.yaml
  docs/usage.md
  docs/yarn.lock
  pnpm-lock.yaml
  yarn.lock
Labels: dependencies, Auto: Route Test Complete

#12450 build: fix pnpm pptr postinstall
  .devcontainer/devcontainer.json
  .dockerignore
  .github/workflows/test.yml
  .gitpod.yml
  Dockerfile
  lib/utils/puppeteer.js
  package.json
  pnpm-lock.yaml
Labels: Auto: Route Test Complete

#12463 chore: remove string-similarity
  package.json
  pnpm-lock.yaml
Labels: Auto: No Route Needed

#12466 feat(route): 新增崩坏星穹铁道订阅
  docs/game.md
  lib/v2/mihoyo/maintainer.js
  lib/v2/mihoyo/radar.js
  lib/v2/mihoyo/router.js
  lib/v2/mihoyo/sr/news.js
Labels: Auto: Route Test Complete, Route: v2

#12444 feat(route): 新增网信办订阅
  docs/government.md
  lib/v2/gov/cac/index.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v2

#12467 feat(route): add 中国国家应急广播应急新闻 & 预警信息
  docs/forecast.md
  lib/router.js
  lib/routes/cneb/guoneinews.js
  lib/routes/cneb/yjxx.js
  lib/v2/cneb/maintainer.js
  lib/v2/cneb/radar.js
  lib/v2/cneb/router.js
  lib/v2/cneb/yjxw.js
  lib/v2/cneb/yjxx.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12470 feat(route): gist commits
  docs/en/programming.md
  docs/programming.md
  lib/v2/github/gist.js
  lib/v2/github/maintainer.js
  lib/v2/github/radar.js
  lib/v2/github/router.js
Labels: Auto: Route Test Complete, Route: v2

#12473 fix(route): 3dmgame
  docs/game.md
  lib/router.js
  lib/routes/3dm/game.js
  lib/routes/3dm/news_center.js
  lib/v2/3dmgame/game.js
  lib/v2/3dmgame/maintainer.js
  lib/v2/3dmgame/news_center.js
  lib/v2/3dmgame/radar.js
  lib/v2/3dmgame/router.js
  lib/v2/3dmgame/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12477 fix(route): duozhuayu
  docs/shopping.md
  lib/router.js
  lib/v2/duozhuayu/maintainer.js
  lib/v2/duozhuayu/radar.js
  lib/v2/duozhuayu/router.js
  lib/v2/duozhuayu/search.js
  lib/v2/duozhuayu/templates/book.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12476 feat: add .debug.html
  docs/en/joinus/debug.md
  docs/en/parameter.md
  docs/joinus/debug.md
  docs/parameter.md
  lib/middleware/template.js
  test/middleware/template.js
Labels: core enhancement, Auto: No Route Needed, Auto: Route Test Complete

#12475 feat(route): support medium
  docs/blog.md
  docs/en/blog.md
  docs/en/install/README.md
  docs/install/README.md
  lib/config.js
  lib/v2/medium/following.js
  lib/v2/medium/for-you.js
  lib/v2/medium/graphql.js
  lib/v2/medium/list.js
  lib/v2/medium/maintainer.js
  lib/v2/medium/parse-article.js
  lib/v2/medium/radar.js
  lib/v2/medium/router.js
  lib/v2/medium/tag.js
  test/config.js
Labels: Auto: Route Test Complete, Route: v2

#12478 fix(route): change ccdi.gov with new css selector
  lib/v2/gov/ccdi/index.js
  lib/v2/gov/ccdi/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12482 feat(route): sysu ygafz
  docs/university.md
  lib/v2/sysu/maintainer.js
  lib/v2/sysu/radar.js
  lib/v2/sysu/router.js
  lib/v2/sysu/ygafz.js
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#12481 feat(route): add IBC岩手放送ラジオ
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/ibc/maintainer.js
  lib/v2/ibc/radar.js
  lib/v2/ibc/radio.js
  lib/v2/ibc/router.js
  lib/v2/ibc/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12487 fix(route): nytimes author
  lib/v2/nytimes/author.js
Labels: Auto: Route Test Complete, Route: v2

#12484 fix(route): add openai research support
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/openai/blog.js
  lib/v2/openai/common.js
  lib/v2/openai/maintainer.js
  lib/v2/openai/radar.js
  lib/v2/openai/research.js
  lib/v2/openai/router.js
Labels: Auto: Route Test Complete, Route: v2

#12493 feat(route): sina us stock and rollnews
  docs/finance.md
  docs/new-media.md
  docs/traditional-media.md
  lib/router.js
  lib/routes/sina/chuangshiji.js
  lib/routes/sina/discovery.js
  lib/routes/sina/finance.js
  lib/routes/sina/rollnews.js
  lib/routes/sina/sports.js
  lib/v2/sina/chuangshiji.js
  lib/v2/sina/discovery.js
  lib/v2/sina/finance/china.js
  lib/v2/sina/finance/stock/usstock.js
  lib/v2/sina/maintainer.js
  lib/v2/sina/radar.js
  lib/v2/sina/rollnews.js
  lib/v2/sina/router.js
  lib/v2/sina/sports.js
  lib/v2/sina/templates/slide.art
  lib/v2/sina/templates/video.art
  lib/v2/sina/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12494 feat(route): add 故事FM播客
  docs/multimedia.md
  lib/router.js
  lib/v2/storyfm/episodes.js
  lib/v2/storyfm/index.js
  lib/v2/storyfm/maintainer.js
  lib/v2/storyfm/radar.js
  lib/v2/storyfm/router.js
  lib/v2/storyfm/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12499 feat(route): add 四川工商学院公告
  docs/university.md
  lib/v2/stbu/jsjxy.js
  lib/v2/stbu/maintainer.js
  lib/v2/stbu/radar.js
  lib/v2/stbu/router.js
  lib/v2/stbu/xyxw.js
Labels: Auto: Route Test Complete, Route: v2

#12500 feat(route): add Infuse Release Notes
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/firecore/index.js
  lib/v2/firecore/maintainer.js
  lib/v2/firecore/radar.js
  lib/v2/firecore/router.js
Labels: Auto: Route Test Complete, Route: v2

#12507 feat(route): add 阿里研究院资讯
  docs/new-media.md
  lib/v2/aliresearch/information.js
  lib/v2/aliresearch/maintainer.js
  lib/v2/aliresearch/radar.js
  lib/v2/aliresearch/router.js
Labels: Auto: Route Test Complete, Route: v2

#12509 feat(route): dxy
  docs/bbs.md
  lib/v2/dxy/maintainer.js
  lib/v2/dxy/profile/thread.js
  lib/v2/dxy/radar.js
  lib/v2/dxy/router.js
  lib/v2/dxy/special.js
  lib/v2/dxy/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12330 feat(route): 小红书 用户笔记 全文
  docs/social-media.md
  lib/v2/xiaohongshu/maintainer.js
  lib/v2/xiaohongshu/notes.js
  lib/v2/xiaohongshu/router.js
  lib/v2/xiaohongshu/util.js
Labels: Auto: Route Test Complete, Route: v2

#12514 fix(route): 微博自定义分组(使用Cookie)
  .gitignore
  docs/install/README.md
  docs/social-media.md
  lib/config.js
  lib/v2/weibo/group.js
  lib/v2/weibo/maintainer.js
  lib/v2/weibo/router.js
  lib/v2/weibo/user.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#12515 fix(route): 日本经济新闻中文版新闻全文
  lib/v2/nikkei/cn/index.js
Labels: Auto: Route Test Complete, Route: v2

#12516 feat(route): tingtingfm
  docs/multimedia.md
  lib/v2/tingtingfm/maintainer.js
  lib/v2/tingtingfm/program.js
  lib/v2/tingtingfm/radar.js
  lib/v2/tingtingfm/router.js
  lib/v2/tingtingfm/templates/audio.art
  lib/v2/tingtingfm/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12513 fix(route): Anti-Anti-Spider 哔哩哔哩，更新 cookie 处理机制
  lib/v2/bilibili/cache.js
  lib/v2/bilibili/video-all.js
Labels: Auto: Route Test Complete, Route: v2

#12518 fix(route): Set image width, image url is same with the original web page.
  lib/v2/instructables/projects.js
Labels: Auto: Route Test Complete, Route: v2

#12521 fix(route): firecore
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/firecore/index.js
Labels: Auto: Route Test Complete, Route: v2

#12524 feat: deadline
  docs/en/new-media.md
  lib/v2/deadline/maintainer.js
  lib/v2/deadline/posts.js
  lib/v2/deadline/radar.js
  lib/v2/deadline/router.js
  lib/v2/deadline/templates/desc.art
Labels: Auto: Route Test Complete, Route: v2

#12479 feat(route): add 5EPLAY News
  docs/game.md
  lib/v2/5eplay/index.js
  lib/v2/5eplay/maintainer.js
  lib/v2/5eplay/radar.js
  lib/v2/5eplay/router.js
  lib/v2/5eplay/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12533 feat(route): add Guangzhou Metro
  docs/en/travel.md
  docs/travel.md
  lib/v2/guangzhoumetro/maintainer.js
  lib/v2/guangzhoumetro/news.js
  lib/v2/guangzhoumetro/radar.js
  lib/v2/guangzhoumetro/router.js
Labels: Auto: Route Test Complete, Route: v2

#12537 fix(route): embassy sg
  lib/v2/embassy/supportedList.js
Labels: Auto: Route Test Complete, Route: v2

#12539 fix: A bug fix
  lib/v2/nju/zcc.js
Labels: Auto: Route Test Complete, Route: v2

#12540 feat(route): add Fuzhou Metro
  docs/en/travel.md
  docs/travel.md
  lib/v2/fzmtr/announcements.js
  lib/v2/fzmtr/maintainer.js
  lib/v2/fzmtr/radar.js
  lib/v2/fzmtr/router.js
Labels: Auto: Route Test Complete, Route: v2

#12527 feat(route): add zyw今日热榜
  docs/new-media.md
  lib/v2/zyw/hot.js
  lib/v2/zyw/maintainer.js
  lib/v2/zyw/radar.js
  lib/v2/zyw/router.js
Labels: Auto: Route Test Complete, Route: v2

#12541 fix(route): 爱思想栏目 & 排行 & 思想库
  docs/reading.md
  lib/router.js
  lib/routes/aisixiang/column.js
  lib/routes/aisixiang/ranking.js
  lib/routes/aisixiang/thinktank.js
  lib/routes/aisixiang/utils.js
  lib/v2/aisixiang/column.js
  lib/v2/aisixiang/maintainer.js
  lib/v2/aisixiang/radar.js
  lib/v2/aisixiang/router.js
  lib/v2/aisixiang/thinktank.js
  lib/v2/aisixiang/toplist.js
  lib/v2/aisixiang/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12545 feat(route): add comicat 漫喵动漫BT下载
  docs/anime.md
  lib/v2/comicat/maintainer.js
  lib/v2/comicat/radar.js
  lib/v2/comicat/router.js
  lib/v2/comicat/search.js
Labels: Auto: Route Test Complete, Route: v2

#12546 feat(notion): support notion database
  docs/en/install/README.md
  docs/en/other.md
  docs/install/README.md
  docs/other.md
  lib/config.js
  lib/v2/notion/database.js
  lib/v2/notion/maintainer.js
  lib/v2/notion/radar.js
  lib/v2/notion/router.js
  package.json
  pnpm-lock.yaml
Labels: Auto: Route Test Complete, Route: v2

#12543 feat(route): add 深圳停水通知 Shenzhen
  docs/forecast.md
  lib/v2/tingshuitz/maintainer.js
  lib/v2/tingshuitz/radar.js
  lib/v2/tingshuitz/router.js
  lib/v2/tingshuitz/shenzhen.js
  lib/v2/tingshuitz/templates/shenzhen.art
Labels: Auto: Route Test Complete, Route: v2

#12551 feat(route): techpowerup
  docs/en/new-media.md
  lib/v2/techpowerup/index.js
  lib/v2/techpowerup/maintainer.js
  lib/v2/techpowerup/radar.js
  lib/v2/techpowerup/review.js
  lib/v2/techpowerup/router.js
  lib/v2/techpowerup/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12547 feat(route): add Bad.news
  docs/new-media.md
  lib/v2/bad/index.js
  lib/v2/bad/maintainer.js
  lib/v2/bad/radar.js
  lib/v2/bad/router.js
Labels: Auto: Route Test Complete, Route: v2

#12415 fix(route): 修正知网作者最新发布的期刊文献
  docs/journal.md
  lib/v2/cnki/author.js
  lib/v2/cnki/maintainer.js
Labels: Auto: Route Test Complete, Route: v2

#12558 feat(route): add BMKG 印尼气象气候和地球物理局
  docs/en/forecast.md
  docs/forecast.md
  lib/v2/bmkg/earthquake.js
  lib/v2/bmkg/maintainer.js
  lib/v2/bmkg/news.js
  lib/v2/bmkg/radar.js
  lib/v2/bmkg/router.js
Labels: Auto: Route Test Complete, Route: v2

#12562 fix(route): Futubull Headlines
  docs/en/finance.md
  docs/finance.md
  lib/router.js
  lib/routes/futunn/highlights.js
  lib/v2/futunn/main.js
  lib/v2/futunn/maintainer.js
  lib/v2/futunn/radar.js
  lib/v2/futunn/router.js
  lib/v2/futunn/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12560 feat(route): DevolverDigital Blog: Parse per page instead of full page, and add cache support.
  lib/v2/devolverdigital/blog.js
Labels: Auto: Route Test Complete, Route: v2

#12566 fix(route): nhentai
  lib/v2/nhentai/util.js
Labels: Auto: Route Test Complete, Route: v2

#12567 fix(route): wnacg
  lib/v2/wnacg/index.js
  lib/v2/wnacg/templates/manga.art
Labels: Auto: Route Test Complete, Route: v2

#12568 chore: bump twitter-api-v2 from 1.14.2 to 1.14.3
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: No Route Needed

#12569 chore: bump eslint from 8.39.0 to 8.41.0
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: No Route Needed

#12572 fix(route): 修正tiktok部分字段名称变动
  lib/v2/tiktok/user.js
Labels: Auto: Route Test Complete, Route: v2

#12574 feat(route): followin
  docs/en/finance.md
  docs/finance.md
  lib/v2/followin/index.js
  lib/v2/followin/kol.js
  lib/v2/followin/maintainer.js
  lib/v2/followin/news.js
  lib/v2/followin/radar.js
  lib/v2/followin/router.js
  lib/v2/followin/tag.js
  lib/v2/followin/templates/thread.art
  lib/v2/followin/topic.js
  lib/v2/followin/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12575 fix(route): 同步包子漫画页面字段变动
  lib/v2/baozimh/index.js
Labels: Auto: Route Test Complete, Route: v2

#12564 feat(route): add notefolio 旧版已失效
  docs/design.md
  docs/en/design.md
  lib/router.js
  lib/routes/notefolio/index.js
  lib/v2/notefolio/maintainer.js
  lib/v2/notefolio/radar.js
  lib/v2/notefolio/router.js
  lib/v2/notefolio/search.js
  lib/v2/notefolio/templates/search.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12577 chore: update deps
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: No Route Needed

#12579 fix(route): youtube get channel id from user handle
  lib/v2/youtube/user.js
Labels: Auto: Route Test Complete, Route: v2
