Repository DIYgod/RSSHub, pull requests merged in 2023-12, with the labels that each got.

#13935 fix(route): gogoanimehd
  lib/v2/gogoanimehd/radar.js
  lib/v2/gogoanimehd/recent-releases.js
  website/docs/routes/anime.mdx
Labels: Auto: Route Test Complete, Route: v2

#13937 fix(route): 中华人民共和国交通运输部统计数据文件
  lib/v2/gov/mot/index.js
Labels: Auto: Route Test Complete, Route: v2

#13531 feat(route/cna): Preserve web crawling method.
  lib/v2/cna/maintainer.js
  lib/v2/cna/radar.js
  lib/v2/cna/router.js
  lib/v2/cna/web/index.js
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13942 fix(route): did no match the version and date
  lib/v2/brave/latest.js
Labels: Auto: Route Test Complete, Route: v2

#13944 feat(route/instagram): authless tags
  lib/v2/instagram/common-utils.js
  lib/v2/instagram/templates/images.art
  lib/v2/instagram/web-api/index.js
  lib/v2/instagram/web-api/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13949 feat(route): cfachina
  lib/v2/cfachina/analygarden.js
  lib/v2/cfachina/maintainer.js
  lib/v2/cfachina/radar.js
  lib/v2/cfachina/router.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#13950 fix: Fix X-IG-WWW-Claim header in getUserInfo function
  lib/v2/instagram/web-api/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13987 feat(route): yahoo news by category and provider
  lib/v2/yahoo/maintainer.js
  lib/v2/yahoo/news/tw/index.js
  lib/v2/yahoo/news/tw/provider-helper.js
  lib/v2/yahoo/news/tw/provider.js
  lib/v2/yahoo/news/tw/utils.js
  lib/v2/yahoo/news/us/index.js
  lib/v2/yahoo/radar.js
  lib/v2/yahoo/router.js
  lib/v2/yahoo/templates/youtube.art
  website/docs/routes/new-media.mdx
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#13992 fix(router): 南昌大学
  lib/v2/ncu/radar.js
Labels: Route: v2

#13993 feat(route): routledge
  lib/v2/routledge/book-series.js
  lib/v2/routledge/maintainer.js
  lib/v2/routledge/radar.js
  lib/v2/routledge/router.js
  lib/v2/routledge/templates/description.art
  website/docs/routes/journal.mdx
Labels: Auto: Route Test Complete, Route: v2

#13994 docs: update github id
  lib/v2/1point3acres/maintainer.js
  lib/v2/amazon/maintainer.js
  lib/v2/arcteryx/maintainer.js
  lib/v2/bellroy/maintainer.js
  lib/v2/ifi-audio/maintainer.js
  lib/v2/inoreader/maintainer.js
  lib/v2/leetcode/maintainer.js
  lib/v2/magazinelib/maintainer.js
  lib/v2/patagonia/maintainer.js
  lib/v2/snowpeak/maintainer.js
  lib/v2/sony/maintainer.js
  lib/v2/techcrunch/maintainer.js
  lib/v2/theatlantic/maintainer.js
  lib/v2/wechat/maintainer.js
  lib/v2/zagg/maintainer.js
  website/docs/routes/bbs.mdx
  website/docs/routes/new-media.mdx
  website/docs/routes/program-update.mdx
  website/docs/routes/programming.mdx
  website/docs/routes/reading.mdx
  website/docs/routes/shopping.mdx
  website/docs/routes/traditional-media.mdx
Labels: Route: v2

#13995 feat(route): add 国家外汇管理局业务咨询 & 投诉建议
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/safe/business.js
  lib/v2/gov/safe/complaint.js
  lib/v2/gov/safe/templates/message.art
  lib/v2/gov/safe/util.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14006 feat(route): Support xsijishe rank
  lib/v2/xsijishe/maintainer.js
  lib/v2/xsijishe/radar.js
  lib/v2/xsijishe/rank.js
  lib/v2/xsijishe/router.js
  website/docs/routes/bbs.mdx
Labels: Auto: Route Test Complete, Route: v2

#14001 fix: fix sse disclosure
  lib/v2/sse/disclosure.js
Labels: Auto: Route Test Complete, Route: v2

#13938 feat(route): 轻之国度 文章更新阅读 #11848
  lib/config.js
  lib/v2/lightnovel/lightNovel.js
  lib/v2/lightnovel/maintainer.js
  lib/v2/lightnovel/radar.js
  lib/v2/lightnovel/router.js
  website/docs/install/config.md
  website/docs/routes/anime.mdx
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/config.md
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#14010 feat(route): add 米课圈精华
  lib/v2/imiker/jinghua.js
  lib/v2/imiker/maintainer.js
  lib/v2/imiker/radar.js
  lib/v2/imiker/router.js
  lib/v2/imiker/templates/description.art
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14013 fix(route): Readhub
  lib/v2/readhub/daily.js
  lib/v2/readhub/index.js
  lib/v2/readhub/maintainer.js
  lib/v2/readhub/radar.js
  lib/v2/readhub/router.js
  lib/v2/readhub/util.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14020 fix(route): QuestMobile行业研究报告
  lib/router.js
  lib/routes/questmobile/report.js
  lib/v2/questmobile/maintainer.js
  lib/v2/questmobile/radar.js
  lib/v2/questmobile/report.js
  lib/v2/questmobile/router.js
  lib/v2/questmobile/templates/description.art
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14022 fix(route): fix Yuque book route
  lib/v2/yuque/book.js
  lib/v2/yuque/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13986 fix(route): picnob
  lib/v2/picnob/maintainer.js
  lib/v2/picnob/templates/desc.art
  lib/v2/picnob/user.js
  lib/v2/picnob/utils.js
Labels: Auto: Route Test Complete, Route: v2

#14025 fix(route/apnews): remove description.
  lib/v2/apnews/topics.js
Labels: Auto: Route Test Complete, Route: v2

#14040 docs: bring back remark formatter
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  website/docs/.format/chineseFormat.mjs
  website/docs/.format/format.mjs
  website/docs/.format/handle/heading.mjs
  website/docs/.format/routeFormat.mjs
  website/docs/.format/rsshub-heading-id.mjs
  website/docs/.format/rsshub-no-dupe-attrs.mjs
  website/docs/.format/rsshub-route-level.mjs
  website/docs/routes/anime.mdx
  website/docs/routes/bbs.mdx
  website/docs/routes/blog.mdx
  website/docs/routes/design.mdx
  website/docs/routes/finance.mdx
  website/docs/routes/forecast.mdx
  website/docs/routes/game.mdx
  website/docs/routes/government.mdx
  website/docs/routes/journal.mdx
  website/docs/routes/live.mdx
  website/docs/routes/multimedia.mdx
  website/docs/routes/new-media.mdx
  website/docs/routes/other.mdx
  website/docs/routes/picture.mdx
  website/docs/routes/program-update.mdx
  website/docs/routes/programming.mdx
  website/docs/routes/reading.mdx
  website/docs/routes/shopping.mdx
  website/docs/routes/social-media.mdx
  website/docs/routes/study.mdx
  website/docs/routes/traditional-media.mdx
  website/docs/routes/travel.mdx
  website/docs/routes/university.mdx
Labels: dependencies, Auto: Route Test Skipped

#14039 feat(route): add 国家能源局发展规划司
  lib/v2/gov/maintainer.js
  lib/v2/gov/nea/ghs.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14007 feat(route): add 大连理工大学公共基础学院 RSS (#13982)
  lib/v2/dut/defaults.js
  lib/v2/dut/index.js
  lib/v2/dut/maintainer.js
  lib/v2/dut/radar.js
  lib/v2/dut/shortcuts.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#14048 feat: title case following The Chicago Manual of Style
  lib/utils/common-utils.js
  package.json
  pnpm-lock.yaml
  test/utils/common-utils.js
Labels: dependencies, core enhancement, Auto: Route Test Skipped

#14050 feat(route): sspu
  lib/v2/sspu/jwc.js
  lib/v2/sspu/maintainer.js
  lib/v2/sspu/radar.js
  lib/v2/sspu/router.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#14061 fix(route): threads profile pic
  lib/v2/threads/index.js
Labels: Auto: Route Test Complete, Route: v2

#14063 feat(route): add xhu people activities and answers
  lib/v2/zhihu/maintainer.js
  lib/v2/zhihu/radar.js
  lib/v2/zhihu/router.js
  lib/v2/zhihu/xhu/activities.js
  lib/v2/zhihu/xhu/answers.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14060 feat(route): add 国家矿山安全监察局
  lib/v2/gov/chinamine-safety/util.js
  lib/v2/gov/chinamine-safety/xw.js
  lib/v2/gov/chinamine-safety/zfxxgk.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14055 fix(router): append images in `.pattl`
  lib/v2/sehuatang/index.js
  lib/v2/sehuatang/user.js
Labels: Auto: Route Test Complete, Route: v2

#14035 fix(route/reuters): Suppress full text fetch
  lib/v2/reuters/common.js
Labels: Auto: Route Test Complete, Route: v2

#14066 fix(the-batch): The batch from deeplearning.ai
  lib/router.js
  lib/routes/deeplearningai/thebatch.js
  lib/v2/deeplearning/maintainer.js
  lib/v2/deeplearning/radar.js
  lib/v2/deeplearning/router.js
  lib/v2/deeplearning/thebatch.js
  website/docs/routes/programming.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14070 fix(radar): 修复 xhu 用户动态匹配到自己的问题
  lib/v2/zhihu/radar.js
  website/docs/routes/social-media.mdx
Labels: Route: v2

#14073 fix: incorrect field name in UMS
  lib/views/rss3-ums.js
Labels: core enhancement, Auto: Route Test Skipped

#14056 feat(route): add tophub list 将榜单条目集合到一个列表中，可避免推送大量条目，更符合阅读习惯且有热度排序
  lib/v2/tophub/list.js
  lib/v2/tophub/maintainer.js
  lib/v2/tophub/radar.js
  lib/v2/tophub/router.js
  lib/v2/tophub/templates/rank.art
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14075 feat(route): add artstation
  lib/v2/artstation/maintainer.js
  lib/v2/artstation/radar.js
  lib/v2/artstation/router.js
  lib/v2/artstation/templates/description.art
  lib/v2/artstation/user.js
  website/docs/routes/picture.mdx
Labels: Auto: Route Test Complete, Route: v2

#14082 feat(route): show weather info in qweather feed title
  lib/v2/qweather/3days.js
Labels: Auto: Route Test Complete, Route: v2

#14081 feat(route): migrate jianshu to v2
  lib/router.js
  lib/v2/jianshu/collection.js
  lib/v2/jianshu/home.js
  lib/v2/jianshu/maintainer.js
  lib/v2/jianshu/radar.js
  lib/v2/jianshu/router.js
  lib/v2/jianshu/user.js
  lib/v2/jianshu/utils.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14074 feat(route): add 中国炼焦行业协会
  lib/v2/cnljxh/index.js
  lib/v2/cnljxh/maintainer.js
  lib/v2/cnljxh/radar.js
  lib/v2/cnljxh/router.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#14088 feat(route): add 中华人民共和国国家发展和改革委员会发展改革工作
  lib/router.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/ndrc/fggz.js
  lib/v2/gov/ndrc/xwdt.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14094 feat(route): add mof (bond management) 中华人民共和国财政部-专题-政府债券管理
  lib/v2/gov/maintainer.js
  lib/v2/gov/mof/bond.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14101 feat(route): add 中华人民共和国国家发展和改革委员会价格监测中心
  lib/v2/gov/jgjcndrc/index.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14105 feat(route): add consumer shopping-guide
  lib/v2/consumer/maintainer.js
  lib/v2/consumer/radar.js
  lib/v2/consumer/router.js
  lib/v2/consumer/shopping-guide.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14106 fix(route): dcfever
  lib/v2/dcfever/utils.js
Labels: Auto: Route Test Complete, Route: v2

#14103 feat(route): add PKMer
  lib/v2/pkmer/maintainer.js
  lib/v2/pkmer/radar.js
  lib/v2/pkmer/recent.js
  lib/v2/pkmer/router.js
  website/docs/routes/bbs.mdx
Labels: Auto: Route Test Complete, Route: v2

#14108 fix(route): gamme
  lib/v2/gamme/category.js
  lib/v2/gamme/tag.js
Labels: Auto: Route Test Complete, Route: v2

#14109 feat(route): add 中国民用航空局公众留言
  lib/v2/gov/caac/cjwt.js
  lib/v2/gov/caac/templates/description.art
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#13936 feat(route): 新增 bing 搜索; 迁移 bing 每日图片到 v2; 新增 百度搜索; 迁移 搜狗特色LOGO 到 v2 规范；添加 搜狗搜索；添加 Google Search
  lib/router.js
  lib/v2/baidu/maintainer.js
  lib/v2/baidu/radar.js
  lib/v2/baidu/router.js
  lib/v2/baidu/search.js
  lib/v2/baidu/templates/description.art
  lib/v2/bing/daily-wallpaper.js
  lib/v2/bing/maintainer.js
  lib/v2/bing/radar.js
  lib/v2/bing/router.js
  lib/v2/bing/search.js
  lib/v2/google/maintainer.js
  lib/v2/google/radar.js
  lib/v2/google/router.js
  lib/v2/google/search.js
  lib/v2/google/templates/description.art
  lib/v2/sogou/doodles.js
  lib/v2/sogou/maintainer.js
  lib/v2/sogou/radar.js
  lib/v2/sogou/router.js
  lib/v2/sogou/search.js
  lib/v2/sogou/templates/description.art
  website/docs/routes/other.mdx
  website/docs/routes/picture.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14113 feat: add back blockbeats
  lib/v2/theblockbeats/index.js
  lib/v2/theblockbeats/maintainer.js
  lib/v2/theblockbeats/radar.js
  lib/v2/theblockbeats/router.js
  website/docs/routes/finance.mdx
Labels: Auto: Route Test Complete, Route: v2

#14114 fix: adjust http log level
  lib/utils/got.js
  lib/utils/request-wrapper.js
  lib/v2/apkpure/versions.js
  lib/v2/cw/utils.js
  lib/v2/douyin/live.js
  lib/v2/fortnite/news.js
  lib/v2/iqiyi/video.js
  lib/v2/pnas/index.js
  lib/v2/sysu/ygafz.js
  lib/v2/uchicago/current.js
  lib/v2/xiaohongshu/util.js
  website/docs/joinus/new-rss/start-code.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/joinus/new-rss/start-code.md
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#14121 feat(route): add 界面新闻栏目
  lib/v2/jiemian/list.js
  lib/v2/jiemian/lists.js
  lib/v2/jiemian/maintainer.js
  lib/v2/jiemian/radar.js
  lib/v2/jiemian/router.js
  lib/v2/jiemian/templates/description.art
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14122 feat(route): add new route for moj of gov.cn
  lib/v2/gov/maintainer.js
  lib/v2/gov/moj/lfyjzj.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14130 feat: bluesky user posts
  lib/v2/bsky/maintainer.js
  lib/v2/bsky/posts.js
  lib/v2/bsky/radar.js
  lib/v2/bsky/router.js
  lib/v2/bsky/templates/post.art
  lib/v2/bsky/utils.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14129 feat(route): add Cool Papers
  lib/v2/papers/index.js
  lib/v2/papers/maintainer.js
  lib/v2/papers/radar.js
  lib/v2/papers/router.js
  lib/v2/papers/templates/description.art
  website/docs/routes/journal.mdx
Labels: Auto: Route Test Complete, Route: v2

#14136 feat: add air quality content in qweather 3days forecast feed
  lib/v2/qweather/3days.js
  lib/v2/qweather/maintainer.js
  lib/v2/qweather/templates/3days.art
Labels: Auto: Route Test Complete, Route: v2

#14127 feat(route): 三联生活周刊
  lib/v2/lifeweek/channel.js
  lib/v2/lifeweek/maintainer.js
  lib/v2/lifeweek/radar.js
  lib/v2/lifeweek/router.js
  lib/v2/lifeweek/tag.js
  lib/v2/lifeweek/utils.js
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14139 feat(route): add 中国的中古
  lib/v2/medieval-china/maintainer.js
  lib/v2/medieval-china/post.js
  lib/v2/medieval-china/radar.js
  lib/v2/medieval-china/router.js
  website/docs/routes/reading.mdx
Labels: Auto: Route Test Complete, Route: v2

#14145 feat(route): id param for shmeea
  lib/v2/shmeea/index.js
  lib/v2/shmeea/maintainer.js
  lib/v2/shmeea/radar.js
  lib/v2/shmeea/router.js
  website/docs/routes/study.mdx
Labels: Auto: Route Test Complete, Route: v2

#14128 feat(route): 添加 dm_img_list 字段防止被 Bilibili 识别
  lib/v2/bilibili/cache.js
  lib/v2/bilibili/hotSearch.js
  lib/v2/bilibili/liveSearch.js
  lib/v2/bilibili/router.js
  lib/v2/bilibili/utils.js
  lib/v2/bilibili/video-all.js
  lib/v2/bilibili/video.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#14151 feat(route): add 国家气候中心最新监测
  lib/v2/ncc-cma/cmdp.js
  lib/v2/ncc-cma/maintainer.js
  lib/v2/ncc-cma/radar.js
  lib/v2/ncc-cma/router.js
  lib/v2/ncc-cma/templates/description.art
  website/docs/routes/forecast.mdx
Labels: Auto: Route Test Complete, Route: v2
