Repository DIYgod/RSSHub, pull requests merged in 2023-01, with the labels that each got.

#11533 fix(route/weibo/utils): enforce `tvax` sinaimg CDN
  lib/v2/weibo/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11534 fix(route): ScienceDirect journal with issn
  lib/v2/sciencedirect/journal.js
Labels: Auto: Route Test Complete, Route: v2

#11527 feat(route): add Luogu user blog
  docs/programming.md
  lib/v2/luogu/maintainer.js
  lib/v2/luogu/radar.js
  lib/v2/luogu/router.js
  lib/v2/luogu/userBlog.js
Labels: Auto: Route Test Complete, Route: v2

#11526 feat(route): 新语丝新到资料
  docs/blog.md
  lib/v2/xys/maintainer.js
  lib/v2/xys/new.js
  lib/v2/xys/radar.js
  lib/v2/xys/router.js
  lib/v2/xys/templates/desc.art
Labels: Auto: Route Test Complete, Route: v2

#11532 feat(route): add csdnblogs route
  docs/blog.md
  lib/v2/cnblogs/common.js
  lib/v2/cnblogs/maintainer.js
  lib/v2/cnblogs/radar.js
  lib/v2/cnblogs/router.js
Labels: Auto: Route Test Complete, Route: v2

#11537 fix: Luogu blog uid
  docs/programming.md
  lib/v2/luogu/radar.js
  lib/v2/luogu/router.js
  lib/v2/luogu/userBlog.js
Labels: Auto: Route Test Complete, Route: v2

#11538 feat(route): add dmzj news
  docs/anime.md
  lib/v2/dmzj/maintainer.js
  lib/v2/dmzj/news.js
  lib/v2/dmzj/radar.js
  lib/v2/dmzj/router.js
Labels: Auto: Route Test Complete, Route: v2

#11494 feat(core): json feed
  docs/en/parameter.md
  docs/parameter.md
  lib/middleware/template.js
  lib/utils/render.js
  lib/v2/test/index.js
  test/middleware/template.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#11539 fix(route): mingpao video
  lib/v2/mingpao/index.js
  lib/v2/mingpao/templates/description.art
  lib/v2/mingpao/templates/fancybox.art
Labels: Auto: Route Test Complete, Route: v2

#11542 feat(route): yxrb
  docs/game.md
  lib/v2/yxrb/home.js
  lib/v2/yxrb/maintainer.js
  lib/v2/yxrb/radar.js
  lib/v2/yxrb/router.js
Labels: Auto: Route Test Complete, Route: v2

#11549 fix(route): gq taiwan
  docs/new-media.md
  lib/router.js
  lib/routes/gq/tw/index.js
  lib/v2/gq/maintainer.js
  lib/v2/gq/radar.js
  lib/v2/gq/router.js
  lib/v2/gq/templates/embed-article.art
  lib/v2/gq/templates/embed-product.art
  lib/v2/gq/templates/img.art
  lib/v2/gq/templates/tw.art
  lib/v2/gq/templates/videoObject.art
  lib/v2/gq/templates/youtube.art
  lib/v2/gq/tw/index.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11550 fix(route): eprice hk
  lib/v2/eprice/rss.js
  lib/v2/eprice/templates/description.art
  lib/v2/eprice/templates/image.art
Labels: Auto: Route Test Complete, Route: v2

#11556 fix(route): gq tw no header img
  lib/v2/gq/templates/img.art
  lib/v2/gq/tw/index.js
Labels: Route: v2

#11548 fix(route): update douban movie weekly best
  lib/v2/douban/other/weekly_best.js
  lib/v2/douban/templates/weekly_best.art
Labels: Auto: Route Test Complete, Route: v2

#11560 feat(route): hackmd
  docs/en/programming.md
  docs/programming.md
  lib/v2/hackmd/maintainer.js
  lib/v2/hackmd/profile.js
  lib/v2/hackmd/radar.js
  lib/v2/hackmd/router.js
Labels: Auto: Route Test Complete, Route: v2

#11578 fix(route): typora
  docs/en/program-update.md
  docs/program-update.md
  lib/router.js
  lib/routes/typora/changelog-dev.js
  lib/routes/typora/changelog.js
  lib/v2/typora/changelog-dev.js
  lib/v2/typora/changelog.js
  lib/v2/typora/maintainer.js
  lib/v2/typora/radar.js
  lib/v2/typora/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11580 feat(route): hub.baai
  docs/programming.md
  lib/v2/baai/comments.js
  lib/v2/baai/events.js
  lib/v2/baai/hub.js
  lib/v2/baai/maintainer.js
  lib/v2/baai/radar.js
  lib/v2/baai/router.js
  lib/v2/baai/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11597 fix(route): invalid url
  lib/routes/gitlab/explore.js
  lib/v2/btzj/index.js
  lib/v2/javbus/index.js
  lib/v2/javdb/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11599 fix(route): improve economist espresso parser
  lib/v2/economist/espresso.js
Labels: Auto: Route Test Complete, Route: v2

#11596 feat(route): add iiilab support
  docs/new-media.md
  lib/v2/iiilab/index.js
  lib/v2/iiilab/maintainer.js
  lib/v2/iiilab/radar.js
  lib/v2/iiilab/router.js
Labels: Auto: Route Test Complete, Route: v2

#11598 feat(route):add College of Pharmacy to zcmu
  docs/university.md
  lib/v2/zcmu/jwc/index.js
  lib/v2/zcmu/maintainer.js
  lib/v2/zcmu/radar.js
  lib/v2/zcmu/router.js
  lib/v2/zcmu/yxy/index.js
Labels: Auto: Route Test Complete, Route: v2

#11608 fix(route): filter out URL parameters
  lib/v2/iwara/index.js
Labels: Auto: Route Test Complete, Route: v2

#11610 fix(route): twitter quotes
  lib/v2/twitter/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11613 fix(route): cw
  docs/traditional-media.md
  lib/v2/cw/master.js
  lib/v2/cw/sub.js
  lib/v2/cw/today.js
  lib/v2/cw/utils.js
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#11616 feat(route): add xunhupay
  docs/blog.md
  lib/v2/xunhupay/index.js
  lib/v2/xunhupay/maintainer.js
  lib/v2/xunhupay/radar.js
  lib/v2/xunhupay/router.js
Labels: Auto: Route Test Complete, Route: v2

#11615 feat(route): bloomberg by author
  docs/en/finance.md
  lib/v2/bloomberg/authors.js
  lib/v2/bloomberg/index.js
  lib/v2/bloomberg/maintainer.js
  lib/v2/bloomberg/radar.js
  lib/v2/bloomberg/router.js
  lib/v2/bloomberg/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11605 fix: remove dupicated username in description
  docs/social-media.md
  lib/v2/jike/maintainer.js
  lib/v2/jike/router.js
  lib/v2/jike/topic.js
  lib/v2/jike/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11604 feat(route): 支持前端早早聊文章
  docs/programming.md
  lib/v2/zaozao/article.js
  lib/v2/zaozao/maintainer.js
  lib/v2/zaozao/radar.js
  lib/v2/zaozao/router.js
Labels: Auto: Route Test Complete, Route: v2

#11623 fix(route): thepaper list error and change to api.thepaper.cn
  docs/traditional-media.md
  lib/v2/thepaper/channel.js
  lib/v2/thepaper/list.js
Labels: Auto: Route Test Complete, Route: v2

#11624 feat(route): add qoo-app
  docs/anime.md
  docs/en/anime.md
  lib/v2/qoo-app/apps/card.js
  lib/v2/qoo-app/apps/comment.js
  lib/v2/qoo-app/apps/note.js
  lib/v2/qoo-app/apps/post.js
  lib/v2/qoo-app/maintainer.js
  lib/v2/qoo-app/news.js
  lib/v2/qoo-app/notes/note.js
  lib/v2/qoo-app/notes/topic.js
  lib/v2/qoo-app/notes/user.js
  lib/v2/qoo-app/radar.js
  lib/v2/qoo-app/router.js
  lib/v2/qoo-app/templates/comment.art
  lib/v2/qoo-app/templates/note.art
  lib/v2/qoo-app/user/appComment.js
  lib/v2/qoo-app/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11621 feat(route): add layoffs.fyi
  docs/en/other.md
  docs/other.md
  lib/v2/layoffs/index.js
  lib/v2/layoffs/maintainer.js
  lib/v2/layoffs/radar.js
  lib/v2/layoffs/router.js
Labels: Auto: Route Test Complete, Route: v2

#11625 feat(route): wnacg full comic
  docs/anime.md
  lib/router.js
  lib/routes/ssmh/category.js
  lib/routes/ssmh/index.js
  lib/v2/wnacg/index.js
  lib/v2/wnacg/maintainer.js
  lib/v2/wnacg/radar.js
  lib/v2/wnacg/router.js
  lib/v2/wnacg/templates/manga.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11628 fix(route): add rss item link checking when cnbc rss is generating...
  lib/v2/cnbc/rss.js
Labels: Auto: Route Test Complete, Route: v2

#11629 fix(route): pixiv novels
  lib/v2/pixiv/novels.js
Labels: Auto: Route Test Complete, Route: v2

#11630 fix(route): smzdm fenlei
  lib/v2/smzdm/haowen_fenlei.js
Labels: Auto: Route Test Complete, Route: v2

#11631 fix(route): huxiu article
  lib/v2/huxiu/article.js
  lib/v2/huxiu/author.js
  lib/v2/huxiu/briefColumn.js
  lib/v2/huxiu/collection.js
  lib/v2/huxiu/moment.js
  lib/v2/huxiu/search.js
  lib/v2/huxiu/tag.js
  lib/v2/huxiu/templates/brief.art
  lib/v2/huxiu/templates/img.art
  lib/v2/huxiu/templates/video.art
  lib/v2/huxiu/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11619 fix(route): bloomberg author
  docs/en/finance.md
  lib/v2/bloomberg/authors.js
  lib/v2/bloomberg/maintainer.js
  lib/v2/bloomberg/router.js
Labels: Auto: Route Test Complete, Route: v2

#11651 fix(route): coolapk external share
  lib/v2/coolapk/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11654 feat(route): zhiy
  docs/new-media.md
  lib/v2/zhiy/letter.js
  lib/v2/zhiy/maintainer.js
  lib/v2/zhiy/post.js
  lib/v2/zhiy/radar.js
  lib/v2/zhiy/router.js
  lib/v2/zhiy/templates/post.art
  lib/v2/zhiy/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11659 feat(route): 商论
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/economist/global-business-review.js
  lib/v2/economist/maintainer.js
  lib/v2/economist/radar.js
  lib/v2/economist/router.js
Labels: Auto: Route Test Complete, Route: v2

#11658 feat: 新增'观点网'
  docs/new-media.md
  lib/v2/guandian/index.js
  lib/v2/guandian/maintainer.js
  lib/v2/guandian/radar.js
  lib/v2/guandian/router.js
Labels: Auto: Route Test Complete, Route: v2

#11656 feat(route): LinkedIn Job Listing
  docs/en/other.md
  lib/v2/layoffs/index.js
  lib/v2/layoffs/radar.js
  lib/v2/linkedin/jobs.js
  lib/v2/linkedin/maintainer.js
  lib/v2/linkedin/models.js
  lib/v2/linkedin/radar.js
  lib/v2/linkedin/router.js
  lib/v2/linkedin/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11663 feat(route): add Uptime Robot RSS
  docs/en/forecast.md
  docs/forecast.md
  lib/v2/uptimerobot/maintainer.js
  lib/v2/uptimerobot/radar.js
  lib/v2/uptimerobot/router.js
  lib/v2/uptimerobot/rss.js
  lib/v2/uptimerobot/templates/rss.art
Labels: Auto: Route Test Complete, Route: v2

#11667 fix(route): bjp
  docs/picture.md
  lib/router.js
  lib/routes/bjp/apod.js
  lib/v2/bjp/apod.js
  lib/v2/bjp/maintainer.js
  lib/v2/bjp/radar.js
  lib/v2/bjp/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11668 fix(route): Sky Sports pubDate
  docs/en/new-media.md
  lib/router.js
  lib/v2/skysports/maintainer.js
  lib/v2/skysports/news.js
  lib/v2/skysports/radar.js
  lib/v2/skysports/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11669 fix(route): woshipm
  docs/new-media.md
  lib/router.js
  lib/routes/woshipm/bookmarks.js
  lib/routes/woshipm/latest.js
  lib/routes/woshipm/popular.js
  lib/routes/woshipm/wen.js
  lib/v2/woshipm/bookmarks.js
  lib/v2/woshipm/latest.js
  lib/v2/woshipm/maintainer.js
  lib/v2/woshipm/popular.js
  lib/v2/woshipm/radar.js
  lib/v2/woshipm/router.js
  lib/v2/woshipm/user_article.js
  lib/v2/woshipm/utils.js
  lib/v2/woshipm/wen.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11670 fix(route): copymanga
  assets/radar-rules.js
  docs/anime.md
  lib/router.js
  lib/routes/copymanga/comic.js
  lib/v2/copymanga/comic.js
  lib/v2/copymanga/maintainer.js
  lib/v2/copymanga/radar.js
  lib/v2/copymanga/router.js
  lib/v2/copymanga/templates/comic.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11665 feat(route): 中国新闻周刊
  docs/traditional-media.md
  lib/v2/inewsweek/index.js
  lib/v2/inewsweek/maintainer.js
  lib/v2/inewsweek/radar.js
  lib/v2/inewsweek/router.js
Labels: Auto: Route Test Complete, Route: v2

#11675 feat(route): 修复 HelloGitHub 的 月刊 路由
  docs/programming.md
  lib/v2/hellogithub/maintainer.js
  lib/v2/hellogithub/volume.js
Labels: Auto: Route Test Complete, Route: v2

#11682 feat(route): famitsu
  docs/en/game.md
  docs/game.md
  lib/v2/famitsu/category.js
  lib/v2/famitsu/maintainer.js
  lib/v2/famitsu/radar.js
  lib/v2/famitsu/router.js
Labels: Auto: Route Test Complete, Route: v2

#11677 fix(route): xiaomiyoupin crowdfunding error and migrate to v2
  docs/shopping.md
  lib/routes/mi/youpin/crowdfunding.js
  lib/routes/mi/youpin/new.js
  lib/v2/xiaomiyoupin/crowdfunding.js
  lib/v2/xiaomiyoupin/latest.js
  lib/v2/xiaomiyoupin/maintainer.js
  lib/v2/xiaomiyoupin/radar.js
  lib/v2/xiaomiyoupin/router.js
  lib/v2/xiaomiyoupin/templates/goods.art
  lib/v2/xiaomiyoupin/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11685 fix(route): ikea
  docs/en/shopping.md
  docs/shopping.md
  lib/router.js
  lib/routes/ikea/uk/new.js
  lib/routes/ikea/uk/offer.js
  lib/v2/ikea/gb/new.js
  lib/v2/ikea/gb/offer.js
  lib/v2/ikea/maintainer.js
  lib/v2/ikea/radar.js
  lib/v2/ikea/router.js
  lib/v2/ikea/templates/new.art
  lib/v2/ikea/templates/offer.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11688 fix(route): bloomberg videopage parse error
  lib/v2/bloomberg/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11689 fix(route): clickme
  docs/other.md
  lib/router.js
  lib/routes/clickme/index.js
  lib/v2/clickme/index.js
  lib/v2/clickme/maintainer.js
  lib/v2/clickme/radar.js
  lib/v2/clickme/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11696 fix(route): lofter
  lib/v2/lofter/user.js
Labels: Auto: Route Test Complete, Route: v2

#11695 fix(route): caixin blog
  docs/traditional-media.md
  lib/router.js
  lib/routes/caixin/article.js
  lib/routes/caixin/blog.js
  lib/routes/caixin/category.js
  lib/routes/caixin/latest.js
  lib/routes/caixin/yxnews.js
  lib/v2/caixin/article.js
  lib/v2/caixin/blog.js
  lib/v2/caixin/category.js
  lib/v2/caixin/database.js
  lib/v2/caixin/k.js
  lib/v2/caixin/latest.js
  lib/v2/caixin/maintainer.js
  lib/v2/caixin/radar.js
  lib/v2/caixin/router.js
  lib/v2/caixin/templates/article.art
  lib/v2/caixin/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11699 fix(route): bioone
  lib/v2/bioone/featured.js
  lib/v2/bioone/journal.js
Labels: Auto: Route Test Complete, Route: v2

#11700 feat(route): github wiki history
  docs/en/programming.md
  docs/programming.md
  lib/v2/github/maintainer.js
  lib/v2/github/radar.js
  lib/v2/github/router.js
  lib/v2/github/wiki.js
Labels: Auto: Route Test Complete, Route: v2

#11701 feat(route): wuhan
  docs/government.md
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/wuhan/whyw.js
Labels: Auto: Route Test Complete, Route: v2

#11705 fix(route): fix date err and refactor to v2
  docs/anime.md
  docs/en/anime.md
  lib/router.js
  lib/v2/dlsite/campaign.js
  lib/v2/dlsite/maintainer.js
  lib/v2/dlsite/new.js
  lib/v2/dlsite/radar.js
  lib/v2/dlsite/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11672 feat(route): add mixcloud
  docs/en/multimedia.md
  docs/multimedia.md
  lib/v2/mixcloud/index.js
  lib/v2/mixcloud/maintainer.js
  lib/v2/mixcloud/queries.js
  lib/v2/mixcloud/radar.js
  lib/v2/mixcloud/router.js
Labels: Auto: Route Test Complete, Route: v2

#11710 feat(route): gelonghui
  docs/finance.md
  lib/v2/gelonghui/hot-article.js
  lib/v2/gelonghui/live.js
  lib/v2/gelonghui/radar.js
  lib/v2/gelonghui/router.js
  lib/v2/gelonghui/templates/live.art
  lib/v2/gelonghui/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11712 fix(route): fix not unique guid and refactor to v2
  lib/router.js
  lib/v2/minecraft/maintainer.js
  lib/v2/minecraft/radar.js
  lib/v2/minecraft/router.js
  lib/v2/minecraft/version.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11714 feat(route): add route for Ke Research Institute
  docs/other.md
  lib/v2/ke/maintainer.js
  lib/v2/ke/radar.js
  lib/v2/ke/results.js
  lib/v2/ke/router.js
Labels: Auto: Route Test Complete, Route: v2

#11718 feat(route): add linkedin.cn route
  docs/other.md
  lib/v2/linkedin/cn/index.js
  lib/v2/linkedin/cn/utils.js
  lib/v2/linkedin/maintainer.js
  lib/v2/linkedin/radar.js
  lib/v2/linkedin/router.js
  lib/v2/linkedin/templates/cn/posting.art
Labels: Auto: Route Test Complete, Route: v2

#11723 feat(route): fjksbm
  docs/study.md
  lib/v2/fjksbm/index.js
  lib/v2/fjksbm/maintainer.js
  lib/v2/fjksbm/radar.js
  lib/v2/fjksbm/router.js
Labels: Auto: Route Test Complete, Route: v2

#11724 feat(route): yjsy
  docs/university.md
  lib/v2/hljucm/maintainer.js
  lib/v2/hljucm/radar.js
  lib/v2/hljucm/router.js
  lib/v2/hljucm/yjsy.js
Labels: Auto: Route Test Complete, Route: v2

#11725 fix(route): 18comic
  docs/anime.md
  lib/v2/18comic/album.js
  lib/v2/18comic/blogs.js
  lib/v2/18comic/radar.js
  lib/v2/18comic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11740 feat(route): add support for XAUFE jiaowu route
  docs/university.md
  lib/v2/xaufe/jiaowu.js
  lib/v2/xaufe/maintainer.js
  lib/v2/xaufe/radar.js
  lib/v2/xaufe/router.js
Labels: Auto: Route Test Complete, Route: v2

#11736 fix(route): linkedin.cn Fix the job desc section formatting error with renderer by attributes.
  lib/v2/linkedin/cn/index.js
  lib/v2/linkedin/cn/renderer.js
  lib/v2/linkedin/cn/utils.js
  lib/v2/linkedin/templates/cn/posting.art
Labels: Auto: Route Test Complete, Route: v2

#11742 fix(route): fix the eslint/prettier conflict on 'space-in-parens' rule by replacing 'for loop' with 'while loop'
  lib/v2/linkedin/cn/renderer.js
Labels: Auto: Route Test Complete, Route: v2

#11743 feat(route): byteclicks
  docs/new-media.md
  lib/v2/byteclicks/index.js
  lib/v2/byteclicks/maintainer.js
  lib/v2/byteclicks/radar.js
  lib/v2/byteclicks/router.js
  lib/v2/byteclicks/tag.js
  lib/v2/byteclicks/utils.js
Labels: Auto: Route Test Complete, Route: v2

#11744 fix(route): xiaomiyoupin, homepage URL lacks crowd_funding floors, revert back to old
  lib/router.js
  lib/v2/xiaomiyoupin/crowdfunding.js
  lib/v2/xiaomiyoupin/templates/goods.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2
