Repository DIYgod/RSSHub, pull requests merged in 2023-10, with the labels that each got.

#13444 feat(route): add MyMusicSheet User Sheets
  lib/v2/mymusicsheet/maintainer.js
  lib/v2/mymusicsheet/radar.js
  lib/v2/mymusicsheet/router.js
  lib/v2/mymusicsheet/templates/description.art
  lib/v2/mymusicsheet/usersheets.js
  website/docs/routes/shopping.md
Labels: Auto: Route Test Complete, Route: v2

#13438 feat(route): add MMDArchive 标签查询
  lib/v2/booru/maintainer.js
  lib/v2/booru/mmda.js
  lib/v2/booru/radar.js
  lib/v2/booru/router.js
  website/docs/routes/picture.md
Labels: Auto: Route Test Complete, Route: v2

#13450 feat(route): add freeOnly option for MyMusicSheet
  lib/v2/mymusicsheet/maintainer.js
  lib/v2/mymusicsheet/router.js
  lib/v2/mymusicsheet/usersheets.js
  website/docs/routes/shopping.md
Labels: Auto: Route Test Complete, Route: v2

#13445 feat(route): add Farmatters
  lib/routes/growincity/news.js
  lib/v2/farmatters/index.js
  lib/v2/farmatters/maintainer.js
  lib/v2/farmatters/radar.js
  lib/v2/farmatters/router.js
  lib/v2/farmatters/templates/description.art
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13449 fix(route): NPC URLs have been changed
  lib/router.js
  lib/routes/npc/index.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/npc/index.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13452 fix(route): prevent `null` category in udn feed.
  lib/v2/udn/breaking-news.js
Labels: Auto: Route Test Complete, Route: v2

#13457 fix(route): 2048
  lib/v2/2048/index.js
Labels: Auto: Route Test Complete, Route: v2

#13447 feat(route): add Metacritic
  lib/router.js
  lib/v2/metacritic/index.js
  lib/v2/metacritic/maintainer.js
  lib/v2/metacritic/radar.js
  lib/v2/metacritic/release.js
  lib/v2/metacritic/router.js
  lib/v2/metacritic/templates/description.art
  lib/v2/metacritic/util.js
  website/docs/routes/game.md
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13465 fix(route): china.com military xpath
  lib/v2/china/finance/finance.js
  lib/v2/china/news/military/news.js
Labels: Auto: Route Test Complete, Route: v2

#13471 fix(route): remove gcores radios required privilege
  lib/v2/gcores/radio.js
Labels: Auto: Route Test Complete, Route: v2

#13478 fix(route/udn): Remove control character to prevent JSON parser error.
  lib/v2/udn/breaking-news.js
Labels: Auto: Route Test Complete, Route: v2

#13477 fix(route): Add pubDate to gcore.
  lib/v2/gcores/category.js
Labels: Auto: Route Test Complete, Route: v2

#13466 fix(route): Apple App Store Update with platform
  lib/v2/apple/apps.js
  lib/v2/apple/maintainer.js
  lib/v2/apple/router.js
  website/docs/routes/program-update.md
Labels: Auto: Route Test Complete, Route: v2

#13474 fix(route): Paul Graham Essays
  lib/router.js
  lib/routes/blogs/paulgraham.js
  lib/v2/paulgraham/article.js
  lib/v2/paulgraham/maintainer.js
  lib/v2/paulgraham/radar.js
  lib/v2/paulgraham/router.js
  website/docs/routes/blog.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13479 fix(route/apnews): filter out items with no link.
  lib/v2/apnews/topics.js
Labels: Auto: Route Test Complete, Route: v2

#13473 feat(route): add china.com finance'
  lib/v2/china/finance/finance.js
  lib/v2/china/maintainer.js
  lib/v2/china/radar.js
  lib/v2/china/router.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13482 fix(route): ABC News
  lib/router.js
  lib/routes/abc/documentId.js
  lib/routes/abc/id.js
  lib/routes/abc/index.js
  lib/v2/abc/index.js
  lib/v2/abc/maintainer.js
  lib/v2/abc/radar.js
  lib/v2/abc/router.js
  lib/v2/abc/templates/description.art
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13489 feat(route): pixiv user activity caption
  lib/v2/pixiv/user.js
  lib/v2/pixiv/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13464 feat(route): add twitch
  lib/v2/twitch/live.js
  lib/v2/twitch/maintainer.js
  lib/v2/twitch/radar.js
  lib/v2/twitch/router.js
  lib/v2/twitch/schedule.js
  lib/v2/twitch/video.js
  website/docs/routes/live.md
Labels: Auto: Route Test Complete, Route: v2

#13502 fix(route): 武汉大学新闻网
  lib/v2/whu/maintainer.js
  lib/v2/whu/news.js
  lib/v2/whu/radar.js
  lib/v2/whu/router.js
  lib/v2/whu/templates/description.art
  lib/v2/whu/util.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13493 feat(route): add 武汉大学弘毅学堂
  lib/v2/whu/hyxt.js
  lib/v2/whu/maintainer.js
  lib/v2/whu/radar.js
  lib/v2/whu/router.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13511 fix(route): 2048 headers
  lib/v2/2048/index.js
Labels: Auto: Route Test Complete, Route: v2

#13512 feat(route): generic rfi
  lib/v2/npr/radar.js
  lib/v2/rfi/maintainer.js
  lib/v2/rfi/news.js
  lib/v2/rfi/radar.js
  lib/v2/rfi/router.js
  website/docs/routes/multimedia.md
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v2

#13513 fix(route): javbus redirection
  lib/v2/javbus/index.js
  website/docs/routes/multimedia.md
Labels: Auto: Route Test Complete, Route: v2

#13517 feat(route): add Asian to lick News
  lib/v2/asiantolick/index.js
  lib/v2/asiantolick/maintainer.js
  lib/v2/asiantolick/radar.js
  lib/v2/asiantolick/router.js
  lib/v2/asiantolick/templates/description.art
  website/docs/routes/picture.md
Labels: Auto: Route Test Complete, Route: v2

#13519 feat(route): caixin global
  lib/v2/caixinglobal/latest.js
  lib/v2/caixinglobal/maintainer.js
  lib/v2/caixinglobal/radar.js
  lib/v2/caixinglobal/router.js
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v2

#13521 fix(route/cna): Remove (sporadic) subscription banner
  lib/v2/cna/index.js
Labels: Auto: Route Test Complete, Route: v2

#13526 feat(route): add 浙江省公务员考试录用网
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/zhejiang/gwy.js
  website/docs/routes/government.md
Labels: Auto: Route Test Complete, Route: v2

#13522 feat(route/caixin): Fetch all blog articles.
  lib/v2/caixin/blog.js
  lib/v2/caixin/router.js
  website/docs/routes/blog.md
Labels: Auto: Route Test Complete, Route: v2

#13509 feat(route/reuters): Add **experimental** `sophi` API support.
  lib/v2/reuters/common.js
  website/docs/routes/traditional-media.md
Labels: Auto: Route Test Complete, Route: v2

#13528 feat(route/tableau): Add route for Tableau viz of the day.
  lib/v2/tableau/maintainer.js
  lib/v2/tableau/radar.js
  lib/v2/tableau/router.js
  lib/v2/tableau/viz-of-the-day.js
  website/docs/routes/study.md
Labels: Auto: Route Test Complete, Route: v2

#13539 feat(route/zjuvag): Add zjuvag blog.
  lib/v2/zjuvag/blog.js
  lib/v2/zjuvag/maintainer.js
  lib/v2/zjuvag/radar.js
  lib/v2/zjuvag/router.js
  website/docs/routes/blog.md
Labels: Auto: Route Test Complete, Route: v2

#13541 feat(route): add 中国钢铁工业协会
  lib/v2/chinaisa/index.js
  lib/v2/chinaisa/maintainer.js
  lib/v2/chinaisa/radar.js
  lib/v2/chinaisa/router.js
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13566 fix(route): github topic description
  lib/v2/github/topic.js
Labels: Auto: Route Test Complete, Route: v2

#13567 fix(route): Readhub
  lib/v2/readhub/index.js
  lib/v2/readhub/maintainer.js
  lib/v2/readhub/radar.js
  lib/v2/readhub/router.js
  lib/v2/readhub/templates/description.art
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13580 fix(route): segmentfault
  lib/v2/segmentfault/blogs.js
  lib/v2/segmentfault/channel.js
  lib/v2/segmentfault/user.js
  lib/v2/segmentfault/utils.js
  website/docs/routes/programming.md
Labels: Auto: Route Test Complete, Route: v2

#13598 fix(route): kemono/discord
  lib/v2/kemono/index.js
Labels: Auto: Route Test Complete, Route: v2

#13599 fix(route): 仮面ライダ最新情報
  lib/v2/kamen-rider-official/news.js
Labels: Auto: Route Test Complete, Route: v2

#13602 fix(route): chinafactcheck ua
  lib/v2/chinafactcheck/index.js
  lib/v2/chinafactcheck/maintainer.js
  lib/v2/chinafactcheck/templates/description.art
  lib/v2/chinafactcheck/utils.js
Labels: Auto: Route Test Complete, Route: v2

#13612 chore: revise github actions
  .github/workflows/build-assets.yml
  .github/workflows/comment-on-issue.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker-test-cont.yml
  .github/workflows/docker-test.yml
  .github/workflows/docs-search-index.yml
  .github/workflows/format.yml
  .github/workflows/issue-command.yml
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/semgrep.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/yarn-lock-changes.yml
  lib/maintainer.js
  lib/v2/bytes/maintainer.js
  lib/v2/chinafactcheck/maintainer.js
  lib/v2/cyzone/maintainer.js
  lib/v2/deadline/maintainer.js
  lib/v2/foresightnews/maintainer.js
  lib/v2/grubstreet/maintainer.js
  lib/v2/guanhai/maintainer.js
  lib/v2/netflav/maintainer.js
  lib/v2/niaogebiji/maintainer.js
  lib/v2/qqorw/maintainer.js
  lib/v2/reactnewsletter/maintainer.js
  lib/v2/runtrail/maintainer.js
  lib/v2/techpowerup/maintainer.js
  lib/v2/tfc-taiwan/maintainer.js
  lib/v2/v1tx/maintainer.js
  lib/v2/weekendhk/maintainer.js
  scripts/workflow/test-issue/call-maintainer.js
  scripts/workflow/test-route/identify.js
  scripts/workflow/test-route/test.js
Labels: core enhancement, Auto: Route Test Skipped, Route: v2

#13614 fix(route/caixin): Fix query
  lib/v2/caixin/blog.js
Labels: Auto: Route Test Complete, Route: v2

#13590 fix(core): string-type categories only
  lib/middleware/parameter.js
  lib/v2/test/index.js
  test/middleware/parameter.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#13617 feat(route): add ThoughtCo
  lib/v2/thoughtco/index.js
  lib/v2/thoughtco/maintainer.js
  lib/v2/thoughtco/radar.js
  lib/v2/thoughtco/router.js
  lib/v2/thoughtco/templates/description.art
  website/docs/routes/new-media.md
Labels: Auto: Route Test Complete, Route: v2

#13630 fix(route): 人民网人民时评
  lib/v2/people/index.js
  lib/v2/people/router.js
Labels: Auto: Route Test Complete, Route: v2

#13637 fix(route): Epic Games Store - items containing non-free games
  lib/v2/epicgames/index.js
  lib/v2/epicgames/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#13636 fix: Firefox release notes link for desktop
  lib/router.js
  lib/v2/firefox/addons.js
  lib/v2/firefox/breaches.js
  lib/v2/firefox/index.js
  lib/v2/firefox/maintainer.js
  lib/v2/firefox/radar.js
  lib/v2/firefox/release.js
  lib/v2/firefox/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#13642 feat(route): add 中华人民共和国应急管理部事故及灾害查处
  lib/v2/gov/maintainer.js
  lib/v2/gov/mem/sgcc.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.md
Labels: Auto: Route Test Complete, Route: v2

#13641 feat(route): add Peking Univ cls announcement
  lib/v2/pku/cls/announcement.js
  lib/v2/pku/maintainer.js
  lib/v2/pku/radar.js
  lib/v2/pku/router.js
  website/docs/routes/university.md
Labels: Auto: Route Test Complete, Route: v2

#13595 feat(route): add yomujp route
  lib/v2/yomujp/level.js
  lib/v2/yomujp/maintainer.js
  lib/v2/yomujp/radar.js
  lib/v2/yomujp/router.js
  website/docs/routes/reading.md
Labels: Auto: Route Test Complete, Route: v2

#13650 feat(route): add 国家林业和草原局国家林草科技大讲堂
  lib/v2/gov/forestry/gjlckjdjt.js
  lib/v2/gov/forestry/templates/description.art
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.md
Labels: Auto: Route Test Complete, Route: v2

#13655 fix(route): oschina remove ads
  lib/v2/oschina/news.js
Labels: Auto: Route Test Complete, Route: v2

#13659 fix(route): 豆瓣热播剧榜单
  lib/v2/douban/other/list.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13662 fix(route): Epic Games Store - Cannot read properties of null (reading 'length')
  lib/v2/epicgames/index.js
  website/docs/routes/game.md
Labels: Auto: Route Test Complete, Route: v2

#13658 feat(route): add 国家市场监督管理总局留言咨询
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/samr/templates/description.art
  lib/v2/gov/samr/xgzlyhd.js
  website/docs/routes/government.md
Labels: Auto: Route Test Complete, Route: v2

#13665 feat(route): 豆瓣榜单增加筛选功能
  lib/v2/douban/maintainer.js
  lib/v2/douban/other/list.js
  lib/v2/douban/router.js
  website/docs/routes/social-media.md
Labels: Auto: Route Test Complete, Route: v2

#13667 fix(route): scmp full text
  lib/v2/scmp/index.js
  lib/v2/scmp/utils.js
Labels: Auto: Route Test Complete, Route: v2
