Repository DIYgod/RSSHub, pull requests merged in 2023-06, with the labels that each got.

#12584 feat(route): add 色花堂作者文章
  docs/install/README.md
  docs/multimedia.md
  lib/config.js
  lib/v2/sehuatang/maintainer.js
  lib/v2/sehuatang/router.js
  lib/v2/sehuatang/user.js
Labels: Auto: Route Test Complete, Route: v2

#12593 fix(route): aeon - hotfix & migrate to v2
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/aeon/category.js
  lib/v2/aeon/essays.js
  lib/v2/aeon/maintainer.js
  lib/v2/aeon/radar.js
  lib/v2/aeon/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12594 fix(route): 141JAV & 141PPV
  assets/radar-rules.js
  docs/multimedia.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/141jav/141jav.js
  lib/routes/141ppv/141ppv.js
  lib/v2/141jav/index.js
  lib/v2/141jav/maintainer.js
  lib/v2/141jav/radar.js
  lib/v2/141jav/router.js
  lib/v2/141jav/templates/description.art
  lib/v2/141ppv/index.js
  lib/v2/141ppv/maintainer.js
  lib/v2/141ppv/radar.js
  lib/v2/141ppv/router.js
  lib/v2/141ppv/templates/description.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12605 fix(route): sehuatang
  lib/v2/sehuatang/user.js
Labels: Auto: Route Test Complete, Route: v2

#12612 fix(route): contentUrl unexpected characters appear
  lib/v2/gov/news/index.js
Labels: Auto: Route Test Complete, Route: v2

#12603 fix(route): update shuiguopai domain (#12602)
  lib/v2/shuiguopai/index.js
Labels: Auto: Route Test Complete, Route: v2

#12613 feat(route): winstall
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/winstall/maintainer.js
  lib/v2/winstall/radar.js
  lib/v2/winstall/router.js
  lib/v2/winstall/templates/desc.art
  lib/v2/winstall/update.js
Labels: Auto: Route Test Complete, Route: v2

#12591 feat(router): add 东方财富研究报告
  docs/finance.md
  lib/v2/eastmoney/maintainer.js
  lib/v2/eastmoney/radar.js
  lib/v2/eastmoney/report/index.js
  lib/v2/eastmoney/router.js
Labels: Auto: Route Test Complete, Route: v2

#12596 feat(router): add 东华大学研究生招生信息 (dhu/yjs/zs)
  docs/university.md
  lib/v2/dhu/maintainer.js
  lib/v2/dhu/radar.js
  lib/v2/dhu/router.js
  lib/v2/dhu/yjs/zs.js
Labels: Auto: Route Test Complete, Route: v2

#12614 fix(route): aeon - support for other categories
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/aeon/category.js
  lib/v2/aeon/essays.js
  lib/v2/aeon/maintainer.js
  lib/v2/aeon/radar.js
  lib/v2/aeon/router.js
  lib/v2/aeon/templates/essay.art
  lib/v2/aeon/templates/video.art
  lib/v2/aeon/type.js
  lib/v2/aeon/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12622 fix(route): 中国政府网没有正确拼接相对地址路径 && 替换滚动新闻地址
  lib/v2/gov/news/index.js
Labels: Auto: Route Test Complete, Route: v2

#12616 feat(route): add daily.dev
  docs/en/social-media.md
  lib/v2/daily/discussed.js
  lib/v2/daily/index.js
  lib/v2/daily/maintainer.js
  lib/v2/daily/radar.js
  lib/v2/daily/router.js
  lib/v2/daily/upvoted.js
  lib/v2/daily/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12620 feat(route): Add dblp and format my code
  docs/en/study.md
  docs/study.md
  lib/v2/dblp/maintainer.js
  lib/v2/dblp/publication.js
  lib/v2/dblp/radar.js
  lib/v2/dblp/router.js
Labels: Auto: Route Test Complete, Route: v2

#12624 feat(route): add Dorohedoro News
  docs/game.md
  lib/v2/dorohedoro/maintainer.js
  lib/v2/dorohedoro/news.js
  lib/v2/dorohedoro/radar.js
  lib/v2/dorohedoro/router.js
Labels: Auto: Route Test Complete, Route: v2

#12627 feat(router): add link content of dhu/yjs/zs
  docs/university.md
  lib/v2/dhu/yjs/zs.js
Labels: Auto: Route Test Complete, Route: v2

#12629 feat(core): serve logo locally
  lib/app.js
  lib/static/logo.png
  lib/views/error.art
  lib/views/rss.art
  lib/views/welcome.art
  package.json
  pnpm-lock.yaml
  test/app.js
Labels: core enhancement, Auto: No Route Needed

#12630 feat(route): Add Rattibha Twitter user threads
  docs/en/social-media.md
  lib/v2/rattibha/maintainer.js
  lib/v2/rattibha/radar.js
  lib/v2/rattibha/router.js
  lib/v2/rattibha/user.js
Labels: Auto: Route Test Complete, Route: v2

#12621 feat(route): Latest Stories from National Geographic
  docs/en/travel.md
  lib/v2/nationalgeographic/latest-stories.js
  lib/v2/nationalgeographic/maintainer.js
  lib/v2/nationalgeographic/radar.js
  lib/v2/nationalgeographic/router.js
  lib/v2/nationalgeographic/templates/stories.art
Labels: Auto: Route Test Complete, Route: v2

#12636 fix(route): author retrieval in nationalgeographic/latest-stories.js
  lib/v2/nationalgeographic/latest-stories.js
Labels: Auto: Route Test Complete, Route: v2

#12639 feat(route): add 竹百TOP20
  docs/blog.md
  lib/v2/zhubai/maintainer.js
  lib/v2/zhubai/radar.js
  lib/v2/zhubai/router.js
  lib/v2/zhubai/templates/description.art
  lib/v2/zhubai/top20.js
Labels: Auto: Route Test Complete, Route: v2

#12645 fix: domp4 页面改版修复
  lib/v2/domp4/detail.js
Labels: Auto: Route Test Complete, Route: v2

#12641 feat(route): add 东北师范大学研究生院
  docs/university.md
  lib/v2/nenu/maintainer.js
  lib/v2/nenu/radar.js
  lib/v2/nenu/router.js
  lib/v2/nenu/yjsy.js
Labels: Auto: Route Test Complete, Route: v2

#12640 fix(route): 修复 bilibili热搜路由失效
  lib/v2/bilibili/hotSearch.js
  lib/v2/bilibili/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12646 feat(route): add 东北师范大学历史文化学院
  docs/university.md
  lib/v2/nenu/maintainer.js
  lib/v2/nenu/radar.js
  lib/v2/nenu/router.js
  lib/v2/nenu/sohac.js
Labels: Auto: Route Test Complete, Route: v2

#12633 fix(route): Add missing first part of rattibha threads
  lib/v2/rattibha/user.js
Labels: Auto: Route Test Complete, Route: v2

#12659 test: relax fulltest parser timeout
  .github/workflows/docker-release.yml
  test/middleware/parameter.js
Labels: Auto: No Route Needed

#12654 feat(route): add 4k世界
  docs/multimedia.md
  lib/v2/4ksj/forum.js
  lib/v2/4ksj/maintainer.js
  lib/v2/4ksj/radar.js
  lib/v2/4ksj/router.js
  lib/v2/4ksj/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12653 fix(route): 腾讯企鹅号抓取失败
  lib/v2/tencent/news/author.js
Labels: Auto: Route Test Complete, Route: v2

#12655 fix(route): use api to obtain /iwara/users
  lib/v2/iwara/index.js
Labels: Auto: Route Test Complete, Route: v2

#12662 feat(router): 添加武汉纺织大学就业信息
  docs/university.md
  lib/router.js
  lib/routes/universities/wtu/index.js
  lib/v2/wtu/index.js
  lib/v2/wtu/job.js
  lib/v2/wtu/maintainer.js
  lib/v2/wtu/radar.js
  lib/v2/wtu/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12663 feat(route): add UNTAG时间线
  docs/new-media.md
  lib/v2/utgd/maintainer.js
  lib/v2/utgd/radar.js
  lib/v2/utgd/router.js
  lib/v2/utgd/timeline.js
Labels: Auto: Route Test Complete, Route: v2

#12665 fix(route): 腾讯企鹅号抓取失败
  lib/v2/tencent/news/author.js
Labels: Auto: Route Test Complete, Route: v2

#12670 feat(route): add 山东省教育招生考试院
  docs/study.md
  lib/v2/sdzk/index.js
  lib/v2/sdzk/maintainer.js
  lib/v2/sdzk/radar.js
  lib/v2/sdzk/router.js
Labels: Auto: Route Test Complete, Route: v2

#12671 feat(route): add 东方财富网行业研究
  docs/finance.md
  lib/v2/eastmoney/report/index.js
Labels: Auto: Route Test Complete, Route: v2

#12667 feat(route): 金十数据 主题文章
  docs/finance.md
  lib/v2/jin10/maintainer.js
  lib/v2/jin10/radar.js
  lib/v2/jin10/router.js
  lib/v2/jin10/topic.js
Labels: Auto: Route Test Complete, Route: v2

#12674 fix(route): pixiv novels
  lib/v2/pixiv/novels.js
Labels: Auto: Route Test Complete, Route: v2

#12675 chore: update deps
  .github/workflows/docker-test.yml
  lib/utils/rand-user-agent.js
  package.json
  pnpm-lock.yaml
Labels: Auto: No Route Needed

#12682 feat: add radar rule for YouTube channels with handles
  lib/v2/youtube/radar.js
Labels: Route: v2

#12683 feat: 支持 Sakurazaka46 Blog 分页订阅
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/sakurazaka46/blog.js
  lib/v2/sakurazaka46/maintainer.js
  lib/v2/sakurazaka46/router.js
Labels: Auto: Route Test Complete, Route: v2

#12681 feat(route): add 36kr资讯热榜
  docs/new-media.md
  lib/v2/36kr/hot-list.js
  lib/v2/36kr/index.js
  lib/v2/36kr/maintainer.js
  lib/v2/36kr/radar.js
  lib/v2/36kr/router.js
  lib/v2/36kr/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12685 fix(route): 国家税务总局 - 最新文件 (#11960)
  lib/router.js
  lib/v2/gov/chinatax/latest.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12693 fix(route): 东方财富研报被删除时的try catch
  lib/v2/eastmoney/report/index.js
Labels: Auto: Route Test Complete, Route: v2

#12696 fix(route): hinatazaka46 blog page fields change fixes
  lib/router.js
  lib/routes/hinatazaka46/blog.js
  lib/v2/hinatazaka46/blog.js
  lib/v2/hinatazaka46/maintainer.js
  lib/v2/hinatazaka46/news.js
  lib/v2/hinatazaka46/radar.js
  lib/v2/hinatazaka46/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12697 fix(route): ifeng
  lib/v2/ifeng/feng.js
  lib/v2/ifeng/radar.js
  lib/v2/ifeng/templates/video.art
  lib/v2/ifeng/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12694 feat(route): add a new router for radio france
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/radiofrance/geopolitique.js
  lib/v2/radiofrance/maintainer.js
  lib/v2/radiofrance/radar.js
  lib/v2/radiofrance/router.js
  lib/v2/radiofrance/templates/article.art
Labels: Auto: Route Test Complete, Route: v2

#12700 feat(route): hinatazaka46 blog support id params
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/hinatazaka46/blog.js
  lib/v2/hinatazaka46/maintainer.js
  lib/v2/hinatazaka46/news.js
  lib/v2/hinatazaka46/router.js
Labels: Auto: Route Test Complete, Route: v2

#12702 fix(route): reuters
  lib/v2/reuters/common.js
  lib/v2/reuters/investigates.js
Labels: Auto: Route Test Complete, Route: v2

#12704 feat(route): hinatazaka46 blog support page param
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/hinatazaka46/blog.js
  lib/v2/hinatazaka46/router.js
Labels: Auto: Route Test Complete, Route: v2

#12709 fix: 为 /luogu/user/feed 增加了 guid
  lib/v2/luogu/userFeed.js
Labels: Auto: Route Test Complete, Route: v2

#12661 feat(route): add 机核网专题文章
  docs/new-media.md
  lib/v2/gcores/collection.js
  lib/v2/gcores/maintainer.js
  lib/v2/gcores/radar.js
  lib/v2/gcores/router.js
Labels: Auto: Route Test Complete, Route: v2

#12698 fix(route): multiple videos in posts of shuiguopai
  lib/v2/shuiguopai/index.js
  lib/v2/shuiguopai/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12717 feat(route): add xboxfan.com
  docs/game.md
  lib/v2/xboxfan/maintainer.js
  lib/v2/xboxfan/news.js
  lib/v2/xboxfan/radar.js
  lib/v2/xboxfan/router.js
Labels: Auto: Route Test Complete, Route: v2

#12720 feat(route): Add Huggingface Daily Papers
  docs/en/programming.md
  docs/programming.md
  lib/v2/huggingface/daily-papers.js
  lib/v2/huggingface/maintainer.js
  lib/v2/huggingface/router.js
Labels: Auto: Route Test Complete, Route: v2

#12722 fix(route): blank results from fx678
  docs/finance.md
  docs/new-media.md
  lib/router.js
  lib/routes/fx678/kx.js
  lib/v2/fx678/kx.js
  lib/v2/fx678/maintainer.js
  lib/v2/fx678/radar.js
  lib/v2/fx678/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12727 fix(route): 为 yahoo news 添加 author 字段
  lib/v2/yahoo/news/index.js
Labels: Auto: Route Test Complete, Route: v2
