Repository DIYgod/RSSHub, pull requests merged in 2023-03, with the labels that each got.

#11989 fix: vercel deployment
  vercel.json
Labels: Auto: No Route Needed

#11993 fix(route): hkepc next page
  lib/v2/hkepc/data.js
  lib/v2/hkepc/index.js
  lib/v2/hkepc/templates/description.art
  lib/v2/hkepc/templates/image.art
Labels: Auto: Route Test Complete, Route: v2

#11996 fix(route): csrc
  docs/government.md
  lib/router.js
  lib/routes/csrc/auditstatus.js
  lib/routes/csrc/fashenwei.js
  lib/routes/csrc/news.js
  lib/v2/gov/csrc/auditstatus.js
  lib/v2/gov/csrc/news.js
  lib/v2/gov/csrc/templates/attachment.art
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#11998 fix(route): kemono image
  lib/v2/kemono/index.js
  lib/v2/kemono/templates/discord.art
Labels: Auto: Route Test Complete, Route: v2

#11999 feat(route): discord
  docs/en/install/README.md
  docs/en/social-media.md
  lib/config.js
  lib/v2/discord/channel.js
  lib/v2/discord/discord-api.js
  lib/v2/discord/maintainer.js
  lib/v2/discord/radar.js
  lib/v2/discord/router.js
  lib/v2/discord/templates/message.art
Labels: Auto: Route Test Complete, Route: v2

#12007 fix(route): 中国经济50人论坛专家文章
  docs/new-media.md
  docs/study.md
  lib/v2/50forum/radar.js
  lib/v2/50forum/zhuanjia.js
Labels: Auto: Route Test Complete, Route: v2

#11995 feat: add 羊城晚报金羊网
  docs/traditional-media.md
  lib/v2/ycwb/index.js
  lib/v2/ycwb/maintainer.js
  lib/v2/ycwb/radar.js
  lib/v2/ycwb/router.js
  lib/v2/ycwb/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12010 feat(route): wxkol
  docs/new-media.md
  lib/utils/wechat-mp.js
  lib/v2/wxkol/maintainer.js
  lib/v2/wxkol/radar.js
  lib/v2/wxkol/router.js
  lib/v2/wxkol/show.js
Labels: Auto: Route Test Complete, Route: v2

#12011 feat(route): weekendhk
  docs/traditional-media.md
  lib/v2/weekendhk/maintainer.js
  lib/v2/weekendhk/posts.js
  lib/v2/weekendhk/radar.js
  lib/v2/weekendhk/router.js
Labels: Auto: Route Test Complete, Route: v2

#12033 refactor(route): migrate qdaily to v2
  assets/radar-rules.js
  lib/radar-rules.js
  lib/router.js
  lib/routes/qdaily/index.js
  lib/v2/qdaily/index.js
  lib/v2/qdaily/maintainer.js
  lib/v2/qdaily/router.js
  lib/v2/qdaily/templates/article.art
  lib/v2/qdaily/templates/radar.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12034 feat(route): v1tx
  docs/blog.md
  lib/v2/v1tx/index.js
  lib/v2/v1tx/maintainer.js
  lib/v2/v1tx/radar.js
  lib/v2/v1tx/router.js
Labels: Auto: Route Test Complete, Route: v2

#12008 feat(route): add nber route: NBER working paper
  docs/en/journal.md
  docs/journal.md
  lib/v2/nber/index.js
  lib/v2/nber/maintainer.js
  lib/v2/nber/radar.js
  lib/v2/nber/router.js
  lib/v2/nber/template/description.art
Labels: Auto: Route Test Complete, Route: v2

#12035 feat(route): 0818tuan
  docs/shopping.md
  lib/v2/0818tuan/index.js
  lib/v2/0818tuan/maintainer.js
  lib/v2/0818tuan/radar.js
  lib/v2/0818tuan/router.js
Labels: Auto: Route Test Complete, Route: v2

#12038 feat(route): Bellroy new releases
  docs/en/shopping.md
  docs/shopping.md
  lib/v2/bellroy/maintainer.js
  lib/v2/bellroy/new-releases.js
  lib/v2/bellroy/radar.js
  lib/v2/bellroy/router.js
Labels: Auto: Route Test Complete, Route: v2

#12040 feat(route): Arcteryx new arrivals
  docs/en/shopping.md
  docs/shopping.md
  lib/v2/arcteryx/maintainer.js
  lib/v2/arcteryx/new-arrivals.js
  lib/v2/arcteryx/radar.js
  lib/v2/arcteryx/router.js
  lib/v2/arcteryx/templates/product-description.art
Labels: Auto: Route Test Complete, Route: v2

#12039 fix: 重新支持infoq获取文章正文
  lib/v2/infoq/utils.js
Labels: Auto: No Route Needed, Auto: Route Test Complete, Route: v2

#11994 fix(route): 日本经济新闻中文版
  assets/radar-rules.js
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/radar-rules.js
  lib/router.js
  lib/routes/nikkei/index.js
  lib/routes/nikkei/news.js
  lib/v2/nikkei-asia/maintainer.js
  lib/v2/nikkei-asia/radar.js
  lib/v2/nikkei-asia/router.js
  lib/v2/nikkei-cn/index.js
  lib/v2/nikkei-cn/maintainer.js
  lib/v2/nikkei-cn/radar.js
  lib/v2/nikkei-cn/router.js
  lib/v2/nikkei/asia/index.js
  lib/v2/nikkei/cn/index.js
  lib/v2/nikkei/index.js
  lib/v2/nikkei/maintainer.js
  lib/v2/nikkei/news.js
  lib/v2/nikkei/radar.js
  lib/v2/nikkei/router.js
  lib/v2/nikkei/templates/news.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12044 feat(route): add cls hot articles 添加财联社热门文章排行榜
  docs/finance.md
  lib/router.js
  lib/routes/cls/depth.js
  lib/v2/cls/depth.js
  lib/v2/cls/hot.js
  lib/v2/cls/maintainer.js
  lib/v2/cls/radar.js
  lib/v2/cls/router.js
  lib/v2/cls/telegraph.js
  lib/v2/cls/templates/depth.art
  lib/v2/cls/templates/telegraph.art
  lib/v2/cls/utils.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12041 feat(route): kindle software updates
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/amazon/kindle-software-updates.js
  lib/v2/amazon/maintainer.js
  lib/v2/amazon/radar.js
  lib/v2/amazon/router.js
  lib/v2/amazon/templates/software-description.art
Labels: Auto: Route Test Complete, Route: v2

#12043 feat(route): 支持 xsijishe.com 论坛 rss
  docs/bbs.md
  lib/v2/xsijishe/forum.js
  lib/v2/xsijishe/maintainer.js
  lib/v2/xsijishe/radar.js
  lib/v2/xsijishe/router.js
Labels: Auto: Route Test Complete, Route: v2

#12046 feat(route): sony software downloads
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/sony/downloads.js
  lib/v2/sony/maintainer.js
  lib/v2/sony/radar.js
  lib/v2/sony/router.js
  lib/v2/sony/templates/software-description.art
Labels: Auto: Route Test Complete, Route: v2

#12057 fix(route): yuque video
  lib/v2/yuque/book.js
  lib/v2/yuque/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12045 feat(route): snow-peak new arrivals
  docs/en/shopping.md
  docs/shopping.md
  lib/v2/snowpeak/maintainer.js
  lib/v2/snowpeak/radar.js
  lib/v2/snowpeak/router.js
  lib/v2/snowpeak/templates/new-arrivals.art
  lib/v2/snowpeak/us-new-arrivals.js
Labels: Auto: Route Test Complete, Route: v2

#12060 feat(route): add patagonia new arrivals
  docs/en/shopping.md
  docs/shopping.md
  lib/v2/patagonia/maintainer.js
  lib/v2/patagonia/new-arrivals.js
  lib/v2/patagonia/radar.js
  lib/v2/patagonia/router.js
  lib/v2/patagonia/templates/product-description.art
Labels: Auto: Route Test Complete, Route: v2

#12063 feat(route): arcteryx regear new arrivals
  docs/en/shopping.md
  docs/shopping.md
  lib/v2/arcteryx/maintainer.js
  lib/v2/arcteryx/radar.js
  lib/v2/arcteryx/regear-new-arrivals.js
  lib/v2/arcteryx/router.js
  lib/v2/arcteryx/templates/regear-product-description.art
Labels: Auto: Route Test Complete, Route: v2

#12067 docs: Fixed typo in discord route (wrong link to docs)
  lib/v2/discord/channel.js
Labels: Auto: Route Test Complete, Route: v2

#12030 feat(route): 浙江新闻联播
  docs/traditional-media.md
  lib/v2/cztv/daily.js
  lib/v2/cztv/maintainer.js
  lib/v2/cztv/radar.js
  lib/v2/cztv/router.js
  lib/v2/cztv/templates/daily.art
  lib/v2/cztv/templates/zjxwlb.art
  lib/v2/cztv/zjxwlb.js
Labels: Auto: Route Test Complete, Route: v2

#12069 fix(route): 学习时报分版面
  docs/traditional-media.md
  lib/v2/cntheory/paper.js
Labels: Auto: Route Test Complete, Route: v2

#12059 feat(route): zagg new arrivals
  docs/en/shopping.md
  docs/shopping.md
  lib/v2/zagg/maintainer.js
  lib/v2/zagg/new-arrivals.js
  lib/v2/zagg/radar.js
  lib/v2/zagg/router.js
  lib/v2/zagg/templates/new-arrivals.art
Labels: Auto: Route Test Complete, Route: v2

#12075 build(docker): put bundled chrome in node_modules
  .dockerignore
  .puppeteerrc.js
  Dockerfile
Labels: Auto: Route Test Complete

#12078 feat(route): add qianp
  docs/new-media.md
  lib/v2/qianp/maintainer.js
  lib/v2/qianp/news.js
  lib/v2/qianp/radar.js
  lib/v2/qianp/router.js
Labels: Auto: Route Test Complete, Route: v2

#12077 feat(route): add zuzhirenshi 中国组织人事报
  docs/traditional-media.md
  lib/v2/zuzhirenshi/index.js
  lib/v2/zuzhirenshi/maintainer.js
  lib/v2/zuzhirenshi/radar.js
  lib/v2/zuzhirenshi/router.js
Labels: Auto: Route Test Complete, Route: v2

#12074 feat(route): add VCB-Studio
  docs/anime.md
  lib/v2/vcb-s/category.js
  lib/v2/vcb-s/index.js
  lib/v2/vcb-s/maintainer.js
  lib/v2/vcb-s/radar.js
  lib/v2/vcb-s/router.js
  lib/v2/vcb-s/templates/post.art
Labels: Auto: Route Test Complete, Route: v2

#12072 feat(route): Magazinelib latest magazine
  docs/en/reading.md
  docs/reading.md
  lib/v2/magazinelib/latest-magazine.js
  lib/v2/magazinelib/maintainer.js
  lib/v2/magazinelib/radar.js
  lib/v2/magazinelib/router.js
  lib/v2/magazinelib/templates/magazine-description.art
Labels: Auto: Route Test Complete, Route: v2

#12086 fix(route): coindesk consensus magazine
  lib/v2/coindesk/index.js
Labels: Auto: Route Test Complete, Route: v2

#12093 fix(route): 萧山停水
  lib/v2/tingshuitz/xiaoshan.js
Labels: Auto: Route Test Complete

#12087 refactor(route): wsj news
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/wsj/index.js
  lib/v2/wsj/news.js
  lib/v2/wsj/radar.js
  lib/v2/wsj/router.js
  lib/v2/wsj/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12094 feat(route): add oshwhub.com support
  docs/en/other.md
  docs/other.md
  lib/v2/oshwhub/explore.js
  lib/v2/oshwhub/maintainer.js
  lib/v2/oshwhub/radar.js
  lib/v2/oshwhub/router.js
  lib/v2/oshwhub/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12076 feat: AWS blogs
  docs/blog.md
  docs/en/blog.md
  lib/v2/amazon/awsblogs.js
  lib/v2/amazon/maintainer.js
  lib/v2/amazon/radar.js
  lib/v2/amazon/router.js
Labels: Auto: Route Test Complete, Route: v2

#12100 feat(route): add douban list and collections 添加豆瓣的榜单与集合
  docs/social-media.md
  lib/v2/douban/maintainer.js
  lib/v2/douban/other/list.js
  lib/v2/douban/radar.js
  lib/v2/douban/router.js
  lib/v2/douban/templates/list_description.art
Labels: Auto: Route Test Complete, Route: v2

#12101 feat(route): 西南交通大学教务网、扬华素质网
  docs/university.md
  lib/v2/swjtu/jwc.js
  lib/v2/swjtu/maintainer.js
  lib/v2/swjtu/radar.js
  lib/v2/swjtu/router.js
  lib/v2/swjtu/xg.js
Labels: Auto: Route Test Complete, Route: v2

#12092 feat(route): the atlantic
  docs/en/traditional-media.md
  docs/traditional-media.md
  lib/v2/theatlantic/maintainer.js
  lib/v2/theatlantic/news.js
  lib/v2/theatlantic/radar.js
  lib/v2/theatlantic/router.js
  lib/v2/theatlantic/templates/article-description.art
  lib/v2/theatlantic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12115 fix(route): empty content and html style title for the-atlantic
  lib/v2/theatlantic/news.js
  lib/v2/theatlantic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12113 feat(route): Update route OpenAI
  docs/en/new-media.md
  docs/new-media.md
  lib/router.js
  lib/routes/openai/blog.js
  lib/v2/openai/blog.js
  lib/v2/openai/maintainer.js
  lib/v2/openai/radar.js
  lib/v2/openai/router.js
  lib/v2/openai/templates/article.art
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12118 feat(route/WSJ): enrich content and speed up crawling
  lib/v2/wsj/news.js
  lib/v2/wsj/templates/article-description.art
  lib/v2/wsj/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12125 chore: fix youtube maintainer
  lib/v2/youtube/maintainer.js
Labels: Route: v2

#12126 fix(route): apnews
  lib/v2/apnews/topics.js
Labels: Route: v2

#12127 fix(route/wsj): content glitch
  lib/v2/wsj/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12130 fix(route): 腾讯企鹅号正文乱码
  docs/new-media.md
  lib/router.js
  lib/routes/tencent/news/author.js
  lib/v2/tencent/maintainer.js
  lib/v2/tencent/news/author.js
  lib/v2/tencent/radar.js
  lib/v2/tencent/router.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12129 feat(route): update and fix route uestc
  docs/university.md
  lib/router.js
  lib/routes/universities/uestc/auto.js
  lib/routes/universities/uestc/cqe.js
  lib/routes/universities/uestc/cs.js
  lib/routes/universities/uestc/is.js
  lib/routes/universities/uestc/jwc.js
  lib/routes/universities/uestc/news.js
  lib/v2/uestc/auto.js
  lib/v2/uestc/cqe.js
  lib/v2/uestc/gr.js
  lib/v2/uestc/jwc.js
  lib/v2/uestc/maintainer.js
  lib/v2/uestc/news.js
  lib/v2/uestc/radar.js
  lib/v2/uestc/router.js
  lib/v2/uestc/scse.js
  lib/v2/uestc/sice.js
  lib/v2/uestc/sise.js
Labels: Auto: Route Test Complete, puppeteer, Route: v1, Route: v2

#12128 feat(route): add cgtn podcast 中国环球电视网 - 播客
  docs/traditional-media.md
  lib/v2/cgtn/maintainer.js
  lib/v2/cgtn/podcast.js
  lib/v2/cgtn/radar.js
  lib/v2/cgtn/router.js
Labels: Auto: Route Test Complete, Route: v2

#12124 docs: add options for order in 18comic
  docs/anime.md
  lib/v2/18comic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12111 feat(route): idolypride企划新闻
  docs/anime.md
  docs/en/anime.md
  lib/v2/idolypride/maintainer.js
  lib/v2/idolypride/news.js
  lib/v2/idolypride/radar.js
  lib/v2/idolypride/router.js
Labels: Auto: Route Test Complete, Route: v2

#12136 chore(route): use template for 18comic content
  docs/anime.md
  lib/v2/18comic/templates/description.art
  lib/v2/18comic/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12139 feat(route): add fish shell release notes
  docs/en/program-update.md
  docs/program-update.md
  lib/v2/fishshell/index.js
  lib/v2/fishshell/maintainer.js
  lib/v2/fishshell/radar.js
  lib/v2/fishshell/router.js
Labels: Auto: Route Test Complete, Route: v2

#12134 feat(route): add xkb 新快报（新快网）
  docs/traditional-media.md
  lib/v2/xkb/index.js
  lib/v2/xkb/maintainer.js
  lib/v2/xkb/radar.js
  lib/v2/xkb/router.js
  lib/v2/xkb/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12154 feat(route): add chsi/hotnews
  docs/study.md
  lib/v2/chsi/hotnews.js
  lib/v2/chsi/maintainer.js
  lib/v2/chsi/radar.js
  lib/v2/chsi/router.js
Labels: Auto: Route Test Complete, Route: v2

#12158 fix(route): update root url for newzmz
  lib/router.js
  lib/v2/newzmz/index.js
  lib/v2/newzmz/maintainer.js
  lib/v2/newzmz/radar.js
  lib/v2/newzmz/router.js
  lib/v2/newzmz/view.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12161 fix(route): fix route chiculture that can not parse date correctly sometimes
  lib/router.js
  lib/v2/chiculture/maintainer.js
  lib/v2/chiculture/radar.js
  lib/v2/chiculture/router.js
  lib/v2/chiculture/topic.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12163 fix(route): Fix thumbnail of 新快报
  lib/v2/xkb/index.js
Labels: Auto: Route Test Complete, Route: v2

#12166 feat(route): add wanqu
  docs/new-media.md
  lib/v2/wanqu/maintainer.js
  lib/v2/wanqu/news.js
  lib/v2/wanqu/radar.js
  lib/v2/wanqu/router.js
Labels: Auto: Route Test Complete, Route: v2

#12162 feat(route): Add 广州日报客户端、新花城
  docs/traditional-media.md
  lib/v2/gzdaily/app.js
  lib/v2/gzdaily/cmc.js
  lib/v2/gzdaily/maintainer.js
  lib/v2/gzdaily/radar.js
  lib/v2/gzdaily/router.js
  lib/v2/gzdaily/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12170 fix(route): nhentai
  docs/anime.md
  docs/en/anime.md
  docs/en/picture.md
  docs/picture.md
  lib/router.js
  lib/routes/nhentai/other.js
  lib/routes/nhentai/search.js
  lib/routes/nhentai/util.js
  lib/v2/nhentai/maintainer.js
  lib/v2/nhentai/other.js
  lib/v2/nhentai/radar.js
  lib/v2/nhentai/router.js
  lib/v2/nhentai/search.js
  lib/v2/nhentai/templates/desc.art
  lib/v2/nhentai/util.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#12171 fix(route): line today
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/line/today.js
  lib/v2/qdaily/radar.js
Labels: Auto: Route Test Complete, Route: v2

#12168 fix(route): 参考消息栏目
  docs/traditional-media.md
  lib/v2/cankaoxiaoxi/index.js
  lib/v2/cankaoxiaoxi/maintainer.js
  lib/v2/cankaoxiaoxi/radar.js
  lib/v2/cankaoxiaoxi/router.js
  lib/v2/cankaoxiaoxi/templates/description.art
Labels: Auto: Route Test Complete, Route: v2

#12178 feat(route): modelscope
  docs/programming.md
  lib/v2/modelscope/community.js
  lib/v2/modelscope/datasets.js
  lib/v2/modelscope/maintainer.js
  lib/v2/modelscope/models.js
  lib/v2/modelscope/radar.js
  lib/v2/modelscope/router.js
  lib/v2/modelscope/studios.js
  lib/v2/modelscope/templates/community.art
  lib/v2/modelscope/templates/desc.art
Labels: Auto: Route Test Complete, Route: v2

#12179 feat(route): instructables projects
  docs/en/other.md
  docs/other.md
  lib/v2/instructables/maintainer.js
  lib/v2/instructables/projects.js
  lib/v2/instructables/radar.js
  lib/v2/instructables/router.js
Labels: Auto: Route Test Complete, Route: v2

#12188 feat(route): techcrunch
  docs/en/new-media.md
  docs/en/traditional-media.md
  docs/new-media.md
  docs/traditional-media.md
  lib/v2/techcrunch/maintainer.js
  lib/v2/techcrunch/news.js
  lib/v2/techcrunch/radar.js
  lib/v2/techcrunch/router.js
Labels: Auto: Route Test Complete, Route: v2

#12191 fix: segmentfault/channel
  lib/v2/segmentfault/channel.js
Labels: Auto: Route Test Complete, Route: v2

#12192 feat(route): add /ustb/yzxc/tzgg
  docs/university.md
  lib/v2/ustb/maintainer.js
  lib/v2/ustb/radar.js
  lib/v2/ustb/router.js
  lib/v2/ustb/yzxc/tzgg.js
Labels: Auto: Route Test Complete, Route: v2

#12197 feat(route): Add GitHub Notification
  docs/en/programming.md
  docs/programming.md
  lib/v2/github/maintainer.js
  lib/v2/github/notifications.js
  lib/v2/github/radar.js
  lib/v2/github/router.js
Labels: Auto: Route Test Complete, Route: v2

#12120 feat: add Geocaching Blogs
  docs/blog.md
  docs/en/blog.md
  lib/v2/geocaching/blogs.js
  lib/v2/geocaching/maintainer.js
  lib/v2/geocaching/radar.js
  lib/v2/geocaching/router.js
  lib/v2/geocaching/templates/blogs.art
Labels: Auto: Route Test Complete, Route: v2

#12206 fix(route): add disable autoplay to bilibli/utils iframe
  lib/v2/bilibili/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12208 feat(route): line today publisher
  docs/en/new-media.md
  docs/new-media.md
  lib/v2/line/maintainer.js
  lib/v2/line/publisher.js
  lib/v2/line/radar.js
  lib/v2/line/router.js
  lib/v2/line/today.js
  lib/v2/line/utils.js
Labels: Auto: Route Test Complete, Route: v2

#12212 feat(route): add WFDF
  docs/en/other.md
  docs/other.md
  lib/v2/wfdf/maintainer.js
  lib/v2/wfdf/news.js
  lib/v2/wfdf/radar.js
  lib/v2/wfdf/router.js
Labels: Auto: Route Test Complete, Route: v2

#12214 chore: strict radar and maintainer build
  assets/radar-rules.js
  docs/anime.md
  lib/maintainer.js
  lib/radar-rules.js
  lib/radar.js
  lib/v2/2048/radar.js
  lib/v2/591/maintainer.js
  lib/v2/acfun/radar.js
  lib/v2/biquge/radar.js
  lib/v2/cls/radar.js
  lib/v2/cpuid/maintainer.js
  lib/v2/ddosi/radar.js
  lib/v2/disinformationindex/maintainer.js
  lib/v2/disinformationindex/radar.js
  lib/v2/earthquake/radar.js
  lib/v2/eastmoney/maintainer.js
  lib/v2/epicgames/radar.js
  lib/v2/feng/maintainer.js
  lib/v2/ff14/radar.js
  lib/v2/gitee/radar.js
  lib/v2/hackmd/radar.js
  lib/v2/icac/radar.js
  lib/v2/ifi-audio/radar.js
  lib/v2/iwara/radar.js
  lib/v2/mckinsey/maintainer.js
  lib/v2/mrdx/radar.js
  lib/v2/natgeo/radar.js
  lib/v2/ncepu/radar.js
  lib/v2/nhk/maintainer.js
  lib/v2/qweather/3days.js
  lib/v2/qweather/maintainer.js
  lib/v2/qweather/now.js
  lib/v2/qweather/radar.js
  lib/v2/qweather/templates/3days.art
  lib/v2/qweather/templates/now.art
  lib/v2/readhub/maintainer.js
  lib/v2/slowmist/maintainer.js
  lib/v2/taiwannews/radar.js
  lib/v2/ucas/radar.js
  lib/v2/uraaka-joshi/radar.js
  lib/v2/vimeo/maintainer.js
  lib/v2/wise/radar.js
  lib/v2/xmanhua/maintainer.js
  lib/v2/zuvio/maintainer.js
  package.json
  scripts/workflow/build-maintainer.js
Labels: core enhancement, Auto: No Route Needed
