Repository DIYgod/RSSHub, pull requests merged in 2024-06, with the labels that each got.

#15783 fix: fix ymgal article data fetching
  lib/routes/ymgal/article.ts
Labels: Auto: Route Test Complete, Route

#15711 feat: add dataguidance news
  lib/routes/dataguidance/index.ts
  lib/routes/dataguidance/namespace.ts
Labels: Auto: Route Test Complete, Route

#15785 docs: fix npm
  lib/routes/npm/package.ts
Labels: Auto: Route Test Complete, Route

#15788 feat(route): pubscholar
  lib/routes/pubscholar/explore.ts
  lib/routes/pubscholar/namespace.ts
  lib/routes/pubscholar/types.ts
  lib/routes/pubscholar/utils.ts
Labels: Auto: Route Test Complete, Route

#15772 feat(route): support psyche.co
  lib/routes/psyche/namespace.ts
  lib/routes/psyche/templates/essay.art
  lib/routes/psyche/templates/video.art
  lib/routes/psyche/topic.ts
  lib/routes/psyche/type.ts
  lib/routes/psyche/utils.ts
Labels: Auto: Route Test Complete, Route

#15699 feat: adds academia.edu route #12849
  lib/routes/academia/namespace.ts
  lib/routes/academia/topics.ts
Labels: Auto: Route Test Complete, Route

#15666 feat(route): add route SustainabilityMagazine articles
  lib/routes/sustainabilitymag/articles.ts
  lib/routes/sustainabilitymag/namespace.ts
Labels: Auto: Route Test Complete, Route

#15790 docs(types): mention the GitHub issue for the new design
  lib/types.ts
Labels: Auto: Route Test Skipped

#15798 feat(route): add Bugzilla
  lib/routes/bugzilla/bug.ts
  lib/routes/bugzilla/namespace.ts
Labels: Auto: Route Test Complete, Route

#15808 fix(route/apnews): Fix page
  lib/routes/apnews/topics.ts
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#15809 feat(route): add SSPAI Prime Community feed route
  lib/config.ts
  lib/routes/sspai/prime-community.ts
Labels: Auto: Route Test Complete, Route

#15820 fix: add www.weibo.com for weibo radar
  lib/routes/weibo/user.ts
Labels: Auto: Route Test Complete, Route

#15797 fix(route): update The Inithium authentication method
  lib/config.ts
  lib/routes/theinitium/channel.ts
  lib/routes/theinitium/follow.ts
  lib/routes/theinitium/utils.ts
Labels: Auto: Route Test Complete, Route

#15829 chore: docker bump base image
  Dockerfile
  package.json
Labels: dependencies, Auto: Route Test Complete

#15794 feat(route): add 北京价格
  lib/routes/beijingprice/index.ts
  lib/routes/beijingprice/namespace.ts
Labels: Auto: Route Test Complete, Route

#15842 feat(route): /ruc/ai
  lib/routes/ruc/ai.ts
  lib/routes/ruc/namespace.ts
Labels: Auto: Route Test Complete, Route

#15843 feat(route): add steam workshop search route
  lib/routes/steam/templates/workshop-search-description.art
  lib/routes/steam/workshop-search.ts
Labels: Auto: Route Test Complete, Route

#15855 fix(route): url formatting in 2048
  lib/routes/2048/index.ts
Labels: Auto: Route Test Complete, Route

#15838 feat(route/my-formosa): Create route
  lib/routes/my-formosa/index.ts
  lib/routes/my-formosa/namespace.ts
Labels: Auto: Route Test Complete, Route

#15860 fix(route): 修复果壳 RSS 订阅正文空白的问题
  lib/routes/guokr/utils.ts
Labels: Auto: Route Test Complete, Route

#15867 fix(route): finviz
  lib/routes/finviz/news.ts
Labels: Auto: Route Test Complete, Route

#15859 feat(route): 优化少数派系列路由每篇文章的封面图片,增加了每日必应路由两个控制参数
  lib/routes/bing/daily-wallpaper.ts
  lib/routes/sspai/author.ts
  lib/routes/sspai/index.ts
  lib/routes/sspai/matrix.ts
  lib/routes/sspai/tag.ts
  lib/routes/sspai/topic.ts
  lib/routes/sspai/topics.ts
Labels: Auto: Route Test Complete, Route

#15878 feat(route): 新增路由当当开放平台
  lib/routes/dangdang/namespace.ts
  lib/routes/dangdang/notice.ts
Labels: Auto: Route Test Complete, Route

#15883 feat(route): add steam sharefile changelog route
  lib/routes/steam/sharefile-changelog.ts
Labels: Auto: Route Test Complete, Route

#15894 fix(route/steam): sharefile-changelog example route
  lib/routes/steam/sharefile-changelog.ts
Labels: Auto: Route Test Complete, Route

#15887 feat(route): 新增得物开放平台和抖店开放平台
  lib/routes/dewu/declaration.ts
  lib/routes/dewu/namespace.ts
  lib/routes/jinritemai/docs.ts
  lib/routes/jinritemai/namespace.ts
Labels: Auto: Route Test Complete, Route

#15885 feat(route): 新增知闻AI资讯
  lib/routes/informedainews/docs.ts
  lib/routes/informedainews/namespace.ts
Labels: Auto: Route Test Complete, Route

#15908 fix(route): 允许全国气象预警生成空源不报错
  lib/routes/nmc/weatheralarm.ts
Labels: Auto: Route Test Complete, Route

#15912 fix(route): 「報導者」路由输出不完整
  lib/routes/twreporter/category.ts
Labels: Auto: Route Test Complete, Route

#15914 feat(route): 新增四川农业大学教务处
  lib/routes/sicau/jiaowu.ts
  lib/routes/sicau/namespace.ts
Labels: Auto: Route Test Complete, Route

#15920 feat(route): support v2ex category
  lib/routes/v2ex/topics.ts
Labels: Auto: Route Test Complete, Route

#15823 fix(route): item links in zhubai top20
  lib/routes/zhubai/top20.ts
Labels: Auto: Route Test Complete, Route

#15922 docs(route): 去除反爬严格标签，添加雷达规则
  lib/routes/sicau/jiaowu.ts
Labels: Auto: Route Test Skipped, Route

#15921 feat(route): cara.app
  lib/routes/cara/constant.ts
  lib/routes/cara/likes.ts
  lib/routes/cara/namespace.ts
  lib/routes/cara/portfolio.ts
  lib/routes/cara/templates/post.art
  lib/routes/cara/timeline.ts
  lib/routes/cara/types.ts
  lib/routes/cara/utils.ts
Labels: Auto: Route Test Complete, Route

#15938 perf(route): 添加过滤，减少请求时间
  lib/routes/sicau/jk.ts
Labels: Auto: Route Test Skipped, Auto: Route Test Complete, Route

#15943 feat(route): 新增北极星风电网
  lib/routes/bjx/fd.ts
  lib/routes/bjx/namespace.ts
Labels: Auto: Route Test Complete, Route

#15927 test: add test for rss3
  lib/views/rss3.test.ts
Labels: core enhancement, Auto: Route Test Complete

#15946 feat(route): Add bt0 (不太灵)
  lib/routes/bt0/mv.ts
  lib/routes/bt0/namespace.ts
Labels: Auto: Route Test Complete, Route

#15915 fix(route): sehuatang 403报错
  lib/routes/sehuatang/index.ts
Labels: Auto: Route Test Complete, Route

#15945 feat(route): Add Kelowna Capital News
  lib/routes/kelownacapnews/namespace.ts
  lib/routes/kelownacapnews/news.ts
Labels: Auto: Route Test Complete, Route

#15963 feat(route): bc3ts
  lib/routes/bc3ts/list.ts
  lib/routes/bc3ts/namespace.ts
  lib/routes/bc3ts/templates/media.art
  lib/routes/bc3ts/types.ts
Labels: Auto: Route Test Complete, Route

#15966 fix(route/apnews): Remove duplicate
  lib/routes/apnews/topics.ts
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#15968 feat(routes): add bt0(不太灵)的最新资源列表
  lib/routes/bt0/mv.ts
  lib/routes/bt0/tlist.ts
  lib/routes/bt0/util.ts
Labels: Auto: Route Test Complete, Route

#15970 feat(route): myfans
  lib/routes/fansly/post.ts
  lib/routes/fansly/tag.ts
  lib/routes/fansly/utils.ts
  lib/routes/myfans/namespace.ts
  lib/routes/myfans/post.ts
  lib/routes/myfans/templates/post.art
  lib/routes/myfans/types.ts
  lib/routes/myfans/utils.ts
Labels: Auto: Route Test Complete, Route

#15969 feat(route): add Alpine Linux packages update route
  lib/routes/alpinelinux/namespace.ts
  lib/routes/alpinelinux/pkgs.ts
Labels: Auto: Route Test Complete, Route

#15964 feat(routes): 新增深圳市医疗器械行业协会和中国食品土畜进出口商会
  lib/routes/cccfna/index.ts
  lib/routes/cccfna/namespace.ts
  lib/routes/samd/namespace.ts
  lib/routes/samd/news.ts
Labels: Auto: Route Test Complete, Route

#15971 fix(route): fix alpinelinux guid/link/description
  lib/routes/alpinelinux/pkgs.ts
Labels: Auto: Route Test Complete, Route

#15973 feat(route): add Microsoft Artifact Registry route
  lib/routes/microsoft/mcr.ts
  lib/routes/microsoft/namespace.ts
Labels: Auto: Route Test Complete, Route

#15982 fix(route): fetch zhihu column info with signed header
  lib/routes/zhihu/zhuanlan.ts
Labels: Auto: Route Test Complete, Route

#15974 feat(route): 新增魔都资源网
  lib/routes/moduzy/index.ts
  lib/routes/moduzy/namespace.ts
  lib/routes/moduzy/templates/vod.art
  lib/routes/moduzy/type.ts
Labels: Auto: Route Test Complete, Route

#15983 docs(route): 纠正文档错误
  lib/routes/moduzy/index.ts
  lib/routes/moduzy/namespace.ts
Labels: Auto: Route Test Skipped, Route

#15989 fix: typo
  lib/registry.ts
Labels: core enhancement, Auto: Route Test Skipped

#15990 feat(route/discourse): Cache site information
  lib/routes/discourse/notifications.ts
Labels: Auto: Route Test Complete, Route

#15993 fix(route): sehuatang 抓取原帖失败问题
  lib/routes/sehuatang/index.ts
Labels: Auto: Route Test Complete, Route

#16002 fix(route): ollama library
  lib/routes/ollama/models.ts
Labels: Auto: Route Test Complete, Route

#15996 feat(route): add ollama blog
  lib/routes/ollama/blog.ts
Labels: Auto: Route Test Complete, Route

#16005 fix(route): XSIJISHE rank headers is not defined
  lib/routes/xsijishe/rank.ts
Labels: Auto: Route Test Complete, Route

#16013 fix(route): Microsoft Artifact Registry route
  lib/routes/microsoft/mcr.ts
Labels: Auto: Route Test Complete, Route

#15991 feat(route): add journal《回归线》
  lib/routes/hypergryph/arknights/announce.ts
  lib/routes/hypergryph/arknights/arktca.ts
  lib/routes/hypergryph/arknights/japan.ts
  lib/routes/hypergryph/arknights/news.ts
Labels: Auto: Route Test Complete, Route

#16012 feat(route): introduce `/bluearchive/news`
  lib/routes/bluearchive/namespace.ts
  lib/routes/bluearchive/news.ts
Labels: Auto: Route Test Complete, Route

#16006 feat(route): add meituan tech blog
  lib/routes/meituan/namespace.ts
  lib/routes/meituan/tech.ts
Labels: Auto: Route Test Complete, Route

#16015 fix(route): strip tags from the title of the 3DM news route
  lib/routes/3dmgame/news-center.ts
Labels: Auto: Route Test Complete, Route

#16018 fix(route): Microsoft Artifact Registry route
  lib/routes/microsoft/mcr.ts
Labels: Auto: Route Test Complete, Route

#16016 fix(route): bluearchive jp incorrect news type
  lib/routes/bluearchive/news.ts
Labels: Auto: Route Test Complete, Route

#16017 feat(route): introduce `/raycast/changelog`
  lib/routes/raycast/changelog.ts
  lib/routes/raycast/namespace.ts
Labels: Auto: Route Test Complete, Route

#16026 feat(route): add 中国投资者网
  lib/routes/investor/index.ts
  lib/routes/investor/namespace.ts
Labels: Auto: Route Test Complete, Route

#16027 feat(route): 新增 ASMR Online
  lib/routes/asmr-200/index.ts
  lib/routes/asmr-200/namespace.ts
  lib/routes/asmr-200/templates/work.art
  lib/routes/asmr-200/type.ts
Labels: Auto: Route Test Complete, Route

#16029 fix(route): utgd category
  lib/routes/utgd/category.ts
  lib/routes/utgd/timeline.ts
  lib/routes/utgd/topic.ts
  lib/routes/utgd/utils.ts
Labels: Auto: Route Test Complete, Route

#16033 docs(route): 修改路由错误
  lib/routes/asmr-200/index.ts
Labels: Auto: Route Test Skipped, Route

#16037 feat(route): deadbydaylight.com latest blog
  lib/routes/deadbydaylight/index.ts
  lib/routes/deadbydaylight/namespace.ts
Labels: Auto: Route Test Complete, Route

#16040 doc(route): fix incorrect MD syntax
  lib/routes/telegram/channel.ts
Labels: Auto: Route Test Skipped, Route

#16044 fix(route): 中国投资者网返回空结果
  lib/routes/investor/index.ts
Labels: Auto: Route Test Complete, Route
