Repository DIYgod/RSSHub, pull requests merged in 2024-02, with the labels that each got.

#14354 fix: 微博内容中[查看图片]的链接支持被HOTLINK_TEMPLATE替换
  lib/middleware/anti-hotlink.js
  lib/v2/weibo/utils.js
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#14365 feat(route): Optimize Weibo blogger routing | 优化微博博主路由
  lib/v2/weibo/user.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14348 feat(route): add 我不是盐神
  lib/v2/onehu/common.js
  lib/v2/onehu/maintainer.js
  lib/v2/onehu/radar.js
  lib/v2/onehu/router.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14367 fix(modrinth): using path param instead of query string since the que…
  lib/v2/modrinth/maintainer.js
  lib/v2/modrinth/router.js
  lib/v2/modrinth/versions.js
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: v2

#14390 fix(route): 新华网新华社新闻
  lib/v2/news/maintainer.js
  lib/v2/news/radar.js
  lib/v2/news/router.js
  lib/v2/news/templates/description.art
  lib/v2/news/whxw.js
  lib/v2/news/xhsxw.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14353 feat: make url clickable
  lib/v2/jike/topic.js
Labels: Auto: Route Test Complete, Route: v2

#14396 feat(route): Optimize the title of Caixin Weekly | 优化《财新周刊》标题
  lib/v2/caixin/weekly.js
Labels: Auto: Route Test Complete, Route: v2

#14385 feat(route): Weibo Routing Add User Latest Follow Timeline | 微博路由 添加 用户最新关注时间线
  lib/v2/weibo/friends.js
  lib/v2/weibo/maintainer.js
  lib/v2/weibo/radar.js
  lib/v2/weibo/router.js
  website/docs/routes/government.mdx
  website/docs/routes/other.mdx
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14414 feat(route): add new route "konghq/blog-posts"
  lib/v2/konghq/blog-posts.js
  lib/v2/konghq/maintainer.js
  lib/v2/konghq/radar.js
  lib/v2/konghq/router.js
  website/docs/routes/programming.mdx
Labels: Auto: Route Test Complete, Route: v2

#14383 fix(route/thepaper): Avoid destructuring string when parsing tags
  lib/v2/thepaper/utils.js
Labels: Auto: Route Test Complete, Route: v2

#14426 feat(route): tass
  lib/v2/tass/maintainer.js
  lib/v2/tass/news.js
  lib/v2/tass/radar.js
  lib/v2/tass/router.js
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14429 fix(route): bsky empty description
  lib/v2/bsky/posts.js
Labels: Auto: Route Test Complete, Route: v2

#14425 feat: New Route Miyoushe - User Follow Dynamics | 新增路由 米游社 - 用户关注动态
  lib/config.js
  lib/v2/mihoyo/bbs/cache.js
  lib/v2/mihoyo/bbs/timeline.js
  lib/v2/mihoyo/maintainer.js
  lib/v2/mihoyo/radar.js
  lib/v2/mihoyo/router.js
  website/docs/install/config.md
  website/docs/routes/game.mdx
  website/docs/routes/government.mdx
  website/docs/routes/other.mdx
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/config.md
Labels: core enhancement, Auto: Route Test Complete, Route: v2

#14431 feat(route): zhihu top topic
  lib/v2/zhihu/maintainer.js
  lib/v2/zhihu/router.js
  lib/v2/zhihu/topic.js
  lib/v2/zhihu/utils.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14424 feat(route): 中证网中证快讯
  lib/router.js
  lib/routes/cs/news.js
  lib/v2/cs/maintainer.js
  lib/v2/cs/radar.js
  lib/v2/cs/router.js
  lib/v2/cs/zzkx.js
  website/docs/routes/finance.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14436 fix(route): Fix the issue of missing post cover in the official routing of Miyoushe; Optimize the data processing of posts | 修复 米游社官方路由中帖子封面缺失的问题；优化帖子的数据处理
  lib/v2/mihoyo/bbs/img-ranking.js
  lib/v2/mihoyo/bbs/official.js
  lib/v2/mihoyo/bbs/timeline.js
  lib/v2/mihoyo/bbs/user-post.js
  lib/v2/mihoyo/bbs/utils.js
  website/docs/routes/government.mdx
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#14437 feat(route): chinamoney
  lib/v2/chinamoney/channels.js
  lib/v2/chinamoney/maintainer.js
  lib/v2/chinamoney/notice.js
  lib/v2/chinamoney/radar.js
  lib/v2/chinamoney/router.js
  website/docs/routes/finance.mdx
Labels: Auto: Route Test Complete, Route: v2

#14441 feat(route): add World Meteorological Centre Beijing Publish
  lib/v2/wmc-bj/maintainer.js
  lib/v2/wmc-bj/publish.js
  lib/v2/wmc-bj/radar.js
  lib/v2/wmc-bj/router.js
  lib/v2/wmc-bj/templates/description.art
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#14445 fix(route/huxiu): Prevent URL parsing error.
  lib/v2/huxiu/util.js
Labels: Auto: Route Test Complete, Route: v2

#14446 feat(route): add 中证网
  lib/v2/cs/index.js
  lib/v2/cs/maintainer.js
  lib/v2/cs/radar.js
  lib/v2/cs/router.js
  lib/v2/cs/zzkx.js
  website/docs/routes/finance.mdx
Labels: Auto: Route Test Complete, Route: v2

#14456 chore: bump deps
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Skipped

#14457 feat(route): add 中证网中证视频
  lib/v2/cs/maintainer.js
  lib/v2/cs/radar.js
  lib/v2/cs/router.js
  lib/v2/cs/video.js
  website/docs/routes/finance.mdx
Labels: Auto: Route Test Complete, Route: v2

#14458 feat(route): fansly
  lib/v2/fansly/maintainer.js
  lib/v2/fansly/post.js
  lib/v2/fansly/radar.js
  lib/v2/fansly/router.js
  lib/v2/fansly/tag.js
  lib/v2/fansly/templates/media.art
  lib/v2/fansly/templates/poll.art
  lib/v2/fansly/templates/tip-goal.art
  lib/v2/fansly/utils.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14461 fix: throw better errors
  lib/routes/disqus/posts.js
  lib/routes/fanfou/favorites.js
  lib/routes/fanfou/home-timeline.js
  lib/routes/fanfou/public-timeline.js
  lib/routes/fanfou/user-timeline.js
  lib/routes/gocomics/index.js
  lib/routes/lastfm/loved.js
  lib/routes/lastfm/recent.js
  lib/routes/lastfm/top.js
  lib/routes/miniflux/get-entries.js
  lib/routes/miniflux/get-feeds.js
  lib/v2/12306/index.js
  lib/v2/163/music/playlist.js
  lib/v2/591/list.js
  lib/v2/acfun/article.js
  lib/v2/aisixiang/thinktank.js
  lib/v2/comicskingdom/index.js
  lib/v2/ehentai/favorites.js
  lib/v2/gdut/news.js
  lib/v2/github/follower.js
  lib/v2/github/star.js
  lib/v2/github/starred-repos.js
  lib/v2/gov/suzhou/news.js
  lib/v2/guokr/channel.js
  lib/v2/lofter/user.js
  lib/v2/manhuagui/subscribe.js
  lib/v2/mastodon/utils.js
  lib/v2/mihoyo/bbs/cache.js
  lib/v2/mihoyo/bbs/timeline.js
  lib/v2/njust/cwc.js
  lib/v2/njust/dgxg.js
  lib/v2/njust/eo.js
  lib/v2/njust/eoe.js
  lib/v2/njust/jwc.js
  lib/v2/notion/database.js
  lib/v2/pianyuan/search.js
  lib/v2/pianyuan/utils.js
  lib/v2/pixiv/bookmarks.js
  lib/v2/pixiv/illustfollow.js
  lib/v2/pixiv/ranking.js
  lib/v2/pixiv/search.js
  lib/v2/pixiv/user.js
  lib/v2/sehuatang/user.js
  lib/v2/spotify/top.js
  lib/v2/spotify/utils.js
  lib/v2/sspai/author.js
  lib/v2/telegram/channel.js
  lib/v2/telegram/stickerpack.js
  lib/v2/twitter/likes.js
  lib/v2/twitter/list.js
  lib/v2/twitter/trends.js
  lib/v2/ustc/eeis.js
  lib/v2/ustc/gs.js
  lib/v2/ustc/sist.js
  lib/v2/weibo/friends.js
  lib/v2/weibo/group.js
  lib/v2/youtube/custom.js
  lib/v2/youtube/playlist.js
  lib/v2/youtube/subscriptions.js
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14466 fix(route): 4games full text
  lib/router.js
  lib/routes/4gamers/category.js
  lib/routes/4gamers/tag.js
  lib/routes/4gamers/topic.js
  lib/v2/4gamers/category.js
  lib/v2/4gamers/maintainer.js
  lib/v2/4gamers/radar.js
  lib/v2/4gamers/router.js
  lib/v2/4gamers/tag.js
  lib/v2/4gamers/templates/description.art
  lib/v2/4gamers/templates/image.art
  lib/v2/4gamers/topic.js
  lib/v2/4gamers/utils.js
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14479 feat(route): add 不良林
  lib/v2/bulianglin/bulianglin.js
  lib/v2/bulianglin/maintainer.js
  lib/v2/bulianglin/radar.js
  lib/v2/bulianglin/router.js
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route: v2

#14481 feat(route): shoac
  lib/v2/shoac/maintainer.js
  lib/v2/shoac/radar.js
  lib/v2/shoac/recent-show.js
  lib/v2/shoac/router.js
  lib/v2/shoac/templates/detail.art
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: v2

#14467 feat: add PwC Strategy& Sustainability route
  lib/v2/pwc/maintainer.js
  lib/v2/pwc/radar.js
  lib/v2/pwc/router.js
  lib/v2/pwc/sustainability.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, puppeteer, Route: v2

#14483 fix: 豆瓣榜单与集合支持分页处理
  lib/v2/douban/other/list.js
Labels: Auto: Route Test Complete, Route: v2

#14484 feat(route): Support sortby upvotes in Huggingface Daily Papers
  lib/v2/huggingface/daily-papers.js
Labels: Auto: Route Test Complete, Route: v2

#14486 feat(route): add 电脑玩物
  lib/v2/playpcesor/maintainer.js
  lib/v2/playpcesor/radar.js
  lib/v2/playpcesor/router.js
  lib/v2/playpcesor/rss.js
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route: v2

#14482 feat(route): add Transcript Forest
  lib/v2/transcriptforest/index.js
  lib/v2/transcriptforest/maintainer.js
  lib/v2/transcriptforest/radar.js
  lib/v2/transcriptforest/router.js
  lib/v2/transcriptforest/templates/description.art
  website/docs/routes/multimedia.mdx
Labels: Auto: Route Test Complete, Route: v2

#14453 fix: lofter tag 绕过登录需求
  lib/v2/lofter/tag.js
Labels: Auto: Route Test Complete, Route: v2

#14493 feat(route): indienova
  lib/router.js
  lib/routes/indienova/article.js
  lib/v2/indienova/article.js
  lib/v2/indienova/column.js
  lib/v2/indienova/gamedb.js
  lib/v2/indienova/maintainer.js
  lib/v2/indienova/radar.js
  lib/v2/indienova/router.js
  lib/v2/indienova/usergames.js
  lib/v2/indienova/utils.js
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14494 fix: encode tag name in lofter request's form
  lib/v2/lofter/tag.js
Labels: Auto: Route Test Complete, Route: v2

#14498 fix(route): instagram null caption
  lib/v2/instagram/common-utils.js
Labels: Auto: Route Test Complete, Route: v2

#14495 feat(route): add 免費資源網路社群
  lib/v2/free/maintainer.js
  lib/v2/free/radar.js
  lib/v2/free/router.js
  lib/v2/free/rss.js
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route: v2

#14499 feat(route): add 晋江文学城作者最新作品
  lib/v2/jjwxc/author.js
  lib/v2/jjwxc/book.js
  lib/v2/jjwxc/maintainer.js
  lib/v2/jjwxc/radar.js
  lib/v2/jjwxc/router.js
  lib/v2/jjwxc/templates/author.art
  lib/v2/jjwxc/templates/book.art
  website/docs/routes/reading.mdx
Labels: Auto: Route Test Complete, Route: v2

#14519 fix(route): hitwh
  lib/v2/hitwh/today.js
Labels: Auto: Route Test Complete, Route: v2

#14515 feat(route): Add qdu houqin
  lib/v2/qdu/houqin.js
  lib/v2/qdu/maintainer.js
  lib/v2/qdu/radar.js
  lib/v2/qdu/router.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#14524 fix(route/cna): Rectify link.
  lib/v2/cna/web/index.js
Labels: Auto: Route Test Complete, Route: v2

#14520 feat(route): add 明月中文网
  lib/v2/56kog/class.js
  lib/v2/56kog/maintainer.js
  lib/v2/56kog/radar.js
  lib/v2/56kog/router.js
  lib/v2/56kog/templates/description.art
  lib/v2/56kog/top.js
  lib/v2/56kog/util.js
  website/docs/routes/reading.mdx
Labels: Auto: Route Test Complete, Route: v2

#14514 feat(route): add 吉首大学相关通知公告
  lib/v2/jsu/cxzx.js
  lib/v2/jsu/jwc.js
  lib/v2/jsu/maintainer.js
  lib/v2/jsu/math.js
  lib/v2/jsu/radar.js
  lib/v2/jsu/rjxy.js
  lib/v2/jsu/router.js
  lib/v2/jsu/universityindex.js
  lib/v2/jsu/utils/index.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#14518 feat(route): add HiFeng'Blog
  lib/v2/hicairo/maintainer.js
  lib/v2/hicairo/radar.js
  lib/v2/hicairo/router.js
  lib/v2/hicairo/rss.js
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route: v2

#14529 fix(route/ft): Fix author name.
  lib/v2/ft/myft.js
Labels: Auto: Route Test Complete, Route: v2

#14526 fix(route/pts): Modify item parsing method.
  lib/v2/pts/index.js
Labels: Auto: Route Test Complete, Route: v2

#14537 fix(router/u9a9): return cache if need
  lib/v2/u9a9/index.js
Labels: Auto: Route Test Complete, Route: v2

#14534 fix(route/remnote): fix author name
  lib/v2/remnote/changelog.js
  lib/v2/remnote/maintainer.js
  website/docs/routes/program-update.mdx
Labels: Auto: Route Test Complete, Route: v2

#14539 feat(route): cib/whpj
  lib/v2/boc/radar.js
  lib/v2/cib/maintainer.js
  lib/v2/cib/radar.js
  lib/v2/cib/router.js
  lib/v2/cib/whpj.js
  lib/v2/iqnew/radar.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#14541 fix(route): Kemono Posts published date
  lib/v2/kemono/index.js
Labels: Auto: Route Test Complete, Route: v2

#14517 fix: 更改 B站嵌入方式来防止误点会导致跳转 B站
  lib/v2/bilibili/utils.js
Labels: Auto: Route Test Skipped, Route: v2

#14538 feat(route): add howtoforge
  lib/v2/howtoforge/maintainer.js
  lib/v2/howtoforge/radar.js
  lib/v2/howtoforge/router.js
  lib/v2/howtoforge/rss.js
  website/docs/routes/study.mdx
Labels: Auto: Route Test Complete, Route: v2

#14547 fix(route): bilibili/watchlater
  lib/v2/bilibili/watchlater.js
Labels: Auto: Route Test Complete, Route: v2

#14546 feat(route): Add routes to SISU news.
  lib/v2/shisu/maintainer.js
  lib/v2/shisu/news.js
  lib/v2/shisu/radar.js
  lib/v2/shisu/router.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#14550 feat(route): add 荒岛
  lib/v2/lala/maintainer.js
  lib/v2/lala/radar.js
  lib/v2/lala/router.js
  lib/v2/lala/rss.js
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route: v2

#14560 feat(route): add 四月网
  lib/v2/m4/index.js
  lib/v2/m4/maintainer.js
  lib/v2/m4/radar.js
  lib/v2/m4/router.js
  lib/v2/m4/templates/description.art
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14564 feat(route): add unraid community apps
  lib/v2/unraid/community-apps.js
  lib/v2/unraid/maintainer.js
  lib/v2/unraid/radar.js
  lib/v2/unraid/router.js
  website/docs/routes/program-update.mdx
Labels: Auto: Route Test Complete, Route: v2

#14548 feat(router/u3c3): support preview
  lib/v2/u3c3/index.js
  lib/v2/u3c3/maintainer.js
  lib/v2/u3c3/router.js
  website/docs/routes/multimedia.mdx
Labels: Auto: Route Test Complete, Route: v2

#14572 fix(route): 2048/:type
  lib/v2/2048/index.js
Labels: Auto: Route Test Complete, Route: v2

#14580 feat(route): add 赵容部落
  lib/v2/zrblog/maintainer.js
  lib/v2/zrblog/radar.js
  lib/v2/zrblog/router.js
  lib/v2/zrblog/rss.js
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route: v2

#14574 feat(route): add TV Tropes Featured
  lib/v2/tvtropes/featured.js
  lib/v2/tvtropes/maintainer.js
  lib/v2/tvtropes/radar.js
  lib/v2/tvtropes/router.js
  lib/v2/tvtropes/templates/description.art
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#14579 feat(route): add sfacg
  lib/v2/sfacg/maintainer.js
  lib/v2/sfacg/novel-chapter.js
  lib/v2/sfacg/radar.js
  lib/v2/sfacg/router.js
  website/docs/routes/reading.mdx
Labels: Auto: Route Test Complete, Route: v2

#14591 feat(route): add 欢乐书客
  lib/v2/hbooker/chapter.js
  lib/v2/hbooker/maintainer.js
  lib/v2/hbooker/radar.js
  lib/v2/hbooker/router.js
  website/docs/routes/reading.mdx
Labels: Auto: Route Test Complete, Route: v2

#14593 feat: internal media proxy
  lib/config.js
  lib/v2/rsshub/maintainer.js
  lib/v2/rsshub/media.js
  lib/v2/rsshub/referer-map.js
  lib/v2/rsshub/router.js
  package.json
  pnpm-lock.yaml
  website/docs/install/config.md
  website/docs/routes/other.mdx
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/config.md
Labels: dependencies, core enhancement, Auto: Route Test Complete, Route: v2

#14592 feat(route): add 刺猬猫
  lib/v2/ciweimao/chapter.js
  lib/v2/ciweimao/maintainer.js
  lib/v2/ciweimao/radar.js
  lib/v2/ciweimao/router.js
  website/docs/routes/reading.mdx
Labels: Auto: Route Test Complete, Route: v2

#13255 feat(route): Telegram Channels (with video and files)
  lib/config.js
  lib/v2/telegram/maintainer.js
  lib/v2/telegram/router.js
  lib/v2/telegram/tglib/channel.js
  lib/v2/telegram/tglib/client.js
  package.json
  pnpm-lock.yaml
  website/docs/install/config.md
  website/docs/routes/social-media.mdx
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/config.md
Labels: dependencies, core enhancement, Auto: Route Test Complete, Route: v2

#14586 feat(route): Add wmpvp
  lib/v2/wmpvp/index.js
  lib/v2/wmpvp/maintainer.js
  lib/v2/wmpvp/radar.js
  lib/v2/wmpvp/router.js
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: v2

#14558 feat(route): tongji/bks
  lib/v2/tongji/bks.js
  lib/v2/tongji/maintainer.js
  lib/v2/tongji/radar.js
  lib/v2/tongji/router.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#14598 fix: favicon not found
  lib/routes.test.ts
  lib/routes.ts
Labels: Auto: Route Test Complete
