Repository DIYgod/RSSHub, pull requests merged in 2024-08, with the labels that each got.

#16320 fix(route/zhihu): Trim characters while extracting cookies
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#16336 feat(route): javdb actors addon_tags
  lib/routes/javdb/actors.ts
Labels: Auto: Route Test Complete, Route

#16346 fix(route/keylol): handle lazy load image
  lib/routes/keylol/index.ts
Labels: Auto: Route Test Complete, Route

#16347 feat(route/apnews): Enhance support for video pages
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#16359 fix(route): TVB「NEWS」返回异常
  lib/routes/tvb/news.ts
Labels: Auto: Route Test Complete, Route

#16360 fix(route/fediverse): Fixes for ActivityPub
  lib/routes/fediverse/timeline.ts
Labels: Auto: Route Test Complete, Route

#16354 fix(route): 「141jav」和「141ppv」路由失效
  lib/routes/141jav/index.ts
  lib/routes/141ppv/index.ts
Labels: Auto: Route Test Complete, Route

#16352 feat(route): add google research blog
  lib/routes/google/research.ts
Labels: Auto: Route Test Complete, Route

#16356 feat(route): add The.bi
  lib/routes/the/index.ts
  lib/routes/the/namespace.ts
  lib/routes/the/templates/description.art
  lib/routes/the/util.ts
Labels: Auto: Route Test Complete, Route

#16362 fix(route): parse error for nationalgeographic
  lib/routes/nationalgeographic/latest-stories.ts
  lib/routes/nationalgeographic/templates/stories.art
Labels: Auto: Route Test Complete, Route

#16383 fix(route): copymanga
  lib/routes/copymanga/comic.ts
Labels: Auto: Route Test Complete, Auto: Route Test Failed, Route

#16387 fix: delete rss3.io statistics
  lib/config.ts
Labels: Auto: Route Test Skipped

#16351 feat(route/showstart): add route for site; add typescript types for other routes; replace got with ofetch
  lib/routes/showstart/artist.ts
  lib/routes/showstart/brand.ts
  lib/routes/showstart/event.ts
  lib/routes/showstart/search.ts
  lib/routes/showstart/service.ts
  lib/routes/showstart/site.ts
  lib/routes/showstart/utils.ts
Labels: Auto: Route Test Complete, Route

#16382 feat(route): add 51read.org
  lib/routes/51read/article.ts
  lib/routes/51read/namespace.ts
Labels: Auto: Route Test Complete, Route

#16389 fix(route): people,handle diff site encoding.
  lib/routes/people/index.ts
Labels: Auto: Route Test Complete, Route

#16394 fix(showstart): fix the match condition of city and style
  lib/routes/showstart/service.ts
Labels: Auto: Route Test Complete, Route

#16361 chore: add link for youtube subscription
  lib/routes/youtube/subscriptions.ts
Labels: Auto: Route Test Complete, Route

#16357 fix(route): use wp api for techcrunch
  lib/routes/techcrunch/news.ts
  lib/routes/techcrunch/templates/description.art
Labels: Auto: Route Test Complete, Route

#16370 feat(route/t66y): 支持草榴社区的 search 参数区分主题类型
  lib/routes/t66y/index.ts
Labels: Auto: Route Test Complete, Route

#16404 feat: add route /gov/zj/ningborsjnotice/:colId?,/gov/zj/ningbogzw-notice/:colId?
  lib/routes/gov/zj/ningbogzw-notice.ts
  lib/routes/gov/zj/ningborsjnotice.ts
Labels: Auto: Route Test Complete, Route

#16419 fix(docs): 靠谱新闻「NEWS」example 不正确
  lib/routes/kaopu/news.ts
Labels: Auto: Route Test Complete, Route

#16417 feat(route): Add LMU
  lib/routes/lmu/jobs.ts
  lib/routes/lmu/namespace.ts
  lib/routes/lmu/templates/jobPosting.art
Labels: Auto: Route Test Complete, Route

#16416 feat(route): 增加对千橡游戏下天书奇谈游戏最新消息的支持
  lib/routes/imop/namespace.ts
  lib/routes/imop/tianshu.ts
Labels: Auto: Route Test Complete, Route

#16431 fix(route): hket url
  lib/routes/hket/index.ts
Labels: Auto: Route Test Complete, Route

#16104 feat(route): add buaa/lib/space/newbook
  lib/routes/buaa/jiaowu.ts
  lib/routes/buaa/lib/space/newbook.ts
  lib/routes/buaa/lib/space/templates/newbook.art
Labels: Auto: Route Test Complete, Route

#16446 fix(route/fediverse): Item link is empty
  lib/routes/fediverse/timeline.ts
Labels: Auto: Route Test Complete, Route

#16448 fix(route/sjtu/jwc): handle error when fetching sjtu/jwc article
  lib/routes/sjtu/jwc.ts
Labels: Auto: Route Test Complete, Route

#16450 feat: add healthz route for server health check
  docker-compose.yml
  lib/registry.ts
Labels: core enhancement, Auto: Route Test Skipped

#16433 feat(route/yicai): Add route for carousel part on front page
  lib/routes/yicai/carousel.ts
  lib/routes/yicai/utils.ts
Labels: Auto: Route Test Complete, Route

#16455 fix(core): healthz bypass cache
  lib/registry.test.ts
  lib/registry.ts
  lib/routes/healthz.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#16440 fix(route): devolverdigital no longer uses embedded json
  lib/routes/devolverdigital/blog.ts
Labels: Auto: Route Test Complete, Route

#16463 fix(route/iwara): fix user login failure
  lib/routes/iwara/subscriptions.ts
Labels: Auto: Route Test Complete, Route

#16465 fix(route/sydwgkzp): sync with the new website structure to fix 503
  lib/routes/gov/chongqing/sydwgkzp.ts
Labels: Auto: Route Test Complete, Route

#16454 feat(route/infzm): Support hot articles list.
  lib/routes/infzm/hot.ts
  lib/routes/infzm/index.ts
  lib/routes/infzm/utils.ts
Labels: Auto: Route Test Complete, Route

#16447 feat(route/apnews): Add support for sitemap
  lib/routes/apnews/sitemap.ts
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#16405 fix(docs): xiaohongshu doc missing
  lib/routes/xiaohongshu/notes.ts
  lib/routes/xiaohongshu/user.ts
Labels: Auto: Route Test Complete, Route

#16467 fix(sustainabiliymag): fix unhandled widget type on blockquote
  lib/routes/sustainabilitymag/articles.ts
Labels: Auto: Route Test Complete, Route

#16457 feat(route): add route /hottoys (#16238)
  lib/routes/hottoys/index.ts
  lib/routes/hottoys/namespace.ts
Labels: Auto: Route Test Complete, Route

#16395 fix(route): cctv path conflict
  lib/routes/cctv/category.ts
  lib/routes/cctv/xwlb.ts
Labels: Auto: Route Test Complete, Route

#16474 feat(route): add 中央日报中文网
  lib/routes/joins/chinese.ts
  lib/routes/joins/namespace.ts
  lib/routes/joins/templates/description.art
Labels: Auto: Route Test Complete, Route

#16473 fix(route/zhihu): Fix bug that zhihu answers would be truncated
  lib/routes/zhihu/answers.ts
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#16475 feat(route): add Web3 Geek Daily
  lib/routes/rebase/geekdaily.ts
  lib/routes/rebase/namespace.ts
Labels: Auto: Route Test Complete, Route

#16461 feat(route/gis): Add route
  lib/routes/gisreportsonline/index.ts
  lib/routes/gisreportsonline/namespace.ts
Labels: Auto: Route Test Complete, Route

#16487 fix(route/gisreportsonlline): Restore linefeed
  lib/routes/gisreportsonline/index.ts
Labels: Auto: Route Test Complete, Route

#16494 fix(route): new yorker
  lib/routes/newyorker/news.ts
Labels: Auto: Route Test Complete, Route

#16468 feat(towardsdatascience): add route
  lib/routes/towardsdatascience/latest.ts
  lib/routes/towardsdatascience/namespace.ts
Labels: Auto: Route Test Complete, Route

#16488 fix(route): showstart search
  lib/routes/showstart/search.ts
Labels: Auto: Route Test Complete, Route

#16495 feat(route): add 国家粮食和物资储备局
  lib/routes/gov/lswz/index.ts
Labels: Auto: Route Test Complete, Route

#16496 feat: route of flashcat blog
  lib/routes/flashcat/blog.ts
  lib/routes/flashcat/namespace.ts
Labels: Auto: Route Test Complete, Route

#16501 fix: rsshub radar for uber blog
  lib/routes/uber/blog.ts
Labels: Auto: Route Test Complete, Route

#16486 feat(route/rss3): RSS3 metadata parser
  lib/routes/rss3/index.ts
  lib/routes/rss3/interfaces/metadata.ts
  lib/utils/camelcase-keys.spec.ts
  lib/utils/camelcase-keys.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: Route Test Complete, Route

#16502 fix: invalid example route of flashcat blog
  lib/routes/flashcat/blog.ts
Labels: Auto: Route Test Complete, Route

#16464 feat(middleware): process feed title and description using LLM
  lib/config.ts
  lib/middleware/parameter.test.ts
  lib/middleware/parameter.ts
  lib/routes/test/index.ts
  lib/setup.test.ts
Labels: core enhancement, Auto: Route Test Skipped, Route

#16512 fix(route): 国家粮食和物资储备局能源储备
  lib/routes/gov/lswz/index.ts
Labels: Auto: Route Test Complete, Route

#16515 feat(route): add galxe
  lib/routes/galxe/index.ts
  lib/routes/galxe/namespace.ts
Labels: Auto: Route Test Complete, Route

#16516 feat: route of smzdm product
  lib/routes/smzdm/product.ts
Labels: Auto: Route Test Complete, Route

#16523 fix(route/telegram/channel): invisible images in albums and Link Preview
  lib/routes/telegram/channel.ts
Labels: Auto: Route Test Complete, Route

#16527 feat(route): add goldman sachs developer blog
  lib/routes/gs/developer/blog.ts
  lib/routes/gs/namespace.ts
Labels: Auto: Route Test Complete, Route

#16526 feat(route/eastmoney): 增加支持东方财富类型为个股研报的研究报告
  lib/routes/eastmoney/report/index.ts
  lib/routes/eastmoney/templates/stock_description.art
  lib/routes/eastmoney/utils.ts
Labels: Auto: Route Test Complete, Route

#16524 feat(route): add Link3
  lib/routes/link3/events.ts
  lib/routes/link3/namespace.ts
  lib/routes/link3/profile.ts
Labels: Auto: Route Test Complete, Route

#16514 feat(route): add route for recruit notice of West China Hospital
  lib/routes/wchscu/namespace.ts
  lib/routes/wchscu/recruit.ts
Labels: Auto: Route Test Complete, Route

#16537 fix: add missing curl to docker image
  Dockerfile
Labels: Auto: Route Test Skipped

#16538 feat(route): add route for gr.xidian.edu.cn
  lib/routes/xidian/gr.ts
Labels: Auto: Route Test Complete, Route

#16547 feat(route): add route for cs.xidian.edu.cn && fix url of namespace
  lib/routes/xidian/cs.ts
  lib/routes/xidian/namespace.ts
Labels: Auto: Route Test Complete, Route

#16372 feat(route): 新增 华南理工大学广州国际校区通知公告、新闻聚焦、媒体报道 路由
  lib/routes/scut/gzic/media.ts
  lib/routes/scut/gzic/news.ts
  lib/routes/scut/gzic/notice.ts
Labels: Auto: Route Test Complete, Route

#16525 feat(route/ustc): add School of Chemistry and Materials Science
  lib/routes/ustc/scms.ts
Labels: Auto: Route Test Complete, Route

#16551 fix: update urls for xidian
  lib/routes/xidian/cs.ts
  lib/routes/xidian/gr.ts
  lib/routes/xidian/jwc.ts
  lib/routes/xidian/namespace.ts
Labels: Auto: Route Test Skipped, Route

#16550 fix(route/zsxq): 优化问答型消息可读性
  lib/routes/zsxq/types.ts
  lib/routes/zsxq/utils.ts
Labels: Auto: Route Test Complete, Route

#16549 feat(twitter): add twitter getHomeLatestTimeline
  lib/routes/twitter/api/index.ts
  lib/routes/twitter/api/web-api/api.ts
  lib/routes/twitter/api/web-api/constants.ts
  lib/routes/twitter/home-latest.ts
Labels: Auto: Route Test Complete, Route

#16546 fix: update example of Engineering Blogs in RSSHub docs
  lib/routes/imhcg/blog.ts
Labels: Auto: Route Test Skipped, Route

#16534 feat(route): add QuestN
  lib/routes/questn/community.ts
  lib/routes/questn/events.ts
  lib/routes/questn/namespace.ts
  lib/routes/questn/util.ts
Labels: Auto: Route Test Complete, Route

#16568 feat(route): add 深圳证券交易所本所业务规则
  lib/routes/szse/rule.ts
Labels: Auto: Route Test Complete, Route

#16585 revert: "chore(deps-dev): bump msw from 2.3.5 to 2.4.0"
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route No Found, Auto: Route Test Failed

#16548 feat(route): add route for https://jw.cdu.edu.cn/
  lib/routes/cdu/jwgg.ts
  lib/routes/cdu/namespace.ts
Labels: Auto: Route Test Complete, Route

#16591 feat(route): add 上海证券交易所本所业务规则
  lib/routes/sse/lawandrules.ts
  lib/routes/sse/sselawsrules.ts
Labels: Auto: Route Test Complete, Route

#16586 fix: clean github activity output
  lib/routes/github/activity.ts
Labels: Auto: Route Test Complete, Route
