Repository DIYgod/RSSHub, pull requests merged in 2024-09, with the labels that each got.

#16606 chore(rss3): remove parser and move to use lib
  lib/routes/rss3/index.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route

#16595 feat(route): add 华中科技大学研究生院
  lib/routes/hust/gs.ts
  lib/routes/hust/namespace.ts
Labels: Auto: Route Test Complete, Route

#16607 feat(route): add 国家金融监督管理总局
  lib/routes/gov/cbirc/index.ts
Labels: Route

#16608 fix(route/picnob/user): missing linebreak
  lib/routes/picnob/user.ts
Labels: Auto: Route Test Complete, Route

#16594 feat(route): add gamersky
  lib/routes-deprecated/gamersky/ent.js
  lib/routes-deprecated/gamersky/news.js
  lib/routes/gamersky/ent.ts
  lib/routes/gamersky/namespace.ts
  lib/routes/gamersky/news.ts
  lib/routes/gamersky/review.ts
  lib/routes/gamersky/utils.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#16617 feat: blockbeats article subcategory
  lib/routes/blockbeats/article-choice.ts
  lib/routes/blockbeats/namespace.ts
  lib/routes/theblockbeats/index.ts
Labels: Auto: Route Test Complete, Route

#16619 fix(route): tidy sis001 articles
  lib/routes/sis001/author.ts
  lib/routes/sis001/common.ts
Labels: Auto: Route Test Complete, Route

#16627 feat(route): add 中国农业农村信息网
  lib/routes/agri/index.ts
  lib/routes/agri/namespace.ts
  lib/routes/agri/templates/description.art
Labels: Auto: Route Test Complete, Route

#16628 fix(bilibili): fix `-352` error by mocking new required parameters
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#16400 feat(route): binance announcement
  lib/routes/binance/announcement.ts
  lib/routes/binance/types.ts
Labels: Auto: Route Test Complete, Stale, Route

#16633 fix(route): update chapter name style of sis001 article
  lib/routes/sis001/common.ts
Labels: Auto: Route Test Complete, Route

#16635 fix(route): fix wrong trimming for some sis001 articles
  lib/routes/sis001/common.ts
Labels: Auto: Route Test Complete, Route

#16632 fix(taoguba): response url is null
  lib/routes/taoguba/blog.ts
  lib/routes/taoguba/index.ts
Labels: Auto: Route Test Complete, Route

#16610 feat(middleware): 优化 多媒体处理增加 data.image/item.enclosure_url/item.image…
  lib/middleware/anti-hotlink.test.ts
  lib/middleware/anti-hotlink.ts
  lib/routes/test/index.ts
Labels: core enhancement, Auto: Route Test Skipped, Route

#16625 feat(route/sjtu/seiee): New site support
  lib/routes/sjtu/namespace.ts
  lib/routes/sjtu/seiee/index.ts
Labels: Auto: Route Test Complete, Route

#16642 update: source site add crypto in header
  lib/routes/chlinlearn/daily-blog.ts
Labels: Auto: Route Test Complete, Route

#16654 fix(route): use acw sc v2 utils
  lib/routes/xueqiu/cookies.ts
Labels: Auto: Route Test Complete, Route

#16652 feat(route): add 国立感染症研究所感染症発生動向調査週報ダウンロード
  lib/routes/go/namespace.ts
  lib/routes/go/niid/idwr-dl.ts
Labels: Auto: Route Test Complete, Route

#16655 fix(route/xueqiu): show user name instead
  lib/routes/xueqiu/favorite.ts
Labels: Auto: Route Test Complete, Route

#16644 fix(route): add center tag to sis001 articles
  lib/routes/sis001/common.ts
Labels: Auto: Route Test Complete, Route

#16650 feat(route): add lu.ma
  lib/routes/luma/index.ts
  lib/routes/luma/namespace.ts
Labels: Auto: Route Test Complete, Route

#16659 feat(route): 添加BestBlogs.dev文章路由
  lib/routes/bestblogs/feeds.ts
  lib/routes/bestblogs/namespace.ts
Labels: Auto: Route Test Complete, Route

#16663 fix(route/the): Always use the first page to get the latest result
  lib/routes/the/index.ts
Labels: Auto: Route Test Complete, Route

#16664 feat(route): add 厚生労働省PDF
  lib/routes/go/mhlw/pdf.ts
Labels: Auto: Route Test Complete, Route

#16667 fix(github activity): only replace relative link
  lib/routes/github/activity.ts
Labels: Auto: Route Test Complete, Route

#16675 fix: remove address in rss3 content if html render existed
  lib/routes/rss3/index.ts
Labels: Auto: Route Test Complete, Route

#16656 feat(route): add route for chikubi.jp
  lib/routes/chikubi/index.ts
  lib/routes/chikubi/namespace.ts
  lib/routes/chikubi/utils.ts
Labels: Auto: Route Test Complete, Route

#16680 chore: update rss3/sdk
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete

#16640 feat(route/apnews): Add support for API
  lib/routes/apnews/api.ts
Labels: Auto: Route Test Complete, Route

#16679 feat(route): kakuyomu
  lib/routes/kakuyomu/namespace.ts
  lib/routes/kakuyomu/types.ts
  lib/routes/kakuyomu/works.ts
Labels: Auto: Route Test Complete, Route

#16694 fix: fill image from itunes_item_image
  lib/middleware/template.tsx
Labels: core enhancement, Auto: Route Test Complete

#16697 test: fix tests
  lib/errors/index.test.ts
  lib/middleware/template.tsx
  lib/views/json.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: Route Test Complete

#16677 feat(route): add route for easynomad
  lib/routes/easynomad/joblist.ts
  lib/routes/easynomad/namespace.ts
Labels: Auto: Route Test Complete, Route

#16699 fix(route/follow): add feed image and fix radar rules
  lib/routes/follow/profile.ts
Labels: Auto: Route Test Complete, Route

#16701 ‌fix(xiaohongshu): The guid rule will dynamically update based on the request time.
  lib/routes/xiaohongshu/user.ts
Labels: Auto: Route Test Complete, Route

#16691 fix(route/zhihu): Fix `d_c0`
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#16696 feat(route): add 极客公园
  lib/router.js
  lib/routes-deprecated/geekpark/breakingnews.js
  lib/routes/geekpark/index.ts
  lib/routes/geekpark/namespace.ts
  lib/routes/geekpark/templates/description.art
Labels: Auto: Route Test Complete, Route: deprecated, Route

#16720 docs: rewording instance homepage
  lib/views/index.tsx
Labels: core enhancement, Auto: Route Test Skipped

#16665 feat(route): add Bitget crypto exchange route.
  lib/routes/bitget/announcement.ts
  lib/routes/bitget/namespace.ts
  lib/routes/bitget/type.ts
Labels: Auto: Route Test Complete, Route

#16721 fix(route/bilibili): add logger to handle error codes
  lib/routes/bilibili/followings-video.ts
Labels: Auto: Route Test Complete, Route

#16681 feat(route): add Discourse official rss route
  lib/routes/discourse/official.ts
Labels: Auto: Route Test Complete, Route

#16718 feat(route/bilibili): add getRenderData to bypass the risk control mechanism
  lib/routes/bilibili/cache.ts
  lib/routes/bilibili/utils.ts
  lib/routes/bilibili/video.ts
Labels: Auto: Route Test Complete, Route

#16711 feat(route/bilibili): 哔哩哔哩入站必刷
  lib/routes/bilibili/bilibili-recommend.ts
Labels: Auto: Route Test Complete, Route

#16735 feat(route/bilibili): add `hideGoods` for dynamic
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#16733 fix(twitter): tweet throw "config not defined error" when original response
  lib/routes/twitter/tweet.ts
Labels: Auto: Route Test Complete, Route

#16738 fix(router): zaobao empty router
  lib/routes/zaobao/util.ts
Labels: Auto: Route Test Complete, Route

#16740 fix(twitter): twitter authentication secret is optional
  lib/routes/twitter/api/mobile-api/login.ts
  lib/routes/twitter/api/web-api/login.ts
Labels: Auto: Route Test Skipped, Route

#16709 fix: 微博超话数据解析错误
  lib/routes/weibo/super-index.ts
Labels: Auto: Route Test Skipped, Auto: Route Test Complete, Route

#16743 fix(route): people charset decoding (#16734)
  lib/routes/people/index.ts
Labels: Auto: Route Test Complete, Route

#16742 fix(route/zhihu): Use signed header when fetching zhuanlan articles to prevent scrambled text.
  lib/routes/zhihu/zhuanlan.ts
Labels: Auto: Route Test Complete, Route

#16753 fix: fix pku bbs url error
  lib/routes/pku/bbs/hot.ts
Labels: Auto: Route Test Complete, Route

#16750 feat(route/apnews): Enhance parsing when not fetching full text.
  lib/routes/apnews/api.ts
  lib/routes/apnews/sitemap.ts
Labels: Auto: Route Test Complete, Route

#16744 feat(route): add 美食天下菜谱
  lib/routes/meishichina/index.ts
  lib/routes/meishichina/namespace.ts
Labels: Auto: Route Test Complete, Route

#16760 fix(route): 增加锁章检测
  lib/routes/jjwxc/book.ts
Labels: Auto: Route Test Complete, Route

#16754 chore: otel fix and enhancement
  lib/config.ts
  lib/errors/index.tsx
  lib/middleware/logger.ts
  lib/utils/otel/metric.ts
Labels: core enhancement, Auto: Route Test Skipped

#16761 fix(route): 日期直接从dates对象中获取
  lib/routes/abc/index.ts
Labels: Auto: Route Test Complete, Route

#16757 feat(route): 添加豆瓣电影-即将上映
  lib/routes/douban/movie/coming.ts
  lib/routes/douban/templates/movie_coming.art
Labels: Auto: Route Test Complete, Route

#16752 feat(route): add malaysiakini.com
  lib/config.ts
  lib/routes/malaysiakini/index.ts
  lib/routes/malaysiakini/namespace.ts
Labels: Auto: Route Test Complete, Route

#16729 feat(route): 添加北京邮电大学教务处的路由
  lib/routes/bupt/jwc.ts
Labels: Auto: Route Test Complete, Route

#16700 feat(route): add 太平洋科技
  lib/routes/pconline/focus.ts
  lib/routes/pconline/namespace.ts
Labels: Auto: Route Test Complete, Route

#16772 fix(route): update route of TJU
  lib/routes/tju/cic/index.ts
  lib/routes/tju/news/index.ts
  lib/routes/tju/oaa/index.ts
Labels: Auto: Route Test Complete, Route

#16741 feat(route): add route for pixivision
  lib/routes/pixivision/index.ts
  lib/routes/pixivision/namespace.ts
  lib/routes/pixivision/utils.ts
Labels: Auto: Route Test Complete, Route

#16768 feat(route): '国务院会议'
  lib/routes/gov/cn/namespace.ts
  lib/routes/gov/cn/news/index.ts
Labels: Auto: Route Test Complete, Route

#16789 feat(route): soundon
  lib/routes/soundon/namespace.ts
  lib/routes/soundon/podcast.ts
  lib/routes/soundon/types.ts
Labels: Auto: Route Test Complete, Route

#16788 fix(route): Twitter list API new query path and support include_rts
  lib/routes/twitter/api/web-api/constants.ts
  lib/routes/twitter/list.ts
Labels: Auto: Route Test Complete, Route

#16798 fix: Tencent news can't fetch non-digital users
  lib/routes/tencent/news/author.ts
Labels: Auto: Route Test Complete, Route

#16732 feat(route): 添加Lofter的合集获取功能
  lib/routes/lofter/collection.ts
Labels: Auto: Route Test Complete, Route

#16775 feat(route): add /app route for 端传媒
  lib/routes/theinitium/app.ts
  lib/routes/theinitium/templates/description.art
Labels: Auto: Route Test Complete, Route

#16787 feat(route): add 中国连锁经营协会
  lib/routes/ccfa/index.ts
  lib/routes/ccfa/namespace.ts
  lib/routes/ccfa/templates/description.art
Labels: Auto: Route Test Complete, Route

#16799 fix: 部分Telegram频道的文章在inoreader中显示一个巨大的logo
  lib/views/rss.tsx
Labels: core enhancement, Auto: Route Test Complete

#16794 feat(route): add route of devtrium
  lib/routes/devtrium/namespace.ts
  lib/routes/devtrium/posts.ts
Labels: Auto: Route Test Complete, Route

#16786 feat(route): Add PAIR - AI Exploreables
  lib/routes/withgoogle/explorables.ts
  lib/routes/withgoogle/namespace.ts
Labels: Auto: Route Test Complete, Route

#16792 feat(route): add 山东大学计算机科学与技术学院相关通知
  lib/routes/sdu/cs.ts
Labels: Auto: Route Test Complete, Route

#16807 fix: sdu namespace
  lib/routes/sdu/namespace.ts
Labels: Auto: Route Test Skipped, Route

#16777 feat(route): add route of '国家发展改革委 - 政府信息公开'
  lib/routes/gov/ndrc/fggz.ts
  lib/routes/gov/ndrc/namespace.ts
  lib/routes/gov/ndrc/xwdt.ts
  lib/routes/gov/ndrc/zfxxgk/articles.ts
Labels: Auto: Route Test Complete, Route

#16802 chore(route/weibo): change the name from "用户" to "绿洲用户"
  lib/routes/weibo/oasis/user.ts
Labels: Auto: Route Test Complete, Route

#16805 feat(route/weibo): add option to filter retweeted posts
  lib/routes/weibo/namespace.ts
  lib/routes/weibo/user.ts
Labels: Auto: Route Test Complete, Route

#16806 fix(route): update route 山东大学-计算机科学与技术学院-首页通知
  lib/routes/sdu/cs/index.ts
Labels: Auto: Route Test Complete, Route

#16819 fix(route/weibo): set allowEmpty to true in return
  lib/routes/weibo/user.ts
Labels: Auto: Route Test Complete, Route

#16809 feat(route): add route of Oct的小破站
  lib/routes/oct0pu5/namespace.ts
  lib/routes/oct0pu5/rss.ts
Labels: Auto: Route Test Complete, Route

#16810 feat(route): add 西南交通大学计算机学院本科生教育
  lib/routes/swjtu/scai/bks.ts
Labels: Auto: Route Test Complete, Route

#16829 fix(route/the): Fix timezone
  lib/routes/the/index.ts
Labels: Auto: Route Test Complete, Route

#16835 fix(route): github comments
  lib/routes/github/comments.ts
Labels: Auto: Route Test Complete, Route

#16834 feat(route): add route of qiche365
  lib/routes/qiche365/namespace.ts
  lib/routes/qiche365/recall.ts
Labels: Auto: Route Test Complete, Route

#16841 fix(route/dockerhub): hash images
  lib/routes/dockerhub/utils.ts
Labels: Auto: Route Test Complete, Route

#16830 fix(route/whu): Fix the failedness of whu route
  lib/routes/whu/cs.ts
  lib/routes/whu/gs/index.ts
  lib/routes/whu/news.ts
Labels: Auto: Route Test Complete, Route

#16848 feat(route/asus): 华硕 BIOS 路由增加国外访问 API 地址
  lib/routes/asus/bios.ts
Labels: Auto: Route Test Complete, Route

#16840 feat(route): add 财联社话题
  lib/routes/cls/subject.ts
  lib/routes/cls/templates/description.art
Labels: Auto: Route Test Complete, Route

#16731 feat(route): add feed for ESPN News
  lib/routes/espn/namespace.ts
  lib/routes/espn/news.ts
  lib/routes/espn/templates/media.art
Labels: Auto: Route Test Complete, Route

#16831 feat(route): add route of 意林
  lib/routes/yilinzazhi/index.ts
  lib/routes/yilinzazhi/latest.ts
  lib/routes/yilinzazhi/namespace.ts
Labels: Auto: Route Test Complete, Route

#16583 feat(route): Add 51CTO text parsing
  lib/routes/51cto/recommend.ts
Labels: Auto: Route Test Complete, Route

#16856 fix(radar): add weibo.com for weibo radar
  lib/routes/weibo/user.ts
Labels: Auto: Route Test Complete, Route

#16854 feat(route): fix issues for ESPN News
  lib/routes/espn/news.ts
Labels: Auto: Route Test Complete, Route

#16812 feat(route): add 山青学生在线、山大研工部、山大国际网站
  lib/routes/sdu/gjsw.ts
  lib/routes/sdu/qd/xszxqd.ts
  lib/routes/sdu/ygb.ts
Labels: Auto: Route Test Complete, Route

#16811 feat(route): add 山东大学CS学院研究生工作网站及青岛校区学科建设与研究生教育办公室
  lib/routes/sdu/cs/yjsgz.ts
  lib/routes/sdu/qd/xyb.ts
Labels: Auto: Route Test Complete, Route

#16842 feat(route): add anime1
  lib/routes-deprecated/anime1/anime.js
  lib/routes-deprecated/anime1/search.js
  lib/routes/anime1/anime.ts
  lib/routes/anime1/namespace.ts
  lib/routes/anime1/search.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#16864 feat(route): nicovideo
  lib/routes/nicovideo/namespace.ts
  lib/routes/nicovideo/templates/video.art
  lib/routes/nicovideo/types.ts
  lib/routes/nicovideo/utils.ts
  lib/routes/nicovideo/video.ts
Labels: Auto: Route Test Complete, Route

#16863 fix(route): PornHub pornstar pages
  lib/routes/pornhub/pornstar.ts
Labels: Auto: Route Test Complete, Route

#16858 feat(route/the): Include publisher in the author property
  lib/routes/the/index.ts
Labels: Auto: Route Test Complete, Route

#16866 fix(route): asus bios global url
  lib/routes/asus/bios.ts
  lib/routes/asus/templates/bios.art
Labels: Auto: Route Test Complete, Route

#16868 fix(route): deeplearning
  lib/routes/deeplearning/thebatch.ts
Labels: Auto: Route Test Complete, Route

#16855 feat(route): update dykszx
  lib/routes-deprecated/dykszx/news.js
  lib/routes/dykszx/namespace.ts
  lib/routes/dykszx/news.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#16874 feat: enhance route params for better follow display
  lib/routes/dockerhub/build.ts
  lib/routes/epicgames/index.ts
  lib/routes/hpoi/all.ts
  lib/routes/hpoi/character.ts
  lib/routes/hpoi/work.ts
  lib/routes/mastodon/acct.ts
  lib/routes/mastodon/timeline-local.ts
  lib/routes/mastodon/timeline-remote.ts
  lib/routes/pixiv/ranking.ts
  lib/routes/pornhub/pornstar.ts
  lib/routes/reuters/common.ts
  lib/routes/twitch/video.ts
  lib/routes/v2ex/topics.ts
Labels: Route

#16872 feat(route): add route of obsidian publish
  lib/routes/obsidian/namespace.ts
  lib/routes/obsidian/publish.ts
  lib/routes/obsidian/utils.ts
Labels: Auto: Route Test Complete, Route

#16911 fix(route): 4ksj cookie check
  lib/routes/4ksj/forum.ts
Labels: Auto: Route Test Complete, Route

#16790 feat(route): add voronoiapp
  lib/routes/voronoiapp/author.ts
  lib/routes/voronoiapp/common.ts
  lib/routes/voronoiapp/editors-pick.ts
  lib/routes/voronoiapp/home.ts
  lib/routes/voronoiapp/latest.ts
  lib/routes/voronoiapp/namespace.ts
  lib/routes/voronoiapp/popular.ts
  lib/routes/voronoiapp/search.ts
  lib/routes/voronoiapp/types.d.ts
Labels: Auto: Route Test Complete, Route

#16913 fix(route/follow): adapt the `list` subscription
  lib/routes/follow/profile.ts
  lib/routes/follow/types.ts
Labels: Auto: Route Test Complete, Route

#16922 fix(route): fix URL concatenation of PKU BBS posts
  lib/routes/pku/bbs/hot.ts
Labels: Auto: Route Test Complete, Route

#16907 feat(route): NCKU CSIE News
  lib/routes/ncku/csie.ts
  lib/routes/ncku/namespace.ts
Labels: Auto: Route Test Complete, Route

#16758 feat(route/chikubi): refactor URL fetching and add new routes
  lib/routes/chikubi/category.ts
  lib/routes/chikubi/index.ts
  lib/routes/chikubi/namespace.ts
  lib/routes/chikubi/navigation.ts
  lib/routes/chikubi/nipple-video-category.ts
  lib/routes/chikubi/nipple-video-maker.ts
  lib/routes/chikubi/search.ts
  lib/routes/chikubi/tag.ts
  lib/routes/chikubi/utils.ts
Labels: Auto: Route Test Complete, Route

#16818 feat(route): add deepin thread list
  lib/routes/deepin/thread.ts
Labels: Auto: Route Test Complete, Route

#16935 fix(route): fix bilibili followings-dynamic parse error
  lib/routes/bilibili/followings-dynamic.ts
Labels: Auto: Route Test Complete, Route

#16892 feat: add route of uestc bbs
  lib/config.ts
  lib/routes/uestc/bbs.ts
  lib/routes/uestc/namespace.ts
Labels: Auto: Route Test Complete, Route

#16902 feat(route): add route of Yamap
  lib/config.ts
  lib/routes/yamap/articles.ts
  lib/routes/yamap/namespace.ts
Labels: Auto: Route Test Complete, Route

#16926 fix(route): update radar in ncku/csie
  lib/routes/ncku/csie.ts
Labels: Auto: Route Test Complete, Route

#16939 fix(route/scmp): Replace got to obtain url from response
  lib/routes/scmp/utils.ts
Labels: Auto: Route Test Complete, Route

#16950 refactor: change PornHub rss image
  lib/routes/pornhub/model.ts
  lib/routes/pornhub/pornstar.ts
  lib/routes/pornhub/users.ts
Labels: Auto: Route Test Complete, Route

#16925 feat(route): New Route to NCKU Phys
  lib/routes/ncku/namespace.ts
  lib/routes/ncku/phys.ts
Labels: Auto: Route Test Complete, Route

#16936 feat(route): Fix and update LoveLive! Series News
  lib/routes/lovelive-anime/namespace.ts
  lib/routes/lovelive-anime/news.ts
  lib/routes/lovelive-anime/schedules.ts
  lib/routes/lovelive-anime/templates/description.art
  lib/routes/lovelive-anime/templates/scheduleDesc.art
  lib/routes/lovelive-anime/topics.ts
Labels: Auto: Route Test Complete, Route

#16940 fix(yande): update namespace and route details
  lib/routes/yande/namespace.ts
  lib/routes/yande/post.ts
Labels: Auto: Route Test Complete, Route

#16947 fix(route/bjnews): Add concurrent request throttling
  lib/routes/bjnews/cat.ts
Labels: Auto: Route Test Complete, Route

#16949 feat(route/zhihu): Remove filter from timeline
  lib/routes/zhihu/timeline.ts
Labels: Auto: Route Test Complete, Route

#16951 fix(route/fediverse): Remove html tag from title
  lib/routes/fediverse/timeline.ts
Labels: Auto: Route Test Complete, Route

#16954 fix(route/xueqiu): use item.target as link
  lib/routes/xueqiu/stock-info.ts
Labels: Auto: Route Test Complete, Route

#16876 feat(route): add route of 深圳福田园岭小学
  lib/routes/szftedu/dongtai.ts
  lib/routes/szftedu/gonggao.ts
  lib/routes/szftedu/namespace.ts
Labels: Auto: Route Test Complete, Route

#16953 fix(route/apple/podcast): Fix broken apple podcast route
  lib/routes/apple/podcast.ts
Labels: Auto: Route Test Complete, Route

#16962 feat(route): spankbang
  lib/routes/spankbang/namespace.ts
  lib/routes/spankbang/new-videos.ts
  lib/routes/spankbang/templates/video.art
Labels: Auto: Route Test Complete, Route

#16961 feat(route): add 中华人民共和国农业农村部生猪专题重要政策
  lib/routes/gov/moa/moa.ts
  lib/routes/gov/moa/szcpxx.ts
  lib/routes/gov/moa/zdscxx.ts
Labels: Auto: Route Test Complete, Route

#16968 fix(route): spankbang use puppeteer
  lib/routes/spankbang/new-videos.ts
Labels: Auto: Route Test Complete, Route

#16909 feat(route): add route for dealstreetasia
  lib/routes/dealstreetasia/home.ts
  lib/routes/dealstreetasia/namespace.ts
  lib/routes/dealstreetasia/section.ts
Labels: Auto: Route Test Complete, Route

#16964 feat(route): add route of javtiful
  lib/routes/javtiful/actress.ts
  lib/routes/javtiful/channel.ts
  lib/routes/javtiful/namespace.ts
  lib/routes/javtiful/templates/description.art
  lib/routes/javtiful/utils.ts
Labels: Auto: Route Test Complete, Route
