Repository DIYgod/RSSHub, pull requests merged in 2024-05, with the labels that each got.

#15418 feat(route): fanbox
  lib/router.js
  lib/routes-deprecated/fanbox/conv.js
  lib/routes-deprecated/fanbox/header.js
  lib/routes-deprecated/fanbox/main.js
  lib/routes/fanbox/index.ts
  lib/routes/fanbox/namespace.ts
  lib/routes/fanbox/templates/fanbox-post.art
  lib/routes/fanbox/types.ts
  lib/routes/fanbox/utils.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#15428 fix(route/copernicium): Add category
  lib/routes/copernicium/index.ts
Labels: Auto: Route Test Complete, Route

#15416 fix(route): thecatcity term not working when it is empty
  lib/routes/thecatcity/terms-map.ts
  lib/routes/thepetcity/index.ts
  lib/routes/thepetcity/namespace.ts
  lib/routes/thepetcity/terms-map.ts
Labels: Auto: Route Test Complete, Route

#15429 fix(radar): fix source for HackerNews
  lib/routes/hackernews/index.ts
Labels: Auto: Route Test Complete, Route

#15395 feat(route): add new LinkedIn route params
  lib/routes/linkedin/jobs.ts
  lib/routes/linkedin/namespace.ts
  lib/routes/linkedin/utils.ts
Labels: Auto: Route Test Complete, Route

#15433 feat(route): wellcee
  lib/routes/weekendhk/posts.ts
  lib/routes/wellcee/namespace.ts
  lib/routes/wellcee/rent.ts
  lib/routes/wellcee/support-city.ts
  lib/routes/wellcee/templates/house.art
  lib/routes/wellcee/types.ts
  lib/routes/wellcee/utils.ts
Labels: Auto: Route Test Complete, Route

#15432 fix(route/xueqiu): get token from cookies
  lib/routes/xueqiu/cookies.ts
  lib/routes/xueqiu/favorite.ts
  lib/routes/xueqiu/hots.ts
  lib/routes/xueqiu/stock-info.ts
  lib/routes/xueqiu/today.ts
  lib/routes/xueqiu/user.ts
Labels: Auto: Route Test Complete, Route

#15438 fix(route/linkedin): handle missing elements in jobs parsing
  lib/routes/linkedin/utils.ts
Labels: Auto: Route Test Complete, Route

#15427 feat(route): Add 中国石油大学（华东）教务处通知公告
  lib/routes/upc/jwc.ts
Labels: Auto: Route Test Complete, Route

#15441 chore: cleanup useless nav element
  lib/routes/techcrunch/news.ts
Labels: Auto: Route Test Complete, Route

#15446 fix(route): IT之家专题
  lib/routes/ithome/templates/description.art
  lib/routes/ithome/zt.ts
Labels: Auto: Route Test Complete, Route

#15444 fix(route/theinitium): Fix metadata & token expiration
  lib/routes/theinitium/author.ts
  lib/routes/theinitium/channel.ts
  lib/routes/theinitium/follow.ts
  lib/routes/theinitium/tags.ts
  lib/routes/theinitium/utils.ts
Labels: Auto: Route Test Complete, Route

#15452 fix(route): github pulls
  lib/routes/github/pulls.ts
Labels: Auto: Route Test Complete, Route

#15440 feat(route/apnews): Support rss parsing.
  lib/routes/apnews/rss.ts
  lib/routes/apnews/topics.ts
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#15454 feat(route): gq
  lib/routes/gq/namespace.ts
  lib/routes/gq/news.ts
Labels: Auto: Route Test Complete, Route

#15447 feat(route): New Yorker
  lib/routes/newyorker/namespace.ts
  lib/routes/newyorker/news.ts
Labels: Auto: Route Test Complete, Route

#15462 chore(route/newyorker): cleanup author info
  lib/routes/newyorker/news.ts
Labels: Auto: Route Test Complete, Route

#15453 feat(route): 69shu
  lib/routes/69shu/article.ts
  lib/routes/69shu/namespace.ts
Labels: Auto: Route Test Complete, Route

#15456 feat(route/keylol): Update keylol
  lib/routes/keylol/index.ts
Labels: Auto: Route Test Complete, Route

#15461 feat(route): digitalcameraworld
  lib/routes/digitalcameraworld/namespace.ts
  lib/routes/digitalcameraworld/news.ts
Labels: Auto: Route Test Complete, Route

#15469 fix(route): Change radar response for /deepin/homepage/:user_id
  lib/routes/deepin/homepage.ts
Labels: Auto: Route Test Complete, Route

#15475 feat(route): add REPACK скачать
  lib/routes/lrepacks/index.ts
  lib/routes/lrepacks/namespace.ts
  lib/routes/lrepacks/templates/description.art
Labels: Auto: Route Test Complete, Route

#15470 feat(route): add xuci again #3485
  lib/routes-deprecated/p-articles/contributors.js
  lib/routes-deprecated/p-articles/section.js
  lib/routes-deprecated/p-articles/utils.js
  lib/routes/p-articles/contributors.ts
  lib/routes/p-articles/namespace.ts
  lib/routes/p-articles/section.ts
  lib/routes/p-articles/utils.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#15471 feat(route/bangumi): support follow ranks for book/music/real pages
  lib/routes/bangumi/tv/other/followrank.ts
Labels: Auto: Route Test Complete, Route

#15491 fix(route): economist espresso
  lib/routes/economist/espresso.ts
Labels: Auto: Route Test Complete, Route

#15503 fix(route): 优化 bilibili 动态 转发带图评论时的图片显示
  lib/routes/bilibili/api-interface.d.ts
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#15502 fix: incorrect section in title
  lib/routes/bbc/index.ts
Labels: Auto: Route Test Complete, Route

#15501 chore: bump pnpm lockfile
  .github/workflows/build-assets.yml
  .github/workflows/comment-on-issue.yml
  .github/workflows/docker-test-cont.yml
  .github/workflows/format.yml
  .github/workflows/issue-command.yml
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test-full-routes.yml
  .github/workflows/test.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Skipped

#15490 fix(route): 国家气候中心最新监测
  lib/routes/ncc-cma/cmdp.ts
  lib/routes/ncc-cma/namespace.ts
Labels: Auto: Route Test Complete, Route

#15518 fix: broken url when not using optional :page parameter
  lib/routes/github/wiki.ts
Labels: Auto: Route Test Complete, Route

#15534 fix(route/apnews): typo in code
  lib/routes/apnews/rss.ts
Labels: Auto: Route Test Complete, Route

#15505 feat(route): Isabelle dev blog
  lib/routes/sketis/isabelle-dev/blog/index.ts
  lib/routes/sketis/namespace.ts
Labels: Auto: Route Test Complete, Route

#15533 feat(route): add 清华大学图书馆资源动态
  lib/routes/tsinghua/lib/zydt.ts
  lib/routes/tsinghua/namespace.ts
Labels: Auto: Route Test Complete, Route

#15535 feat(route/telegram/channel): allow trimming hyperlinks from hashtags
  lib/routes/telegram/channel.ts
Labels: Auto: Route Test Complete, Route

#15536 fix(template): redis-backed instances always show ttl 1
  lib/middleware/template.tsx
Labels: core enhancement, Auto: Route Test Skipped

#15540 fix: PornHub
  lib/routes/pornhub/category-url.ts
  lib/routes/pornhub/model.ts
  lib/routes/pornhub/pornstar.ts
  lib/routes/pornhub/users.ts
  lib/routes/pornhub/utils.ts
Labels: Auto: Route Test Complete, Route

#15550 fix(route): `/zju/cst`
  lib/routes/zju/cst/index.ts
Labels: Auto: Route Test Complete, Route

#15555 feat(route/apnews): Extract data from ldjson.
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#15559 fix(route): 修复 pixiv 排行榜/关注 路由缺失 简介的问题
  lib/routes/pixiv/illustfollow.ts
  lib/routes/pixiv/ranking.ts
Labels: Auto: Route Test Complete, Route

#15564 fix(route): bilibili 路由增加 4100000 提示
  lib/routes/bilibili/followings-dynamic.ts
Labels: Auto: Route Test Complete, Route

#15562 feat(route): add 萃嶺网
  lib/routes/cuilingmag/index.ts
  lib/routes/cuilingmag/namespace.ts
  lib/routes/cuilingmag/templates/description.art
Labels: Auto: Route Test Complete, Route

#15567 fix(route/mihoyo/bbs/official): non-unique guid
  lib/routes/mihoyo/bbs/official.ts
Labels: Auto: Route Test Complete, Route

#15572 fix(apple/apps): typo
  lib/routes/apple/apps.ts
Labels: Auto: Route Test Complete, Route

#15583 fix(route): 423Down
  lib/routes/423down/index.ts
  lib/routes/423down/namespace.ts
  lib/routes/423down/templates/description.art
Labels: Auto: Route Test Complete, Route

#15537 feat(route): yamibo
  lib/config.ts
  lib/routes/yamibo/bbs/forum.ts
  lib/routes/yamibo/bbs/thread.ts
  lib/routes/yamibo/namespace.ts
  lib/routes/yamibo/utils.ts
Labels: Auto: Route Test Complete, Route

#15580 feat(route): add route for Typst universe
  lib/routes/typst/namespace.ts
  lib/routes/typst/universe.ts
Labels: Auto: Route Test Complete, Route

#15586 fix(route): date parsing in Typst universe
  lib/routes/typst/universe.ts
Labels: Auto: Route Test Complete, Route

#15581 feat(route): add WHU-RSGIS news / 武汉大学遥感信息工程学院
  lib/routes/whu/rsgis.ts
Labels: Auto: Route Test Complete, Route

#15587 fix: processItems export error
  lib/routes/6v123/utils.ts
Labels: Auto: Route Test Complete, Route

#15589 feat(route): 增加了国防科技大学研究生院中的硕士招生和通知公告的rss源
  lib/routes/nudt/namespace.ts
  lib/routes/nudt/yjszs.ts
Labels: Auto: Route Test Complete, Route

#15570 fix(route): `/wechat/ershicimi`
  lib/routes/wechat/ershcimi.ts
Labels: Auto: Route Test Complete, Route

#15603 fix(route): 优化 pixiv 搜索/书签 路由的简介
  lib/routes/pixiv/bookmarks.ts
  lib/routes/pixiv/search.ts
Labels: Auto: Route Test Complete, Route

#15602 fix(route): Epic Games Store - Resolve issue #15569
  lib/routes/epicgames/index.ts
Labels: Auto: Route Test Complete, Route

#15593 fix(route): guangdiu
  lib/routes/guangdiu/search.ts
Labels: Auto: Route Test Complete, Route

#15591 fix(route): BBC article
  lib/routes/bbc/index.ts
Labels: Auto: Route Test Complete, Route

#15601 feat(route): add 穿越火线CFHD专区资讯中心
  lib/routes/qq/cfhd/index.ts
  lib/routes/qq/namespace.ts
Labels: Auto: Route Test Complete, Route

#15616 fix(route): PornHub pornstar pages
  lib/routes/pornhub/pornstar.ts
Labels: Auto: Route Test Complete, Route

#15617 fix(route): 中国人民解放军专业技术人才网
  lib/routes/81/81rc/index.ts
  lib/routes/81/namespace.ts
Labels: Auto: Route Test Complete, Route

#15618 fix(route): zhihu posts
  lib/routes/zhihu/activities.ts
  lib/routes/zhihu/answers.ts
  lib/routes/zhihu/collection.ts
  lib/routes/zhihu/daily-section.ts
  lib/routes/zhihu/daily.ts
  lib/routes/zhihu/hotlist.ts
  lib/routes/zhihu/posts.ts
  lib/routes/zhihu/question.ts
  lib/routes/zhihu/timeline.ts
  lib/routes/zhihu/topic.ts
  lib/routes/zhihu/utils.ts
  lib/routes/zhihu/zhuanlan.ts
Labels: Auto: Route Test Complete, Route

#15620 fix(route): theblockbeats
  lib/routes/theblockbeats/index.ts
  lib/routes/theblockbeats/namespace.ts
  lib/routes/theblockbeats/templates/description.art
Labels: Auto: Route Test Complete, Route

#15621 fix(route): 西南石油大学 办公网、教务处、计算机与软件学院、电气信息学院
  lib/routes/swpu/bgw.ts
  lib/routes/swpu/dean.ts
  lib/routes/swpu/dxy.ts
  lib/routes/swpu/scs.ts
Labels: Auto: Route Test Complete, Route

#15623 fix(route): fix utils for /zhihu/xhu
  lib/routes/zhihu/activities.ts
  lib/routes/zhihu/xhu/activities.ts
  lib/routes/zhihu/xhu/answers.ts
  lib/routes/zhihu/xhu/collection.ts
  lib/routes/zhihu/xhu/posts.ts
  lib/routes/zhihu/xhu/question.ts
  lib/routes/zhihu/xhu/topic.ts
Labels: Auto: Route Test Complete, Route

#15608 feat(route): Add 北京交通大学研究生院通知和西南交通大学地球科学与工程学院研究生通知路由
  lib/routes-deprecated/universities/bjtu/gs/index.js
  lib/routes/bjtu/gs.ts
  lib/routes/bjtu/namespace.ts
  lib/routes/swjtu/gsee/yjs.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#15638 fix(route): Fix xiaoheihe news
  lib/routes/xiaoheihe/news.ts
Labels: Auto: Route Test Complete, Route

#15637 feat(route): add route for dev blog of World of Warships
  lib/routes/worldofwarships/devblog.ts
  lib/routes/worldofwarships/namespace.ts
Labels: Auto: Route Test Complete, Route

#15652 fix(route): finology
  lib/routes/finology/bullets.ts
  lib/routes/finology/category.ts
  lib/routes/finology/most-viewed.ts
  lib/routes/finology/tag.ts
  lib/routes/finology/utils.ts
Labels: Auto: Route Test Complete, Route

#15653 fix(route): xueqiu user_stock 雪球用户自选动态修改为使用登录后的cookie值，并限制自建使用
  lib/routes/xueqiu/user-stock.ts
Labels: Auto: Route Test Complete, Route

#15656 fix(route): chinaisa
  lib/routes/chinaisa/index.ts
Labels: Auto: Route Test Complete, Route

#15651 fix: /6v123/latestMovies filter tv series
  lib/routes/6v123/latest-movies.ts
  lib/routes/6v123/latest-tvseries.ts
  lib/routes/6v123/utils.ts
Labels: Auto: Route Test Complete, Route

#15658 fix(route): arknights
  lib/routes/arknights/japan.ts
  lib/routes/arknights/news.ts
  lib/routes/hypergryph/announce.ts
  lib/routes/hypergryph/japan.ts
  lib/routes/hypergryph/namespace.ts
  lib/routes/hypergryph/news.ts
Labels: Auto: Route Test Complete, Route

#15659 fix(route): github notification
  lib/routes/github/notifications.ts
Labels: Auto: Route Test Complete, Route

#15660 feat(route): add back alipan
  lib/routes/alipan/files.ts
  lib/routes/alipan/namespace.ts
  lib/routes/alipan/types.ts
Labels: Auto: Route Test Complete, Route

#15661 fix(route): nhentai
  lib/routes/nhentai/index.ts
  lib/routes/nhentai/namespace.ts
  lib/routes/nhentai/search.ts
  lib/routes/nhentai/util.ts
Labels: Auto: Route Test Complete, Route

#15650 feat: add route /domp4/latest_movie_bt 订阅最新电影bt
  lib/routes/domp4/detail.ts
  lib/routes/domp4/latest-movie-bt.ts
Labels: Auto: Route Test Complete, Route

#15678 fix(route): pwc ditch puppeteer
  lib/routes/pwc/sustainability.ts
Labels: Auto: Route Test Complete, Route

#15680 feat(route): jiuyangongshe
  lib/routes/jiuyangongshe/community.ts
  lib/routes/jiuyangongshe/namespace.ts
  lib/routes/jiuyangongshe/templates/community-description.art
Labels: Auto: Route Test Complete, Route

#15684 fix(route): nikkei route paths
  lib/routes/nikkei/asia/index.ts
  lib/routes/nikkei/cn/index.ts
  lib/routes/nikkei/index.ts
  lib/routes/nikkei/namespace.ts
  lib/routes/nikkei/news.ts
Labels: Auto: Route Test Complete, Route

#15685 fix(route): zaobao
  lib/routes/zaobao/interactive.ts
  lib/routes/zaobao/other.ts
  lib/routes/zaobao/realtime.ts
  lib/routes/zaobao/util.ts
Labels: Auto: Route Test Complete, Route

#15687 feat(route): add back matters
  lib/router.js
  lib/routes-deprecated/matters/author.js
  lib/routes-deprecated/matters/latest.js
  lib/routes-deprecated/matters/tags.js
  lib/routes/matters/author.ts
  lib/routes/matters/latest.ts
  lib/routes/matters/namespace.ts
  lib/routes/matters/tags.ts
  lib/routes/matters/utils.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#15682 feat(route): cfr
  lib/routes/cfr/index.ts
  lib/routes/cfr/namespace.ts
  lib/routes/cfr/types.ts
  lib/routes/cfr/utils.ts
Labels: Auto: Route Test Complete, Route

#15697 feat(route): imdb top charts
  lib/routes/imdb/chart.ts
  lib/routes/imdb/namespace.ts
  lib/routes/imdb/templates/chart.art
  lib/routes/imdb/types.ts
Labels: Auto: Route Test Complete, Route

#15686 fix: /2048 route down
  lib/routes/2048/index.ts
Labels: Auto: Route Test Complete, Route

#15701 fix(route): javdb
  lib/routes/javdb/index.ts
  lib/routes/javdb/utils.ts
Labels: Auto: Route Test Complete, Route

#15704 fix(route): update 69shu url
  lib/routes/69shu/article.ts
  lib/routes/69shu/namespace.ts
Labels: Auto: Route Test Complete, Route

#15707 fix(route): zhihu `__zse_ck`
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#15664 fix(route): Typst universe route removes duplicated packages and fix description
  lib/routes/typst/universe.ts
Labels: Auto: Route Test Complete, Route

#15702 fix(route): fix flatten function to work properly
  lib/routes/newrank/utils.ts
Labels: Auto: Route Test Complete, Route

#15709 feat(route): jingzhengu
  lib/routes/jingzhengu/namespace.ts
  lib/routes/jingzhengu/news.ts
  lib/routes/jingzhengu/types.ts
  lib/routes/jingzhengu/utils.ts
Labels: Auto: Route Test Complete, Route

#15670 feat: support podwise.ai
  lib/routes/podwise/collections.ts
  lib/routes/podwise/episodes.ts
  lib/routes/podwise/namespace.ts
Labels: Auto: Route Test Complete, Route

#15717 feat: retry requesting control
  lib/errors/index.test.ts
  lib/middleware/cache.ts
  lib/routes/test/index.ts
Labels: core enhancement, Auto: Route Test Skipped, Auto: Route Test Failed, Route

#15706 fix(core): restore LISTEN_INADDR_ANY functionality
  lib/index.ts
Labels: core enhancement, Auto: Route Test Skipped

#15715 fix(ximalaya): parse pay audio address
  lib/routes/ximalaya/album.ts
  lib/routes/ximalaya/types.ts
  lib/routes/ximalaya/utils.ts
Labels: Auto: Route Test Complete, Route

#15716 feat(route): 增加少数派首页路由每篇文章的封面图片
  lib/routes/sspai/index.ts
Labels: Auto: Route Test Complete, Route

#15698 feat: adds vice.com route #15694
  lib/routes/vice/namespace.ts
  lib/routes/vice/templates/article.art
  lib/routes/vice/topic.ts
Labels: Auto: Route Test Complete, Route

#15718 feat(route): add 台灣角川角編新聞台
  lib/routes/kadokawa/blog.ts
  lib/routes/kadokawa/namespace.ts
  lib/routes/kadokawa/templates/description.art
Labels: Auto: Route Test Complete, Route

#15719 feat(route): stream-capital
  lib/routes/stream-capital/namespace.ts
  lib/routes/stream-capital/search.ts
  lib/routes/stream-capital/types.ts
  lib/routes/stream-capital/utils.ts
Labels: Auto: Route Test Complete, Route

#15730 fix(route/apnews): Ensure the link can be fetched.
  lib/routes/apnews/topics.ts
Labels: Auto: Route Test Complete, Route

#15731 fix(route/apnews): Fix AP news time.
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#15734 feat(route): 微博路由 新增 category 字段
  lib/routes/weibo/utils.ts
Labels: Auto: Route Test Complete, Route

#15735 feat(route): twitter 路由新增：将话题提取为 category
  lib/routes/twitter/utils.ts
Labels: Auto: Route Test Complete, Route

#15732 fix(route): fix Spotify TypeError
  lib/routes/spotify/artist.ts
  lib/routes/spotify/artists-top.ts
  lib/routes/spotify/playlist.ts
  lib/routes/spotify/saved.ts
  lib/routes/spotify/show.ts
  lib/routes/spotify/tracks-top.ts
  lib/routes/spotify/utils.ts
Labels: Auto: Route Test Complete, Route

#15721 fix(route): route jiaowu and xxgk for Donghua University
  lib/routes/dhu/jiaowu/news.ts
  lib/routes/dhu/namespace.ts
  lib/routes/dhu/xxgk/news.ts
Labels: Auto: Route Test Complete, Route

#15740 fix(route): 修复 twitter 路由会匹配到 # 开头的颜色字符的问题
  lib/routes/twitter/utils.ts
Labels: Auto: Route Test Complete, Route

#15741 feat(route): bilibili 动态路由新增：将话题作为 category
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#15673 feat: tencent cloud column
  lib/routes/tencent/cloud/developer/column.ts
Labels: Auto: Route Test Complete, Route

#15737 fix(route): Vice component role fix
  lib/routes/vice/topic.ts
Labels: Auto: Route Test Complete, Route

#15747 feat: add jlujwc
  lib/routes/jlu/jwc.ts
  lib/routes/jlu/namespace.ts
Labels: Auto: Route Test Complete, Route

#15750 fix: X icon
  lib/views/error.tsx
  lib/views/index.tsx
Labels: core enhancement, Auto: Route Test Skipped

#15759 feat(route): add 上海市发展和改革委员会
  lib/routes/gov/sh/fgw/index.ts
  lib/routes/gov/sh/fgw/templates/description.art
  lib/routes/gov/sh/namespace.ts
  lib/routes/gov/sh/rsj/ksxm.ts
  lib/routes/gov/sh/rsj/templates/ksxm.art
  lib/routes/gov/sh/wgj/templates/wgj.art
  lib/routes/gov/sh/wgj/wgj.ts
  lib/routes/gov/sh/wsjkw/yqtb/index.ts
  lib/routes/gov/sh/yjj/index.ts
Labels: Auto: Route Test Complete, Route

#15758 feat: add jlu ccst xwzx
  lib/routes/jlu/ccst/xwzx/index.ts
Labels: Auto: Route Test Complete, Route

#15752 add weibo/user-bookmarks 微博用户收藏动态 route
  lib/routes/weibo/user-bookmarks.ts
Labels: Auto: Route Test Complete, Route

#15720 fix: IEEE journal routes
  lib/routes/ieee/earlyaccess.ts
  lib/routes/ieee/journal.ts
  lib/routes/ieee/recent.ts
  lib/routes/ieee/templates/description.art
Labels: Auto: Route Test Complete, Route

#15770 fix(route/twreporter): Change to ofetch and other fix
  lib/routes/twreporter/category.ts
  lib/routes/twreporter/fetch-article.ts
  lib/routes/twreporter/newest.ts
Labels: Auto: Route Test Complete, Route

#15771 fix(route): recover wired
  lib/routes/wired/namespace.ts
  lib/routes/wired/tag.ts
  lib/routes/wired/types.ts
Labels: Auto: Route Test Complete, Route

#15776 fix(route): fetch articles from osc.cool
  lib/routes/oschina/news.ts
Labels: Auto: Route Test Complete, Route

#15781 fix(route): restore /gov/shanghai
  lib/routes/gov/sh/fgw/index.ts
  lib/routes/gov/sh/rsj/ksxm.ts
  lib/routes/gov/sh/wgj/wgj.ts
  lib/routes/gov/sh/wsjkw/yqtb/index.ts
  lib/routes/gov/sh/yjj/index.ts
Labels: Auto: Route Test Complete, Route

#15780 fix: 使用 ofetch() 替换一些 got().json()
  lib/routes/alistapart/utils.ts
  lib/routes/chaping/newsflash.ts
  lib/routes/codeforces/contests.ts
  lib/routes/codeforces/recent-actions.ts
  lib/routes/dblp/publication.ts
  lib/routes/dlnews/utils.ts
  lib/routes/dushu/fuzhou/index.ts
  lib/routes/freebuf/index.ts
  lib/routes/gov/beijing/bphc/index.ts
  lib/routes/grist/utils.ts
  lib/routes/hrbeu/job/calendar.ts
  lib/routes/leetcode/articles.ts
  lib/routes/luogu/user-blog.ts
  lib/routes/modb/topic.ts
  lib/routes/npm/package.ts
  lib/routes/stockedge/utils.ts
  lib/routes/trending/all-trending.ts
  lib/routes/zjgtjy/index.ts
Labels: Auto: Route Test Complete, Route
