Repository DIYgod/RSSHub, pull requests merged in 2024-03, with the labels that each got.

#14621 fix(route): gamer ani
  lib/router.js
  lib/routes-deprecated/anigamer/anime.js
  lib/routes-deprecated/anigamer/new-anime.js
  lib/routes/gamer/ani/anime.js
  lib/routes/gamer/ani/new-anime.js
  lib/routes/gamer/maintainer.js
  lib/routes/gamer/radar.js
  lib/routes/gamer/router.js
  website/docs/routes/anime.mdx
  website/docs/routes/bbs.mdx
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14624 fix(route): migrate nmc weatheralarm
  lib/router.js
  lib/routes-deprecated/weatheralarm/index.js
  lib/routes/nmc/maintainer.js
  lib/routes/nmc/radar.js
  lib/routes/nmc/router.js
  lib/routes/nmc/weatheralarm.js
  website/docs/routes/forecast.mdx
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14617 feat(route): Rewrite the API URL to original URL
  lib/routes/github/notifications.js
Labels: Auto: Route Test Complete, Route

#14620 feat(route): add 中国国家图书馆读者云平台
  lib/routes/nlc/maintainer.js
  lib/routes/nlc/radar.js
  lib/routes/nlc/read.js
  lib/routes/nlc/router.js
  lib/routes/nlc/templates/description.art
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route

#14596 feat(route): add bilibili UP 主点赞视频
  lib/routes/bilibili/like.js
  lib/routes/bilibili/maintainer.js
  lib/routes/bilibili/radar.js
  lib/routes/bilibili/router.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2, Route

#14626 fix: use path param with regex for npm package feed
  lib/routes/npm/package.js
  lib/routes/npm/router.js
Labels: Auto: Route Test Complete, Route

#14630 fix(route): fix radio canada by fixinggular expression to match correct data
  lib/routes/radio-canada/latest.js
Labels: Auto: Route Test Complete, Route

#14633 feat(route): add 国外主机测评
  lib/routes/zhujiceping/maintainer.js
  lib/routes/zhujiceping/radar.js
  lib/routes/zhujiceping/router.js
  lib/routes/zhujiceping/rss.js
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route

#14635 fix(route): 百度贴吧
  lib/routes/baidu/radar.js
  lib/routes/baidu/tieba/forum.js
  lib/routes/baidu/tieba/post.js
Labels: Auto: Route Test Complete, Route

#14634 fix: use access token for all Mastodon routes
  lib/routes/mastodon/timeline-local.js
  lib/routes/mastodon/timeline-remote.js
  lib/routes/mastodon/utils.js
Labels: Auto: Route Test Complete, Route

#14636 fix(route/weibo/user): querystring
  lib/routes/weibo/user.js
Labels: Auto: Route Test Complete, Route

#14646 feat: expose server URLs in the CLI
  lib/index.ts
  lib/utils/common-utils.test.ts
  lib/utils/common-utils.ts
Labels: core enhancement, Auto: Route Test Skipped

#14637 fix(route/weibo/user): all pinned weibo get removed if any is too old
  lib/routes/weibo/user.ts
Labels: Auto: Route Test Complete, Route

#14651 fix(route): cast
  lib/routes/cast/index.ts
  lib/routes/cast/maintainer.ts
  lib/routes/cast/radar.ts
  lib/routes/cast/router.ts
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete

#14664 feat(index): add back hot stats
  lib/errors/index.test.ts
  lib/errors/index.ts
  lib/middleware/debug.ts
  lib/utils/debug-info.ts
  lib/utils/git-hash.ts
  lib/views/error.art
  lib/views/index.tsx
Labels: core enhancement, Auto: Route Test Skipped

#14638 fix: route syntax for hono
  lib/errors/index.ts
  lib/routes/8kcos/router.ts
  lib/routes/abc/router.ts
  lib/routes/asiantolick/router.ts
  lib/routes/bnu/router.ts
  lib/routes/buaa/router.ts
  lib/routes/cas/router.ts
  lib/routes/cfmmc/router.ts
  lib/routes/chinawriter/router.ts
  lib/routes/cmde/router.ts
  lib/routes/cs/router.ts
  lib/routes/discuz/router.ts
  lib/routes/getitfree/router.ts
  lib/routes/github/router.ts
  lib/routes/gov/router.ts
  lib/routes/iqilu/router.ts
  lib/routes/jiemian/router.ts
  lib/routes/kantarworldpanel/router.ts
  lib/routes/liulinblog/router.ts
  lib/routes/logclub/router.ts
  lib/routes/m4/router.ts
  lib/routes/mail/router.ts
  lib/routes/mydrivers/router.ts
  lib/routes/ncc-cma/router.ts
  lib/routes/papers/router.ts
  lib/routes/people/router.ts
  lib/routes/pnas/router.ts
  lib/routes/qianp/router.ts
  lib/routes/qiyoujiage/router.ts
  lib/routes/rfi/router.ts
  lib/routes/stheadline/router.ts
  lib/routes/surfshark/router.ts
  lib/routes/tfc-taiwan/router.ts
  lib/routes/toodaylab/router.ts
  lib/routes/tradingview/router.ts
  lib/routes/whu/router.ts
  lib/routes/wmc-bj/router.ts
  lib/routes/worldjournal/router.ts
  lib/routes/xjtu/router.ts
  lib/routes/xmnn/router.ts
Labels: core enhancement, Auto: Route Test Complete, Route: deprecated, Route

#14652 fix(route): iDaily每日环球视野
  lib/router.js
  lib/routes-deprecated/idaily/index.js
  lib/routes/idaily/index.ts
  lib/routes/idaily/maintainer.ts
  lib/routes/idaily/radar.ts
  lib/routes/idaily/router.ts
  lib/routes/idaily/templates/description.art
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14671 fix(route): recover f-droid
  lib/router.js
  lib/routes-deprecated/fdroid/apprelease.js
  lib/routes/f-droid/apprelease.ts
  lib/routes/f-droid/maintainer.ts
  lib/routes/f-droid/radar.ts
  lib/routes/f-droid/router.ts
  website/docs/routes/program-update.mdx
Labels: Auto: Route Test Complete, Route: deprecated

#14674 fix(route): recover zhuwang
  lib/router.js
  lib/routes/zhuwang/index.ts
  lib/routes/zhuwang/maintainer.ts
  lib/routes/zhuwang/radar.ts
  lib/routes/zhuwang/router.ts
  website/docs/routes/other.mdx
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14676 fix(anti-hotlink): skip base64 image
  lib/middleware/anti-hotlink.test.ts
  lib/middleware/anti-hotlink.ts
  lib/middleware/parameter.test.ts
  lib/routes/test/index.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#14683 fix(route): scmp
  lib/routes/scmp/index.ts
  lib/routes/scmp/utils.ts
Labels: Auto: Route Test Complete, Route

#14684 fix(route): techflowpost
  lib/routes/techflowpost/express.ts
  lib/routes/techflowpost/index.ts
  lib/routes/techflowpost/radar.ts
  website/docs/routes/finance.mdx
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route

#14700 fix(route): t66y
  lib/router.js
  lib/routes-deprecated/t66y/index.js
  lib/routes-deprecated/t66y/post.js
  lib/routes/t66y/index.ts
  lib/routes/t66y/maintainer.ts
  lib/routes/t66y/post.ts
  lib/routes/t66y/radar.ts
  lib/routes/t66y/router.ts
  lib/routes/t66y/utils.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14702 fix(route): bloomberg video parsing
  lib/routes/bloomberg/utils.ts
Labels: Auto: Route Test Complete, Route

#14687 feat(route): add 中国科学学与科技政策研究会研究会动态
  lib/routes/casssp/maintainer.ts
  lib/routes/casssp/news.ts
  lib/routes/casssp/radar.ts
  lib/routes/casssp/router.ts
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route

#14710 fix(route): recover a9vg
  lib/router.js
  lib/routes-deprecated/a9vg/a9vg.js
  lib/routes/a9vg/a9vg.ts
  lib/routes/a9vg/maintainer.ts
  lib/routes/a9vg/radar.ts
  lib/routes/a9vg/router.ts
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14670 feat(route): add qust jw
  lib/routes/qust/jw.ts
  lib/routes/qust/maintainer.ts
  lib/routes/qust/radar.ts
  lib/routes/qust/router.ts
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route

#14713 fix(route): /pku/scc/recruit
  lib/routes/pku/scc/recruit.ts
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route

#14682 fix(route): wenku8 volume
  lib/routes/wenku8/volume.ts
  website/docs/routes/reading.mdx
Labels: Auto: Route Test Complete, Route

#14720 fix: 修复印记中文周刊rss feat: 为印记中文rss增加分类
  lib/routes/docschina/jsweekly.ts
  lib/routes/docschina/maintainer.ts
  lib/routes/docschina/radar.ts
  lib/routes/docschina/router.ts
  lib/routes/docschina/weekly.ts
  website/docs/routes/programming.mdx
Labels: Auto: Route Test Complete, Route

#14673 fix(route): migrate pjsk
  lib/router.js
  lib/routes/sega/maintainer.ts
  lib/routes/sega/pjsekai.ts
  lib/routes/sega/radar.ts
  lib/routes/sega/router.ts
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14721 fix(route): show correct author name (AEON)
  lib/routes/aeon/utils.ts
Labels: Auto: Route Test Complete, Route

#14722 fix: logo not showing with ACCESS_KEY
  lib/middleware/access-control.ts
Labels: core enhancement, Auto: Route Test Skipped

#14744 fix(route): telegram parameters showReplyTo and showViaBot
  lib/routes/telegram/channel.ts
Labels: Auto: Route Test Complete, Route

#14739 fix: weibo image regex
  lib/routes/weibo/friends.ts
  lib/routes/weibo/group.ts
  lib/routes/weibo/keyword.ts
  lib/routes/weibo/oasis/user.ts
  lib/routes/weibo/super-index.ts
  lib/routes/weibo/timeline.ts
  lib/routes/weibo/user.ts
  lib/routes/weibo/utils.ts
Labels: Auto: Route Test Complete, Route

#14742 refactor(router): cast
  lib/routes/cast/index.ts
Labels: Auto: Route Test Skipped, Route

#14759 fix(route): 添加language字段
  lib/routes/aeaweb/index.ts
  lib/routes/annualreviews/index.ts
  lib/routes/nber/index.ts
  lib/routes/oup/index.ts
  lib/routes/trendingpapers/papers.ts
  lib/routes/uchicago/current.ts
Labels: Auto: Route Test Complete, Route

#14762 fix(route): fix MMDArchive example
  lib/routes/booru/mmda.ts
Labels: Auto: Route Test Complete, Route

#14765 fix(modrinth): fix the path & adapt to typescript
  lib/routes/modrinth/versions.ts
  lib/utils/got.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#14797 fix(route): Update wmpvp news title
  lib/routes/wmpvp/index.ts
Labels: Auto: Route Test Complete, Route

#14686 feat(route): add maimai DX
  lib/routes/sega/maimaidx.ts
Labels: Auto: Route Test Complete, Route

#14727 feat: 为印记中文周刊rss增加完整文章抓取
  lib/routes/docschina/weekly.ts
Labels: Auto: Route Test Complete, Route

#14796 fix(route): dongqiudi team news
  lib/routes/docschina/weekly.ts
  lib/routes/dongqiudi/daily.ts
  lib/routes/dongqiudi/player-news.ts
  lib/routes/dongqiudi/result.ts
  lib/routes/dongqiudi/special.ts
  lib/routes/dongqiudi/team-news.ts
Labels: Auto: Route Test Complete, Route

#14734 feat(route): jpxgmn
  lib/routes/jpxgmn/namespace.ts
  lib/routes/jpxgmn/search.ts
  lib/routes/jpxgmn/tab.ts
  lib/routes/jpxgmn/templates/description.art
  lib/routes/jpxgmn/utils.ts
  lib/routes/jpxgmn/weekly.ts
Labels: Auto: Route Test Complete, Route

#14808 fix(route): remove zhangyoubao route
  lib/routes/zhangyoubao/index.ts
  lib/routes/zhangyoubao/namespace.ts
  lib/routes/zhangyoubao/templates/article.art
  website/docs/routes/game.mdx
Labels: Auto: Route Test Skipped, Route

#14810 fix(route): 中国海洋大学教务处
  lib/routes/ouc/jwc.ts
Labels: Auto: Route Test Complete, Route

#14740 feat(route): add 便宜VPS网
  lib/routes/pianyivps/namespace.ts
  lib/routes/pianyivps/rss.ts
Labels: Auto: Route Test Complete, Route

#14772 feat(route): /booru/mmda MMDArchive Better Reading Experience and add radar
  lib/routes/booru/mmda.ts
  lib/routes/booru/templates/description.art
Labels: Auto: Route Test Complete, Route

#14815 fix(route): Fix 便宜VPS网
  lib/routes/pianyivps/rss.ts
Labels: Auto: Route Test Complete, Route

#14746 feat(route): web.dev
  lib/routes/web/articles.ts
  lib/routes/web/blog.ts
  lib/routes/web/namespace.ts
  lib/routes/web/series.ts
  lib/routes/web/utils.ts
Labels: Auto: Route Test Complete, Route

#14731 feat: 添加rustcc.cn的新闻聚合抓取
  lib/routes/rustcc/news.ts
Labels: Auto: Route Test Complete, Route

#14751 fix(route): 追新番最近更新
  lib/router.js
  lib/routes-deprecated/fanxinzhui/latest.js
  lib/routes/fanxinzhui/index.ts
  lib/routes/fanxinzhui/namespace.ts
  lib/routes/fanxinzhui/templates/description.art
Labels: core enhancement, Auto: Route Test Complete, Route: deprecated, Route

#14766 fix(route): Fix mi
  lib/router.js
  lib/routes-deprecated/mi/miui/index.js
  lib/routes/mi/crowdfunding.ts
  lib/routes/mi/golden.ts
  lib/routes/mi/namespace.ts
  lib/routes/miui/index.ts
  lib/routes/miui/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14774 fix(route): Fix ipsw
  lib/router.js
  lib/routes-deprecated/ipsw/index.js
  lib/routes/ipsw/index.ts
  lib/routes/ipsw/namespace.ts
Labels: core enhancement, Auto: Route Test Complete, Route: deprecated, Route

#14785 fix(route): Fix nosec
  lib/router.js
  lib/routes/nosec/index.ts
  lib/routes/nosec/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14788 feat(route): add Reactiflux Transcripts
  lib/routes/reactiflux/namespace.ts
  lib/routes/reactiflux/transcripts.ts
Labels: Auto: Route Test Complete, Route

#14820 fix(route): fix readhub/daily error
  lib/routes/readhub/daily.ts
Labels: Auto: Route Test Complete, Route

#14814 fix(route): bilibili/user/collection
  lib/routes/bilibili/user-collection.ts
Labels: Auto: Route Test Complete, Route

#14823 fix(route): remove redundant whitespace (web)
  lib/routes/web/series.ts
Labels: Auto: Route Test Skipped, Route

#14816 fix(route): Fix 赵容部落
  lib/routes/zrblog/rss.ts
Labels: Auto: Route Test Complete, Route

#14828 fix DIYgod/RSSHub-Radar#953
  lib/routes/github/comments.ts
Labels: Auto: Route Test Complete, Route

#14829 fix(route): fix 免費資源網路社群
  lib/routes/free/rss.ts
Labels: Auto: Route Test Complete, Route

#14842 feat(route)(telegram/channel): support for video stickers
  lib/routes/telegram/channel.ts
Labels: Auto: Route Test Complete, Route

#14775 feat(route): complete FCB's v3 route info.
  lib/routes/freecomputerbooks/index.ts
Labels: Auto: Route Test Complete, Route

#14841 feat(route): Kemono Posts remove Ad
  lib/routes/kemono/index.ts
Labels: Auto: Route Test Complete, Route

#14821 feat(route): Add TGBUS (电玩巴士)
  lib/routes/tgbus/list.ts
  lib/routes/tgbus/namespace.ts
  lib/routes/tgbus/utils.ts
Labels: Auto: Route Test Complete, Route

#14843 fix(route): Fix 荒岛
  lib/routes/lala/rss.ts
Labels: Auto: Route Test Complete, Route

#14764 fix(route): Fix xiaoheihe
  lib/router.js
  lib/routes-deprecated/xiaoheihe/discount.js
  lib/routes-deprecated/xiaoheihe/news.js
  lib/routes-deprecated/xiaoheihe/user.js
  lib/routes/xiaoheihe/discount.ts
  lib/routes/xiaoheihe/namespace.ts
  lib/routes/xiaoheihe/news.ts
  lib/routes/xiaoheihe/user.ts
  lib/routes/xiaoheihe/util.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14827 fix(route): Fix gov/chongqing/sydwgkzp error
  lib/routes/gov/chongqing/gzw.ts
  lib/routes/gov/chongqing/rsks.ts
  lib/routes/gov/chongqing/sydwgkzp.ts
Labels: Auto: Route Test Complete, Route

#14846 fix: cs index path
  lib/routes/cs/index.ts
  lib/routes/cs/namespace.ts
Labels: Auto: Route Test Complete, Route

#14806 fix(route): fix redundant '/' in stats.gov.cn
  lib/routes/gov/stats/index.ts
Labels: Auto: Route Test Complete, Route

#14847 fix(route): Fix HiFeng'Blog
  lib/routes/hicairo/rss.ts
Labels: Auto: Route Test Complete, Route

#14848 feat(route): Update wmpvp news description
  lib/routes/wmpvp/index.ts
Labels: Auto: Route Test Complete, Route

#14852 fix(route): Fix howtoforge
  lib/routes/howtoforge/rss.ts
Labels: Auto: Route Test Complete, Route

#14858 fix(route): 18comic add cover image
  lib/routes/18comic/templates/description.art
  lib/routes/18comic/utils.ts
Labels: Auto: Route Test Complete, Route

#14856 feat(route): Add 浙江工业大学设计与建筑学院通知
  lib/routes/zjut/da/index.ts
  lib/routes/zjut/namespace.ts
Labels: Auto: Route Test Complete, Route

#14860 fix(route): Fix 国外主机测评
  lib/routes/zhujiceping/rss.ts
Labels: Auto: Route Test Complete, Route

#14854 feat(route): 中国海洋大学后勤通知
  lib/routes/ouc/hqsz.ts
Labels: Auto: Route Test Complete, Route

#14818 feat(route): recover kaopu.news route
  lib/router.js
  lib/routes-deprecated/kaopunews/index.js
  lib/routes/kaopu/namespace.ts
  lib/routes/kaopu/news.ts
Labels: core enhancement, Auto: Route Test Complete, Route: deprecated, Route

#14861 fix(route): Fix 电脑玩物
  lib/routes/playpcesor/rss.ts
Labels: Auto: Route Test Complete, Route

#14859 fix(route): 4k世界
  lib/routes/4ksj/forum.ts
  lib/routes/4ksj/templates/description.art
Labels: Auto: Route Test Complete, Route

#14882 feat(route): Add USENIX ;login:
  lib/routes/usenix/loginonline.ts
Labels: Auto: Route Test Complete, Route

#14869 fix(route): fix 不良林
  lib/routes/bulianglin/rss.ts
Labels: Auto: Route Test Complete, Route

#14871 feat(route): recover priconne-redive
  lib/routes/priconne-redive/news.ts
Labels: Auto: Route Test Complete, Route

#14863 feat: use jsx
  lib/app.tsx
  lib/middleware/template.tsx
  lib/types.ts
  lib/utils/render.ts
  lib/views/atom.art
  lib/views/atom.tsx
  lib/views/rss.art
  lib/views/rss.tsx
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: Route Test Skipped, Auto: Route Test Complete, Route Test: Failed

#14874 fix: jandan image can't load
  lib/routes/jandan/index.ts
  lib/routes/jandan/section.ts
Labels: Auto: Route Test Complete, Route

#14897 fix(route): /douban/book/latest
  lib/routes/douban/book/latest.ts
  lib/routes/douban/other/latest-book.ts
Labels: Auto: Route Test Complete, Route

#14870 feat(route): Add yxxc(游戏星辰)
  lib/routes/2023game/index.ts
  lib/routes/2023game/namespace.ts
Labels: Auto: Route Test Complete, Route

#14893 fix(route): fix priconne-redive and remove deprecated route
  lib/router.js
  lib/routes-deprecated/pcr/news-cn.js
  lib/routes-deprecated/pcr/news-tw.js
  lib/routes/priconne-redive/news.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14886 fix(route): 南方周末
  lib/router.js
  lib/routes-deprecated/infzm/news.js
  lib/routes/infzm/index.ts
  lib/routes/infzm/types.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14898 fix(route): 小刀娱乐网
  lib/routes/x6d/index.ts
Labels: Auto: Route Test Complete, Route

#14896 feat(route): Add LA UOSC社区
  lib/routes/loongarch/namespace.ts
  lib/routes/loongarch/post.ts
Labels: Auto: Route Test Complete, Route

#14884 fix(route): fix 36kr route & kaopu.news doc desc
  lib/routes/36kr/index.ts
  lib/routes/kaopu/news.ts
Labels: Auto: Route Test Complete, Route

#14892 fix(route): Fix afdian
  lib/router.js
  lib/routes/afdian/dynamic.ts
  lib/routes/afdian/explore.ts
  lib/routes/afdian/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14902 doc(route):/douban/book/latest
  lib/routes/douban/book/latest.ts
Labels: Auto: Route Test Complete, Route

#14885 feat(route): add 甬哥侃侃侃YouTube教程摘要随笔
  lib/routes/ygkkk/namespace.ts
  lib/routes/ygkkk/rss.ts
Labels: Auto: Route Test Complete, Route

#14904 fix(route):/3dmgame/news
  lib/routes/3dmgame/game.ts
  lib/routes/3dmgame/news-center.ts
Labels: Auto: Route Test Complete, Route

#14857 feat(route): linovelib volume
  lib/routes/linovelib/namespace.ts
  lib/routes/linovelib/volume.ts
Labels: Auto: Route Test Complete, Route

#14905 feat(route): add 子方有料
  lib/routes/ippa/namespace.ts
  lib/routes/ippa/rss.ts
Labels: Auto: Route Test Complete, Route

#14906 fix(route): fix 2023game route description
  lib/routes/2023game/index.ts
Labels: Auto: Route Test Complete, Route

#14913 chore: upgrade got
  .github/dependabot.yml
  lib/utils/got.ts
  lib/utils/request-wrapper.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: Route Test Skipped

#14912 fix(route): fix indentation issue in ABC news description
  lib/routes/abc/index.ts
Labels: Auto: Route Test Skipped, Route

#14923 chore: fix route test github actions
  .github/dependabot.yml
  .github/workflows/comment-on-issue.yml
  .github/workflows/docker-test-cont.yml
  .github/workflows/issue-command.yml
  lib/views/error.tsx
  package.json
  pnpm-lock.yaml
  scripts/workflow/test-issue/call-maintainer.mjs
  scripts/workflow/test-route/identify.mjs
  scripts/workflow/test-route/test.js
  scripts/workflow/test-route/test.mjs
Labels: dependencies, core enhancement, Route Test: Failed

#14929 fix(route): bilibli/user/collection disableEmbed
  lib/routes/bilibili/user-collection.ts
Labels: Auto: Route Test Complete, Route

#14908 feat(route): Add appstorrent
  lib/routes/appstorrent/namespace.ts
  lib/routes/appstorrent/programs.ts
  lib/routes/appstorrent/templates/description.art
Labels: Auto: Route Test Complete, Route

#14925 feat(route): add dbaplus社群
  lib/routes/dbaplus/namespace.ts
  lib/routes/dbaplus/rss.ts
Labels: Auto: Route Test Complete, Route

#14934 test: add full routes test
  .github/workflows/build-assets.yml
  .github/workflows/test.yml
  .puppeteerrc.cjs
  Dockerfile
  lib/middleware/cache.test.ts
  lib/registry.test.ts
  lib/registry.ts
  lib/routes.test.ts
  lib/routes/afdian/dynamic.ts
  lib/routes/bilibili/dynamic.ts
  lib/routes/test/index.ts
  lib/routes/youtube/channel.ts
  package.json
  pnpm-lock.yaml
  scripts/workflow/build-docs.ts
  scripts/workflow/build-routes.ts
  tsconfig.json
Labels: dependencies, core enhancement, Auto: Route Test Skipped, Route, Route Test: Failed

#14937 feat(route): recover route blogread/newest
  lib/router.js
  lib/routes/blogread/index.ts
  lib/routes/blogread/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14936 feat(route): add 1x.com
  lib/routes-deprecated/1x/index.js
  lib/routes/1x/index.ts
  lib/routes/1x/namespace.ts
  lib/routes/1x/templates/description.art
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14957 fix: update bilibili dynamic API to v2 from v1
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Skipped, Auto: Route Test Complete, Route

#14955 fix(route): /163/dy2/:id pic shows correctly
  lib/routes/163/dy2.ts
  lib/routes/163/utils.ts
Labels: Auto: Route Test Complete, Route

#14959 feat(route): Add 北京师范大学教务部
  lib/routes/bnu/jwb.ts
Labels: Auto: Route Test Complete, Route

#14911 feat(route): Add 浙江工业大学官网通知
  lib/routes/zjut/da/index.ts
  lib/routes/zjut/namespace.ts
  lib/routes/zjut/news.ts
Labels: Auto: Route Test Complete, Route

#14909 feat(route): Add gamer520(全球游戏交流中心)
  lib/routes/gamer520/index.ts
  lib/routes/gamer520/namespace.ts
Labels: Auto: Route Test Complete, Route

#14907 feat(route): Add 3kns(3k-Switch游戏库)
  lib/routes/3kns/index.ts
  lib/routes/3kns/namespace.ts
  lib/routes/3kns/templates/description.art
Labels: Auto: Route Test Complete, Route

#14960 fix: github user starred repos use reset api
  lib/routes/github/star.ts
  lib/routes/github/starred-repos.ts
Labels: Auto: Route Test Complete, Route

#14961 fix(core): accept header not working
  lib/routes/github/starred-repos.ts
  lib/utils/request-wrapper.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#14969 fix(route): guokr channel path
  lib/routes/guokr/channel.ts
  lib/routes/guokr/scientific.ts
  lib/routes/guokr/utils.ts
Labels: Auto: Route Test Complete, Route

#14975 fix(route): /smzdm/article/:uid
  lib/routes/smzdm/article.ts
Labels: Auto: Route Test Complete, Route

#14973 fix(route): use publishedAt (AEON)
  lib/routes/aeon/category.ts
  lib/routes/aeon/type.ts
  lib/routes/aeon/utils.ts
Labels: Auto: Route Test Complete, Route

#14980 fix(route): fix the namespace for BJFU
  lib/routes/bjfu/namespace.ts
Labels: Auto: Route Test Skipped, Route

#14974 feat(route): support category and fix time (twreporter)
  lib/routes/twreporter/category.ts
  lib/routes/twreporter/fetch-article.ts
Labels: Auto: Route Test Complete, Route

#14979 feat(route): add ntdm (animate)
  lib/routes/ntdm/namespace.ts
  lib/routes/ntdm/utils.ts
  lib/routes/ntdm/video.ts
Labels: Auto: Route Test Complete, Route

#14988 fix(route/pts): Refine link selector.
  lib/routes/pts/index.ts
Labels: Auto: Route Test Complete, Route

#14986 feat(route): 18comic add category to description
  lib/routes/18comic/templates/description.art
  lib/routes/18comic/utils.ts
Labels: Auto: Route Test Complete, Route

#14984 fix(route): AEON's banner
  lib/routes/aeon/utils.ts
Labels: Auto: Route Test Complete, Route

#14989 fix(route/docschina): markdown table in doc
  lib/routes/docschina/weekly.ts
Labels: Auto: Route Test Skipped, Route

#14987 fix(route): complete GitHub file params
  lib/routes/github/file.ts
Labels: Auto: Route Test Complete, Route

#14982 feat(route): add 君合律师事务所君合法评
  lib/routes/junhe/legal-updates.ts
  lib/routes/junhe/namespace.ts
Labels: Auto: Route Test Complete, Route

#14981 fix: 修复 form-data 依赖的缺失；增加 cross-env 以兼容 Windows 和 Linux 的环境变量设置
  .npmrc
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Skipped, Auto: Route Test Complete

#14920 feat(route): Add 小米社区用户发帖
  lib/routes/miui/community/user.ts
  lib/routes/miui/firmware/index.ts
Labels: Auto: Route Test Complete, Route

#14999 docs(route): /ntdm/video, update right example id
  lib/routes/ntdm/video.ts
Labels: Auto: Route Test Complete, Route

#15000 fix(core): fix wrong path on Windows deploy
  lib/registry.ts
Labels: core enhancement, Auto: Route Test Complete

#14983 feat(route): migrate to v2 api (twreporter)
  lib/routes/twreporter/category.ts
  lib/routes/twreporter/fetch-article.ts
  lib/routes/twreporter/newest.ts
  lib/routes/twreporter/templates/image.art
  lib/routes/twreporter/templates/youtube.art
Labels: Auto: Route Test Complete, Route

#15002 fix(route): 中华人民共和国交通运输部
  lib/routes/gov/mot/index.ts
Labels: Auto: Route Test Complete, Route

#15008 fix(route): 修复 知乎日报路由
  lib/routes/zhihu/daily.ts
Labels: Auto: Route Test Complete, Route

#14941 feat(route): /minecraft/version, add version type filter and wiki link generator
  lib/routes/minecraft/version.ts
Labels: Auto: Route Test Complete, Route

#15009 fix(route): 巴哈姆特電玩資訊站-GNN 新聞
  lib/routes/gamer/gnn-index.ts
Labels: Auto: Route Test Complete, Route

#15024 fix(modrinth): name could be null
  lib/routes/modrinth/versions.ts
Labels: Auto: Route Test Complete, Route

#15014 fix(route): BT之家1LOU站
  lib/routes/1lou/index.ts
  lib/routes/1lou/namespace.ts
Labels: Auto: Route Test Complete, Route

#15027 fix(modrinth): avoid duplicating author id
  lib/routes/modrinth/versions.ts
Labels: Auto: Route Test Complete, Route

#15028 fix(router): MMDArchive fix __dirname
  lib/routes/booru/mmda.ts
Labels: Auto: Route Test Complete, Route

#15015 feat(route): add 幻之羁绊动漫网
  lib/routes-deprecated/005tv/zx.js
  lib/routes/005/index.ts
  lib/routes/005/namespace.ts
  lib/routes/005/templates/description.art
Labels: Auto: Route Test Complete, Route: deprecated, Route

#14922 feat: use ofetch
  lib/app.tsx
  lib/config.test.ts
  lib/config.ts
  lib/errors/index.test.ts
  lib/errors/index.tsx
  lib/middleware/cache.test.ts
  lib/middleware/parameter.test.ts
  lib/middleware/parameter.ts
  lib/routes/bloomberg/utils.ts
  lib/routes/gov/chinatax/latest.ts
  lib/routes/line/utils.ts
  lib/routes/phoronix/index.ts
  lib/routes/pixiv/token.ts
  lib/routes/wechat/feeddd.ts
  lib/routes/wfu/news.ts
  lib/setup.test.ts
  lib/utils/common-config.test.ts
  lib/utils/common-config.ts
  lib/utils/got-deprecated.ts
  lib/utils/got.test.ts
  lib/utils/got.ts
  lib/utils/ofetch.ts
  lib/utils/proxy/index.ts
  lib/utils/rand-user-agent.test.ts
  lib/utils/request-rewriter.test.ts
  lib/utils/request-rewriter/fetch.ts
  lib/utils/request-rewriter/get.ts
  lib/utils/request-rewriter/index.ts
  lib/utils/request-wrapper.test.ts
  lib/utils/request-wrapper.ts
  lib/utils/rss-parser.test.ts
  lib/utils/wechat-mp.test.ts
  lib/utils/wechat-mp.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Labels: dependencies, core enhancement, Auto: Route Test Skipped, Route
