Repository DIYgod/RSSHub, pull requests merged in 2024-10, with the labels that each got.

#16977 feat(route): add github discussions route
  lib/routes/github/discussions.ts
Labels: Auto: Route Test Complete, Route

#16971 feat: add a route to Bangumi's user favorites list
  lib/routes/bangumi/templates/tv/subject.art
  lib/routes/bangumi/tv/user/collections.ts
Labels: Auto: Route Test Complete, Route

#16981 fix(route): douyin
  lib/routes/douyin/types.ts
  lib/routes/douyin/user.ts
  lib/routes/douyin/utils.ts
Labels: Auto: Route Test Complete, Route

#16980 feat(routes/ceph): add ceph blog
  lib/routes/ceph/blog.ts
  lib/routes/ceph/namespace.ts
Labels: Auto: Route Test Complete, Route

#16982 feat(route): add 中国证券监督管理委员会政府信息公开
  lib/routes/gov/csrc/csrc.ts
Labels: Auto: Route Test Complete, Route

#16988 fix(route): 修复中国证券监督管理委员会详情没有链接到正确页面
  lib/routes/gov/csrc/csrc.ts
Labels: Auto: Route Test Complete, Route

#16996 feat(route): add A9VG 电玩部落新闻 & 评测
  lib/routes/a9vg/a9vg.ts
  lib/routes/a9vg/index.ts
  lib/routes/a9vg/namespace.ts
  lib/routes/a9vg/templates/description.art
Labels: Auto: Route Test Complete, Route

#16984 feat(route): add KISS blog
  lib/routes/kisskiss/blog.ts
  lib/routes/kisskiss/namespace.ts
Labels: Auto: Route Test Complete, Route

#16974 feat(route/mi): refactor crowdfunding with ofetch and art-template
  lib/routes/mi/crowdfunding.ts
  lib/routes/mi/templates/crowdfunding.art
  lib/routes/mi/types.ts
  lib/routes/mi/utils.ts
Labels: Auto: Route Test Complete, Route

#16960 feat(route): add Resonac
  lib/routes/resonac/namespace.ts
  lib/routes/resonac/products.ts
Labels: Auto: Route Test Complete, Route

#17004 build(docker): use corepack before setting registry
  Dockerfile
Labels: Auto: Route Test Complete

#16745 feat(github): 添加 GitHub Advisory Database RSS 路由
  lib/routes/github/advisor.ts
Labels: Auto: Route Test Complete, Route

#17011 fix(route/zhihu): Repair the regex for extracting `__zse_ck`
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#17016 fix(route/huggingface): sanitize pubDate to capture correct blog publication date
  lib/routes/huggingface/blog-zh.ts
Labels: Auto: Route Test Complete, Route

#17007 fix(route/sciencenet): 修复科学网 - 用户博客没有按照时间线倒序排序
  lib/routes/sciencenet/user.ts
Labels: Auto: Route Test Complete, Route

#17010 fix(route/zhihu): Sanitize the title when parsing "pins" with links.
  lib/routes/zhihu/activities.ts
Labels: Auto: Route Test Complete, Route

#17015 feat: add cohere blog route
  lib/routes/cohere/index.ts
  lib/routes/cohere/namespace.ts
Labels: Auto: Route Test Complete, Route

#17037 fix(route/follow): filter `inbox`
  lib/routes/follow/profile.ts
  lib/routes/follow/types.ts
Labels: Auto: Route Test Complete, Route

#17036 feat(route): add 华中科技大学机械科学与工程学院
  lib/routes/hust/mse.ts
Labels: Auto: Route Test Complete, Route

#17030 feat: Add L'Orient-Le Jour Route
  lib/config.ts
  lib/routes/lorientlejour/index.ts
  lib/routes/lorientlejour/namespace.ts
  lib/routes/lorientlejour/templates/description.art
Labels: Auto: Route Test Complete, Route

#16823 fix: update route HelloGitHub
  lib/routes/hellogithub/index.ts
  lib/routes/hellogithub/report.ts
Labels: Auto: Route Test Complete, Route

#16850 feat(route): add 中华人民共和国国家发展和改革委员会政府信息公开
  lib/routes/gov/ndrc/zfxxgk.ts
  lib/routes/gov/ndrc/zfxxgk/articles.ts
Labels: Auto: Route Test Complete, Route

#17044 fix(cache): store cache TTL
  lib/utils/cache/redis.ts
Labels: core enhancement, Auto: Route Test Complete

#17045 feat(route/lorientlejour): fix limit query and add multiple categories functionality
  lib/routes/lorientlejour/index.ts
Labels: Auto: Route Test Complete, Route

#17049 fix(route/lorientlejour): fix subcategories
  lib/routes/lorientlejour/index.ts
Labels: Auto: Route Test Complete, Route

#17056 docs: news.cn namespace change to 新华社
  lib/routes/news/namespace.ts
Labels: Auto: Route Test Complete, Route

#17050 fix(route/bangumi): update follow rank parsing logic
  lib/routes/bangumi/tv/other/followrank.ts
Labels: Auto: Route Test Complete, Route

#17064 fix(route): bilibili vsearch
  lib/routes/bilibili/vsearch.ts
Labels: Auto: Route Test Complete, Route

#17065 fix(route): update fanbox
  lib/routes/fanbox/index.ts
  lib/routes/fanbox/types.ts
Labels: Auto: Route Test Complete, Route

#17048 feat(roure): fix xueqiu relateroute
  lib/routes/xueqiu/cookies.ts
Labels: Auto: Route Test Complete, Route

#17068 feat(misskey): Include file attachments in user notes API request
  lib/routes/misskey/utils.ts
Labels: Auto: Route Test Complete, Route

#17029 feat(route): add 中国豆制品网
  lib/routes/cbpanet/index.ts
  lib/routes/cbpanet/namespace.ts
Labels: Auto: Route Test Complete, Route

#17078 fix(misskey): Handle renotes properly to improve content display
  lib/routes/misskey/utils.ts
Labels: Auto: Route Test Complete, Route

#17081 fix: catch Invalid Date
  lib/middleware/template.tsx
Labels: core enhancement, Auto: Route Test Skipped

#17098 fix(route): change url in `/tvb/news`
  lib/routes/tvb/news.ts
Labels: Auto: Route Test Complete, Route

#16933 feat(route): add route UK Parliament Lords Library research by topic
  lib/routes/parliament.uk/lordslibrary.ts
  lib/routes/parliament.uk/namespace.ts
Labels: Auto: Route Test Complete, Route

#16941 feat(route): add route UK Parliament Commons Library research by topic
  lib/routes/parliament.uk/commonslibrary.ts
Labels: Auto: Route Test Complete, Route

#17116 fix(route/oncc): fix art-template
  lib/routes/oncc/templates/article.art
Labels: Auto: Route Test Complete

#16937 feat(route): add AIbase
  lib/routes/aibase/discover.ts
  lib/routes/aibase/namespace.ts
  lib/routes/aibase/templates/description.art
  lib/routes/aibase/topic.ts
  lib/routes/aibase/util.ts
Labels: Auto: Route Test Complete, Route

#17074 feat: add route ipsw.dev
  lib/routes/ipsw.dev/index.ts
  lib/routes/ipsw.dev/namespace.ts
  lib/routes/ipsw.dev/templates/description.art
Labels: Auto: Route Test Complete, Route

#17092 feat(route): update routes for uestc jwc and gr
  lib/routes/uestc/gr.ts
  lib/routes/uestc/jwc.ts
Labels: Auto: Route Test Complete, Route

#17093 feat(route): add 国门传媒在线中国海关
  lib/routes/gmcmonline/chinacustoms.ts
  lib/routes/gmcmonline/namespace.ts
Labels: Auto: Route Test Complete, Route

#17103 fix(route): dlsite
  lib/routes/dlsite/campaign.ts
  lib/routes/dlsite/new.ts
  lib/routes/dlsite/z-index/index.ts
Labels: Auto: Route Test Complete, Route

#17120 fix(route/5eplay): update data acquisition method
  lib/routes/5eplay/index.ts
Labels: Auto: Route Test Complete, Route

#17047 feat(route): add route for skeb
  lib/config.ts
  lib/routes/skeb/following-creators.ts
  lib/routes/skeb/following-works.ts
  lib/routes/skeb/friend-works.ts
  lib/routes/skeb/index.ts
  lib/routes/skeb/namespace.ts
  lib/routes/skeb/search.ts
  lib/routes/skeb/templates/creator.art
  lib/routes/skeb/templates/work.art
  lib/routes/skeb/utils.ts
  lib/routes/skeb/works.ts
Labels: Auto: Route Test Complete, Route

#17099 feat: extract content
  lib/routes/rsshub/transform/html.ts
Labels: Auto: Route Test Complete, Route

#17132 fix(route): add cool paper Robotics RSS and fix kimi url
  lib/routes/papers/index.ts
Labels: Auto: Route Test Complete, Route

#17130 refactor(route/hex-rays): update data acquisition method
  lib/routes/hex-rays/index.ts
Labels: Auto: Route Test Complete, Route

#17129 fix(route/parliament.uk): page link and items selector
  lib/routes/parliament.uk/commonslibrary.ts
  lib/routes/parliament.uk/lordslibrary.ts
Labels: Auto: Route Test Complete, Route

#17136 feat: encoding option
  lib/routes/rsshub/transform/html.ts
Labels: Auto: Route Test Complete, Route

#17133 chore: add maintainer in two routes
  lib/routes/bilibili/video.ts
  lib/routes/weibo/user.ts
Labels: Auto: Route Test Skipped, Route

#17082 feat: add hko route
  lib/routes-deprecated/hko/weather.js
  lib/routes/hko/earthquake.ts
  lib/routes/hko/namespace.ts
  lib/routes/hko/weather.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#17117 feat(route): add 中国无机盐工业协会
  lib/routes/cisia/index.ts
  lib/routes/cisia/namespace.ts
Labels: Auto: Route Test Complete, Route

#17153 fix(route): famitsu
  lib/routes/famitsu/category.ts
Labels: Auto: Route Test Complete, Route

#17156 docs: fix Skeb route examples and description
  lib/routes/skeb/following-creators.ts
  lib/routes/skeb/following-works.ts
  lib/routes/skeb/friend-works.ts
  lib/routes/skeb/index.ts
  lib/routes/skeb/search.ts
  lib/routes/skeb/works.ts
Labels: Auto: Route Test Skipped, Route

#17122 feat(route): add route for HFUT合肥工业大学通知公告
  lib/routes/hfut/hf/notice.ts
  lib/routes/hfut/hf/utils.ts
  lib/routes/hfut/namespace.ts
  lib/routes/hfut/xc/notice.ts
  lib/routes/hfut/xc/utils.ts
Labels: Auto: Route Test Complete, Route

#17152 fix(route/zaobao): update list parsing logic
  lib/routes/zaobao/util.ts
Labels: Auto: Route Test Complete, Route

#17149 feat(route): add route for graduacted school of CJLU (China Jiliang University)
  lib/routes/cjlu/namespace.ts
  lib/routes/cjlu/yjsy/index.ts
Labels: Auto: Route Test Complete, Route

#17164 feat(route): add route aibase/news
  lib/routes/aibase/news.ts
  lib/routes/aibase/util.ts
Labels: Auto: Route Test Complete, Route

#17171 fix(route/the): Adjust default limit to get the latest articles
  lib/routes/the/index.ts
Labels: Auto: Route Test Complete, Route

#16730 fix: route ‘/gov/zj/search/:websiteid?/:word/:cateid?’ result.item deduplication
  lib/routes/gov/zj/search.ts
Labels: Auto: Route Test Complete, Route

#17105 feat(route): add icable route
  lib/routes/i-cable/namespace.ts
  lib/routes/i-cable/news.ts
  lib/routes/i-cable/templates/description.art
Labels: Auto: Route Test Complete, Route

#17179 fix(route): dcfever
  lib/routes/dcfever/trading.ts
  lib/routes/dcfever/utils.ts
Labels: Auto: Route Test Complete, Route

#17147 fix(route/bilibili): add addDmVerifyInfoWithInter to bypass the risk control mechanism
  lib/config.ts
  lib/routes/bilibili/cache.ts
  lib/routes/bilibili/utils.ts
  lib/routes/bilibili/video.ts
Labels: Auto: Route Test Complete, Route

#17144 fix(route/weibo): Solve the problem that Weibo Radar rules cannot be generated correctly
  lib/routes/weibo/user.ts
Labels: Auto: Route Test Complete, Route

#17166 fix(route): fix Twitter Username+password login
  lib/routes/twitter/api/mobile-api/login.ts
Labels: Auto: Route Test Complete, Route

#17163 feat(route): add straits times route
  lib/routes/straitstimes/index.ts
  lib/routes/straitstimes/namespace.ts
  lib/routes/straitstimes/templates/description.art
Labels: Auto: Route Test Complete, Route

#17181 feat(route): add route for skebetter
  lib/routes/skebetter/illust.ts
  lib/routes/skebetter/index.ts
  lib/routes/skebetter/manga.ts
  lib/routes/skebetter/namespace.ts
  lib/routes/skebetter/utils.ts
Labels: Auto: Route Test Complete, Route

#17182 feat(route): ktown4u
  lib/routes/ktown4u/artist-brandlist.ts
  lib/routes/ktown4u/namespace.ts
Labels: Auto: Route Test Complete, Route

#17178 feat(route): MissKON
  lib/routes/misskon/namespace.ts
  lib/routes/misskon/posts.ts
  lib/routes/misskon/tag.ts
  lib/routes/misskon/top.ts
  lib/routes/misskon/utils.ts
Labels: Auto: Route Test Complete, Route

#17180 feat(route): add InfoQ Presentations
  lib/routes/infoq/presentations.ts
  lib/routes/infoq/templates/description.art
Labels: Auto: Route Test Complete, Route

#17188 feat(route/nudt): Add more RSS source about yjszs
  lib/routes/nudt/yjszs.ts
Labels: Auto: Route Test Complete, Route

#17193 fix(route/twitter): Mask the error output to avoid leak token
  lib/routes/twitter/api/web-api/utils.ts
Labels: Auto: Route Test Complete, Route

#17192 feat(route/zjut): Add 浙江工业大学计算机学院
  lib/routes/zjut/cs/index.ts
Labels: Auto: Route Test Complete, Route

#17190 feat(route/zjut): Add 浙江工业大学教务处
  lib/routes/zjut/jwc/index.ts
Labels: Auto: Route Test Complete, Route

#16355 feat(route/apnews): Expand range of application
  lib/routes/apnews/topics.ts
Labels: Auto: Route Test Complete, Route

#17194 fix(route/xaut): update new homepage
  lib/routes/xaut/index.ts
  lib/routes/xaut/namespace.ts
Labels: Auto: Route Test Complete, Route

#17115 feat(route): add route for 浦东新区-政务公开
  lib/routes/gov/pudong/zwgk.ts
Labels: Auto: Route Test Complete, Route

#17189 feat(route): add tkww 大公文匯 route
  lib/routes/tkww/index.ts
  lib/routes/tkww/namespace.ts
Labels: Auto: Route Test Complete, Route

#17197 docs: add require config for coolapk
  lib/routes/coolapk/dyh.ts
  lib/routes/coolapk/hot.ts
  lib/routes/coolapk/huati.ts
  lib/routes/coolapk/namespace.ts
  lib/routes/coolapk/toutiao.ts
  lib/routes/coolapk/tuwen.ts
  lib/routes/coolapk/user-dynamic.ts
Labels: Auto: Route Test Complete, Route

#17201 fix(route): 中华人民共和国国家发展和改革委员会价格监测中心
  lib/routes/gov/jgjcndrc/index.ts
Labels: Auto: Route Test Complete, Route

#17205 fix(route): dribbble
  lib/routes/dribbble/keyword.ts
  lib/routes/dribbble/popular.ts
  lib/routes/dribbble/user.ts
  lib/routes/dribbble/utils.ts
Labels: Auto: Route Test Complete, Route

#17204 fix(route): customs
  lib/routes/gov/customs/list.ts
  lib/routes/gov/customs/namespace.ts
Labels: Auto: Route Test Complete, Route

#17206 fix(route): 163
  lib/routes/163/music/playlist.ts
Labels: Auto: Route Test Complete, Route

#17207 fix(route): gameapps
  lib/routes/gameapps/index.ts
  lib/routes/gameapps/templates/description.art
Labels: Auto: Route Test Complete, Route

#17203 feat(route/apnews): Add `gtm` parsing method & misc refactor
  lib/routes/apnews/sitemap.ts
  lib/routes/apnews/topics.ts
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#17209 fix(route): mingpao more fancybox
  lib/routes/mingpao/index.ts
  lib/routes/mingpao/namespace.ts
Labels: Auto: Route Test Complete, Route

#17215 style(eslint): update no-restricted-syntax
  eslint.config.mjs
  lib/routes/51read/article.ts
  lib/routes/69shu/article.ts
  lib/routes/6v123/utils.ts
  lib/routes/baidu/search.ts
  lib/routes/bangumi/tv/other/followrank.ts
  lib/routes/biodiscover/index.ts
  lib/routes/chikubi/utils.ts
  lib/routes/ecnu/contest.ts
  lib/routes/foreverblog/feeds.ts
  lib/routes/github/pulse.ts
  lib/routes/google/search.ts
  lib/routes/hameln/chapter.ts
  lib/routes/linkedin/utils.ts
  lib/routes/parliament.uk/commonslibrary.ts
  lib/routes/parliament.uk/lordslibrary.ts
  lib/routes/pixivision/index.ts
  lib/routes/smzdm/product.ts
  lib/routes/sogou/search.ts
  lib/routes/syosetu/chapter.ts
  lib/routes/wechat/ershcimi.ts
  lib/routes/withgoogle/explorables.ts
  lib/routes/yilinzazhi/index.ts
  lib/routes/yilinzazhi/latest.ts
Labels: Auto: Route Test Skipped, Route

#17211 fix(route/ps): monthly-games
  lib/routes/ps/monthly-games.ts
Labels: Auto: Route Test Complete, Route

#17224 fix: douban topic item link
  lib/routes/douban/other/topic.ts
Labels: Auto: Route Test Complete, Route

#17225 fix(route): xueqiu token url
  lib/routes/xueqiu/cookies.ts
  lib/routes/xueqiu/favorite.ts
  lib/routes/xueqiu/hots.ts
  lib/routes/xueqiu/stock-info.ts
  lib/routes/xueqiu/today.ts
  lib/routes/xueqiu/user.ts
Labels: Auto: Route Test Complete, Route

#17227 fix(route): economist espresso
  lib/routes/economist/espresso.ts
Labels: Auto: Route Test Complete, Route

#17230 fix(route): Correct misuse of `fulltext` query
  lib/routes/apnews/api.ts
  lib/routes/apnews/rss.ts
  lib/routes/apnews/sitemap.ts
  lib/routes/apnews/topics.ts
  lib/routes/reuters/common.ts
Labels: Auto: Route Test Complete, Route

#17176 feat(route): Twitter list API support though mobile endpoints
  lib/routes/twitter/api/mobile-api/api.ts
Labels: Auto: Route Test Complete, Route

#17191 feat(misskey): add withRenotes and mediaOnly options for user timeline
  lib/routes/misskey/templates/note.art
  lib/routes/misskey/types.ts
  lib/routes/misskey/user-timeline.ts
  lib/routes/misskey/utils.ts
Labels: Auto: Route Test Complete, Route

#17214 feat(douban): add description
  lib/routes/douban/people/status.ts
Labels: Auto: Route Test Complete, Route

#17223 feat(route): Add SYCL.tech
  lib/routes/sycl/feeds.ts
  lib/routes/sycl/namespace.ts
Labels: Auto: Route Test Complete, Route

#17233 fix(route): douban status item link
  lib/routes/douban/people/status.ts
Labels: Auto: Route Test Complete, Route

#17229 feat(route): add ALICESOFT
  lib/routes/alicesoft/infomation.ts
  lib/routes/alicesoft/namespace.ts
Labels: Auto: Route Test Complete, Route

#17245 fix(route): 北京价格价格早报
  lib/routes/beijingprice/index.ts
Labels: Auto: Route Test Complete, Route

#17234 feat(route/douban): add topic support
  lib/routes/douban/other/topic.ts
Labels: Auto: Route Test Complete, Route

#17253 fix(route): segmentfault
  lib/routes/segmentfault/user.ts
  lib/routes/segmentfault/utils.ts
Labels: Auto: Route Test Complete, Route

#17251 fix(route/douban): remove parameter to avoid duplicate
  lib/routes/douban/other/topic.ts
  lib/routes/douban/people/status.ts
Labels: Auto: Route Test Complete, Route

#17256 fix(route): update 69shuba url
  lib/routes/69shu/article.ts
  lib/routes/69shu/namespace.ts
Labels: Auto: Route Test Complete, Route

#17257 fix(route): adjust author name
  lib/routes/douban/other/topic.ts
Labels: Auto: Route Test Complete, Route

#17270 fix(route): 北京价格价格日报
  lib/routes/beijingprice/index.ts
Labels: Auto: Route Test Complete, Route

#17261 feat(route): sorrycc.com
  lib/config.ts
  lib/routes/sorrycc/index.ts
  lib/routes/sorrycc/namespace.ts
  lib/routes/sorrycc/types.ts
Labels: Auto: Route Test Complete, Route

#17259 fix(route/sis001): add cookie to solve anti-crawler
  lib/config.ts
  lib/routes/sis001/author.ts
  lib/routes/sis001/common.ts
  lib/routes/sis001/forum.ts
  lib/routes/sis001/namespace.ts
Labels: Auto: Route Test Complete, Route

#17271 feat(route): add 同花顺财经7×24小时要闻直播
  lib/routes/10jqka/namespace.ts
  lib/routes/10jqka/realtimenews.ts
Labels: Auto: Route Test Complete, Route

#17273 fix(route/sis001): fix namespace description
  lib/routes/sis001/namespace.ts
Labels: Auto: Route Test Complete, Route

#17274 feat(route/zjut): Add 浙江工业大学首页
  lib/routes/zjut/www/index.ts
Labels: Auto: Route Test Complete, Route

#17275 fix(route/sis001): standardize guid for different base URLs
  lib/routes/sis001/common.ts
Labels: Auto: Route Test Complete, Route

#17277 fix(route/sorrycc): add pubDate
  lib/routes/sorrycc/index.ts
Labels: Auto: Route Test Complete, Route

#17290 fix(route/zjut): fix the title of 浙江工业大学首页
  lib/routes/zjut/www/index.ts
Labels: Auto: Route Test Complete, Route

#17289 fix(route/nodejs): Aready has official rss, and tweak selector of nod…
  lib/routes/nodejs/blog.ts
Labels: Auto: Route Test Complete, Route

#17287 feat: HOTLINK_TEMPLATE environment variable applied to audio and video link
  lib/middleware/anti-hotlink.ts
Labels: core enhancement, Auto: Route Test Skipped

#17293 refactor: split bangumi
  lib/routes/bangumi.moe/index.ts
  lib/routes/bangumi.moe/namespace.ts
  lib/routes/bangumi.online/namespace.ts
  lib/routes/bangumi.online/online.ts
  lib/routes/bangumi.online/templates/image.art
  lib/routes/bangumi.tv/calendar/_base.ts
  lib/routes/bangumi.tv/calendar/today.ts
  lib/routes/bangumi.tv/group/reply.ts
  lib/routes/bangumi.tv/group/topic.ts
  lib/routes/bangumi.tv/namespace.ts
  lib/routes/bangumi.tv/other/followrank.ts
  lib/routes/bangumi.tv/person/index.ts
  lib/routes/bangumi.tv/subject/comments.ts
  lib/routes/bangumi.tv/subject/ep.ts
  lib/routes/bangumi.tv/subject/index.ts
  lib/routes/bangumi.tv/subject/offcial-subject-api.ts
  lib/routes/bangumi.tv/subject/utils.ts
  lib/routes/bangumi.tv/templates/ep.art
  lib/routes/bangumi.tv/templates/subject.art
  lib/routes/bangumi.tv/templates/today.art
  lib/routes/bangumi.tv/user/blog.ts
  lib/routes/bangumi.tv/user/collections.ts
  lib/routes/bangumi/tv/user/wish.ts
Labels: Auto: Route Test Complete, Route

#17294 feat(route): dxy board
  lib/routes/dxy/board.ts
  lib/routes/dxy/profile/thread.ts
  lib/routes/dxy/special.ts
  lib/routes/dxy/types.ts
  lib/routes/dxy/utils.ts
Labels: Auto: Route Test Complete, Route

#17295 feat(bsky): add filter support for profile feeds
  lib/routes/bsky/posts.ts
  lib/routes/bsky/utils.ts
Labels: Auto: Route Test Complete, Route

#17296 fix(route): macupdate
  lib/routes/macupdate/app.ts
Labels: Auto: Route Test Complete, Route

#17299 fix(route/zjut): fix the date parser of 浙江工业大学首页
  lib/routes/zjut/www/index.ts
Labels: Auto: Route Test Complete, Route

#17298 fix: hko earthquake route pubDate issue fixing
  lib/routes/hko/earthquake.ts
Labels: Auto: Route Test Complete, Route

#17300 refactor(route/bangumi): remove unnecessary type defaulting (#17293)
  lib/routes/bangumi.tv/other/followrank.ts
Labels: Auto: Route Test Complete, Route

#17276 feat: add route for openrice.com
  lib/routes/openrice/namespace.ts
  lib/routes/openrice/offers.ts
  lib/routes/openrice/promos.ts
  lib/routes/openrice/templates/description.art
Labels: Auto: Route Test Complete, Route

#17301 fix: tencent news display author avatar
  lib/routes/tencent/news/author.ts
Labels: Auto: Route Test Complete, Route

#17306 style: format docs of RSSHub
  lib/routes/12371/zxfb.ts
  lib/routes/36kr/index.ts
  lib/routes/8264/list.ts
  lib/routes/afdian/explore.ts
  lib/routes/bloomberg/index.ts
  lib/routes/chinadegrees/province.ts
  lib/routes/chinaisa/index.ts
  lib/routes/cs/index.ts
  lib/routes/cs/video.ts
  lib/routes/douban/book/latest.ts
  lib/routes/gov/chongqing/gzw.ts
  lib/routes/hust/gs.ts
  lib/routes/infzm/index.ts
  lib/routes/kanxue/topic.ts
  lib/routes/miui/firmware/index.ts
  lib/routes/modian/zhongchou.ts
  lib/routes/ncku/phys.ts
  lib/routes/nippon/index.ts
  lib/routes/nodejs/blog.ts
  lib/routes/nosec/index.ts
  lib/routes/sara/index.ts
  lib/routes/sysu/ygafz.ts
  lib/routes/tesla/cx.ts
  lib/routes/tgbus/list.ts
  lib/routes/thepetcity/index.ts
  lib/routes/zju/cst/index.ts
  lib/routes/zsxq/group.ts
Labels: Auto: Route Test Skipped, Route

#17307 feat: log redirect
  lib/utils/ofetch.ts
  package.json
Labels: dependencies, core enhancement, Auto: Route Test Complete

#17309 fix(route): oup
  lib/routes/oup/index.ts
  lib/routes/oup/templates/article.art
Labels: Auto: Route Test Complete, Route

#17312 fix(route): update base URL from afdian.net to afdian.com in afdian dynamic and explore routes
  lib/routes/afdian/dynamic.ts
  lib/routes/afdian/explore.ts
Labels: Auto: Route Test Complete, Route

#17316 feat(route/qq): add 腾讯频道 (/qq/pd) route
  lib/routes/qq/pd/guild.ts
  lib/routes/qq/pd/types.ts
  lib/routes/qq/pd/utils.ts
Labels: Auto: Route Test Complete, Route

#17313 fix(route): fix lovelive-anime topics and schedules route
  lib/routes/lovelive-anime/schedules.ts
  lib/routes/lovelive-anime/topics.ts
Labels: Auto: Route Test Complete, Route

#17278 fix(route): get correct item link
  lib/routes/rsshub/transform/html.ts
Labels: Auto: Route Test Skipped, Auto: Route Test Complete, Route

#17320 feat(route): add 中国有色金属工业网
  lib/routes/chinania/index.ts
  lib/routes/chinania/namespace.ts
Labels: Auto: Route Test Complete, Route

#17310 feat(twitter): only display tweets that contains a media
  lib/routes/twitter/home-latest.ts
  lib/routes/twitter/home.ts
  lib/routes/twitter/likes.ts
  lib/routes/twitter/list.ts
  lib/routes/twitter/namespace.ts
  lib/routes/twitter/utils.ts
Labels: Auto: Route Test Complete, Route

#17324 fix(route): fix warthunder route pubDate parse
  lib/routes/warthunder/news.ts
Labels: Auto: Route Test Complete, Route

#17327 fix(middleware): use URL pathname to maintain exact user access path …
  lib/middleware/access-control.ts
Labels: core enhancement, Auto: Route Test Skipped

#17208 feat(route): add washingtonpost route
  lib/routes/washingtonpost/app.ts
  lib/routes/washingtonpost/namespace.ts
  lib/routes/washingtonpost/templates/description.art
Labels: Auto: Route Test Complete, Route

#17357 fix(bilibili/video): missing image
  lib/routes/bilibili/video.ts
Labels: Auto: Route Test Complete, Route

#16956 feat(route/bilibili): refactor description with art-template
  lib/routes/bilibili/bangumi.ts
  lib/routes/bilibili/bilibili-recommend.ts
  lib/routes/bilibili/coin.ts
  lib/routes/bilibili/dynamic.ts
  lib/routes/bilibili/fav.ts
  lib/routes/bilibili/followings-dynamic.ts
  lib/routes/bilibili/followings-video.ts
  lib/routes/bilibili/like.ts
  lib/routes/bilibili/page.ts
  lib/routes/bilibili/partion-ranking.ts
  lib/routes/bilibili/partion.ts
  lib/routes/bilibili/popular.ts
  lib/routes/bilibili/ranking.ts
  lib/routes/bilibili/templates/description.art
  lib/routes/bilibili/types.ts
  lib/routes/bilibili/user-channel.ts
  lib/routes/bilibili/user-collection.ts
  lib/routes/bilibili/user-fav.ts
  lib/routes/bilibili/utils.ts
  lib/routes/bilibili/video-all.ts
  lib/routes/bilibili/video.ts
  lib/routes/bilibili/vsearch.ts
  lib/routes/bilibili/watchlater.ts
  lib/routes/bilibili/weekly-recommend.ts
Labels: Auto: Route Test Complete, Route

#17358 fix(route/theinitium): Fix item link for /app route
  lib/routes/theinitium/app.ts
  lib/routes/theinitium/templates/description.art
Labels: Auto: Route Test Complete, Route

#17344 feat(route): add 万维书刊网学术资讯
  lib/routes/eshukan/academic.ts
  lib/routes/eshukan/namespace.ts
  lib/routes/eshukan/templates/description.art
Labels: Auto: Route Test Complete, Route

#17252 feat(route/dedao): add new dedao route
  lib/routes/dedao/articles.ts
Labels: Auto: Route Test Complete, Route

#17359 fix(route): mingpao mixed media
  lib/routes/mingpao/index.ts
Labels: Auto: Route Test Complete, Route

#17331 feat(twitter): support LoginEnterAlternateIdentifierSubtask task and better login flow controll
  lib/config.ts
  lib/routes/twitter/api/mobile-api/login.ts
  lib/routes/twitter/api/mobile-api/token.ts
Labels: Auto: Route Test Complete, Route

#17360 fix(route/follow): can't search by user handle
  lib/routes/follow/profile.ts
Labels: Auto: Route Test Complete, Route

#17361 fix(transform): cache key
  lib/routes/rsshub/transform/html.ts
Labels: Auto: Route Test Complete, Route

#17348 feat(route): add appstare
  lib/routes/appstare/comments.ts
  lib/routes/appstare/namespace.ts
Labels: Auto: Route Test Complete, Route

#17170 feat(route): add bbs guozaoke route
  lib/config.ts
  lib/routes/guozaoke/index.ts
  lib/routes/guozaoke/namespace.ts
Labels: Auto: Route Test Complete, Route

#17196 feat(route/cookbook): Add OpenAICookbook
  lib/routes/openai/blog.ts
  lib/routes/openai/chatgpt.ts
  lib/routes/openai/cookbook.ts
  lib/routes/openai/research.ts
Labels: Auto: Route Test Complete, Route

#17377 fix(route/bilibili): fix followings video bvid path
  lib/routes/bilibili/followings-video.ts
Labels: Auto: Route Test Complete, Route
