Repository DIYgod/RSSHub, pull requests merged in 2024-04, with the labels that each got.

#15039 fix(route): linovelib volume
  lib/routes/linovelib/volume.ts
Labels: Auto: Route Test Complete, Route

#15043 fix(route): 修复 bilibili 动态路由 部分情况下缺失 title 的问题
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#15030 feat(route): recover route yande.re
  lib/router.js
  lib/routes/yande/namespace.ts
  lib/routes/yande/post.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#15046 fix(route): 修复 bilibili 动态路由 缺失 live_rcmd 类型的问题; 修复 title 问题
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#15036 fix(core): misc fixes of disabling cache
  lib/config.ts
  lib/middleware/cache.test.ts
  lib/middleware/template.tsx
Labels: core enhancement, Auto: Route Test Skipped

#15041 fix(core): fix Git Hash unknown
  lib/routes-deprecated/index.js
  lib/utils/git-hash.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: Route Test Complete

#15049 fix(route): 优化 bilibili 动态路由的 <br> 符号处理
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#15050 feat(route): add 湖北大学资源环境学院
  lib/routes/hubu/index.ts
  lib/routes/hubu/namespace.ts
  lib/routes/hubu/zhxy.ts
Labels: Auto: Route Test Complete, Route

#15033 feat(route): add Doraemon Channel
  lib/routes/dora-world/article.ts
  lib/routes/dora-world/namespace.ts
Labels: Auto: Route Test Complete, Route

#15038 fix(route): Mox.moe
  lib/config.ts
  lib/routes/mox/index.ts
Labels: Auto: Route Test Complete, Route

#15078 fix(route): 修复 全国气象预警 为空的问题
  lib/routes/nmc/weatheralarm.ts
Labels: Auto: Route Test Complete, Route

#15063 fix(route): 知乎时间线 (#9485)
  lib/routes/zhihu/timeline.ts
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#15029 feat(route): add aqicn.org
  lib/routes/aqicn/aqi.ts
  lib/routes/aqicn/namespace.ts
Labels: Auto: Route Test Complete, Route

#15081 fix(route): /163/dy2/:id, 网易号
  lib/routes/163/dy.ts
  lib/routes/163/dy2.ts
  lib/routes/163/utils.ts
Labels: Auto: Route Test Complete, Route

#15051 feat(route): add 小黑盒喜加一
  lib/routes/xiaoheihe/add2cart.ts
Labels: Auto: Route Test Complete, Route

#15083 fix(core): buffer responseType
  lib/routes/baidu/tieba/search.ts
  lib/utils/got.test.ts
  lib/utils/got.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#15079 feat(route): add xueqiu timeline
  lib/config.ts
  lib/routes/xueqiu/timeline.ts
Labels: Auto: Route Test Complete, Route

#15085 fix(route): idaily
  lib/routes/idaily/index.ts
Labels: Auto: Route Test Complete, Route

#15086 fix(route): github comments
  lib/routes/github/comments.ts
Labels: Auto: Route Test Complete, Route

#15087 fix(route): sehuatang
  lib/routes/sehuatang/index.ts
Labels: Auto: Route Test Complete, Route

#15082 feat(routes): Add censorbib
  lib/routes/nymity/censorbib.ts
  lib/routes/nymity/namespace.ts
  lib/utils/got.ts
Labels: Auto: Route Test Complete, Route

#15044 fix(route): 修复 medium 订阅失效的问题
  lib/routes/medium/graphql.ts
Labels: Auto: Route Test Complete, Route

#15095 feat(route): 中国科学技术大学-数学科学学院
  lib/routes/ustc/math.ts
Labels: Auto: Route Test Complete, Route

#15104 feat(route): add 罗磊的独立博客
  lib/routes/luolei/index.ts
  lib/routes/luolei/namespace.ts
Labels: Auto: Route Test Complete, Route

#15019 feat(route): support europechinese
  lib/routes/europechinese/latest.ts
  lib/routes/europechinese/namespace.ts
Labels: Auto: Route Test Complete, Route

#15103 feat(route): 添加Binance数字货币及交易对上新公告RSS
  lib/routes/binance/launchpool.ts
  lib/routes/binance/namespace.ts
Labels: Auto: Route Test Complete, Route

#15113 fix(route): 修复使用ofetch之后的nosec路由
  lib/routes/nosec/index.ts
Labels: Auto: Route Test Complete, Route

#14942 feat(routes): Add more routes related to Minecraft
  lib/routes/minecraft/blockedservers.ts
  lib/routes/minecraft/java-runtime.ts
Labels: Auto: Route Test Complete, Route

#15064 fix(route): 迁移看雪路由
  lib/router.js
  lib/routes-deprecated/pediy/topic.js
  lib/routes-deprecated/pediy/utils.js
  lib/routes/kanxue/namespace.ts
  lib/routes/kanxue/topic.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#15118 fix(route): jpxgmn
  lib/routes/jpxgmn/search.ts
  lib/routes/jpxgmn/tab.ts
  lib/routes/jpxgmn/weekly.ts
Labels: Auto: Route Test Complete, Route

#14535 feat(route): add dangyuanwang
  lib/routes/12371/namespace.ts
  lib/routes/12371/zxfb.ts
Labels: Auto: Route Test Complete, Stale, Route: deprecated, Route

#15122 feat(route): add icon and logo to Bilibili dynamic
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#14629 feat(route): add watasuke.net
  lib/routes/watasuke/blog.ts
  lib/routes/watasuke/namespace.ts
Labels: Auto: Route Test Complete, Route

#14737 feat(route): Add 国家哲学社会科学文献中心
  lib/routes/ncpssd/namespace.ts
  lib/routes/ncpssd/newlist.ts
Labels: Auto: Route Test Complete, Route

#14819 feat(route): Add Shopify App store 搜索、App reviews
  lib/routes/shopify/apps/[handle].reviews.ts
  lib/routes/shopify/apps/const.ts
  lib/routes/shopify/apps/search.ts
  lib/routes/shopify/namespace.ts
Labels: Auto: Route Test Complete, Route

#15099 fix(route): Kemono
  lib/routes/kemono/index.ts
  lib/routes/kemono/templates/source.art
Labels: Auto: Route Test Complete, Route

#15123 fix(route): rsshub new docs link
  lib/routes/rsshub/routes.ts
  lib/types.ts
Labels: Auto: Route Test Complete, Route

#15126 fix(route): line publisher
  lib/routes/line/publisher.ts
  lib/routes/line/today.ts
  lib/routes/line/utils.ts
Labels: Auto: Route Test Complete, Route

#15132 fix(core): add icon and logo back to atom feed
  lib/views/atom.tsx
Labels: core enhancement, Auto: Route Test Skipped

#15131 fix(route/apnews): Refine link selector.
  lib/routes/apnews/topics.ts
Labels: Auto: Route Test Complete, Route

#15115 fix(route): huanqiu (#15107)
  lib/routes/huanqiu/index.ts
Labels: Auto: Route Test Complete, Route

#15135 fix(route): youtube utils
  lib/routes/youtube/charts.ts
  lib/routes/youtube/community.ts
  lib/routes/youtube/custom.ts
  lib/routes/youtube/subscriptions.ts
  lib/routes/youtube/utils.ts
Labels: Auto: Route Test Complete, Route

#14958 feat(route): add 51cto
  lib/routes/51cto/namespace.ts
  lib/routes/51cto/recommend.ts
  lib/routes/51cto/utils.ts
Labels: Auto: Route Test Complete, Route

#15140 fix(route): xueqiu user
  lib/routes/xueqiu/user.ts
Labels: Auto: Route Test Complete, Route

#15144 feat(route): add 线报酷
  lib/routes/xianbao/index.ts
  lib/routes/xianbao/namespace.ts
Labels: Auto: Route Test Complete, Route

#15112 fix(route): the Bloomberg RSS doesn't work after using the new ofetch as the 'got' lib
  lib/routes/bloomberg/index.ts
  lib/routes/bloomberg/utils.ts
Labels: Auto: Route Test Complete, Route

#15006 feat(route): add atptour
  lib/routes/atptour/namespace.ts
  lib/routes/atptour/news.ts
Labels: Auto: Route Test Complete, Route

#15136 feat(route): add 中伦律师事务所中伦研究专业文章
  lib/routes/zhonglun/index.ts
  lib/routes/zhonglun/namespace.ts
  lib/routes/zhonglun/templates/description.art
Labels: Auto: Route Test Complete, Route

#15012 fix(route): /gov/moa/:suburl{.+}
  lib/routes/gov/moa/moa.ts
Labels: Auto: Route Test Complete, Route

#15148 fix(route): fix xianbao typo and parse
  lib/routes/xianbao/index.ts
Labels: Auto: Route Test Complete, Route

#15154 feat: buaa/sme适配新版路由规范
  lib/routes/buaa/sme.ts
Labels: Auto: Route Test Complete, Route

#15155 fix(route/reuters): Replace `got` with `ofetch`.
  lib/routes/reuters/common.ts
Labels: Auto: Route Test Complete, Route

#15170 fix(route): 日本経済新聞News
  lib/routes/nikkei/news.ts
Labels: Auto: Route Test Complete, Route

#15166 fix(modrinth): switch to ofetch since it's not suppor `got.json()`
  lib/routes/modrinth/versions.ts
Labels: Auto: Route Test Complete, Route

#15142 feat(route): hitcon
  lib/routes/hitcon/namespace.ts
  lib/routes/hitcon/templates/zeroday.art
  lib/routes/hitcon/zeroday.ts
Labels: Auto: Route Test Complete, Route

#15172 feat(route)!: remove `/500px/user/works/:id` due to login wall
  lib/routes/500px/tribe-set.ts
  lib/routes/500px/user.ts
  lib/routes/500px/utils.ts
Labels: Auto: Route Test Complete, Route

#15173 fix(route): seekingalpha
  lib/routes/seekingalpha/index.ts
  lib/routes/seekingalpha/templates/summary.art
Labels: Auto: Route Test Complete, Route

#15032 feat(route): add author in gcores
  lib/routes/gcores/category.ts
Labels: Auto: Route Test Complete, Route

#15179 fix(route): freewechat
  lib/routes/freewechat/profile.ts
Labels: Auto: Route Test Complete, Route

#15180 fix(route): picnob. Change source to 'pixwox.com'.
  lib/routes/picnob/user.ts
Labels: Auto: Route Test Complete, Route

#15145 fix(route): the radio.cn in zhibo and album rss
  lib/routes/radio/album.ts
  lib/routes/radio/zhibo.ts
Labels: Auto: Route Test Complete, Route

#15193 fix(routes/wechat/tgchannel): title is not mpName
  lib/routes/wechat/tgchannel.ts
Labels: Auto: Route Test Complete, Route

#15192 chore(routes/*): fix unreachable code
  lib/routes/591/list.ts
  lib/routes/apple/apps.ts
  lib/routes/bsky/posts.ts
  lib/routes/cebbank/all.ts
  lib/routes/cebbank/history.ts
  lib/routes/cngal/entry.ts
  lib/routes/dahecube/index.ts
  lib/routes/eprice/rss.ts
  lib/routes/gamer/hot.ts
  lib/routes/github/comments.ts
  lib/routes/github/notifications.ts
  lib/routes/gitpod/blog.ts
  lib/routes/hkej/index.ts
  lib/routes/hket/index.ts
  lib/routes/macupdate/app.ts
  lib/routes/nature/siteindex.ts
  lib/routes/nintendo/eshop-us.ts
  lib/routes/otobanana/cast.ts
  lib/routes/otobanana/livestream.ts
  lib/routes/otobanana/timeline.ts
  lib/routes/qbittorrent/news.ts
  lib/routes/taptap/review.ts
  lib/routes/taptap/topic.ts
  lib/routes/threads/utils.ts
  lib/routes/timednews/news.ts
  lib/routes/wechat/feeddd.ts
  lib/routes/youtube/subscriptions.ts
Labels: Auto: Route Test Skipped, Route

#15194 fix(route): dcfever use ofetch instead of got utils
  lib/routes/dcfever/news.ts
  lib/routes/dcfever/reviews.ts
  lib/routes/dcfever/trading-search.ts
  lib/routes/dcfever/trading.ts
  lib/routes/dcfever/utils.ts
Labels: Auto: Route Test Complete, Route

#15198 feat(route): recover esquirehk
  lib/routes/esquirehk/namespace.ts
  lib/routes/esquirehk/tag.ts
  lib/routes/esquirehk/templates/subpages.art
Labels: Auto: Route Test Complete, Route

#15182 fix(route): 西安交通大学 教务处
  lib/routes/xjtu/dean.ts
Labels: Auto: Route Test Complete, Route

#15188 feat: add deepin bss homepage
  lib/routes/deepin/homepage.ts
  lib/routes/deepin/namespace.ts
Labels: Auto: Route Test Complete, Route

#14782 feat: add javdb session config and cookieJar to fakeGot
  lib/config.ts
  lib/routes/javdb/actors.ts
  lib/routes/javdb/makers.ts
  lib/routes/javdb/rankings.ts
  lib/routes/javdb/search.ts
  lib/routes/javdb/series.ts
  lib/routes/javdb/tags.ts
  lib/routes/javdb/utils.ts
  lib/utils/got.test.ts
  lib/utils/got.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#15203 fix(route): 罗磊的独立博客显示原图
  lib/routes/luolei/index.ts
  lib/routes/luolei/templates/description.art
Labels: Auto: Route Test Complete, Route

#15181 feat: add OpenGithub - Github开源项目月刊精选
  lib/routes/itc/collection.ts
  lib/routes/itc/namespace.ts
Labels: Auto: Route Test Complete, Route

#15224 fix(route): 包子漫画按最新章节获取内容
  lib/routes/baozimh/index.ts
Labels: Auto: Route Test Complete, Route

#15219 feat(route): Add route for njuferret.github.io
  lib/routes/njuferret/blog.ts
  lib/routes/njuferret/namespace.ts
Labels: Auto: Route Test Complete, Route

#15226 fix(route): xueqiu user-stock
  lib/routes/xueqiu/user-stock.ts
Labels: Auto: Route Test Complete, Route

#15223 fix(route): Cool Papers
  lib/routes/papers/index.ts
  lib/routes/papers/namespace.ts
Labels: Auto: Route Test Complete, Route

#15234 fix(router): hoyolab news
  lib/routes/hoyolab/news.ts
Labels: Auto: Route Test Complete, Route

#15236 fix(route): update mixcloud
  lib/routes/mixcloud/index.ts
  lib/routes/mixcloud/queries.ts
Labels: Auto: Route Test Complete, Route

#15238 fix(route): 南京大学 本科生院教务
  lib/routes/nju/jw.ts
Labels: Auto: Route Test Complete, Route

#14978 feat(route): 新增江苏文化和旅游局审批公告
  lib/routes/gov/jiangsu/wlt/index.ts
  lib/routes/gov/jiangsu/wlt/templates/wlt.art
Labels: Auto: Route Test Complete, Route

#15239 fix(route): threads
  lib/routes/threads/index.ts
  lib/routes/threads/utils.ts
Labels: Auto: Route Test Complete, Route

#15240 fix(route): freexcomic
  lib/routes-deprecated/manxiaosi/book.js
  lib/routes/freexcomic/book.ts
  lib/routes/freexcomic/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#15252 fix(route): zhihu/activities
  lib/routes/zhihu/activities.ts
Labels: Auto: Route Test Complete, Route

#15257 feat(route/mihoyo): enhance miyoushe official post
  lib/routes/mihoyo/bbs/official.ts
  lib/routes/mihoyo/templates/official.art
Labels: Auto: Route Test Complete, Route

#15260 fix: BBC URL pathname check
  lib/routes/bbc/index.ts
Labels: Auto: Route Test Complete, Route

#15259 feat(route): add Access Briefing
  lib/routes/accessbriefing/index.ts
  lib/routes/accessbriefing/namespace.ts
  lib/routes/accessbriefing/templates/description.art
Labels: Auto: Route Test Complete, Route

#15237 fix(route/bing): Replace `got`
  lib/routes/bing/daily-wallpaper.ts
Labels: Auto: Route Test Complete, Route

#15263 fix(core): remove unicode control characters in item description
  lib/middleware/template.tsx
Labels: core enhancement, Auto: Route Test Complete

#15251 fix(route): qingting
  lib/config.ts
  lib/routes/qingting/podcast.ts
Labels: Auto: Route Test Complete, Route

#15255 feat(route): add apple podcast route
  lib/routes/apple/podcast.ts
Labels: Auto: Route Test Complete, Route

#15266 feat(route): 0x80.pl
  lib/routes/0x80/index.ts
  lib/routes/0x80/namespace.ts
Labels: Auto: Route Test Complete, Route

#15258 feat: support .rss3 output type
  lib/middleware/template.tsx
  lib/utils/render.ts
  lib/views/rss3.ts
Labels: core enhancement, Auto: Route Test Skipped

#15282 fix: bilibili cache issue and close puppeteer after getting cookie
  lib/routes/bilibili/cache.ts
Labels: Auto: Route Test Skipped, Route

#15280 fix(route): qingting
  lib/routes/qingting/podcast.ts
Labels: Auto: Route Test Complete, Route

#15276 feat(core/utils/wechat-mp): major rewrite
  lib/errors/index.test.ts
  lib/routes/test/index.ts
  lib/setup.test.ts
  lib/utils/wechat-mp.test.ts
  lib/utils/wechat-mp.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#15287 feat(route): add 德恒律师事务所德恒探索
  lib/routes/dehenglaw/index.ts
  lib/routes/dehenglaw/namespace.ts
  lib/routes/dehenglaw/templates/description.art
Labels: Auto: Route Test Complete, Route

#15290 feat(route): Add 上海业余无线电协会
  lib/routes/sara/index.ts
  lib/routes/sara/namespace.ts
Labels: Auto: Route Test Complete, Route

#15292 feat(route): twitter add back 2fa
  lib/config.ts
  lib/routes/twitter/api/mobile-api/login.ts
  lib/routes/twitter/namespace.ts
  lib/routes/twitter/user.ts
Labels: Auto: Route Test Complete, Route

#15293 fix: request-rewriter proxy ignore loopback address and puppeteer ws …
  lib/utils/request-rewriter/get.ts
Labels: core enhancement, Auto: Route Test Skipped

#15314 feat(route): add 中国汽车流通协会汽车市场研究分会
  lib/routes/cpcaauto/index.ts
  lib/routes/cpcaauto/namespace.ts
Labels: Auto: Route Test Complete, Route

#15310 fix(route): broken lofter route
  lib/routes/lofter/tag.ts
  lib/routes/lofter/user.ts
Labels: Auto: Route Test Complete, Route

#15317 fix(route): fix the gov.cn stats using the ofetch.raw
  lib/routes/gov/stats/index.ts
Labels: Auto: Route Test Complete, Route

#15321 feat(route)：增加黑龙江八一农垦大学新闻网 RSS (#14824)
  lib/routes/byau/namespace.ts
  lib/routes/byau/xinwen/index.ts
Labels: Auto: Route Test Complete, Route

#15320 feat(route): 知识星球
  lib/config.ts
  lib/routes/zsxq/group.ts
  lib/routes/zsxq/namespace.ts
  lib/routes/zsxq/types.ts
  lib/routes/zsxq/user.ts
  lib/routes/zsxq/utils.ts
Labels: Auto: Route Test Complete, Route

#15294 fix(core/utils/wechat-mp): empty description when request blocked by WAF
  lib/setup.test.ts
  lib/utils/wechat-mp.test.ts
  lib/utils/wechat-mp.ts
Labels: core enhancement, Auto: Route Test Complete

#15253 feat: fix gxmzu rss support && fix njxzc rss support && fix jou rss support
  lib/routes/gxmzu/ai.ts
  lib/routes/gxmzu/lib.ts
  lib/routes/gxmzu/utils/index.ts
  lib/routes/gxmzu/yjs.ts
  lib/routes/jou/utils/index.ts
  lib/routes/njxzc/utils/index.ts
Labels: Auto: Route Test Complete, Route

#15327 fix(route): namespace issue
  lib/routes/u3c3/index.ts
  lib/routes/u3c3/namespace.ts
  lib/routes/u9a9/index.ts
  lib/routes/u9a9/namespace.ts
Labels: Auto: Route Test Skipped, Route

#15328 fix(route/tencent): Adapt to video pages.
  lib/routes/tencent/news/author.ts
Labels: Auto: Route Test Complete, Route

#15322 build(Dockerfile): set CHROMIUM_EXECUTABLE_PATH to absolute path
  .github/workflows/test.yml
  Dockerfile
Labels: Auto: Route Test Skipped

#15330 feat(route): add 北京师范大学经济与工商管理学院MBA
  lib/routes/bnu/mba.ts
Labels: Auto: Route Test Complete, Route

#15332 fix(route/{telegram/channel,wechat/tgchannel}): broken links
  lib/routes/telegram/channel.ts
  lib/routes/wechat/tgchannel.ts
Labels: Auto: Route Test Complete, Route

#15343 feat(route): add colamanga
  lib/routes/colamanga/manga.ts
  lib/routes/colamanga/namespace.ts
Labels: Auto: Route Test Complete, Route

#15347 fix(route): 中国人民银行
  lib/routes/gov/pbc/namespace.ts
Labels: Auto: Route Test Complete, Route

#15348 fix(core): posting form as `x-www-form-urlencoded` in got wrapper
  lib/setup.test.ts
  lib/utils/got.test.ts
  lib/utils/got.ts
Labels: core enhancement, Auto: Route Test Skipped

#15357 feat(route): add jwc notice
  lib/routes/ecnu/jwc.ts
  lib/routes/ecnu/namespace.ts
Labels: Auto: Route Test Complete, Route

#15355 fix: tweet detail route not work
  lib/routes/twitter/api/web-api/constants.ts
  lib/routes/twitter/api/web-api/utils.ts
  lib/routes/twitter/tweet.ts
Labels: Auto: Route Test Complete, Route

#15361 fix(route): douyin live
  lib/routes/douyin/live.ts
Labels: Auto: Route Test Complete, Route

#15362 fix(route): usenix
  lib/routes/ieee-security/sp.ts
  lib/routes/sigsac/ccs.ts
  lib/routes/usenix/usenix.ts
Labels: Auto: Route Test Complete, Route

#15363 fix(route): remove `got.all` usage in baai
  lib/routes/baai/comments.ts
  lib/routes/baai/events.ts
  lib/routes/baai/hub.ts
  lib/routes/baai/utils.ts
Labels: Auto: Route Test Complete, Route

#15364 fix(route): caixin weekly
  lib/routes/caixin/weekly.ts
Labels: Auto: Route Test Complete, Route

#15365 feat(route): add back lianxh
  lib/routes/lianxh/index.ts
  lib/routes/lianxh/namespace.ts
Labels: Auto: Route Test Complete, Route

#15359 feat: add route /gov/zj/search/:websiteid?/:word/:cateid?
  lib/routes/gov/zj/search.ts
Labels: Auto: Route Test Complete, Route

#15356 chore(deps): mark `tosource` as production dependency
  lib/routes/mckinsey/cn/index.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Skipped, Route

#15373 feat(route): add back kpmg
  lib/routes-deprecated/kpmg/insights.js
  lib/routes/kpmg/insights.ts
  lib/routes/kpmg/namespace.ts
  lib/routes/kpmg/templates/description.art
Labels: Auto: Route Test Complete, Route: deprecated, Route

#15372 feat(route): add 网猴线报
  lib/routes/iehou/index.ts
  lib/routes/iehou/namespace.ts
Labels: Auto: Route Test Complete, Route

#15381 fix(route): 四川工商学院 - 学院新闻
  lib/routes/stbu/jsjxy.ts
  lib/routes/stbu/xyxw.ts
Labels: Auto: Route Test Complete, Route

#15383 feat(route): add ollama models
  lib/routes/ollama/models.ts
  lib/routes/ollama/namespace.ts
Labels: Auto: Route Test Complete, Route

#15387 fix(route/sjtu/yzb): Correct title and date.
  lib/routes/sjtu/yzb/zkxx.ts
Labels: Auto: Route Test Complete, Route

#15390 fix(route): sohu mp
  lib/routes/sohu/mp.ts
Labels: Auto: Route Test Complete, Route

#15398 fix(route): weibo
  lib/routes/weibo/keyword.ts
Labels: Auto: Route Test Complete, Route

#15298 feat(route): Add Chub
  lib/routes/chub/characters.ts
  lib/routes/chub/namespace.ts
Labels: Auto: Route Test Complete, Route

#15401 feat(route): douyu room api update with fallback
  lib/routes/douyu/room.ts
Labels: Auto: Route Test Complete, Route

#15402 fix(route): 安徽省科学技术厅
  lib/routes/gov/ah/kjt.ts
  lib/routes/gov/ah/namespace.ts
  lib/routes/gov/anhui/kjt.ts
Labels: Auto: Route Test Complete, Route

#15403 feat(route): daily.dev user
  lib/routes/daily/discussed.ts
  lib/routes/daily/index.ts
  lib/routes/daily/namespace.ts
  lib/routes/daily/templates/posts.art
  lib/routes/daily/upvoted.ts
  lib/routes/daily/user.ts
  lib/routes/daily/utils.ts
Labels: Auto: Route Test Complete, Route

#15417 fix(route): fix crossbell character and the following output
  lib/routes/crossbell/feeds/following.ts
  lib/routes/crossbell/notes/utils.ts
Labels: Auto: Route Test Complete, Route

#15389 feat(route): Copernicium
  lib/routes/copernicium/index.ts
  lib/routes/copernicium/namespace.ts
Labels: Auto: Route Test Complete, Route

#15380 feat(route): Create ttv
  lib/routes/ttv/index.ts
  lib/routes/ttv/namespace.ts
Labels: Auto: Route Test Complete, Route

#15419 feat(route): yenpress
  lib/routes/yenpress/namespace.ts
  lib/routes/yenpress/series.ts
  lib/routes/yenpress/templates/series.art
Labels: Auto: Route Test Complete, Route
