Repository DIYgod/RSSHub, pull requests merged in 2024-01, with the labels that each got.

#14149 feat(route): add 上海第二工业大学体育部
  lib/v2/sspu/maintainer.js
  lib/v2/sspu/pe.js
  lib/v2/sspu/radar.js
  lib/v2/sspu/router.js
  website/docs/routes/university.mdx
Labels: Auto: Route Test Complete, Route: v2

#14153 fix(route): douban recommended two-digit month
  lib/v2/douban/other/recommended.js
Labels: Auto: Route Test Complete, Route: v2

#14160 feat(route): add OTOBANANA
  lib/v2/otobanana/cast.js
  lib/v2/otobanana/livestream.js
  lib/v2/otobanana/maintainer.js
  lib/v2/otobanana/radar.js
  lib/v2/otobanana/router.js
  lib/v2/otobanana/templates/description.art
  lib/v2/otobanana/timeline.js
  lib/v2/otobanana/utils.js
  website/docs/routes/multimedia.mdx
Labels: Auto: Route Test Complete, Route: v2

#14163 feat: add premium identification
  lib/v2/utgd/category.js
  lib/v2/utgd/templates/description.art
  lib/v2/utgd/timeline.js
  lib/v2/utgd/topic.js
Labels: Auto: Route Test Complete, Route: v2

#14162 fix(route): 界面新闻重复文章视频
  lib/v2/jiemian/lists.js
Labels: Auto: Route Test Complete, Route: v2

#14164 feat(route): backlinko
  lib/v2/backlinko/blog.js
  lib/v2/backlinko/maintainer.js
  lib/v2/backlinko/radar.js
  lib/v2/backlinko/router.js
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route: v2

#14171 fix(route): 第一财经DT财经
  lib/v2/yicai/dt.js
  lib/v2/yicai/maintainer.js
  lib/v2/yicai/radar.js
  lib/v2/yicai/router.js
  lib/v2/yicai/templates/description.art
  lib/v2/yicai/utils.js
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14176 fix(route): 第一财经DT财经报告附件
  lib/v2/yicai/dt.js
Labels: Auto: Route Test Complete, Route: v2

#14183 feat(route): recover gofans
  lib/v2/gofans/index.js
  lib/v2/gofans/maintainer.js
  lib/v2/gofans/radar.js
  lib/v2/gofans/router.js
  lib/v2/gofans/templates/description.art
  website/docs/routes/program-update.mdx
Labels: Auto: Route Test Complete, Route: v2

#14189 fix: domp4 supports secondary address (#14181)
  lib/v2/domp4/detail.js
  lib/v2/domp4/utils.js
  website/docs/routes/multimedia.mdx
Labels: Auto: Route Test Complete, Route: v2

#14175 feat: New Router for liveuamap
  lib/v2/liveuamap/index.js
  lib/v2/liveuamap/maintainer.js
  lib/v2/liveuamap/radar.js
  lib/v2/liveuamap/router.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14191 fix(route): Tradingview Blog
  lib/v2/tradingview/blog.js
  lib/v2/tradingview/maintainer.js
  lib/v2/tradingview/radar.js
  lib/v2/tradingview/router.js
  lib/v2/tradingview/templates/description.art
  website/docs/routes/program-update.mdx
Labels: Auto: Route Test Complete, Route: v2

#14197 feat(route): add 中华全国专利代理师协会
  lib/v2/acpaa/index.js
  lib/v2/acpaa/maintainer.js
  lib/v2/acpaa/radar.js
  lib/v2/acpaa/router.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#14169 fix: zhihu timeline
  lib/v2/zhihu/timeline.js
Labels: Auto: Route Test Complete, Route: v2

#14203 fix(route): 处理大麦网查询结果为空的情况
  lib/router.js
  lib/routes/damai/activity.js
  lib/v2/damai/activity.js
  lib/v2/damai/maintainer.js
  lib/v2/damai/radar.js
  lib/v2/damai/router.js
  lib/v2/damai/templates/activity.art
  website/docs/routes/shopping.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14200 feat(route): Add Onet
  lib/v2/onet/maintainer.js
  lib/v2/onet/news.js
  lib/v2/onet/radar.js
  lib/v2/onet/router.js
  lib/v2/onet/templates/article.art
  lib/v2/onet/templates/image.art
  lib/v2/onet/utils.js
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14206 fix(route): saraba1st digest image
  lib/v2/saraba1st/digest.js
Labels: Auto: Route Test Complete, Route: v2

#14211 feat(route): add huggingface zh blog
  lib/v2/huggingface/blog-zh.js
  lib/v2/huggingface/maintainer.js
  lib/v2/huggingface/radar.js
  lib/v2/huggingface/router.js
  website/docs/routes/programming.mdx
Labels: Auto: Route Test Complete, Route: v2

#14207 feat(route): Add ekantipur.com (Nepal)
  lib/v2/ekantipur/issue.js
  lib/v2/ekantipur/maintainer.js
  lib/v2/ekantipur/radar.js
  lib/v2/ekantipur/router.js
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14146 feat(route): HoYoLAB
  lib/v2/hoyolab/constant.js
  lib/v2/hoyolab/maintainer.js
  lib/v2/hoyolab/news.js
  lib/v2/hoyolab/radar.js
  lib/v2/hoyolab/router.js
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: v2

#14224 fix: 修正 cyzone 返回link 为空
  lib/v2/cyzone/util.js
Labels: Auto: Route Test Complete, Route: v2

#14226 fix(route): 国家外汇管理局业务咨询 & 投诉建议链接
  lib/v2/gov/maintainer.js
  lib/v2/gov/safe/util.js
Labels: Auto: Route Test Complete, Route: v2

#14219 feat(route): add BT之家1LOU站
  lib/v2/1lou/index.js
  lib/v2/1lou/maintainer.js
  lib/v2/1lou/radar.js
  lib/v2/1lou/router.js
  website/docs/routes/multimedia.mdx
Labels: Auto: Route Test Complete, Route: v2

#14218 feat(proxy): add PAC script support
  lib/config.js
  lib/utils/pac-proxy.js
  lib/utils/request-wrapper.js
  package.json
  pnpm-lock.yaml
  test/utils/pac-proxy.js
  test/utils/request-wrapper.js
  website/docs/install/config.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/install/config.md
Labels: dependencies, core enhancement, Auto: Route Test Skipped

#14234 feat(route): add TradingView Desktop releases and release notes
  lib/v2/tradingview/desktop.js
  lib/v2/tradingview/maintainer.js
  lib/v2/tradingview/radar.js
  lib/v2/tradingview/router.js
  website/docs/routes/program-update.mdx
Labels: Auto: Route Test Complete, Route: v2

#14232 fix: PornHub pubDate
  lib/v2/pornhub/utils.js
Labels: Auto: Route Test Complete, Route: v2

#14238 fix(route): fix twitch
  lib/v2/twitch/schedule.js
  lib/v2/twitch/video.js
  website/docs/routes/live.mdx
Labels: Auto: Route Test Complete, Route: v2

#14214 feat(route): add 苏州市发展和改革委员会
  lib/router.js
  lib/routes/gov/suzhou/doc.js
  lib/routes/gov/suzhou/news.js
  lib/routes/gov/suzhou/utils.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  lib/v2/gov/suzhou/doc.js
  lib/v2/gov/suzhou/fg.js
  lib/v2/gov/suzhou/news.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14241 fix(route): tencent author
  lib/v2/tencent/news/author.js
  lib/v2/tencent/templates/news/image.art
Labels: Auto: Route Test Complete, Route: v2

#14170 fix: luogu route parse error
  lib/v2/luogu/daily.js
Labels: Auto: Route Test Complete, Route: v2

#14242 fix(route): hoyolab
  lib/v2/hoyolab/constant.js
  lib/v2/hoyolab/news.js
  lib/v2/hoyolab/radar.js
  lib/v2/hoyolab/templates/post.art
  lib/v2/hoyolab/utils.js
  website/docs/routes/game.mdx
Labels: Auto: Route Test Complete, Route: v2

#14243 feat: support CIDR IP ranges in allowlist
  lib/middleware/access-control.js
  test/middleware/access-control.js
Labels: core enhancement, Auto: Route Test Skipped

#14246 feat(route): 知乎 xhu 用户文章
  lib/v2/zhihu/maintainer.js
  lib/v2/zhihu/radar.js
  lib/v2/zhihu/router.js
  lib/v2/zhihu/xhu/posts.js
  website/docs/routes/social-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14248 feat: recover shuiguopai
  lib/v2/shuiguopai/index.js
  lib/v2/shuiguopai/maintainer.js
  lib/v2/shuiguopai/radar.js
  lib/v2/shuiguopai/router.js
  lib/v2/shuiguopai/templates/description.art
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14261 fix(route): coolapk publish time
  lib/v2/coolapk/utils.js
Labels: Auto: Route Test Complete, Route: v2

#14245 feat: Add Thai Department Of Lands e-LandsAnnouncement website
  lib/v2/dol/announce.js
  lib/v2/dol/maintainer.js
  lib/v2/dol/radar.js
  lib/v2/dol/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14277 fix(route): broken item URL in Google Scholar Author Citations
  lib/v2/google/citations.js
  lib/v2/google/maintainer.js
  website/docs/routes/journal.mdx
Labels: Auto: Route Test Complete, Route: v2

#14279 feat(route): add TradingView Pine Script™ Release notes
  lib/v2/tradingview/pine.js
  lib/v2/tradingview/radar.js
  lib/v2/tradingview/router.js
  website/docs/routes/program-update.mdx
Labels: Auto: Route Test Complete, Route: v2

#14283 fix: 修复界面标题重复
  lib/v2/jiemian/lists.js
Labels: Auto: Route Test Complete, Route: v2

#14284 feat(secrss): full text support
  lib/v2/secrss/author.js
  lib/v2/secrss/category.js
  lib/v2/secrss/maintainer.js
  website/docs/routes/programming.mdx
Labels: Auto: Route Test Complete, Route: v2

#14286 fix(route): tencent gifs
  lib/v2/tencent/templates/news/image.art
Labels: Auto: Route Test Complete

#14287 feat(route): add 中国期货市场监控中心
  lib/v2/cfmmc/index.js
  lib/v2/cfmmc/maintainer.js
  lib/v2/cfmmc/radar.js
  lib/v2/cfmmc/router.js
  website/docs/routes/finance.mdx
Labels: Auto: Route Test Complete, Route: v2

#14288 feat(route): bjedu
  lib/v2/gov/beijing/bjedu/gh.js
  lib/v2/gov/maintainer.js
  lib/v2/gov/radar.js
  lib/v2/gov/router.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14290 fix(route/twitter/web-api): excludeReplies=1
  lib/v2/twitter/web-api/twitter-api.js
Labels: Auto: Route Test Complete, Route: v2

#14272 fix(route): 金色财经
  lib/router.js
  lib/routes/jinse/catalogue.js
  lib/routes/jinse/lives.js
  lib/routes/jinse/timeline.js
  lib/v2/jinse/catalogue.js
  lib/v2/jinse/lives.js
  lib/v2/jinse/maintainer.js
  lib/v2/jinse/radar.js
  lib/v2/jinse/router.js
  lib/v2/jinse/templates/description.art
  lib/v2/jinse/timeline.js
  website/docs/routes/finance.mdx
  website/docs/routes/new-media.mdx
Labels: Auto: Route Test Complete, Route: v1, Route: v2

#14289 fix(route/twitter): readability and RT link
  lib/v2/twitter/utils.js
Labels: Auto: Route Test Complete, Route: v2

#14297 feat(route): laimanhua
  lib/v2/laimanhua/index.js
  lib/v2/laimanhua/maintainer.js
  lib/v2/laimanhua/radar.js
  lib/v2/laimanhua/router.js
  website/docs/routes/anime.mdx
Labels: Auto: Route Test Complete, Route: v2

#14298 fix: codeql incomplete multi-character sanitization
  lib/routes/us/supremecourt/argument-audio.js
  lib/v2/kcna/news.js
  lib/v2/xueqiu/hots.js
  lib/v2/xueqiu/router.js
  lib/v2/xueqiu/stock-comments.js
  lib/v2/xueqiu/stock-info.js
  lib/v2/xueqiu/user.js
  website/docs/routes/finance.mdx
Labels: Route: v1, Route: v2

#14299 feat(route): scmp topics
  lib/v2/alistapart/radar.js
  lib/v2/brooklynmuseum/radar.js
  lib/v2/bytes/radar.js
  lib/v2/curiouscat/radar.js
  lib/v2/daily/radar.js
  lib/v2/deadline/radar.js
  lib/v2/discord/radar.js
  lib/v2/dnaindia/radar.js
  lib/v2/fisher-spb/radar.js
  lib/v2/freecomputerbooks/radar.js
  lib/v2/ft/radar.js
  lib/v2/gov/radar.js
  lib/v2/indiansinkuwait/radar.js
  lib/v2/jewishmuseum/radar.js
  lib/v2/kuwaitlocal/radar.js
  lib/v2/layoffs/radar.js
  lib/v2/linkedin/radar.js
  lib/v2/lxixsxa/radar.js
  lib/v2/metmuseum/radar.js
  lib/v2/nautil/radar.js
  lib/v2/nber/radar.js
  lib/v2/newmuseum/radar.js
  lib/v2/openai/radar.js
  lib/v2/picnob/radar.js
  lib/v2/pikabu/radar.js
  lib/v2/pixabay/radar.js
  lib/v2/rarehistoricalphotos/radar.js
  lib/v2/rattibha/radar.js
  lib/v2/reactnewsletter/radar.js
  lib/v2/scmp/index.js
  lib/v2/scmp/maintainer.js
  lib/v2/scmp/radar.js
  lib/v2/scmp/router.js
  lib/v2/scmp/topic.js
  lib/v2/scmp/utils.js
  lib/v2/seekingalpha/radar.js
  lib/v2/smashingmagazine/radar.js
  lib/v2/stockedge/radar.js
  lib/v2/stratechery/radar.js
  lib/v2/techpowerup/radar.js
  lib/v2/thehindu/radar.js
  lib/v2/threads/radar.js
  lib/v2/tiktok/radar.js
  lib/v2/unusualwhales/radar.js
  lib/v2/urbandictionary/radar.js
  lib/v2/verfghbw/radar.js
  lib/v2/yoasobi-music/radar.js
  website/docs/routes/other.mdx
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14300 fix: recover cntheory
  lib/v2/cntheory/maintainer.js
  lib/v2/cntheory/paper.js
  lib/v2/cntheory/radar.js
  lib/v2/cntheory/router.js
  lib/v2/cntheory/templates/description.art
  website/docs/routes/traditional-media.mdx
Labels: Auto: Route Test Complete, Route: v2

#14301 feat(route): keepass
  lib/v2/keepass/maintainer.js
  lib/v2/keepass/news.js
  lib/v2/keepass/radar.js
  lib/v2/keepass/router.js
  website/docs/routes/program-update.mdx
Labels: Auto: Route Test Complete, Route: v2

#14304 fix(route): huanqiu
  lib/v2/huanqiu/index.js
Labels: Auto: Route Test Complete, Route: v2

#14311 feat(route): mrm
  lib/v2/mrm/index.js
  lib/v2/mrm/maintainer.js
  lib/v2/mrm/radar.js
  lib/v2/mrm/router.js
  website/docs/routes/finance.mdx
Labels: Auto: Route Test Complete, Route: v2

#14303 feat(route): add 川流严选
  lib/v2/chuanliu/maintainer.js
  lib/v2/chuanliu/nice.js
  lib/v2/chuanliu/radar.js
  lib/v2/chuanliu/router.js
  lib/v2/chuanliu/templates/description.art
  website/docs/routes/blog.mdx
Labels: Auto: Route Test Complete, Route: v2

#14302 fix(route/tencent): Circumvent video type link.
  lib/v2/tencent/news/author.js
Labels: Auto: Route Test Complete, Route: v2

#14312 fix: use sanitize-html
  lib/middleware/parameter.js
  lib/v2/test/index.js
  test/middleware/parameter.js
Labels: core enhancement, Auto: Route Test Skipped, Route: v2

#14322 fix(route): Foresight News column
  lib/v2/foresightnews/util.js
Labels: Auto: Route Test Complete, Route: v2

#14330 fix(route/twitter): reply URL; threads when excludeReplies=1
  lib/v2/twitter/web-api/twitter-api.js
Labels: Auto: Route Test Complete, Route: v2

#14331 fix(route): Firefox release notes
  lib/v2/firefox/release.js
  lib/v2/firefox/router.js
Labels: Auto: Route Test Complete, Route: v2

#14334 fix: javlibrary genre route because some spans may not have class attr in individual pages
  lib/v2/javlibrary/utils.js
Labels: Auto: Route Test Complete, Route: v2

#14337 fix(route): guanhai
  lib/v2/guanhai/index.js
Labels: Auto: Route Test Complete, Route: v2

#14339 feat(route): add 中国汽车工业协会统计信息网
  lib/v2/auto-stats/index.js
  lib/v2/auto-stats/maintainer.js
  lib/v2/auto-stats/radar.js
  lib/v2/auto-stats/router.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2

#14260 feat: Add Thai Parliament's Public hearing (according to Thai constitution section 77)
  lib/v2/parliament/maintainer.js
  lib/v2/parliament/radar.js
  lib/v2/parliament/router.js
  lib/v2/parliament/section77.js
  website/docs/routes/government.mdx
Labels: Auto: Route Test Complete, Route: v2

#14351 fix(modrinth): correct the radar rules for working with
  lib/v2/modrinth/radar.js
  website/docs/routes/game.mdx
Labels: Route: v2

#14352 fix(modrinth): match index of projects
  lib/v2/modrinth/radar.js
Labels: Route: v2

#14356 feat(route): add 中国汽车工业协会
  lib/v2/caam/index.js
  lib/v2/caam/maintainer.js
  lib/v2/caam/radar.js
  lib/v2/caam/router.js
  website/docs/routes/other.mdx
Labels: Auto: Route Test Complete, Route: v2
