Repository DIYgod/RSSHub, pull requests merged in 2024-12, with the labels that each got.

#17765 fix(route/fastbull): Use another site
  lib/routes/fastbull/express-news.ts
  lib/routes/fastbull/namespace.ts
  lib/routes/fastbull/news.ts
Labels: Auto: Route Test Complete, Route

#17761 feat(route): add 趣集盐选故事
  lib/routes/ifun/n/category.ts
  lib/routes/ifun/n/search.ts
  lib/routes/ifun/n/tag.ts
  lib/routes/ifun/n/util.ts
  lib/routes/ifun/namespace.ts
Labels: Auto: Route Test Complete, Route

#17760 feat(route): 增加小红书路由 LivePhoto以及视频支持功能
  lib/routes/xiaohongshu/user.ts
  lib/routes/xiaohongshu/util.ts
Labels: Auto: Route Test Complete, Route

#17766 feat(route): add taiwanmobile rate-plans
  lib/routes/taiwanmobile/namespace.ts
  lib/routes/taiwanmobile/rate-plans.ts
Labels: Auto: Route Test Complete, Route

#17778 feat(route): dingshao
  lib/routes/dingshao/namespace.ts
  lib/routes/dingshao/share.ts
  lib/routes/dingshao/types.ts
Labels: Auto: Route Test Complete, Route

#17779 feat(hellogithub): hellogithub 添加文章路由
  lib/routes/hellogithub/article.ts
  lib/routes/hellogithub/index.ts
  lib/routes/hellogithub/report.ts
  lib/routes/hellogithub/volume.ts
Labels: Auto: Route Test Complete, Route

#17788 feat(route): add Jones Lang LaSalle Trends & Insights
  lib/routes/joneslanglasalle/index.ts
  lib/routes/joneslanglasalle/namespace.ts
  lib/routes/joneslanglasalle/templates/description.art
Labels: Auto: Route Test Complete, Route

#17797 fix(route): Jones Lang LaSalle
  lib/routes/joneslanglasalle/index.ts
Labels: Auto: Route Test Complete, Route

#17799 feat(route): add amz123.com
  lib/routes/amz123/kx.ts
  lib/routes/amz123/namespace.ts
Labels: Auto: Route Test Complete, Route

#17803 fix(view/index): update logo image path to relative
  lib/views/index.tsx
Labels: core enhancement, Auto: Route Test Complete

#17802 feat(route): add Yonhap News Agency route
  lib/routes/yna/index.ts
  lib/routes/yna/namespace.ts
Labels: Auto: Route Test Complete, Route

#17804 feat(route): luogu
  lib/routes/luogu/daily.ts
  lib/routes/luogu/user-article.ts
  lib/routes/luogu/user-blog.ts
  lib/routes/luogu/user-feed.ts
  lib/routes/luogu/utils.ts
Labels: Auto: Route Test Complete, Route

#17806 fix(mihoyo/bbs): 修复 timeline API URL
  lib/routes/mihoyo/bbs/timeline.ts
Labels: Auto: Route Test Complete, Route

#17805 fix: qweather route example inaccuracy.
  lib/routes/qweather/3days.ts
  lib/routes/qweather/now.ts
Labels: Auto: Route Test Complete, Route

#17823 feat(route): 添加 上海交通大学教务处 面向学生的通知 路由
  lib/routes/sjtu/jwc.ts
Labels: Auto: Route Test Complete, Route

#17815 feat(route): add 游侠网资讯
  lib/routes/ali213/namespace.ts
  lib/routes/ali213/news.ts
  lib/routes/ali213/templates/description.art
Labels: Auto: Route Test Complete, Route

#17837 fix(route/sohu): add image URL decryption for fetched articles
  lib/routes/sohu/mp.ts
Labels: Auto: Route Test Complete, Route

#17827 feat(route/github): enhance /repos route with optional parameters for…
  lib/routes/github/repos.ts
Labels: Auto: Route Test Complete, Route

#17856 fix(route/duckdb): change blogs link and author
  lib/routes/duckdb/news.ts
Labels: Auto: Route Test Complete, Route

#17855 fix(/mittrchina/breaking): TypeError: Cannot read properties of null (reading 'content')
  lib/routes/mittrchina/index.ts
Labels: Auto: Route Test Complete, Route

#17861 fix(route): follow
  lib/routes/follow/profile.ts
Labels: Auto: Route Test Complete, Route

#17843 feat(route): 新增 i黑马网
  lib/routes/iheima/index.ts
  lib/routes/iheima/namespace.ts
Labels: Auto: Route Test Complete, Route

#17845 feat(route): 添加 白鲸出海
  lib/routes/baijing/index.ts
  lib/routes/baijing/namespace.ts
Labels: Auto: Route Test Complete, Route

#17792 feat: add routes
  lib/routes/kuaishou/namespace.ts
  lib/routes/kuaishou/profile.ts
Labels: Auto: Route Test Complete, Route

#17740 feat: get full text for routes/qbitai/category
  lib/routes/qbitai/category.ts
Labels: Auto: Route Test Complete, Route

#17873 feat(route): add 中国疾病预防控制中心
  lib/routes/chinacdc/index.ts
  lib/routes/chinacdc/namespace.ts
  lib/routes/chinacdc/templates/description.art
Labels: Auto: Route Test Complete, Route

#17857 feat(route): add cool paper first-author infomation
  lib/routes/papers/index.ts
  lib/routes/papers/templates/description.art
Labels: Auto: Route Test Complete, Route

#17874 feat(picnob): fix Picnob Instagram Reels video playback.
  lib/routes/picnob/templates/desc.art
Labels: Auto: Route Test Complete

#17860 feat(route): 充电头网
  lib/routes/chongdiantou/index.ts
  lib/routes/chongdiantou/namespace.ts
Labels: Auto: Route Test Complete, Route

#17888 fix(types): fix route type definitions for different languages
  lib/types.ts
Labels: core enhancement, Auto: Route Test Skipped

#17890 feat(route): 新增博客道宣的窝
  lib/routes/daoxuan/namespace.ts
  lib/routes/daoxuan/rss.ts
Labels: Auto: Route Test Complete, Route

#17870 feat(route/hrbust): add 哈尔滨理工大学新闻网
  lib/routes/hrbust/namespace.ts
  lib/routes/hrbust/news.ts
Labels: Auto: Route Test Complete, Route

#17893 fix(github/repos): 添加日期解析功能并优化数据处理
  lib/routes/github/repos.ts
Labels: Auto: Route Test Complete, Route

#17895 fix(route/egsea): 修复e快选因部分条目没有分类导致抓取失败
  lib/routes/egsea/flash.ts
Labels: Auto: Route Test Complete, Route

#17689 feat(route): add route for university: whu swrh
  lib/routes/whu/swrh.ts
Labels: Auto: Route Test Complete, Route

#17822 feat(route): add GDUFS news route and GDUFS xwxy news
  lib/routes/gdufs/namespace.ts
  lib/routes/gdufs/news.ts
  lib/routes/gdufs/xwxy/xwxy-news.ts
Labels: Auto: Route Test Complete, Route

#17903 feat(route): 新增 挖贝网
  lib/routes/wabei/index.ts
  lib/routes/wabei/namespace.ts
Labels: Auto: Route Test Complete, Route

#17902 fix(route/zaobao): Adapt to new SG layout
  lib/routes/zaobao/util.ts
Labels: Auto: Route Test Complete, Route

#17842 feat(route): 新增 和讯创投
  lib/routes/hexun/index.ts
  lib/routes/hexun/namespace.ts
Labels: Auto: Route Test Complete, Route

#17841 feat(route): 新增新芽网
  lib/routes/newseed/index.ts
  lib/routes/newseed/namespace.ts
Labels: Auto: Route Test Complete, Route

#17913 feat(route): 增加标普全球评级
  lib/routes/spglobal/namespace.ts
  lib/routes/spglobal/ratings.ts
Labels: Auto: Route Test Complete, Route

#17917 docs: fix tip wrapper in document
  lib/routes/kuaishou/profile.ts
Labels: Auto: Route Test Skipped, Route

#17839 feat(route): APNIC Blog 全文 RSS
  lib/routes/apnic/index.ts
  lib/routes/apnic/namespace.ts
Labels: Auto: Route Test Complete, Route

#17840 feat(route): add techsir.com
  lib/routes/techsir/index.ts
  lib/routes/techsir/namespace.ts
Labels: Auto: Route Test Complete, Route

#17899 feat(route): add route for Society journals
  lib/routes/shu/society.ts
Labels: Auto: Route Test Complete, Route

#17928 fix(behance): use GraphQL instead
  lib/routes/behance/queries.ts
  lib/routes/behance/templates/description.art
  lib/routes/behance/user.ts
Labels: Auto: Route Test Complete, Route

#17940 feat(route): add 艾瑞咨询研究图表
  lib/routes/iresearch/chart.ts
  lib/routes/iresearch/templates/chart.art
Labels: Auto: Route Test Complete, Route

#17942 fix(behance): fix image url
  lib/routes/behance/user.ts
Labels: Auto: Route Test Complete, Route

#17952 fix(bilibili): missing image
  lib/routes/bilibili/user-channel.ts
  lib/routes/bilibili/user-collection.ts
Labels: Auto: Route Test Complete, Route

#17944 fix(163/music/djradio): add option for info
  lib/routes/163/music/djradio.ts
  lib/routes/163/templates/music/djradio-content.art
Labels: Auto: Route Test Complete, Route

#17924 feat(route): 增加几米创作最新消息
  lib/routes/jimmyspa/books.ts
  lib/routes/jimmyspa/namespace.ts
  lib/routes/jimmyspa/news.ts
  lib/routes/jimmyspa/templates/description.art
Labels: Auto: Route Test Complete, Route

#17923 feat(route): 添加 海南省工业和信息化厅-通知公告
  lib/routes/gov/hainan/iitb/tzgg.ts
  lib/routes/gov/hainan/namespace.ts
Labels: Auto: Route Test Complete, Route

#17953 fix(behance): embed
  lib/routes/behance/templates/description.art
Labels: Auto: Route Test Complete

#17954 fix(hket): select main listing container
  lib/routes/hket/index.ts
Labels: Auto: Route Test Complete, Route

#17828 feat(route/copernicium): Add default
  lib/routes/copernicium/index.ts
Labels: Auto: Route Test Complete, Route

#17945 feat(route): implement 新电影天堂 route with content scraping and caching
  lib/routes-deprecated/dytt/index.js
  lib/routes/dytt/index.ts
  lib/routes/dytt/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#17958 perf(shu): 给上海大学相关 rss 添加图标
  lib/routes/shu/global.ts
  lib/routes/shu/gs.ts
  lib/routes/shu/index.ts
  lib/routes/shu/jwb.ts
  lib/routes/shu/xykd.ts
Labels: Auto: Route Test Skipped, Route

#17960 feat(route): Add RSS feed for latest news from Anthropic (a leading LLM developer).
  lib/routes/anthropic/namespace.ts
  lib/routes/anthropic/news.ts
Labels: Auto: Route Test Complete, Route

#17956 fix(blizzard): 新闻路由报错不能使用
  lib/routes/blizzard/news.ts
Labels: Auto: Route Test Complete, Route

#17961 feat(route): add 游侠网大侠号
  lib/routes/ali213/zl.ts
Labels: Auto: Route Test Complete, Route

#17969 feat(route): add 穆迪评级
  lib/routes/moodysmismicrosite/namespace.ts
  lib/routes/moodysmismicrosite/report.ts
Labels: Auto: Route Test Complete, Route

#17974 fix(route): zaker
  lib/routes/zaker/channel.ts
  lib/routes/zaker/focus.ts
  lib/routes/zaker/index.ts
  lib/routes/zaker/utils.ts
Labels: Auto: Route Test Complete, Route

#17972 feat(route): add 集思录广场
  lib/routes/jisilu/category.ts
  lib/routes/jisilu/explore.ts
  lib/routes/jisilu/index.ts
  lib/routes/jisilu/namespace.ts
  lib/routes/jisilu/people.ts
  lib/routes/jisilu/topic.ts
  lib/routes/jisilu/util.ts
Labels: Auto: Route Test Complete, Route

#17967 feat(route): add Deepseek news route
  lib/routes/deepseek/namespace.ts
  lib/routes/deepseek/news.ts
Labels: Auto: Route Test Complete, Route

#17943 feat(route): 增加 金融界
  lib/routes/jrj/index.ts
  lib/routes/jrj/namespace.ts
Labels: Auto: Route Test Complete, Route

#17975 feat(route): add huggingface english blog
  lib/routes/huggingface/blog.ts
Labels: Auto: Route Test Complete, Route

#17978 feat(route): add cursor changelog
  lib/routes/cursor/changelog.ts
  lib/routes/cursor/namespace.ts
Labels: Auto: Route Test Complete, Route

#17979 feat(route): add tiddlywiki releases
  lib/routes/tiddlywiki/namespace.ts
  lib/routes/tiddlywiki/releases.ts
Labels: Auto: Route Test Complete, Route

#17980 fix(pixiv/user): use imgProxy for image url
  lib/routes/pixiv/user.ts
Labels: Auto: Route Test Complete, Route

#17968 feat: add msn news
  lib/routes/msn/index.ts
  lib/routes/msn/namespace.ts
Labels: Auto: Route Test Complete, Route

#17985 fix: weibo livephoto get wrong object key
  lib/routes/weibo/utils.ts
Labels: Auto: Route Test Complete, Route

#17981 feat(route): add WebCatalog changelog
  lib/routes/webcatalog/changelog.ts
  lib/routes/webcatalog/namespace.ts
Labels: Auto: Route Test Complete, Route

#17986 fix(bilibili/user/dynamic): bilibili dynamic offset
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#17992 feat: 新增 iFanr 爱范儿
  lib/routes/ifanr/category.ts
  lib/routes/ifanr/index.ts
  lib/routes/ifanr/namespace.ts
Labels: Auto: Route Test Complete, Route

#17998 fix(routes/oschina/user): fix wrong link for user
  lib/routes/oschina/user.ts
Labels: Auto: Route Test Complete, Route

#17999 fix(route/chinacdc/index): add link for index route
  lib/routes/chinacdc/index.ts
Labels: Auto: Route Test Complete, Route

#17991 feat(route): output full text for msn news
  lib/routes/msn/index.ts
Labels: Auto: Route Test Complete, Route

#18004 fix(hiringcafe): correct pubDate parsing
  lib/routes/hiring.cafe/jobs.ts
Labels: Auto: Route Test Complete, Route

#17996 feat: add NWMU router.
  lib/routes/xbmu/academic.ts
  lib/routes/xbmu/announcement.ts
  lib/routes/xbmu/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#18008 feat(route): add koreaherald route
  lib/routes/koreaherald/index.ts
  lib/routes/koreaherald/namespace.ts
Labels: Auto: Route Test Complete, Route

#18001 fix: (routes/zhihu/utils) getSignedHeader throw error cause request failed and ts type fix
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route
