Repository DIYgod/RSSHub, pull requests merged in 2024-11, with the labels that each got.

#17396 refactor: use bbob instead of bbcodejs (1point3acres)
  lib/routes/1point3acres/thread.ts
  lib/routes/1point3acres/utils.ts
  lib/routes/counter-strike/news.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route

#17409 fix(route/zjut): filter out items that should not included
  lib/routes/zjut/www/index.ts
Labels: Auto: Route Test Complete, Route

#17413 feat(route): add 中国黄金协会
  lib/routes/cngold/index.ts
  lib/routes/cngold/namespace.ts
Labels: Auto: Route Test Complete, Route

#17398 feat(route): add nielsberglund
  lib/routes/nielsberglund/index.ts
  lib/routes/nielsberglund/namespace.ts
Labels: Auto: Route Test Complete, Route

#17417 fix(route/follow): users link
  lib/routes/follow/profile.ts
Labels: Auto: Route Test Complete, Route

#17420 fix(route): 修复 bilibili 动态路由在部分情况下出现空图片的问题
  lib/routes/bilibili/dynamic.ts
  lib/routes/bilibili/templates/description.art
Labels: Auto: Route Test Complete, Route

#17415 feat(route): add langchain dev blog
  lib/routes/langchain/index.ts
  lib/routes/langchain/namespace.ts
Labels: Auto: Route Test Complete, Route

#17231 feat(route/caixin): Add full text fetch
  lib/config.ts
  lib/routes/caixin/article.ts
  lib/routes/caixin/blog.ts
  lib/routes/caixin/category.ts
  lib/routes/caixin/latest.ts
  lib/routes/caixin/namespace.ts
  lib/routes/caixin/utils-fulltext.ts
  lib/routes/caixin/utils.ts
Labels: Auto: Route Test Complete, Route

#17426 fix(route): update package version parsing and cache key in Alpine Li…
  lib/routes/alpinelinux/pkgs.ts
Labels: Auto: Route Test Complete, Route

#17429 fix(route/twitter): await when get cache
  lib/routes/twitter/api/web-api/utils.ts
Labels: Auto: Route Test Skipped, Route

#17430 feat(route): C114 滚动资讯只看原创
  lib/routes/c114/namespace.ts
  lib/routes/c114/roll.ts
Labels: Auto: Route Test Complete, Route

#17439 feat(route): add baoyu's blog with complete content
  lib/routes/baoyu/index.ts
  lib/routes/baoyu/namespace.ts
Labels: Auto: Route Test Complete, Route

#17440 fix(bilibili): video reply
  lib/routes/bilibili/reply.ts
  lib/utils/got.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#17441 feat(route): add 飞客会员说
  lib/routes/flyert/forum.ts
  lib/routes/flyert/namespace.ts
  lib/routes/flyert/templates/description.art
  lib/routes/flyert/util.ts
Labels: Auto: Route Test Complete, Route

#17431 feat: add route(chart) for openrice.comOpenrice
  lib/routes/openrice/chart.ts
  lib/routes/openrice/templates/chart.art
Labels: Auto: Route Test Complete, Route

#17323 feat(router/jlu): add JLU Phy
  lib/routes/jlu/phy/index.ts
Labels: Auto: Route Test Complete, Route

#17319 feat(route/yande): extend yande post route with popular category
  lib/routes/yande/post.ts
Labels: Auto: Route Test Complete, Route

#17427 feat(route): add the gradient blog
  lib/routes/thegradient/index.ts
  lib/routes/thegradient/namespace.ts
Labels: Auto: Route Test Complete, Route

#17428 feat(route): add the hamel blog
  lib/routes/hamel/index.ts
  lib/routes/hamel/namespace.ts
Labels: Auto: Route Test Complete, Route

#17445 fix: get SearchParams string
  lib/utils/got.ts
  lib/utils/helpers.test.ts
  lib/utils/helpers.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: Route Test Skipped

#17442 feat(route/nytimes): Add support for EN version
  lib/routes/nytimes/rss.ts
Labels: Auto: Route Test Complete, Route

#17447 fix(route): coomer
  lib/routes/coomer/artist.ts
  lib/routes/coomer/namespace.ts
  lib/routes/coomer/posts.ts
  lib/routes/coomer/utils.ts
Labels: Auto: Route Test Complete, Route

#17448 fix(route): anime1 incorrect title
  lib/routes/anime1/anime.ts
Labels: Auto: Route Test Complete, Route

#17462 fix(route): 修复 bilibili UP 主动态/用户关注动态 开启内嵌视频 参数错误的问题
  lib/routes/bilibili/dynamic.ts
  lib/routes/bilibili/followings-dynamic.ts
Labels: Auto: Route Test Complete, Route

#17461 fix(route): 修复 米游社官方公告 路由的接口错误
  lib/routes/mihoyo/bbs/official.ts
Labels: Auto: Route Test Complete, Route

#17463 docs: typo error of docs
  lib/routes/ruc/ai.ts
Labels: Auto: Route Test Complete, Route

#17464 feat(route): daily.dev sources
  lib/routes/buaa/lib/space/newbook.ts
  lib/routes/daily/discussed.ts
  lib/routes/daily/index.ts
  lib/routes/daily/namespace.ts
  lib/routes/daily/source.ts
  lib/routes/daily/upvoted.ts
  lib/routes/daily/user.ts
  lib/routes/daily/utils.ts
  lib/routes/espn/news.ts
  lib/routes/imdb/chart.ts
  lib/routes/jiuyangongshe/community.ts
  lib/routes/mi/utils.ts
  lib/routes/theblockbeats/index.ts
  lib/routes/vice/topic.ts
  lib/routes/wellcee/rent.ts
Labels: Auto: Route Test Complete, Route

#17460 fix(route/theinitium): Fix wp-block html
  lib/routes/theinitium/app.ts
Labels: Auto: Route Test Complete, Route

#17391 feat(route/pixiv): add R18 novels support and full content toggle for…
  lib/routes/pixiv/api/get-illust-detail.ts
  lib/routes/pixiv/api/get-novels-nsfw.ts
  lib/routes/pixiv/api/get-novels-sfw.ts
  lib/routes/pixiv/novels.ts
  lib/routes/pixiv/utils.ts
Labels: Auto: Route Test Complete, Route

#17446 feat(route/apnews): Enhance live page post extraction.
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#17308 feat(dev): visualize network requests in the development environment on Chrome Devtools's network tab
  lib/utils/ofetch.ts
  lib/utils/request-rewriter/fetch.test.ts
  lib/utils/request-rewriter/fetch.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: Route Test Skipped

#17443 feat: add route(voting) to Openrice.com
  lib/routes/openrice/voting.ts
Labels: Auto: Route Test Complete, Route

#17466 feat(route/youtube): cache handle lookup
  lib/routes/youtube/user.ts
Labels: Auto: Route Test Complete, Route

#17468 feat(route): toutiao
  lib/routes/toutiao/a-bogus.ts
  lib/routes/toutiao/namespace.ts
  lib/routes/toutiao/types.ts
  lib/routes/toutiao/user.ts
Labels: Auto: Route Test Complete, Route

#17469 fix(route/sycl): docs example wrong
  lib/routes/sycl/feeds.ts
Labels: Auto: Route Test Complete, Route

#17475 feat(route): no longer publish date available
  lib/routes/freecomputerbooks/index.ts
Labels: Auto: Route Test Complete, Route

#17478 fix(route): 华中科技大学研究生院标题不完整
  lib/routes/hust/gs.ts
Labels: Auto: Route Test Complete, Route

#17479 feat(route): toutiao video
  lib/routes/toutiao/templates/video.art
  lib/routes/toutiao/types.ts
  lib/routes/toutiao/user.ts
Labels: Auto: Route Test Complete, Route

#17477 feat: better error message display
  lib/middleware/access-control.ts
  lib/views/error.tsx
Labels: core enhancement, Auto: Route Test Skipped

#17495 fix(route/caixin): filter out articles that does not have ID
  lib/routes/caixin/utils-fulltext.ts
Labels: Auto: Route Test Complete, Route

#17494 fix: Update metacritic API root URL
  lib/routes/metacritic/index.ts
Labels: Auto: Route Test Complete, Route

#17498 chore: disable remote debugger by default
  lib/config.ts
  lib/utils/ofetch.ts
  lib/utils/request-rewriter/fetch.test.ts
  lib/utils/request-rewriter/fetch.ts
Labels: core enhancement, Auto: Route Test Complete

#17483 feat(route): add LastOrigin日本官网公告
  lib/routes/last-origin/namespace.ts
  lib/routes/last-origin/news.ts
Labels: Auto: Route Test Complete, Route

#17458 feat(route): add 中国地质科学院研究生院
  lib/routes/cags/edu/index.ts
  lib/routes/cags/namespace.ts
Labels: Auto: Route Test Complete, Route

#17504 fix: update csdn url
  lib/routes/csdn/blog.ts
Labels: Auto: Route Test Complete, Route

#17497 fix(route/xsijishe): update rank list parsing logic
  lib/routes/xsijishe/rank.ts
Labels: Auto: Route Test Complete, Route

#17514 fix(route): DeepLearning.AI The Batch with tags
  lib/routes/deeplearning/namespace.ts
  lib/routes/deeplearning/templates/description.art
  lib/routes/deeplearning/the-batch.ts
  lib/routes/deeplearning/thebatch.ts
Labels: Auto: Route Test Complete, Route

#17520 fix(route/xiaoheihe): 修复小黑盒 - 游戏折扣数据抓取失败
  lib/routes/xiaoheihe/discount.ts
Labels: Auto: Route Test Complete, Route

#17499 feat(route/bsky): replace video thumbnail with video player
  lib/routes/bsky/posts.ts
  lib/routes/bsky/templates/post.art
Labels: Auto: Route Test Complete, Route

#17516 feat: add route for School of Economics & Management, Tongji University (同济大学经济与管理学院)
  lib/routes/tongji/sem/_utils.ts
  lib/routes/tongji/sem/notice.ts
Labels: Auto: Route Test Complete, Route

#17527 fix(route/zhonglun): 修复中伦律师事务所研究文章页面改版导致数据无法获取
  lib/routes/zhonglun/index.ts
Labels: Auto: Route Test Complete, Route

#17521 feat(route): google developers blog
  lib/routes/google/developers.ts
Labels: Auto: Route Test Complete, Route

#17522 feat(route/discord): add guild messages search with comprehensive parameters
  lib/routes/discord/discord-api.ts
  lib/routes/discord/search.ts
Labels: Auto: Route Test Complete, Route

#17528 feat(route/tongji/sem): Add description for articles
  lib/routes/tongji/sem/_utils.ts
  lib/routes/tongji/sem/notice.ts
Labels: Auto: Route Test Complete, Route

#17530 fix(route/discord): add missing `__dirname` definition in search route
  lib/routes/discord/search.ts
Labels: Auto: Route Test Complete, Route

#17531 fix(route/mastodon): Correct the only_media param
  lib/routes/mastodon/account-id.ts
  lib/routes/mastodon/acct.ts
  lib/routes/mastodon/timeline-local.ts
  lib/routes/mastodon/timeline-remote.ts
Labels: Auto: Route Test Complete, Route

#17544 fix(bilibili)!: update ranking api
  lib/routes/bilibili/ranking.ts
Labels: Auto: Route Test Complete, Route

#17542 feat(/scu/scupi): Add route for SCUPI
  lib/routes/scu/namespace.ts
  lib/routes/scu/scupi/_utils.ts
  lib/routes/scu/scupi/notice.ts
Labels: Auto: Route Test Complete, Route

#17314 feat(route/furaffinity): Add routes for furaffinity as a substitute for deprecated routes
  lib/routes-deprecated/furaffinity/browse.js
  lib/routes-deprecated/furaffinity/commissions.js
  lib/routes-deprecated/furaffinity/favorites.js
  lib/routes-deprecated/furaffinity/gallery.js
  lib/routes-deprecated/furaffinity/home.js
  lib/routes-deprecated/furaffinity/journal-comments.js
  lib/routes-deprecated/furaffinity/journals.js
  lib/routes-deprecated/furaffinity/scraps.js
  lib/routes-deprecated/furaffinity/search.js
  lib/routes-deprecated/furaffinity/shouts.js
  lib/routes-deprecated/furaffinity/status.js
  lib/routes-deprecated/furaffinity/submission-comments.js
  lib/routes-deprecated/furaffinity/watchers.js
  lib/routes-deprecated/furaffinity/watching.js
  lib/routes/furaffinity/art.ts
  lib/routes/furaffinity/browse.ts
  lib/routes/furaffinity/commissions.ts
  lib/routes/furaffinity/home.ts
  lib/routes/furaffinity/journal-comments.ts
  lib/routes/furaffinity/journals.ts
  lib/routes/furaffinity/namespace.ts
  lib/routes/furaffinity/search.ts
  lib/routes/furaffinity/shouts.ts
  lib/routes/furaffinity/status.ts
  lib/routes/furaffinity/submission-comments.ts
  lib/routes/furaffinity/user.ts
  lib/routes/furaffinity/watchers.ts
  lib/routes/furaffinity/watching.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#17532 feat(route/pixiv): refactor novels api and add series support
  lib/routes/pixiv/api/get-novels-nsfw.ts
  lib/routes/pixiv/api/get-novels-sfw.ts
  lib/routes/pixiv/novel-api/content/nsfw.ts
  lib/routes/pixiv/novel-api/content/sfw.ts
  lib/routes/pixiv/novel-api/content/types.ts
  lib/routes/pixiv/novel-api/content/utils.ts
  lib/routes/pixiv/novel-api/series/nsfw.ts
  lib/routes/pixiv/novel-api/series/sfw.ts
  lib/routes/pixiv/novel-api/series/types.ts
  lib/routes/pixiv/novel-api/user-novels/nsfw.ts
  lib/routes/pixiv/novel-api/user-novels/sfw.ts
  lib/routes/pixiv/novel-api/user-novels/types.ts
  lib/routes/pixiv/novel-series.ts
  lib/routes/pixiv/novels.ts
  lib/routes/pixiv/utils.ts
Labels: Auto: Route Test Complete, Route

#17547 feat(route): afr
  lib/routes/afr/latest.ts
  lib/routes/afr/namespace.ts
  lib/routes/afr/navigation.ts
  lib/routes/afr/query.ts
  lib/routes/afr/utils.ts
Labels: Auto: Route Test Complete, Route

#17553 fix: redirect old bilibili ranking route
  lib/routes/bilibili/ranking.ts
Labels: Route

#17552 fix(route/mittrchina): update api
  lib/routes/mittrchina/index.ts
Labels: Auto: Route Test Complete, Route

#17555 fix(route): hellogithub 月刊路由增加 pubDate
  lib/routes/hellogithub/volume.ts
Labels: Auto: Route Test Complete, Route

#17513 feat: add route for HRBEU School of Naval Architecture（哈尔滨工程大学船舶工程学院）
  lib/routes/hrbeu/sec/list.ts
Labels: Auto: Route Test Complete, Route

#17560 fix(route): 修复 部分情况下 url.expanded_url 可能为 undefined 的问题
  lib/routes/twitter/utils.ts
Labels: Auto: Route Test Complete, Route

#17561 feat(route): vertikal
  lib/routes/vertikal/latest.ts
  lib/routes/vertikal/namespace.ts
Labels: Auto: Route Test Complete, Route

#17562 fix(route/natgeo): replace got with ofetch for content loading and im…
  lib/routes/natgeo/natgeo.ts
Labels: Auto: Route Test Complete, Route

#17550 feat(route): add Science Tokyo News 東京科学大学ニュース
  lib/routes/isct/namespace.ts
  lib/routes/isct/news.ts
Labels: Auto: Route Test Complete, Route

#17564 fix(route/oschina): improve cookie handling
  lib/routes/oschina/news.ts
Labels: Auto: Route Test Complete, Route

#17566 feat(route/caixin): Add support for photos channel. Example: https://photos.caixin.com/2024-11-02/102252287.html
  lib/routes/caixin/latest.ts
  lib/routes/caixin/utils-fulltext.ts
Labels: Auto: Route Test Complete, Route

#17572 fix(misskey): Use renote ID for cross-instance notes
  lib/routes/misskey/utils.ts
Labels: Auto: Route Test Skipped, Route

#17574 fix(route/inspirehep): fix getAuthorById custom accept header
  lib/routes/inspirehep/author.ts
Labels: Auto: Route Test Complete, Route

#17533 feat: new router logrocket
  lib/routes/logrocket/index.ts
  lib/routes/logrocket/namespace.ts
Labels: Auto: Route Test Complete, Route

#17583 fix: example edit or authentication source
  lib/routes/logrocket/index.ts
Labels: Auto: Route Test Skipped, Route

#17590 feat(route): javtrailers
  lib/routes/javtrailers/casts.ts
  lib/routes/javtrailers/categories.ts
  lib/routes/javtrailers/namespace.ts
  lib/routes/javtrailers/studios.ts
  lib/routes/javtrailers/templates/description.art
  lib/routes/javtrailers/types.ts
  lib/routes/javtrailers/utils.ts
Labels: Auto: Route Test Complete, Route

#17591 feat(route): qstheory magazine
  lib/router.js
  lib/routes-deprecated/qstheory/index.js
  lib/routes/qstheory/index.ts
  lib/routes/qstheory/magazine.ts
  lib/routes/qstheory/namespace.ts
  lib/routes/qstheory/utils.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#17596 fix(twitter)!: 修复Twitter 长文本显示不全
  lib/routes/twitter/api/mobile-api/api.ts
  lib/routes/twitter/api/web-api/utils.ts
Labels: Auto: Route Test Complete, Route

#17597 feat(route): wallstreetcn
  lib/routes/wallstreetcn/calendar.ts
  lib/routes/wallstreetcn/hot.ts
  lib/routes/wallstreetcn/live.ts
  lib/routes/wallstreetcn/news.ts
Labels: Auto: Route Test Complete, Route

#17586 fix(bilibili)!: update article api
  lib/routes/bilibili/article.ts
Labels: Auto: Route Test Complete, Route

#17575 feat(route): add dw route
  lib/routes/dw/namespace.ts
  lib/routes/dw/news.ts
  lib/routes/dw/rss.ts
  lib/routes/dw/templates/description.art
  lib/routes/dw/templates/liveblog.art
  lib/routes/dw/templates/video.art
  lib/routes/dw/utils.ts
Labels: Auto: Route Test Complete, Route

#17014 feat(route): add scu jwc notice
  lib/routes/scu/jwc/tzgg.ts
Labels: Auto: Route Test Complete, Route

#17603 feat: add icon for /scu/jwc
  lib/routes/scu/jwc/tzgg.ts
Labels: Auto: Route Test Complete, Route

#17621 feat(route): patreon
  lib/config.ts
  lib/routes/patreon/feed.ts
  lib/routes/patreon/namespace.ts
  lib/routes/patreon/templates/description.art
  lib/routes/patreon/types.ts
Labels: Auto: Route Test Complete, Route

#17598 fix(route): 78动漫
  lib/routes/78dm/index.ts
  lib/routes/78dm/namespace.ts
  lib/routes/78dm/templates/description.art
  lib/routes/78dm/templates/image.art
Labels: Auto: Route Test Complete, Route

#17594 feat: add new route about air-level 空气质量
  lib/routes/air-level/index.ts
  lib/routes/air-level/levelrank.ts
  lib/routes/air-level/namespace.ts
Labels: Auto: Route Test Complete, Route

#17633 fix(youtube): handle empty channel
  lib/routes/youtube/user.ts
Labels: Auto: Route Test Complete, Route

#17638 feat(route/steam/search): add thumbnails to steam search items
  lib/routes/steam/search.ts
Labels: Auto: Route Test Complete, Route

#17639 fix: radar rules
  lib/routes/asus/bios.ts
  lib/routes/bing/daily-wallpaper.ts
  lib/routes/ccfa/index.ts
  lib/routes/cpcaauto/index.ts
  lib/routes/ecnu/jwc.ts
  lib/routes/gov/cbirc/index.ts
  lib/routes/hket/index.ts
  lib/routes/hunau/gfxy/index.ts
  lib/routes/hunau/ied.ts
  lib/routes/hunau/jwc.ts
  lib/routes/hunau/xky/index.ts
  lib/routes/joins/chinese.ts
  lib/routes/stbu/jsjxy.ts
  lib/routes/yahoo/news/listid.ts
  lib/routes/yahoo/news/provider-helper.ts
  lib/routes/yahoo/news/provider.ts
  lib/routes/zjut/cs/index.ts
Labels: Auto: Route Test Skipped, Route

#17619 feat(route): add idolmaster news
  lib/routes/idolmaster/namespace.ts
  lib/routes/idolmaster/news.ts
Labels: Auto: Route Test Complete, Route

#17637 feat(route): add 「ONE · 一个」http://wufazhuce.com
  lib/routes/wufazhuce/namespace.ts
  lib/routes/wufazhuce/one.ts
Labels: Auto: Route Test Complete, Route

#17650 feat(route): 円谷ステーション
  lib/routes/m-78/namespace.ts
  lib/routes/m-78/news.ts
  lib/routes/m-78/types.ts
Labels: Auto: Route Test Complete, Route

#17657 fix(route): add radar rules for ‘哈尔滨理工大学教务公告’
  lib/routes/hrbust/jwzx.ts
Labels: Auto: Route Test Complete, Route

#17662 fix(/tongji/sem): Add the correct icon
  lib/routes/tongji/sem/notice.ts
Labels: Auto: Route Test Complete, Route

#17665 revert(route/xiaohongshu): add current time as pubDate
  lib/routes/xiaohongshu/user.ts
Labels: Route

#17228 fix(route): xiaohongshu fulltext add cookie authentication
  lib/config.ts
  lib/routes/xiaohongshu/notes.ts
Labels: Auto: Route Test Complete, Route

#17666 feat(route): thepaper user
  lib/routes/thepaper/channel.ts
  lib/routes/thepaper/factpaper.ts
  lib/routes/thepaper/featured.ts
  lib/routes/thepaper/list.ts
  lib/routes/thepaper/user.ts
Labels: Auto: Route Test Complete, Route

#17674 fix(core/cache): update cache key generation to include query limit
  lib/middleware/cache.ts
Labels: core enhancement, Auto: Route Test Complete

#17675 fix(route/xueqiu): fix getting cookie logic
  lib/routes/xueqiu/cookies.ts
Labels: Auto: Route Test Skipped, Route

#17667 feat(route/pixiv): add language attributes for novels
  lib/routes/pixiv/novel-api/content/common.ts
  lib/routes/pixiv/novel-api/content/nsfw.ts
  lib/routes/pixiv/novel-api/content/sfw.ts
  lib/routes/pixiv/novel-api/content/types.ts
  lib/routes/pixiv/novel-api/series/nsfw.ts
  lib/routes/pixiv/novel-api/series/sfw.ts
  lib/routes/pixiv/novel-api/user-novels/nsfw.ts
  lib/routes/pixiv/novel-api/user-novels/sfw.ts
Labels: Auto: Route Test Complete, Route

#17673 fix(twitter): set title to author
  lib/routes/twitter/namespace.ts
  lib/routes/twitter/utils.ts
Labels: Auto: Route Test Complete, Route

#17500 feat(route): fix syosetu & add more routes
  lib/routes/syosetu/chapter.ts
  lib/routes/syosetu/dev.ts
  lib/routes/syosetu/index.ts
  lib/routes/syosetu/namespace.ts
  lib/routes/syosetu/ranking-isekai.ts
  lib/routes/syosetu/ranking-r18.ts
  lib/routes/syosetu/ranking.ts
  lib/routes/syosetu/search.ts
  lib/routes/syosetu/templates/description.art
  lib/routes/syosetu/types/ranking-r18.ts
  lib/routes/syosetu/types/ranking.ts
  lib/routes/syosetu/utils.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route

#17681 fix(route): linkresearcher
  lib/routes/linkresearcher/index.ts
  lib/routes/linkresearcher/namespace.ts
  lib/routes/linkresearcher/templates/bilingual.art
  lib/routes/linkresearcher/types.ts
Labels: Auto: Route Test Complete, Route

#17686 docs(route/syosetu): add URLs and improve ranking docs
  lib/routes/syosetu/dev.ts
  lib/routes/syosetu/namespace.ts
  lib/routes/syosetu/ranking-r18.ts
  lib/routes/syosetu/ranking.ts
Labels: Auto: Route Test Skipped, Route

#17685 chore: use some lighter dependencies
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Skipped

#17682 fix(cnki): deprecate author articles with `:code`, now use `:name` and `:company` instead
  lib/routes/cnki/author.ts
  lib/routes/cnki/utils.ts
Labels: Auto: Route Test Complete, Route

#17691 feat(dockerhub): 添加 DockerHub 仓库路由
  lib/routes/dockerhub/repositories.ts
Labels: Auto: Route Test Complete, Route

#17697 fix: low-price.ts 修复宜家低价
  lib/routes/ikea/cn/low-price.ts
Labels: Auto: Route Test Complete, Route

#17695 fix: fix dataguidance news feed
  lib/routes/dataguidance/index.ts
Labels: Auto: Route Test Complete, Route

#17694 fix(route/kcna): Remove juche date parsing
  lib/routes/kcna/news.ts
Labels: Auto: Route Test Complete, Route

#17688 fix(ieee): Restore author.ts
  lib/router.js
  lib/routes-deprecated/ieee/author.js
  lib/routes/ieee/author.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#17698 feat(route/pixiv): add more precise datetime and author name for NSFW…
  lib/routes/pixiv/novel-api/content/common.ts
  lib/routes/pixiv/novel-api/content/nsfw.ts
  lib/routes/pixiv/novel-api/content/sfw.ts
  lib/routes/pixiv/novel-api/content/types.ts
  lib/routes/pixiv/novel-api/series/nsfw.ts
  lib/routes/pixiv/novel-api/series/sfw.ts
  lib/routes/pixiv/novel-api/series/types.ts
  lib/routes/pixiv/novel-api/user-novels/nsfw.ts
  lib/routes/pixiv/novel-api/user-novels/sfw.ts
  lib/routes/pixiv/novel-series.ts
Labels: Auto: Route Test Complete, Route

#17710 fix(route/syosetu): HTML escaping in novel description & some minor changes
  lib/routes/syosetu/search.ts
  lib/routes/syosetu/templates/description.art
  lib/routes/syosetu/types/search.ts
Labels: Auto: Route Test Complete, Route

#17711 fix(route/bilibili): fix manga updates
  lib/routes/bilibili/manga-update.ts
Labels: Auto: Route Test Complete, Route

#17652 fix(route): daily.ts 骨朵日榜修复
  lib/routes/guduodata/daily.ts
Labels: Auto: Route Test Complete, Route

#17731 fix(route): agirls topic list
  lib/routes/agirls/z-index.ts
Labels: Auto: Route Test Complete, Route

#17732 fix(route): taptap
  lib/routes/taptap/changelog-cn.ts
  lib/routes/taptap/changelog-intl.ts
  lib/routes/taptap/changelog.ts
  lib/routes/taptap/common/changelog.ts
  lib/routes/taptap/common/review.ts
  lib/routes/taptap/namespace.ts
  lib/routes/taptap/review-cn.ts
  lib/routes/taptap/review-intl.ts
  lib/routes/taptap/review.ts
  lib/routes/taptap/templates/videoPost.art
  lib/routes/taptap/topic.ts
  lib/routes/taptap/types.ts
  lib/routes/taptap/utils.ts
Labels: Auto: Route Test Complete, Route

#17734 fix(wallstreetcn): crash when article delete
  lib/routes/wallstreetcn/news.ts
Labels: Auto: Route Test Complete, Route

#17741 feat(route/apple/podcast): add optional region parameter
  lib/routes/apple/podcast.ts
Labels: Auto: Route Test Complete, Route

#17745 feat(aeon): enhance category and type routes with detailed parameters and improved data fetching
  lib/routes/aeon/category.ts
  lib/routes/aeon/templates/essay.art
  lib/routes/aeon/templates/video.art
  lib/routes/aeon/type.ts
  lib/routes/aeon/utils.ts
Labels: Auto: Route Test Complete, Route

#17744 feat: Added <category> for Isct news.
  lib/routes/isct/namespace.ts
  lib/routes/isct/news.ts
Labels: Auto: Route Test Complete, Route

#17747 feat(pinterest): add pinterest
  lib/routes/pinterest/namespace.ts
  lib/routes/pinterest/types.ts
  lib/routes/pinterest/user.ts
Labels: Auto: Route Test Complete, Route

#17746 feat(route): add UK Parliament Petitions
  lib/routes/parliament.uk/namespace.ts
  lib/routes/parliament.uk/petitions.ts
  lib/routes/parliament.uk/templates/description.art
Labels: Auto: Route Test Complete, Route

#17751 fix(route): bluesky allow empty
  lib/routes/bsky/posts.ts
Labels: Auto: Route Test Complete, Route

#17756 feat: cache user metadata & video playback in img_multi
  lib/routes/picnob/templates/desc.art
  lib/routes/picnob/user.ts
Labels: Auto: Route Test Complete, Route

#17759 Fixed(latepost): TypeError: Cannot read properties of undefined (read…
  lib/routes/latepost/index.ts
Labels: Auto: Route Test Complete, Route
