Repository DIYgod/RSSHub, pull requests merged in 2024-07, with the labels that each got.

#16038 feat(route): introduce `tsdm39/bd`
  lib/config.ts
  lib/routes/tsdm39/bd.ts
  lib/routes/tsdm39/namespace.ts
Labels: Auto: Route Test Complete, Route

#16056 fix(route): 中国投资者网标题丢失
  lib/routes/investor/index.ts
Labels: Auto: Route Test Complete, Route

#16049 feat(route): introduce `/nextjs/blog`
  lib/routes/nextjs/blog.ts
  lib/routes/nextjs/namespace.ts
Labels: Auto: Route Test Complete, Route

#16062 feat(route): introduce `/notion/release`
  lib/routes/notion/release.ts
Labels: Auto: Route Test Complete, Route

#16055 feat(route): add `/react/blog`
  lib/routes/react/blog.ts
  lib/routes/react/namespace.ts
Labels: Auto: Route Test Complete, Route

#16069 feat(route): Mirror Media
  lib/routes/mirrormedia/index.ts
  lib/routes/mirrormedia/namespace.ts
Labels: Auto: Route Test Complete, Route

#16061 fix(routes): bt0(不太灵) use new api
  lib/routes/bt0/mv.ts
  lib/routes/bt0/tlist.ts
  lib/routes/bt0/util.ts
Labels: Auto: Route Test Complete, Route

#16070 feat(route): add `/buaa/jiaowu`
  lib/routes/buaa/jiaowu.ts
  lib/routes/buaa/news/index.ts
  lib/routes/buaa/sme.ts
Labels: Auto: Route Test Complete, Route

#16078 fix(route): 罗磊的独立博客
  lib/routes/luolei/index.ts
Labels: Auto: Route Test Complete, Route

#16084 feat(route/sjtu/yzb): Full text fetch
  lib/routes/sjtu/yzb/zkxx.ts
Labels: Auto: Route Test Complete, Route

#16085 fix(route/udn): Support udn Global when fetching `breakingnews`
  lib/routes/udn/breaking-news.ts
Labels: Auto: Route Test Complete, Route

#16087 feat: opentelementry support (update of #14668)
  lib/app.tsx
  lib/errors/index.tsx
  lib/middleware/logger.ts
  lib/middleware/trace.ts
  lib/registry.ts
  lib/routes/metrics.ts
  lib/utils/otel/index.ts
  lib/utils/otel/metric.ts
  lib/utils/otel/trace.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, core enhancement, Auto: Route Test Skipped, Route

#16092 docs(route): japanpost add multi-language docs
  lib/routes/japanpost/namespace.ts
  lib/routes/japanpost/router.ts
  lib/routes/japanpost/track.ts
Labels: Auto: Route Test Complete, Route

#16095 feat(route): add 新华网客户端
  lib/routes/xinhuanet/app.ts
  lib/routes/xinhuanet/namespace.ts
Labels: Auto: Route Test Complete, Route

#16094 chore: update eslint
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  lib/routes/sciencedirect/cf-email.ts
  lib/routes/telecompaper/news.ts
  lib/routes/watasuke/blog.ts
  lib/routes/wfu/news.ts
  lib/routes/zcool/discover.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Skipped, Route

#16096 fix(route/apnews): Tackle occasionally missing keywords in ld-json.
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#16097 fix(route): adds release year filters to metacritic
  lib/routes/metacritic/index.ts
Labels: Auto: Route Test Complete, Route

#16105 feat(route): 异次元软件世界
  lib/routes-deprecated/iplay/home.js
  lib/routes-deprecated/iplay/utils.js
  lib/routes/iplaysoft/index.ts
  lib/routes/iplaysoft/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#16099 fix(route): Yahoo News
  lib/routes/yahoo/news/index.ts
  lib/routes/yahoo/news/provider-helper.ts
  lib/routes/yahoo/news/provider.ts
  lib/routes/yahoo/news/tw/index.ts
  lib/routes/yahoo/news/us/index.ts
  lib/routes/yahoo/news/utils.ts
Labels: Auto: Route Test Complete, Route

#16116 fix(route): 米游社 - 同人榜 路由 新增 绝区零
  lib/routes/mihoyo/bbs/img-ranking.ts
  lib/routes/mihoyo/bbs/static-data.ts
Labels: Auto: Route Test Complete, Route

#16118 fix(route): XSIJISHE need cloudflare
  lib/config.ts
  lib/routes/xsijishe/forum.ts
  lib/routes/xsijishe/rank.ts
Labels: Auto: Route Test Complete, Route

#16098 feat: support RSS thoughtworks blog
  lib/routes/thoughtworks/index.ts
  lib/routes/thoughtworks/namespace.ts
Labels: Auto: Route Test Complete, Route

#16131 fix(route/neea): fix routing priority and improve descriptions
  lib/routes/neea/index.ts
  lib/routes/neea/jlpt.ts
  lib/routes/neea/namespace.ts
Labels: Auto: Route Test Complete, Route

#16140 feat(route): github user activity
  lib/routes/github/activity.ts
Labels: Auto: Route Test Complete, Route

#16141 feat(route): add j-test.com
  lib/routes/j-test/namespace.ts
  lib/routes/j-test/news.ts
Labels: Auto: Route Test Complete, Route

#16101 fix(route): 调整影视资源采集路由
  lib/routes/maccms/index.ts
  lib/routes/maccms/namespace.ts
  lib/routes/maccms/templates/vod.art
  lib/routes/maccms/type.ts
  lib/routes/moduzy/index.ts
  lib/routes/moduzy/namespace.ts
  lib/routes/moduzy/type.ts
Labels: Auto: Route Test Complete, Route

#16048 fix(route/BBC): 403 Forbidden Edge 5
  lib/routes/bbc/index.ts
Labels: Auto: Route Test Complete, Route

#16161 fix(route): Correctly obtain `d_c0` from response from Zhihu Zhuanlan
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#16138 feat(route/mirrormedia): Add route for category.
  lib/routes/mirrormedia/category.ts
  lib/routes/mirrormedia/index.ts
  lib/routes/mirrormedia/utils.ts
Labels: Auto: Route Test Complete, Route

#16059 fix(route/fortunechina): Fix
  lib/routes/fortunechina/index.ts
Labels: Auto: Route Test Complete, Route

#15957 fix(route): 「全国今日生猪价格」 接口地址变更
  lib/routes/zhuwang/index.ts
Labels: Auto: Route Test Complete, Route

#16183 feat(route): add route for DuckDB news
  lib/routes/duckdb/namespace.ts
  lib/routes/duckdb/news.ts
Labels: Auto: Route Test Complete, Route

#16185 fix(docs): update outdated twitter configuration documentation
  lib/routes/twitter/home.ts
  lib/routes/twitter/keyword.ts
  lib/routes/twitter/likes.ts
  lib/routes/twitter/list.ts
  lib/routes/twitter/media.ts
  lib/routes/twitter/namespace.ts
  lib/routes/twitter/user.ts
Labels: Auto: Route Test Skipped, Route

#16204 fix(route/huxiu): Avoid reading property of undefined while handling premium article
  lib/routes/huxiu/util.ts
Labels: Auto: Route Test Complete, Route

#16217 fix(route/nyaa): fix Nyaa and added descriptions
  lib/routes/nyaa/main.ts
  lib/routes/nyaa/namespace.ts
Labels: Auto: Route Test Complete, Route

#16227 feat(router): 微博路由 评论增加图片输出功能
  lib/routes/weibo/utils.ts
Labels: Auto: Route Test Complete, Route

#16247 fix(route): short title, use guid for github activities
  lib/routes/github/activity.ts
Labels: Auto: Route Test Complete, Route

#16166 fix(route/zhihu): Drop preceding string while extracting `d_c0`
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#16216 feat(route): chlinlearn daily bolg
  lib/routes/chlinlearn/daily-blog.ts
  lib/routes/chlinlearn/namespcae.ts
Labels: Auto: Route Test Complete, Route

#16202 feat(route): add `/autocentre`
  lib/routes/autocentre/index.ts
  lib/routes/autocentre/namespace.ts
Labels: Auto: Route Test Complete, Route

#16251 feat(route): add v2ex xna
  lib/routes/v2ex/xna.ts
Labels: Auto: Route Test Complete, Route

#16261 feat(route): inspirehep
  lib/routes/inspirehep/author.ts
  lib/routes/inspirehep/literature.ts
  lib/routes/inspirehep/namespace.ts
  lib/routes/inspirehep/types.ts
  lib/routes/inspirehep/utils.ts
Labels: Auto: Route Test Complete, Route

#16119 fix: sspai image links
  lib/routes/sspai/author.ts
  lib/routes/sspai/column.ts
  lib/routes/sspai/index.ts
  lib/routes/sspai/matrix.ts
  lib/routes/sspai/series-update.ts
  lib/routes/sspai/tag.ts
  lib/routes/sspai/topic.ts
Labels: Auto: Route Test Complete, Route

#16239 feat(route/yahoo/news): add HK-exclusive `listId` mode
  lib/routes/yahoo/news/index.ts
  lib/routes/yahoo/news/listid.ts
  lib/routes/yahoo/news/utils.ts
Labels: Auto: Route Test Complete, Route

#16258 feat(route): add cffex/announcement
  lib/routes/cffex/announcement.ts
  lib/routes/cffex/namespace.ts
Labels: Auto: Route Test Failed, Route

#16272 fix(route/oschina): Remove ads from entries
  lib/routes/oschina/news.ts
Labels: Auto: Route Test Complete, Route

#16273 fix(route): 抓取北极星风电网文章全文
  lib/routes/bjx/fd.ts
Labels: Auto: Route Test Complete, Route

#16249 fix(route/bjnews): Update to new standard
  lib/router.js
  lib/routes-deprecated/bjnews/news.js
  lib/routes/bjnews/cat.ts
  lib/routes/bjnews/column.ts
  lib/routes/bjnews/namespace.ts
  lib/routes/bjnews/utils.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#16278 fix(route/springer/journal): Update selectors in the web scraping code
  lib/routes/springer/journal.ts
Labels: Auto: Route Test Complete, Route

#16283 fix(route): 优化 bilibili 动态路由的 category
  lib/routes/bilibili/dynamic.ts
Labels: Auto: Route Test Complete, Route

#16277 fix(route/bjnews): Clarify feed title
  lib/routes/bjnews/cat.ts
Labels: Auto: Route Test Complete, Route

#16284 fix(spotify): show's `itunes_duration`
  lib/routes/spotify/show.ts
Labels: Route

#16285 fix(route/keylol): 改进有阅读权限的帖子
  lib/config.ts
  lib/routes/keylol/index.ts
Labels: Auto: Route Test Complete, Route

#16286 feat(route): pixiv/search filter AI-generated content
  lib/routes/pixiv/search.ts
Labels: Auto: Route Test Complete, Route

#16276 feat(route): 新增 掘金用户动态 路由
  lib/routes/juejin/dynamic.ts
Labels: Auto: Route Test Complete, Route

#16282 fix(route/discourse): Mark whether the notification is read.
  lib/routes/discourse/notifications.ts
Labels: Auto: Route Test Complete, Route

#16281 feat(route/zhihu): Allow to set login cookies
  lib/routes/zhihu/namespace.ts
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#16279 feat(route): 新增MC百科路由
  lib/routes/mcmod/index.ts
  lib/routes/mcmod/namespace.ts
  lib/routes/mcmod/templates/mod.art
Labels: Auto: Route Test Complete, Route

#16298 fix(route): fix bug where X (Twitter) router cannot go through proxy configuration
  lib/routes/twitter/api/web-api/utils.ts
  lib/routes/twitter/home.ts
  lib/routes/twitter/user.ts
Labels: Auto: Route Test Complete, Route

#16301 fix: github search result
  lib/routes/github/search.ts
Labels: Auto: Route Test Complete, Route

#16315 fix: return json error message when ?format=json
  lib/errors/index.tsx
Labels: core enhancement, Auto: Route Test Skipped

#16310 fix: error page layout
  lib/views/error.tsx
  lib/views/index.tsx
  lib/views/layout.tsx
Labels: core enhancement, Auto: Route Test Skipped

#16317 fix(route): ofetch usage
  lib/routes/aljazeera/index.ts
  lib/routes/cccfna/index.ts
  lib/routes/digitalcameraworld/news.ts
  lib/routes/gq/news.ts
  lib/routes/psyche/topic.ts
  lib/routes/psyche/type.ts
  lib/routes/psyche/utils.ts
  lib/routes/samd/news.ts
  lib/routes/sara/index.ts
Labels: Auto: Route Test Complete, Route

#16318 fix(route): discord join event
  lib/routes/discord/channel.ts
  lib/routes/discord/discord-api.ts
  lib/routes/discord/templates/message.art
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route

#16316 feat(route): 新增鸣潮游戏公告、新闻与活动
  lib/routes/kurogames/namespace.ts
  lib/routes/kurogames/wutheringwaves/news.ts
Labels: Auto: Route Test Complete, Route
