Repository DIYgod/RSSHub, pull requests merged in 2025-03, with the labels that each got.

#18477 feat(route): add forklog route
  lib/routes/forklog/index.ts
  lib/routes/forklog/namespace.ts
Labels: Auto: Route Test Complete, Route

#18487 feat(route): add 国家粮油信息中心
  lib/routes/grainoil/category.ts
  lib/routes/grainoil/namespace.ts
Labels: Auto: Route Test Complete, Route

#18507 fix(decrypt): filter before parsing
  lib/routes/decrypt/index.ts
Labels: Auto: Route Test Complete, Route

#18505 fix(theblock): fix invalid date and use api to fetch posts
  lib/routes/theblock/index.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route

#18509 fix(cryptoslate): filter before parsing and fix contentEncoded parsing
  lib/routes/cryptoslate/index.ts
Labels: Auto: Route Test Complete, Route

#18518 fix(coindesk): consensus magazine
  lib/routes/coindesk/consensus-magazine.ts
  lib/routes/coindesk/news.ts
  lib/routes/coindesk/utils.ts
Labels: Auto: Route Test Complete, Route

#18520 fix(anthropic): article parsing
  lib/routes/anthropic/news.ts
Labels: Auto: Route Test Complete, Route

#18521 fix(blockworks): use next data api
  lib/routes/blockworks/index.ts
Labels: Auto: Route Test Complete, Route

#18501 fix(route/sohu): Revamp the logic behind `renderData`
  lib/routes/sohu/mp.ts
Labels: Auto: Route Test Complete, Route

#18430 feat(route): add asianfanfics route
  lib/routes/asianfanfics/namespace.ts
  lib/routes/asianfanfics/tag.ts
  lib/routes/asianfanfics/text-search.ts
Labels: Auto: Route Test Complete, Route

#18508 feat(route): add likeshop route (#18387)
  lib/routes/likeshop/index.ts
  lib/routes/likeshop/namespace.ts
Labels: Auto: Route Test Complete, Route

#18488 feat(route/foreignaffairs): Add routes
  lib/routes/asianfanfics/tag.ts
  lib/routes/asianfanfics/text-search.ts
  lib/routes/foreignaffairs/namespace.ts
  lib/routes/foreignaffairs/rss.ts
Labels: Auto: Route Test Complete, Route

#18537 fix(anthropic): duplicated image
  lib/routes/anthropic/news.ts
Labels: Auto: Route Test Complete, Route

#18532 feat(route): add 钛媒体专栏
  lib/routes/tmtpost/column.ts
  lib/routes/tmtpost/new.ts
  lib/routes/tmtpost/util.ts
Labels: Auto: Route Test Complete, Route

#18530 feat(route): Add Collabo Cafe
  lib/routes/collabo-cafe/category.ts
  lib/routes/collabo-cafe/index.ts
  lib/routes/collabo-cafe/namespace.ts
  lib/routes/collabo-cafe/parser.ts
  lib/routes/collabo-cafe/tag.ts
Labels: Auto: Route Test Complete, Route

#18543 fix(route): discuz use ofetch
  lib/routes/discuz/discuz.ts
Labels: Auto: Route Test Complete, Route

#18519 fix nhentai
  lib/routes/nhentai/util.ts
Labels: Auto: Route Test Complete, Route

#18504 fix: route '/gov/tianjin/tjftz-notice/channelId', adapt to individual pages
  lib/routes/gov/tianjin/tjftz.ts
Labels: Auto: Route Test Complete, Route

#18522 feat(route): add 龙腾网网站翻译
  lib/routes-deprecated/ltaaa/index.js
  lib/routes/ltaaa/article.ts
  lib/routes/ltaaa/namespace.ts
  lib/routes/ltaaa/templates/description.art
Labels: Auto: Route Test Complete, Route: deprecated, Route

#18551 feat(route): add 证券时报网
  lib/routes/stcn/index.ts
  lib/routes/stcn/kx.ts
Labels: Auto: Route Test Complete, Route

#18571 fix(route/mashiro): set a upper-limit quantity for posts fetching
  lib/routes/mashiro/index.ts
Labels: Auto: Route Test Complete, Route

#18550 fix(route/zhihu): Use Web API for zhihu answers
  lib/routes/zhihu/answers.ts
Labels: Auto: Route Test Complete, Route

#18561 feat(route): add 西安交通大学研究生招生信息网
  lib/routes/xjtu/yz.ts
Labels: Auto: Route Test Complete, Route

#18581 fix(pinterest): add header
  lib/routes/pinterest/user.ts
Labels: Auto: Route Test Complete, Route

#18582 feat(gcores): add 机核网机组推荐
  lib/routes/gcores/topics.ts
Labels: Auto: Route Test Complete, Route

#18603 chore(deps): pin art-template to 4.13.2 due to security concerns
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete

#18608 fix(route/latepost): incorrect pubDate
  lib/routes/latepost/index.ts
Labels: Auto: Route Test Complete, Route

#18613 fix(route/szse): incorrect url
  lib/routes/szse/templates/inquire.art
Labels: Auto: Route Test Complete

#18320 feat(route): add route Gelbooru
  lib/config.ts
  lib/routes/gelbooru/namespace.ts
  lib/routes/gelbooru/post.ts
  lib/routes/gelbooru/templates/description.art
  lib/routes/gelbooru/utils.ts
Labels: Auto: Route Test Complete, Route

#18627 fix(routes/asus/bios): remove pdid searchparam
  lib/routes/asus/bios.ts
Labels: Auto: Route Test Complete, Route

#18609 feat(route): add cherrytimes
  lib/routes/cherrytimes/market.ts
  lib/routes/cherrytimes/namespace.ts
Labels: Auto: Route Test Complete, Route

#18626 feat(route): add 亚洲水果果蔬品项
  lib/routes/asiafruitchina/categories.ts
  lib/routes/asiafruitchina/namespace.ts
  lib/routes/asiafruitchina/templates/description.art
Labels: Auto: Route Test Complete, Route

#18628 feat: support 5music new releases
  lib/routes/5music/index.ts
  lib/routes/5music/namespace.ts
Labels: Auto: Route Test Complete, Route

#18616 fix: mastodon timeline not work
  lib/routes/mastodon/timeline-local.ts
  lib/routes/mastodon/timeline-remote.ts
Labels: Auto: Route Test Complete, Route

#18642 fix(route/tencent): Add cover image for video page and small video page
  lib/routes/tencent/news/author.ts
Labels: Auto: Route Test Complete, Route

#18646 feat(route): add 亚洲水果行业资讯
  lib/routes/asiafruitchina/news.ts
Labels: Auto: Route Test Complete, Route

#18664 chore: remove myself from copymanga maintainers
  lib/routes/copymanga/comic.ts
Labels: Auto: Route Test Skipped, Route

#18663 feat(route): add MyCard娛樂中心遊戲新聞
  lib/routes/mycard520/namespace.ts
  lib/routes/mycard520/news.ts
Labels: Auto: Route Test Complete, Route

#18670 fix(copymanga): update domain
  lib/routes/copymanga/comic.ts
Labels: Auto: Route Test Complete, Route

#18669 fix(route/zhihu): Correct API path
  lib/routes/zhihu/zhuanlan.ts
Labels: Auto: Route Test Complete, Route

#18682 feat(telegram): preview sticker
  lib/routes/telegram/stickerpack.ts
Labels: Auto: Route Test Complete, Route

#18684 fix(routes/academia): adapt to new design
  lib/routes/academia/topics.ts
Labels: Auto: Route Test Complete, Route

#18662 feat(route/mercari): Add route to jp.mercari.com
  lib/routes/mercari/keyword.ts
  lib/routes/mercari/namespace.ts
  lib/routes/mercari/templates/item.art
  lib/routes/mercari/templates/shopItem.art
  lib/routes/mercari/types.ts
  lib/routes/mercari/util.ts
Labels: Auto: Route Test Complete, Route

#18695 fix(route/theinitium): fix css selector
  lib/routes/theinitium/app.ts
Labels: Auto: Route Test Complete, Route

#18696 feat(route): add 证券时报网热榜
  lib/routes/stcn/rank.ts
Labels: Auto: Route Test Complete, Route

#18703 feat(route): add 哈尔滨工程大学航天与建筑工程学院网站
  lib/routes/hrbeu/cec/list.ts
Labels: Auto: Route Test Complete, Route

#18702 fix(route/iplaysoft): Update to use URL scraping due to API deprecation
  lib/routes/iplaysoft/index.ts
Labels: Auto: Route Test Complete, Route

#18698 feat(route): add 触乐
  lib/routes-deprecated/chuapp/index.js
  lib/routes/chuapp/chuapp.ts
  lib/routes/chuapp/namespace.ts
  lib/routes/hrbeu/cec/list.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#18714 fix(idaily): optional tags
  lib/routes/idaily/index.ts
Labels: Auto: Route Test Complete, Route

#18715 docs(spotify/playlist): add notes on Spotify restriction
  lib/routes/spotify/playlist.ts
Labels: Auto: Route Test Skipped, Route

#18716 feat(sciencedirect): add current issue
  lib/routes/sciencedirect/current-issue.ts
Labels: Auto: Route Test Complete, Route

#18724 chore: remove html-minifier-terser override
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete

#18713 feat(route): A new routing (tzggcdunews.ts) for https://news.cdu.edu.cn/tzgg.htm has been created
  lib/routes/cdu/tzggcdunews.ts
Labels: Auto: Route Test Complete, Route

#18729 feat(route): add transformer-circuits
  lib/routes/transformer-circuits/index.ts
  lib/routes/transformer-circuits/namespace.ts
Labels: Auto: Route Test Complete, Route

#18728 feat(route): add Raspberry Pi Official Magazine
  lib/routes/raspberrypi/magazine.ts
  lib/routes/raspberrypi/namespace.ts
  lib/routes/raspberrypi/templates/description.art
Labels: Auto: Route Test Complete, Route

#18727 feat(route/gamekee): 增加 Gamekee 新闻路由
  lib/routes/gamekee/namespace.ts
  lib/routes/gamekee/news.ts
Labels: Auto: Route Test Complete, Route

#18731 fix(route): optimize transformer-circuits route
  lib/routes/transformer-circuits/index.ts
  lib/routes/transformer-circuits/templates/article.art
Labels: Auto: Route Test Complete, Route

#18735 feat(route/cw): add `waitForSelector`
  lib/routes/cw/utils.ts
Labels: Auto: Route Test Complete, Route

#18736 feat(route): add BullionVault Gold News
  lib/routes/bullionvault/gold-news.ts
  lib/routes/bullionvault/namespace.ts
Labels: Auto: Route Test Complete, Route
