Repository DIYgod/RSSHub, pull requests merged in 2025-04, with the labels that each got.

#18748 feat(route): add 中国政法大学
  lib/routes/cupl/jwc.ts
  lib/routes/cupl/namespace.ts
Labels: Auto: Route Test Complete, Route

#18208 feat(route): add 杭州市人民政府
  lib/routes/gov/hangzhou/namespace.ts
  lib/routes/gov/hangzhou/templates/jbxx.art
  lib/routes/gov/hangzhou/zjzwfw.ts
  lib/routes/gov/hangzhou/zwfw.ts
Labels: Auto: Route Test Complete, Route

#18754 fix(route/bullionvault): missing latest articles
  lib/routes/bullionvault/gold-news.ts
Labels: Auto: Route Test Complete, Route

#18753 feat: add melonbooks
  lib/routes/melonbooks/namespace.ts
  lib/routes/melonbooks/parser.ts
  lib/routes/melonbooks/search.ts
Labels: Auto: Route Test Complete, Route

#18760 feat(route): recover psnine
  lib/router.js
  lib/routes-deprecated/psnine/game.js
  lib/routes-deprecated/psnine/index.js
  lib/routes-deprecated/psnine/news.js
  lib/routes-deprecated/psnine/node.js
  lib/routes-deprecated/psnine/shuzhe.js
  lib/routes-deprecated/psnine/trade.js
  lib/routes/psnine/game.ts
  lib/routes/psnine/index.ts
  lib/routes/psnine/namespace.ts
  lib/routes/psnine/node.ts
  lib/routes/psnine/shuzhe.ts
  lib/routes/psnine/trade.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#18761 fix(route/4khd): update image URL processing logic
  lib/routes/4khd/article.ts
Labels: Auto: Route Test Complete, Route

#18763 feat(route): add Northwest Normal University.
  lib/routes/nwnu/namespace.ts
  lib/routes/nwnu/routes/college/csse.ts
  lib/routes/nwnu/routes/department/academic-affairs.ts
  lib/routes/nwnu/routes/department/postgraduate.ts
  lib/routes/nwnu/routes/lib/embed-resource.ts
Labels: Auto: Route Test Complete, Route

#18762 feat(route): add route "BaoBua"
  lib/routes/baobua/article.ts
  lib/routes/baobua/category.ts
  lib/routes/baobua/const.ts
  lib/routes/baobua/latest.ts
  lib/routes/baobua/namespace.ts
  lib/routes/baobua/search.ts
Labels: Auto: Route Test Complete, Route

#18780 feat(route): add Diario Frutícola Filtro
  lib/routes/diariofruticola/filtro.ts
  lib/routes/diariofruticola/namespace.ts
Labels: Auto: Route Test Complete, Route

#18774 fix(route/zhihu): Allow to set `__zse_ck` in signedHeader
  lib/routes/zhihu/utils.ts
Labels: Auto: Route Test Complete, Route

#18300 fix(route/bilibili): fix manga updates
  lib/routes/bilibili/manga-update.ts
  lib/routes/bilibili/wasm-exec.ts
Labels: Auto: Route Test Complete, Route

#18773 fix: #18771 gov stats description error
  lib/routes/gov/stats/index.ts
Labels: Auto: Route Test Complete, Route

#18785 fix(route/zsxq): fix excess text when parsing link text
  lib/routes/zsxq/utils.ts
Labels: Auto: Route Test Complete, Route

#18778 feat(route): add GitCode
  lib/routes/gitcode/namespace.ts
  lib/routes/gitcode/repos/commits.ts
Labels: Auto: Route Test Complete, Route

#18787 fix(route): adjust route sample
  lib/routes/gitcode/repos/commits.ts
Labels: Auto: Route Test Complete, Route

#18788 feat(route): add 199IT
  lib/routes/199it/index.ts
  lib/routes/199it/templates/description.art
Labels: Auto: Route Test Complete, Route

#18786 feat(route): A new routing (cdrw.ts) has been created
  lib/routes/cdu/cdrw.ts
Labels: Auto: Route Test Complete, Route

#18805 fix: A bug fix ,fix nhentai image link error
  lib/routes/nhentai/util.ts
Labels: Auto: Route Test Complete, Route

#18799 feat(route): add LinkedIn company posts
  lib/routes/linkedin/posts.ts
  lib/routes/linkedin/utils.ts
Labels: Auto: Route Test Complete, Route

#18810 feat(route): add 机核网预告
  lib/routes/gcores/program-previews.ts
Labels: Auto: Route Test Complete, Route

#18809 feat(route): tariff docs by chinese gov
  lib/routes/gov/mof/gss.ts
Labels: Auto: Route Test Complete, Route

#18825 fix: 修复 `/readhub/daily` 路由 logo 和标题显示的问题
  lib/routes/readhub/daily.ts
Labels: Auto: Route Test Complete, Route

#18826 feat(route): add 西安交通大学本科招生网
  lib/routes/xjtu/zs.ts
Labels: Auto: Route Test Complete, Route

#18804 feat(route): add Hanime1
  lib/routes/hanime1/namespace.ts
  lib/routes/hanime1/previews.ts
Labels: Auto: Route Test Complete, Route

#18819 feat(apnews): Mobile API
  lib/routes/apnews/api.ts
  lib/routes/apnews/mobile-api.ts
  lib/routes/apnews/utils.ts
Labels: Auto: Route Test Complete, Route

#18828 fix(route): resolve issue #18517 by updating headers for Reuters API
  lib/routes/reuters/common.ts
Labels: Auto: Route Test Complete, Route

#18832 fix(route): fix swjtu/scai/bks route
  lib/routes/swjtu/scai.ts
Labels: Auto: Route Test Complete, Route

#18812 feat: added jin10 category.
  lib/routes/jin10/category.ts
Labels: Auto: Route Test Complete, Route

#18835 fix(route): fix hanime1 previews video posters not displaying
  lib/routes/hanime1/previews.ts
Labels: Auto: Route Test Complete, Route

#18839 feat(route): add 广告门最新文章
  lib/routes/adquan/index.ts
  lib/routes/adquan/namespace.ts
  lib/routes/adquan/templates/description.art
Labels: Auto: Route Test Complete, Route

#18838 feat(ApplePodcast): remove seoEpisode check because it is removed fro…
  lib/routes/apple/podcast.ts
Labels: Auto: Route Test Complete, Route

#18781 feat(route): support different languages for the kurogames (wuthering waves) route
  lib/routes/kurogames/namespace.ts
  lib/routes/kurogames/wutheringwaves/constants.ts
  lib/routes/kurogames/wutheringwaves/news.ts
  lib/routes/kurogames/wutheringwaves/utils.ts
Labels: Auto: Route Test Complete, Route

#18855 fix(route/geocaching): handle cases where large size does not exist
  lib/routes/geocaching/blogs.ts
Labels: Auto: Route Test Complete, Route

#18858 fix(route/nea): incomplete description
  lib/routes/gov/nea/ghs.ts
Labels: Auto: Route Test Complete, Route

#18887 feat(route): add 广告门案例库
  lib/routes/adquan/case-library.ts
Labels: Auto: Route Test Complete, Route

#18859 feat(route): add coolpc
  lib/routes/coolpc/namespace.ts
  lib/routes/coolpc/news.ts
Labels: Auto: Route Test Complete, Route

#18893 feat(route/nytimes): include author information in RSS feed items
  lib/routes/nytimes/rss.ts
Labels: Auto: Route Test Complete, Route

#18914 chore: minify docker
  Dockerfile
  scripts/docker/minify-docker.js
Labels: Auto: Route Test Complete

#18927 fix(route/news): use p-map to limit concurrency
  lib/routes/anthropic/news.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route

#18928 refactor: replace tiny-async-pool with p-map
  lib/routes/agefans/update.ts
  lib/routes/apnews/mobile-api.ts
  lib/routes/apnews/sitemap.ts
  lib/routes/apnews/topics.ts
  lib/routes/apnews/utils.ts
  lib/routes/bdys/index.ts
  lib/routes/bjnews/cat.ts
  lib/routes/bjx/huanbao.ts
  lib/routes/bloomberg/authors.ts
  lib/routes/bloomberg/index.ts
  lib/routes/bloomberg/utils.ts
  lib/routes/cara/utils.ts
  lib/routes/cfr/index.ts
  lib/routes/cfr/utils.ts
  lib/routes/copymanga/comic.ts
  lib/routes/cpta/handler.ts
  lib/routes/cts/news.ts
  lib/routes/dcard/utils.ts
  lib/routes/dlnews/category.ts
  lib/routes/gdut/oa-news.ts
  lib/routes/gov/nrta/dsj.ts
  lib/routes/guozaoke/index.ts
  lib/routes/kcna/news.ts
  lib/routes/luogu/contest.ts
  lib/routes/nextapple/realtime.ts
  lib/routes/shoppingdesign/posts.ts
  lib/routes/tfc-taiwan/utils.ts
  lib/routes/tradingview/blog.ts
  lib/routes/wsj/news.ts
  lib/routes/wsj/utils.ts
  lib/routes/x-mol/paper.ts
  lib/routes/yamibo/bbs/forum.ts
  lib/routes/yamibo/utils.ts
  lib/routes/youtube/subscriptions.ts
  lib/routes/zaker/channel.ts
  lib/routes/zaker/focus.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route

#18930 fix(route/tfc-taiwan): rework route
  lib/routes/tfc-taiwan/category.ts
  lib/routes/tfc-taiwan/common.ts
  lib/routes/tfc-taiwan/index.ts
  lib/routes/tfc-taiwan/namespace.ts
  lib/routes/tfc-taiwan/topic.ts
  lib/routes/tfc-taiwan/utils.ts
Labels: Auto: Route Test Complete, Route

#18903 feat(route): 添加中国无线电协会业余无线电分会考试信息路由
  lib/routes/crac/exam.ts
Labels: Auto: Route Test Complete, Route

#18929 fix(route/nikkei): Find API for asia edition
  lib/routes/nikkei/asia/index.ts
Labels: Auto: Route Test Complete, Route

#18948 fix: request rewriter not functioning in transpiled code
  lib/app-bootstrap.tsx
  lib/app.test.ts
  lib/app.ts
Labels: core enhancement, Auto: Route Test Skipped

#18953 feat(route): add Anytxt Searcher Release Notes
  lib/routes/anytxt/namespace.ts
  lib/routes/anytxt/release-notes.ts
Labels: Auto: Route Test Complete, Route

#18890 feat(route/copernicium)!: remove route which is no longer valid
  lib/routes/copernicium/index.ts
  lib/routes/copernicium/namespace.ts
Labels: Auto: Route Test Complete, Route

#18895 fix(route/saraba1st): add host config & fix broken host
  lib/config.ts
  lib/routes/saraba1st/digest.ts
  lib/routes/saraba1st/namespace.ts
  lib/routes/saraba1st/templates/digest.art
  lib/routes/saraba1st/thread.ts
Labels: Auto: Route Test Complete, Route

#18952 fix(route/openai): fetch OpenAI blog articles through RSS feed
  lib/routes/openai/blog.ts
  lib/routes/openai/common.ts
  lib/routes/openai/news.ts
Labels: Auto: Route Test Complete, Route

#18973 refactor: fix all no array reduce
  lib/routes/36kr/hot-list.ts
  lib/routes/ally/rail.ts
  lib/routes/bloomberg/utils.ts
  lib/routes/cctv/utils/news.ts
  lib/routes/cyzone/util.ts
  lib/routes/foresightnews/util.ts
  lib/routes/gcores/radio.ts
  lib/routes/gov/moa/zdscxx.ts
  lib/routes/iguoguo/index.ts
  lib/routes/jiemian/account.ts
  lib/routes/jiemian/common.ts
  lib/routes/jiemian/list.ts
  lib/routes/jiemian/lists.ts
  lib/routes/jiemian/special.ts
  lib/routes/jiemian/video.ts
  lib/routes/jiemian/vip.ts
  lib/routes/jike/utils.ts
  lib/routes/juejin/pins.ts
  lib/routes/keep/templates/user.art
  lib/routes/keep/user.ts
  lib/routes/kpopping/kpics.ts
  lib/routes/manhuagui/comic.ts
  lib/routes/mycard520/news.ts
  lib/routes/mydrivers/cid.ts
  lib/routes/mydrivers/index.ts
  lib/routes/mydrivers/rank.ts
  lib/routes/mydrivers/util.ts
  lib/routes/newrank/utils.ts
  lib/routes/nhk/news-web-easy.ts
  lib/routes/nikkei/cn/index.ts
  lib/routes/rattibha/templates/description.art
  lib/routes/rattibha/user.ts
  lib/routes/scmp/index.ts
  lib/routes/sse/convert.ts
  lib/routes/sse/disclosure.ts
  lib/routes/sspai/series.ts
  lib/routes/sysu/ygafz.ts
  lib/routes/trending/all-trending.ts
  lib/routes/trending/namespace.ts
  lib/routes/trending/templates/content.art
  lib/routes/twitter/utils.ts
  lib/routes/yoasobi-music/media.ts
  lib/routes/zhihu/pin/utils.ts
  lib/utils/camelcase-keys.ts
Labels: core enhancement, Auto: Route Test Skipped, Route

#18964 fix(route/cosplaytele): revert to iterative content fetching due to WP JSON API being disabled
  lib/routes/cosplaytele/article.ts
  lib/routes/cosplaytele/category.ts
  lib/routes/cosplaytele/latest.ts
  lib/routes/cosplaytele/popular.ts
  lib/routes/cosplaytele/tag.ts
Labels: Auto: Route Test Complete, Route

#18950 feat(route): add 知轩藏书
  lib/routes/zxcs/namespace.ts
  lib/routes/zxcs/novel.ts
Labels: Auto: Route Test Complete, Route
