Repository DIYgod/RSSHub, pull requests merged in 2025-07, with the labels that each got.

#19515 fix(route): fix root URL for paulgraham, as http was not allowed
  lib/routes/paulgraham/article.ts
Labels: auto: ready to review, route

#19517 fix(route/instagram): fix cookie route
  lib/routes/instagram/web-api/index.ts
  lib/routes/instagram/web-api/utils.ts
Labels: auto: ready to review, route

#19485 fix(route): Fix 403 issue on 18comic route by using API calls instead of directly fetching the webpage.
  lib/routes/18comic/album.ts
  lib/routes/18comic/search.ts
  lib/routes/18comic/utils.ts
Labels: auto: ready to review, route, auto: not ready to review

#19526 fix(route/sehuatang): get safe id
  lib/routes/sehuatang/index.ts
Labels: auto: ready to review, route

#19529 feat(route/fantube): add user posts
  lib/routes/fantube/creator.ts
  lib/routes/fantube/namespace.ts
  lib/routes/fantube/templates/post.art
  lib/routes/fantube/types.ts
  lib/routes/fantube/utils.ts
Labels: auto: ready to review, route

#19530 fix(route/udn): Adapt to property `publisher` change
  lib/routes/udn/breaking-news.ts
Labels: auto: ready to review, route

#19541 feat: marked NSFW for some routes
  lib/routes/141jav/index.ts
  lib/routes/141ppv/index.ts
  lib/routes/18comic/index.ts
  lib/routes/7mmtv/index.ts
  lib/routes/91porn/index.ts
  lib/routes/95mm/tab.ts
  lib/routes/chikubi/index.ts
  lib/routes/chikubi/tag.ts
  lib/routes/cool18/index.ts
  lib/routes/coomer/index.ts
  lib/routes/e-hentai/index.ts
  lib/routes/ehentai/tag.ts
  lib/routes/fanbox/index.ts
  lib/routes/fansly/tag.ts
  lib/routes/freexcomic/book.ts
  lib/routes/javbus/index.ts
  lib/routes/javdb/tags.ts
  lib/routes/javlibrary/star.ts
  lib/routes/javtiful/actress.ts
  lib/routes/javtiful/channel.ts
  lib/routes/javtrailers/casts.ts
  lib/routes/jpxgmn/tab.ts
  lib/routes/kemono/index.ts
  lib/routes/konachan/post.ts
  lib/routes/literotica/new.ts
  lib/routes/melonbooks/search.ts
  lib/routes/missav/new.ts
  lib/routes/myfans/post.ts
  lib/routes/nhentai/index.ts
  lib/routes/playno1/av.ts
  lib/routes/pornhub/model.ts
  lib/routes/qipamaijia/index.ts
  lib/routes/sis001/forum.ts
  lib/routes/spankbang/new-videos.ts
  lib/routes/xbookcn/blog.ts
  lib/routes/xmanhua/index.ts
  lib/routes/yande/post.ts
  lib/routes/ymgal/game.ts
Labels: auto: route test bypassed, route

#19548 fix(route/lofter): fix Lofter tag route requiring cookie
  lib/config.ts
  lib/routes/lofter/tag.ts
Labels: auto: ready to review, route

#19550 feat(route): add musify
  lib/routes/musify/index.ts
  lib/routes/musify/namespace.ts
Labels: auto: ready to review, route

#19554 fix(route/reuters): 修复reuters因为ua报错401
  lib/routes/reuters/common.ts
Labels: auto: ready to review, route

#19552 feat(visionias): add routes for vision IAS
  lib/routes/visionias/daily-news-summary.ts
  lib/routes/visionias/monthly-magazine.ts
  lib/routes/visionias/news-today.ts
  lib/routes/visionias/utils.ts
  lib/routes/visionias/weekly-focus.ts
Labels: auto: ready to review, route

#19569 feat(route): add 文档分享网免费区
  lib/routes/wdfxw/bookfree.ts
  lib/routes/wdfxw/namespace.ts
  lib/routes/wdfxw/templates/description.art
Labels: auto: ready to review, route

#19577 fix: fix kaopu news api url
  lib/routes/kaopu/news.ts
Labels: auto: ready to review, route

#19586 fix(route/ximalaya): fix isPaid
  lib/routes/ximalaya/album.ts
  lib/routes/ximalaya/types.ts
  lib/routes/ximalaya/utils.ts
Labels: auto: ready to review, route

#19571 feat(github): add private feed route for user received events
  lib/routes/github/private-feed.ts
Labels: auto: ready to review, route

#19585 feat(route): Add 南开大学研究生招生网
  lib/routes/nankai/namespace.ts
  lib/routes/nankai/yzb.ts
Labels: auto: ready to review, route

#19597 fix(Visionias): weekly feed template fix
  lib/routes/visionias/utils.ts
Labels: auto: ready to review, route

#19596 fix(route/bilibili): preserve original description for dynamic title
  lib/routes/bilibili/dynamic.ts
Labels: auto: ready to review, route

#19599 feat(route): add 数据库内核月报
  lib/routes/taobao/mysql.ts
  lib/routes/taobao/namespace.ts
Labels: auto: ready to review, route

#19592 fix(date parse): Dna india
  lib/routes/dnaindia/common.ts
Labels: auto: ready to review, route

#19589 feat(jamesclear): add jamesClear
  lib/routes/jamesclear/book-summaries.ts
  lib/routes/jamesclear/great-speeches.ts
  lib/routes/jamesclear/namespace.ts
  lib/routes/jamesclear/quotes.ts
  lib/routes/jamesclear/three-two-one.ts
  lib/routes/jamesclear/utils.ts
Labels: auto: ready to review, route

#19621 feat(route): 新增南开大学计算机学院通知路由
  lib/routes/nankai/cc-notice.ts
Labels: auto: ready to review, route

#19620 feat(route): 新增南开大学通知公告路由
  lib/routes/nankai/notice.ts
Labels: auto: ready to review, route

#19622 feat(route): 新增南开大学教务处通知公告路由
  lib/routes/nankai/jwc.ts
Labels: auto: ready to review, route

#19634 feat(route): add Kiro Blog
  lib/routes/kiro/blog.ts
  lib/routes/kiro/namespace.ts
Labels: auto: ready to review, route

#19638 fix(route): Remove white spaces from the description
  lib/routes/sicau/jiaowu.ts
Labels: auto: ready to review, route

#19619 fix(route): 哈尔滨工业大学研究生院
  lib/routes/hit/hitgs.ts
  lib/routes/hit/templates/description.art
Labels: auto: ready to review, route

#19649 feat(route/sotwe): add sotwe
  lib/routes/sotwe/namespace.ts
  lib/routes/sotwe/user.ts
Labels: auto: ready to review, puppeteer, route

#19646 feat(tumblr): Add Tumblr posts route
  lib/config.ts
  lib/routes/tumblr/namespace.ts
  lib/routes/tumblr/posts.ts
  lib/routes/tumblr/utils.ts
Labels: auto: ready to review, route

#19591 feat(dev.to): add dev.to
  lib/router.js
  lib/routes-deprecated/dev.to/top.js
  lib/routes/dev.to/guides.ts
  lib/routes/dev.to/namespace.ts
  lib/routes/dev.to/top.ts
Labels: auto: ready to review, route: deprecated, route

#19651 feat(types): export Language and Category for better TS type Inference
  lib/types.ts
Labels: core enhancement, auto: route test bypassed

#19645 fix(route/upc): fix FetchError bug when fetching the Full Text
  lib/routes/upc/jwc.ts
Labels: auto: ready to review, route

#19652 feat(routes/manus/blog): add manus blog route
  lib/routes/manus/blog.ts
  lib/routes/manus/namespace.ts
Labels: auto: ready to review, route

#19675 feat(route/newswav): add latest news
  lib/routes/newswav/latest.ts
  lib/routes/newswav/namespace.ts
Labels: auto: ready to review, route

#19601 feat(capitalmind): add capital mind
  lib/routes/capitalmind/insights.ts
  lib/routes/capitalmind/namespace.ts
  lib/routes/capitalmind/podcasts.ts
  lib/routes/capitalmind/utils.ts
Labels: auto: ready to review, route

#19680 fix(routes/deeplearning): fix json parsing path
  lib/routes/deeplearning/the-batch.ts
Labels: auto: ready to review, route

#19594 feat(route): add Rock the JVM Articles
  lib/routes/rockthejvm/articles.ts
  lib/routes/rockthejvm/namespace.ts
  lib/routes/rockthejvm/templates/description.art
Labels: auto: ready to review, route

#19694 fix(route/hanime1): fix wrong return property
  lib/routes/hanime1/search.ts
Labels: auto: ready to review, route

#19695 feat(route): add Expats.cz Czech News
  lib/routes/expats/czech-news.ts
  lib/routes/expats/namespace.ts
Labels: auto: ready to review, route

#19699 fix(routes): migrate coomer and kemono to new domains, standardize GUID generation format
  lib/routes/coomer/index.ts
  lib/routes/coomer/namespace.ts
  lib/routes/kemono/const.ts
  lib/routes/kemono/index.ts
  lib/routes/kemono/namespace.ts
Labels: auto: ready to review, route

#19710 fix(routes/landiannews): fix _embed search params
  lib/routes/landiannews/category.ts
  lib/routes/landiannews/index.ts
  lib/routes/landiannews/tag.ts
Labels: auto: ready to review, route

#19711 fix(route/openai): tweak openai cookbook class css selector
  lib/routes/openai/cookbook.ts
Labels: auto: ready to review, route
