Repository DIYgod/RSSHub, pull requests merged in 2025-02, with the labels that each got.

#18257 fix(gcores): correct rendering of entities and optimize parsing logic
  lib/routes/gcores/parser.ts
Labels: Auto: Route Test Complete, Route

#18253 fix(routes/ehentai): update example
  lib/routes/ehentai/favorites.ts
  lib/routes/ehentai/search.ts
  lib/routes/ehentai/tag.ts
Labels: Auto: Route Test Complete, Route

#18243 feat(route): Add wohnnet.at real estate search engine
  lib/routes/wohnnet/index.ts
  lib/routes/wohnnet/namespace.ts
Labels: Auto: Route Test Complete, Route

#18255 feat(route): add route "Nautiljon"
  lib/routes/nautiljon/manga-releases.ts
  lib/routes/nautiljon/namespace.ts
Labels: Auto: Route Test Complete, Route

#18259 fix(route): Fix xkb.com.cn
  lib/routes/xkb/index.ts
Labels: Auto: Route Test Complete, Route

#18244 feat(route): add misskey home timeline
  lib/config.ts
  lib/routes/misskey/home-timeline.ts
  lib/routes/misskey/user-timeline.ts
  lib/routes/misskey/utils.ts
Labels: Auto: Route Test Complete, Route

#18271 docs(routes/misskey): fix documentation formatting for misskey home timeline
  lib/routes/misskey/home-timeline.ts
Labels: Auto: Route Test Skipped, Route

#18262 feat(route): add 歪脑
  lib/routes/wainao/namespace.ts
  lib/routes/wainao/wainao-reads.ts
Labels: Auto: Route Test Complete, Route

#18286 fix(gcores): correct templates for images and videos
  lib/routes/gcores/templates/description.art
Labels: Auto: Route Test Complete

#18242 feat(route): add publico.es
  lib/routes/publico/ciencias.ts
  lib/routes/publico/culturas.ts
  lib/routes/publico/economia.ts
  lib/routes/publico/internacional.ts
  lib/routes/publico/items-processor.ts
  lib/routes/publico/mujer.ts
  lib/routes/publico/namespace.ts
  lib/routes/publico/opinion.ts
  lib/routes/publico/politica.ts
  lib/routes/publico/public.ts
  lib/routes/publico/sociedad.ts
  lib/routes/publico/tremending.ts
Labels: Auto: Route Test Complete, Route

#18285 fix(6park): fix index route shadow news route
  lib/routes/6park/index.ts
  lib/routes/6park/news.ts
Labels: Auto: Route Test Complete, Route

#18291 fix(route/kemono): fix items parsing logic
  lib/routes/kemono/index.ts
Labels: Auto: Route Test Complete, Route

#18298 fix(route): producthunt
  lib/routes/producthunt/templates/descImg.art
  lib/routes/producthunt/templates/description.art
  lib/routes/producthunt/today.ts
Labels: Auto: Route Test Complete, Route

#18303 feat(routes/nautiljon): improve the manga-releases route
  lib/routes/nautiljon/manga-releases.ts
Labels: Auto: Route Test Complete, Route

#18270 fix(papers): show all authors in description
  lib/routes/papers/category.ts
  lib/routes/papers/index.ts
  lib/routes/papers/templates/description.art
Labels: Auto: Route Test Complete, Route

#18299 fix(route/theinitium): fix app route user agent image issue
  lib/routes/theinitium/app.ts
Labels: Auto: Route Test Complete, Route

#18306 feat(routes/buct): add route '北京化工大学'
  lib/routes/buct/cist.ts
  lib/routes/buct/gr.ts
  lib/routes/buct/jwc.ts
  lib/routes/buct/namespace.ts
Labels: Auto: Route Test Complete, Route

#18308 feat(route): add route "4KHD"
  lib/routes/4khd/article.ts
  lib/routes/4khd/category.ts
  lib/routes/4khd/const.ts
  lib/routes/4khd/latest.ts
  lib/routes/4khd/namespace.ts
  lib/routes/4khd/types.ts
Labels: Auto: Route Test Complete, Route

#18304 fix(gcores): 机核网标签
  lib/routes/gcores/tag.ts
  lib/routes/gcores/tags.ts
Labels: Auto: Route Test Complete, Route

#18334 feat(route): bilibili live keyframe
  lib/routes/bilibili/cache.ts
  lib/routes/bilibili/live-room.ts
Labels: Auto: Route Test Complete, Route

#18353 fix(routes): 修复 Shopify 路由语言代码不一致的问题
  lib/routes/shopify/apps/[handle].reviews.ts
  lib/routes/shopify/apps/search.ts
Labels: Auto: Route Test Complete, Route

#18360 feat: fix /people route's list of items and description
  lib/routes/people/index.ts
Labels: Auto: Route Test Complete, Route

#18347 fix(route/picnob): handle string response parsing
  lib/routes/picnob/user.ts
Labels: Auto: Route Test Complete, Route

#18359 feat(routes/mashiro): add route `mashiro.best`
  lib/routes/mashiro/index.ts
  lib/routes/mashiro/namespace.ts
Labels: Auto: Route Test Complete, Route

#18365 fix(routes): fix issue with fetching swjtu-scai-bks route
  lib/routes/swjtu/scai/bks.ts
Labels: Auto: Route Test Complete, Route

#18368 feat(route/picnob): use shortcode as explicit guid for feed stability
  lib/routes/picnob/user.ts
Labels: Auto: Route Test Complete, Route

#18355 feat(route): add okx
  lib/routes/okx/index.ts
  lib/routes/okx/namespace.ts
Labels: Auto: Route Test Complete, Route

#18373 feat(gcores): add 机核网视频
  lib/routes/gcores/videos.ts
Labels: Auto: Route Test Complete, Route

#18358 feat(bsky): add feeds route
  lib/routes/bsky/feeds.ts
  lib/routes/bsky/utils.ts
Labels: Auto: Route Test Complete, Route

#18375 feat(routes/meituan): add full text support for meituan tech
  lib/routes/meituan/tech.ts
Labels: Auto: Route Test Complete, Route

#18393 feat(routes/hrbust): add 'cs' 'gzc' 'lib' routes, unified code style
  lib/routes/hrbust/cs.ts
  lib/routes/hrbust/gzc.ts
  lib/routes/hrbust/jwzx.ts
  lib/routes/hrbust/lib.ts
  lib/routes/hrbust/news.ts
  lib/routes/hrbust/nic.ts
Labels: Auto: Route Test Complete, Route

#18352 fix: Update Dataguidance News API Url
  lib/routes/dataguidance/index.ts
Labels: Auto: Route Test Complete, Route

#18357 fix(route/xsijishe): implement adaptive content parsing with puppeteer fallback
  lib/routes/xsijishe/rank.ts
  lib/routes/xsijishe/utils.ts
Labels: Auto: Route Test Complete, Route

#18401 fix(routes/163/dy): fix post without img error
  lib/routes/163/utils.ts
Labels: Auto: Route Test Complete, Route

#18403 feat(routes/szse): add 深圳证券交易所上市公司公告
  lib/routes/szse/disclosure/listed-notice.ts
Labels: Auto: Route Test Complete, Route

#18404 fix: ensure proper browser closure
  lib/routes/aip/journal-pupp.ts
  lib/routes/alternativeto/utils.ts
  lib/routes/apkpure/versions.ts
  lib/routes/colamanga/manga.ts
  lib/routes/douyin/live.ts
  lib/routes/douyin/user.ts
  lib/routes/fortnite/news.ts
  lib/routes/gov/customs/list.ts
  lib/routes/gov/pbc/goutongjiaoliu.ts
  lib/routes/gov/pbc/trade-announcement.ts
  lib/routes/hitcon/zeroday.ts
  lib/routes/hottoys/index.ts
  lib/routes/ielts/index.ts
  lib/routes/iqiyi/video.ts
  lib/routes/njust/utils.ts
  lib/routes/nytimes/index.ts
  lib/routes/oceanengine/arithmetic-index.ts
  lib/routes/parliament.uk/commonslibrary.ts
  lib/routes/parliament.uk/lordslibrary.ts
  lib/routes/pincong/utils.ts
  lib/routes/pnas/index.ts
  lib/routes/science/blogs.ts
  lib/routes/sehuatang/index.ts
  lib/routes/spankbang/new-videos.ts
  lib/routes/sysu/ygafz.ts
  lib/routes/tiktok/user.ts
  lib/routes/uchicago/current.ts
  lib/routes/uraaka-joshi/uraaka-joshi-user.ts
  lib/routes/uraaka-joshi/uraaka-joshi.ts
  lib/routes/xiaohongshu/util.ts
  lib/utils/puppeteer-utils.test.ts
  lib/utils/puppeteer.test.ts
  lib/utils/puppeteer.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#18002 fix(registry): Prioritize route registration based on specificity
  lib/registry.ts
Labels: core enhancement, Auto: Route Test Skipped

#18071 feat(joshwcomeau): add new Routes josh w comeau
  lib/routes/joshwcomeau/latest.ts
  lib/routes/joshwcomeau/namespace.ts
  lib/routes/joshwcomeau/popular.ts
  lib/routes/joshwcomeau/utils.ts
Labels: Auto: Route Test Complete, Route

#18407 fix(zaobao): remove google ads buttons
  lib/routes/zaobao/util.ts
Labels: Auto: Route Test Complete, Route

#18419 fix(patreon): fix empty image
  lib/routes/patreon/feed.ts
  lib/routes/patreon/templates/description.art
Labels: Auto: Route Test Complete, Route

#18428 fix(routes/huxiu/briefcolumn): fix when img is empty
  lib/routes/huxiu/util.ts
Labels: Auto: Route Test Complete, Route

#18367 fix(gcores): 机核网专题
  lib/routes/gcores/collection.ts
  lib/routes/gcores/collections.ts
Labels: Auto: Route Test Complete, Route

#18297 fix(gcores): 机核网分类
  lib/routes/gcores/categories.ts
  lib/routes/gcores/category.ts
Labels: Auto: Route Test Complete, Route

#18435 feat(route): add 中华人民共和国农业农村部国际合作司
  lib/routes/gov/moa/gjs.ts
Labels: Auto: Route Test Complete, Route

#18429 fix(route/2048): fix invalid fetch method
  lib/routes/2048/index.ts
Labels: Auto: Route Test Complete, Route

#18447 feat(route): add Andy Pavlo Blog
  lib/routes/cmu/andypavlo/blog.ts
  lib/routes/cmu/namespace.ts
Labels: Auto: Route Test Complete, Route

#18434 feat: add route ‘/gov/tianjin/tjftz-notice/channelId' 、‘/gov/tianjin/tjrcgzw-notice/:cate/:subCate'
  lib/routes/gov/tianjin/tjftz.ts
  lib/routes/gov/tianjin/tjrcgzw.ts
Labels: Auto: Route Test Complete, Route

#18449 feat(route): add League of Legends patch notes
  lib/routes/leagueoflegends/namespace.ts
  lib/routes/leagueoflegends/patch-notes.ts
Labels: Auto: Route Test Complete, Route

#18456 fix(spotify): filter removed episodes
  lib/routes/spotify/show.ts
Labels: Auto: Route Test Complete, Route

#18463 feat(route): add 西南交通大学
  lib/routes/swjtu/namespace.ts
  lib/routes/swjtu/scai.ts
  lib/routes/swjtu/sports.ts
Labels: Auto: Route Test Complete, Route

#18471 fix(route): theverge
  lib/routes/theverge/index.ts
  lib/routes/theverge/templates/header.art
Labels: Auto: Route Test Complete, Route

#18465 feat(route): add route "komiic"
  lib/routes/komiic/comic.ts
  lib/routes/komiic/namespace.ts
Labels: Auto: Route Test Complete, Route

#18470 feat(routes/wainao): add 歪脑主题
  lib/routes/wainao/templates/description.art
  lib/routes/wainao/topics.ts
Labels: Auto: Route Test Complete, Route

#18464 feat(route): add 中房网
  lib/routes/fangchan/list.ts
  lib/routes/fangchan/namespace.ts
  lib/routes/fangchan/templates/description.art
Labels: Auto: Route Test Complete, Route

#18472 fix(juejin/collections): filter out falsy values
  lib/routes/juejin/collections.ts
Labels: Auto: Route Test Complete, Route

#18326 fix(route/instructables): get api key from #js-page-context
  lib/routes/instructables/projects.ts
Labels: Auto: Route Test Complete, Route

#18479 feat(route): add news route for toranoana.jp
  lib/routes/toranoana/namespace.ts
  lib/routes/toranoana/news.ts
Labels: Auto: Route Test Complete, Route

#18480 fix(route/zaobao): handle JSON parsing with control characters
  lib/routes/zaobao/util.ts
Labels: Auto: Route Test Complete, Route
