Repository DIYgod/RSSHub, pull requests merged in 2025-06, with the labels that each got.

#19261 feat(cache): enhance tryGet method to support generic return types
  lib/utils/cache/index.ts
Labels: core enhancement, Auto: Route Test Skipped

#19259 feat: add route for everia.club
  lib/routes/everia/namespace.ts
  lib/routes/everia/tag.ts
Labels: Auto: Route Test Complete, Route

#19273 feat(konachan): add SFW option for konachan via /sfw prefix
  lib/routes/konachan/post.ts
Labels: Auto: Route Test Complete, Route

#19282 feat(route): add 国立健康危機管理研究機構感染症発生動向調査週報
  lib/routes/go/jihs/idwr.ts
  lib/routes/go/niid/idwr-dl.ts
Labels: Auto: Route Test Complete, Route

#19283 fix(route/radio): use new api
  lib/routes/radio/album.ts
  lib/routes/radio/templates/description.art
Labels: Auto: Route Test Complete, Route

#19050 feat(twitter): add option to number the medias
  lib/routes/twitter/namespace.ts
  lib/routes/twitter/utils.ts
Labels: auto: ready to review, route

#19290 feat(civitai): add user article
  lib/routes/civitai/user.ts
Labels: auto: ready to review, route

#19286 feat(route): add bfl.ai announcements feed
  lib/routes/bfl/announcements.ts
  lib/routes/bfl/namespace.ts
Labels: auto: ready to review, route

#19302 feat(xiaohongshu): update guid generation for user feeds and notes
  lib/routes/xiaohongshu/user.ts
  lib/routes/xiaohongshu/util.ts
Labels: auto: ready to review, route

#19303 fix(route/freewechat): add ua
  lib/routes/freewechat/profile.ts
Labels: auto: ready to review, route

#19304 feat(route): add chiphell
  lib/router.js
  lib/routes-deprecated/chiphell/forum.js
  lib/routes/chiphell/namespace.ts
  lib/routes/chiphell/portal.ts
Labels: auto: ready to review, route: deprecated, route

#19328 feat(route): 添加华为开发者联盟 HarmonyOS 示例代码路由
  lib/routes/huawei/developer/harmonyos/samplecode.ts
  lib/routes/huawei/namespace.ts
Labels: auto: ready to review, route

#19329 feat: add route smartlink.bio
  lib/routes/smartlink/index.ts
  lib/routes/smartlink/namespace.ts
Labels: auto: ready to review, route

#19182 feat(route/gmu): Add GMU routes
  lib/routes/gmu/namespace.ts
  lib/routes/gmu/news.ts
  lib/routes/gmu/yjs.ts
Labels: dependencies, auto: ready to review, route

#19311 feat(route): 添加北京邮电大学网安学院通知公告的路由
  lib/routes/bupt/scss.ts
Labels: auto: ready to review, route

#19331 fix(route/smartlink): Preserve queryparams for image URL to work in smartlink
  lib/routes/smartlink/index.ts
Labels: auto: ready to review, route

#19152 feat(route): add route aibase/daily
  lib/routes/aibase/daily.ts
  lib/routes/aibase/util.ts
Labels: auto: ready to review, route

#19356 feat(route): add android security bulletins
  lib/routes/android/security-bulletin.ts
Labels: auto: ready to review, route

#19380 feat(route): add njust/cs
  lib/routes/njust/cs.ts
Labels: auto: ready to review, route

#19359 feat(route): mixi2
  lib/config.ts
  lib/routes/mixi2/community.ts
  lib/routes/mixi2/discovery.ts
  lib/routes/mixi2/home.ts
  lib/routes/mixi2/namespace.ts
  lib/routes/mixi2/user.ts
  lib/routes/mixi2/utils.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, route

#19390 fix(route/tver): Fix route configuration and optimize image sizes
  lib/routes/tver/series.ts
Labels: auto: ready to review, route

#19401 fix(route/copymanga): fix comic
  lib/routes/copymanga/comic.ts
Labels: auto: ready to review, route

#19408 feat(route): add Windsurf Changelog
  lib/routes/windsurf/changelog.ts
  lib/routes/windsurf/namespace.ts
Labels: auto: ready to review, route

#19399 feat(route): add Augmentcode Blog
  lib/routes/augmentcode/blog.ts
  lib/routes/augmentcode/namespace.ts
  lib/routes/augmentcode/templates/description.art
Labels: auto: ready to review, route

#19412 feat(route): add Mastodon hashtag timeline
  lib/routes/mastodon/tag.ts
Labels: auto: ready to review, route

#19419 feat(route): add Windsurf Blog
  lib/routes/windsurf/blog.ts
  lib/routes/windsurf/templates/description.art
Labels: auto: ready to review, route

#19423 feat(route/sjtu): Add route for icisee
  lib/routes/sjtu/seiee/icisee.ts
Labels: auto: ready to review, route

#19428 fix(route/twitter): handle `timeline_v2` nested structure
  lib/routes/twitter/api/web-api/utils.ts
Labels: auto: route test bypassed, route

#19421 feat(route): add blogs from cockroach labs
  lib/routes/cockroachlabs/blog.ts
  lib/routes/cockroachlabs/namespace.ts
Labels: auto: ready to review, route

#19431 feat(route): add Chocolatey Packages
  lib/routes/chocolatey/namespace.ts
  lib/routes/chocolatey/packages.ts
Labels: auto: ready to review, route

#19445 fix: Update metacritic apiURL
  lib/routes/metacritic/index.ts
Labels: auto: ready to review, route

#19447 feat(route): add anthropic research
  lib/routes/anthropic/research.ts
Labels: auto: ready to review, route

#19458 fix: Guard against missing metacritic TV genre information
  lib/routes/metacritic/index.ts
Labels: auto: ready to review, route

#19478 fix(route): add pdf files of nidc papers
  lib/routes/nifd/research.ts
Labels: auto: ready to review, route

#19479 fix(route/sydwgkzp): 修复 重庆市人社局事业单位公开招聘 今年数据抓取异常
  lib/routes/gov/chongqing/sydwgkzp.ts
Labels: auto: ready to review, route

#19426 fix(route): update tournament name
  lib/routes/liquipedia/cs-matches.ts
Labels: auto: ready to review, route

#19489 feat(route/udn): Refine `author` property
  lib/routes/udn/breaking-news.ts
Labels: auto: ready to review, route

#19495 fix(route): update example path for user uploads
  lib/routes/makerworld/user-upload.ts
Labels: auto: ready to review, route
