Repository DIYgod/RSSHub, pull requests merged in 2025-09, with the labels that each got.

#19940 feat(route): add Koyso
  lib/routes/koyso/index.ts
  lib/routes/koyso/namespace.ts
  lib/routes/koyso/templates/description.art
Labels: auto: ready to review, route

#19953 feat(route): add 玩物志
  lib/routes/coolbuy/index.ts
  lib/routes/coolbuy/namespace.ts
  lib/routes/coolbuy/templates/description.art
Labels: auto: ready to review, route

#19930 fix(route): verge parse error
  lib/routes/theverge/index.ts
Labels: auto: ready to review, route

#19987 fix(route): radio-canada
  lib/routes/radio-canada/latest.ts
Labels: auto: ready to review, route

#19989 fix(vercel): sync export default hono app
  lib/server.ts
Labels: core enhancement, auto: route test bypassed

#19996 fix(route/ehentai): update thumbnail fetching and parsing logic
  lib/routes/ehentai/ehapi.ts
Labels: auto: ready to review, route

#20010 fix(route): 中华人民共和国交通运输部
  lib/routes/gov/mot/index.ts
Labels: auto: ready to review, route

#20015 fix(route/bilibili): check empty cid
  lib/routes/bilibili/cache.ts
Labels: route

#20027 fix(route/theverge): correct block type handling and improve rendering logic
  lib/routes/theverge/index.ts
Labels: auto: ready to review, route

#20052 fix(route/pubscholar): add x-finger
  lib/routes/pubscholar/utils.ts
Labels: auto: ready to review, route

#20048 feat(route): add 国家市场监督管理总局缺陷产品管理中心
  lib/routes/samrdprc/index.ts
  lib/routes/samrdprc/namespace.ts
Labels: auto: ready to review, route

#20062 feat(route/hupu)!: index support
  lib/routes/hupu/index.ts
  lib/routes/hupu/types.ts
Labels: auto: ready to review, route

#20046 feat(route): letterboxd watchlist
  lib/routes/letterboxd/index.ts
  lib/routes/letterboxd/namespace.ts
Labels: auto: ready to review, route

#20073 fix(itch): incorrect devlog authors
  lib/routes/itch/devlog.ts
Labels: auto: ready to review, route

#20076 fix(route/natgeo): filter out irrelevant items
  lib/routes/natgeo/natgeo.ts
Labels: auto: ready to review, route

#20074 feat(route): add google jules
  lib/routes/google/jules.ts
Labels: auto: ready to review, route

#20093 feat(route): add huijin news (中央汇金)
  lib/routes/huijin-inv/namespace.ts
  lib/routes/huijin-inv/news.ts
Labels: auto: ready to review, route

#20092 feat(route): add gdufs/xwxy News Center feed with categories and Radar
  lib/routes/gdufs/xwxy/index.ts
  lib/routes/gdufs/xwxy/xwxy-news.ts
Labels: auto: ready to review, route

#20100 feat(route): add Wikipedia current events
  lib/routes/wikipedia/current-events.ts
  lib/routes/wikipedia/namespace.ts
Labels: auto: ready to review, route

#20109 feat(route): add CrushNinja
  lib/routes/crush/index.ts
  lib/routes/crush/namespace.ts
Labels: auto: ready to review, route

#20115 feat(route/hit)!: remove jwc
  lib/routes/hit/jwc.ts
  lib/routes/hit/namespace.ts
Labels: auto: route test bypassed, route

#20116 fix(route): remove rich block
  lib/routes/techcrunch/news.ts
Labels: auto: ready to review, route

#20110 fix(route/yahoo): update ldJson extraction
  lib/routes/yahoo/news/utils.ts
Labels: auto: ready to review, route

#20127 fix(route/sspai/index): adapt to sspai morning news new design
  lib/routes/sspai/index.ts
Labels: auto: ready to review, route

#20135 feat: extract more chapters
  lib/routes/baozimh/index.ts
Labels: auto: ready to review, route

#20144 feat(route/naturalism): add what's new
  lib/routes/naturalism/namespace.ts
  lib/routes/naturalism/new.ts
Labels: auto: ready to review, route

#20174 feat: add cursor blog
  lib/routes/cursor/blog.ts
Labels: auto: ready to review, route

#20181 fix(route): correct broken links to investor.org.cn
  lib/routes/investor/index.ts
Labels: auto: ready to review, route

#20178 fix(route/udn/global): Update selectors and add category handling
  lib/routes/udn/global/index.ts
  lib/routes/udn/global/tag.ts
Labels: auto: ready to review, route

#20205 fix(route/anthropic): ensure news route includes article content
  lib/routes/anthropic/news.ts
Labels: auto: ready to review, route
