Repository DIYgod/RSSHub, pull requests merged in 2025-08, with the labels that each got.

#19717 fix(grist): payload changed
  lib/routes/grist/utils.ts
Labels: auto: ready to review, route

#19741 fix(route): fix /cursor/changelog route
  lib/routes/cursor/changelog.ts
  lib/routes/cursor/namespace.ts
Labels: auto: ready to review, route

#19739 feat(route): add 黑龙江大学
  lib/routes/hlju/namespace.ts
  lib/routes/hlju/news.ts
Labels: auto: ready to review, route

#19758 fix(route/zaobao): Misc refactor
  lib/routes/zaobao/util.ts
Labels: auto: ready to review, route

#19774 fix(route/sohu): add auth token
  lib/routes/sohu/mp.ts
Labels: auto: ready to review, route

#19727 feat(thewirehindi): add routes
  lib/routes/thewirehindi/category.ts
  lib/routes/thewirehindi/index.ts
  lib/routes/thewirehindi/namespace.ts
  lib/routes/thewirehindi/templates/description.art
  lib/routes/thewirehindi/utils.ts
Labels: auto: ready to review, route

#19775 fix(radar): correct target paths for coomer and kemono routes
  lib/routes/coomer/index.ts
  lib/routes/kemono/index.ts
Labels: auto: route test bypassed, route

#19770 feat(route/meteoblue): add namespace and weather news route
  lib/routes/meteoblue/namespace.ts
  lib/routes/meteoblue/weathernews.ts
Labels: auto: ready to review, route

#19737 feat(routes/neu): add yz route
  lib/routes/neu/yz.ts
Labels: auto: ready to review, route

#19795 feat: Add RSS feed for MIT HAN Lab Blog
  lib/routes/mit/hanlab.ts
  lib/routes/mit/namespace.ts
Labels: auto: ready to review, route

#19799 feat(route): add 四川人社厅人事考试专栏
  lib/routes/scpta/namespace.ts
  lib/routes/scpta/news.ts
Labels: auto: ready to review, route

#19792 feat(route): add jwb of dgut
  lib/routes/dgut/jwb.ts
  lib/routes/dgut/namespace.ts
Labels: auto: ready to review, route

#19782 feat(route/nio): add NIO Radio route
  lib/routes/nio/namespace.ts
  lib/routes/nio/nioradio.ts
Labels: auto: ready to review, route

#19833 fix(routes): update API path to fetch post data for coomer / kemono (close #19832)
  lib/routes/coomer/index.ts
  lib/routes/kemono/index.ts
Labels: auto: ready to review, route

#19811 fix(route/youtube): cache getSubtitles
  eslint.config.mjs
  lib/routes/youtube/api/youtubei.ts
  lib/routes/youtube/utils.ts
Labels: auto: ready to review, route

#19778 fix(route/setn): fix incorrect timezone & title & author
  lib/routes/setn/index.ts
Labels: auto: ready to review, route

#19842 feat(route): add commonhealth route
  lib/routes/commonhealth/index.ts
  lib/routes/commonhealth/namespace.ts
  lib/routes/commonhealth/templates/description.art
Labels: auto: ready to review, route

#19850 feat(route): add Gitstar Ranking
  lib/routes/gitstar-ranking/index.ts
  lib/routes/gitstar-ranking/namespace.ts
  lib/routes/gitstar-ranking/templates/description.art
Labels: auto: ready to review, route

#19877 feat(route/immich): add cursed knowledge
  lib/routes/immich/cursed-knowledge.ts
  lib/routes/immich/namespace.ts
Labels: auto: ready to review, route

#19867 feat(route): add 6v电影
  lib/routes/6v123/index.ts
  lib/routes/6v123/namespace.ts
Labels: auto: ready to review, route

#19858 feat(routes): Support fetching by different publication cycle and flitering by votes for Huggingfce papers.
  lib/routes/huggingface/daily-papers.ts
Labels: auto: ready to review, route

#19881 feat(route): add router for www.elecfans.com
  lib/routes/elecfans/article.ts
  lib/routes/elecfans/namespace.ts
  lib/routes/elecfans/soft.ts
Labels: auto: ready to review, route

#19896 feat(route): the gadget flow
  lib/routes/thegadgetflow/namespace.ts
  lib/routes/thegadgetflow/rss.ts
  lib/routes/thegadgetflow/templates/description.art
Labels: auto: ready to review, route

#19899 feat(route): add router for engineering.fyi
  lib/routes/engineering/namespace.ts
  lib/routes/engineering/tag.ts
Labels: auto: ready to review, route

#19912 fix(route/gnn): remove empty div, limit concurrency
  lib/routes/gamer/gnn-index.ts
Labels: auto: ready to review, route

#19916 fix(routes/lovelive-anime): correct relative img URL resolving
  lib/routes/lovelive-anime/topics.ts
Labels: auto: ready to review, route

#19929 fix: title selector
  lib/routes/natgeo/natgeo.ts
Labels: auto: ready to review, route

#19931 fix(route): remove useless encodeURIComponent
  lib/routes/bilibili/cache.ts
  lib/routes/youtube/api/youtubei.ts
Labels: auto: route test bypassed, route

#19900 feat(zaobao): replace art template with hono jsx
  lib/routes/zaobao/interactive.ts
  lib/routes/zaobao/other.ts
  lib/routes/zaobao/realtime.ts
  lib/routes/zaobao/templates/zaobao.art
  lib/routes/zaobao/util.ts
  lib/routes/zaobao/util.tsx
  lib/routes/zaobao/zaobao.tsx
  lib/routes/zaobao/znews.ts
Labels: auto: ready to review, route

#19007 feat(route): add eventbrite
  lib/routes/eventbrite/events.ts
  lib/routes/eventbrite/namespace.ts
Labels: route, auto: not ready to review

#19934 feat(route): add 中华人民共和国国家应急管理部信息公开
  lib/routes/gov/mem/namespace.ts
  lib/routes/gov/mem/zfxxgkpt.ts
Labels: auto: ready to review, route

#19935 fix(route/youtube): fix community post url
  lib/routes/youtube/community.ts
Labels: auto: ready to review, route

#19937 fix(route/apple): fix paid podcast retrieval
  lib/routes/apple/podcast.ts
Labels: auto: ready to review, route

#19915 fix(route): title and pubDate not found issue
  lib/routes/anthropic/news.ts
Labels: auto: ready to review, route

#19938 feat(route): add Niconico Mylist
  lib/routes/nicovideo/mylist.ts
  lib/routes/nicovideo/types.ts
  lib/routes/nicovideo/utils.ts
Labels: auto: ready to review, route
