Repository DIYgod/RSSHub, pull requests merged in 2025-01, with the labels that each got.

#18012 feat(route): switch to ofetch for API calls
  lib/routes/chongdiantou/index.ts
Labels: Auto: Route Test Complete, Route

#18016 feat(route): 添加北师大-教育学部-培养动态
  lib/routes/bnu/fe.ts
Labels: Auto: Route Test Complete, Route

#18025 fix(youtube): check if username exists
  lib/routes/youtube/user.ts
Labels: Auto: Route Test Complete, Route

#18026 fix(gameapps): fix title
  lib/routes/gameapps/index.ts
Labels: Auto: Route Test Complete, Route

#18024 feat(route): add 爱范儿快讯
  lib/router.js
  lib/routes-deprecated/ifanr/index.js
  lib/routes/ifanr/digest.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#18029 feat(hiringcafe): add new payload params
  lib/routes/hiring.cafe/jobs.ts
Labels: Auto: Route Test Complete, Route

#18017 feat(route): fix images not displaying in msn news full text
  lib/routes/msn/index.ts
Labels: Auto: Route Test Complete, Route

#18042 feat(route): add 开源中国专栏
  lib/routes/oschina/column.ts
  lib/routes/oschina/namespace.ts
  lib/routes/oschina/templates/description.art
Labels: Auto: Route Test Complete, Route

#18041 feat: add CATTI feed (全国翻译专业资格水平考试)
  lib/routes/catti/namespace.ts
  lib/routes/catti/news.ts
Labels: Auto: Route Test Complete, Route

#18037 feat: add feed for ruankao(中国计算机职业技术资格考试) website.
  lib/routes/ruankao/namespace.ts
  lib/routes/ruankao/news.ts
Labels: Auto: Route Test Complete, Route

#18036 feat: Add pacilution.com (普世社会科学研究所) router
  lib/routes/pacilution/latest.ts
  lib/routes/pacilution/namespace.ts
Labels: Auto: Route Test Complete, Route

#18043 fix(types): add logo and icon properties and change language type
  lib/types.ts
Labels: core enhancement, Auto: Route Test Skipped

#18030 feat(add route): VisionIAS route for daily news
  lib/routes/visionias/namespace.ts
  lib/routes/visionias/news-today.ts
  lib/routes/visionias/templates/description-sub.art
  lib/routes/visionias/templates/description.art
  lib/routes/visionias/utils.ts
  lib/routes/visionias/weekly-focus.ts
Labels: Auto: Route Test Complete, Route

#18023 fix(Finology): fixed Finology routes to new standards
  lib/routes/dlnews/category.ts
  lib/routes/finology/bullets.ts
  lib/routes/finology/category.ts
  lib/routes/finology/most-viewed.ts
  lib/routes/finology/tag.ts
  lib/routes/finology/utils.ts
Labels: Auto: Route Test Complete, Route

#18046 feat(route): add hdu/auto
  lib/routes/hdu/auto/graduate.ts
  lib/routes/hdu/auto/notice.ts
  lib/routes/hdu/auto/student.ts
  lib/routes/hdu/auto/undergraduate.ts
  lib/routes/hdu/auto/utils.ts
  lib/routes/hdu/namespace.ts
Labels: Auto: Route Test Complete, Route

#17941 feat(route): Add New Route for UPS Tracking
  lib/routes/ups/namespace.ts
  lib/routes/ups/track.ts
Labels: Auto: Route Test Complete, Route

#18045 feat: Added Route for 30secondsofcode
  lib/routes/30secondsofcode/category.ts
  lib/routes/30secondsofcode/namespace.ts
  lib/routes/30secondsofcode/new-and-popular.ts
  lib/routes/30secondsofcode/utils.ts
Labels: Auto: Route Test Complete, Route

#18049 fix: Fixed the issue of being blocked by the website due to excessive…
  lib/routes/agefans/update.ts
Labels: Auto: Route Test Complete, Route

#18048 feat(route): add 21财经频道
  lib/router.js
  lib/routes-deprecated/21caijing/channel.js
  lib/routes/21caijing/channel.ts
  lib/routes/21caijing/namespace.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#18044 feat(add route): Add steam curator reviews route
  lib/routes/steam/curator.ts
  lib/routes/steam/templates/curator-description.art
Labels: Auto: Route Test Complete, Route

#18059 feat(route): add 中债资信评估有限责任公司中债研究
  lib/routes/chinaratings/credit-research.ts
  lib/routes/chinaratings/namespace.ts
Labels: Auto: Route Test Complete, Route

#18051 refactor(routes): hdu/auto use user input
  lib/routes/hdu/auto/graduate.ts
  lib/routes/hdu/auto/notice.ts
  lib/routes/hdu/auto/student.ts
  lib/routes/hdu/auto/undergraduate.ts
Labels: Auto: Route Test Complete, Route

#18039 feat(route): Add feed for sciencedirect call for paper
  lib/routes/sciencedirect/call-for-paper.ts
  lib/routes/sciencedirect/templates/description.art
Labels: Auto: Route Test Complete, Route

#18082 feat(route): add route for university: CTBU XXGG
  lib/routes/ctbu/namespace.ts
  lib/routes/ctbu/xxgg.ts
Labels: Auto: Route Test Complete, Route

#18081 fix(route): Microsoft Artifact Registry route
  lib/routes/microsoft/mcr.ts
Labels: Auto: Route Test Complete, Route

#17977 feat(route): add iknowwhatyoudownload daily stats
  lib/routes/iknowwhatyoudownload/daily.ts
  lib/routes/iknowwhatyoudownload/namespace.ts
  lib/routes/iknowwhatyoudownload/templates/daily.art
Labels: Auto: Route Test Complete, Route

#18068 feat(route): Add genossenschaften.immo
  lib/routes/genossenschaften/index.ts
  lib/routes/genossenschaften/namespace.ts
Labels: Auto: Route Test Complete, Route

#18072 refactor: add more languages to language type from rssboard.org/rss-language-codes
  lib/types.ts
Labels: core enhancement, Auto: Route Test Skipped

#18099 fix(route/egsea): 修复e快选链接不正确
  lib/routes/egsea/flash.ts
Labels: Auto: Route Test Complete, Route

#18058 feat(route): add blizzard/news-cn route
  lib/routes/blizzard/news-cn.ts
Labels: Auto: Route Test Complete, Route

#18104 feat(misskey): add avatar to user timeline
  lib/routes/misskey/types.ts
  lib/routes/misskey/user-timeline.ts
  lib/routes/misskey/utils.ts
Labels: Auto: Route Test Complete, Route

#18095 feat(route): remove watasuke.net
  lib/routes/watasuke/blog.ts
  lib/routes/watasuke/namespace.ts
Labels: Auto: Route Test Skipped, Route

#18107 feat(route): add 联合资信评估股份有限公司研究报告
  lib/routes/lhratings/namespace.ts
  lib/routes/lhratings/research.ts
Labels: Auto: Route Test Complete, Route

#18100 feat(route): add 英雄联盟新闻
  lib/router.js
  lib/routes-deprecated/lol/newsindex.js
  lib/routes/qq/lol/news.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route

#18103 fix(route/taoguba): 修复淘股吧更换域名以及修改获取帖子详情结构
  lib/routes/taoguba/blog.ts
  lib/routes/taoguba/index.ts
  lib/routes/taoguba/namespace.ts
  lib/routes/taoguba/util.ts
Labels: Auto: Route Test Complete, Route

#18085 feat(route): add Osu! Latest Ranked Beatmaps
  lib/routes/osu/beatmaps/latest-ranked.ts
  lib/routes/osu/beatmaps/templates/beatmapset.art
Labels: Auto: Route Test Complete, Route

#18110 fix(routes/google/research): add description
  lib/routes/google/research.ts
Labels: Auto: Route Test Complete, Route

#18112 fix(routes/hrbust/news): fix docs and logical problem
  lib/routes/hrbust/news.ts
Labels: Auto: Route Test Complete, Route

#18113 fix(route/zsxq): 为主题添加跳转链接
  lib/routes/zsxq/utils.ts
Labels: Auto: Route Test Skipped, Route

#18111 refactor(routes/hrbust/jwzx): refactor jwzx to adapt new route standard
  lib/routes/hrbust/jwzx.ts
  lib/routes/hrbust/templates/description.art
  lib/routes/hrbust/utils.ts
Labels: Auto: Route Test Complete, Route

#18097 feat: add router for CPTA(中国人事考试网)
  lib/routes/cpta/handler.ts
  lib/routes/cpta/namespace.ts
Labels: Auto: Route Test Complete, Route

#18106 fix(route/apnews): Add throttle to topics.
  lib/routes/apnews/topics.ts
Labels: Auto: Route Test Complete, Route

#18125 fix(missav): new domain
  lib/routes/missav/namespace.ts
  lib/routes/missav/new.ts
Labels: Auto: Route Test Complete, Route

#18094 feat(route): add Scientific American Podcasts
  lib/routes/scientificamerican/namespace.ts
  lib/routes/scientificamerican/podcast.ts
  lib/routes/scientificamerican/templates/description.art
Labels: Auto: Route Test Complete, Route

#18127 fix(route): juejin post
  lib/routes/juejin/books.ts
  lib/routes/juejin/category.ts
  lib/routes/juejin/collection.ts
  lib/routes/juejin/collections.ts
  lib/routes/juejin/column.ts
  lib/routes/juejin/dynamic.ts
  lib/routes/juejin/pins.ts
  lib/routes/juejin/posts.ts
  lib/routes/juejin/tag.ts
  lib/routes/juejin/trending.ts
  lib/routes/juejin/types.ts
  lib/routes/juejin/utils.ts
Labels: Auto: Route Test Complete, Route

#18126 feat(route): add 厦门大学经济学院科研动态
  lib/routes/xmu/kydt.ts
  lib/routes/xmu/namespace.ts
Labels: Auto: Route Test Complete, Route

#18128 feat(route): add 图书馆通知公告
  lib/routes/tsinghua/lib/tzgg.ts
Labels: Auto: Route Test Complete, Route

#18135 fix(routes/hrbust): fix docs and radar rule
  lib/routes/hrbust/jwzx.ts
  lib/routes/hrbust/news.ts
Labels: Auto: Route Test Skipped, Route

#18152 fix(route): 遊戲基地新聞
  lib/routes/gamebase/news.ts
  lib/routes/gamebase/templates/description.art
Labels: Auto: Route Test Complete, Route

#18155 feat(route): 新增铅笔道文章列表
  lib/routes/pencilnews/index.ts
  lib/routes/pencilnews/namespace.ts
Labels: Auto: Route Test Complete, Route

#18165 fix(typo|routes/hrbust): fix docs and description
  lib/routes/hrbust/jwzx.ts
  lib/routes/hrbust/news.ts
Labels: Auto: Route Test Skipped, Route

#18181 fix(routes/qstheory/magazine): adapt to origin site changed
  lib/routes/qstheory/magazine.ts
Labels: Auto: Route Test Complete, Route

#18171 feat(route): add 中国五矿化工进出口商会
  lib/routes/cccmc/index.ts
  lib/routes/cccmc/namespace.ts
Labels: Auto: Route Test Complete, Route

#18166 feat(route): add 开源中国活动
  lib/routes/oschina/event.ts
  lib/routes/oschina/templates/description.art
Labels: Auto: Route Test Complete, Route

#18148 feat(route/geocaching): add lang param, update response structure
  lib/routes/geocaching/blogs.ts
  lib/routes/geocaching/templates/blogs.art
Labels: Auto: Route Test Complete, Route

#18183 fix(routes/bilibili/user-collection): user new api host
  lib/routes/bilibili/user-collection.ts
Labels: Auto: Route Test Complete, Route

#18173 feat(route): 新增钛媒体快报
  lib/routes/tmtpost/namespace.ts
  lib/routes/tmtpost/nictation.ts
Labels: Auto: Route Test Complete, Route

#18180 feat(routes/hrbust/news): add support for more column
  lib/routes/hrbust/news.ts
Labels: Auto: Route Test Complete, Route

#18160 fix(route/ruankao): Remove font presetting and other details.
  lib/routes/ruankao/news.ts
Labels: Auto: Route Test Complete, Route

#18151 feat(route/txks): add www.txks.org.cn (工信部全国通信专业技术人员职业水平考试)
  lib/routes/txks/namespace.ts
  lib/routes/txks/news.ts
Labels: Auto: Route Test Complete, Route

#18184 feat(routes/hrbust/nic): add route '哈尔滨理工大学网络信息中心'
  lib/routes/hrbust/nic.ts
Labels: Auto: Route Test Complete, Route

#18185 fix(routes/whitehouse): new theme
  lib/routes/whitehouse/briefing-room.ts
  lib/routes/whitehouse/news.ts
  lib/routes/whitehouse/ostp.ts
Labels: Auto: Route Test Complete, Route

#18192 feat(routes/ce/district): add route '中国经济网地方经济'
  lib/routes/ce/district.ts
  lib/routes/ce/namespace.ts
Labels: Auto: Route Test Complete, Route

#18188 feat(route): add 東森新聞 ebc route
  lib/routes/ebc/namespace.ts
  lib/routes/ebc/realtime.ts
Labels: Auto: Route Test Complete, Route

#18215 fix(routes/nhk/news): fix `\n` not totally replaced to `<br>`
  lib/routes/nhk/news.ts
Labels: Auto: Route Test Complete, Route

#18216 feat(route): add 蓝点网资讯
  lib/routes/landiannews/index.ts
  lib/routes/landiannews/namespace.ts
  lib/routes/landiannews/templates/description.art
Labels: Auto: Route Test Complete, Route

#18210 fix(route): 日本语能力测试JLPT通知
  lib/routes/neea/jlpt.ts
  lib/routes/neea/namespace.ts
Labels: Auto: Route Test Complete, Route

#18200 feat(route): add 电影天堂
  lib/routes/dytt/index.ts
  lib/routes/dytt/namespace.ts
Labels: Auto: Route Test Complete, Route

#18221 fix(route): 2048 jump logic
  lib/routes/2048/index.ts
Labels: Auto: Route Test Complete, Route

#18217 feat(route): add route "CosplayTele"
  lib/routes/cosplaytele/article.ts
  lib/routes/cosplaytele/category.ts
  lib/routes/cosplaytele/const.ts
  lib/routes/cosplaytele/latest.ts
  lib/routes/cosplaytele/namespace.ts
  lib/routes/cosplaytele/popular.ts
  lib/routes/cosplaytele/tag.ts
  lib/routes/cosplaytele/types.ts
Labels: Auto: Route Test Complete, Route

#18218 feat(route): add route "4KUP"
  lib/routes/4kup/article.ts
  lib/routes/4kup/category.ts
  lib/routes/4kup/const.ts
  lib/routes/4kup/latest.ts
  lib/routes/4kup/namespace.ts
  lib/routes/4kup/popular.ts
  lib/routes/4kup/tag.ts
  lib/routes/4kup/types.ts
Labels: Auto: Route Test Complete, Route

#18220 feat(route): add 机核网资讯
  lib/routes/gcores/namespace.ts
  lib/routes/gcores/news.ts
  lib/routes/gcores/templates/description.art
  lib/routes/gcores/util.ts
Labels: Auto: Route Test Complete, Route

#18231 feat(routes): 增加对标签关注的处理逻辑
  lib/routes/juejin/dynamic.ts
Labels: Auto: Route Test Complete, Route

#18252 fix(routes/bilibili/user/collection): fix embed param not correct handle
  lib/routes/bilibili/user-collection.ts
Labels: Auto: Route Test Complete, Route
