Repository DIYgod/RSSHub, pull requests merged in 2025-05, with the labels that each got.

#18987 fix(route/imhcg): 修复
  lib/routes/imhcg/blog.ts
Labels: Auto: Route Test Complete, Route

#18988 fix(route/4khd): Update domain
  lib/routes/4khd/namespace.ts
Labels: Auto: Route Test Complete, Route

#18995 fix(route): update previews route to support current month preview
  lib/routes/hanime1/previews.ts
Labels: Auto: Route Test Complete, Route

#18992 feat(route): add search route for Hanime1
  lib/routes/hanime1/search.ts
Labels: Auto: Route Test Complete, Route

#18997 fix(route): enhance search route parameter descriptions
  lib/routes/hanime1/search.ts
Labels: Route

#18998 fix(route/picnob): update picnob domain
  lib/routes/picnob/user.ts
Labels: Auto: Route Test Complete, Route

#19002 fix(route/jpxgmn): get source url automatically
  lib/routes/jpxgmn/search.ts
  lib/routes/jpxgmn/tab.ts
  lib/routes/jpxgmn/utils.ts
  lib/routes/jpxgmn/weekly.ts
Labels: Route

#19023 fix(utils/common-config): import parseDate and timezone functions for…
  lib/routes/jewishmuseum/exhibitions.ts
  lib/setup.test.ts
  lib/utils/common-config.test.ts
  lib/utils/common-config.ts
Labels: core enhancement, Auto: Route Test Complete, Route

#19009 fix(route/hpoi/info): 更新了页面解析逻辑
  lib/routes/hpoi/info.ts
Labels: Auto: Route Test Complete, Route

#18985 fix(route/cool18): switch puppeteer content fetching due to HTML bein…
  lib/routes/cool18/index.ts
Labels: Auto: Route Test Complete, Route

#19033 fix(route/udn): Correct regex
  lib/routes/udn/breaking-news.ts
Labels: Auto: Route Test Complete, Route

#18955 fix: 调整/crac/exam路由description字段内容
  lib/routes/crac/exam.ts
  lib/routes/crac/index.ts
  lib/routes/crac/namespace.ts
  lib/routes/crac/templates/exam.art
Labels: Auto: Route Test Complete, Route

#19043 feat(route): add community blogs for huggingface
  lib/routes/huggingface/blog-community.ts
Labels: Auto: Route Test Complete, Route

#19044 feat(zaimanhua): add route for recent comics zaimanhua
  lib/routes/zaimanhua/namespace.ts
  lib/routes/zaimanhua/update.ts
Labels: Auto: Route Test Complete, Route

#19032 feat(route): add Amazfitwatchfaces
  lib/routes/amazfitwatchfaces/index.ts
  lib/routes/amazfitwatchfaces/namespace.ts
  lib/routes/amazfitwatchfaces/templates/description.art
Labels: Auto: Route Test Complete, Route

#19058 fix(route/bilibili/video): fallback to dynamic api
  lib/routes/bilibili/utils.ts
  lib/routes/bilibili/video.ts
Labels: Auto: Route Test Complete, Route

#19059 fix(route/rfi): fix category
  lib/routes/rfi/namespace.ts
  lib/routes/rfi/news.ts
Labels: Auto: Route Test Complete, Route

#18974 fix: /flyert/creditcard 493错误
  lib/routes/flyert/creditcard.ts
  lib/routes/flyert/namespace.ts
  lib/routes/flyert/utils.ts
Labels: dependencies, Auto: Route Test Complete, Route

#19060 feat: add updated to linkedin company post items
  lib/routes/linkedin/posts.ts
Labels: Auto: Route Test Complete, Route

#19070 feat(route/anthropic): add engineering
  lib/routes/anthropic/engineering.ts
Labels: Auto: Route Test Complete, Route

#19072 feat(route): add 虫部落
  lib/routes/chongbuluo/index.ts
  lib/routes/chongbuluo/namespace.ts
Labels: Auto: Route Test Complete, Route

#19075 feat(route/zhihu): require ZHIHU_COOKIES for authentication
  lib/routes/zhihu/hot.ts
Labels: Auto: Route Test Complete, Route

#19077 fix(route/ntdm): fix code issue for ntdm route
  lib/routes/ntdm/video.ts
Labels: Auto: Route Test Complete, Route

#19086 fix(route/theinitium): fix footer
  lib/routes/theinitium/app.ts
  lib/routes/theinitium/templates/description.art
Labels: Auto: Route Test Complete, Route

#19080 feat(route/bbc): support BBC Learningenglish chinese channel
  lib/routes/bbc/learningenglish.ts
Labels: Auto: Route Test Complete, Route

#19087 feat(route): add specific comic update route
  lib/routes/zaimanhua/comic.ts
  lib/routes/zaimanhua/template/comic.art
Labels: Auto: Route Test Complete, Route

#19084 feat(route): add National Museum of China
  lib/routes/chnmuseum/namespace.ts
  lib/routes/chnmuseum/xingnew.ts
  lib/routes/chnmuseum/xwzt.ts
Labels: Auto: Route Test Complete, Route

#19107 fix(route/unusualwhales): update api endpoint
  lib/routes/unusualwhales/news.ts
Labels: Auto: Route Test Complete, Route

#19088 feat(route): add AppSales
  lib/routes/app-sales/index.ts
  lib/routes/app-sales/mostwanted.ts
  lib/routes/app-sales/namespace.ts
  lib/routes/app-sales/templates/description.art
  lib/routes/app-sales/util.ts
Labels: Auto: Route Test Complete, Route

#19108 fix(route/mihoyo/ys): update api endpoint
  lib/routes/mihoyo/templates/ys.art
  lib/routes/mihoyo/ys/news.ts
Labels: Auto: Route Test Complete, Route

#19114 feat(route/cih-index): add report
  lib/routes/cih-index/namespace.ts
  lib/routes/cih-index/report.ts
Labels: Auto: Route Test Complete, Route

#19117 fix(route/embassy/de): Update the link of the embassy/de
  lib/routes/embassy/supported-list.ts
Labels: Auto: Route Test Complete, Route

#19131 fix(route/kurogames): handle unavailable article content property
  lib/routes/kurogames/wutheringwaves/constants.ts
  lib/routes/kurogames/wutheringwaves/news.ts
Labels: Auto: Route Test Complete, Route

#19133 fix(route/3dmgame): fix route error
  lib/routes/3dmgame/news-center.ts
Labels: Auto: Route Test Complete, Route

#19005 feat(route): add bakamh
  lib/routes/bakamh/manga.ts
  lib/routes/bakamh/namespace.ts
Labels: Auto: Route Test Complete, Route

#19135 fix(xiaohongshu): 修复小红书 title/updated 字段在部分情况下缺失
  lib/routes/xiaohongshu/util.ts
Labels: Auto: Route Test Complete, Route

#19134 fix(route/xiaoyuzhou/podcast): missing description
  lib/routes/xiaoyuzhou/podcast.ts
Labels: Auto: Route Test Complete, Route

#19148 feat(route/tailwindcss): add tailwindcss blog route
  lib/routes/tailwindcss/blog.ts
  lib/routes/tailwindcss/constants.ts
  lib/routes/tailwindcss/namespace.ts
  lib/routes/tailwindcss/utils.ts
Labels: Auto: Route Test Complete, Route

#19166 fix(xiaohongshu): 移除多余的 title
  lib/routes/xiaohongshu/util.ts
Labels: Auto: Route Test Complete, Route

#19164 fix(route/cngal): update API endpoint in CnGal
  lib/routes/cngal/entry.ts
  lib/routes/cngal/weekly.ts
  lib/routes/ff14/ff14-global.ts
Labels: Auto: Route Test Complete, Route

#19167 fix: video poster syntax in hupu template
  lib/routes/hupu/templates/description.art
Labels: Auto: Route Test Complete

#19151 feat(route/warp): add warp blog route
  lib/routes/warp/blog.ts
  lib/routes/warp/namespace.ts
Labels: Auto: Route Test Complete, Route

#19149 feat(route/visualstudio/code): add Visual Studio Code blog route
  lib/routes/visualstudio/code-blog.ts
  lib/routes/visualstudio/namespace.ts
Labels: Auto: Route Test Complete, Route

#19162 fix(route/xiaoyuzhou): bring HTML description back
  lib/routes/xiaoyuzhou/podcast.ts
Labels: Auto: Route Test Complete, Route

#19165 feat(route): add Apple Security releases
  lib/routes/apple/security-releases.ts
  lib/routes/apple/templates/security-releases.art
Labels: Auto: Route Test Complete, Route

#19179 fix(route/chub): Update api url
  lib/routes/chub/characters.ts
Labels: Auto: Route Test Complete, Route

#19185 fix(route/youtube/community): handle empty post title
  lib/routes/youtube/community.ts
Labels: Auto: Route Test Complete, Route

#19186 fix(patches): add patches for bbob dependencies
  package.json
  patches/@bbob__core@4.2.0.patch
  patches/@bbob__parser@4.2.0.patch
  patches/@bbob__plugin-helper@4.2.0.patch
  patches/@bbob__preset-html5@4.2.0.patch
  patches/@bbob__preset@4.2.0.patch
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete

#19193 fix(route/xjtu/ee): fix duplicate title and add appendix content
  lib/routes/xjtu/ee-jzxx.ts
Labels: Auto: Route Test Complete, Route

#19187 feat(route): add 猿料社区
  lib/routes/yuanliao/index.ts
  lib/routes/yuanliao/namespace.ts
Labels: Auto: Route Test Complete, Route

#19189 feat(route/steam/news): update BBCode rendering to match the official feed
  lib/routes/steam/news.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, Auto: Route Test Complete, Route

#19206 fix(route/steam/news): fix wrong item images & YouTube full screen
  lib/routes/steam/news.ts
Labels: Auto: Route Test Complete, Route

#19207 fix(route): clean up
  lib/routes/picnob/user.ts
Labels: Auto: Route Test Complete, Route

#19209 feat: api route
  lib/middleware/template.test.ts
  lib/middleware/template.tsx
  lib/registry.ts
  lib/routes/test/api-index.ts
  lib/routes/xiaohongshu/check-cookie.ts
  lib/routes/xiaohongshu/user.ts
  lib/routes/xiaohongshu/util.ts
  lib/types.ts
  scripts/workflow/build-routes.ts
Labels: core enhancement, Auto: Route Test Skipped, Route

#19074 fix(route/thepaper): enhance pubDate handling with relative date parsing
  lib/routes/thepaper/utils.ts
Labels: Auto: Route Test Complete, Route

#19190 fix(route/kemono): improve JSON field parsing with nested string handling
  lib/routes/kemono/const.ts
  lib/routes/kemono/index.ts
  lib/routes/kemono/types.ts
Labels: Auto: Route Test Complete, Route

#19183 fix: repair some zhihu routes
  lib/routes/zhihu/all-collections.ts
  lib/routes/zhihu/collection.ts
  lib/routes/zhihu/topic.ts
  lib/routes/zhihu/zhuanlan.ts
Labels: Auto: Route Test Complete, Route

#19214 feat(route/picuki): update for tiktok
  lib/routes/picuki/namespace.ts
  lib/routes/picuki/profile.ts
  lib/routes/picuki/utils.ts
Labels: Auto: Route Test Complete, Route

#19229 fix(route/stheadline): Adapt to website redirect
  lib/routes/stheadline/std/realtime.ts
Labels: Auto: Route Test Complete, Route

#19245 feat(route): add hedwig.pub
  lib/router.js
  lib/routes-deprecated/blogs/hedwig.js
  lib/routes/hedwig/namespace.ts
  lib/routes/hedwig/posts.ts
Labels: Auto: Route Test Complete, Route: deprecated, Route
